{
  "id": "<< id_prefix >>-health-system-duty-board",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> system duty board",
  "rows": [
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: CPU usage, [cores] (total)",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-cpu-cores-total",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: CPU usage, [cores]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-cpu-cores",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: CPU steal time, [ms]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-cpu-steal",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: CPU iowait time, [ms]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-cpu-iowait",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: mem total, [GiB]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-mem-total",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Mem by host, [GiB]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-mem",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk reads, [count]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-reads",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk reads, [bytes]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-read-bytes",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk writes, [count]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-writes",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk writess, [bytes]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-write-bytes",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk used, [bytes]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-used",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
    {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk free /media/yc, [%]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-free-prc-media",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: Disk free /var/log, [%]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&graph=<< id_prefix >>-<< svc >>-hosts-disk-free-prc-log",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: TxBytes, [bytes]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&l.path=%2FNet%2FIfs%2FTxBytes&l.intf=eth0&graph=auto&hideNoData=true",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
            {% for svc in g.env_ctx.srch_service %}
            {
              "title": "<< svc >> Hosts: TxPackets, [count]",
              "url": "?project=<< project_id >>&cluster=<< (svc|resolve)["cluster"] >>&service=system&l.path=%2FNet%2FIfs%2FTxPackets&l.intf=eth0&graph=auto&hideNoData=true",
              "colspan": 1,
              "rowspan": 1
            }
            {% if not loop.last %}
            ,
            {%-endif-%}
            {%- endfor -%}
        ]
    },
      {
        "panels": [
              {
                "type": "MARKDOWN",
                "title": "",
                "markdown": "{% include "dashboards/cloud-search/footer" %}",
                "rowspan": 1,
                "colspan": 1
              }
        ]
    },
  {
     "panels":[{
              "title": "WARNs & CRITs",
              "url": "https://juggler.yandex-team.ru/aggregate_checks/?query=namespace%3Dycsearch%20%26%20tag%3D<< juggler.get('tag')>>&statuses=CRIT%2CWARN&iframe=true",
              "colspan": 3,
              "rowspan": 2
            }
     ]
  }
  ],
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "heightMultiplier": "1"
}
