{
  "id": "<< id_prefix >>-health-duty-board",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> duty board",
  "rows": [
    {
        "panels": [
            {
              "title": "Proxy response codes",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-codes&scale=log",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Proxy response 400-498 by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-codes-400-498-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Proxy response 499 by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-codes-499-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Proxy response 5xx by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-codes-5xx-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Proxy timings",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-timings",
              "colspan": 1,
              "rowspan": 1
            }
        ]
    },
    {
        "panels": [
            {
              "title": "Marketplace response codes",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-marketplace-codes&scale=log",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Marketplace response 400-498 by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-marketplace-codes-400-498-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Marketplace response 499 by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-marketplace-codes-499-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Marketplace response 5xx by AZ",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-marketplace-codes-5xx-az",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "CPU usage",
              "url": "?project=<< project_id >>&graph=<< id_prefix >>-process-cpu-usage",
              "colspan": 1,
              "rowspan": 1
            }
        ]
    },
    {
        "panels": [
            {
              "title": "Lucene indexation",
              "url": "?cluster=<< backend.get("cluster") >>&project=<< project_id >>&service=<< backend.get("service") >>&graph=<< id_prefix >>-lucene-indexation-codes&scale=log",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Proxy Connections",
              "url": "?cluster=<< proxy.get("cluster") >>&project=<< project_id >>&service=<< proxy.get("service") >>&graph=<< id_prefix >>-proxy-connections",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Indexer codes (LB -> Indexer)",
              "url": "?cluster=<< indexer.get("cluster") >>&project=<< project_id >>&service=<< indexer.get("service") >>&graph=<< id_prefix >>-indexer-codes&scale=log",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Count of docs in the Index",
              "url": "?cluster=<< backend.get("cluster") >>&project=<< project_id >>&service=<< backend.get("service") >>&graph=<< id_prefix >>-lucene-numdocs",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Indexed by host [docs/sec]",
              "url": "?cluster=<< indexer.get("cluster") >>&project=<< project_id >>&service=<< backend.get("service") >>&graph=<< id_prefix >>-indexer-docs-per-host",
              "colspan": 1,
              "rowspan": 1
            }
         ]
    },
    {
        "panels": [
            {
              "title": "Indexed marketplace by host [docs/sec]",
              "url": "?cluster=<< indexer.get("cluster") >>&project=<< project_id >>&service=<< backend.get("service") >>&graph=<< id_prefix >>-indexer-marketplace-docs-per-host",
              "colspan": 1,
              "rowspan": 1
            }
        
    {%- for svc in g.env_ctx.cloud_service -%}
      {%- if loop.index % 5 == 0 and not loop.last -%}
        ]}
        ,
      {%- endif -%}
      {%- if loop.index % 5 == 0 -%}
        { "panels": [
      {%- endif -%}
      {%- if (not loop.last and loop.index % 5 != 0) or loop.last -%}
      ,
      {%- endif -%}
        {
           "title": "Indexation << svc >> docs/sec",
           "url":"?cluster=<< indexer.get("cluster") >>&project=<< project_id >>&service=<< indexer.get("service") >>&graph=<< id_prefix >>-indexer-docs-<< svc >>&scale=log",
           "colspan": 1,
           "rowspan": 1
        }
      {%- if loop.last -%}
        ]}
      {%- endif -%}
    {%- endfor -%}
  ,
        {
        "panels": [
              {
                "type": "MARKDOWN",
                "title": "",
                "markdown": "{% include "dashboards/cloud-search/footer" %}",
                "rowspan": 1,
                "colspan": 1
              }
        ]
    },
  {
     "panels":[{
              "title": "WARNs & CRITs",
              "url": "https://juggler.yandex-team.ru/aggregate_checks/?query=namespace%3Dycsearch%20%26%20tag%3D<< juggler.get('tag')>>&statuses=CRIT%2CWARN&iframe=true",
              "colspan": 5,
              "rowspan": 2
            }
     ]
  }
  ],
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "heightMultiplier": "1"
}
