{
  "id": "mdb-internal-api-http-query-timings",
  "projectId": "{{projectId}}",
  "name": "MDB Internal API: HTTP timings",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< py_int_api.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< py_int_api.get("service") >>"
    }
  ],
  "elements": [
    {
      "title": "0-100ms",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "(sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_timings_less_100_dmmm\"}) by sensor) / (sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_count_dmmm\"}) by sensor) * 100",
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "0-500ms",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_timings_less_500_dmmm\"}) by sensor / (sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_count_dmmm\"}) by sensor) * 100",
      "area": false,
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "0-1s",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_timings_less_1000_dmmm\"}) by sensor / (sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_count_dmmm\"}) by sensor) * 100",
      "area": false,
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "0-10s",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_timings_less_10000_dmmm\"}) by sensor / (sum({host=\"<< py_int_api.get("host_mask") >>\", sensor=\"int_api_dbaas_internal_api_count_dmmm\"}) by sensor) * 100",
      "area": false,
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "aggr": "MIN",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "MIN",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}
