{% extends "../../base/dashboard.j2" %}

{% block rows %}
[{ "panels": [
    {% for az in zones_by_env[env] %}
        {# FIXME! Согласовать с Compute и перенести данные в один шард. #}
        {% set cluster = "cloud_" + env + "_head" if env not in ("prod", "preprod") else "cloud_" + env + "_head_" + az.prefix %}

        {{ render_panel(az.prefix|upper, cluster, "internals", "graph=network-ydb-calls&l.host=" + compute_head_selector(az.prefix)) }}

        {% if not loop.last %},{% endif %}
    {% endfor %}
]
}]
{% endblock %}
