{% extends "../../base/dashboard.j2" %}

{% set cluster = "cloud_" + env + "_vpc-api" %}

{% block parameters %}
{
    "name": "cluster",
    "value": "cloud_{{ env }}_vpc-api"
},
{
    "name": "service",
    "value": "vpc-config-plane"
},
{
    "name": "host",
    "value": "*"
}
{% endblock %}

{% block rows %}
[
    { "panels": [
        {{ render_panel(
            "Heap memory",
            "[[cluster]]", "vpc-config-plane",
                "host={{ host }}&" +
                "area=heap&" +
                "graph=[[cluster]]_jvm_memory",
            colspan=4,
        ) }},
        {{ render_panel(
            "Non heap memory",
            "[[cluster]]", "vpc-config-plane",
                "host={{ host }}&" +
                "area=nonheap&" +
                "graph=[[cluster]]_jvm_memory",
            colspan=4,
        ) }},
        {{ render_panel(
            "All memory",
            "[[cluster]]", "vpc-config-plane",
                "host={{ host }}&" +
                "area=*&" +
                "graph=[[cluster]]_jvm_memory",
            colspan=4,
        ) }}
    ]},
    { "panels": [
        {{ render_panel(
            "Threads",
            "[[cluster]]", "vpc-config-plane",
                "host={{ host }}&" +
                "graph=[[cluster]]_jvm_threads",
            colspan=6,
        ) }},
        {{ render_panel(
            "GC collection seconds",
            "[[cluster]]", "vpc-config-plane",
                "host={{ host }}&" +
                "sensor=jvm_gc_collection_seconds&" +
                "summary_type=count&" +
                "transform=differentiate&" +
                "graph=auto",
            colspan=6,
        ) }}
    ]}
]
{% endblock %}
