{% extends "../../base/dashboard.j2" %}

{% set cluster = "cloud_" + env + "_vpc-api" %}

{% block rows %}
[
    { "panels": [
        {{ render_panel(
            "done",
            cluster, "vpc-config-plane",
                "phase=done&" +
                "zone=*&" +
                "sensor=vpctask_task_processed&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_rate",
            colspan=2)
        }},
        {{ render_panel(
            "retried",
            cluster, "vpc-config-plane",
                "phase=*&" +
                "zone=*&" +
                "sensor=vpctask_task_retried|vpc_task_tx_retried&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_rate",
            colspan=2)
        }},
        {{ render_panel(
            "failed",
            cluster, "vpc-config-plane",
                "phase=*&" +
                "zone=*&" +
                "sensor=vpctask_task_failed&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_rate",
            colspan=2)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "jobs total from submit duration",
            cluster, "vpc-config-plane",
                "phase=total_from_submit&" +
                "zone=*&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_duration",
            colspan=2)
        }},
        {{ render_panel(
            "jobs prepate & done duration",
            cluster, "vpc-config-plane",
                "phase=prepare|done&" +
                "zone=*&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_tx_phases_duration",
            colspan=2)
        }},
        {{ render_panel(
            "jobs run duration",
            cluster, "vpc-config-plane",
                "phase=run&" +
                "zone=*&" +
                "host=vpc-*&" +
                "graph=" + cluster + "_jobs_duration",
            colspan=2)
        }}
    ]},
    { "panels": [
		{% for az in zones_by_env[env] %}
        {{ render_panel(
            "startDelay" + az.prefix.capitalize(),
            cluster, "vpc-config-plane",
				"zone={}&".format(az.zone) +
                "host=vpc-*&" +
                "pool=default&" +
                "graph=" + cluster + "_task_delay",
            colspan=2)
        }}{% if not loop.last %},{% endif %}
		{% endfor %}
    ]}
]
{% endblock %}
