# vim: set ft=sls ts=2 expandtab :

{% load_yaml as hw_watcher %}
mail: disk-admin@yandex-team.ru
enable_module:
  - disk
  - link
  - mem
  - ecc
reaction:
  default:
    - mail
  ecc:
    - mail
  disk:
    default:
      - mail
    failsafe:
      - mail
    system:
      - mail
initiator: disk-admin
ecc:
  ce_threshold: 100
  force_sel_check: "yes"
{% endload %}

{% set hw_watcher = salt["pillar.get"]("hw_watcher", hw_watcher, merge=True) %}
{% set cluster = pillar.get('cluster') %}
