[Unit]
Description='Cloud Gate GoBGP to VPP converter, version 2'
After=vpp.service yavpp-configured.service gobgp.service
BindsTo=vpp.service gobgp.service
ConditionPathExists=/etc/bgp2vpp/config.yaml
StartLimitInterval=15min
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/yc-bgp2vpp
CPUAffinity={{ controller_cores }}
Restart=always
RestartSec=80
TimeoutStopSec=60
ExecStop=/bin/kill -SIGTERM $MAINPID
