[Unit]
Description='VPP Cloud Gate configuration'
Requires=vpp.service
After=vpp.service
PartOf=vpp.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/bin/bash -c "/usr/bin/yavpp-vrfs && /usr/bin/yavpp-hostifaces /etc/vpp/hostifaces.conf"
[Install]
WantedBy=multi-user.target