[Unit]
Description='Ensure vpp config consistency on start. CLOUD-10753'
After=network.target
Before=vpp.service

[Install]
RequiredBy=vpp.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStartPre=/usr/bin/salt-call state.sls_id vpp-conf cloudgate -linfo
ExecStartPre=/usr/bin/salt-call state.sls_id hostifaces-conf cloudgate -linfo
ExecStart=/bin/systemctl daemon-reload
