[Unit]
Description='VPP Cloud Gate stats'
After=vpp.service
PartOf=vpp.service
StartLimitInterval=3min
StartLimitBurst=5

[Service]
Type=simple
Group=vpp
ExecStart=/usr/bin/python -m yavpp.stats
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
