[Unit]
Description='GoBGP Cloud Gate stats'
After=gobgp.service
PartOf=gobgp.service
StartLimitInterval=3min
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/python -m yavpp.gobgp.stats
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
