Source: config-monrun-cpu-check
Section: misc
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Svn: https://a.yandex-team.ru/arc/trunk/arcadia/admins/config-monrun-cpu-check

Package: config-monrun-cpu-check
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Script for CPU monitoring for monrun
 .
