#!/usr/bin/make -f
# -*- makefile -*-

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_install:
	go build -o monrun-cpu-check *.go
	mkdir -vp debian/config-monrun-cpu-check/usr/bin/
	cp monrun-cpu-check debian/config-monrun-cpu-check/usr/bin/
	mkdir -vp debian/config-monrun-cpu-check/etc/monrun/conf.d/
	cp -v cpu-check.conf debian/config-monrun-cpu-check/etc/monrun/conf.d/

override_dh_clean:
	dh_clean
	rm -vf monrun-cpu-check

%:
	dh $@
