{% extends "../../base/dashboard.j2" %}

{% set raw_methods = [
    ["Create", "Get", "List"],
    ["ListVersions", "Update", "Delete"],
    ["SetPrimaryVersion", "ScheduleVersionDestruction", "CancelVersionDestruction"],
    ["Rotate"]
] %}

{% set cluster = "cloud_" + env + "_kms_cluster" %}
{% set service = "service" %}

{% macro render_row_panels(title_format, methods, method_prefix, query) %}
{ "panels": [
    {% for method in methods %}
      {% set colspan = 1 %}
      {{ render_panel(title_format.format(method=method), cluster, service, query=query + "&l.method=" + method_prefix + method, colspan=colspan) }}
      {% if not loop.last %},{% endif %}
    {% endfor %}
]}
{% endmacro %}

{% block rows %}
[
    { "panels": [
        {{ render_panel(
            "API rps",
            cluster,
            service,
            query="graph=kms_grpc_api_requests_rps&l.method=*&l.host=cluster-control-all&l.app=kms-control-plane_server")
        }},
        {{ render_panel(
            "API 4xx errors",
            cluster,
            service,
            query="graph=kms_grpc_api_statuses_4xx&l.method=*&l.host=cluster-control-all&l.app=kms-control-plane_server")
        }},
        {{ render_panel(
            "API 5xx errors",
            cluster,
            service,
            query="graph=kms_grpc_api_statuses_5xx&l.method=*&l.host=cluster-control-all&l.app=kms-control-plane_server")
        }}
    ]},
    {% for methods in raw_methods %}
        {{ render_row_panels(title_format="{method} rps", methods=methods, query="l.app=kms-control-plane_server&l.host=cluster-control-all&graph=kms_grpc_api_requests_rps", method_prefix="kms.v1.SymmetricKeyService/") }},
    {% endfor %}
    {% for methods in raw_methods %}
        {{ render_row_panels(title_format="{method} response duration", methods=methods, query="l.app=kms-control-plane_server&l.host=cluster-control-all&graph=kms_grpc_api_duration", method_prefix="kms.v1.SymmetricKeyService/") }}
        {%- if not loop.last %},{% endif -%}
    {% endfor %}
]
{% endblock %}
