{% extends "kms_base.j2" %}

{% set cluster = "cloud_" + env + "_kms_cluster" %}

{% block parameters %}
    {% if add_parameters %}
        {
            "name": "host",
            "value": "cluster-control-all"
        }
    {% endif %}
{% endblock %}

{% block rows %}
[
    {{ render_private_l7_rows(host_cluster) }},
    {{ render_public_l7_rows(host_cluster) }},
    {{ render_special_keys_rows(host_regex) }},
    { "panels": [
        {{ render_panel(
            "Key Rotate Job Errors",
            cluster,
            service="service",
            query="graph=key_rotate_job_errors&l.host={}".format(host_regex),
            rowspan=1,
            colspan=1)
        }}
    ]},
    {{ render_jvm_and_system_rows(host_cluster, host_regex) }},
    {{ render_row_clients_panels("Auth Client", "auth_client", host_cluster) }},
    {{ render_row_clients_panels("Kikimr Client", "kikimr_client", host_cluster) }},
    {{ render_row_clients_panels("Root KMS Client", "root-kms_client", host_cluster) }},
    {{ render_row_clients_panels("Token Service Client", "token-service-client_client", host_cluster) }}
]
{% endblock %}
