{% extends "kms_base.j2" %}

{% set cluster = "cloud_" + env + "_kms_cluster" %}
{% block parameters %}
{
    "name": "host",
    "value": "cluster-data-all"
}
{% endblock %}

{% block rows %}
[
    { "panels": [
        {{ render_panel(
            "Private L7 RPS",
            cluster,
            service="private_envoy",
            query="graph=private_envoy_l7_rps&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Private L7 Errors",
            cluster,
            service="private_envoy",
            query="graph=private_envoy_l7_errors&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Private L7 Upstream Errors",
            cluster,
            service="private_envoy",
            query="graph=private_envoy_l7_upstream_errors&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Private L7 Duration",
            cluster,
            service="private_envoy",
            query="graph=private_envoy_l7_duration&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Private L7 Failed Healthcheck",
            cluster,
            service="private_envoy",
            query="graph=private_envoy_l7_hc_failures&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Public L7 RPS",
            cluster,
            service="public_envoy",
            query="graph=public_envoy_l7_rps&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Public L7 Errors",
            cluster,
            service="public_envoy",
            query="graph=public_envoy_l7_errors&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Public L7 Duration",
            cluster,
            service="public_envoy",
            query="graph=public_envoy_l7_duration&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Special Keys Refresh Fails",
            cluster,
            service="service",
            query="graph=special_keys_refresh_fails&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Special Keys Refresh Time",
            cluster,
            service="service",
            query="graph=special_keys_refresh_seconds&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Time Since Last Special Keys Refresh",
            cluster,
            service="service",
            query="graph=special_keys_seconds_since_last_refresh&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Encryption Validation Fails",
            cluster,
            service="service",
            query="graph=encryption_validate_failed&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Decrypt Plaintext Size",
            cluster,
            service="service",
            query="graph=decrypt_plaintext_size&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Encrypt Plaintext Size",
            cluster,
            service="service",
            query="graph=encrypt_plaintext_size&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Instances",
            cluster,
            service="service",
            query="graph=instance_healthy&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Sum JVM Heap Memory",
            cluster,
            service="service",
            query="graph=jvm_memory_sum&l.area=heap&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Sum JVM Non-Heap Memory",
            cluster,
            service="service",
            query="graph=jvm_memory_sum&l.area=nonheap&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Load Average (1min)",
            cluster,
            service="sys",
            query="graph=load_average&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Sum Load Average (1min)",
            cluster,
            service="sys",
            query="graph=load_average_sum&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Sum CPU Time",
            cluster,
            service="sys",
            query="graph=sum_cpu_time&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Memory",
            cluster,
            service="sys",
            query="graph=memory&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Sum Memory",
            cluster,
            service="sys",
            query="graph=memory_sum&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Network Bytes",
            cluster,
            service="sys",
            query="graph=network_bytes&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "Network Packets",
            cluster,
            service="sys",
            query="graph=network_packets&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Network Drop",
            cluster,
            service="sys",
            query="graph=network_drop&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Network Errs",
            cluster,
            service="sys",
            query="graph=network_errs&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "File Descriptors",
            cluster,
            service="service",
            query="graph=file_descriptors&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Free Space",
            cluster,
            service="sys",
            query="graph=free_space&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "IO Ops",
            cluster,
            service="sys",
            query="graph=io_ops&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    { "panels": [
        {{ render_panel(
            "IO Bytes",
            cluster,
            service="sys",
            query="graph=io_bytes&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "IO Waits",
            cluster,
            service="sys",
            query="graph=io_waits&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }},
        {{ render_panel(
            "Major Page Faults",
            cluster,
            service="sys",
            query="graph=major_page_faults&l.host=[[host]]",
            rowspan=1,
            colspan=1)
        }}
    ]},
    {{ render_row_clients_panels("Auth Client", "auth_client") }},
    {{ render_row_clients_panels("Kikimr Client", "kikimr_client") }},
    {{ render_row_clients_panels("Root KMS Client", "root-kms_client") }},
    {{ render_row_clients_panels("Token Service Client", "token-service-client_client") }}
]
{% endblock %}
