{% extends "../../base/dashboard.j2" %}

{% macro render_row_clients_panels(client_name, client_app, host_cluster) %}
{ "panels": [
    {{ render_panel(
        client_name + " RPS",
        cluster,
        service="service",
        query="graph=kms_grpc_api_requests_rps&l.method=*&l.host={}&l.app={}".format(host_cluster, client_app),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        client_name + " Errors",
        cluster,
        service="service",
        query="graph=grpc_api_statuses_errors&l.method=*&l.host={}&l.app={}".format(host_cluster, client_app),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        client_name + " Duration",
        cluster,
        service="service",
        query="graph=kms_grpc_api_duration&l.method=*&l.host={}&l.app={}".format(host_cluster, client_app),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_private_l7_rows(host_cluster) %}
{ "panels": [
    {{ render_panel(
        "Private L7 RPS",
        cluster,
        service="private_envoy",
        query="graph=private_envoy_l7_rps&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Private L7 Errors",
        cluster,
        service="private_envoy",
        query="graph=private_envoy_l7_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Private L7 Upstream Errors",
        cluster,
        service="private_envoy",
        query="graph=private_envoy_l7_upstream_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Private L7 Duration",
        cluster,
        service="private_envoy",
        query="graph=private_envoy_l7_duration&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Private L7 Failed Healthcheck",
        cluster,
        service="private_envoy",
        query="graph=private_envoy_l7_hc_failures&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_public_l7_rows(host_cluster) %}
{ "panels": [
    {{ render_panel(
        "Public L7 RPS",
        cluster,
        service="public_envoy",
        query="graph=public_envoy_l7_rps&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Public L7 Errors",
        cluster,
        service="public_envoy",
        query="graph=public_envoy_l7_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Public L7 Duration",
        cluster,
        service="public_envoy",
        query="graph=public_envoy_l7_duration&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_jvm_and_system_rows(host_cluster, host_regex) %}
{ "panels": [
    {{ render_panel(
        "Instances",
        cluster,
        service="service",
        query="graph=instance_healthy&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Sum JVM Heap Memory",
        cluster,
        service="service",
        query="graph=jvm_memory_sum&l.area=heap&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Sum JVM Non-Heap Memory",
        cluster,
        service="service",
        query="graph=jvm_memory_sum&l.area=nonheap&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "JVM Threads",
        cluster,
        service="service",
        query="graph=jvm_threads&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "JVM Heap Memory",
        cluster,
        service="service",
        query="graph=jvm_memory&l.area=heap&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "JVM Non-Heap Memory",
        cluster,
        service="service",
        query="graph=jvm_memory&l.area=nonheap&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Load Average (1min)",
        cluster,
        service="sys",
        query="graph=load_average&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Sum Load Average (1min)",
        cluster,
        service="sys",
        query="graph=load_average_sum&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Sum CPU Time",
        cluster,
        service="sys",
        query="graph=sum_cpu_time&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Memory",
        cluster,
        service="sys",
        query="graph=memory&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Sum Memory",
        cluster,
        service="sys",
        query="graph=memory_sum&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Network Bytes",
        cluster,
        service="sys",
        query="graph=network_bytes&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Network Packets",
        cluster,
        service="sys",
        query="graph=network_packets&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Network Drop",
        cluster,
        service="sys",
        query="graph=network_drop&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Network Errs",
        cluster,
        service="sys",
        query="graph=network_errs&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "File Descriptors",
        cluster,
        service="service",
        query="graph=file_descriptors&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Free Space",
        cluster,
        service="sys",
        query="graph=free_space&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "IO Ops",
        cluster,
        service="sys",
        query="graph=io_ops&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "IO Bytes",
        cluster,
        service="sys",
        query="graph=io_bytes&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "IO Waits",
        cluster,
        service="sys",
        query="graph=io_waits&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Major Page Faults",
        cluster,
        service="sys",
        query="graph=major_page_faults&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_special_keys_rows(host_regex) %}
{ "panels": [
    {{ render_panel(
        "Special Keys Refresh Fails",
        cluster,
        service="service",
        query="graph=special_keys_refresh_fails&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Special Keys Refresh Time",
        cluster,
        service="service",
        query="graph=special_keys_refresh_seconds&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Time Since Last Special Keys Refresh",
        cluster,
        service="service",
        query="graph=special_keys_seconds_since_last_refresh&l.host={}".format(host_regex),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}
