# default values
tls_tickets:
  destdir: /etc/nginx/ssl/tls/
  srcdir: media/tls_tickets/<project>
  keyname: <host_group_without_stable|prod|prestable>.key
  on_success: reload_nginx
  cron:
    name: secdist-get-tls_tickets
    time: '7 * * * *'
  robot:
    name: robot-media-salt
    key: robot-media-salt_tls.id_rsa
    # use yav to get robot ssh key. if not set key will be used(old behaviour)
    ssh_key: {{salt.yav.get(secret)['name']| json}}
    srckeydir: <src_key_on_salt_master>
       # srckeydir appear here
       # - salt://certs/{{ t.robot.srckeydir }}/{{ t.robot.key }}
       # if 'test' in srckeydir use slatenv=testing else stable or base 

# quick start example
# key should be here
# /repo/projects/ugc/media/tls_tickets/<project>/<keyname_tls_tickets>.key

tls_tickets:
  keyname: <keyname_tls_tickets>.key
