{% extends "ycm_base.j2" %}

{% block parameters %}
    {% if add_parameters %}
        {
            "name": "host",
            "value": "cluster-cpl"
        }
    {% endif %}
{% endblock %}

{% macro render_acme_orders_rows(host_cluster, host_regex, solomon_service) %}
{ "panels": [
    {{ render_panel(
        "OrderJob Fails",
        cluster,
        service=solomon_service,
        query="graph=order_job_fails&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Order Job Failed Authorizations",
        cluster,
        service=solomon_service,
        query="graph=order_job_failed_authorizations&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Orders created in last 3 hours",
        cluster,
        service=solomon_service,
        query="graph=fresh_orders&l.host=cluster",
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "ACME Total Errors",
        cluster,
        service=solomon_service,
        query="graph=acme_service_total_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "ACME Unique Rate Errors",
        cluster,
        service=solomon_service,
        query="graph=acme_service_unique_errors_acme_rate_limited_exception&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "ACME Unique Errors By Type",
        cluster,
        service=solomon_service,
        query="graph=acme_service_unique_errors_by_type&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "ACME Errors By Type",
        cluster,
        service=solomon_service,
        query="graph=acme_service_errors_by_type&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Orders States",
        cluster,
        service=solomon_service,
        query="graph=orders_states&l.host=cluster",
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Orders Problems",
        cluster,
        service=solomon_service,
        query="graph=orders_problems&l.host=cluster",
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "OrderJob Time to Finish",
        cluster,
        service=solomon_service,
        query="graph=order_job_total_times&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "OrderJob Run Time",
        cluster,
        service=solomon_service,
        query="graph=order_job_run_times&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "ACME Accounts Usage",
        cluster,
        service=solomon_service,
        query="graph=acme_accounts_usage&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "OrderJob Time to Finish",
        cluster,
        service=solomon_service,
        query="graph=order_job_total_times&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_crt_api_orders_rows(host_cluster, host_regex, solomon_service) %}
{ "panels": [
    {{ render_panel(
        "Internal Providers Job Fails",
        cluster,
        service=solomon_service,
        query="graph=crt_api_fails&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Internal Providers Certificate Errors",
        cluster,
        service=solomon_service,
        query="graph=crt_api_certificate_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Internal Providers API HTTP Errors",
        cluster,
        service=solomon_service,
        query="graph=crt_api_http_errors&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Internal Providers Job Time to Finish",
        cluster,
        service=solomon_service,
        query="graph=crt_api_job_total_times&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Internal Providers Job Run Time",
        cluster,
        service=solomon_service,
        query="graph=crt_api_job_run_times&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Internal Providers Job too Long",
        cluster,
        service=solomon_service,
        query="graph=crt_api_job_too_long&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Successfully Created Internal Certificates",
        cluster,
        service=solomon_service,
        query="graph=crt_api_success_new&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Successfully Renewed Internal Certificates",
        cluster,
        service=solomon_service,
        query="graph=crt_api_success_renew&l.host={}".format(host_cluster),
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% macro render_certificates_rows(solomon_service) %}
{ "panels": [
    {{ render_panel(
        "Certificates Total",
        cluster,
        service=solomon_service,
        query="graph=certificates_total&l.host=cluster",
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Certificates By Type",
        cluster,
        service=solomon_service,
        query="graph=certificates_by_type&l.host=cluster",
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Certificates By Status",
        cluster,
        service=solomon_service,
        query="graph=certificates_by_status&l.host=cluster",
        rowspan=1,
        colspan=1)
    }}
]},
{ "panels": [
    {{ render_panel(
        "Certificates Validating",
        cluster,
        service=solomon_service,
        query="graph=certificates_validating&l.host=cluster",
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Certificates Renewing",
        cluster,
        service=solomon_service,
        query="graph=certificates_renewing&l.host=cluster",
        rowspan=1,
        colspan=1)
    }},
    {{ render_panel(
        "Certificates Used in S3 Buckets",
        cluster,
        service=solomon_service,
        query="graph=certificates_used_in_s3_buckets&l.host=cluster",
        rowspan=1,
        colspan=1)
    }}
]}
{% endmacro %}

{% block rows %}
[
    {{ render_private_l7_rows(host_cluster) }},
    {{ render_public_l7_rows(host_cluster) }},
    {{ render_acme_orders_rows(host_cluster, host_regex, solomon_service) }},
    {{ render_crt_api_orders_rows(host_cluster, host_regex, solomon_service) }},
    {{ render_certificates_rows(solomon_service) }},
    {{ render_jvm_and_system_rows(host_cluster, host_regex, solomon_service) }},
    {{ render_row_clients_panels("Auth Client", "auth_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Access Binding Client", "access-binding-client_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Kikimr Client", "kikimr_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("DNS Service Client", "dns-service_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("KMS Crypto Client", "kms-crypto_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Notify Client", "notify_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Resource Manager Client", "resource-manager_client", host_cluster, solomon_service) }}
]
{% endblock %}
