{% extends "ycm_base.j2" %}

{% block parameters %}
    {% if add_parameters %}
        {
            "name": "host",
            "value": "cluster-validation"
        }
    {% endif %}
{% endblock %}

{% block rows %}
[
    {{ render_jvm_and_system_rows(host_cluster, host_regex, solomon_service) }},
    {{ render_row_clients_panels("Kikimr Client", "kikimr_client", host_cluster, solomon_service) }}
]
{% endblock %}
