[Unit]
Description=Schema registry service Karapace
Documentation=https://github.yandex-team.ru/mdb/karapace
Requires=network.target remote-fs.target
After=network.target remote-fs.target kafka.service

[Service]
Type=simple
User=karapace
Group=karapace
ExecStart=/opt/yandex/karapace/bin/python3.6 /opt/yandex/karapace/bin/karapace /etc/karapace/karapace-config.json
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
