Source: mysql-configurator-js
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/mysql-configurator-js

Package: mysql-configurator-js-4
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: mysql-configurator-4
Description: The JS common-part of the mysql-configurator-4
 MySQL configurator 4 live graph display
