#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PATH := /opt/nodejs/6/bin:$(PATH)

override_dh_auto_build:
	npm install
	cd src && ../node_modules/.bin/gulp

override_dh_install:
	mkdir -p debian/mysql-configurator-js-4/usr/share/mysql-configurator-4
	cp -r src/markup/dst debian/mysql-configurator-js-4/usr/share/mysql-configurator-4/markup

%:
	dh $@
