name: YC VPC API
description: 'YC VPC API Dashboard'
owners:
    - flatline
    - grigory-orlov
    - lavrukov
    - raorn
    - rkhapov
    - wronglink
    - yesworld
    - robot-vpc-solomon
links:
    -
        title: Solomon
        url: 'https://solomon.yandex-team.ru/?project=yandexcloud'
    -
        title: Duty Wiki
        url: 'https://wiki.yandex-team.ru/cloud/devel/sdn/cfg/duty/'
    -
        title: Escalations
        url: 'https://juggler.yandex-team.ru/escalations/?query=tag%3Dyc-vpc-api&only_running=true'
    -
        title: Dashboard config source-of-truth
        url: 'https://bb.yandex-team.ru/projects/CLOUD/repos/yc-monitoring/browse/juggler/dashboards/'
    -
        title: YC Network Dashboard
        url: 'https://juggler.yandex-team.ru/dashboards/ycloud_virtual_network/'
components:
    -
        name: PROD downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_network_vpc_api_prod}
                - {host: yc_network_vpc_api_prod_solomon}
                - {host: cloud_prod_vpc-api_solomon}
                - {tags: [yc-prod, yc-vpc-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1, 2, 3, 4] %}
                - {host: vpc-api-{{ dc }}{{ n }}.svc.cloud.yandex.net}
                - {host: vpc-api-k8s-{{ dc }}{{ n }}.svc.cloud.yandex.net}
                {%- endfor %}
                - {host: yc_network_oct_head_prod_{{ dc }}, service: e2e-vpc-api-{{ dc }}}
                - {host: yc_loadbalancer_seed_prod_{{ dc }}, service: ylb_consistency}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 1
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-prod, yc-vpc-api]}
        col: 1
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: PRE-PROD downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_network_vpc_api_preprod}
                - {host: yc_network_vpc_api_preprod_solomon}
                - {host: cloud_preprod_vpc-api_solomon}
                - {tags: [yc-preprod, yc-vpc-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1, 2] %}
                - {host: vpc-api-{{ dc }}{{ n }}.svc.cloud-preprod.yandex.net}
                - {host: vpc-api-k8s-{{ dc }}{{ n }}.svc.cloud-preprod.yandex.net}
                {%- endfor %}
                - {host: yc_network_oct_head_preprod_{{ dc }}, service: e2e-vpc-api-{{ dc }}}
                - {host: yc_loadbalancer_seed_preprod_{{ dc }}, service: ylb_consistency}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 2
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: PRE-PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-preprod, yc-vpc-api]}
        col: 2
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: TESTING downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_network_vpc_api_testing}
                - {host: yc_network_vpc_api_testing_solomon}
                - {host: cloud_testing_vpc-api_solomon}
                - {tags: [yc-testing, yc-vpc-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1] %}
                - {host: vpc-api-{{ dc }}{{ n }}.svc.cloud-testing.yandex.net}
                - {host: vpc-api-k8s-{{ dc }}{{ n }}.svc.cloud-testing.yandex.net}
                {%- endfor %}
                - {host: yc_network_oct_head_testing_{{ dc }}, service: e2e-vpc-api-{{ dc }}}
                - {host: yc_loadbalancer_seed_testing_{{ dc }}, service: ylb_consistency}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 3
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: TESTING
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-testing, yc-vpc-api]}
        col: 3
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []


    -
        name: IL downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_network_vpc_api_israel}
                - {host: yc_network_vpc_api_israel_solomon}
                - {host: cloud_israel_vpc-api_solomon}
                - {host: vpc*.svc.yandexcloud.co.il@tenant=israel}
                - {tags: [yc-israel, yc-vpc-api]}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 4
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: IL
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-israel, yc-vpc-api]}
        col: 4
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
