[Unit]
Description=Yandex Cloud Billing Public API Service
After=network.target auditd.service
ConditionPathExists=/etc/yc/billing/grpc-public-api.yaml
[Service]
User=root
PAMName=sudo
PermissionsStartOnly=true
ExecStart=/usr/bin/yc-billing-public-api  -c /etc/yc/billing/grpc-public-api.yaml
Restart=always

[Install]
WantedBy=multi-user.target
