keyPath: /var/lib/yc/token-agent
cachePath: /var/cache/yc/token-agent
cacheUpdateInterval: 10m
#jwtAudience: https://iam.api.cloud.yandex.net/iam/v1/tokens
#jwtLifetime: 1h

tokenServiceEndpoint:
  host: ts.private-api.cloud.yandex.net
  port: 8242
  useTls: true
  timeout: 5s
  retries: 10

listenUnixSocket:
  path: /var/run/yc/token-agent/socket
  mode: 0666
# group: daemon

#tpmAgentEndpoint:
#  host: /var/run/yc-tpm-agent/yc-tpm-agent.sock
#  retries: 10

#rolesPath: /etc/yc/token-agent/roles.d

# $ ls roles.d
# service1.yaml
# service2.yaml
#
# $ cat roles.d/service1.yaml
# token: MASTER_TOKEN
# expiresAt: 2020-01-01 06:30:00.000777
#
# $ cat roles.d/service2.yaml
# serviceAccountId: "bfbjblmbvolp8aud8mrd"
# keyId: "bfbsg944tc8angbkrisg"
