[Unit]
Description=yandex cloud token agent
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/yc/token-agent/config.yaml

[Service]
User=yc-token-agent
Group=yc-token-agent
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o yc-token-agent -g yc-token-agent -d /var/run/yc/token-agent
# log-level ERROR|WARNING|INFO|DEBUG
ExecStart=/usr/bin/yc-token-agent \
  --log-level INFO \
  --log-output /var/log/yc/token-agent/token-agent.log \
  --access-log-output /var/log/yc/token-agent/access.log \
  --config /etc/yc/token-agent/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
