{#- vim: ft=jinja
#}
CASS_BACKUP_ENABLED={{ cassandra.backup.enabled }}
CASS_SCHEMA_BACKUP={{ cassandra.backup.schema_backup|default('0') }}
CASS_BACKUP_KEYSPACES="{{ cassandra.backup.keyspaces|join(' ') }}"
R_BWLIMIT={{ cassandra.backup.rsync_bwlimit|default('0') }}
COMPRESSOR={{ cassandra.backup.compressor|default('pigz') }}
TRANSPORT={{ cassandra.backup.transport|default('rsync') }}
{% if cassandra.backup.get("transport", "rsync") == "s3cmd" %}
BUCKET={{ cassandra.backup.bucket }}
{% else %}
R_USER={{ cassandra.backup.rsync_user }}
R_SERVER={{ cassandra.backup.rsync_server }}
R_PASSWORD={{ cassandra.backup.rsync_pass }}
R_REALM={{ cassandra.backup.rsync_share }}
{%endif%}
