{% from "dashboards/overlay/common.j2" import render_virtual_network_owners, environments,
    all_environments_cols, all_environments_rows, all_environments_rowspans %}

address: ycloud_virtual_network_downtimes
name: Yandex.Cloud Virtual Network Downtimes
description: |-
    Исходники дашбордов храним [в гите](https://bb.yandex-team.ru/projects/CLOUD/repos/yc-monitoring/browse/juggler/dashboards). Подробности — на [странице дежурного](https://wiki.yandex-team.ru/cloud/devel/sdn/duty/).
{{ render_virtual_network_owners() }}
links:
    -
        title: 'Общий дашборд всех стендов'
        url: https://juggler.yandex-team.ru/dashboards/ycloud_virtual_network
components:
    {% for env in environments.values() %}
    {% set env_name = env["name"] %}
    -
        name: {{ env["name"] | upper }}
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: true
            filters:
                - namespace: ycloud
                  host: yc_network_compute_{{ env_name }}
                - namespace: ycloud
                  host: yc_network_oct_head_{{ env_name }}
                - namespace: ycloud
                  host: yc_network_oct_control_{{ env_name }}
                {% for dc in env["datacenters"] %}
                - namespace: ycloud
                  host: yc_network_compute_{{ env_name }}_{{ dc }}
                - namespace: ycloud
                  host: yc_network_oct_head_{{ env_name }}_{{ dc }}
                - namespace: ycloud
                  host: yc_network_oct_control_{{ env_name }}_{{ dc }}
                - namespace: ycloud
                  host: yc_network_vpc_control_{{ env_name }}_{{ dc }}
                {% endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: {{ all_environments_cols[loop.index0] }}
        row: {{ all_environments_rows[loop.index0] }}
        colspan: 10
        rowspan: {{ all_environments_rowspans[loop.index0] }}
        view_type: DETAILED
        elements_in_row: 2
        links: []
    {% endfor %}
