{# Compute team base alert. Please use it when possible. #}

{% extends "../../base/alert.j2" %}

{% set checkExpression = "" %}
{% set repeatNotifySecs = 3600 %}
{% set notifyAboutStatuses = {'compute_api_duty_telegram': '["WARN", "ALARM"]'} %}
{% set notificationChannels = ["compute_api_duty_telegram", "juggler"] if env in ["prod", "preprod"] else ["juggler"] %}

{% block main %}
    "name": "{{ name }} @{{ env | upper }}",
    "groupByLabels": ["host"],
    "annotations": {
        "service": "{{ jugglerService }}",
        "host": "{{ compute_node_fqdn() if isComputeNode else svm_fqdn() }}",
        "description": "{{ description }}",
        "time_window_seconds": "{{ windowSecs }}"
        {% if annotations %}
            {% for name, value in annotations %}
                ,"{{ name }}": "{{ value }}"
            {% endfor %}
        {% endif %}
    },
    "description": "{{ description }}",
    "type": {{ type_expression() }}
{% endblock %}
