{% extends "base_alert.j2" %}

{% set windowSecs = 300 %}
{% set checkExpression = "" %}
{% set repeatNotifySecs = 3600 %}
{% set description = "https://docs.yandex-team.ru/yc-monitoring/compute-api/compute-metadata-errors" %}

{% macro prog() %}
let ernums = group_lines('sum', diff(integrate_fn({
    project='{{ project_id }}',
    cluster='cloud_{{ env }}_compute',
    service='compute_metadata',
    sensor='http_code',
    http_status_code='5*'})));
let ernum = max(ernums);
let readable = to_fixed(ernum, 2);
alarm_if(ernum > 20);
warn_if(ernum > 0);
{% endmacro %}

{% block main %}
    "name": "Alert on compute metadata errors @{{ env | upper }}",
    "groupByLabels": ["host"],
    "annotations": {
        "service": "compute-metadata-errors",
        "host": "{{ compute_node_fqdn() }}",
        "error_rate": "[[expression.readable]]",
        "description": "{{ description }}"
    },
    "description": "Notifies about metadata failed with critical internal error\n\nSee {{ description }} for instructions.",
    "type": {{ type_expression() }}
{% endblock %}
