<!DOCTYPE html>
<html>
    <head>
        <title>Fingerprints v. {{ version }}</title>
        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }
            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            width: 1%;
            white-space: nowrap;
            }
            #myTh {
            background-color: #dddddd;
            }
            #myP {
            color: rgb(51, 68, 255);
            }
        </style>
    </head>
    <body>
        <h2>
            Powered by antifraud, по вопросам приходите к <a href="https://staff.yandex-team.ru/timasem">@timasem</a>
        </h2>
        <table style="width:100%">
            <tr>
                <th id="myTh">Headers</th>
            </tr>
        {% for header in headers %}
            <tr>
                <td>
                    <p id="myP">{{ header["key"] }}</p>
                    = {{ header["value"] }}
                </td>
            </tr>
        {% endfor %}
        </table>
        <table style="width:100%">
        {% for main_group, data in groupped_fingerprints.items() %}
            {% set vars = namespace(max_rows=0) %}
            <tr>
                <th id="myTh">{{ main_group.title() }}</th>
            </tr>
            <tr>
            {% for subgroup, subdata in data.items() %}
                <th>{{ subgroup }}</th>
                {% set vars.max_rows = [vars.max_rows, subdata|length]|max %}
            {% endfor %}
            </tr>
            {% for idx in range(vars.max_rows) %}
            <tr>
                {% for subgroup in data.keys() %}
                {% if idx < data[subgroup]|length %}
                <td><p id="myP">{{ data[subgroup][idx]['name'] }}</p> = {{ data[subgroup][idx]['value'] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </body>
</html>