<!DOCTYPE html>
<html>
    <head>
        <title>Greed demo service</title>
        <script src="js/greed.js"></script>
    </head>
    <body>
        Checking...
        <form action="/" method="POST" style="display:none">
            <input type="submit" value="Submit" id="submit" />
            <input type="hidden" name="fingerprint" id="fingerprint" />
        </form>
        <script>
            Greed.safeGet().then((res) => {
                document.getElementById('fingerprint').value = JSON.stringify(res);
                document.getElementById('submit').click();
            });
        </script>
    </body>
</html>