[Unit]
Description='Nirvana job launcher proxy'
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/cp -r /var/lib/nv_launcher_agent/deploy/. /opt/nv_launcher_agent/
ExecStart=/opt/nv_launcher_agent/nv_launcher_agent \
          --project-dir /opt/nv_launcher_agent \
          proxy \
          --agent-host [::] \
          --port 5000 \
          --agent-port 7842
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -TERM $MAINPID

Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
