TH {font-weight: bold; background: #ebebeb}

TD {padding-left: 5px; padding-right: 5px}
TD.susp {background: yellow}
TD.enemy {background: red}
TD.ipdiff {color: red}

TR.odd {background: #FFFFFF}

TR.even {background: #FAFAFA}

SPAN.ua {color: green}

A.dashed {color: #0055CC; border-bottom: 1px dashed #0055CC;  cursor: pointer; text-decoration: none}
SPAN.dashed {color: #0055CC; border-bottom: 1px dashed #0055CC; cursor: pointer;}
SPAN.badkarma {color: red}

.query-form {
    margin-bottom: 32px;
}

table.query-params {
    border-collapse: collapse;
    margin-bottom: 16px;
}

table.query-params th, table.query-params td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
}

table.access-log {
    font-family: monospace;
    font-size: 12px;
}

table.event-log { 
    background: black; 
    border: solid 1px black;
    margin-bottom: 8px;
    border-collapse: collapse;
}

table.event-log td {
    background: white;
    padding: 8px;
    font-size: 12px;
    vertical-align: top;
    border: 1px solid black;
}

table.event-log th {
    border: 1px solid black;
}

tr.sel1 td {
background: #F7F7FF;
}

tr.sel2 td {
background: #FfFFE0;
}

.tech {
    font-family: Sans Serif;
    margin-right: 16px;
}

.error {
    color: red;
    padding: 4px;
    margin: 4px;
    margin-bottom: 16px;
    font-size: 80%;
}

.full-error-text
{
    margin-top: 16px;
    font-size: 80%;
}

#topmenu {
    font-family: Tahoma, Arial;
    font-size: 80%;
    margin-bottom: 8px;
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    white-space-collapsing:discard;
}

#topmenu li {
    padding: 8px;
    display: inline-block;
    //margin-left: 8px;
    border-bottom: solid 1px black;
    list-style-type: none;
}

#topmenu li#cur {
    //background-color: #ddddff;
    border-left: solid 1px black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: none;
}

#topmenu a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#topmenu a:hover {
    text-decoration: underline;
}

#frmAccessLog {
    margin-bottom: 32px;
}

.status {
    font-weight: bold;
}

.referer {
    font-style: italic;
}

.host {
    color: #550077;
}

.cookies {
    background-color: #EEFFEE;
}

.info {
    font-family: Arial;
}

.cache_info {
    font-family: Arial;
    color: Grey;
    font-size: 90%;
}

.strong {
    font-weight: bold;
}

.invalid {
    color: red;
}

.expired {
    color: gray;
}

.jqmWindow {
    display: none;

    position: fixed;
    top: 64px;
    left: 50%;

    height: 90%;
    margin-left: -300px;
    width: 700px;

    background-color: #EEEEEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
    overflow: auto; 
}

.jqmOverlay { background-color: #000; }

#close
{
display: block;
text-decoration: underline;
cursor: pointer;
}

#dialogWait
{
position: absolute;
top: 0;
left: 0;

width: 66px;
height: 66px;
background-image: url('ajax-loader.gif');
}

ul.table_list
{
    padding: 8px;
    width: auto;
    margin: 16px;
}

ul.table_list li
{
    list-style-type: none;
    font-family: Courier;
    font-size: 100%;
}

div.table_list
{
    /*background-color: #deffde;*/
    padding: 8px;
}

.top_form input
{
    margin-bottom: 8px;
}

.progressbar
{
    //padding: 6px;
    font-family: Tahoma;
    //color: #564141;
    //margin-bottom: 16px;
    display: inline-block;
    width: 600px;
}

.progress-label
{
    position: absolute;
    left: 8px;
    top: 4px;
    font-weight: bold;
}

.ui-progressbar
{
    position: relative;
}

.strong
{
    font-weight: bold;
}

#precalc_table
{
    margin-top: 8px;
    padding-left: 32px;
    margin-bottom: 32px;
}

.pager
{
    background-color: white;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 12px;
}

.pager * {
    font-size: 12px;
}

.pager .f
{
    float: left;
    margin: 2px 16px 2px 2px;
    font-size: 12px;
}

.pager fieldset.f {
    padding: 4px;
}

.loading
{
    background: url('/static/loading_square.gif');
    margin-left: 8px;
    margin-right: 8px;
    width: 96px;
    height: 24px;

}

#logRows td
{
    padding: 1px 6px 1px 6px;
}

.ref
{
    font-family: Arial;
    //font-weight: bold;
    //font-style: oblique;
    text-decoration: underline;
    text-decoration-style: double;
    padding: 3px;
}

.iconed-box
{
    display: block;
    padding: 16px 8px 8px 102px;
    min-height: 144px;
    line-height: 1.5;
}

.icon-question
{
    background: url('/static/question.png') no-repeat;
}

.icon-error
{
    background: url('/static/error.png') no-repeat;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.icon-ok
{
    background: url('/static/ok.png') no-repeat;
}

.icon-info
{
    background: url('/static/info.png') no-repeat;
}

.pending
{
    padding: 16px 8px 8px 8px;
    min-height: 144px;
    line-height: 1.5;
}

.pending-time
{
    font-size: 80%;
}

.exec-options {
    padding: 0;
    margin-left: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.exec-options li {
   list-style-type: none;
   display: block;
   float: left;
   margin-bottom: 8px;
   margin-right: 16px;
}

.clearfix {
    clear: both;
}

.submit-button {
    padding: 8px;
}

.system-message
{
    font-family: monospace;
}

#result {
    margin-left: 8px;
    margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: solid #aaaaaa 1px;
}

.flex-container {
    display: flex;
}

.columns {
    columns: 500px 2;
}


.flex-container .col1 {
}

.flex-container .col2 {
    padding-left: 32px;
}

.loading-indicator
{
    background: url('/static/loading-circle.gif') no-repeat left center;
    display: inline-block;
    width: 400px;
    height: 2em;
    padding-left: 28px;
    padding-top: 4px;
    vertical-align: top;
    font-weight: 100;
    margin-left: 16px;
    opacity: 0.6;
}

.repeat
{
    margin: 12px 8px 8px 0;
    padding: 4px;
    font-size: 115%;
}

.invisible
{
    display: none;
}

.red {
    color: red;
}
.green {
    color: green;
}