[client]
socket   = /mysqld/mysqld.sock

[mysql]

default-character-set=utf8mb4
max_allowed_packet = 96M

[mysqld]
skip_name_resolve=ON

relay-log=mysqld-relay-bin
character-set-server=utf8mb4

default-storage-engine = InnoDB
server_id = {{ pillar['mysql']['server-ids'][grains['host']] }}
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON
log_bin_trust_function_creators = ON
log_bin = mysql-bin
log_slave_updates = ON
max_binlog_size = 100M

long_query_time = 10

expire_logs_days=30

# Semi-sync replication
plugin_load_add = 'rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so'
rpl_semi_sync_master_timeout = 31536000000
rpl_semi_sync_master_wait_no_slave = ON
rpl_semi_sync_master_wait_point = AFTER_SYNC
rpl_semi_sync_master_wait_for_slave_count = 1

replicate-do-db = racktables
replicate-do-db = netmap
read_only = ON
max_heap_table_size = 1G
sort_buffer_size = 8M
join_buffer_size = 8M
tmp_table_size = 1G
key_buffer_size = 1G

back_log = 50
max_connections = 1000
max_connect_errors = 10
table_open_cache = 2048
max_allowed_packet = 96M
binlog_cache_size = 1M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
thread_cache_size = 50
query_cache_type=1
query_cache_size = 128M
query_cache_limit = 1M
ft_min_word_len = 4
thread_stack = 192K
transaction_isolation = REPEATABLE-READ
log-bin=mysql-bin
binlog_format=mixed
slow_query_log
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
innodb_buffer_pool_size = 64G
innodb_data_file_path = ibdata1:1000M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 32M
innodb_log_file_size = 2048M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_thread_concurrency = 16
innodb_flush_method=O_DIRECT

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
