[Unit]
Description=Solomon agent
AssertFileIsExecutable=/usr/local/bin/solomon-agent
AssertFileNotEmpty=/etc/yandex-solomon-agent/agent.conf
After=multi-user.target


[Service]
User=nobody
Group=nogroup

ExecStart=/usr/local/bin/solomon-agent --config /etc/yandex-solomon-agent/agent.conf

KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGHUP=no
Restart=on-failure

[Install]
WantedBy=multi-user.target
