{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}
{% load meta.templatetags %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>Task ID</th>
        <th>Cluster</th>
        <th>Created at</th>
        <th>Ended at</th>
        <th>Duration</th>
        <th>Type</th>
        <th>Created by</th>
        <th>Result</th>
        <th>Worker ID</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td class="noodle-nowrap">{{ obj.self_link_c }}</td>
        <td class="noodle-nowrap">{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
        <td data-order="{{ obj.create_ts|date:"Uu" }}">{% dt_formatted obj.create_ts %}</td>
        <td data-order="{{ obj.end_ts|date:"Uu" }}">{% dt_formatted obj.end_ts %}</td>
        <td>
          {% if obj.start_ts and obj.end_ts %}
            {% duration_span obj.start_ts obj.end_ts %}
          {% else %}
            &ndash;
          {% endif %}
        </td>
        <td>{{ obj.task_type }}</td>
        <td>{{ obj.created_by }}</td>
        <td>{{ obj.result|bool_label }}</td>
        <td>{{ obj.worker_id|default:"&ndash;" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
