{% set mulcagate = salt['grains.filter_by']({
    'STORAGE': {
        'config': 'salt://templates/mulcagate/files/etc/mulcagate/mulcagate.conf',
        'ping_stid': '320.ping.E1540651:205994704587774095837309963303',
        'ping_stid_testing': '320.ping.E69015:311834263829288833852895743757',
        'max_buffers_size': 21474836480,
        'client_chunk_size': 8388608,
        'backend_chunk_size': 838860,
        'reject_initially_deprived_requests': 1,
        'io_threads': 2,
        'accept_threads': 2,
        'keep_alive': 0,
        'pool_count': 8,
        'mulca_write_enabled': 0,
        'mulca_delete_enabled_for_mapped_units': 0,
        'put': {
            'pool_size': 150,
            'pool_threads': 50,
            'streaming_threshold': 536870912,
            },
        'conf_get': {
            'pool_size': 500,
            'pool_threads': 200,
            },
        'del': {
            'pool_size': 500,
            'pool_threads': 200,
            },
        'redirect_enabled': false,
        'redirect_options': {
            'redirect_sign_token': 'd99cb65d207c46',
            'redirect_expire': 14400,
            'redirect_min_expire': 60,
            'redirect_blob_path_prefix': '/srv/storage',
            },
        'small_data_compression_threshold': false,
        'small_data_compression_namespaces': {
            'compression_ns': ['mail-spam'],
        },
        'elliptics_prefer_couple_from_unit_mapping': true,
        'custom_handystat_config': false,
        'disable_elliptics': false,
        'elliptics': {
            'remotes_testing': ['s01e.mdst.yandex.net:1025:10', 's04e.mdst.yandex.net:1025:10', 's03h.mdst.yandex.net:1025:10'],
            'remotes': ['s172f.storage.yandex.net:1025:10', 's90i.storage.yandex.net:1025:10', 's107i.storage.yandex.net:1025:10', 's12e.storage.yandex.net:1025:10', 's50e.storage.yandex.net:1025:10', 's55e.storage.yandex.net:1025:10', 's40f.storage.yandex.net:1025:10', 's41f.storage.yandex.net:1025:10', 's01vla.storage.yandex.net:1025:10', 's87h.storage.yandex.net:1025:10'],
            'auth': false,
            'auth_client_id_testing': 2000272,
            'auth_client_id': 2000273,
            'log_level': 'info',
            'timeout': {
                'default': 5,
                'read': 60,
                'write': 600,
                'write_prepare': 2,
                'lookup': 2,
                'remove': 200,
                },
            'mds2079_lower_bound': false,
            'io_thread_num': 3,
            'nonblocking_io_thread_num': 3,
            'net_thread_num': 3,
            'mastermind': {
                'update_period': 150,
                'expire_time': 43200,
                'enqueue_retries': 4,
                'worker_name': 'mastermind-drooz',
                'remotes_testing': ['collector01myt.mdst.yandex.net', 'collector01man.mdst.yandex.net'],
                'remotes': ['collector01f.mds.yandex.net', 'collector01vla.mds.yandex.net', 'collector01i.mds.yandex.net', 'collector01h.mds.yandex.net'],
                },
            'libmds': {
                'thread_num': 2,
                'redirect_check_port': 8090,
                'redirect_check_query': '?service=mulcagate',
                'redirect_check_timeout_ms': 5000,
                },
            },
    },
}, merge=salt['pillar.get']('mulcagate'), default='STORAGE') %}
