telegram:
  token: 

startrek:
  token: 
  endpoint: https://st-api.yandex-team.ru

staff:
  token: 
  endpoint: https://staff-api.yandex-team.ru
  schedule_id:

resps:
  token: 
  endpoint: https://resps-api.cloud.yandex.net

database:
  host:
  port: 3306
  user: 
  passwd: 
  db_name: 
  ca_path: /path/to/root.crt
  
tvm:
  local_token:
  abc2_endpoint:
  bb_endpoint:

logs:
  path: /var/log/telegram_bot.log
  level: info
  max_size: 1048576
  backup_count: 2
  disable_telegram_debug: false
  disable_startrek_debug: false
