Source: pymonmongo
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@unknown>
Build-Depends: debhelper (>= 8.0.0), python3, python3-virtualenv
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/pymonmongo

Package: pymonmongo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: Python mongo query show
 Shows query from the profiler
