#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export VIRTUAL_ENV="debian/venv"

%:
	dh $@ 

override_dh_auto_build:
	debian/build-venv

override_dh_auto_install:
	mkdir -p debian/pymonmongo/usr/share/pymonmongo
	cp -r debian/venv debian/pymonmongo/usr/share/pymonmongo/venv

override_dh_auto_clean:
	git clean -fxd
