[Unit]
Description=Print instance IP address to COM1
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/print-ip-to-ttyS0.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target