[Unit]
Description=Selfdns client
After=cloud-init.service

[Service]
ExecStart=/usr/bin/selfdns-client --notoken --terminal --debug
Restart=on-failure
RestartSec=25s

[Install]
WantedBy=multi-user.target