[Unit]
Description=Proxy metadata service GCE
DefaultDependencies=no
After=yc-compute-metaproxy.service
Before=cloud-init.service

[Service]
ExecStartPre=-/sbin/ifup lo:1337 lo:1338
ExecStart=/usr/bin/socat TCP-LISTEN:80,bind=169.254.169.254,fork TCP:127.0.0.1:6770
Restart=always

[Install]
WantedBy=multi-user.target