[Unit]
Description=Proxy to metadata via vsock interface
DefaultDependencies=no
After=systemd-modules-load.service
ConditionPathExists=/etc/yc/compute-metaproxy/config.yaml

[Service]
User=yc-compute-metaproxy
ExecStart=/usr/bin/yc-compute-metaproxy --config /etc/yc/compute-metaproxy/config.yaml
Environment="GOTRACEBACK=crash"
LimitCORE=infinity
Restart=on-abort

[Install]
WantedBy=multi-user.target