# gvowels, gconsonants will need to be corrected if we start a real rule-based g2p for English
gvowels = anyof("aeiouy")
gconsonants = anyof("bcdefghjklmnpqrstvwxyz")

pvowels = anyof([AA1 AE0 AE1 AH0 AH1 AO0 AO1 AW0 AW1 AY0 AY1 EH0 EH1 EU0 EU1 EY0 EY1 IH0 IH1 IY0 IY1 OW0 OW1 OY0 OY1 UH0 UH1 UW0 UW1])
pconsonants = anyof([B CH D DH ER0 ER1 F G HH JH K L M N NG P R S SH T TH V W Y Z ZH])

syllable_splitter after_first_consonant
