{% set specific_decap_config = pillar["specific_decap_config"][grains['nodename']] %}
{% set generic_decap_config = pillar["generic_decap_config"] %}
{% set generic_netinfra_config = pillar["generic_netinfra_config"] %}
{% set location = grains["cluster_map"]["hosts"][grains['nodename']]["zone_id"] %}
{% set deployment = specific_decap_config["deployment"] %}
{% set decap_fv_peering_loopback_ipv4_address = specific_decap_config["decap_fv_peering_loopback_ipv4_address"]%}
{% set decap_anycast_loopback_ipv6_address =  generic_decap_config["anycast_route"][deployment][location]["address"] %}

{
  "logicalPorts": [
    {
      "physicalPort": "kni0",
      "vlanId": 0,
      "flow": {
        "type": "interface",
        "id": 0
      },
      "id": 0
    },
    {
      "physicalPort": "kni1",
      "vlanId": 0,
      "flow": {
        "type": "decap",
        "id": 0
      },
      "id": 1
    }
  ],
  "interfaces": [
    {
      "neighborIPv4Address": "10.255.254.1",
      "ipv4Prefix": "{{decap_fv_peering_loopback_ipv4_address}}/32",
      "interfaceName": "kni0.0",
      "flow": {
        "type": "logicalPort",
        "id": 0
      },
      "id": 0
    },
    {
      "interfaceName": "kni1.0",
      "ipv6Prefix": "{{ipv6_upstream_address}}/64",
      "flow": {
        "type": "logicalPort",
        "id": 1
      },
      "id": 1
    }
  ],
  "decaps": [
    {
      "flow": {
        "type": "interface",
        "id": 1
      },
      "anycastAddresses": "{{decap_anycast_loopback_ipv6_address}}",
      "id": 0
    }
  ]
}