{
  "id": "<< notification_channel >>",
  "projectId": "{{projectId}}",
  "name": "MDB Juggler notification channel",
  "notifyAboutStatuses": [
    "NO_DATA",
    "OK",
    "ERROR",
    "ALARM",
    "WARN"
  ],
  "repeatNotifyDelayMillis": 600000,
  "createdBy": "chapson",
  "method": {
    "juggler": {
      "host": "{{annotations.host}}",
      "service": "{{annotations.service}}",
      "description": "{{annotations.description}}",
      "tags": [
        "mdb",
        "mdb-<< env_name_dash >>"
      ]
    }
  }
}
