{
  "id": "<< id_prefix >>-dbm-gen3-ssd",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >>-dbm-gen3-ssd",
  "notificationChannels": [
    "<< notification_channel_tagged >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/dbm/dbm-gen3-flavors-ssd" %}"
    }
  },
  "annotations": {
    "description": "Allocation of 16vCPU, 64GiB RAM, 2048GiB SSD: {% for dc in dc_lst_gen3 %} <<dc>> - {{expression.<<dc>>_last}} {%- if not loop.last %},{% endif %}{% endfor %}",
    "value": "{{expression.result}}",
    "host": "mdb.yandex-team.ru",
    "service": "free-resources-g3-ssd"
  },
  "periodMillis": 300000,
  "delaySecs": 120,
  "description": ""
}
