[Unit]
Description=The plugin-driven server agent with MDB plugins
Documentation=https://github.com/influxdata/telegraf
After=network.target

[Service]
EnvironmentFile=-/etc/default/telegraf
User=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telegraf.conf 
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartForceExitStatus=SIGPIPE
KillMode=control-group
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
