{
  "id": "<< notification_channel >>",
  "projectId": "{{projectId}}",
  "name": "CloudBeaver juggler notification channel",
  "notifyAboutStatuses": [
    "NO_DATA",
    "OK",
    "ERROR",
    "ALARM",
    "WARN"
  ],
  "repeatNotifyDelayMillis": 600000,
  "createdBy": "robert",
  "method": {
    "juggler": {
      "host": "{{annotations.host}}",
      "service": "{{annotations.service}}",
      "description": "{{annotations.description}}",
      "tags": [
        "cloudbeaver",
        "cloudbeaver-<< env_name_dash >>"
      ]
    }
  }
}
