Director {
  Name = {{ bacula.dir.name }}
  @{{ secret_file }}
}
FileDaemon {
  Name = {{ bacula.fd.name }}
  FDAddresses = {
    ipv6 = {
      addr = {{ bacula.fd.address }}
      port = {{ bacula.fd.port }}
    }
  }
  WorkingDirectory = {{ bacula.dirs.work }}
  Pid Directory = /var/run/bacula
  Maximum Concurrent Jobs = 20
}
Messages { # Send all messages except skipped files back to Director
  Name = Standard
  director = {{ bacula.dir.name }} = all, !skipped, !restored
}
