Storage {
  Name = {{ bacula.dir.name }}
  WorkingDirectory = {{ bacula.dirs.work }}
  Pid Directory = "/var/run/bacula"
  Maximum Concurrent Jobs = 20
  SDAddresses = {
    ipv6 = {
      addr = {{ bacula.sd.address }};
      port = {{ bacula.sd.port }};
    }
  }
}
Director { # List Directors who are permitted to contact Storage daemon
  Name = {{ bacula.dir.name }}
  @{{ secret_file }}
}
Device { # FileStorage - Director's bacula-dir.conf must have the same Name and MediaType. 
  Name = {{ bacula.sd.device }}
  Media Type = {{ bacula.sd.media_type }}
  Archive Device = {{ bacula.dirs.archive }}
  LabelMedia = yes
  Random Access = Yes
  AutomaticMount = yes
  RemovableMedia = no
  AlwaysOpen = yes
}
Messages { # Send all messages to the Director, 
  Name = Standard
  director = {{ bacula.dir.name }} = all
}
