{%- set sec_dst = bacula.secrets.get("dst", "/etc/bacula/secrets") + '/' -%}

{%- for name, client in bacula.clients.items() %}

{%- set fname = client.get("secret_file", name) %}
{%- set client_secf = sec_dst + fname %}
Client {
  Name = {{ name }}
  Address = {{ client.get("address", name) }}
  FDPort = {{ client.get("port", 9102) }}
  Catalog = {{ bacula.dir.catalog.name }}
  @{{ client_secf }}
  File Retention = {{ client.get("file_retention", "30 days") }}
  Job Retention = {{ client.get("job_retention", "6 months") }}
  AutoPrune = {{ client.get("auto_prune", "yes") }}
}
{%- endfor %}
