{%- for name, fileset in bacula.filesets.items() %}

FileSet {
  Name = {{ name }}
  Include {
    Options {
      {%- if not fileset.get("options", {}).get("signature", "") %}
        signature = MD5
      {%- endif %}
      {%- for name, option in fileset.get("options", {}).items() %}
      {{ name }} = {{ option }}
      {%- endfor %}
    }
    {# File ='One per line'
       File = <file-name #}
    {%- for inc in fileset.include %}
      File = {{ inc }}
    {%- endfor %}
  }
  {%- if fileset.get("exclude") %}
  Exclude {
    {%- for exc in fileset.exclude %}
      File = {{ exc }}
    {%- endfor %}
  }
  {%- endif %}
}
{%- endfor %}
