{%- for name, schedule in bacula.schedules.items() %}
Schedule {
  Name = {{ name }}
  {%- for run in schedule %}
    Run = {{ run }}
    {#- Run = Full 1st sun at 23:05
       Run = Differential 2nd-5th sun at 23:05
       Run = Incremental mon-sat at 23:05 #}
  {%- endfor %}
}
{%- endfor %}

