{% set kafka_prometheus_metrics = [
        "jvm_gc_collection_seconds",
        "kafka_cluster_Partition_AtMinIsr",
        "kafka_cluster_Partition_InSyncReplicasCount",
        "kafka_cluster_Partition_InSyncReplicasCount",
        "kafka_cluster_Partition_ReplicasCount",
        "kafka_cluster_Partition_UnderMinIsr",
        "kafka_cluster_Partition_UnderReplicated",
        "kafka_controller_ControllerStats_LeaderElectionRateAndTimeMs",
        "kafka_controller_KafkaController_ActiveControllerCount",
        "kafka_controller_KafkaController_GlobalTopicCount",
        "kafka_controller_KafkaController_OfflinePartitionsCount",
        "kafka_controller_KafkaController_PreferredReplicaImbalanceCount",
        "kafka_log_Log_LogEndOffset",
        "kafka_log_Log_LogStartOffset",
        "kafka_log_Log_Size",
        "kafka_network_RequestChannel_RequestQueueSize",
        "kafka_network_RequestMetrics_Errors",
        "kafka_network_RequestMetrics_LocalTimeMs",
        "kafka_network_RequestMetrics_MessageConversionsTimeMs",
        "kafka_network_RequestMetrics_RemoteTimeMs",
        "kafka_network_RequestMetrics_RequestQueueTimeMs",
        "kafka_network_RequestMetrics_Requests",
        "kafka_network_RequestMetrics_ResponseQueueTimeMs",
        "kafka_network_RequestMetrics_ResponseSendTimeMs",
        "kafka_network_RequestMetrics_TotalTimeMs",
        "kafka_network_SocketServer_NetworkProcessorAvgIdlePercent",
        "kafka_server_BrokerTopicMetrics_BytesIn",
        "kafka_server_BrokerTopicMetrics_BytesOut",
        "kafka_server_BrokerTopicMetrics_FailedFetchRequests",
        "kafka_server_BrokerTopicMetrics_FailedProduceRequests",
        "kafka_server_BrokerTopicMetrics_FetchMessageConversions_total",
        "kafka_server_BrokerTopicMetrics_MessagesIn",
        "kafka_server_BrokerTopicMetrics_ProduceMessageConversions_total",
        "kafka_server_BrokerTopicMetrics_ReplicationBytesIn",
        "kafka_server_KafkaRequestHandlerPool_RequestHandlerAvgIdlePercent_count",
        "kafka_server_KafkaServer_BrokerState",
        "kafka_server_ReplicaFetcherManager_MaxLag",
        "kafka_server_ReplicaManager_LeaderCount",
        "kafka_server_ReplicaManager_OfflineReplicaCount",
        "kafka_server_ReplicaManager_PartitionCount",
        "kafka_server_ReplicaManager_ReassigningPartitions",
        "kafka_server_ReplicaManager_UnderMinIsrPartitionCount",
        "kafka_server_ReplicaManager_UnderReplicatedPartitions",
        "kafka_server_ZooKeeperClientMetrics_ZooKeeperRequestLatencyMs",
    ]
%}
