li.staff-item {
    margin: 2px;
    padding: 2px;
    clear: both;
    height: 50px;
} 

.staff-item > div {
    display: inline;
    float: left;
    width: 82%;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
}

.staff-item img {
    display: inline;
    float: right;
    height: 50px;
} 

.staff-item .depart {
    font-style: italic;
} 


.loading-gif {
    background-image: url('/static/cbb/img/gif-load1.gif');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 100% 50%;
}

.people-item-deleted {
    text-decoration: line-through;
}

.people-item-add {
    font-weight: bold;
}
