[Unit]
Description=Jaeger Agent

[Service]
KillMode=process
Type=simple
ExecStart=/usr/local/bin/jaeger-agent --config-file /etc/jaeger/agent.yaml
WorkingDirectory=/etc/jaeger
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
