.table
{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    &__header
    {
        background-color: rgba(196, 196, 196, 0.25);
    }

    &__body
    {
        margin-top: 0;
        border: 1px solid #ddd;
        color: #000000;
    }

    &__cell
    {
        text-align: left;

        &_header
        {
            user-select: none;
            padding: 20px 15px;
            font-weight: 500;
            font-size: 12px;
            color: #000000;
            text-transform: uppercase;
        }

        &_body
        {
            padding: 15px;
            font-weight: 300;
            font-size: 13px;
            border-bottom: solid 1px #ddd;
            white-space: pre-line;

            & .control.link.link_theme_normal
            {
                font-size: 12px;
                padding-bottom: 2px;
                display: block;

                &:last-child
                {
                    padding: 0;
                }
            }
        }
    }

    &__row
    {
        &_body
        {
            overflow: hidden;
            word-break: break-all;
        }
    }
}
