[Unit]
Description=Push client
AssertFileIsExecutable=/usr/bin/push-client
AssertFileNotEmpty=/etc/push-client/push-client.yaml
After=multi-user.target

[Service]
User=push-client-user
Group=push-client-user

ExecStart=/usr/bin/push-client -f -c /etc/push-client/push-client.yaml

MemoryAccounting=true
MemoryLimit=1024M
CPUAccounting=true
CPUQuota=200%
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGHUP=no
Restart=always

[Install]
WantedBy=multi-user.target