[Unit]
Description=Solomon agent
AssertFileIsExecutable=/usr/local/bin/solomon-agent
AssertFileNotEmpty=/etc/solomon/solomon-agent.conf
After=multi-user.target

[Service]
User=nobody
Group=nogroup

ExecStart=/usr/local/bin/solomon-agent --config /etc/solomon/solomon-agent.conf

MemoryAccounting=true
MemoryLimit=1024M
CPUAccounting=true
CPUQuota=200%
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGHUP=no
Restart=always

[Install]
WantedBy=multi-user.target