[Unit]
Description=MDB deploy saltkeys

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-deploy-saltkeys/bin/mdb-deploy-saltkeys
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
WorkingDirectory=/etc/yandex/mdb-deploy-saltkeys

[Install]
WantedBy=multi-user.target
