# Перед использованием удалите все комментарии (начинаются с #)
# Темплейты различных проверок для http сервисов
# Подключать можно как всё: - monrun_checks.http
# Так и отдельные проверки: - monrun_check.http.ping
# В этом примере перечисляются всё возможные данные, которые могут быть переданы каждому из темплейтов
# и их значения по умолчанию, которые можно переопределить (если устраивает дефолт - можно не указывать вообще)
### mopts словарь содержит параметры, которые вы хотите передать для конфига monrun
# ping.sls: засоленный jhttp.sh, поддерживает практически все параметры. Обязательным является 'Имя проверки'
# timings.sls: засоленный http-timing.rb, поддерживает все параметры. Обязательным является 'Имя проверки'

monrun_checks:
  http:
    ping:
      - afisha.yandex.ru-http:                      # Имя проверки. По умолчанию значения нет
          host: afisha.yandex.ru                    # http-заголовок Host. Если не указан используется имя проверки(выше)
          port: 80
          timeout: 3
          scheme: http
          url: "/ping"
          server: localhost
          expect: "code:200"
          curloptions: "-k"
          antiflap: 1
          mopts:
            execution_interval: 60
            execution_timeout: 30
            any_name: any_value
    timings:
      - afisha.yandex.ru-timings:                   # Имя проверки. По умолчанию значения нет
          time: 60                                  # Время, за которое timetail'ить лог
          type: common                              # Тип лога для timetail (который -t)
          pattern: /var/log/nginx/access.log        # Что таймтейлить. Допускается, например: /var/log/nginx/access.log| grep " afisha2\."
          field: (NF-6)                             # Поле для awk, в котором находится интересующее нас время
          threshold: 1                              # Если 75%-процентиль больше него - критикал
          mopts:
            execution_interval: 60
            execution_timeout: 30
            any_name: any_value
