Source: yandex-lxd-icecream-agent
Section: admin
Priority: optional
Maintainer: Vyacheslav Agapov <vyacheslav@yandex-team.ru>
Build-Depends: debhelper (>=9), yandex-dh-noconffiles, dh-systemd
Standards-Version: 3.9.6
Homepage: https://wiki.yandex-team.ru/media-admin/icecream/agent
VCs-Git: git://github.yandex-team.ru/yandex-icecream/agent.git

Package: yandex-lxd-icecream-agent
Architecture: all
Depends: python3-flask, python3-lvm2, python3-psutil, python3-requests,
         python3-dotmap, python3-raven, python3-blinker, python3-connexion,
         nginx, nginx-full, nginx-common, uwsgi, uwsgi-plugin-python3,
         ubic
Description: python lxd media icecream agent
