#!/usr/bin/make -f

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_installdeb:
	dh_installdeb
	dh_noconffiles --all

override_dh_installinit:
	dh_systemd_enable -pyandex-lxd-icecream-agent --name=icecream-agent icecream-agent.service
	dh_installinit -pyandex-lxd-icecream-agent --no-start --noscripts
	dh_systemd_start -pyandex-lxd-icecream-agent --no-restart-on-upgrade

override_dh_systemd_start:
	echo "Not running dh_systemd_start"

%:
	dh $@ --with systemd
