[Unit]
Description=Icecream agent systemd integration
After=network.target
Before=nginx.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/uwsgi --json /etc/yandex/icecream-agent/uwsgi.json
WorkingDirectory=/usr/lib/yandex/icecream-agent
KillSignal=SIGQUIT
Restart=always
TimeoutSec=300

[Install]
WantedBy=multi-user.target
