Source: config-monitoring-common
Section: misc
Priority: extra
Maintainer: Yudin Sergey <tsipa@yandex-team.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Vcs-Svn: svn+ssh://svn.yandex.ru/admin-tools/trunk/config-monitoring-common
Homepage: 

Package: config-monitoring-common
Architecture: all
Depends: ${misc:Depends}, procps, monrun, yandex-lib-autodetect-environment, dnsutils, sudo
Replaces: config-monrun-ncq-enable, config-monrun-logrotate, config-monrun-cron-check, config-monrun-daemon-check
Suggests: juggler-client
Conflicts: config-monitoring-corba-la-check, config-monrun-daemon-check
Provides: config-monitoring-corba-la-check, config-monrun-daemon-check
Vcs-Svn: svn+ssh://svn.yandex.ru/admin-tools/trunk/config-monitoring-common
Description: common checks for juggler-agent
 Common checks (raid,hw_errs,ntp,unispace,watchdog,ncq,logrotate,cron) for juggler-agent monitoring
