Source: mysql-grants
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts, virtualenv | python-virtualenv, libmysqlclient-dev
Standards-Version: 3.9.2

Package: mysql-grants-4
Architecture: all
Description: mysql-grants-update script - the part of mysql-configurator in python(will replace old perl script)
