#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export VIRTUAL_ENV="debian/venv"

%:
	dh $@

override_dh_auto_build:
	git submodule update --init
	debian/build-venv

override_dh_auto_install:
	mkdir -p debian/mysql-grants-4/usr/share/mysql-grants-4
	mkdir -p debian/mysql-grants-4/etc/mysql-configurator
	cp -r debian/venv debian/mysql-grants-4/usr/share/mysql-grants-4/venv
	cp -r conf debian/mysql-grants-4/etc/mysql-configurator

override_dh_auto_clean:
	dh_auto_clean

