{
    "log": {
        "level": "DEBUG"
    },
    "storage": {
        "type": "lvm",
        "name": "lxd"
    },
    "api": {
        "host": "https://yab.yandex-team.ru",
        "token": "AQAD-1234567890"
    },
    "sentry": "sentry dsn url",
    "pool": "your hw pool name"
}
