{% set id = config_name %}
{% set name = "CPU Usage" %}

{% extends "../../base/graph.j2" %}

{% set parameters = (
    ("cluster", "cloud_*"),
    ("host", "cluster"),
) %}

{% block elements %}
    {{ render_element("Irq+Io",
        area="true",
        color="yellow",
        expression=
        "series_sum({cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', cpu='*', name='system.IoWaitTime|system.IrqTime'})"
    ) }},
    {{ render_element("System",
        area="true",
        color="red",
        expression=
        "series_sum({cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', cpu='*', name='system.SystemTime'})"
    ) }},
    {{ render_element("User",
        area="true",
        color="blue",
        expression=
        "series_sum({cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', cpu='*', name='system.UserTime'})"
    ) }},
    {{ render_element("Idle",
        area="true",
        color="white",
        expression=
        "series_sum({cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', cpu='*', name='system.IdleTime'})"
    ) }}
{% endblock %}
