{% set id = config_name %}
{% set name = "Memory Usage" %}

{% extends "../../base/graph.j2" %}

{% set parameters = (
    ("cluster", "cloud_*"),
    ("host", "cluster"),
) %}

{% block elements %}
    {{ render_element("Total",
        area="false",
        expression=
        "{cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', name='memory.MemTotal'}"
    ) }},
    {{ render_element("Free",
        area="false",
        expression=
        "{cluster='cloud_prod_compute_health', service='sys_scheduler', host='[[host]]', name='memory.MemFree'}"
    ) }}
{% endblock %}
