{% set id = config_name %}
{% set name = "[resources] " + metric + " used" %}
{% set downsampling = "BY_INTERVAL" %}
{% set grid = "10m" %}
{% set secondary_graph_mode = "PIE" %}

{% extends "../../base/graph.j2" %}

{% set parameters = (
    ("cluster", "cloud_*_scheduler"),
    ("service", "resources"),
    ("zone_id", "ru-*"),
    ("platform", "*"),
    ("host_group", "all"),
) %}

{% block elements %}
    {{ render_element(metric + " USED",
        area="true",
        expression=
        "{metric=" + (metric|lower) + "_total, node_name=all_nodes} - "
        "{metric=" + (metric|lower) + "_free, node_name=all_nodes} - "
        "{metric=" + (metric|lower) + "_disabled, node_name=all_nodes} "
    ) }},
    {{ render_element(metric + " FREE",
        area="true",
        expression="{metric=" + (metric|lower) + "_free, node_name=all_nodes}"
    ) }},
    {{ render_element(metric + " DISABLED",
        area="true",
        down="false",
        expression="{metric=" + (metric|lower) + "_disabled, node_name=all_nodes}"
    ) }}
{% endblock %}
