{% set id = config_name %}
{% set name = "[resources] " + metric + " used (by instance types)" %}
{% set downsampling = "BY_INTERVAL" %}
{% set grid = "10m" %}
{% set secondary_graph_mode = "PIE" %}

{% extends "../../base/graph.j2" %}

{% set parameters = (
    ("cluster", "cloud_*_scheduler"),
    ("service", "resources"),
    ("zone_id", "ru-*"),
    ("platform", "*"),
    ("host_group", "all"),
) %}

{% block elements %}
    {{ render_element(metric + " USED: on-demand",
        area="true",
        expression=
        "group_lines('sum', {metric=on_demand_*_" + (metric|lower) + "_used, node_name=all_nodes})"
    ) }},
    {{ render_element(metric + " USED: preembptible",
        area="true",
        expression=
        "group_lines('sum', {metric=preemptible_*_" + (metric|lower) + "_used, node_name=all_nodes})"
    ) }}
{% endblock %}
