{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Deploy{% endblock %}
{% block objects_model_label %}Minions{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>FQDN</th>
        <th>Master</th>
        <th>Group</th>
        <th>Auto reassign</th>
        <th>Deleted</th>
        <th>Created at</th>
        <th>Commands</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link_c }}</td>
        <td>{{ obj.master.self_link_c }}</td>
        <td>{{ obj.group.self_link }}</td>
        <td>{{ obj.auto_reassign|bool_label }}</td>
        <td>{{ obj.deleted|bool_label }}</td>
        <td data-order="{{ obj.created_at|date:"Uu" }}">{% dt_formatted obj.created_at %}</td>
        <td><a href="/ui/deploy/commands?minion=^{{ obj.fqdn }}$"> Commands -></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
