{% extends "../../base/alert.j2" %}

{% macro prog() %}
let lengthy_events_count = sum(histogram_count({{ threshold_ms }} * 1000, inf(),  {
	cluster=='cloud_{{ env }}_cloudgate',
	host='{{ host }}',
	service=='bpftrace',
	name=='vpp_barrier_release_timings_us',
	host='{{ host }}'
}));

let is_red = lengthy_events_count > {{ crit }};
let is_yellow = lengthy_events_count > {{ warn }};
let description = 'VPP holding barrier has ' + lengthy_events_count + ' events slower than {{ threshold_ms }}ms';

alarm_if(is_red);
warn_if(is_yellow);
{% endmacro %}


{% block main %}
	"name": "CGW VPP too much lengthy barrier holds {{ typ }} @ {{ env }}",
	"description": "VPP holding barrier has events slower than {{ threshold_ms }}ms",
	"type": {{ type_expression() }},
	"groupByLabels": ["host"],
	"state": "ACTIVE",
	"annotations": {
		"host": "{{ svm_fqdn() }}",
		"tags": "Solomon, yc-{{env}}, yc-cgw",
		"service": "{{ typ }}-vpp-lengthy-barrier",
		"wiki": "https://docs.yandex-team.ru/yc-monitoring/cgw/cgw-vpp-lengthy-barrier",
		"details": "[[expression.description]]"
	}
{% endblock %}
