{{ params|yaml(False) }}

{% if default %}
{% if ssh %}
gitfs_remotes:
- ssh://{{ params.user }}@git.yandex.ru/media_salt.git:
  - root: {{ project }}/roots
  - name: {{ project }}
- ssh://{{ params.user }}@git.yandex.ru/media_salt.git:
  - root: common/roots
  - name: common
{% if gitfs_remotes is defined -%}
{{ gitfs_remotes|yaml(False) }}
{% endif %}
ext_pillar:
- git:
  - {{ senv }} {{ params.user }}@git.yandex.ru:media_salt.git:
    - root: {{ project }}/pillar
{% if ext_pillar is defined -%}
{{ ext_pillar|yaml(False) }}
{% endif %}
{% else %}
gitfs_remotes:
- git://git.yandex.ru/media_salt.git:
  - root: {{ project }}/roots
  - name: {{ project }}
- git://git.yandex.ru/media_salt.git:
  - root: common/roots
  - name: common
- ssh://git@github.yandex-team.ru/kinopoisk-secure/salt-secure.git:
  - root: jkp/roots
  - name: secure
- ssh://git@github.yandex-team.ru:content-secure/content-salt-secure.git:
  - root: content/roots
  - name: content_secure
{% if gitfs_remotes is defined -%}
{{ gitfs_remotes|yaml(False) }}
{% endif %}
ext_pillar:
- git: {{ senv }} git://git.yandex.ru/media_salt.git root={{ project }}/pillar
{% if ext_pillar is defined -%}
{{ ext_pillar|yaml(False) }}
{% endif %}
{% endif %}

file_roots:
  {{ senv }}:
  - /srv/salt/roots
{%- if file_roots is defined %}
  {{ file_roots|yaml(False)|indent(2) }}
{% endif %}
{% else %}
{% if gitfs_remotes is defined %}
gitfs_remotes:
{{ gitfs_remotes|yaml(False) }}
{% endif %}
{% if ext_pillar is defined %}
ext_pillar:
{{ ext_pillar|yaml(False) }}
{% endif %}
{% if file_roots is defined %}
file_roots:
{{ file_roots|yaml(False) }}
{% endif %}
{% endif %}

pillar_source_merging_strategy: recurse
pillar_merge_lists: True
