Source: config-monitoring-weather
Section: misc
Priority: extra
Maintainer: Zhivotnev Vladislav <inkvizitor68sl@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
#Vcs-Git: git://git.debian.org/collab-maint/config-nginx-jetstyle.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/config-nginx-jetstyle.git;a=summary

Package: config-monitoring-weather
Architecture: all
Depends: snaked, monrun, juggler-client, juggler-client, config-juggler-client-media, corba-juggler-virtual-meta, config-monitoring-corba-ssh-check, config-monitoring-corba-la-check, config-monitoring-pkgver
Description: juggler configuration for all WEATHER hosts

Package: config-monitoring-weather-dfront
Architecture: all
Depends: config-monitoring-weather, yandex-juggler-500-check, yandex-juggler-500-check-temp, yandex-juggler-http-check, libshflags
Description: juggler configuration for WEATHER django fronts

Package: config-monitoring-weather-memcache
Architecture: all
Depends: config-monitoring-weather, yandex-juggler-memchached-check

Package: config-monitoring-weather-zk
Architecture: all
Depends: yandex-juggler-zookeeper-check, config-monitoring-weather

Package: config-monitoring-weather-editor
Architecture: all
Depends: config-monitoring-weather, yandex-juggler-500-check, yandex-juggler-500-check-temp, yandex-juggler-http-check, libshflags
