#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-monitoring-weather/etc/monrun/conf.d/
	cp -r common/* debian/config-monitoring-weather/etc/monrun/conf.d/

	# dfront package
	mkdir -p debian/config-monitoring-weather-dfront/etc/monrun/conf.d/
	cp -r dfront/* debian/config-monitoring-weather-dfront/etc/monrun/conf.d/

	# memcache package
	mkdir -p debian/config-monitoring-weather-memcache/etc/monrun/conf.d/
	cp -r memcache/* debian/config-monitoring-weather-memcache/etc/monrun/conf.d/

	# editor package
	mkdir -p debian/config-monitoring-weather-editor/etc/monrun/conf.d/
	cp -r editor/* debian/config-monitoring-weather-editor/etc/monrun/conf.d/

%:
	dh $@

