.support-page-item
{
    & + &
    {
        margin-top: 20px;
    }

    &__title
    {
        font-weight: bold;
        display: inline;
        padding-right: 5px;

        &:after
        {
            content: ":";
        }
    }

    &__content
    {
        margin-top: 10px;
        white-space: pre-line;
        display: inline;
    }

    & .link
    {
        color: #000;
        text-decoration: none;
    }

    &__contacts
    {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .06);
    }
}
