{% load lib.templatetags %}
{% load deploy.templatetags %}
{% if commands %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Minion</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Last displatch attement at</th>
      <th>Jobs</th>
    </tr>
  </thead>
  <tbody>
    {% for command in commands %}
    <tr>
      <td>{{ command.obj.self_link_c }}</td>
      <td>{{ command.obj.minion.self_link_c }}</td>
      <td>{{ command.obj|command_ui_status }}
      <td data-order="{{ command.obj.created_at|date:"Uu" }}">{% dt_formatted command.obj.created_at %}</td>
      <td data-order="{{ command.obj.last_dispatch_attempt_at|date:"Uu" }}">{% dt_formatted command.obj.last_dispatch_attempt_at %}</td>
      <td style="padding: 0px">
        <table class="table table-hover noodle-table noodle-table-inc">
          <thead>
            <tr>
              <th>Job ID</th>
              <th>Ext Job ID</th>
              <th>Status</th>
              <th>Created at</th>
              <th>Last running check at</th>
            </tr>
          </thead>
          <tbody>
            {% for job in command.jobs %}
            <tr>
              <td>{{ job.obj.pk }}</td>
              <td>
                {% if job.job_result %}
                  <a href="/ui/deploy/job_results/{{ job.job_result.pk }}">{{ job.job_result.ext_job_id }} ({{ job.job_result.status }})</a>&nbsp;{% simple_copy job.job_result.ext_job_id %}
                {% else %}
                {{ job.obj.ext_job_id }}
                {% endif %}
              </td>
              <td>{{ job.obj.status|default_label }}</td>
              <td>{% dt_formatted job.obj.created_at %}</td>
              <td>{% dt_formatted job.obj.last_running_check_at %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
{% update_tab_badge "commands" commands|length %}
