{% set heavy_requests = {
    "ResolveNetworkLoadBalancers": "loadbalancer.v1.inner.LoadBalancerComputeInternalService/ResolveNetworkLoadBalancers",
    "GetNetworkLoadBalancer": "loadbalancer.v1.inner.LoadBalancerComputeInternalService/GetNetworkLoadBalancer",
} %}
