Source: config-afisha-zookeeper
Section: misc
Priority: extra
Maintainer: Zhivotnev Vladislav <inkvizitor68sl@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
#Vcs-Git: git://git.debian.org/collab-maint/config-nginx-jetstyle.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/config-nginx-jetstyle.git;a=summary

Package: config-afisha-zookeeper
Architecture: all
Pre-depends: zookeeper, zookeeperd
Description: Configuration for %afisha_zk


