.backstage-global-search {
/*    background-color: #1a1a1a;*/
    border-color: #3a3a3a;
}
.backstage-global-search:focus {
    border-color: #343434;
}
.backstage-global-search-btn {
    background-color: #353535;
}
.backstage-global-search-btn:hover {
    color: gray;
    background-color: #262626;
}
.backstage-global-search-btn:focus {
    color: gray;
    background-color: #262626;
}
.backstage-brand {
    color: white !important;
}

.backstage-label-default,
.backstage-meta-cluster-status-creating,
.backstage-meta-cluster-status-modifying,
.backstage-meta-cluster-status-stopping,
.backstage-meta-cluster-status-stopped,
.backstage-meta-cluster-status-starting,
.backstage-meta-cluster-status-deleting,
.backstage-meta-cluster-status-deleted,
.backstage-meta-cluster-status-purging,
.backstage-meta-cluster-status-purged,
.backstage-meta-cluster-status-metadata-deleting,
.backstage-meta-cluster-status-metadata-deleted,
.backstage-deploy-job-result-notrunning {
    color: #001c34;
    background-color: #767676;
}

.backstage-label-success,
.backstage-cms-decision-status-done,
.backstage-cms-instance-operation-status-ok,
.backstage-cms-instance-operation-status-ok-pending,
.backstage-meta-host-status-alive,
.backstage-deploy-job-result-status-success,
.backstage-deploy-command-done,
.backstage-deploy-job-done,
.backstage-deploy-shipment-done {
    color: #07a700 !important;
    background-color: #354534 !important;
}

.backstage-cms-decision-status-wait,
.backstage-cms-decision-status-processing,
.backstage-cms-decision-status-before-done,
.backstage-cms-instance-operation-status-in-progress,
.backstage-deploy-command-running,
.backstage-deploy-job-running,
.backstage-deploy-shipment-in_progress {
    background-color: #1d5fa2 !important;
    color: #030608 !important;
}

.backstage-label-warning,
.backstage-cms-walle-action-reboot,
.backstage-cms-walle-action-change-disk,
.backstage-cms-walle-action-temporary-unreachable,
.backstage-meta-host-status-degraded,
.backstage-deploy-job-result-status-timeout,
.backstage-deploy-command-timeout,
.backstage-deploy-command-blocked,
.backstage-deploy-job-timeout,
.backstage-deploy-shipment-timeout {
    background-color: #c6b366 !important;
    color: #573100 !important;
}

.backstage-label-error,
.backstage-cms-walle-action-profile,
.backstage-cms-walle-action-redeploy,
.backstage-cms-decision-status-rejected,
.backstage-cms-decision-status-escalated,
.backstage-cms-instance-operation-status-rejected,
.backstage-cms-instance-operation-status-reject-pending,
.backstage-meta-host-status-dead,
.backstage-deploy-job-result-status-failure,
.backstage-meta-cluster-status-create-error,
.backstage-meta-cluster-status-modify-error,
.backstage-meta-cluster-status-stop-error,
.backstage-meta-cluster-status-start-error,
.backstage-meta-cluster-status-delete-error,
.backstage-meta-cluster-status-purge-error,
.backstage-meta-cluster-status-metadata-delete-error,
.backstage-deploy-job-error,
.backstage-deploy-shipment-error,
.backstage-command-deploy-error {
    background-color: #813138 !important;
    color: #ff9b9a !important;
}

.backstage-deploy-command-available {
    background-color: #7289a0 !important;
    color: #050a0f !important;
}


.backstage-label-filter-error,
.backstage-cms-decision-status-filter-rejected,
.backstage-cms-decision-status-filter-escalated,
.backstage-cms-instance-operation-status-filter-rejected,
.backstage-cms-instance-operation-status-filter-reject-pending,
.backstage-meta-cluster-status-create-error,
.backstage-meta-cluster-status-modify-error,
.backstage-meta-cluster-status-stop-error,
.backstage-meta-cluster-status-start-error,
.backstage-meta-cluster-status-delete-error,
.backstage-meta-cluster-status-purge-error,
.backstage-meta-cluster-status-metadata-delete-error,
.backstage-deploy-command-error {
    background-color: #813138 !important;
    color: #ff9b9a !important;
}

.backstage-salt-state-no-changes {
    background-color: #354534 !important;
    border-top: 1px solid #5b5b5b !important;
}

.backstage-salt-state-has-changes {
    background-color: #405561 !important;
    border-top: 1px solid #5b5b5b !important;
}

.backstage-salt-state-error {
    background-color: #813138 !important;
    border-top: 1px solid #5b5b5b !important;
}
