.backstage-type {
    display:inline-block;
    line-height:0px;
    border-radius: 50%;
    background-color: #147ceb;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.backstage-type span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}
.backstage-type-cms {
    background-color: #027bf3;
}

.backstage-type-filter {
    background-color: gray;
}

.backstage-cms-host-element {
    color: #dbdbdb !important;
}

.backstage-cms-host-element:hover {
    color: gray !important;
}

/* bakcstage-label */

.backstage-label {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    font-weight: 300;
    font-size: 12px;
}

.backstage-label-default,
.backstage-meta-cluster-status-creating,
.backstage-meta-cluster-status-modifying,
.backstage-meta-cluster-status-stopping,
.backstage-meta-cluster-status-stopped,
.backstage-meta-cluster-status-starting,
.backstage-meta-cluster-status-deleting,
.backstage-meta-cluster-status-deleted,
.backstage-meta-cluster-status-purging,
.backstage-meta-cluster-status-purged,
.backstage-meta-cluster-status-metadata-deleting,
.backstage-meta-cluster-status-metadata-deleted,
.backstage-deploy-job-result-notrunning {
    color: #3b6080;
    background-color: #e3e6e9;
}

.backstage-label-success,
.backstage-cms-decision-status-done,
.backstage-cms-instance-operation-status-ok,
.backstage-cms-instance-operation-status-ok-pending,
.backstage-meta-host-status-alive,
.backstage-deploy-job-result-status-success,
.backstage-deploy-command-done,
.backstage-deploy-job-done,
.backstage-deploy-shipment-done {
    color: #07a300;
    background-color: #ebfaea;
}

.backstage-label-error,
.backstage-cms-walle-action-profile,
.backstage-cms-walle-action-redeploy,
.backstage-cms-decision-status-rejected,
.backstage-cms-decision-status-escalated,
.backstage-cms-instance-operation-status-rejected,
.backstage-cms-instance-operation-status-reject-pending,
.backstage-meta-host-status-dead,
.backstage-deploy-job-result-status-failure,
.backstage-meta-cluster-status-create-error,
.backstage-meta-cluster-status-modify-error,
.backstage-meta-cluster-status-stop-error,
.backstage-meta-cluster-status-start-error,
.backstage-meta-cluster-status-delete-error,
.backstage-meta-cluster-status-purge-error,
.backstage-meta-cluster-status-metadata-delete-error,
.backstage-command-deploy-error,
.backstage-deploy-job-error,
.backstage-deploy-shipment-error {
    background-color: #feefee;
    color: #ff3330;
}

.backstage-label-warning,
.backstage-cms-walle-action-reboot,
.backstage-cms-walle-action-change-disk,
.backstage-cms-walle-action-temporary-unreachable,
.backstage-meta-host-status-degraded,
.backstage-meta-host-status-unknown,
.backstage-deploy-job-result-status-timeout,
.backstage-deploy-command-timeout,
.backstage-deploy-command-blocked,
.backstage-deploy-job-timeout,
.backstage-deploy-shipment-timeout {
    background-color: #fff4c9;
    color: #d27a06;
}

.backstage-cms-decision-status-new,
.backstage-cms-decision-status-cleanup,
.backstage-cms-instance-operation-status-new,
.backstage-cms-instance-operation-type-move {
    background-color: #b7b7fb;
    color: #2a2a8b;
}

.backstage-cms-decision-status-ok,
.backstage-cms-decision-status-at-wall-e,
.backstage-cms-instance-operation-type-whip_primary_away {
    background-color: #ffc592;
    color: #3e2713;
}

.backstage-cms-decision-status-wait,
.backstage-cms-decision-status-processing,
.backstage-cms-decision-status-before-done,
.backstage-cms-instance-operation-status-in-progress,
.backstage-deploy-job-running,
.backstage-deploy-shipment-in_progress {
    background-color: #90c1f3;
    color: #0c233a;
}

.backstage-deploy-command-running,
.backstage-deploy-command-available {
    background-color: #e3f1ff;
    color: #0c233a;
}

/* bakcstage-label-filter */
.backstage-label-filter-default {
    color: #1a2834;
    background-color: #b2d1ef;
}

.backstage-label-filter-success,
.backstage-cms-decision-status-filter-done,
.backstage-cms-instance-operation-status-filter-ok,
.backstage-cms-instance-operation-status-filter-ok-pending,
.backstage-meta-cluster-status-running {
    background-color: #9fee9a;
    color: #0d6908;
}

.backstage-label-filter-error,
.backstage-cms-decision-status-filter-rejected,
.backstage-cms-decision-status-filter-escalated,
.backstage-cms-instance-operation-status-filter-rejected,
.backstage-cms-instance-operation-status-filter-reject-pending,
.backstage-meta-cluster-status-create-error,
.backstage-meta-cluster-status-modify-error,
.backstage-meta-cluster-status-stop-error,
.backstage-meta-cluster-status-start-error,
.backstage-meta-cluster-status-delete-error,
.backstage-meta-cluster-status-purge-error,
.backstage-meta-cluster-status-metadata-delete-error,
.backstage-deploy-command-error {
    background-color: #ffbdb9;
    color: #dd1b18;
}
.backstage-action-button {
    padding: 3px 8px;
    margin-top: 7px;
    border: 1px solid transparent;
}
.action-buttons-panel > li {
    margin-right: 7px;
}
.cluster_logo {
    padding-right: 5px;
}
.backstage-salt-state-has-changes {
    background-color: #C9E8F7 !important;
    border-top: 1px solid #fff !important;
}
.backstage-salt-state-no-changes {
    background-color: #DDF7C9 !important;
    border-top: 1px solid #fff !important;
}
.backstage-salt-state-error {
    background-color: #f7c9c9 !important;
    border-top: 1px solid #fff !important;
}
.backstage-sls-url {
    color: #818793 !important;
}
.backstage-sls-url:hover {
    color: #backstage0000 !important;
}
.backstage-salt-state {
    font-weight: 500;
    font-size: 14px;
}
.backstage-salt-ok {
    font-weight: 500;
    color: green;
}
.backstage-salt-changed {
    font-weight: 500;
    color: #2097df;
}
.backstage-salt-error {
    color: red;
    font-weight: 500;
}
.backstage-salt-changes-table > tbody > tr > td {
    vertical-align: top;
}
.backstage-salt-changes-table tbody > tr > td:first-child, .backstage-salt-changes-table > thead > tr > th {
    padding-left: 10px;
}
.backstage-salt-filename {
    font-weight: 500;
}
.backstage-code {
    font-family: monospace;
}
.backstage-installation-table {
    margin-bottom: 0px;
}
.backstage-installation-link {
}
.backstage-installation-img {
    padding-right: 5px;
}
.backstage-installation-current {
    font-weight: 500;
}
.backstage-quota-exceeded {
    background-color: #ffe0e0 !important;
}
.backstage-collapse {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
}
.backstage-collapse-header {
    padding: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}
.backstage-dashboard-label {
    font-size: 16px;
    font-weight: 300;
}
.backstage-global-search {
    border-radius: 5px;
    margin-top: 4px;
    width: 300px;
    min-width: 300px;
    border: none;
    font-family: "Yandex Sans Text";
    height: 29px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

}
.backstage-global-search:focus {
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.backstage-global-search-btn {
    margin-top: 4px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    background-color: #f3f3f3;
    border: none;
/*    padding-top: 10px;
    padding-bottom: 7px;*/
    outline: none !important;
}

.backstage-global-search-btn:hover {
    outline: none !important;
    background-color: #D8D8D8;
}
.backstage-global-search-btn:focus {
    outline: none !important;
    background-color: #D8D8D8;
}
.backstage-brand {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: black !important;
    padding-left:10px;
}
.backstage-brand-installation {
    color: gray;
    font-size: 14px;
}
