body  {
    font-size: 13px;
    font-family: "Yandex Sans Text";
    -moz-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings:"liga=1, kern=1";
    -ms-font-feature-settings:"liga", "kern";
    -o-font-feature-settings:"liga", "kern";
    -webkit-font-feature-settings:"liga", "kern";
    font-feature-settings: "liga", "kern";
    padding-bottom:15px;
    background-color: white;
}

body h1,h2,h3,h4,h5  {
    margin-top:0px;
}

body .fa {
    font-size:13px;
}
a {
    cursor: pointer;
    color: #0044bb;
    text-decoration: none;
}
a:hover {
    color: #cc0000;
}

.form-control {
    box-shadow: none;
    font-size: 12px;
    font-family: monospace;
}

.form-control:focus {
    box-shadow: none;
}
.form-control.input-red-border:focus {
    border-color: red;
    box-shadow: none;
}

.input-red-border {
    border: 1px solid red;
}

.help-block {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    font-size: 13px;
    padding-left: 10px;
}

.noodle-bread-delim {
    color: #a1a1a1;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -7px;
}

.navbar-brand {
    padding-left: 0px;
    padding-top: 5px;
    margin-right: 0px;
}

.navbar-default {
    border-bottom:1px solid #e8e8e8;
    border-top: 0px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    font-size: 15px;
    z-index: 1000;
}


.nav > li {
    margin-right: 15px;
    border-bottom: none;
}

.nav > li.active {
    border-bottom:2px solid #027bf3;
}

.nav > li > a {
    padding-left: 0px;
    padding-right: 0px;
    color: gray;
    border: 1px solid transparent;
}

.nav > li > a > .caret {
    color: #b5b5b5;
}

.nav-tabs > li > a:hover {
    border:1px solid transparent;
}

.nav > li.active > a {
    outline: none;
    color: black;
    border: 1px solid transparent;
}

.nav > li.active > a:hover {
    outline: none;
    border: 1px solid transparent;
}

.nav > li.active > a:focus {
    outline: none;
    border: 1px solid transparent;
    color: black;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
}
.noodle-nav {
    padding-left: 50px;
}
.noodle-nav  > li > a {
    font-size: 13px;
    color: #5e5e5e !important;
}
.content {
    min-height: 50%;
}

.content a {
    color: #0044bb;
    text-decoration: none;
}

.content a:hover {
    color: #cc0000;
}
.noodle-http-error {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: fit-content;
    font-family: monospace;
    color: #b90000;
    background: repeating-linear-gradient(45deg, #fdecec, #fdecec 10px,  #fff 10px,  #Fff 20px);
}
.noodle-http-error-header {
    font-weight: 600;
}
.noodle-table {
    background-color: transparent !important;
}
.noodle-table tbody > tr > td {
    font-size: 13px;
    border-top: 1px solid #f2f2f2;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
}

.noodle-table thead > tr > th {
    font-size: 13px;
    border: none;
    font-weight: 500;
    padding-top: 9px;
    padding-bottom: 9px;
}

.pagination > li > a, .pagination > li > span {
    border: 1px solid #f3f3f3;
}

.noodle-table tbody > tr > td:first-child {
    padding-left:25px;
}

.noodle-table thead > tr > th:first-child {
    padding-left: 25px;
}

.noodle-table tbody > tr > td:first-child {
    padding-left:25px;
}

.noodle-table thead > tr > th:first-child {
    padding-left: 25px;
}

.noodle-table-inc-label {
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 10px;
}

.noodle-table-inc {
    margin-bottom: 0px;
}

.noodle-table-inc tbody > tr > td:first-child {
    padding-left: 10px;
}

.noodle-table-inc  thead > tr > th:first-child {
    padding-left: 10px;
}

.noodle-table-inc thead > tr > th {
    color: gray;
}

.noodle-table-no-ceil-padding tbody > tr > td {
    padding: 0px;
}

.noodle-table-no-ceil-padding tbody > tr > th {
    padding: 0px;
}

.noodle-table-no-ceil-padding tbody > tr > td:first-child {
    padding-left: 0px;
}

.noodle-table-no-ceil-padding thead > tr > th:first-child {
    padding-left: 0px;
}

.noodle-footer {
    position: relative;
    color: #aaa;
    font-size:14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.noodle-footer a {
    color: #669;
}

.noodle-list-paginator {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
    padding-left: 25px;
}

.noodle-list-paginator > li > a {
    color: #696969;
    font-size: 12px;
    line-height: 1;
}

.noodle-list-paginator > li.active > a {
    background-color: #ebf5fe;
}

.noodle-list-paginator > li.disabled > a, .noodle-list-paginator>li.disabled>a:hover, .noodle-list-paginator>li.disabled>span:hover, .noodle-list-paginator>li.disabled>a:focus, .noodle-list-paginator.disabled>li>span:focus {
    background-color: #f7f7f7;
    border:1px solid #f3f3f3
}

.noodle-list-paginator > .active > a, .noodle-list-paginator > .active > span, .noodle-list-paginator > .active > a:hover, .noodle-list-paginator > .active > span:hover, .noodle-list-paginator > .active > a:focus, .noodle-list-paginator > .active > span:focus {
    background-color: #ebf5fe;
    border: 1px solid #eef0ff;
    color: #333333;
    cursor: default;
    z-index: 2;
}

.noodle-list-paginator>li>a:hover, .noodle-list-paginator>li>span:hover, .noodle-list-paginator>li>a:focus, .noodle-list-paginator>li>span:focus {
    color: inherit;
}

.form-horizontal .sq-object-label {
    text-align: left;
    font-weight: normal;
    font-size: 13px;
}

.color-dark {
    color: #555555;
}

.fa-green {
    color: #5cb85c;
}

.fa-red {
    color: red;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader-box {
    padding: 25px;
}

.loader-box-global {
    padding: 5px;
}
#loader-box-project {
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    z-index: 1500;
}

.loader {
    margin: auto auto;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(1,48,95, 0.2);
    border-right: 1.1em solid rgba(1,48,95, 0.2);
    border-bottom: 1.1em solid rgba(1,48,95, 0.2);
    border-left: 1.1em solid #027bf3;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loadclock {
    color: #ffd11a;
    font-weight: bold;
    font-size:12px;
}

.modal-content {
    box-shadow: none;
    border-radius: 0px;
}

.modal-backdrop.in {
    opacity: 0.7;
}
@media (min-width: 1440px) {
  .modal-xl {
    width: 1440px;
  }
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-menu > li > a {
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f2f2f2;
    color: inherit;
    text-decoration: none;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.light-green {
    color: #5cb85c;
}

.yellow {
    color: #c3c300;
}

.opacity-gray {
    color: #cbcbcb;
    opacity: 0.7;
}

.yandex {
    color: #ffdb4d;
}

.noodle-filter-radio-label {
    line-height: inherit;
}

.noodle-filter-input {
    border:1px solid #c6c6c6;
    font-weight:normal;
    border-radius: 0;
    height:30px;
    line-height:30px;
    padding-left:5px;
    padding-right:5px;
    box-sizing : border-box;
    box-shadow:none;
}

.noodle-filter-input:focus {
    border:2px solid #ffd11a;
    box-shadow:none;
}

.noodle-filter-checkbox-label {
    line-height: inherit;
}
.noodle-tile {
    padding: 10px 15px 15px 15px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0 rgba(0, 68, 187, .1);
}
.noodle-tile:hover {
    box-shadow: 0px 0px 15px 0 rgba(0, 68, 255, .1);
}
.noodle-tile-no-padding-header {
    padding-top: 15px;
    padding-left: 15px;
}

.noodle-box {
    padding: 7px;
}

.noodle-box-hoverable:hover {
    box-shadow: 0px 5px 20px 0 rgba(0,68,187,.1);
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f3f3f3;
}

.noodle-row-selected {
    background-color: #ebf4fe !important;
}

.table-hover tbody tr:hover td.noodle-row-selected, .table-hover tbody tr.noodle-row-selected:hover th {
    background-color: #ebf4fe;
}

.table-hover tbody tr.noodle-row-selected:hover td, .table-hover tbody tr.noodle-row-selected:hover th {
    background-color: #dcedfd
}

.noodle-navbar {
    margin-bottom: 10px;
    z-index: 500;
}

.noodle-navbar-shadow {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
}

.noodle-object-navbar {
    min-height: 40px;
    height: 40px;
    margin-bottom: 0px;

}

.noodle-object-navbar .navbar-nav > li > .noodle-label {
    line-height: 40px;
    font-weight: 500;
    font-size: 13px;
}

.noodle-object-navbar .navbar-nav > li > span {
    line-height: 60px;
}

.noodle-object-navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 38px;
    color: #333333;
    font-size: 14px;
    padding-right: 15px;
}

.noodle-alert {
    margin-bottom: 10px;
    border-radius: 0px;
}

.noodle-alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.noodle-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.noodle-collapsible {
    margin-bottom: 5px;
    border-bottom: 1px dotted gray;
}

/* sidebar */
.noodle-sidebar-collapse-btn {
    background-color: white;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    font-size: 9px;
}
#noodle-sidebar-collapse {
    cursor: pointer;
}
#noodle-sidebar-collapse:hover {
    cursor: pointer;
    color: gray;
}
.noodle-sidebar {
    display: none;
}

.noodle-sidebar {
    position: fixed;
    padding-top: 72px;
    top: 0;
    bottom: 0;
    width: 250px;
    min-width: 250px;
    left: 0;
    z-index: 750;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fafafa;
    border-right:1px solid #e8e8e8;
    /*box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);*/
}


.noodle-sidebar-main {
    padding-left: 260px;
    padding-top: 40px;
    z-index: 500;
}

.noodle-sidebar-lg {
    width: 300px;
    min-width: 300px;
}
.noodle-sidebar-main-sidebar-lg {
    padding-left: 310px;
}
.noodle-sidebar-xxl {
    width: 450px;
    min-width: 450px;
}
.noodle-sidebar-main-sidebar-xxl {
    padding-left: 460px;
}

.noodle-sidebar-label {
    font-weight: 500;
    font-size: 15px;
}

.noodle-sidebar-head {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}
.noodle-sidebar-head-no-label {
    margin-bottom: 0px;
}

.noolde-nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.noodle-nav-sidebar > li > a {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    color: #3f3e3e;
    font-weight: 400;
}

.noodle-nav-sidebar > li {
    margin-right: 0px;
    border-bottom: 0px;
}

.noodle-nav-sidebar > li > a > i {
    padding-right: 5px;
}

.noodle-sidebar > .noodle-sidebar-footer {
    position: fixed;
    bottom: 15px;
    left: 230px;
}

.noodle-sidebar-lg > .noodle-sidebar-footer {
    position: fixed;
    bottom: 15px;
    left: 280px;
}

.noodle-sidebar-xxl > .noodle-sidebar-footer {
    position: fixed;
    bottom: 15px;
    left: 430px;
}

.noodle-sidebar-footer .fa {
    font-size: 9px;
}

.noodle-sidebar > .noodle-sidebar-body > .noodle-nav-sidebar > li.active,
.noodle-sidebar > .noodle-sidebar-body > .noodle-nav-sidebar > li.active:hover {
    border: none;
    background-color: #e6f0f9;
    border-bottom: 0px;
}

.noodle-sidebar > .noodle-sidebar-body > .noodle-nav-sidebar > li:hover {
    background-color: rgba(255,219,77,.2);
    background-color: #f0f0f0;
}

.noodle-sidebar > .noodle-sidebar-body > .noodle-nav-sidebar > li > a:hover {
    color: #333333;
}

.noodle-sidebar > .noodle-sidebar-body > .noodle-nav-sidebar > li.active > a {
    color: #333333;
}

.noodle-nav-sidebar > .active > a,
.noodle-nav-sidebar > .active > a:hover,
.noodle-nav-sidebar > .active > a:focus {
    color: #333333;
    border: none;
}

.noodle-mono {
    font-family: monospace;
    font-size: 12px !important;
}
.noodle-strong {
    font-weight: bold !important;
}
.noodle-nowrap {
    white-space: nowrap;
}
.noodle-btn-table-menu {
    border: none;
    background-color: transparent;
    color: #dbdbdb;
}

.noodle-btn-table-menu:hover {
    color: #333333;
}

.noodle-btn-table-group .btn:active,
.noodle-btn-table-group .btn.active {
    background-color: transparent;
    box-shadow: none;
}

.noodle-btn-table-group.open .dropdown-toggle {
    box-shadow: none;
}

.noodle-tabs {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}
.noodle-yauser-link {
    color: black !important;
}
.noodle-yauser-link-first-letter {
    color: red !important;
}
.noodle-sup-link {
    padding-left: 10px;
}
.noodle-action-icon {
    color: #dbdbdb !important;
}
.noodle-action-icon:hover {
    color: #333333 !important;
}
.btn-group {
    display: flex;
}
/* filter */
.noodle-filter > li:first-child {
    border-top: 1px solid #e8e8e8;
}
.noodle-filter-item {
    border-bottom: 1px solid #e8e8e8 !important;
}
.noodle-filter-content-opened {
    display: block;
}
.noodle-filter-chevron-right {
    background-image: url('../images/chevron-right.png');
    background-repeat: no-repeat;
    background-position: left center;
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
}

.noodle-filter-chevron-down {
    background-image: url('../images/chevron-down.png');
    background-repeat: no-repeat;
    background-position: left top;
    min-width: 10px;;
    min-height: 10px;
    display: inline-block;
}

.noodle-filter-item-changed > .noodle-filter-name {
    background-color: #e6f0f9;
}
.noodle-filter-item-changed > .noodle-filter-content {
    background-color: #e6f0f9;
}

.noodle-filter-content {
    display: none;
    padding: 10px;
}

.noodle-filter-content-expanded {
    display: block;
}

.noodle-filter-content > input {
    border:1px solid #c6c6c6;
    font-weight:normal;
    border-radius: 0;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: 10px;
    height: 30px;
    line-height:30px;
    box-sizing :border-box;
    box-shadow: none;
}

.noodle-filter-content > input:focus {
    border: 1px solid gray;
    box-shadow:none;
}

.noodle-filter-failed-item {
    color: #a94442;
}

.noodle-filter-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    margin-left:3%;
}

.noodle-box-label {
    padding-left: 7px;
    padding-top: 7px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}
.noodle-details-table {
    margin-bottom: 0px;
    font-size: 13px;
}

.noodle-details-table tbody > tr > td {
    vertical-align: middle;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid #f2f2f2 !important;
}

.noodle-details-table tbody > tr > th {
    padding-bottom: 4px;
    padding-top: 4px;
    vertical-align: top;
    font-weight: 500;
    width: 250px;
    height: 35px;
    min-height: 35px;
    max-width: 450px;
    border-bottom: 1px solid #f2f2f2 !important;
}

.noodle-table-in-table {
    margin-bottom: 0px;
}

.noodle-table-in-table thead > tr > th {
    font-weight: 500;
    color: gray;
    padding-top: 0px;
}

.noodle-table-in-table thead > tr > th {
    padding: 0px 0px 7px 0px;
}
.noodle-table-in-table tbody > tr > td {
    padding: 7px 0px 7px 0px;
}

.noodle-table-in-table thead > tr > th:first-child  {
    padding-left: 0px;
}

.noodle-table-in-table tbody > tr > td:first-child  {
    padding-left: 0px;
}

.noodle-table-in-table tbody > tr:last-child > td {
    border: none !important;
}
.noodle-line-through {
    text-decoration: line-through;
    color: gray;
}

.noodle-label-bool {
   color: #333333;
   font-size: 13px;
   font-weight: normal;
}

.noodle-label-bool-true {
    background-color: #e4f7e3;
}

.noodle-label-bool-false {
    background-color: #f7e3e3;
}

.noodle-table-selectable tr td:first-child,
.noodle-table-selectable tr th:first-child {
    cursor: pointer;
    width: 10px;
}

.noodle-checkbox {
    color: #dbdbdb;
}

.noodle-checkbox-selected {
    color: #5d5d5d;
}

.noodle-checkbox:hover {
    color: #c9c9c9;
}

.noodle-checkbox-selected:hover {
    color: #333333;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: transparent;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.label-event-create {
    background-color: #5cb85c;
}

.label-event-delete {
    background-color: #d9534f;
}

.label-event-change {
    background-color: #5bc0de;
}

.noodle-js-copy {
    color: #dbdbdb;
}

.noodle-js-copy:hover {
    color: gray;
    cursor: pointer;
}

.noodle-info-sign {
    color: #dbdbdb;
}

.noodle-info-sign:hover {
    color: gray;
}

.success-green {
    color: #8cc152;
}

.error-red {
    color: #ff5d4f;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

/* codemirror */

.CodeMirror {
    height: auto;
    font-size: 13px;
    border: 1px dotted #dbdbdb;
    margin: 0px;
}
.CodeMirror-linenumber {
    cursor: pointer !important;
}
.CodeMirror-linkedline {
    background-color: #e8f2ff;
}
.CodeMirror-linkedlinenumber {
    background-color: #e8f2ff;
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
    cursor: pointer;
}
.CodeMirror-gutter-elt {
    cursor: pointer !important;
}
.has-error .CodeMirror {
    border: 2px solid #a94442;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
}
.cm-trailingspace {
    background-color: red;
    opacity: 0.2;
}
.cm-tab {
    background-color: red;
    opacity: 0.2;
}

.form-group .CodeMirror-focused {
    border: 2px solid #ffd11a;
}

.noodle-message {
    display: none;
}
.noodle-type {
    display:inline-block;
    line-height:0px;
    border-radius: 50%;
    background-color: #147ceb;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.noodle-type span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.noodle-type-profile {
    background-color: #1ead74;
}

.noodle-type-system {
    background-color: #00bcba;
}

.noodle-sidebar-badge {
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 10px;
}

.noodle-tab-badge {
    border-radius: 5px;
    margin-left: 3px;
    font-weight: 500;
    font-size: 10px;
    color: gray;
    background-color: #e7e7e7;
}

.noodle-highcharts-tooltip {
    background-color: black;
    color: blue;
}

.navbar-header {
    height: 39px;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
.noodle-pre {
    background-color: transparent;
    border: none;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #ffd11a !important;
  color:#333333 !important;
}
.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #ffd11a !important;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #ffd11a !important;
}

table.dataTable.no-footer {
    border-bottom: inherit !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: inherit !important;
}
/*#table.dataTable tbody tr {
    background-color: inherit !important;
}*/
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 500 !important;
}
/* pygmets */
.highlight pre {
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px;
/*    border-bottom: 1px dashed #dbdbdb;
    border-top: 1px dashed #dbdbdb;*/
}
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
