{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Cloud ID</th>
                <td>{{ obj.pk }}&nbsp;{% simple_copy obj.pk %}</td>
              </tr>
              <tr>
                <th>Cloud Ext ID</th>
                <td>{{ obj.cloud_ext_id }}&nbsp;{% simple_copy obj.cloud_ext_id %}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <label class="noodle-table-inc-label">Quota and usage</label><br>
            <table class="table table-hover noodle-table noodle-table-inc">
              <thead>
                <tr>
                  <th>Resource</th>
                  <th>Quota</th>
                  <th>Usage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPU</td>
                  <td>{{ obj.cpu_quota }}</td>
                  <td>{{ obj.cpu_used }}</td>
                </tr>
                <tr>
                  <td>Memory</td>
                  <td>{{ obj.memory_quota }}</td>
                  <td>{{ obj.memory_used }}</td>
                </tr>
                <tr>
                  <td>SSD space</td>
                  <td>{{ obj.ssd_space_quota }}</td>
                  <td>{{ obj.ssd_space_used }}</td>
                </tr>
                <tr>
                  <td>HDD space</td>
                  <td>{{ obj.hdd_space_quota }}</td>
                  <td>{{ obj.hdd_space_used }}</td>
                </tr>
                <tr>
                  <td>GPU</td>
                  <td>{{ obj.gpu_quota }}</td>
                  <td>{{ obj.gpu_used }}</td>
                </tr>
                <tr>
                  <td>Clusters</td>
                  <td>{{ obj.clusters_quota }}</td>
                  <td>{{ obj.clusters_used }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
