{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "rollouts" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Schedule ID</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ obj.name }}</td>
              </tr>
              <tr>
                <th>Match tags</th>
                <td>{{ obj.match_tags|to_html_json }}</td>
              </tr>
              <tr>
                <th>Commands</th>
                <td>{{ obj.commands|to_html_json }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-15">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Max size</th>
                <td>{{ obj.max_size }}</td>
              </tr>
              <tr>
                <th>Parallel</th>
                <td>{{ obj.parallel }}</td>
              </tr>
              <tr>
                <th>Edited at</th>
                <td>{% dt_formatted obj.edited_at %}</td>
              </tr>
              <tr>
                <th>Edited by</th>
                <td>{{ obj.edited_by|yauser_link_format }}</td>
              </tr>
              <tr>
                <th>Examined rollout id</th>
                <td>{{ obj.examined_rollout_id|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Namespace</th>
                <td>{{ obj.namespace }}</td>
              </tr>
              <tr>
                <th>State</th>
                <td>{{ obj.state }}</td>
              </tr>
              <tr>
                <th>Age</th>
                <td>{{ obj.age }}</td>
              </tr>
              <tr>
                <th>Still age</th>
                <td>{{ obj.still_age }}</td>
              </tr>
              <tr>
                <th>Convergence</th>
                <td>{% obj_block_onload obj "convergence" %}</td>
              </tr>
              <tr>
                <th>Dependencies</th>
                <td>{% obj_block_onload obj "dependencies" %}</td>
              </tr>
           </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_rollouts">
        <div class="row">
          {% obj_block_onload obj "rollouts" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
