[Unit]
Description=Yandex Unified Agent service
DefaultDependencies=no
After=local-fs.target network.target systemd-journald.service cloud-final.service
Before=final.target
Conflicts=final.target

[Service]
User=unified_agent
Group=unified_agent
Environment=UNIFIED_AGENT_LOG_PRIORITY=NOTICE
EnvironmentFile=-/etc/default/unified_agent
ExecStart=/usr/bin/unified_agent --config /etc/yandex/unified_agent/config.yml --log-priority ${UNIFIED_AGENT_LOG_PRIORITY}
KillMode=process
Type=simple
Restart=on-failure
RestartSec=2s
StartLimitInterval=0
LimitMEMLOCK=infinity

[Install]
WantedBy=sysinit.target