[Unit]
Description=yc-vpc-accounting service
After=cloud-final.service unified-agent.service
DefaultDependencies=no

[Service]
EnvironmentFile=/etc/yc/vpc-accounting/accounting.env
TimeoutStartSec=0
Restart=always
ExecStart=bash -c "$ACCOUNTING_CMD"

[Install]
WantedBy=cloud-init.target
