Source: yandex-solomon-phpfpm-stat-daemon
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-solomon-phpfpm-stat-daemon

Package: yandex-solomon-phpfpm-stat-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfcgi0ldbl, ubic, python3-flask
Description: Python flask daemon for returning phpfpm-stat
 .
