#!/usr/bin/make -f
# -*- makefile -*-

override_dh_install:
	mkdir -p debian/yandex-solomon-phpfpm-stat-daemon/usr/local/sbin/
	mkdir -p debian/yandex-solomon-phpfpm-stat-daemon/etc/ubic/service/
	cp phpfpm-stat-daemon.py debian/yandex-solomon-phpfpm-stat-daemon/usr/local/sbin/
	chmod +x debian/yandex-solomon-phpfpm-stat-daemon/usr/local/sbin/phpfpm-stat-daemon.py
	cp ubic.service debian/yandex-solomon-phpfpm-stat-daemon/etc/ubic/service/phpfpm-stat-daemon

override_dh_usrlocal:
	:

%:
	dh $@
