Source: yandex-media-common-selfdns-plugin
Section: misc
Priority: extra
Maintainer: Arsenev Alexey <aarseniev@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Svn: https://github.yandex-team.ru/admins/yandex-media-common-selfdns-plugin.git

Package: yandex-media-common-selfdns-plugin
Architecture: all
Depends: config-init-disable-ra (>=0.12), yandex-lib-autodetect-environment, config-autodetect-active-eth
Description: common media selfdns plugin
