[Unit]
Description='Netmon agent'
After=networking.service
Wants=networking.service

[Service]
Type=simple
ExecStart=/usr/local/bin/netmon-agent --config-path /etc/netmon-agent-config.yaml
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/var/lib/netmon

[Install]
WantedBy=network-online.target
