{
  "id": "<< id_prefix >>-kafka-bytesout-per-topic",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Kafka: BytesOut per topic",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< kafka.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "non_negative_derivative(sum({name=kafka_server_BrokerTopicMetrics_BytesOut, topic!='-'}) by topic)",
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}