
{% load_yaml as pingunoque_defaults %}
check_period: 5
check_port: 13
check_type: tcp
set_v4: down4
set_v6: down6
log_level: logging.DEBUG
log_file: /var/log/pingunoque.log
{% endload %}

{% set pingunoque = salt["pillar.get"]("mongodb:pingunoque", pingunoque_defaults, merge=True) %}
