{% extends "base.json.j2" %}

{% block elements %}
{{
	render_element(
		"[[host]] lbctrl_messages",
		"group_by_labels({name='lbctrl_messages'}, 'host', v -> group_lines('sum', v))",
		stack="stack1", area="true",
	)
}},
{{
	render_element(
		"[[host]] lbctrl_rules",
		"group_by_labels({name='lbctrl_rules'}, 'host', v -> group_lines('sum', v))",
		stack="stack2", area="true",
	)
}}
{% endblock %}
