{% extends "base.json.j2" %}

{%- set type_map = {
	'server': 'grpc__*',
	'client': 'client_grpc__*'
}-%}
{%- set prefix = type_map.get(type, 'grpc__*') -%}

{% block parameters %}
{
    "name": "host",
    "value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"99",
		"histogram_percentile(99, 'bin', group_by_labels({name='" + prefix + "', code='*'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"90",
		"histogram_percentile(90, 'bin', group_by_labels({name='" + prefix + "', code='*'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"75",
		"histogram_percentile(75, 'bin', group_by_labels({name='" + prefix + "', code='*'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"50",
		"histogram_percentile(50, 'bin', group_by_labels({name='" + prefix + "', code='*'}, 'bin', v -> group_lines('sum', v)))",
	)
}}
{% endblock %}
