body {
    background-color    : #FFFFFF;
    margin              : 10px 10px;
    padding             : 0px;
}

body, td, th {
    color               : #000000;
    font-family         : Verdana, sans-serif;
    font-size           : 0.7em;
}

body.blank {
    background-color    : #737373;
}

body.blank > h1 {
    color               : #FFFFFF;
    font-size           : 300%;
    font-weight         : normal;
    border              : 0px;
}

body.blank > div {
    color               : #FFFFFF;
    font-size           : 125%;
}

h1 {
    font-size           : 120%;
    font-weight         : bold;
    border-bottom       : 1px solid black;
}

a:link, a:visited {
    color               : #990000;
}

a:hover {
    color               : #000000;
}
