{% extends "../../crypto-base/graphs/grpc_api_statuses_errors.j2" %}

{% set cluster = "cloud_{}_lockbox_cluster".format(env) %}
{% set sensor_label = sensor_label | default("sensor") %}
{% set solomon_service = solomon_service | default("service") %}
