{
  "id": "<< id_prefix >>-cluster-greenplum",
  "projectId": "<< project_id >>",
  "name": "MDB Greenplum",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Connections, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=connections_count&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "XID Wraparound, [%]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=percent_xid_wraparound&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Master replication state, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=master_replication_state&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Idle in transaction >= 1h, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=long_idle_in_transaction_transactions_count&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Waiting transactions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=waiting_transactions_count&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Running transactions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=no_waiting_transactions_count&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Segments down, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=segments_down&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Segments not operating in their optimal role, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=not_configured_segment_roles&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Segments with not synchronized status, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=not_synced_segments&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Spill file size, [GB]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=spill_file_size_gb&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Replication lag master/standby, [MB]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&l.host=*&l.name=replication_lag_mb&graph=auto&stack=false",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ],
  "createdBy": "kashinav"
}
