{% set hostname = grains['nodename'] %}

{% set all_oct_clusters = grains['cluster_map']['oct']['clusters'] %}
{% set oct_cluster_id = grains['cluster_map']['hosts'][hostname].get('oct', {}).get('cluster_id') %}
{% if oct_cluster_id %}
    {% set current_oct_cluster = grains['cluster_map']['oct']['clusters'][oct_cluster_id] %}
    {% set other_oct_clusters = all_oct_clusters.copy() %}
    {% do other_oct_clusters.pop(oct_cluster_id) %}

    {%- set oct_head_servers = current_oct_cluster['roles'].get('oct_head', [])|sort -%}
    {%- set oct_conf_servers = (current_oct_cluster['roles'].get('oct_conf', []) + oct_head_servers)|unique|sort -%}
    {%- set oct_db_servers = (current_oct_cluster['roles'].get('oct_db', []) + oct_head_servers)|unique|sort -%}
    {%- set oct_ctrl_servers = (current_oct_cluster['roles'].get('oct_ctrl', []) + oct_head_servers)|unique|sort -%}
    {%- set oct_collect_servers = current_oct_cluster['roles'].get('oct_collect', [])|sort -%}
    {%- set compute_servers = current_oct_cluster['roles']['compute']|sort -%}
    {%- set cloudgate_servers = current_oct_cluster.get('cloudgates', [])|sort -%}

{% else %}
    {% set current_oct_cluster = {} %}

{% endif %}
