DefaultInitRef	= corbaloc:rir: 
InitRef		= NameService=corbaloc:iiop:localhost:2809/NameService
endPoint	= giop:tcp::29217
#endPoint	= giop:unix:
nativeCharCodeSet = UTF-8
#nativeCharCodeSet = windows-1251
strictIIOP	= 0
lcdMode		= 1
maxGIOPVersion	= 1.2
traceLevel      = 1
clientCallTimeOutPeriod = 4500
maxGIOPConnectionPerServer = 100
verifyObjectExistsAndType = 0
diiThrowsSysExceptions = 0
supportPerThreadTimeOut = 1
offerBiDirectionalGIOP = 1
acceptBiDirectionalGIOP = 1
giopMaxMsgSize = 4194304
