Source: yandex-media-common-configinterfacesmock
Section: misc
Priority: extra
Maintainer: Arsenev Alexey <aarseniev@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: git@github.yandex-team.ru:admins/yandex-media-common-configinterfacesmock.git

Package: yandex-media-common-configinterfacesmock
Architecture: all
Description: Mock for config-interfaces
