[Unit]
Description=OpenSearch Dashboards

[Service]
{% if salt.pillar.get('data:database_slice:enable', True) and salt.dbaas.is_dataplane() %}
Slice=database.slice
{% endif %}
Type=simple
User=opensearch-dashboards
Group=opensearch-dashboards
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/opensearch-dashboards
EnvironmentFile=-/etc/sysconfig/opensearch-dashboards
ExecStart=/usr/share/opensearch-dashboards/bin/opensearch-dashboards
Restart=always
RestartSec=10
StartLimitBurst=3
StartLimitInterval=60
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
