{% from "dashboards/compute/common.j2" import render_compute_dashboard, compute_api_team, compute_node_team %}

{{ render_compute_dashboard(
    name="YC Compute",
    owners=compute_api_team + compute_node_team,
    teams=["yc-compute-api-team", "yc-compute-node-team"]
) }}
