{% from "dashboards/compute/common.j2" import render_links, render_owners, compute_api_team, compute_node_team %}

name: "YC Compute Downtimes"
{{ render_owners(compute_api_team + compute_node_team) }}
{{ render_links() }}

components:
  - component_type: DOWNTIMES
    name: Downtimes (find by service, host and user)
    downtimes_options:
      include_expired: true
      exclude_future: false
      filters:
        - {project: ycloud, host: head*}
        - {project: ycloud, host: serial*}
        - {project: ycloud, service: compute-*}
        - {project: ycloud, service: serialssh}
        - {project: ycloud, service: serialproxy}
{%- for user in compute_api_team + compute_node_team %}
        - {user: {{ user }}}
{%- endfor %}
      page_size: 100
