{% from "dashboards/compute/common.j2" import render_compute_dashboard, compute_api_team %}

{{ render_compute_dashboard(
    name="YC Compute API",
    owners=compute_api_team,
    teams=["yc-compute-api-team"]
) }}
