{% from "dashboards/compute/common.j2" import render_compute_dashboard, compute_node_team %}

{{ render_compute_dashboard(
    name="YC Compute Node",
    owners=compute_node_team,
    teams=["yc-compute-node-team"]
) }}
