Source: yandex-media-graphite-to-solomon-sender
Section: misc
Priority: extra
Maintainer: Sergey Eliseev <serg-turbo@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2
Vcs-Git: https://github.yandex-team.ru/admins/graphite-to-solomon-sender

Package: yandex-media-graphite-to-solomon-sender
Replaces: yabs-graphite-sender, config-media-graphite
Provides: yabs-graphite-sender, config-media-graphite
Conflicts: yabs-graphite-sender, config-media-graphite
Depends: ubic|supervisor
Architecture: all
Description: Sender to Graphite and Solomon
 Source of pkg here: https://github.yandex-team.ru/admins/graphite-to-solomon-sender
