#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export VIRTUAL_ENV="debian/venv"


%:
	dh $@

override_dh_auto_build:
	debian/build-venv

override_dh_auto_install:
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/usr/share/yandex-media-graphite-to-solomon-sender/bin
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/usr/share/yandex-media-graphite-to-solomon-sender/etc/ubic
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/etc/yandex-media-graphite-to-solomon-sender
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/etc/monrun/conf.d
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/usr/bin
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/var/log/media_solomon_sender
	cp -r debian/venv debian/yandex-media-graphite-to-solomon-sender/usr/share/yandex-media-graphite-to-solomon-sender/venv
	cp -r config/solomon_sender_settings-default.json debian/yandex-media-graphite-to-solomon-sender/etc/yandex-media-graphite-to-solomon-sender/solomon_sender_settings-default.json
	cp config/graphite-to-solomon-sender.monrun debian/yandex-media-graphite-to-solomon-sender/etc/monrun/conf.d/graphite-to-solomon-sender.conf
	cp solomon_sender_check.sh debian/yandex-media-graphite-to-solomon-sender/usr/bin
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/etc/ubic/service
	mkdir -p debian/yandex-media-graphite-to-solomon-sender/etc/init.d
	cp ubic/solomon_sender_ubic debian/yandex-media-graphite-to-solomon-sender/usr/share/yandex-media-graphite-to-solomon-sender/etc/ubic
	cp ubic/solomon_sender_ubic_init debian/yandex-media-graphite-to-solomon-sender/usr/share/yandex-media-graphite-to-solomon-sender/etc/ubic
	rm -r debian/venv

override_dh_auto_clean:
	dh_auto_clean
