{% set config = salt['grains.filter_by']( {
    'base': {
       'lepton': {
           'enable': true,
           'address': 'https://lepton.mds.yandex.net/',
           'comparison': true
       },
       'mavrodi': {
           'enabled': true,
           'port': 9999,
           'remotes': ['mavrodi.mds.yandex.net']
       },
       'karl': {
           'enabled': true,
           'connection_string': 'zk01vla.mds.yandex.net:2181,zk01myt.mds.yandex.net:2181,zk01sas.mds.yandex.net:2181',
           'prefix': '/karl_discovery'
       }
    },
    'testing': {
       'lepton': {
           'enable': true,
           'address': 'https://lepton.mdst.yandex.net/'
       },
       'mavrodi': {
           'enabled': true,
           'remotes': ['mavrodi.mdst.yandex.net']
       },
       'karl': {
           'enabled': true,
           'connection_string': 'zk01man.mdst.yandex.net:2181,zk01myt.mdst.yandex.net:2181,zk01sas.mdst.yandex.net:2181',
           'prefix': '/karl_test_discovery'
       }
    },
    'prestable': {
       'mavrodi': {
           'enabled': true
       },
       'karl': {
           'enabled': true
       }
    },
    'production': {
    }
}, grain='yandex-environment', merge=salt['pillar.get']('cocaine-config', {}), default='production', base='base') %}
