Source: yandex-media-mysqld-watchdog
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2

Package: yandex-media-mysqld-watchdog
Architecture: any
Description: Watchdog for mysql server. Restart's server it automatically when it's down. Source: https://github.yandex-team.ru/admins/yandex-media-mysqld-watchdog
