#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/yandex-media-mysqld-watchdog/usr/sbin
	mkdir -p debian/yandex-media-mysqld-watchdog/etc/cron.d
	mkdir -p debian/yandex-media-mysqld-watchdog//etc/monrun/conf.d
	cp src/mysqld_watchdog.sh debian/yandex-media-mysqld-watchdog/usr/sbin/
	cp src/mysqld_watchdog.cron debian/yandex-media-mysqld-watchdog/etc/cron.d/mysqld_watchdog
	cp src/mysqld_watchdog.monrun debian/yandex-media-mysqld-watchdog/etc/monrun/conf.d/mysqld_watchdog.conf

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_clean:
	dh_auto_clean
	git clean -fxd

