[Unit]
Description=media-graphite-sender: forward metrics to graphite
After=network.target

[Service]
ExecStart=/usr/bin/media-graphite-sender
Restart=on-failure

[Install]
WantedBy=multi-user.target
