.error
{
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content
    {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    &__status
    {
        font-size: 36px;
    }

    &__message
    {
        margin-top: 4px;
        white-space: pre-line;
    }
}
