.search
{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    overflow: auto;

    &__wrapper
    {
        position: relative;
        margin-top: 15px;
    }

    &__active-before,
    &__active-after
    {
        display: inline-block;
        height: 30px;
        text-align: right;
    }

    &__active
    {
        display: inline-block;
    }

    &__active,
    &__active-after
    {
        margin-left: 10px;
    }

    &__count
    {
        height: 30px;
    }

    &__hint
    {
        font-weight: 500;
        display: inline-block;
    }
}
