<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>artifactory</id>
    </server>
  </servers>

    <profiles>
        <profile>
            <id>artifactory</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
           <repositories>
               <repository>
                   <id>artifactory</id>
                   <name>Nexus public repository</name>
                   <url>http://artifactory.yandex.net/artifactory/public</url>
                   <releases>
                       <enabled>true</enabled>
                       <updatePolicy>daily</updatePolicy>
                   </releases>
                   <snapshots>
                       <enabled>true</enabled>
                       <updatePolicy>always</updatePolicy>
                   </snapshots>
               </repository>
           </repositories>
           <pluginRepositories>
               <pluginRepository>
                   <id>artifactory</id>
                   <url>http://artifactory.yandex.net/artifactory/public</url>
                   <releases>
                       <enabled>true</enabled>
                       <updatePolicy>daily</updatePolicy>
                   </releases>
                   <snapshots>
                       <enabled>true</enabled>
                       <updatePolicy>always</updatePolicy>
                   </snapshots>
               </pluginRepository>
           </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>

</settings>