{
  "description": "",
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": null,
  "colorScheme": "AUTO",
  "dropNans": null,
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|T",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": null,
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "3",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "grid": "",
  "maxPoints": null,
  "hideNoData": "",
  "threshold": null,
  "id": "<< id_prefix >>-metadb-quota-hdd",
  "name": "HDD quota / used",
  "projectId": "<< project_id >>",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    }
  ],
  "elements": [
    { "title": "HDD used",
      "area": true,
      "type": "EXPRESSION",
      "expression": "{service=\"<< metadb.get("service") >>\", cluster=\"<< metadb.get("cluster") >>\", name=\"dbaas_metadb_hdd_space_used\", node=\"primary\", host=\"by_node\"}"
    },
    { "title": "HDD quota",
      "area": false,
      "type": "EXPRESSION",
      "expression": "{service=\"<< metadb.get("service") >>\", cluster=\"<< metadb.get("cluster") >>\", name=\"dbaas_metadb_hdd_space_quota\", node=\"primary\", host=\"by_node\"}"
    }
  ]
}