{
  "id": "<< id_prefix >>-<< nginx >>-nginx-response-5xx",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-<< nginx >>-nginx-response-5xx",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "let errors = {cluster=\"<< (nginx_val|resolve)["cluster"] >>\", service=\"<< (nginx_val|resolve)["service"] >>\", sensor='nginx_response_5xx_count', host!=\"by_node\"};\n\nlet count = group_lines('sum', diff(errors));\nlet sumCount = sum(count);\n\nlet is_yellow = sumCount > 1;\nlet is_red = sumCount > 4;\n\nalarm_if(is_red);\nwarn_if(is_yellow);",
      "checkExpression": ""
    }
  },
  "annotations": {
    "description": "nginx response 5xx count {{expression.sumCount}}",
    "value": "{{expression.sumCount}}",
    "host": "<< (nginx_val|resolve)["juggler_host"] >>",
    "service": "nginx_response_5xx"
  },
  "periodMillis": 300000,
  "delaySecs": 0,
  "description": "",
  "version": 1
}
