{% extends "../../base/dashboard.j2" %}
{% import "./panels/grpc.j2" as grpc_panels with context %}

{% block parameters %}
{
    "name": "cluster",
    "value": "{{ cluster }}"
},
{
    "name": "host",
    "value": "cluster"
}
{% endblock %}

{% block rows %}
[
    { "panels": [
        {{ grpc_panels.requests(3) }},
        {{ grpc_panels.requests_by_dc(3) }}
    ]},
    { "panels": [
        {% for az in zones_by_env[env] %}
        {{ grpc_panels.latency(az, 2) }}{% if not loop.last %},{% endif %}
        {% endfor %}
    ]},
    { "panels": [
        {{ grpc_panels.long_requests(1) }},
        {{ grpc_panels.errors(1) }},
        {{ grpc_panels.client_errors(2) }},
        {{ grpc_panels.errors_by_method(2) }}
    ]}
]
{% endblock %}