{% extends "../../base/dashboard.j2" %}
{% import "./panels/jvm.j2" as jvm_panels with context %}

{% block parameters %}
{
    "name": "cluster",
    "value": "{{ cluster }}"
},
{
    "name": "host",
    "value": "cluster"
}
{% endblock %}

{% block rows %}
[
    {"panels": [
        {{ jvm_panels.heap_memory(2) }},
        {{ jvm_panels.non_heap_memory(2) }},
        {{ jvm_panels.all_memory(2) }}
    ]},
    {"panels": [
        {{ jvm_panels.threads(3) }},
        {{ jvm_panels.gc(3) }}
    ]},
    {"panels": [
        {{ jvm_panels.open_fds(3) }},
        {{ jvm_panels.direct_buffers(3) }}
    ]}
]
{% endblock %}
