{% extends "../../base/dashboard.j2" %}
{% import "./panels/logbroker.j2" as logbroker_panels with context %}

{% block rows %}
[
    { "panels": [
        {{ logbroker_panels.messages_read(3) }},
        {{ logbroker_panels.messages_written(3) }}
    ]},
    { "panels": [
        {{ logbroker_panels.max_write_quota_used(2) }},
        {{ logbroker_panels.write_quota_wait(2) }},
        {{ logbroker_panels.topic_write_quota_wait(2) }}
    ]},
    { "panels": [
        {{ logbroker_panels.read_time_lag(3) }},
        {{ logbroker_panels.time_since_last_read(3) }}
    ]}
]
{% endblock %}

