{% extends "../../base/dashboard.j2" %}
{% import "./panels/system.j2" as system_panels with context %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}"
},
{
	"name": "host",
	"value": "{{ prefix }}-*"
}
{% endblock %}

{% block rows %}
[
    {"panels": [
        {{ system_panels.cpu(3) }},
        {{ system_panels.mem(3) }},
        {{ system_panels.io(3) }}
    ]},
    {"panels": [
        {{ system_panels.disk(3) }},
        {{ system_panels.net(3) }}
    ]}
]
{% endblock %}
