{% extends "../../base/dashboard.j2" %}
{% import "./panels/ydb.j2" as ydb_panels with context %}

{% block parameters %}
{
    "name": "cluster",
    "value": "{{ cluster }}"
},
{
    "name": "host",
    "value": "cluster"
}
{% endblock %}

{% block rows %}
[
    { "panels": [
        {{ ydb_panels.request_errors(2) }},
        {{ ydb_panels.long_execute(2) }},
        {{ ydb_panels.long_prepare(2) }},
        {{ ydb_panels.long_commit(2) }},
        {{ ydb_panels.ydb_errors(4) }}
    ]},
    { "panels": [
        {{ ydb_panels.tli_errors(3) }},
        {{ ydb_panels.other_tx_retries(3) }},
        {{ ydb_panels.tli_by_tx(3) }},
        {{ ydb_panels.other_retries_by_tx(3) }}
    ]}
]
{% endblock %}
