[Unit]
Description=mdb-ui service
After=network.target

[Service]
Type=simple
KillMode=mixed
PIDFile=/var/run/mdb-ui.pid
ExecStart=/var/www/mdbui/venv/bin/uwsgi -y /var/www/mdbui/uwsgi.yaml
User=web-api
Group=web-api
Restart=on-failure
TimeoutStartSec=15
TimeoutStopSec=15
StandardOutput=file:/var/log/mdbui/mdbui.log
StandardError=file:/var/log/mdbui/mdbui.log

[Install]
WantedBy=multi-user.target

