{% set salt_rsync = salt['grains.filter_by']({
    'default': {
      'senv': salt['grains.get']('yandex-environment', 'base'),
      'project': salt['grains.get']('conductor:project').encode('utf8'),
      'package': 'rsync',
      'service': 'rsync',
      'config': 'salt://templates/salt-rsync/files/etc/rsyncd.conf.tmpl',
      'default_config': 'salt://templates/salt-rsync/files/etc/default/rsync',
      'logrotate': 'salt://templates/salt-rsync/files/etc/logrotate.d/rsyncd.tmpl',
      'logrotate_name': '/etc/logrotate.d/rsyncd',
      'user': 'root',
      'group': 'root',
      'log': '/var/log/rsync/rsyncd.log',
      'loglevel': '256',
      'shares': {'keys': [{'read only': 'no'}, {'path': '/etc/salt/pki/master'}, {'comment': 'salt keys'}], 'gpgkeys': [{'read only': 'no'}, {'path': '/etc/salt/gpgkeys'}, {'comment': 'salt gpg keys'}], 'roots': [{'read only': 'no'}, {'path': '/srv/salt/roots'}, {'comment': 'salt roots'}]},
      'sync_script': 'salt://templates/salt-rsync/files/usr/bin/salt_sync.tmpl',
      'sync_script_name': '/usr/bin/salt_sync',
      'sync_log': '/var/log/salt/backup.log',
      'sync_logrotate': 'salt://templates/salt-rsync/files/etc/logrotate.d/salt_sync.tmpl',
      'sync_logrotate_name': '/etc/logrotate.d/salt_sync',
      'sync_cron': 'salt://templates/salt-rsync/files/etc/cron.d/salt_sync.tmpl',
      'sync_cron_name': '/etc/cron.d/salt_sync',
    },
    'production': {
      'senv': 'stable',
    },
    'testing': {
      'senv': 'test',
    },
    'stress': {
      'senv': 'load',
    },
    'development': {
      'senv': 'dev',
    },
}, grain='yandex-environment', merge=salt['pillar.get']('salt_rsync:lookup'), default='default', base='default') %}
