Source: yandex-media-common-lxd-cloud-agent
Section: misc
Priority: optional
Maintainer: Vyacheslav Agapov <vyacheslav@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-common-lxd-cloud-agent

Package: yandex-media-common-lxd-cloud-agent
Architecture: any
Depends: python3-connexion, python3-psutil, python3-flask, ubic, python3-lvm2, uwsgi, uwsgi-plugin-python3, nginx
Description: agent return system resource information
