{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Master ID</th>
                <td>{{ obj.pk }}</td>
              </tr>
              <tr>
                <th>FQDN</th>
                <td>{{ obj.fqdn }}&nbsp;{% simple_copy obj.fqdn %}</td>
              </tr>
              <tr>
                <th>Group</th>
                <td>{{ obj.group.self_link_c }}</td>
              </tr>
              <tr>
                <th>Minions</th>
                <td><a href="{{ obj.minions_url }}">{{ obj.minion_set.count }}</a></td>
              </tr>
              <tr>
                <th>Is open</th>
                <td>{{ obj.is_open|bool_label }}</td>
              </tr>
              <tr>
                <th>Is alive</th>
                <td>{{ obj.is_alive|bool_label }}</td>
              </tr>
              <tr>
                <th>Alive check at</th>
                <td>{% dt_formatted obj.alive_check_at %}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Updated at</th>
                <td>{% dt_formatted obj.updated_at %}</td>
              </tr>
              <tr>
                <th>Related links</th>
                <td>{% related_links_onload obj.fqdn %}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
