{#
Set the environments dictionary.
It contains information about all stand where our checks are deployed.
#}
{% set environments = dict() %}
{{ environments.update(prod=dict(name="prod", sname="prod", datacenters=["vla", "sas", "myt"], azs=["ru-central1-a", "ru-central1-b", "ru-central1-c"])) }}
{{ environments.update(preprod=dict(name="preprod", sname="pre-prod", datacenters=["vla", "sas", "myt"], azs=["ru-central1-a", "ru-central1-b", "ru-central1-c"])) }}
{{ environments.update(testing=dict(name="testing", sname="testing", datacenters=["vla", "sas", "myt"], azs=["ru-central1-a", "ru-central1-b", "ru-central1-c"])) }}
{{ environments.update(israel=dict(name="israel", sname="il", datacenters=["il1-a"], azs=["il1"])) }}
{{ environments.update(hw_cgw_dev_lab=dict(name="hw-cgw-dev-lab", sname="cgw-dev", datacenters=["sas"], azs=["ru-central1-b"])) }}
{{ environments.update(hw_cgw_ci_lab=dict(name="hw-cgw-ci-lab", sname="cgw-ci", datacenters=["myt"], azs=["ru-central1-c"])) }}

{% set owners = [
  "bayrinat",
  "d-valter",
  "elantsev",
  "hurd",
  "makarius",
  "svartapetov",
  "themiron",
  "robot-vpc-solomon"
  ]
%}

{%- set project = "ycloud" -%}

{%- macro render_link(dst_env, env, dst_dc, dc, title, url) -%}
{%- if dst_env == env and dst_dc == dc -%}
    - title: {{ title }}
        url: {{ url }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_link2(dst_env, env, title, url) -%}
{%- if dst_env == env -%}
    - title: {{ title }}
    url: {{ url }}
{%- endif -%}
{%- endmacro -%}

{%- macro render_owners(owners) -%}
owners:
  {% for owner in owners %}- {{ owner }}
  {% endfor %}
{%- endmacro -%}

{%- macro render_env_link() -%}
  {%- for env in environments.values() -%}
  - title: {{ env["sname"] | upper }}
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-{{ env["name"] }}/?project=ycloud
  {% endfor %}
{%- endmacro -%}

{%- macro render_dc_link(env_key) -%}
  {%- set env = environments[env_key] -%}
  {%- for dc in env["datacenters"] -%}
  - title: {{ dc | upper }}
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-{{ env["name"] }}-{{ dc }}/?project=ycloud
  {% endfor %}
{%- endmacro -%}
