{% from "dashboards/cloudgate/common.j2" import project, render_cloudgate_owners, render_owners, owners %}

name: YC.Cloudgate
description: |-
  Подробности — на страничках [Помощи](https://wiki.yandex-team.ru/cloud/devel/loadbalancing/duty/?from=%2Fcloud%2Fdevel%2Floadbalancing%2Fciduty%2F), [График дежурств](https://abc.yandex-team.ru/services/networkloadbalancer/duty/), [страница дежурного VPC](https://wiki.yandex-team.ru/cloud/devel/sdn/duty/), [CGW HowTo](https://wiki.yandex-team.ru/cloud/devel/cloudgate/HowTo/) Для прода, препрода и тестинга за тремя точками ⋮ есть ссылки на подробные дашборды стендов. Ниже иные полезные дашборды:
{{ render_owners(owners) }}
links:
  - title: Дашборд PROD
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-prod/?project=ycloud
  - title: PRE-PROD
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-preprod/?project=ycloud
  - title: TESTING
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-testing/?project=ycloud
  - title: IL
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-israel/?project=ycloud
  - title: CGW-DEV
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-hw-cgw-dev-lab/?project=ycloud
  - title: CGW-CI
    url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-hw-cgw-ci-lab/?project=ycloud
  - title: VPC
    url: https://juggler.yandex-team.ru/dashboards/ycloud_virtual_network/?project=ycloud
  - title: Внешняя связность
    url: https://stats.uptimerobot.com/K1wmlFQ8n
  - title: InfraTimeline
    url: https://infra.yandex-team.ru/timeline?preset=TGiVSNaB3bh&autorefresh=true&status=all&filter=&fullscreen=false
  - title: DutyTickets
    url: https://st.yandex-team.ru/CLOUDDUTY/order:updated:false/filter?resolution=empty()&tags=duty-ticket&components=47231%7C79442%7C47229%7C47237%7C56600
  - title: График ошибок
    url: https://monitoring.yandex-team.ru/projects/yandexcloud/explorer/queries?q.0.s=top%2830%2C%20%22avg%22%2C%20%7Bproject%3D%22yandexcloud%22%2C%20cluster%3D%22cloud_prod_cloudgate%22%2C%20service%3D%22juggler-events%22%2C%20status%3D%22CRIT%22%7D%29&range=1h&normz=off&colors=auto&type=area&interpolation=linear&dsp_method=auto&dsp_aggr=default&dsp_fill=default
components:
  - name: Эскалации
    component_type: ESCALATIONS
    escalations_options:
      page_size: 6
      page: 0
      only_running: false
      filters:
        - {project: {{ project }}, tags: [yc-cgw]}
        - {project: {{ project }}, tags: [yc-cgw-dc]}
        - {project: {{ project }}, tags: [yc-cgw-nat]}
        - {project: {{ project }}, tags: [yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [yc-cloudgate]}
        - {project: {{ project }}, tags: [yc-loadbalancer]}
    col: 1
    row: 1
    colspan: 9
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links:
      - title: График дежурств
        url: https://abc.yandex-team.ru/services/networkloadbalancer/duty/

  - name: Downtimes
    component_type: DOWNTIMES
    downtimes_options:
      exclude_future: false
      include_expired: false
      filters:
        - {project: {{ project }}, tags: [yc-cgw]}
        - {project: {{ project }}, tags: [yc-cgw-dc]}
        - {project: {{ project }}, tags: [yc-cgw-nat]}
        - {project: {{ project }}, tags: [yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [yc-cloudgate]}
        - {project: {{ project }}, tags: [yc-loadbalancer]}
        {% for owner in owners %}- user: {{ owner }}
        {% endfor %}
      sort_by: ID
      sort_order: DESC
      page_size: 0
      page: 0
      include_warnings: false
    col: 1
    row: 2
    colspan: 9
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links: []

  - name: PROD
    component_type: AGGREGATE_CHECKS
    aggregate_checks_options:
      limit: 20
      sort:
        field: DEFAULT
        order: DESC
      statuses: []
      include_mutes: false
      filters:
        - {project: {{ project }}, host: yc_loadbalancer_e2e-launcher_prod}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cgw]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cgw-dc]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cgw-nat]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-cloudgate]}
        - {project: {{ project }}, tags: [visible, yc-prod, yc-loadbalancer]}
        - {host: yc_cloudgate_az_prod}
    col: 10
    row: 1
    colspan: 10
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links:
      - title: Дашборд PROD
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-prod/
      - title: Дашборд PROD, VLA
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-prod-vla/
      - title: Дашборд PROD, SAS
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-prod-sas/
      - title: Дашборд PROD, MYT
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-prod-myt/
      - title: Solomon CGW-DC
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mondbtgl9i53l3mmvvi8?range=1d&refresh=60
      - title: Solomon CGW-CIC
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/monikhvmr4imrg9vcnge?range=1d&refresh=60
      - title: Solomon CGW-Main
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mon41423ka2dobp2d3f9?range=1d&refresh=60
      - title: Solomon LB-APP
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mon802e1068meo7g62md?p.cluster=cloud_prod_ylb&range=1d&refresh=60
      - title: Solomon LB-CTRL
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mond3g2logvaakuq2ik7?p.cluster=cloud_prod_ylb&p.service=loadbalancer_ctrl&p.env=prod&p.host=lb-ctrl-*&range=1d&refresh=60
      - title: Solomon LB-NODE
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/monndmr9e94joi5bqjud?p.cluster=cloud_prod_ylb&p.service=loadbalancer_node&p.env=prod&p.host=lb-node-*&range=1d&refresh=60
      - title: Solomon HC-CTRL
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/monlus3cv5s911tjrktn?p.cluster=cloud_prod_ylb&p.service=healthcheck_ctrl&p.env=prod&p.host=hc-ctrl-*&range=1d&refresh=60
      - title: Solomon HC-NODE
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mont2koj22628c8utf5o?p.cluster=cloud_prod_ylb&p.service=healthcheck_node&p.env=prod&p.host=hc-node-*&range=1d&refresh=60
      - title: Kikimr Monitoring
        url: https://monitoring.ydb.yandex-team.ru/tenant/schema?schema=%2Fglobal%2Floadbalancer&name=%2Fglobal%2Floadbalancer&backend=https%3A%2F%2Fydb.bastion.cloud.yandex-team.ru%2Fydbproxy.cloud.yandex.net%3A8765&clusterName=cloud_prod_kikimr_global

  - name: PRE-PROD
    component_type: AGGREGATE_CHECKS
    aggregate_checks_options:
      limit: 20
      sort:
        field: DEFAULT
        order: DESC
      statuses: []
      include_mutes: false
      filters:
        - {project: {{ project }}, host: yc_loadbalancer_e2e-launcher_preprod}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cgw]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cgw-dc]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cgw-nat]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-cloudgate]}
        - {project: {{ project }}, tags: [visible, yc-preprod, yc-loadbalancer]}
        - {host: yc_cloudgate_az_preprod}
    col: 20
    row: 1
    colspan: 10
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links:
      - title: Дашборд PRE-PROD
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-preprod/
      - title: Дашборд PRE-PROD, VLA
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-preprod-vla/
      - title: Дашборд PRE-PROD, SAS
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-preprod-sas/
      - title: Дашборд PRE-PROD, MYT
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-preprod-myt/
      - title: Solomon CGW-DC
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/monhj8f3shr6cdee8uah?range=1d&refresh=60
      - title: Solomon CGW-Main
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mon5vcbpk23avkf0d3o0?range=1d&refresh=60
      - title: Solomon LB-APP
        url: https://solomon.yandex-team.ru/?cluster=cloud_preprod_ylb&project=yandexcloud&dashboard=yandexcloud-ylb-preprod-app
      - title: Solomon LB-CTRL
        url: https://solomon.yandex-team.ru/?cluster=cloud_preprod_ylb&service=loadbalancer_ctrl&host=lb-ctrl-*&project=yandexcloud&env=preprod&dashboard=yandexcloud-ylb-preprod-lb-ctrl
      - title: Solomon LB-NODE
        url: https://solomon.yandex-team.ru/?cluster=cloud_preprod_ylb&service=loadbalancer_node&host=lb-node-*&project=yandexcloud&env=preprod&dashboard=yandexcloud-ylb-preprod-lb-node
      - title: Solomon HC-CTRL
        url: https://solomon.yandex-team.ru/?cluster=cloud_preprod_ylb&service=healthcheck_ctrl&host=hc-ctrl-*&project=yandexcloud&env=preprod&dashboard=yandexcloud-ylb-preprod-hc-ctrl
      - title: Solomon HC-NODE
        url: https://solomon.yandex-team.ru/?cluster=cloud_preprod_ylb&service=healthcheck_node&host=hc-node-*&project=yandexcloud&env=preprod&dashboard=yandexcloud-ylb-preprod-hc-node
      - title: Kikimr Monitoring
        url:

  - name: ISRAEL
    component_type: AGGREGATE_CHECKS
    aggregate_checks_options:
      limit: 20
      sort:
        field: DEFAULT
        order: DESC
      statuses: []
      include_mutes: false
      filters:
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cgw]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cgw-dc]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cgw-nat]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-cloudgate]}
        - {project: {{ project }}, tags: [visible, yc-israel, yc-loadbalancer]}
    col: 30
    row: 1
    colspan: 10
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links:
      - title: Дашборд ISRAEL
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-israel/
      - title: Дашборд ISRAEL, IL1-A
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-israel-il1-a/
      - title: Solomon
        url: https://solomon.yandexcloud.co.il/?project=yc.yandexcloud.serviceCloud

  - name: TESTING
    component_type: AGGREGATE_CHECKS
    aggregate_checks_options:
      limit: 20
      sort:
        field: DEFAULT
        order: DESC
      statuses: []
      include_mutes: false
      filters:
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cgw]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cgw-dc]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cgw-nat]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cgw-ipv4]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cgw-ipv6]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-cloudgate]}
        - {project: {{ project }}, tags: [visible, yc-testing, yc-loadbalancer]}
        - {host: yc_cloudgate_az_testing}
    col: 40
    row: 1
    colspan: 10
    rowspan: 2
    view_type: DETAILED
    elements_in_row: 2
    links:
      - title: Дашборд TESTING
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-testing/
      - title: Дашборд TESTING, VLA
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-testing-vla/
      - title: Дашборд TESTING, SAS
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-testing-sas/
      - title: Дашборд TESTING, MYT
        url: https://juggler.yandex-team.ru/dashboards/yc-cloudgate-testing-myt/
      - title: Solomon CGW-DC
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/monidqkqfc3kete2je5j?range=1d&refresh=60
      - title: Solomon CGW-Main
        url: https://monitoring.yandex-team.ru/projects/yandexcloud/dashboards/mononaeusatb6rd180rp?range=1d&refresh=60
      - title: Solomon LB-APP
        url: https://solomon.yandex-team.ru/?cluster=cloud_testing_ylb&project=yandexcloud&dashboard=yandexcloud-ylb-testing-app
      - title: Solomon LB-CTRL
        url: https://solomon.yandex-team.ru/?cluster=cloud_testing_ylb&service=logsync&host=lb-ctrl-*&project=yandexcloud&env=testing&dashboard=yandexcloud-ylb-testing-lb-ctrl
      - title: Solomon LB-NODE
        url:  https://solomon.yandex-team.ru/?cluster=cloud_testing_ylb&service=logsync&host=lb-node-*&project=yandexcloud&env=testing&dashboard=yandexcloud-ylb-testing-lb-node
      - title: Solomon HC-CTRL
        url: https://solomon.yandex-team.ru/?cluster=cloud_testing_ylb&service=logsync&host=hc-ctrl-*&project=yandexcloud&env=testing&dashboard=yandexcloud-ylb-testing-hc-ctrl
      - title: Solomon HC-NODE
        url: https://solomon.yandex-team.ru/?cluster=cloud_testing_ylb&service=logsync&host=hc-node-*&project=yandexcloud&env=testing&dashboard=yandexcloud-ylb-testing-hc-node
      - title: Kikimr Monitoring
        url:
