
html,
body,
#root {
    height: 100%;
}

body.yc-root {
    background-color: var(--yc-color-base-background);
}

.link_btn {
    margin-right: 10px;
}

.active_tab {
    padding-top: 20px;
    display: flex;
    &__content {
        margin-left: 20px
    }
    &__content_loader {
        margin-left: 50%;
        margin-top: 50px;
    }
    &__sidebar {
        width: 200px;
    }
}


.home {
    display: block;
    background-color: var(--yc-color-base-background);
    border: 1px solid var(--yc-color-divider);

    // padding: 25px;

    &__title {
        font-size: var(--yc-text-title-font-size);
        line-height: var(--yc-text-title-line-height);
    }

    &__welcome {
        // max-width: 550px;
        margin-top: 20px;
        font-size: var(--yc-text-body2-font-size);
        line-height: var(--yc-text-body2-line-height);
        p {
            margin: 10px 0;
        }
    }

    &__actions {
        margin: 20px 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
