[Unit]
Description='Service for reposting juggler events into solomon agent'
After=solomon-agent.service
Wants=solomon-agent.service

[Service]
Type=simple
ExecStart=/usr/local/bin/repost-juggler-solomon.py
Restart=always
User=nobody
Group=nogroup
MemoryLimit=200M
