#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-weather-zookeeper/etc/zookeeper/
	cp -r conf_weather debian/config-weather-zookeeper/etc/zookeeper/
	cp -r conf_weather_testing debian/config-weather-zookeeper/etc/zookeeper/

%:
	dh $@
