{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Backups{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>ID</th>
        <th>Cluster</th>
        <th>Status</th>
        <th>Initiator</th>
        <th>Method</th>
        <th>Scheduled date</th>
        <th>Created at</th>
        <th>Delayed until</th>
        <th>Finished at</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td class="noodle-nowrap">{{ obj.self_link_c }}</td>
        <td class="noodle-nowrap">{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
        <td>{{ obj.status|default_label }}</td>
        <td>{{ obj.initiator }}</td>
        <td>{{ obj.method }}</td>
        <td>{{ obj.scheduled_date|date:"Y-m-d" }}</td>
        <td data-order="{{ obj.created_at|date:"Uu" }}">{% dt_formatted obj.created_at %}</td>
        <td data-order="{{ obj.delayed_until|date:"Uu" }}">{% dt_formatted obj.created_at %}</td>
        <td data-order="{{ obj.finished_at|date:"Uu" }}">{% dt_formatted obj.finished_at %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
