Source: yandex-media-common-hbf-agent
Section: misc
Priority: optional
Maintainer: Vyacheslav Agapov <vyacheslav@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git@github.yandex-team.ru:admins/yandex-media-common-hbf-agent.git
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-common-hbf-agent

Package: yandex-media-common-hbf-agent
Architecture: all
Depends: yandex-hbf-agent (>= 1.0-3552016), yandex-hbf-agent-init (>= 1.0-2959496), python-pylxd (>= 2.2.4), yandex-internal-root-ca, yandex-media-common-hbf-agent-monitoring
Description: package for yandex-hbf-agent with bridge iface
