-i https://pypi.yandex-team.ru/simple
SQLAlchemy==1.4.32
alembic==1.7.7
boto3==1.21.22
click==8.0.4
dacite==1.6.0
devtools==0.8.0
environs==9.5.0
fastapi==0.75.0
fastapi-utils==0.2.1
fastapi-cache2==0.1.8
frozendict==2.3.0
googleapis-common-protos==1.56.0
grpcio==1.46.3
inflect==5.4.0
netifaces==0.11.0
opentelemetry-api==1.10.0
opentelemetry-exporter-jaeger-thrift==1.10.0
opentelemetry-instrumentation-fastapi==0.29b0
opentelemetry-instrumentation-sqlalchemy==0.29b0
opentelemetry-sdk==1.10.0
prometheus-fastapi-instrumentator==5.7.1
prometheus-client==0.13.1
pydantic==1.9.0
pyjwt==2.3.0
pyjwt[crypto]==2.3.0
python-multipart==0.0.5
pytz==2022.1
pyyaml==6.0
protobuf==3.20.1
requests==2.27.1
rich==12.0.0
unshare==0.22 ; sys_platform=="linux"
uvicorn==0.17.6