.preloader
{
    position: absolute;
    min-height: 50px;

    background-color: #FFF;
    opacity: 0.8;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &_fit_viewport
    {
        position: fixed;
    }

    &__spin
    {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -16px;
    }
}
