{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "*"
},
{
	"name": "env",
	"value": "{{ env }}"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}
