{%- set healthcheck_ctrl_hosts = salt['grains.get']('cluster_map:roles:healthcheck-ctrl', []) -%}
{%- set healthcheck_node_hosts = salt['grains.get']('cluster_map:roles:healthcheck-node', []) -%}

healthcheck-ctrl:
{%- for host in healthcheck_ctrl_hosts %}
- id: {{host}}
  addr: {{host}}
  port: 50051
{%- endfor %}
healthcheck-node:
{%- for host in healthcheck_node_hosts %}
- id: {{host}}
  addr: {{host}}
  port: 0
{%- endfor %}
