Source: yandex-graphite-checks-phpfpm
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-graphite-checks-phpfpm
#Vcs-Git: git://git.debian.org/collab-maint/yandex-graphite-checks-phpfpm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yandex-graphite-checks-phpfpm.git;a=summary

Package: yandex-graphite-checks-phpfpm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfcgi0ldbl, python3-termcolor
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
