#!/usr/bin/make -f
# -*- makefile -*-

override_dh_install:
	mkdir -p debian/yandex-graphite-checks-phpfpm/usr/lib/yandex-graphite-checks/available/
	mkdir -p debian/yandex-graphite-checks-phpfpm/usr/lib/yandex-graphite-checks/enabled/
	cp phpfpm-status.py debian/yandex-graphite-checks-phpfpm/usr/lib/yandex-graphite-checks/available/phpfpm-status.py
	chmod +x debian/yandex-graphite-checks-phpfpm/usr/lib/yandex-graphite-checks/available/phpfpm-status.py

%:
	dh $@
