{
    "meta": {
        "version": "{revision}.{branch}.{sandbox_task_id}",
        "maintainer": "Cloud NBS <nbs-dev@yandex-team.ru>",
        "name": "{{ pkg_name }}",
        "description": "Package with KikiMR config for Cloud cluster (KikiMR)"
    },
    "data": [
        {
            "source": {
                "files": [
                    "*"
                ],
                "path": "{{ cfg_dir }}",
                "type": "ARCADIA"
            },
            "destination": {
                "path": "/Berkanavt/nbs-server/cfg/"
            }
        },
        {
            "source": {
                "type": "SYMLINK"
            },
            "destination": {
                "path": "/etc/yc/nbs/client/client.txt",
                "target": "/Berkanavt/nbs-server/cfg/nbs-client.txt"
            }
        }
    ],
    "build": {
        "add-result": [],
        "flags": [],
        "targets": []
    }
}
