{%- from 'templates/nginx/files/conf.tmpl' import config -%}
{%- for port in params.ports -%}
listen {{ port }}{{ ' ssl' if params.get('ssl') else '' }}{{ ' http2' if params.get('http2') else ''}};
{% endfor %}
{%- if params.get('ssl') %}
{{ config(params.ssl) }}
{%- endif %}
