# The modules that run in the 'init' stage
# write-files is set to run after every instance restart
cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - [ write-files, always ]
 - growpart
 - resizefs
 - disk_setup
 - mounts
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - ca-certs
 - rsyslog
 - users-groups
 - ssh

