127.0.0.1 localhost localhost.localdomain
::1 localhost localhost.localdomain

{% if (ansible_default_ipv6.address is defined) %}
{{ansible_default_ipv6.address}} {{ ansible_fqdn }} {{ ansible_hostname }}
{% endif %}
{% if (ansible_default_ipv4.address is defined) %}
{{ansible_default_ipv4.address}} {{ ansible_fqdn }} {{ ansible_hostname }}
{% endif %}
