[Unit]
Description=MDB Mlock

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-mlock/mdb-mlock /etc/mlock.yaml
WorkingDirectory=/opt/yandex/mdb-mlock
User=mlock
Group=mlock
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
LimitNOFILE=65536
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
