{% load lib.templatetags %}
{% load cms.templatetags %}
{% if not decision %}
&ndash;
{% else %}
<table class="table noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Resolved at</th>
      <th>Issuer</th>
      <th>Wall-E Action</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ decision.self_link_c }}</td>
      <td>{% dt_formatted decision.request.created_at True %}</td>
      <td>{% dt_formatted decision.request.resolved_at True %}</td>
      <td>{% decision_author decision %}</td>
      <td>{% decision_action decision %}</td>
      <td>{% decision_ui_status decision %}</td>
    </tr>
  </tbody>
</table>
<br>
{% endif %}

