{% load lib.templatetags %}
{% load mlock.templatetags %}
{% if not lock %}
&ndash;
{% else %}
<table class="table noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Ext ID</th>
      <th>Holder</th>
      <th>Reason</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ lock.lock_ext_id }}</td>
      <td>{{ lock.holder }}</td>
      <td>{{ lock|reason_to_link }}</td>
      <td>{% dt_formatted lock.create_ts True %}</td>
    </tr>
  </tbody>
</table>
<br>
{% endif %}
