{% load lib.templatetags %}
{% if revs %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Rev</th>
      <th>Flavor</th>
      <th>Subcluster</th>
      <th>Shard</th>
      <th>Space limit</th>
      <th>VType ID</th>
      <th>Geo</th>
      <th>Disk type</th>
      <th>Subnet ID</th>
      <th>Assign public ip</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in revs %}
    <tr>
      <td>{{ obj.rev }}</td>
      <td>{{ obj.flavor.self_link_c }}</td>
      <td>{{ obj.subcluster.self_link_c }}</td>
      <td>
          {% if obj.shard %}
          {{ obj.shard.self_link_c }}
          {% else %}
          &ndash;
          {% endif %}
      </td>
      <td data-order="{{ obj.space_limit }}">{{ obj.space_limit|filesizeformat|pretty_fsf }}</td>
      <td>{{ obj.vtype_id|dash_if_not }}</td>
      <td>{{ obj.geo.name }}</td>
      <td>{{ obj.disk_type.disk_type_ext_id }}</td>
      <td>{{ obj.subnet_id|dash_if_not }}</td>
      <td>{{ obj.assign_public_ip|bool_label }}</td>
      <td data-order="{{ obj.created_at|date:"Uu" }}>{% dt_formatted obj.created_at %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
{% update_tab_badge "revs" revs|length %}
