{
  "id": "<< id_prefix >>-cluster-clickhouse",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> ClickHouse",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< clickhouse.service >>"
    },
    {
      "name": "cid",
      "value": "*"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [boolean]",
          "subtitle": "bottom 10 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-can-read",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [boolean]",
          "subtitle": "bottom 10 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-can-write",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-can-read-by-dc",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-can-write-by-dc",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Select queries, [count/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_SelectQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Insert queries, [count/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_InsertQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Total queries, [count/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_Query_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Select queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_SelectQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Insert queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_InsertQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Total queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_Query_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Failed select queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_FailedSelectQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Failed insert queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_FailedInsertQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Failed queries per host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_FailedQuery_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Average select query time per host, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_query_log_select_avg_query_ms",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average insert query time per host, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_query_log_insert_avg_query_ms",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average query time per host, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_query_log_avg_query_ms",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Active locks per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_RWLockActiveTotal",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Waiting locks per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_RWLockWaitingTotal",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Connections per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_Connection",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Read data, [bytes/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_ReadCompressedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Inserted data, [bytes/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_InsertedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Merged data, [bytes/s]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_MergedUncompressedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Read data per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_ReadCompressedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Inserted data per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_InsertedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Merged data per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_MergedUncompressedBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Read data per host, [parts/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_SelectedParts_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Inserted data per host, [rows/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_InsertedRows_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Merged data per host, [rows/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_MergedRows_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Max replication delay across tables, [s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_async_metrics_ReplicasMaxAbsoluteDelay",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Max replication queue across tables, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_async_metrics_ReplicasMaxQueueSize",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Max data parts per partition, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-max-parts-per-partition",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "subtitle": "top 5 hosts",
          "title": "Background pool tasks, [count]",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_BackgroundPoolTask",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "subtitle": "top 5 hosts",
          "title": "Background fetches pool tasks, [count]",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_BackgroundFetchesPoolTask",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "subtitle": "top 5 hosts",
          "title": "Background move pool tasks, [count]",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_metrics_BackgroundMovePoolTask",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage, [cores]",
          "subtitle": "total",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-total",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-cpu-cores-total",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage, [bytes]",
          "subtitle": "total",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-total",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-memory-bytes-total",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage, [bytes]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-disk-space-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [cores]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-cpu-cores-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [bytes]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-memory-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-disk-space-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [%]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-percents-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-cpu-percents-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [%]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-percents-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-memory-percents-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [%]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Disk read per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-read-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-disk-read-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk write per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-write-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-disk-write-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk usage per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-disk-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Network data received per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-received-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-network-received-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data sent per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-sent-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-network-sent-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network usage per host, [bytes/s]",
          "subtitle": "top 5 hosts",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-bytes-top5",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-network-bytes-top5",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for read, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for write, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Leader ZooKeeper hosts, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for read, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for write, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Leader ZooKeeper hosts, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Transactions, [count/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_ZooKeeperTransactions_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Outstanding requests per ZooKeeper host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-metric-stacked&name=zk_outstanding_requests",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Connections per ZooKeeper host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-metric-stacked&name=zk_num_alive_connections",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Transactions per ClickHouse host, [count/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_ZooKeeperTransactions_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average transaction time per ClickHouse host, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-zk-transaction-time",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average latency per ZooKeeper host, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-metric&name=zk_avg_latency",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Znodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-znodes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Ephemeral nodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-ephemeral-nodes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Watches, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-watches",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% if dbm %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-clickhouse-zk-disk-space-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-clickhouse-zk-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% else %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage, [cores]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-cores-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage, [bytes]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-bytes-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage, [bytes]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-disk-space-bytes-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [cores]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-cores",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-disk-space-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-clickhouse-zk-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Disk read per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-read-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk write per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-write-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk usage per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Network data received per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-network-received-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data sent per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-network-sent-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network usage per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-network-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% endif %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "S3 read requests, [count]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_S3ReadRequestsCount_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "S3 write requests, [count]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-sum&name=ch_system_events_S3WriteRequestsCount_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Total S3 requests, [count]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-requests-count-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "S3 read requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3ReadRequestsCount_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "S3 write requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3WriteRequestsCount_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Total S3 requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-requests-count",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Failed S3 read requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3ReadRequestsErrors_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Failed S3 write requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3WriteRequestsErrors_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Failed S3 requests per host, [count]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-failed-requests-count",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Average S3 read request time, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-read-request-time",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average S3 write request time, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-write-request-time",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average S3 request time, [ms]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-request-time",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Read S3 data per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3ReadBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Written S3 data per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_system_events_S3WriteBytes_rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Transferred S3 data per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-s3-data-transferred-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Local data size per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_local_disk_parts_size",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "S3 data size per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-hosts-metric-top5&name=ch_s3_disk_parts_size",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Total data size per host, [bytes]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=!none&graph=<< id_prefix >>-clickhouse-data-parts-size-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ]
}
