[Unit]
Description=Yandex.Cloud API Base Image Kubelet Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10
StartLimitInterval=0

Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"

ExecStart=/usr/bin/kubelet \
--config=/var/lib/kubelet/config.yaml \
--address=127.0.0.1 \
--port=10250 \
--cluster-domain=kube.local \
--cluster-dns=10.254.0.10 \
--pod-manifest-path=/etc/kubelet.d/ \
--allow-privileged=true

[Install]
WantedBy=multi-user.target
