{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}
{% load meta.templatetags %}

{% block objects_app_label %}META{% endblock %}
{% block objects_model_label %}Clusters{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>CID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Env</th>
        <th>Created at</th>
        <th>Folder</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td class="noodle-nowrap">{{ obj.self_link_c }}</td>
        <td>{{ obj.name }}</td>
        <td class="noodle-nowrap" data-order="{{ obj.type }}">{% cluster_image obj.type %} {{ obj.type|pretty_cluster_type }}</td>
        <td>{{ obj.env|upper }}</td>
        <td data-order="{{ obj.created_at|date:"Uu" }}">{% dt_formatted obj.created_at %}</td>
        <td class="noodle-nowrap">{{ obj.folder.self_link_c }}</td>
        <td>{% cluster_ui_status obj %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
