{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "sys"
},
{
	"name": "cluster",
	"value": "cloud_{{ env }}"
},
{
	"name": "host",
	"value": "{{ prefix }}-*"
}
{% endblock %}
