{% extends "base.json.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "system-disk") %}
{% set name = team + " Disk (" + env + ")" %}

{% block elements %}
	{{
		render_element(
			"[[host]] FreeB",
			"group_by_labels({path='/Filesystem/FreeB'}, 'host', v -> group_lines('sum', v))",
		)
	}}
{% endblock %}
