{% extends "base.json.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "system-io") %}
{% set name = team + " IO (" + env + ")" %}

{% block elements %}
	{{
		render_element(
			"Reads",
			"group_lines('sum', {path='/Io/Disks/Reads'})",
			area="true",
		)
	}},
	{{
		render_element(
			"Writes",
			"group_lines('sum', {path='/Io/Disks/Writes'})",
			area="true",
		)
	}}
{% endblock %}
