{% extends "base.json.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "system-net") %}
{% set name = team + " Network (" + env + ")" %}

{% block elements %}
	{{
		render_element(
			"RxBytes",
			"group_lines('sum', {path='/Net/Ifs/RxBytes'})",
		)
	}},
	{{
		render_element(
			"TxBytes",
			"group_lines('sum', {path='/Net/Ifs/TxBytes'})",
		)
	}}
{% endblock %}
