{% extends "../../base/dashboard.j2" %}

{% set menu = "[resources] cloud free resources with VM count" %}
{% set parameters = (
    ("service", "resources"),
    ("cluster", "cloud_" + env + "_scheduler"),
    ("host_group", "all"),
) %}

{% block rows %}
[
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free cores, vCPU - ru-central1-a (vla)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=cores_free&l.zone_id=ru-central1-a&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free cores, vCPU - ru-central1-b (sas)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=cores_free&l.zone_id=ru-central1-b&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free cores, vCPU - ru-central1-c (myt)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=cores_free&l.zone_id=ru-central1-c&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            }
        ]
    },
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free memory, bytes - ru-central1-a (vla)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=memory_free&l.zone_id=ru-central1-a&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free memory, bytes - ru-central1-b (sas)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=memory_free&l.zone_id=ru-central1-b&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 2,
                "title": "Free memory, bytes - ru-central1-c (myt)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=memory_free&l.zone_id=ru-central1-c&l.node_name=all_nodes&l.host=-&dropNaN=true&legend=true&graph=auto"
            }
        ]
    },
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 3,
                "title": "Instances with shared cores, count",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=on_demand_shared_instances&l.zone_id=!all_zones&l.host=-&l.node_name=all_nodes&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 3,
                "title": "Instances with exclusive cores, count",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=on_demand_exclusive_instances&l.zone_id=!all_zones&l.host=-&l.node_name=all_nodes&dropNaN=true&legend=true&graph=auto"
            }
        ]
    },
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 3,
                "title": "Preemptible instances with shared cores, count",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=preemptible_shared_instances&l.zone_id=!all_zones&l.host=-&l.node_name=all_nodes&dropNaN=true&legend=true&graph=auto"
            },
            {
                "subtitle": "",
                "colspan": 3,
                "title": "Preemptible instances with exclusive cores, count ",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 1,
                "url": "/?cluster=[[cluster]]&project={{project_id}}&service=[[service]]&l.host_group=[[host_group]]&l.metric=preemptible_exclusive_instances&l.zone_id=!all_zones&l.host=-&l.node_name=all_nodes&dropNaN=true&legend=true&graph=auto"
            }
        ]
    }
]
{% endblock %}
