{% extends "../../base/dashboard.j2" %}

{% set parameters = (
    ("service", "resources"),
    ("cluster", "cloud_" + env + "_scheduler")
) %}

{% block rows %}
[
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v1 (VLA)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-a&l.type=*&l.platform_id=standard-v1&graph=auto&graphMode=bars&aggr=last&max=1000"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v1 (SAS)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-b&l.type=*&l.platform_id=standard-v1&graph=auto&graphMode=bars&aggr=last&max=1000"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v1 (MYT)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-c&l.type=*&l.platform_id=standard-v1&graph=auto&graphMode=bars&aggr=last&max=1000"
            }
        ]
    },
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v2 (VLA)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-a&l.type=*&l.platform_id=standard-v2&graph=auto&graphMode=bars&aggr=last&max=1000"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v2 (SAS)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-b&l.type=*&l.platform_id=standard-v2&graph=auto&graphMode=bars&aggr=last&max=1000"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "standard-v2 (MYT)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-c&l.type=*&l.platform_id=standard-v2&graph=auto&graphMode=bars&aggr=last&max=1000"
            }
        ]
    },
    {
        "panels": [
            {
                "subtitle": "",
                "colspan": 0,
                "title": "gpu-standard-v1 (VLA)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-a&l.type=*&l.platform_id=gpu-standard-v1&graph=auto&graphMode=bars&aggr=last&max=100"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "gpu-standard-v1 (SAS)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-b&l.type=*&l.platform_id=gpu-standard-v1&graph=auto&graphMode=bars&aggr=last&max=100"
            },
            {
                "subtitle": "",
                "colspan": 0,
                "title": "gpu-standard-v1 (MYT)",
                "markdown": "",
                "type": "IFRAME",
                "rowspan": 0,
                "url": "/?project={{project_id}}&cluster=[[cluster]]&service=[[service]]&l.host=-&l.zone_id=ru-central1-c&l.type=*&l.platform_id=gpu-standard-v1&graph=auto&graphMode=bars&aggr=last&max=100"
            }
        ]
    }
]
{% endblock %}
