{% extends "../../base/dashboard.j2" %}

{% set parameters = (
    ("service", "compute_health"),
    ("cluster", "cloud_" + env + "_compute_health"),
    ("host", "cluster"),
    ("target_id", "*")
) %}

{% macro agg_graph(title, agg_id) %}
    {{ render_panel_query_parts(title, cluster="[[cluster]]", service="[[service]]",
        query_parts=["l.name=calc_aggregate_value", "l.host=[[host]]", "graph=auto", "l.aggregate_type=" + agg_id,
         "l.target_id=[[target_id]]"]) }}
{% endmacro %}

{% block rows %}
[
    {
      "panels": [
        {{ agg_graph("1 - Last migration moment", "1") }}
      ]
    },
    {
      "panels": [
        {{ agg_graph("2 - General aggregate", "2") }}
      ]
    }
]
{% endblock %}
