{% extends "../../base/dashboard.j2" %}

{% macro render_row_az(title, cluster, service, query, subtitle="", rowspan=0, colspan=0, project=project_id) %}
    {% for az in zones_by_env[env] %}
        { "panels": [
            {{ render_panel(title + " @ " + az.zone, cluster, service, query + "&zone_id=" + az.zone,
                            subtitle, rowspan, colspan, project) }}
        ] }
        {% if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}

{% block rows %}
[
    {{ render_row_az("Dedicated hosts free",
    cluster="cloud_" + env + "_head_*",
    service="internals",
    query="l.service_name=scheduler&l.host=cluster&l.metric=dedicated_hosts&l.status=free&l.enabled=true&l.host_type=*&graph=auto") }}

]
{% endblock %}
