{% extends "../../base/graph.j2" %}

{% set id = "network-api-calls" %}
{% set name = "Network API calls" %}
{% set downsampling_func = "SUM" %}
{% set secondary_graph_mode = "PIE" %}
{% set grid = "5m" %}
{% set scale = "LOG" %}
{% set downsampling = "BY_INTERVAL" %}
{% set aggr = "SUM" %}

{% macro prog() %}
group_by_labels(
    {host!=cluster, path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_count'},
    'status_code',
    v -> series_sum(v)
)
{% endmacro %}

{% block parameters %}
    {
      "name": "service",
      "value": "internals"
    },
    {
      "name": "cluster",
      "value": "cloud_*_head_*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("", prog() | to_prog) }}
{% endblock %}
