{% extends "../../base/graph.j2" %}

{% set id = "network-ydb-calls" %}
{% set name = "Hanging YDB calls" %}
{% set grid = "5m" %}
{% set secondary_graph_mode = "PIE" %}
{% set downsampling = "BY_INTERVAL" %}
{% set scale = "LOG" %}
{% set downsampling_func = "SUM" %}
{% set aggr = "SUM" %}

{% macro prog() %}
group_by_labels(
    {host!=cluster, metric='ydb_call_count'},
    'status',
    v -> group_lines('sum', v)
)
{% endmacro %}

{% block parameters %}
    {
      "name": "service",
      "value": "internals"
    },
    {
      "name": "cluster",
      "value": "cloud_*_head_*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("", prog() | to_prog) }}
{% endblock %}
