{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'latency' %}
{% set name = 'vpc api latency' %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {{ grpc_all_percentiles(app='none') }}
{% endblock %}
