{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'ops_done' %}
{% set name = 'operations done' %}
{% set transform = 'NONE' %}
{% set dropNans = 'true' %}
{% set aggr = "SUM" %}

{% macro prog() %}
series_sum(['service_type', 'type'],
    drop_below({
        sensor=vpc_operation_done,
        meter_type=m1_rate
    }, 0.001)
)
{% endmacro %}
{% block additional_params %}
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "zone",
        "value": "*"
    }
    ,{
        "name": "service_type",
        "value": "vpc|loadbalancer"
    }
    ,{
        "name": "type",
        "value": "all"
    }
{% endblock %}

{% block elements %}
    {{ render_element("{{service_type}}/{{type}}", prog() | to_prog, stack="true", area="true") }}
{% endblock %}
