{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'requests' %}
{% set name = 'vpc api requests' %}
{% set min = "" %}
{% set transform = "NONE" %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "host",
        "value": "*"
    },
    {
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("OK", grpc_statuses(status=statuses_OK, app='none') | to_prog, color="green", area="true", stack="true") }},
	{{ render_element("PERMISSION_DENIED", grpc_statuses(status=statuses_PERMISSION_DENIED, app='none') | to_prog, color="lightblue", area="true", stack="true") }},
	{{ render_element("UNAUTHENTICATED", grpc_statuses(status=statuses_UNAUTHENTICATED, app='none') | to_prog, color="gray", area="true", stack="true") }},
	{{ render_element("UNAVAILABLE", grpc_statuses(status=statuses_UNAVAILABLE, app='none') | to_prog, color="red", area="true", stack="true") }},
	{{ render_element("DEADLINE_EXCEEDED", grpc_statuses(status=statuses_DEADLINE_EXCEEDED, app='none') | to_prog, color="violet", area="true", stack="true") }},

	{{ render_element("Logical error", grpc_statuses(status=statuses_logical_errors, app='none') | to_prog, color="orange", area="true", stack="true") }},
	{{ render_element("Internal error", grpc_statuses(status=statuses_internal_errors, app='none') | to_prog, color="magenta", area="true", stack="true") }}
{% endblock %}
