{% extends "../../base/graph.j2" %}

{% set id = "vpc-api-allocator_resources" %}
{% set name = "VPC API Allocator Resources" %}
{% set secondary_graph_mode = "PIE" %}
{% set dropNans = "true" %}
{% set normalize = "false" %}

{% macro prog(fn, metric) %}
group_lines('{{ fn }}', {metric={{ metric }}})
{% endmacro %}

{% block parameters %}
        {
            "name": "cluster",
            "value": "cloud_*_vpc-api"
        },
        {
            "name": "service",
            "value": "vpc-config-plane"
        },
        {
            "name": "sensor",
            "value": "resources_allocator_usage"
        },
        {
            "name": "allocator",
            "value": "*"
        },
        {
            "name": "resource_id",
            "value": "*"
        }
{% endblock %}

{% block elements %}
    {{ render_element("USED", prog("max", "used") | to_prog, area="true") }},
    {{ render_element("FREE", prog("max", "free") | to_prog, area="true") }}
{% endblock %}
