{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'contrail_pinger' %}
{% set name = 'Contrail enpoints health' %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "vpc-api-*"
    }
    ,{
        "name": "zone",
        "value": "*"
    }
    ,{
        "name": "type",
        "value": "alive|dead"
    }
{% endblock %}

{% block elements %}
	{{ render_element(
        selectors=[
            ("cluster", "[[cluster]]"), 
            ("service", "[[service]]"), 
            ("sensor", "contrail_pinger"), 
            ("host", "[[host]]"), 
            ("zone", "[[zone]]"), 
            ("type", "[[type]]")
        ],
        area="true",
        stack="true") }}
{% endblock %}
