{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'jobs_rate' %}
{% set name = 'jobs rate' %}
{% set transform = 'NONE' %}
{% set min = "" %}

{% block additional_params %}
    ,{
        "name": "sensor",
        "value": "vpctask_task_processed"
    }
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "phase",
        "value": "done"
    }
    ,{
        "name": "zone",
        "value": "*"
    }
    ,{
        "name": "job",
        "value": "all"
    }
{% endblock %}

{% block elements %}
	{{ render_element("{{ job }}", "sum({meter_type=m1_rate}) by job", stack="true", area="true") }}
{% endblock %}
