{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'requests_by_dc' %}
{% set name = 'vpc api requests by dc' %}
{% set transform  = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for zone in az_zones %}
		{{ render_element(zone, grpc_statuses(zone=zone, host='cluster', app='none') | to_prog, area="true", stack="true") }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
