{% extends "vpc-api-base.j2" %}
{% import "../common/vpc-api.j2" as common %}

{% set id_suffix = 'grpc_heavy_request' %}
{% set name = 'grpc heavy request' %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "*"
    }
    ,{
        "name": "host",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for req_name, req_method in common.heavy_requests.items() %}
    {{ render_element(req_name, grpc_percentile(99, app="vpc-config-plane_server", zone='none', host='none', method=req_method) | to_prog, area = "true") }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
