{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'l7_requests' %}
{% set name = 'VPC API l7 requests' %}

{% block parameters %}
    {
        "name": "project",
        "value": "platform"
    }
    ,{
        "name": "cluster",
        "value": "cloud_{{ env }}_cpl"
    }
    ,{
        "name": "alb_response_code_class",
        "value": "*"
    }
    ,{
        "name": "host",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {{ render_element(
        selectors=[
            ("service", "api_envoy_tags_ma"),
            ("name", "alb_upstream_rq_xx"),
            ("alb_cluster_name", "-"),
            ("cluster_group", "external"),
            ("backend", "vpc_api_backend"),
        ],
        area="true",
        stack="true") }}
{% endblock %}
