{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'db_statistics_by_sensor' %}
{% set name = 'vpc-api db statistics' %}
{% set transform = 'NONE' %}
{% set dropNans = 'true' %}
{% set aggr = "SUM" %}

{% block additional_params %}
    ,{
        "name": "sensor",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {{ render_element("{{sensor}} at {{host}}", "series_avg(['host', 'sensor'], drop_below({host='vpc-api*'}, 0.001))", area="true") }}
{% endblock %}
