{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'jvm_threads' %}
{% set name = 'JVM threads' %}
{% set description = 'JVM threads usage. Max by hosts' %}
{% set transform = 'NONE' %}
{% set min = "" %}
{% set secondary_graph_mode = "PIE" %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {{ render_element(
         "{{ state }}",
         "max({sensor=jvm_threads_state}) by state",
         area="true"
    ) }}
{% endblock %}
