{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'latency_by_dc' %}
{% set name = 'vpc api 99% by dc' %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for zone in az_zones %}
		{{ render_element(zone + " latency", grpc_percentile(99, zone=zone, app='none') | to_prog) }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
