{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'tx_retries' %}
{% set name = 'vpc-api tx retries' %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "tx_name",
        "value": "*"
    }
    ,{
        "name": "reason",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("{{reason}}", "alias(sum({sensor=tx_retries}) by reason, '{{reason}}')") }}
{% endblock %}
