{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'grpc_client_errors' %}
{% set name = 'vpc api grpc client errors' %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "app",
        "value": "*_client"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for status in statuses_server_errors + ["CANCELLED"]%}
		{{ render_element(status, grpc_statuses(status=status, app='none') | to_prog, area="true") }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
