{% extends "vpc-api-base.j2" %}

{% set id_suffix = 'jvm_memory' %}
{% set name = 'JVM memory' %}
{% set description = 'JVM memory usage in bytes. Sum by area -> max by hosts' %}
{% set transform = 'NONE' %}
{% set min = "" %}
{% set downsampling_func = "MAX" %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "area",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {{ render_element(
         "Used",
         "series_max(sum({sensor=jvm_memory_bytes_used}) by host)",
         area="true"
    ) }}
    ,{{ render_element(
         "Init",
         "series_max(sum({sensor=jvm_memory_bytes_init}) by host)",
         area="false"
    ) }}
    ,{{ render_element(
         "Committed",
         "series_max(sum({sensor=jvm_memory_bytes_committed}) by host)",
         area="false"
    ) }}
    ,{{ render_element(
         "Max",
         "series_max(sum({sensor=jvm_memory_bytes_max}) by host)",
         color="red",
         area="false"
    ) }}
{% endblock %}
