Source: ice
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), python3, python3-setuptools
Standards-Version: 3.9.4
X-Python3-Version: >= 3.2
Homepage: https://github.yandex-team.ru/yandex-icecream/ice

Package: ice
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-termcolor, python3-requests
Description: The icecream command line client
 Works much like i.yandex-team.ru, but from the console
