[Unit]
Description= Contrail WebUI Web Server
AssertFileNotEmpty=/etc/contrail/config.global.js
After=syslog.target network.target

StartLimitInterval=300s
StartLimitBurst=10

[Service]
User=contrail
Group=contrail
WorkingDirectory=/var/lib/contrail-webui/contrail-web-core
Restart=always
RestartSec=12
ExecStart=/usr/bin/node webServerStart.js

[Install]
WantedBy=multi-user.target

