yapf==0.26.0
flake8==3.6.0
flake8-string-format==0.2.3
flake8-commas==2.0.0
flake8-quotes==1.0.0
flake8-print==3.1.0
pylint==2.5.3
bandit==1.5.1
yadi_bin==0.1.8
isort==4.3.4
docker-compose==1.23.2
coverage==4.5.1
pytest==4.0.1
attrs==19.1.0
