.daterangepicker-single-wrapper
{
    &__form
    {
        display: flex;
        width: 180px;
        border: 2px solid #ddd;
        border-radius: 6px;
    }

    &_error
    {
        border-color: rgb(100%, 39%, 39%);
    }

    &__split
    {
        font-size: 20px;
        user-select: none;
        padding: 2px 0;
        color: #ddd;
    }

    &__input-day,
    &__input-month
    {
        width: 130px;
    }

    &__input-year
    {
        width: 200px;
    }

    &__input-day,
    &__input-month,
    &__input-year
    {
        & > span
        {
            border: none;
            outline-style: none;
        }
    }

    &__show-button,
    &__clear-button
    {
        opacity: .4;

        &:hover
        {
            opacity: 1;
        }
    }

    &:hover,
    &:focus
    {
        border-color: #d2d2d2;
    }
}
