{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% load cms.templatetags %}

{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>ID</th>
                <td>{{ obj.pk }}&nbsp;{% simple_copy obj.pk %}</td>
              </tr>
              <tr>
                <th>Instance ID</th>
                <td>{{ obj.instance_id }}&nbsp;{% simple_copy obj.instance_id %}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{% instance_operation_ui_type obj %}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{% instance_operation_ui_status obj %}</td>
              </tr>
              <tr>
                <th>Author</th>
                <td>{{ obj.author }}</td>
              </tr>
              <tr>
                <th>Comment</th>
                <td>{{ obj.comment|st_link }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Modified at</th>
                <td>{% dt_formatted obj.modified_at %}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
              </tr>
              <tr>
                <th>Task/Shipment</th>
                <td>{{ obj|task_or_shipment_link }}</td>
              </tr>
              <tr>
                <th>Operation state</th>
                <td>{{ obj.operation_state|to_html_json }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Operation log</th>
                <td>{% pretty_log obj.operation_log %}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
