[Unit]
Description=checker

[Service]
{%- if grains['yandex-environment'] == 'prestable' %}
ExecStart=/usr/sbin/hbf-check.sh "prestable.hbf.yandex.net" /home/hbf/slb-check
{%- elif grains['yandex-environment'] == 'testing' %}
ExecStart=/usr/sbin/hbf-check.sh "testing.hbf.yandex.net" /home/hbf/slb-check
{%- elif 'validator' in grains['conductor']['group'] %}
ExecStart=/usr/sbin/hbf-check.sh "validator.hbf.yandex.net" /home/hbf/slb-check
{%- else %}
ExecStart=/usr/sbin/hbf-check.sh "{{dc}}-hbf.yandex.net" /home/hbf/slb-check
{%- endif %}

Restart=always

[Install]
WantedBy=multi-user.target
