# Note 1: if you use aggregation group (ganglia tag), it will be used for
# building list of hosts, else use standart current conductor group

# Note 2: restart option used to prevent automatic restart when it can involve the service down.
# Don't afraid the failed memcached_packages state: it is just a message for you about memcachced
# config change and restart required, but it(restart) switched off in pillar by restart: False.
# It's default behavior, to enable restart you should define it explicitly in pillar by restart: True.
# All policies see here: https://github.com/facebook/mcrouter/wiki/List-of-Route-Handles

memcached:
  log: '/var/log/memcached/memcached.log'
  memory: 65536
  memory_warning: 80      # monrun warning memory threshold
  memory_critical: 90     # monrun critical memory threshold
  evictions_warning: 100
  evictions_critical: 200
  port: 11211
  user: 'memcache'
  maxcon: 1024						# max simultaneous incoming connections
  restart: False					# restart memcached on config change(default: False)
  mcrouter:
    port: 5000						# default: 5000
    default_policy: AllAsyncRoute			# default policy(default: AllInitialRoute) (https://github.com/facebook/mcrouter/wiki/List-of-Route-Handles)
    run_args: ''					# command line options for mcrouter(https://github.com/facebook/mcrouter/wiki/Command-line-options)
    group: my_group					# define certain group for mcrouter(default: current cgroup)
    get_policy: FailoverRoute				# define policy for 'get' like operations (default: FailoverRoute)

