[Unit]
Description='Tune linux networking performance'
After=configure-underlay.service
Wants=configure-underlay.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tune_host_networking.py
RemainAfterExit=true

[Install]
WantedBy=networking.service
