{# FIXME: Чтобы сделать dashboard по-настоящему универсальным,
   нужно делать dashboard-per-stand, как сделано в VPC. #}

{% set id = "compute-api-request-count" %}
{% set name = "[python-api] API request count [DEPRECATED]" %}

{% extends "../../base/dashboard.j2" %}

{% block parameters %}
{
    "value": "cloud_prod|cloud_preprod|cloud_testing",
    "name": "cluster"
}
{% endblock %}

{% block rows %}
[
    {% for az in ["vla", "sas", "myt"] %}
    {{ render_row(
        title="api request count @ " + (az | upper),
        cluster="{{ cluster }}_head_" + az,
        service="internals",
        query="l.metric=api_request_count&l.service_name=compute&l.status_code=*&graph=auto&l.method=GET&l.path=external%2F%3Cany(v1beta1%2Cv1%2Cstaging)%3Aapi_version%3E%2Finstances*&l.host=cluster&graphOnly=y"
    ) }}
    {% if not loop.last %},{% endif %}
    {% endfor %}
]
{% endblock %}
