{% set id = "cloud-" + env + "-compute-api-errors" %}
{% set name = "[python-api] API errors distribution in " + (env | upper) + " [DEPRECATED]" %}
{% set cluster_prefix = "cloud_" + env + "_head_" %}

{% extends "../../base/dashboard.j2" %}

{% macro render_row_azs(title, graph) %}
    { "panels": [
    {% for az in zones_by_env[env] %}
        {{  render_panel(
            title=title + " " + (az.prefix | upper),
            cluster=cluster_prefix + az.prefix,
            service="internals",
            query="graph=" + graph
        ) }}
        {% if not loop.last %},{% endif %}
    {% endfor %}
    ] }
{% endmacro %}


{% block rows %}
[
    {{ render_row_azs("Ошибки в", "compute-api-int-errors") }},
    {{ render_row_azs("Успешность запросов в", "compute-api-errors") }},
    {{ render_row_azs("Запросы в", "compute-api-calls") }}
]
{% endblock %}
