[Unit]
Description=MySync HA tool for MySQL
StartLimitIntervalSec=0
After=network.target
After=mysql.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/run/mysync
ExecStartPre=/bin/chown -R mysql:mysql /var/run/mysync
ExecStartPre=/bin/mkdir -p /var/log/mysync
ExecStartPre=/bin/chown -R mysql:mysql /var/log/mysync
ExecStart=/usr/local/bin/mysync --config /etc/mysync.yaml --loglevel=Debug
User=mysql
Group=mysql
PermissionsStartOnly=true
WorkingDirectory=/usr
Restart=always
RestartSec=1
TimeoutSec=60
KillSignal=SIGTERM
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target

