
    {# no more data marker #}
    <div id=end-data class="iconed-box icon-info invisible">There are no more records</div>

    {# error info block #}
    <div id=errorbox class='errorbox iconed-box icon-error invisible'>
      <p>Oops!</p>
      <div class=text>{{error|safe}}</div>
      <button class='repeat invisible'>Try again</button>
      <div class='full-error-text'>
      </div>
    </div>

    {# pending progress info #}
    <div id=pending class='pending invisible'>
      <span>Slow search is in progress...</span>
      <div>
        <div class="progressbar"><div class="progress-label">Getting pending operation details..</div></div><div class='loading-indicator invisible'>updating</div>
      </div>
      <div class=pending-time>
          Last operation update time: <span class="timestamp">unknown</span>
      </div>
    </div>
