{%- macro RenderField(field) -%}
    {{field}} {{field.description}}
    {% if field.errors %}
        <br>
        {% for e in field.errors %}
            <p class=error>{{e}}</p>
        {% endfor %}
    {% endif %}
{%- endmacro -%}


{%- macro QuerySubmitFields(form) -%}
    <div>
        <ul class=exec-options>
            <li>{{form.slow}}{{form.slow.label}}
            {% if 'shortlog' in form %}
                <li>{{form.shortlog}}{{form.shortlog.label}}
            {% endif %}
            <li><input type=checkbox id="upd_cache" name="upd_cache" value="1"><label for="upd_cache">update the cache
        </ul>
        <div class=clearfix></div>
        <div class=submit-button>
            <input type=submit value="Send the request">
        </div>
    </div>
    {{ form.doreq(value=1) }}
{%- endmacro -%}
