.service-configs
{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    overflow: hidden;

    &__filters
    {
        height: 30px;
        display: flex;
    }

    &__breadcrumbs
    {
        flex: 1 0 auto;
    }

    &__wrapper
    {
        position: relative;
    }
}
