[Unit]
Description=mcrouter daemonn

[Service]
Type=simple
EnvironmentFile=/etc/default/mcrouter
ExecStart=/usr/bin/mcrouter --log-path=${LOGFILE} --port=${PORT} --config-file=${MCROUTERCONF} --disable-miss-on-get-errors --use-asynclog-version2 ${PROG_ARGS}
Restart=always

[Install]
WantedBy=multi-user.target
