{% extends "cbb/index.html" %}
{% load cbb_extras %}
{% block title %} - Список блокировок группы{% endblock %}
{% block name %}Список активных блокировок группы{% endblock %}

{% block content %}
<form method="get">
  <div class="row">
    <div class="col-md-12">
      {% if version != 'txt' and version != 're' %}
        Версия IP?
        <br>
        <button type="submit" class="btn btn-default" name="ipv4" value="ok">Версия 4</button>
        <button type="submit" class="btn btn-default" name="ipv6" value="ok">Версия 6</button>
      {% endif %}

      {% if group.editable %}
        <div class="pull-right"><a class="btn btn-default" href="{% url 'antirobot.cbb.cbb_django.cbb:admin.add_range' group_id=group.id %}" role="button">Добавить</a></div>
      {% endif %}

        <h3>
          Результат поиска
          {% if version == 'txt' %} текстовых блокировок {% elif version == 're' %} списков регулярок {% else %} IPV{{version}} блокировок {% endif %}
          группы {{group.id}}
        </h3>
        <br>
      {% if output_pages.entries %}
        <table class="table table-striped table-condensed">
          {% if version == 'txt' or version == 're' %}
                <col width="30%">
          {% else %}
                <col width="15%">
                <col width="15%">
          {% endif %}
          <col width="15%">
          <col width="15%">
          <col width="27%">
          <col width="13%">
          <thead>
            <tr>
              {% if version == 'txt' or version == 're' %}
                <th>Текст</th>
              {% else %}
                <th>Начало</th>
                <th>Конец</th>
              {% endif %}
              <th>Создана</th>
              <th>Создатель</th>
              <th>Причина</th>
              <th>Истекает</th>
            </tr>
          </thead>
          {% for rng in output_pages.entries %}
            <tr>
              {% if version == 'txt' %}
                <td><a href="{% if group.editable %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" %}{% endif %}?rng_txt={{rng.id}}">{{ rng.rng_txt }}</a></td>
              {% elif version == 're' %}
                <td><a href="{% if group.editable %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" %}{% endif %}?rng_re={{rng.id}}">{{ rng.rng_re }}</a></td>
              {% else %}
                <td>
                  <a href="{% if group.editable %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" rng.group_id %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" rng.group_id %}{% endif %}?rng_start={{rng.get_rng_start}}&rng_end={{rng.get_rng_end}}">{{ rng.get_rng_start }}</a>
                  (<a href="http://h.yandex-team.ru/?https%3A//www.nic.ru/whois/%3FsearchWord%3D{{rng.get_rng_start}}">w</a>)
                </td>
                <td>
                  <a href="{% if group.editable %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" rng.group_id %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" rng.group_id %}{% endif %}?rng_start={{rng.get_rng_start}}&rng_end={{rng.get_rng_end}}">{{ rng.get_rng_end }}</a>
                  (<a href="http://h.yandex-team.ru/?https%3A//www.nic.ru/whois/%3FsearchWord%3D{{rng.get_rng_end}}">w</a>)
                </td>
              {% endif %}
              <td>{{ rng.created|date:"Y-m-d" }}&nbsp;{{ rng.created|date:"H:i:s" }}</td>
              <td>{{ rng.user }}</td>
              <td>{{ rng.block_descr }}</td>
              <td>{{ rng.expire|date:"Y-m-d" }}&nbsp;{{ rng.expire|date:"H:i:s" }}</td>
            </tr>
          {% endfor %}
        </table>
        <div class="text-center">
          <ul class="pagination">
            {% if output_pages.previous %}
              <li><a href="?{% query_replace request 'page' output_pages.previous %}">«</a></li>
            {% endif %}
              <li class="disabled"><a href="#">Страница {{output_pages.page_num}}</a></li>
            {% if output_pages.next %}
              <li><a href="?{% query_replace request 'page' output_pages.next %}">»</a><li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}
