{% extends "cbb/index.html" %}
{% block title %} - Группы{% endblock %}
{% block name %}Группы{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% for message in messages %}
        {% if message.tags == 'error'%}
          <div class="alert alert-danger">
            {{ message|safe }}
          </div>
        {% else %}
          <div class="alert alert-{{message.tags}}">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
      <h4>Внешние группы</h4>
      {% if cbb_user.can_create_group %}
        <div class="row">
          <div class="col-md-12" align="right">
            <a href={% url "antirobot.cbb.cbb_django.cbb:admin.add_service" %}>Добавить группы для сервиса</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="right">
            <a href={% url "antirobot.cbb.cbb_django.cbb:admin.add_group" %}>Добавить новую группу</a>
          </div>
        </div>
      {% endif %}
      {% include "cbb/group/groups_table.html" with group_list=external_groups %}
      <br>
      <h4>Внутренние группы</h4>
      <h5>
        <small>
          Блокировки внутренних групп автоматически вырезаются из добавляемых во внешние группы в случае их пересечения.
          <br>Текстовые блокировки не добавляются только в случае полного совпадения.
        </small>
      </h5>
      {% include "cbb/group/groups_table.html" with group_list=internal_groups %}
      <br>
      <h4>Давно не обновлявшиеся группы <small><a id="deprecated-flags-title" href="#">показать</a></small></h4>
      <h5>
        <small>
          Группы, в которых не было обновлений за последние два года.
        </small>
      </h5>
      <div id="deprecated-flags-table" style="display: none;">
        {% include "cbb/group/groups_table.html" with group_list=old_groups %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".table").tablesorter({
        headers: {
          1: {sorter: false},
          2: {sorter: false},
          3: {sorter: false},
          4: {sorter: false},
          5: {sorter: false}
        }
      });

      $("#deprecated-flags-title").click(function(){
        $("#deprecated-flags-table").slideToggle();
        $("#deprecated-flags-title").hide();
      });
    });
  </script>
{% endblock %}
