{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "jvm-gc") %}
{% set name = team + " GC (" + env + ")" %}

{% block elements %}
	{{
		render_element(
			"GC collection seconds",
			"non_negative_derivative(group_lines('sum', {sensor='jvm_gc_collection_seconds', summary_type='count'}))"
		)
	}}
{% endblock %}
