{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "jvm-heap") %}
{% set name = team + " Heap (" + env + ")" %}

{% block additional_params %}
    ,{
        "name": "area",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"Bytes used",
			"group_lines('sum', {sensor='jvm_memory_bytes_used'})",
         	area="true"
		)
	}},
	{{
		render_element(
			"Bytes commited",
			"group_lines('sum', {sensor='jvm_memory_bytes_committed'})",
         	area="false"
		)
	}},
	{{
		render_element(
			"Bytes init",
			"group_lines('sum', {sensor='jvm_memory_bytes_init'})",
         	area="false"
		)
	}},
	{{
		render_element(
			"Bytes max",
			"group_lines('sum', {sensor='jvm_memory_bytes_max'})",
         	area="false"
		)
	}}
{% endblock %}
