{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "jvm-threads") %}
{% set name = team + " Threads (" + env + ")" %}

{% block elements %}
    {{ render_element(
         "{{ state }}",
         "max({sensor=jvm_threads_state}) by state",
         area="true"
    ) }}
{% endblock %}
