.services-list
{
    width: 200px;
    position: relative;

    &__add
    {
        margin-left: 10px;
    }

    &__select-icon
    {
        text-align: center;
    }

    &__search-input > .textinput__icon
    {
        background-image: url('../icon/_theme/icon_theme_search.svg');
        opacity: 0.3;
    }

    &__search-input > .icon_size_s
    {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
    }
}
