Source: admins-pylint
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/admins-pylint

Package: admins-pylint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
