Source: yandex-autodetect-root-email
Section: misc
Priority: extra
Maintainer: Andrey Godin <agodin@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://staff.yandex-team.ru/agodin

Package: yandex-autodetect-root-email
Architecture: all
Depends: curl, libwww-perl
Description: autodetect root-email for host
 autodetect root-email for host 
