{
    "id": "<< id_prefix >>-marketplace-docs-count-consistency",
    "projectId": "<< project_id >>",
    "name": "Marketplace docs count consistency",
    "channels": [
      {
        "id": "<< juggler.get('notification_channel') >>",
        "config": {
          "notifyAboutStatuses": [ "OK", "ALARM", "WARN"]
        }
      }
    ],
    "type": {
      "expression": {
        "program": "{% include "alerts/cloud-search/marketplace-docs-count-consistency" %}",
        "checkExpression": ""
      }
    },
    "annotations": {
      "description": "Marketplace docs count consistency",	
      "host": "<< indexer.get('juggler_host') >><< juggler.get('host_suffix') >>",
      "service": "marketplace_docs_count_consistency"
    },
    "periodMillis": 3600000,
    "delaySecs": 0,
    "description": "",
    "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA"
  }
  
