{
    "id": "<< id_prefix >>-marketplace-response-codes",
    "projectId": "<< project_id >>",
    "name": "Marketplace response codes",
    "channels": [
      {
        "id": "<< juggler.get('notification_channel') >>",
        "config": {
          "notifyAboutStatuses": [ "OK", "ALARM", "WARN"]
        }
      }
    ],
    "type": {
      "expression": {
        "program": "{% include "alerts/cloud-search/response-codes-marketplace" %}",
        "checkExpression": ""
      }
    },
    "annotations": {
      "description": "Marketplace response codes for 1h.\nBoard - << solomon_url >>?project=<< project_id >>&dashboard=<< id_prefix >>-health-duty-board&b=1d",	
      "host": "<< proxy.get('juggler_host') >><< juggler.get('host_suffix') >>",
      "service": "response_codes_marketplace"
    },
    "periodMillis": 3600000,
    "delaySecs": 0,
    "description": "",
    "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA"
  }
  
