{
    "id": "<< id_prefix >>-<< cloud_service >>-stale-docs",
    "projectId": "<< project_id >>",
    "name": "Stale docs << cloud_service >>",
    "channels": [
      {
        "id": "<< juggler.get('notification_channel') >>",
        "config": {
          "notifyAboutStatuses": [ "OK", "ALARM", "WARN"]
        }
      }
    ],
    "type": {
      "expression": {
        "program": "{% include "alerts/cloud-search/stale-docs" %}",
        "checkExpression": ""
      }
    },
    "annotations": {
      "description": "Stale docs for 1h: {{expression.staleCount}}.\nBoard - << solomon_url >>?project=<< project_id >>&dashboard=<< id_prefix >>-health-duty-index-board&b=1d",
      "value": "{{ expression.staleCount }}",
      "host": "<< indexer.get('juggler_host') >><< juggler.get('host_suffix') >>",
      "service": "stale_docs_<< cloud_service >>"
    },
    "periodMillis": 3600000,
    "delaySecs": 0,
    "description": "",
    "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA"
  }
  