{
    "id": "<< id_prefix >>-unparsed-docs-total",
    "projectId": "<< project_id >>",
    "name": "Unparsed docs total",
    "channels": [
      {
        "id": "<< juggler.get('notification_channel') >>",
        "config": {
          "notifyAboutStatuses": [ "OK", "ALARM", "NO_DATA" ]
        }
      }
    ],
    "type": {
      "expression": {
        "program": "{% include "alerts/cloud-search/unparsed-docs-total" %}",
        "checkExpression": ""
      }
    },
    "annotations": {
      "description": "Unparsed for 5m: {{expression.unparsedCount}}",
      "value": "{{ expression.unparsedCount }}",
      "host": "<< indexer.get('juggler_host') >><< juggler.get('host_suffix') >>",
      "service": "unparsed_docs_total"
    },
    "periodMillis": 300000,
    "delaySecs": 0,
    "description": "",
    "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA"
  }
  
