Source: yandex-graphite-checks-nginx-errlog-rate
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-graphite-checks-nginx-errlog-rate

Package: yandex-graphite-checks-nginx-errlog-rate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, logtail
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
