#!/usr/bin/make -f
# -*- makefile -*-

override_dh_builddeb:
	dh_builddeb -- -Zgzip


override_dh_install:
	mkdir -p debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/scripts/
	mkdir -p debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/enabled/
	mkdir -p debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/available/
	cp nginx-error-log-analyzer.pl debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/scripts/
	chmod +x debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/scripts/*
	cp nginx-error-log.sh debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/available/
	chmod +x debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/available/*
	ln -s ../available/nginx-error-log.sh debian/yandex-graphite-checks-nginx-errlog-rate/usr/lib/yandex-graphite-checks/enabled/

%:
	dh $@
