.green1 {background: url(/static/img/yes26px_anim.png) no-repeat 0 0px; cursor:default}
.green2 {background: url(/static/img/yes26px_anim.png) no-repeat 0 -26px;;cursor:pointer;}
.color2 {background: url(http://test.local/static/img/crypt_me_please.png) no-repeat 0 -26px; cursor:pointer; align-self: center}
.ad {border-image: url("./testing/img/yes26px_anim.png")}
.ad1 {border-image: url('../testing/img/yes26px_anim.png')}
