{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*server"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"503",
			expression="alias(group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='cloud_" + env + "_kms_cluster', sensor='grpc_statuses', service='service', status='UNAVAILABLE'})))), '503')",
			stack="false",
			color="#da7"
		)
	}},
	{{
	    render_element(
			"5xx",
			expression="alias(group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='cloud_" + env + "_kms_cluster', sensor='grpc_statuses', service='service', status='UNKNOWN|DEADLINE_EXCEEDED|UNIMPLEMENTED|INTERNAL|DATA_LOSS'})))), '5xx')",
			stack="false",
			color="#b20"
		)
	}}
{% endblock %}
