{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rps",
			expression="alias(group_lines('sum', non_negative_derivative(group_by_time(15s, 'max', { cluster='cloud_" + env + "_kms_cluster', meter_type='count', sensor='grpc_requests', service='service', host='[[host]]' }))), 'rps')"
		)
	}}
{% endblock %}
