{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"reads",
			expression=aggregation + "(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Io/Disks/Read" + path_suffix + "'})) by (name)"
		)
	}},
	{{
	    render_element(
			"writes",
			expression=aggregation + "(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Io/Disks/Write" + path_suffix + "'})) by (name)"
		)
	}}
{% endblock %}
