{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "area",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"memory_bytes",
			expression="alias(sum(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='jvm_memory_bytes_used', service='service'})) by (name), 'memory_bytes')"
		)
	}}
{% endblock %}
