{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"keyRotateJobPreconditionsFailed",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='keyRotateJobPreconditionsFailed', service='service'}))))"
		)
	}},
	{{
	    render_element(
			"keyRotateJobRotateFailed",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='keyRotateJobRotateFailed', service='service'}))))"
		)
	}},
	{{
	    render_element(
			"keyRotateJobVersionQuotaExceeded",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='keyRotateJobVersionQuotaExceeded', service='service'}))))"
		)
	}}
{% endblock %}
