{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"p50",
			expression="alias(histogram_percentile(50, 'bin', sum(group_by_time(15s, 'avg', { bin='*', cluster='cloud_" + env + "_kms_cluster', service='" + service + "', sensor='envoy_cluster_upstream_rq_time', host='[[host]]' })) by (bin)), 'p50')",
			stack="false"
		)
	}},
	{{
	    render_element(
			"p75",
			expression="alias(histogram_percentile(75, 'bin', sum(group_by_time(15s, 'avg', { bin='*', cluster='cloud_" + env + "_kms_cluster', service='" + service + "', sensor='envoy_cluster_upstream_rq_time', host='[[host]]' })) by (bin)), 'p75')",
			stack="false"
		)
	}},
	{{
	    render_element(
			"p90",
			expression="alias(histogram_percentile(90, 'bin', sum(group_by_time(15s, 'avg', { bin='*', cluster='cloud_" + env + "_kms_cluster', service='" + service + "', sensor='envoy_cluster_upstream_rq_time', host='[[host]]' })) by (bin)), 'p90')",
			stack="false"
		)
	}},
	{{
	    render_element(
			"p99",
			expression="alias(histogram_percentile(99, 'bin', sum(group_by_time(15s, 'avg', { bin='*', cluster='cloud_" + env + "_kms_cluster', service='" + service + "', sensor='envoy_cluster_upstream_rq_time', host='[[host]]' })) by (bin)), 'p99')",
			stack="false"
		)
	}}
{% endblock %}
