{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"faults",
			expression="sum(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Memory/MajorPageFaults'})) by (name)"
		)
	}}
{% endblock %}
