{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			title,
			expression="alias(max(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='" + sensor + "', service='service'})) by (name), '" + sensor + "')"
		)
	}}
{% endblock %}
