{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"anon",
			expression=aggregation + "(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Memory/ActiveAnon'})) by (name)"
		)
	}},
	{{
	    render_element(
			"file",
			expression=aggregation + "(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Memory/ActiveFile'})) by (name)"
		)
	}},
	{{
	    render_element(
			"total",
			expression=aggregation + "(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', service='sys', path='/Memory/MemTotal'})) by (name)"
		)
	}}
{% endblock %}
