{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rx",
			expression="sum(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', intf='eth0', service='sys', path='/Net/Ifs/Rx" + path_suffix + "'})) by (name)"
		)
	}},
	{{
	    render_element(
			"tx",
			expression="sum(group_by_time(15s, 'max', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', intf='eth0', service='sys', path='/Net/Ifs/Tx" + path_suffix + "'})) by (name)"
		)
	}}
{% endblock %}
