{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rps",
			expression="alias(sum(group_by_time(15s, 'max', { cluster='cloud_" + env + "_kms_cluster', host='[[host]]', sensor='envoy_cluster_health_check_failure', service='private_envoy'})) by (name), 'failures')"
		)
	}}
{% endblock %}
