{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rps",
			expression="alias(group_lines('sum', group_by_time(15s, 'avg', {cluster='cloud_" + env + "_kms_cluster', host='[[host]]', envoy_http_conn_manager_prefix='frontend_*', sensor='envoy_http_downstream_rq_total', service='public_envoy'})), 'rps')"
		)
	}}
{% endblock %}
