{
  "id": "<< id_prefix >>-<< grpc_interface >>-client-errors",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> << (grpc_interface|resolve)["human_name"] >> client errors by DC (Log)",
  "descriptiodn": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< (grpc_interface|resolve)["cluster"] >>"
    },
    {
      "name": "service",
      "value": "<< (grpc_interface|resolve)["service"] >>"
    }
  ],
  "elements": [
    {% for dc, val in  dc_lst.items() %}
    { "title": "<< dc >>",
      "area": true,
      "type": "EXPRESSION",
      "yaxis": "LEFT",
      "expression": "{% include "graphs/grpc/grpc-client-errors-dc" %}",
      "color": "<< val.color >>"
    }
    {% if not loop.last %}
    ,  
    {% endif %}
    {% endfor %}
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "LOG",
  "numberFormat": "3|",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "generatedId": "",
  "createdBy": "asalimonov"
}
