{
  "id": "<< id_prefix >>-<< grpc_interface >>-responses",
  "name": "<< human_prefix >> << (grpc_interface|resolve)["human_name"] >> responses (Log)",
  "description": "",
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": null,
  "colorScheme": "AUTO",
  "dropNans": null,
  "stack": null,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "LOG",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": null,
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "3",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "grid": "",
  "maxPoints": null,
  "hideNoData": "",
  "threshold": null,

  "projectId": "<< project_id >>",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< (grpc_interface|resolve)["cluster"] >>"
    },
    {
      "name": "service",
      "value": "<< (grpc_interface|resolve)["service"] >>"
    }
  ],
  "elements": [
    {% set statuses =  g.grpc | signal_to_color_schema_to_list %}
    {% for s in statuses %}
    { "title": "<< s >>",
      "area": true,
      "type": "EXPRESSION",
      "expression": "group_lines('sum', {name=\"<< s|grpc_status_to_signal((grpc_interface|resolve)["prefix"], (grpc_interface|resolve)["postfix"]) >>\",  host=\"<< (grpc_interface|resolve)["host"] >>\"})",
      "color": "<< s|grpc_status_to_color(g.grpc) >>"
    }
    {% if not loop.last %}
    ,
    {% endif %}
    {% endfor %}
  ]
}
