Source: config-autodetect-active-eth
Section: misc
Priority: optional
Maintainer: Evgeniy Zaitsev <eightn@yandex-team.ru>

Package: config-autodetect-active-eth
Section: misc
Priority: optional
Architecture: all
Pre-Depends: ${shlibs:Depends}, ${misc:Depends}, bridge-utils, ethtool, lshw
Depends: yandex-lib-autodetect-environment
Description: autodetect active ethX iface in system (in non-bridge and bridge mode)
