{% set drooz_nginx_local_conf = salt['grains.filter_by']({
    'base': {
        'proxy_cache': '180s',
        'drooz_v2': {
            'drooz_port': 8383,
            'collector_hosts': pillar['federations'][pillar['mds_federation']]['collector']['hosts']
        }
    },
    'unstable': {
    },
    'testing': {
        'proxy_cache': '60s'
    },
    'prestable': {
        'drooz_v2': {
            'collector_hosts': pillar['federations'][pillar['mds_federation']]['collector']['hosts_with_prestable']
        }
    },
}, grain='yandex-environment', merge=salt['pillar.get']('drooz_nginx_local_conf'), default='production', base='base') %}
