group salt_masters {

  host {{masters|join(" ")}};

  key /etc/csync2.key;
  include /srv/salt;
  include /etc/salt/pki/master/master.pem;
  include /etc/salt/pki/master/master.pub;
  action {
    pattern /etc/salt/pki/master/master.p*;
    exec "service salt-master restart";
    logfile "/var/log/csync2.log";
  }

  backup-directory /var/backups/csync2;
  backup-generations 3; # backup old files (see 3.4.11)
  auto younger; #default  none; # auto resolving mode (see 3.4.6)
}
# see http://oss.linbit.com/csync2/paper.pdf
