[Unit]
Description="IFMap Service"
After=network.target
PartOf=contrail-api.service

StartLimitInterval=300s
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/ifmap-server
PIDFile=/var/run/contrail/ifmap.pid
TimeoutStopSec=12
Restart=always
RestartSec=12
User=contrail
Group=contrail
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/ifmap-server

[Install]
WantedBy=multi-user.target
