push_server:
  lookup:
    package: statbox-push-server-lite
    service: statbox-push-server-lite
    filename: /etc/yandex/statbox-push-server-lite/push-server.yaml
    filesource: salt://templates/push-server/files/push-server.yaml
    defaultfilename: /etc/default/push-server-lite
    defaultfilesource: salt://templates/push-server/files/push-server.default
    logrotatesource: salt://templates/push-server/files/push-server.logrotate
    user: root
    group: root
    logger: 
      file: /var/log/push-server-lite.log
      level: 10
    network:
      port: 8080
      host: {{ salt['grains.get']('fqdn') }}
    storage:
      path: /opt/storage
      rotate: daily
      filescount: 90
      compress: 1
    monpackage: config-monrun-mobile-push-server-lite
