[Unit]
Description=MDB-metrics service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
KillMode=mixed
PIDFile=/var/run/mdb-metrics.pid
ExecStart=/opt/yandex/mdb-metrics/bin/python /opt/yandex/mdb-metrics/bin/mdb_metrics
ExecReload=/etc/init.d/mdb-metrics reload
Restart=always
RestartSec=1
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
