[Unit]
Description=Update SLB interface
DefaultDependencies=no
After=selfdns-client.service systemd-sysctl.service systemd-modules-load.service

[Service]
ExecStart=/usr/bin/netconfig-slb.sh
Restart=always
RestartSec=50s

[Install]
WantedBy=multi-user.target