{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "job_results" %}
      {% tab_item "commands" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-24">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Shipment Command ID</th>
                <td>{{ obj.pk }}&nbsp;{% simple_copy obj.pk %}</td>
              </tr>
              <tr>
                <th>Shipment</th>
                <td>{{ obj.shipment.self_link_c }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ obj.type }}</td>
              </tr>
              <tr>
                <th>Arguments</th>
                <td class="noodle-mono">{{ obj.arguments|join:" " }}</td>
              </tr>
              <tr>
                <th>Timeout</th>
                <td>{{ obj.timeout }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_job_results">
        <div class="row">
          {% obj_block_onload obj "job_results" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_commands">
        <div class="row">
          {% obj_block_onload obj "commands" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
