.config-object-editor
{
    &__item
    {
        & + &
        {
            padding-top: 15px;
        }
    }

    &__title
    {
        padding-bottom: 20px;
    }

    &__actions
    {
        padding-top: 20px;
    }
}
