[Unit]
Description="GoBGP daemon"
ConditionPathExists=/etc/gobgp/gobgpd.conf
StartLimitInterval=100
StartLimitBurst=5
After=network.target
Before=tflow.service

[Service]
Type=simple
ExecStart=/usr/bin/gobgpd -t yaml -f /etc/gobgp/gobgpd.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
