{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}
{% load cms.templatetags %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>ID</th>
        <th>FQDN</th>
        <th>Status</th>
        <th>Duty routine</th>
        <th>Created at</th>
        <th>Done at</th>
        <th>Resolved at</th>
        <th>Wall-E action</th>
        <th>Issuer</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td class="noodle-mono">{{ obj.self_link }}</td>
        <td>{% decision_fqdns obj %}</td>
        <td>{% decision_ui_status obj %}</td>
        <td>{{ obj.duty_routine|dash_if_not }}</td>
        <td data-order="{{ obj.request.created_at|date:"Uu" }}">{% dt_formatted obj.request.created_at %}</td>
        <td data-order="{{ obj.request.done_at|date:"Uu" }}">{% dt_formatted obj.request.done_at %}</td>
        <td data-order="{{ obj.request.resolved_at|date:"Uu" }}">{% dt_formatted obj.request.resolved_at %}</td>
        <td>{% decision_action obj %}</td>
        <td>{% decision_author obj %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
