Source: config-afisha-dfront-memcache
Section: misc
Priority: extra
Maintainer: Zhivotnev Vladislav <inkvizitor68sl@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
Vcs-Git: git@github.yandex-team.ru:admins/git-repo.git
Vcs-Browser: https://github.yandex-team.ru/admins/git-repo

Package: config-afisha-dfront-memcache
Architecture: all
Depends: memcached, yandex-juggler-memchached-check
Description: memcache config for %afisha_dfront


