{
  "id": "<< id_prefix >>-health-<< db >>-duty-board",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> << db_ctx.name >> duty board",
  "rows": [
    {
      "panels": [
        {
          "title": "Alive clusters",
          "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-clusters-alive",
          "colspan": 2,
          "rowspan": 1
        },
        {
          "title": "Not healthy clusters",
          "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-clusters-bad-status",
          "colspan": 2,
          "rowspan": 1
        }
      ]
    },
    {% if db != "mongodb" %}
    {
        "panels": [
            {
              "title": "Total HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-clusters-total",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO/DT HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-clusters-bad",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO HA clusters alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-ha-clusters-ro/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT HA cluster alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-ha-clusters-dt/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            }

        ]
    },
    {% endif %}
    {% if db_ctx.sharded %}
    {
        "panels": [
            {
              "title": "Total HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-shards-total",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO/DT HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-shards-bad",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO HA shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-ha-shards-ro/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT HA shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-ha-shards-dt/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            }

        ]
    },
    {% endif %}
    {% if db != "mongodb" %}
    {
        "panels": [
            {
              "title": "Total non-HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-clusters-total",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO/DT non-HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-clusters-bad",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO non-HA clusters alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-nonha-clusters-ro/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT non-HA clusters alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-nonha-clusters-dt/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            }
        ]
    },
        {
        "panels": [
            {
              "title": "HA clusters RO / RW",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-clusters-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read availability for HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-clusters-dt-pie",
              "colspan": 1,
              "rowspan": 1
            },
                    {
              "title": "non-HA clusters RO / RW",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-clusters-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read availability for non-HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-clusters-dt-pie",
              "colspan": 1,
              "rowspan": 1
            }
        ]
        },
    {%  endif %}
    {% if db_ctx.sharded %}
    {
        "panels": [
            {
              "title": "Total non-HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-shards-total",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO/DT non-HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-shards-bad",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "RO HA non-shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-nonha-shards-ro/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT HA non-shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< db >>-nonha-shards-dt/singlestat/fullscreen?annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            }

        ]
    },
        {
        "panels": [
            {
              "title": "HA shards RO / RW",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-shards-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read availability for HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-ha-shards-dt-pie",
              "colspan": 1,
              "rowspan": 1
            },
                    {
              "title": "non-HA shards RO / RW",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-shards-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read availability for non-HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< db >>-nonha-shards-dt-pie",
              "colspan": 1,
              "rowspan": 1
            }
        ]
        },
    {% endif %}
    {
        "panels": [
            {
              "title": "Create cluster tasks timings",
              {% if env_name == "compute_prod" %}
              "url": "?cluster=<< metadb.get("cluster") >>&project=<< project_id >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-<< db >>-create-timings",
              {% elif env_name == "porto_prod" %}
              "url": "?project=internal-mdb&cluster=mdb_mail-salt-db&service=mdb&graph=<< id_prefix >>-metadb-<< db >>-create-timings",
              {% else %}
              "url": "?project=<< project_id >>&cluster=<< metadb.get("cluster") >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-<< db >>-create-timings",
              {% endif %}
              "colspan": 2,
              "rowspan": 1
            },
            {
              "title": "Tasks statuses",
              "url": "?cluster=<< metadb.get("cluster") >>&project=<< project_id >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-<< db >>-task-statuses",
              "colspan": 1,
              "rowspan": 1
            }
        ]
    }, 
    {
      "panels": [
            {
              "title": "Failed tasks",
              "url": "?cluster=<< metadb.get("cluster") >>&project=<< project_id >>&service=<< metadb.get("service") >>&&l.sensor=dbaas_metadb_task_status_<< db >>*%2Ffailed&l.node=primary&l.dc=by_node&l.shard=*&l.host=by_node&graph=auto&l.name=*&e=",
              "colspan": 2,
              "rowspan": 2
            },
            {
              "title": "WARNs & CRITs",
              "url": "https://juggler.yandex-team.ru/aggregate_checks/?query=namespace%3Ddbaas.<< db >>%26host%3Dmdb-<< db >>-<< juggler_env >>&view=tiles&statuses=WARN%2CCRIT&iframe=true",
              "colspan": 2,
              "rowspan": 2
            }
      ]
    }
  ],
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< health.get("service") >>"
    },
    {
      "name": "cluster",
      "value": "<< health.get("cluster") >>"
    }
  ],
  "heightMultiplier": "1"
}
