{
  "id": "<< id_prefix >>-health-duty-board",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> duty board",
  "rows": [
    {
        "panels": [
            {
              "title": "Py Int-API HTTP codes (log)",
              "url": "?cluster=<< py_int_api.get("cluster") >>&project=<< project_id >>&service=<< py_int_api.get("service") >>&graph=<< id_prefix >>-internal-api-http-total&scale=log",
              "colspan": 2,
              "rowspan": 1
            },
            {
              "title": "Py Int-API 5xx alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-internal-api-5xx-rate/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "GRPC API responses (log)",
              "url": "?cluster=<< grpc_int_api.get("cluster") >>&project=<< project_id >>&service=<< health.get("service") >>&graph=<< id_prefix >>-grpc_int_api-responses&scale=log",
              "colspan": 2,
              "rowspan": 1
            }
        ]
    },
    {
        "panels": [
            {
              "title": "Tasks (log)",
              "url": "?cluster=<< metadb.get("cluster") >>&project=<< project_id >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-task-statuses&scale=log",
              "colspan": 2,
              "rowspan": 1
            },
            {
              "title": "Failed tasks",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-metadb-tasks-failed-prc/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Failed tasks per DB",
              "url": "?cluster=<< metadb.get("cluster") >>&project=<< project_id >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-failed-tasks-per-db",
              "colspan": 4,
              "rowspan": 1
            }
        ]
    },
  {% for engine in engines %}
    {
      "panels":[
            {
              "title": "Total << g.db_ctxs[engine].name >> HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< engine >>-ha-clusters-total",
              "colspan": 2,
              "rowspan": 1
            },
            {% if not g.db_ctxs[engine].sharded %}
            {
              "title": "RO HA clusters alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< engine >>-ha-clusters-ro/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT HA cluster alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< engine >>-ha-clusters-dt/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Write availability for HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< engine >>-ha-clusters-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read avialibility for HA clusters",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< engine >>-ha-clusters-dt-pie",
              "colspan": 1,
              "rowspan": 1
            },

            {% else %}
            {
              "title": "RO HA shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< engine >>-ha-shards-ro/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "DT HA shards alert",
              "url": "admin/projects/<< project_id >>/alerts/<< id_prefix >>-health-<< engine >>-ha-shards-dt/singlestat/fullscreen?view=tiles&annotationKeys=description",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Write availability for HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< engine >>-ha-shards-ro-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {
              "title": "Read availability for HA shards",
              "url": "?project=<< project_id >>&cluster=<< health.get("cluster") >>&service=<< health.get("service") >>&graph=<< id_prefix >>-health-<< engine >>-ha-shards-dt-pie",
              "colspan": 1,
              "rowspan": 1
            },
            {% endif %}
            {
              "title": "Create << g.db_ctxs[engine].name >> cluster timings",
              "url": "?project=<< project_id >>&cluster=<< metadb.get("cluster") >>&service=<< metadb.get("service") >>&graph=<< id_prefix >>-metadb-<< engine >>-create-timings",
              "colspan": 1,
              "rowspan": 1
            }
      ]
      },
  {% endfor %}
    {
        "panels": [
              {
                "type": "MARKDOWN",
                "title": "",
                "markdown": "{% include "dashboards/health/mdb-duty-boards" %}",
                "rowspan": 2,
                "colspan": 6
              }
        ]
    }
  ],
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< health.get("service") >>"
    },
    {
      "name": "cluster",
      "value": "<< health.get("cluster") >>"
    }
  ],
  "heightMultiplier": "1"
}
