[Unit]
Description=yandex cloud api gateway edge and reverse proxy
After=yc-api-configserver.service statsd-exporter.service yc-api-als.service
Wants=yc-api-configserver.service statsd-exporter.service yc-api-als.service

[Service]
ExecStart=/usr/bin/python /usr/bin/envoy-hot-restarter.py /usr/local/bin/envoy_wrapper.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
