#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#export UNBOUND_VERSION = $(shell dpkg-parsechangelog --show-field version)
export  UNBOUND_VERSION = 1.10.0

%:
	dh $@

override_dh_auto_configure:
	wget -O unbound.tgz https://nlnetlabs.nl/downloads/unbound/unbound-$$UNBOUND_VERSION.tar.gz
	tar --strip-components=1 -xzf unbound.tgz
	rm -v unbound.tgz
	dh_auto_configure -- --prefix=/usr --sysconfdir=/etc --disable-rpath --with-pidfile=/run/unbound.pid --with-libevent --disable-gost

override_dh_clean:
	dh_clean
	ls -A1|grep -v debian| xargs -t --no-run-if-empty rm -rf
