<% set tag = 'itype=antirobot'
    ~ ( ';ctype=' ~ (ctype|default('prestable,prod')))
    ~ ( ';geo=' ~ geo if geo is defined ) %>

{
    "user": "tyamgin",
    "title": "External requests",
    "type": "panel",
    "editors": [],
    "charts": [
        {
            "id": "9b955f75-448d-3f43-c53c-19aa066d0f35",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 1,
            "col": 1,
            "title": "Размер очереди Neh (99 perc)",
            "normalize": false,
            "signals": [
                {
                    "color": "#37bff2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "quant(unistat_daemon-neh_queue_size_ahhh,99)"
                }
            ],
            "consts": []
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d127517ff7d8",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "maxValue": 100.1,
            "minValue": 0,
            "title": "Время ответа на запросы, в которых есть внешние запросы (на капчу, например)",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-captcha_time_1ms_deee~unistat_daemon-captcha_time_10s_deee"
                },
                {
                    "title": "до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-captcha_time_5ms_deee~unistat_daemon-captcha_time_10s_deee"
                },
                {
                    "title": "до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-captcha_time_10ms_deee~unistat_daemon-captcha_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-captcha_time_50ms_deee~unistat_daemon-captcha_time_10s_deee"
                },
                {
                    "title": "до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-captcha_time_90ms_deee~unistat_daemon-captcha_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "captcha_check",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "maxValue": 100.1,
            "minValue": 0,
            "title": "Время ответа api captcha (/check)",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-api_captcha_check_response_time_50ms_deee~unistat_daemon-api_captcha_check_response_time_10s_deee"
                },
                {
                    "title": "до 100мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-api_captcha_check_response_time_100ms_deee~unistat_daemon-api_captcha_check_response_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "captcha_check_errors",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "title": "Ошибки капчи",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "color": "#37bff2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_generation_errors_deee",
                    "title": "Ошибки /generate"
                },
                {
                    "color": "#169833",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_check_errors_deee",
                    "title": "Ошибки /check"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fury_check",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "maxValue": 100.1,
            "minValue": 0,
            "title": "Время ответа фурии",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 30мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_check_response_time_30ms_deee~unistat_daemon-fury_check_response_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_check_response_time_50ms_deee~unistat_daemon-fury_check_response_time_10s_deee"
                },
                {
                    "title": "до 100мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_check_response_time_100ms_deee~unistat_daemon-fury_check_response_time_10s_deee"
                },
                {
                    "title": "до 300мс",
                    "color": "#0000ff",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_check_response_time_300ms_deee~unistat_daemon-fury_check_response_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fury_check_preprod",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "maxValue": 100.1,
            "minValue": 0,
            "title": "Время ответа фурии [preprod]",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 30мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_preprod_check_response_time_30ms_deee~unistat_daemon-fury_preprod_check_response_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_preprod_check_response_time_50ms_deee~unistat_daemon-fury_preprod_check_response_time_10s_deee"
                },
                {
                    "title": "до 100мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_preprod_check_response_time_100ms_deee~unistat_daemon-fury_preprod_check_response_time_10s_deee"
                },
                {
                    "title": "до 300мс",
                    "color": "#0000ff",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-fury_preprod_check_response_time_300ms_deee~unistat_daemon-fury_preprod_check_response_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fury_check_errors",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "title": "Ошибки фурии",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "color": "#169833",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_check_errors_deee",
                    "title": "Ошибки [prod]"
                },
                {
                    "color": "#16f833",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_preprod_check_errors_deee",
                    "title": "Ошибки [preprod]"
                },
                {
                    "color": "#37bff2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-stopped_fury_requests_deee",
                    "title": "Количество не отправленных запросов (выключено через конфиг или ITS) [prod]"
                },
                {
                    "color": "#52bfc2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-stopped_fury_preprod_requests_deee",
                    "title": "Количество не отправленных запросов (выключено через конфиг или ITS) [preprod]"
                },
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fury_captcha_changes",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "title": "Отклонения вердиктов api-captcha и фурии",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "color": "#169833",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_fury_ok_to_fail_changes_deee",
                    "title": "OK -> Fail [prod]"
                },
                {
                    "color": "#16f833",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_fury_fail_to_ok_changes_deee",
                    "title": "Fail -> Ok [prod]"
                },
                {
                    "color": "#37bff2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_fury_preprod_ok_to_fail_changes_deee",
                    "title": "OK -> Fail [preprod]"
                },
                {
                    "color": "#52bfc2",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_fury_preprod_fail_to_ok_changes_deee",
                    "title": "Fail -> Ok [preprod]"
                },
            ],
            "consts": [],
            "range": 1500
        },
    ]
}