<% set tag = 'itype=antirobot'
    ~ ( ';ctype=' ~ (ctype|default('prestable,prod')))
    ~ ( ';geo=' ~ geo if geo is defined ) %>

{
    "abc": "robotolovilka",
    "user": "tyamgin",
    "title": "Antirobot",
    "type": "panel",
    "editors": [
        "toshchakov",
        "ashagarov",
        "tyamgin",
        "gasafyanov"
    ],
    "charts": [
        {
            "id": "674db531-5d79-71d7-ce19-840f1125a03b",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 1,
            "col": 1,
            "minValue": 0,
            "title": "antirobot_daemon",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Все запросы от детектированных роботов",
                    "color": "#d721a3",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-robots_deee"
                },
                {
                    "title": "Поисковые запросы от детектированных роботов",
                    "color": "#ffd13f",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-robots_with_captcha_deee"
                },
                {
                    "title": "Редиректы на капчу [1]",
                    "color": "#66ff00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_redirects_deee"
                },
                {
                    "title": "Редиректы на капчу [2]",
                    "color": "#66cf00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_advanced_redirects_deee"
                },
                {
                    "title": "Показы страницы капчи [1]",
                    "color": "#75b5f5",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_shows_deee"
                },
                {
                    "title": "Показы страницы капчи [2]",
                    "color": "#75a5f5",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_advanced_shows_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "0011d963-7a8e-b8d2-f7f3-2f429e93622a",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 1,
            "col": 3,
            "title": "robots_ratio",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Доля детектируемых роботных запросов в потоке",
                    "color": "#5fcda1",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "or(perc(unistat_daemon-captcha_redirects_deee,unistat_daemon-requests_with_captcha_deee),0)"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "d5acf2e9-50e6-e9a8-6c71-bed6a1c9aede",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 3,
            "col": 1,
            "minValue": 0,
            "title": "Капча",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Загрузки картинки капчи",
                    "color": "#808080",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_image_shows_deee"
                },
                {
                    "title": "Верные вводы картинки",
                    "color": "#34c924",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_correct_inputs_deee"
                },
                {
                    "title": "Проходы галочки",
                    "color": "#34f924",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_correct_checkbox_inputs_deee"
                },
                {
                    "title": "Неверные вводы картинки",
                    "color": "#e97451",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_incorrect_inputs_deee"
                },
                {
                    "title": "Непроходы галочки",
                    "color": "#c97451",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_incorrect_checkbox_inputs_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "03e6c0f0-8832-6690-9758-34076ea5b736",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 3,
            "col": 3,
            "minValue": 0,
            "title": "ddos_monitor",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Заблокированные запросы",
                    "color": "#99958c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-block_responses_total_deee"
                },
                {
                    "title": "Заблокированные регулярками",
                    "color": "#ffcc00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-block_responses_antiddos_tool_deee"
                },
                {
                    "title": "Заблокированные с L-куками",
                    "color": "#34c924",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-block_responses_with_Lcookie_deee"
                },
                {
                    "title": "Почти заблокированные запросы (разметка 185 флага)",
                    "color": "rgba(149,149,140,0.5)",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-block_responses_marked_total_deee"
                },
                {
                    "title": "Почти заблокированные с L-куками (разметка 185 флага)",
                    "color": "rgba(52,201,36,0.5)",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-block_responses_marked_with_Lcookie_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "9ba4eadf-10a3-f8a8-ccc3-9232b5d16e06",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 5,
            "col": 1,
            "minValue": 0,
            "title": "Запросы",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Всего запросов на Cacher",
                    "color": "#0000FF",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Всего запросов на Processor",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-process_server.time_10s_deee"
                },
                {
                    "title": "Поисковых запросов (requests_with_captcha)",
                    "color": "#ffcc00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-requests_with_captcha_deee"
                },
                {
                    "title": "Редиректов на капчу [1]",
                    "color": "#66ff00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_redirects_deee"
                },
                {
                    "title": "Редиректов на капчу [2]",
                    "color": "#66ef00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_advanced_redirects_deee"
                },
                {
                    "title": "Число дропнутых соединений на балансере (бан по заголовку)",
                    "color": "#0000FF",
                    "tag": "itype=balancer",
                    "host": "ASEARCH",
                    "name": "balancer_report-ban-conns_summ"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "1c993e03-7f28-a43f-f00d-e0c5b4b00176",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 5,
            "col": 3,
            "minValue": 0,
            "title": "Ошибки",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Ошибки генерации капчи",
                    "color": "#8c4566",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_generation_errors_deee"
                },
                {
                    "title": "Ошибки обращения к визарду",
                    "color": "#546575",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-wizard_errors_deee"
                },
                {
                    "title": "Ошибки обращения к ЕББ",
                    "color": "#00008b",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-cbb_errors_deee"
                },
                {
                    "title": "Ошибки обращения к Фурии [prod]",
                    "color": "#00AA00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_check_errors_deee"
                },
                {
                    "title": "Ошибки обращения к Фурии [preprod]",
                    "color": "#004400",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_preprod_check_errors_deee"
                },
                {
                    "title": "TBadExpect",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-bad_expects_count_deee"
                },
                {
                    "title": "TInvalidPartnerRequest",
                    "color": "#EE0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-invalid_partner_requests_count_deee"
                },
                {
                    "title": "Other exceptions",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-other_exceptions_count_deee"
                },
                {
                    "title": "Dead services requests",
                    "color": "#AA0000",
                    "tag": "<< tag >>; service_type=auto,hiliter,kpapi,marketapi_blue,marketred,tech,slovari,rca",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-handle_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d027517ff7d6",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 7,
            "col": 1,
            "maxValue": 100.1,
            "minValue": 98,
            "title": "query-processing-time (полное время с начала чтения)",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Ответов до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_1ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_5ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_10ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_50ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_90ms_deee~unistat_daemon-http_server.time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d027517ff7d7",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 9,
            "col": 1,
            "maxValue": 100.1,
            "minValue": 98,
            "title": "Время на обработку запроса (без учета чтения и ожидания, есть разбивка по сервисам)",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-handle_time_1ms_deee~unistat_daemon-handle_time_10s_deee"
                },
                {
                    "title": "до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-handle_time_5ms_deee~unistat_daemon-handle_time_10s_deee"
                },
                {
                    "title": "до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-handle_time_10ms_deee~unistat_daemon-handle_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-handle_time_50ms_deee~unistat_daemon-handle_time_10s_deee"
                },
                {
                    "title": "до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-handle_time_90ms_deee~unistat_daemon-handle_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d027517ff7d8",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 7,
            "col": 3,
            "maxValue": 100.1,
            "minValue": 98,
            "title": "Время на чтение запроса с балансера",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_1ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_5ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_10ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_50ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_90ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "instances_load",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 11,
            "col": 1,
            "minValue": 0,
            "title": "Нагрузка на машины",
            "stacked": false,
            "normalize": false,
            "signals": [
                {
                    "title": "quant(portoinst-memory_anon_unevict_limit_usage_perc_hgram, 99)",
                    "color": "#D92E2E",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "quant(portoinst-memory_anon_unevict_limit_usage_perc_hgram, 99)"
                },
                {
                    "title": "quant(portoinst-cpu_guarantee_usage_perc_hgram, 99)",
                    "color": "#0000FF",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "quant(portoinst-cpu_guarantee_usage_perc_hgram, 99)"
                }
            ],
            "consts": [],
            "range": 1500
        }
    ]
}
