<% set tag = 'itype=smart-captcha'
    ~ ( ';ctype=' ~ (ctype|default('prod')))
    ~ ( ';geo=' ~ geo if geo is defined ) %>

{
    "abc": "robotolovilka",
    "user": "tyamgin",
    "title": "Smart-captcha daemon",
    "type": "panel",
    "editors": [
        "toshchakov",
        "ashagarov",
        "tyamgin",
        "gasafyanov"
    ],
    "charts": [
        {
            "id": "d5acf2e9-50e6-e9a8-6c71-bed6a1c9aede",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 1,
            "col": 1,
            "minValue": 0,
            "title": "Проходы капчи",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Загрузки картинки капчи",
                    "color": "#808080",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_image_shows_deee"
                },
                {
                    "title": "Верные вводы картинки",
                    "color": "#34c924",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_correct_inputs_deee"
                },
                {
                    "title": "Проходы галочки",
                    "color": "#34f924",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_correct_checkbox_inputs_deee"
                },
                {
                    "title": "Неверные вводы картинки",
                    "color": "#e97451",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_incorrect_inputs_deee"
                },
                {
                    "title": "Непроходы галочки",
                    "color": "#c97451",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_incorrect_checkbox_inputs_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fsdfasfffhd",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 1,
            "col": 2,
            "minValue": 0,
            "title": "Показы капчи [iframe]",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Все валидные показы iframe (checkbox+advanced)",
                    "color": "#d721a3",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_allowed_requests_deee"
                },
                {
                    "title": "Показы с ошибкой wrong domain",
                    "color": "#ffd13f",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_wrong_domain_requests_deee"
                },
                {
                    "title": "Показы с ошибкой invlid sitekey",
                    "color": "#fa0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_invalid_sitekey_requests_deee"
                },
                {
                    "title": "Показы checkbox.html",
                    "color": "#66cf00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_checkbox_shows_deee"
                },
                {
                    "title": "Показы advanced.html",
                    "color": "#75b5f5",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_advanced_shows_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "9ba4eadf-10a3-f8a8-ccc3-9232b5d16e06",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 2,
            "col": 1,
            "minValue": 0,
            "title": "Запросы",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Всего запросов к демону",
                    "color": "#0000FF",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-http_server.time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "fdksdhdsfffs",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 2,
            "col": 2,
            "minValue": 0,
            "title": "Validate",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Валидации с ответом OK",
                    "color": "#00FF00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_success_deee"
                },
                {
                    "title": "Валидации с ответом Failed",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_failed_deee"
                },
                {
                    "title": "Количество запросов на /validate",
                    "color": "#cccccc",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_requests_deee"
                },
                {
                    "title": "Количество запросов с невалидным секретом",
                    "color": "#AA0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_invalid_secret_requests_deee"
                },
                {
                    "title": "Количество запросов с валидным секретом",
                    "color": "#00AA00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_valid_secret_requests_deee"
                },
                {
                    "title": "Unauthenticated requests",
                    "color": "#009900",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_unauthenticated_requests_deee"
                },
                {
                    "title": "Количество запросов с невалидной справкой",
                    "color": "#005500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_invalid_spravka_requests_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "xxdsfdpeeeee",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 3,
            "col": 1,
            "minValue": 0,
            "title": "Check requests",
            "stacked": false,
            "normalize": false,
            "signals": [
                {
                    "title": "Invalid sitekey",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_check_invalid_sitekey_requests_deee"
                },
                {
                    "title": "Valid sitekey",
                    "color": "#00FF00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_check_valid_sitekey_requests_deee"
                },
                {
                    "title": "Unauthorized requests",
                    "color": "#0000FF",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_check_unauthorized_requests_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "1c993e03-7f28-a43f-f00d-e0c5b4b00176",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 3,
            "col": 2,
            "minValue": 0,
            "title": "Ошибки",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Ошибки генерации капчи",
                    "color": "#8c4566",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_generation_errors_deee"
                },
                {
                    "title": "Ошибки обращения к ЕББ",
                    "color": "#00008b",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-cbb_errors_deee"
                },
                {
                    "title": "Ошибки обращения к Фурии [prod]",
                    "color": "#00AA00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_check_errors_deee"
                },
                {
                    "title": "Ошибки обращения к Фурии [preprod]",
                    "color": "#004400",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-fury_preprod_check_errors_deee"
                },
                {
                    "title": "TBadExpect",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-bad_expects_count_deee"
                },
                {
                    "title": "TInvalidPartnerRequest",
                    "color": "#EE0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-invalid_partner_requests_count_deee"
                },
                {
                    "title": "Other exceptions",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-other_exceptions_count_deee"
                },
                {
                    "title": "Validate captcha_cloud_api failure",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_api_failed_requests_deee"
                },
                {
                    "title": "Iframe captcha_cloud_api failure",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_iframe_api_failed_requests_deee"
                },
                {
                    "title": "Check captcha_cloud_api failure",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_check_api_failed_requests_deee"
                },
                {
                    "title": "Validate unknown errors",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_unknown_errors_deee"
                },
                {
                    "title": "Validate TVM unknown errors",
                    "color": "#CC0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_tvm_unknown_errors_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d027517ff7d6",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 7,
            "col": 1,
            "maxValue": 100.1,
            "minValue": 98,
            "title": "query-processing-time (полное время с начала чтения)",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "Ответов до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_1ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_5ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_10ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_50ms_deee~unistat_daemon-http_server.time_10s_deee"
                },
                {
                    "title": "Ответов до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.time_90ms_deee~unistat_daemon-http_server.time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "166a9df3-5694-d70c-c6f9-d027517ff7d8",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 7,
            "col": 3,
            "maxValue": 100.1,
            "minValue": 98,
            "title": "Время на чтение запроса с балансера",
            "stacked": false,
            "normalize": true,
            "signals": [
                {
                    "title": "до 1мс",
                    "color": "#00ff00",
                    "active": true,
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_1ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 5мс",
                    "color": "#3caa3c",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_5ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 10мс",
                    "color": "#d8a903",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_10ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 50мс",
                    "color": "#ea7500",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_50ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                },
                {
                    "title": "до 90мс",
                    "color": "#ff0033",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "perc~unistat_daemon-http_server.read_time_90ms_deee~unistat_daemon-http_server.read_time_10s_deee"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "instances_load",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 4,
            "col": 1,
            "minValue": 0,
            "title": "Нагрузка на машины",
            "stacked": false,
            "normalize": false,
            "signals": [
                {
                    "title": "quant(portoinst-memory_anon_unevict_limit_usage_perc_hgram, 99)",
                    "color": "#D92E2E",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "quant(portoinst-memory_anon_unevict_limit_usage_perc_hgram, 99)"
                },
                {
                    "title": "quant(portoinst-cpu_guarantee_usage_perc_hgram, 99)",
                    "color": "#0000FF",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "quant(portoinst-cpu_guarantee_usage_perc_hgram, 99)"
                }
            ],
            "consts": [],
            "range": 1500
        },
        {
            "id": "dflsjdsdlkfjnd",
            "type": "graphic",
            "width": 2,
            "height": 2,
            "row": 4,
            "col": 2,
            "minValue": 0,
            "title": "Validate TVM",
            "stacked": false,
            "normalize": false,
            "signals": [
                {
                    "title": "TVM success requests",
                    "color": "#00FF00",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_tvm_success_requests_deee"
                },
                {
                    "title": "TVM denied requests",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_tvm_denied_requests_deee"
                },
                {
                    "title": "TVM unknown errors",
                    "color": "#FF0000",
                    "tag": "<< tag >>",
                    "host": "ASEARCH",
                    "name": "unistat_daemon-captcha_validate_tvm_unknown_errors_deee"
                }
            ],
            "consts": [],
            "range": 1500
        }
    ]
}
