token: 01234567890123456789
token_from_pillar: project_yav_secrets:selfdns      # Если задан - пытается достать токен из указанного пиллара. Если пиллара нет - ошибка.
                                                    # Если не задан - токен достается из token
plugin:
  package: yandex-media-common-selfdns-plugin
  name: media
config: False
cron: False
