{tag}#firstname {
    background-color: yellow;
}
.image-viewer-help > {tag} {
    padding: 5px
}

.image-viewer-help > {tag} span, .image-viewer-help > {tag} i {
    display: inline-block;
    background-color: #e9e9e9;
    width: 38px;
    line-height: 24px;
    border-radius: 2px;
    text-align: center;
    color: #585858;
    font-style: normal;
    margin-right: 5px;
    border-bottom: 2px solid #cacaca
}


.collapse-button_active {tag} {
    width: 6px
}

.collapse-button_active {tag}:first-child {
    transform: rotate(-180deg)
}

.popup-box > {tag}.ppb-arrow {
    position: absolute;
    font-size: 0
}

.popup-box-modal.ppb-no-touch {tag}.ppb-option:hover, .popup-box-modal.ppb-no-touch {tag}.ppb-checkbox:hover, .popup-box-modal.ppb-no-touch {tag}.ppb-radio:hover {
    background-color: #eff2ec
}


.popup-box-modal.ppb-no-touch > {tag}.ppb-top-cont {
    overflow: hidden
}

.popup-box-modal > {tag}.ppb-top-cont {
    white-space: nowrap;
    overflow: auto
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {
    margin: 15px;
    white-space: nowrap;
    display: inline-block;
    position: relative
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-message {
    text-align: center;
    white-space: normal;
    padding: 30px 20px
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-message hr {
    border: 0;
    border-bottom: 1px dotted #a6aca1
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown {
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    padding: 6px 0 6px 10px;
    white-space: nowrap;
    border: 1px solid #ccc;
    min-width: 120px;
    color: #4b4c4e;
    background-color: #fff
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown select {
    display: none
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown span {
    display: inline-block;
    width: calc(100% - 20px);
    vertical-align: top;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown i {
    display: inline-block;
    vertical-align: baseline;
    width: 20px;
    text-align: center;
    color: #777
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown-option {
    padding: 10px 8px;
    border-bottom: 1px dotted #ccc;
    position: relative
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown-option.ppb-selected {
    padding-right: 30px
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-dropdown-option.ppb-selected i {
    display: inline-block;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    color: #8ac858
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
    border-radius: 3px;
    cursor: pointer
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option *, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox *, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio * {
    vertical-align: middle
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option input, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox input, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio input {
    display: none
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option {tag}.ppb-label, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option label, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox {tag}.ppb-label, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox label, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio {tag}.ppb-label, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio label {
    padding-left: 10px;
    display: inline-block;
    white-space: normal;
    max-width: 85%
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option > i.fa, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox > i.fa, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio > i.fa {
    color: #a6aca1
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option > i.fa, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option {tag}.ppb-indicator, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox > i.fa, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox {tag}.ppb-indicator, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio > i.fa, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio {tag}.ppb-indicator {
    display: inline-block;
    width: 1.2em;
    font-size: 1.5em;
    text-align: center;
    line-height: 1em
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option > i.fa i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option {tag}.ppb-indicator i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox > i.fa i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox {tag}.ppb-indicator i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio > i.fa i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio {tag}.ppb-indicator i.ppb-unchecked {
    display: inline
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option > i.fa i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option {tag}.ppb-indicator i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox > i.fa i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox {tag}.ppb-indicator i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio > i.fa i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio {tag}.ppb-indicator i.ppb-checked {
    display: none
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option.ppb-selected {tag}.ppb-indicator i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox.ppb-selected {tag}.ppb-indicator i.ppb-unchecked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio.ppb-selected {tag}.ppb-indicator i.ppb-unchecked {
    display: none
}

.popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-option.ppb-selected {tag}.ppb-indicator i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-checkbox.ppb-selected {tag}.ppb-indicator i.ppb-checked, .popup-box-modal > {tag}.ppb-top-cont > {tag}.ppb-cont {tag}.ppb-radio.ppb-selected {tag}.ppb-indicator i.ppb-checked {
    display: inline
}

.popup-box-modal > {tag}.ppb-heading {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.popup-box-modal > {tag}.ppb-heading > {tag} {
    display: table;
    background-color: #eff2ec;
    color: #b9beb5
}

.popup-box-modal > {tag}.ppb-heading > {tag} > {tag} {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap
}

.popup-box-modal > {tag}.ppb-heading > {tag} > {tag} .ppb-title {
    display: inline-block;
    padding: 15px
}

.popup-box-modal > {tag}.ppb-heading > {tag} > {tag}:last-child {
    width: .1%;
    padding: 0 10px
}

.popup-box-modal > {tag}.ppb-footer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.popup-box-modal > {tag}.ppb-footer > {tag} {
    display: table;
    width: 100%
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag} {
    display: table-cell;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    padding: 15px 20px;
    border-left: 1px solid #cdd0ca
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}:nth-child(1) {
    border-left: none
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-normal {
    background-color: #eff2ec;
    color: #a6aca1
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-normal:hover {
    color: #454648;
    background-color: #f8f8f8
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-warning {
    background-color: #f75c48;
    color: #fff
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-warning:hover {
    background-color: #ff7e6a
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-success {
    background-color: #8ac858;
    color: #fff
}

.popup-box-modal > {tag}.ppb-footer > {tag} > {tag}.ppb-btn-success:hover {
    background-color: #acea7a
}

section, .section, .static-page__container > h1, .static-page__container > a, .static-page__container > {tag}, .static-page__more {
    margin-top: 15px;
    overflow: hidden;
    padding: 15px 25px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    background-color: #fff
}

.static-page__container > h1 + {tag}, .static-page__container > a + {tag} {
    margin-top: 0;
    border-top-color: transparent
}

.static-page__container > a {
    display: block
}

.static-page__container_compact > {tag} {
    margin-top: 0;
    border-top-color: transparent
}

.static-page__menu {tag} + {tag} {
    margin-top: 15px
}

.chat-form_locked {tag}.mc-text-input-wrapper {tag}.mc-text-input {
    background-color: #f5f5f5 !important
}

.community-short > {tag} {
    display: table-cell;
    vertical-align: top;
    font-size: 13px
}

.community-short > {tag}:first-child {
    width: 1px
}

.community-short > {tag}:last-child {
    padding-left: 10px;
    line-height: 28px
}

.community-short_no-buttons {tag} > a[data-role=link] img {
    width: 68px;
    height: 68px
}

.page-notifications__item[data-msg-new="1"] > {tag}:first-child > i {
    color: #cacaca
}

.page-notifications__item > {tag} {
    display: table-cell;
    vertical-align: top;
    padding: 5px 5px 5px 0
}

.page-notifications__item > {tag}:first-child {
    width: 36px;
    text-align: center;
    padding: 10px
}

.page-notifications__item > {tag}:first-child img {
    width: 34px;
    height: 34px
}

.page-notifications__item > {tag}:first-child i {
    font-size: 20px;
    color: #cacaca
}

.page-notifications__item > {tag} span {
    color: #cacaca;
    font-size: 13px
}

.profile_short .profile__user {tag}:last-child a {
    display: inline-block;
    padding-top: 5px
}

.profile__user > {tag}:last-child {
    line-height: 0;
    white-space: nowrap
}

.page-story__cedit > {tag}[data-role=cedit-user] {
    flex: 1;
    color: #757575
}

.page-story__cedit > {tag}[data-role=cedit-user] a > span {
    font-size: inherit
}

.page-story__cedit > {tag}[data-role=cedit-link] {
    flex: 0;
    color: #757575;
    white-space: nowrap;
    padding-left: 10px
}

.page-story__cedit > {tag}[data-role=cedit-button] {
    cursor: pointer;
    padding-left: 10px
}

.page-story__cedit > {tag}[data-role=cedit-button] svg {
    width: 12px;
    fill: #c2c2c2;
    transition: fill 200ms ease-out
}

.page-story__cedit > {tag}[data-role=cedit-button]:hover svg {
    fill: #fd5d47
}

.page-story__cedit > {tag}[data-role=cedit-button] _active {
    color: #000
}

.page-story__cedit > {tag}[data-role=cedit-button] _active svg {
    fill: #fd5d47
}

.story {tag}[style^="margin: 15px"] {
    margin: 15px -25px !important;
    line-height: 0
}

.story {tag}[style^="margin: 15px"] img {
    display: inline-block
}

.story {tag}[style^="margin: 15px"] iframe {
    width: 100%;
    height: 392px
}

.story {tag}[style^="margin: 15px -16px 10px"] {
    margin: 15px -25px 10px !important
}

.story {tag}[style^="margin: 15px -16px 12px"] {
    margin: 15px -25px 12px !important
}

.story {tag}[style^="margin: -12px"] {
    margin: -12px -25px 15px !important
}

.story {tag}[style^="margin: -12px"] iframe {
    width: 100%;
    height: 392px
}

.story {tag}[style^="margin: 12px"] {
    margin: 12px -25px -5px !important
}

.story-editor .section-group[data-role=controls][data-wait=true] {tag}[data-role=similar-stories-wait] {
    display: flex !important
}

.story-editor .section-group[data-role=controls][data-wait=true]:hover {tag}[data-role=similar-stories-wait] {
    opacity: 1
}

.story-editor {tag}[data-role=similar-stories-wait] {
    cursor: default;
    transition: opacity 200ms;
    opacity: 0;
    position: absolute;
    z-index: 200;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%
}

.story-editor__controls > {tag}:last-child > button {
    text-transform: lowercase
}

.story-editor__controls > {tag}:first-child button {
    margin-right: 15px
}

.survey-question__answer > {tag} {
    flex: 0
}

.survey-question__answer > {tag}:last-child {
    flex: 1
}

.survey-progress__bar > {tag} {
    background-color: #8ac858;
    height: 16px
}
.cedit-record__extended > {tag} {
    padding-left: 10px
}
.cedit-stat__votes > {tag} {
    padding-right: 15px
}

.cedit-stat__votes > {tag}:last-child {
    padding-right: 0
}

.cedit-promo__timeline > {tag} {
    width: 100%
}
.cedit-promo__line > {tag} {
    border-top: 2px solid #e9e9e9;
    margin: 0 5px
}