# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=/var/lib/yandex/@dir@
# the port at which the clients will connect
clientPort=2181

#ZooKeeper writes transactions to a transaction log-file. After snapCount transactions are written to a log file a snapshot is started and a new transaction log file is created. The default snapCount is 100,000.
snapCount=10000

# cleaning up transaction logs
# keep last 3 files (min acceptable value)
autopurge.snapRetainCount=3
# interval in hours between cleanups
autopurge.purgeInterval=1

yandex.user=zookeeper
yandex.servers.production=%strm-zk
yandex.servers.testing=%strm-test-zk
java.network.ipv6=true
