# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass bet 
# sending a request and getting an ackndgement
syncLimit=5
# the directory where the snapshot is sd.
dataDir=/var/lib/yandex/@dir@
# the port at which the clients will cot
clientPort=2181

yandex.user=ichwill
yandex.servers.production=%zen_zoo_ch

java.network.ipv6=true
