zk_ver="3.6.3"
our_ver="3.6.3+01"

# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=/var/lib/yandex/@dir@
# the port at which the clients will connect
clientPort=2181

authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
quorum.auth.enableSasl=true
quorum.auth.learnerRequireSasl=true
quorum.auth.serverRequireSasl=false
quorum.auth.learner.loginContext=QuorumLearner
quorum.auth.server.loginContext=QuorumServer
quorum.cnxn.threads.size=20

java.network.ipv6=true
yandex.user=disk
yandex.servers.development=%media-dev-zk
yandex.servers.testing=%disk_test_zk
yandex.servers.production=%disk_zk

# monitoring
4lw.commands.whitelist=mntr, stat, ruok, conf, isro
