# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=/var/lib/yandex/@dir@
# the port at which the clients will connect
clientPort=2181
java.network.ipv6=true

maxClientCnxns=32000

yandex.user=zookeeper
yandex.servers.development=%sport-dev-zk
yandex.servers.testing=%sport-test-zk
yandex.servers.stress=%sport-load-zk
yandex.servers.production=%sport-prod-zk
