# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# The timeout value for opening connections for
# leader election notifications
cnxTimeout=300
# the directory where the snapshot is stored.
dataDir=/var/lib/yandex/@dir@
# the port at which the clients will connect
clientPort=2181
4lw.commands.whitelist=stat, ruok, conf, isro

yandex.user=music
yandex.jvm.xms=3G
yandex.jvm.xmx=3G
yandex.servers.stress=%music-load-zk
yandex.servers.qa=%music-qa-zk
yandex.servers.testing=%music-test-zk
yandex.servers.production=%music-zk

java.network.ipv6=true
