.service-sbs-screenshots-checks-item
{
    width: 100%;
    margin-bottom: 12px;

    &__kebab_active > div > svg,
    &__kebab:hover > div > svg
    {
        fill: #ffffff;
    }

    &__kebab
    {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 5px;
        top: 5px;
        border: 4px solid #ffffff;

        &:hover,
        &_active
        {
            border: 4px solid #a9a9a9;
            border-radius: 50%;
            background-color: #a9a9a9;
        }
    }

    &__description-tag
    {
        display: inline-block;
        border: 1px solid #a9a9a9;
        padding: 2px 5px;
        border-radius: 10px;
        cursor: default;
        user-select: none;

        &:hover
        {
            background-color: #a9a9a9;
            color: #ffffff;
        }
    }

    &__description-left > &__description-tag
    {
        margin-left: 4px;
    }

    &__description-right > &__description-tag
    {
        margin-right: 4px;
    }

    &__popup-container
    {
        margin: 10px;
    }

    &__popup-container-item
    {
        margin: 10px;
    }

    &__content
    {
        width: 100%;
        height: auto;
        border: 1px solid #d0d0d0;
        border-radius: 6px 6px 0 0;
        border-bottom: none;
        box-sizing: border-box;

        &_problem
        {
            border: 1px solid #FF0000;
            border-bottom: none;
        }
    }

    &__cmp
    {
        width: 100%;
        display: flex;
        height: auto;
        flex: 1 1 50%;
    }

    &__title
    {
        text-align: center;
        font-weight: 600;
        padding: 10px;
        position: relative;
        user-select: none;
    }

    &__title-description
    {
        overflow: hidden;
        width: 99%;
    }

    &__description-right,
    &__description-left
    {
        margin-bottom: 10px;
        width: 100%;
    }

    &__description-left
    {
        text-align: right;
    }

    &__empty
    {
        border-top: 1px solid #DDD;
        font-size: 15px;
        line-height: 40px;
    }

    &__line
    {
        width: 1px;
        background-color: #d0d0d0;
        height: 100%;
        margin: 2px 12px 0;
    }

    &__image
    {
        width: 100%;
        height: calc(100% + 1px);
        position: relative;
    }

    &__right,
    &__left
    {
        width: 100%;

        & img
        {
            width: 100%;
            height: auto;
            background-size: cover;
        }
    }

    &__right > &__status
    {
        &_problem
        {
            background: linear-gradient(to right, #FFFFFF 24%, #FF0000);
        }

        &_ok
        {
            background: linear-gradient(to right, #FFFFFF 24%, #417505);
        }

        &_obsolete
        {
            background: linear-gradient(to right, #FFFFFF 24%, #a9a9a9);
        }

        &_unknown
        {
            background: linear-gradient(to right, #FFFFFF 24%, #cc9900);
        }
    }

    &__left > &__status
    {
        &_problem
        {
            background: linear-gradient(to left, #FFFFFF 24%, #FF0000);
        }

        &_ok
        {
            background: linear-gradient(to left, #FFFFFF 24%, #417505);
        }

        &_obsolete
        {
            background: linear-gradient(to left, #FFFFFF 24%, #a9a9a9);
        }

        &_unknown
        {
            background: linear-gradient(to left, #FFFFFF 24%, #cc9900);
        }
    }

    &__icon-link
    {
        padding-bottom: 1px;
    }

    &__info
    {
        background-color: rgba(249, 249, 249, 0.7);
        position: absolute;
        top: 0;
        padding: 5px 5px 5px 3px;

        &_null
        {
            color: rgba(0, 0, 0, 0.3);
        }

        &_warning, &_problem
        {
            color: #FF0000;
        }

        &_ok
        {
            color: #417505;
        }

        &_unknown
        {
            color: #cc9900;
        }

        &_obsolete
        {
            color: #a9a9a9;
        }

        & span
        {
            margin-left: 7px;
        }
    }
}
