pgp_secrets:
  - '/etc/nginx/ssl/afisha_front.key':
      user: root
      group: root
      mode: 0440
      data: |
        -----BEGIN PGP MESSAGE-----
        Version: GnuPG v1
        
        hQEMA8iuzrlCdrBcAQgAnZw0ZsFF9eFJWQJotcZppApeT/uRSy29aUm6K49hITLp
        Yss0JSXWe/UczqEgXdofqsReQ96Kthmoq//OF+xROlnD94Hy5FTDfSnYioZ0FM7n
        /7sga1VivUW6IRolqIiPm1EI8/4wjyFRfbNMJyiOpThkguZGlr5hkvQmb3Lblk47
        yOiklDMFHmyv9O2xXEu/QpPkd5RIknuI+vmUJgZ+li9SyZ+//FjxUVOkc4TtK0xz
        WGS2sHirsbR+gE1G8D7ZOaH713qh6yeem3uFUd/X7PDdBewFGbF8OI75eBxCf3Xj
        WwM1JHY+BGr0JJM4RB/xymyDHunpygAtW46vF/qSxIUCDgMHszD85ErLXxAH/3XU
        n11zV5j5GfzH4DwXFVGqvq5aBcBRoyxYKKi+KkB0EGv6m1+OHi1LS37woiRkpAFD
        GFsvzQOsV49VpsV0sEly3JLgW5rL9f8T//QVcg3duyrOKuJpwDm288Mx3ejHKe+L
        bJuQ5nCIQ9KIC/UQ7+WE/kF7Y7r64n+Nb7KIoj3oYFkAPZOBm5j+exBAMXCbHqxq
        Ok0d7m0p65J0N3a9/lO1fKx+xO8M+8o79oZOfaMhNuxHclq5RPL6NJec7OOUY+7j
        5FNWzmTOlFbaEW0EwJj6KqqcZuDSsiMvY4rI+nbXys5a9D6X5jsG1foIMiYV9IxI
        0zbxDL11APC1TEtDIfEH/jPsWPOmHZCFrOZgqA5iRiYGnb2/XVPG3pXkdmy/JdtI
        lqTPc8wOd5gFHq2EwLNTaQHTzK7QFZ9zHx9Em7oJW3QymlWR4+D6Mehqn2Md6uM6
        5HFXib4DEpR7HgAvhnq5epTiW0cQetlxkEl/c95ZeEWmTS3Ngw9vHG7kOxAV3/Nv
        Cj1lmhIBP43Yi2uVyJaYUu17j405GVTQTHOe5UlWqCYVLvDLrrJhLcHxiVI7oy0C
        DlSr+wrl1zCwVgVkDGstLZOaeGvvJljnLBVsDvUx/NYXtDv41Rqr35cEY9Gs3wta
        x4FU7OPLehyESStAAoMXlQ9V4+JY4BgtQ7OOjBvJHXvS6gH2Oj+y2iBpzcFrO+62
        qCSemll0RKrQtlNcS3RQz7APWRi8EZltM74dn6vPiusADFSVacXNoBbX1DeCEGUy
        hJMVrXpNYAIRbeuS2iFjGozAu6txb2OLcG/eEyftQgT0OJxW+8HctUUvGLwxeBuL
        LwbB44Xc0NkBLBsfN9rX5e5NmkeDeXYJoS+IYgOPEwZT/Ts8ipMTKb3be5Ax4mgk
        YRCIpYuiHmCshUQo4yp+TGBLRbunN0SixdMvnDRC4gcU8GG1spDdyrFyohg4/bFI
        oEj+4iZC/K7NKR/lXTaTFJMmzcqOcg5AAaxP1Y/rt46Y0Fxj/9uzaXej2s6zL52Q
        011e18nxlt+ESacdmakYu6TFNSMSYskMG1YvZODa5vJoZDLySvWkI16bDdxaCW+o
        ks5jz/ZjtwpVfkP4Rz+yBCsj9G9AtHUp64Laz0qW54Nmdi0dJQwwESzXvy4JPbAO
        lCPfX46Y5NdiZfSs/oBArfz/aCMcVG1MHol1MD1tmG6OLACFYfe6fNQiFFPo+3RP
        pJmR4ePRvMrk2n5MLm9GMnLk5cwLt7LIi9ctZtnB9GCt3SXM9m8mT2oO354d3kSP
        CkGvwQl4ngTeOB2EbltzA7Kt5lxAFvBfCVFKUmp4Lq/mCbI9r/r9pfzA/LMveGqb
        hq3rfdkK10fEtYJLoCl9/yOhtvRi89zEHqG3cZQo6lWpvLgdJ/rbtq8F9+NF1iHu
        0zsdfbQBQY3KJwZFZ8BeLUxAKPSIHOPRTjBgQFb6GTQovH1U75U2C3E3CZNYyVLB
        Ed8vmX1Apd1R+31uBf+raUNmXpfJ/SCWJXnJjDQrpFTAYsqof8RxIdSi0f1bEthq
        XIk/NGqWlUttA0FwoFgRRgb7VPc9X6reHOUpRmFMLW03dBVXOM4rKYb6uWAbH8Dp
        BPEQcChfMLdHZof+MN14cZyX9dbmC/oARoQAIT9a7AjbLRTIooI4Pd2fqTEgc+YE
        OQ+m5jaXJjpB4+yHCZuy2nbbGL3j54eC5ySVyl0Ea3nQx3Qgkwnvk8kvzKVEJwli
        eahbTFeJSEaTSpBEMmDyaVadmZqnz79Aw+0LgZ+vN7+rrqyPHhCVX4VEphZCzmrV
        bqCFjdhsimmHxA6ob2aOsCREvRNLmND9ahn8tXfnej4HFIGdKMPciw3yAnp3yaGQ
        ZZLhk5G9QKyUPBrq0xx+WukfCQyDivyc/GqZdcp+tBzv4c40UkMvLXCwzsfunDy5
        ZU2qDkG3ewwhs6fT/+c8tNmQjPKu0KsY1R/D9VB52JagUNgAxciysUotLxoU2UYl
        qsDUA+BtJeP4DDEYNRNifAx+tDWHvEqTO2LinxHoLmxLTvLPDfqwF7w2dtxEPp4H
        4G/AphYzmWd6PxtmXZElVynwJgvp2OhGTCpKcwBaOsmt7HyYGzAECrN+IpbsGTwK
        +oguAcba3qzIZcYzXz/e/K4n73DBMbhSlkHqZWUwFXEensyp2u5izk8lhq7Ihxc6
        SBQlN6+CtoIzrhwsVzMSAG+z7i48KEXoHcSj4l43LQ2qV7PZyHIh9tiv6E9RJdri
        Nex6FSrvJ8Zu7uGPu3FJXn6eXquq4W0C0I1324QK6z9Yqdc0E65H10SSj02mkClE
        jmhah0fk35cxMd9qyyDBGeyVLfMCms/hirsCCp0SjL1269UAA/qMgbmf9X9wqCnN
        65KH9gPriHRSgikHTSHq0R4+IHg4Wf1gb2cHzkY4K3mRYbPqBzn/jyUv8W06T9i5
        SO/G2bvEMHO1jJ7gO116OdhS+f7tknYvIeOpAEAQt/PNdldQEcLNVy21mnEUe1wL
        p+Mfo3UNoiH/Jzpr7j2J+Gl9obIrD4XX5Jk=
        =FHnu
        -----END PGP MESSAGE-----
