Source: yandex-media-py-log-processor
Section: misc
Priority: extra
Maintainer: Sergey Eliseev <serg-turbo@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2

Package: yandex-media-py-log-processor
Architecture: all
Description: Customizable timings monoitoring
 Source of pkg here: https://github.yandex-team.ru/serg-turbo/py-log-processor
