{% extends "../../../base/alert.j2" %}

{% set notificationChannels = ['local_lb'] %}

{% set checkExpression = "" %}
{% set resolvedEmptyPolicy = "RESOLVED_EMPTY_OK" %}
{% set noPointsPolicy = "NO_POINTS_OK" %}

{% macro local_lb_dashboard(base_role) -%}
    {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=locallb-base-dashboard-{{ base_role }}-{{ env }}&service=local_lb&host=*&bootstrap_base_role={{ base_role }}&host=*
{%- endmacro %}

{% macro wiki_url(service) -%}
    https://wiki.yandex-team.ru/cloud/devel/selfhost/local-lb-v2/duty/juggler/#{{ service }}
{%- endmacro %}
