{% set locallb_alerts = [
    {
        'id': 'xds_connect',
        'template': 'xds_connect.j2',
    },
    {
        'id': 'hc_failures',
        'template': 'hc_failures.j2',
    },
    {
        'id': 'lb_panic',
        'template': 'lb_panic.j2',
    },
]%}

{% macro create_locallb_alerts(base_role, env, zones_by_env) %}
  {% for az in zones_by_env[env] %}
    {% for alert in locallb_alerts %}
  local_lb_{{ alert['id'] }}_{{ base_role }}_{{ az.prefix }}:
    template: ./local_lb/{{ alert['template'] }}
    context:
      az: {{ az.prefix }}
      bootstrap_base_role: {{ base_role }}
    {% endfor %}
  {% endfor %}
{% endmacro %}
