{% set dbs_dict = {} %}
{% set databases = salt['pillar.get']('data:unmanaged_dbs', []) %}
{% for db_dict in databases %}
{% set database=db_dict.keys()|first %}
{% set value=db_dict.values()|first %}
{% do dbs_dict.update({database: value}) %}
{% endfor %}
