[main]
log_level = debug

[conductor]
url = https://c.yandex-team.ru/
# https://oauth.yandex-team.ru/authorize?response_type=token&client_id=eb3c509c74b649cd8411ffc154543fe0
token = dummy

[dbm]
url = https://mdb.yandex-team.ru/
# https://oauth.yandex-team.ru/authorize?response_type=token&client_id=60a3651563d0457c8325263fb956fad9
token = dummy

[deploy]
url = https://deploy-api.db.yandex-team.ru/
# https://oauth.yandex-team.ru/authorize?response_type=token&client_id=84ffe5ac974e4b8baa2cdab9fcac56bd
token = dummy
