{
  "id": "<< id_prefix >>-clickhouse-s3-read-request-time",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> ClickHouse: Average S3 read request time, [ms]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< clickhouse.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "{{host}}",
      "type": "EXPRESSION",
      "expression": "{name=ch_system_events_S3ReadMicroseconds_rate, node=by_host} / {name=ch_system_events_S3ReadRequestsCount_rate, node=by_host} / 1000",
      "selectors": [],
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "TOP",
  "filterBy": "LAST",
  "filterLimit": "5",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
