{
  "id": "<< id_prefix >>-clickhouse-disk-space-bytes-total",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> ClickHouse: Disk space usage per host, [bytes]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< clickhouse.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "total",
      "type": "EXPRESSION",
      "expression": "sum({name='disk-used_bytes_/var/lib/clickhouse', node=by_host}) by name",
      "selectors": [],
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "TOP",
  "filterBy": "LAST",
  "filterLimit": "5",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
