{
  "id": "<< id_prefix >>-clickhouse-max-parts-per-partition",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> ClickHouse: Max data parts per partition, [count]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< clickhouse.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "limit",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "min({name=ch_config_merge_tree_parts_to_throw_insert, node=by_host}) by name",
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "{{host}}",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "name",
          "value": "ch_system_async_metrics_MaxPartCountForPartition"
        },
        {
          "name": "node",
          "value": "by_host"
        }
      ],
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "TOP",
  "filterBy": "LAST",
  "filterLimit": "6",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
