<html>
   <head>
    <title>Antifraud explanation</title>
    <link rel=stylesheet type=text/css href="static/style.css">   
    <link rel="icon" href="static/images/icon.svg">
  </head>

<body>

  <div class=page>
    <h1>{{ account_name }}</h1>   
    <table class="container">
      <tr>
      <td valign="top">
          <h2>{{ explain_title }}</h2>
          {% raw explain %}
      </td>
      <td valign="top">  
          <h2>{{ sample_title }}</h2>
          {% raw sample %}
      </td>
      </tr>
  </table>
  </div>
</body>
</html>