<link rel="icon" href="scripts/static/images/turbine.png">


{% extends base %}


{% block postamble %}
<style>
  h1 {
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
  }
  #header{
      <!--background-color: gray;-->
  }
  #header_left {
      display: inline-block;
      <!--float: left;-->
      width: 600px;
      vertical-align:middle;
      height: 60px;
  }
  #header_right {
      display: inline-block;
      <!--vertical-align:middle;-->
      height: 60px;
      float: right;
  }



</style>
{% endblock %}

{% block contents %}
<div id="header">
    <div id="header_left">
        <h1>Digital scrap rates</h1>
    </div>
    <div id="header_right">
        <img src="scripts/static/images/siemens-logo-header.png" alt="Siemens logo" style="height:50px;">
    </div>
</div>


{{ super() }}

{% endblock %}