Source: dpkg-changelog-git-format
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: dpkg-changelog-git-format
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Makes git format possible from the changelog
 Generates a nice debian changelog from the git log. To use specify
 @@@ changelog-format: git @@@
 as the only line in the debian/changelog file.
 Obsolete option without effect (since dpkg 1.18.8. man dpkg-parsechangelog)
