#!/usr/bin/make -f

override_dh_install:
	mkdir -p debian/dpkg-changelog-git-format/usr/lib/dpkg/parsechangelog
	cp -a git debian/dpkg-changelog-git-format/usr/lib/dpkg/parsechangelog
	cp -a gittag debian/dpkg-changelog-git-format/usr/lib/dpkg/parsechangelog
	cp -a changelog_from_git debian/dpkg-changelog-git-format/usr/lib/dpkg/parsechangelog

override_dh_builddeb:
	dh_builddeb -- -Zgzip

%:
	dh $@ 
