[settings]
known_third_party=argon2,backoff,flask,flask_apispec,flask_restful,grpc, \
                  hamcrest,humanfriendly,jsonpath_rw,kazoo,marshmallow, \
                  psycopg2,pytest,requests,retrying,typing_extensions, \
                  yc_auth,behave,docker,pygit2,jsonschema,strict_rfc3339, \
                  cryptography

kwown_first_party=dbaas_internal_api
