[Unit]
Description=Jaeger Agent
ConditionPathExists=/etc/jaeger/agent.yaml

[Service]
Type=simple
User=jaeger
Group=jaeger
MemoryMax=256M
KillMode=process
ExecStart=/usr/local/bin/jaeger-agent --config-file /etc/jaeger/agent.yaml
WorkingDirectory=/etc/jaeger
RuntimeDirectory=jaeger
StandardOutput=journal
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
