[global]
	arclogdir=arc
	prevsuffix=PREV

#[service]
#    
#	#Files to archive
#	archive=bugs.access.log
#	#Files to clean
#	clean=bugs.access.log
#	#Directory with logfiles, if not configured or empty log files will be searched in /var/log/$service
#	logdir=/var/log/otherdir
#	#Service reslod string
#	rotate=/etc/init.s/apache restart

[lighttpd-x5]
	archive=access.log error.log access-export.log
	clean=error.log.PREV
	rotate=/etc/init.d/syslog-ng reload

[nginx]
	archive=access.log error.log
	clean=error.log.PREV
	rotate=/etc/init.d/syslog-ng reload

