.icon_theme_link-external
{
    background-image: url('icon_theme_link-external.svg');

    &.icon_size_s
    {
        width: 14px;
        height: 14px;
        background-size: 10px 12px;
    }
}

.icon_theme_link:hover
{
    opacity: 1;
}
