.icon_theme_search
{
    background-image: url('icon_theme_search.svg');
    opacity: 0.3;

    &.icon_size_s
    {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}
