.icon_theme_arrow-up
{
    background-image: url('icon_theme_arrow-up.svg');

    &.icon_size_s
    {
        width: 14px;
        height: 10px;
        background-size: 12px 12px;
    }
}

.icon_theme_link:hover
{
    opacity: 1;
}
