.icon_theme_reorder
{
    background-image: url('icon_theme_reorder.svg');
    opacity: 0.5;

    &.icon_size_s
    {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}
