.icon_theme_trash
{
    background-image: url('icon_theme_trash.svg');
    opacity: 0.6;
    cursor: pointer;

    &.icon_size_s
    {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }
}

.icon_theme_trash:hover
{
    opacity: 1;
}
