.icon_theme_ellipsis
{
    background-image: url('icon_theme_ellipsis.svg');
    opacity: 0.7;

    &.icon_size_s
    {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}

.icon_theme_ellipsis:hover
{
    opacity: 1;
}
