.icon_theme_edit
{
    background-image: url('icon_theme_edit.svg');

    &.icon_size_s
    {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        margin: 5px;
    }
}
