.icon_theme_hint
{
    background-image: url('icon_theme_hint.svg');
    opacity: 0.7;

    &.icon_size_s
    {
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }
}

.icon_theme_hint:hover
{
    opacity: 1;
}
