.config-bool-editor
{
    display: flex;
    align-items: center;

    &__title
    {
        display: inline-block;
    }

    &__tumbler
    {
        display: inline-block;

        /* TODO fix 4 firefox and safari */
        & .button2_theme_normal
        {
            position: absolute;
        }
    }

    &__action
    {
        display: flex;
        align-items: center;
        margin-left: auto;

        & .checkbox_view_default.checkbox_tone_grey.checkbox_theme_normal.checkbox_checked_yes .checkbox__box:before
        {
            background-color: #000;
        }

        & .control.checkbox.checkbox_view_default.checkbox_theme_normal.checkbox_size_s
        {
            margin-top: 2px;
        }
    }

    &__description
    {
        margin-right: 5px;
    }

    &__title + &__tumbler
    {
        margin-left: 10px;
    }

    &_from-parent
    {
        background: linear-gradient(to bottom, #f9f9f9 2%, rgba(190, 245, 119, .6) 30%, rgba(190, 245, 119, .6) 80%, #f9f9f9);
    }
}
