{%- set zk_hosts = pillar['mongodb']['backup']['zk']['hosts'] -%}
{%- set app_id = salt["pillar.get"]("mongodb:backup:zk:app_id", salt["grains.get"]("conductor:group")) -%}

{
    "host"      :   {{ zk_hosts|replace("'","\"") }},
    "timeout"   :   5,
    "app_id"    :   "{{ app_id }}",
    "sleep"     :   "OFF",
    "maxla"     :   -1,
    "logger"    :   {
            "path"      :   "/var/log/zkflock.log",
            "level"     :   "INFO",
            "zklevel"   :   "ERROR"
        }
}
