{
  "id": "<< id_prefix >>-internal-api-5xx-rate-endpoint-<< py_intapi_endpoint_val >>",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Internal API << py_intapi_endpoint >> 5xx rate",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/int_api_py/rate-5xx-endpoint-program" %}"
    }
  },
  "annotations": {
    "description":"{{^isError}}{{^isOk}}<< py_intapi_endpoint >> 5xx rate: {{expression.str_rate}}% ({{expression.str_count}}){{/isOk}}<<'{{#isOk}}'>>OK{{/isOk}}{{/isError}}<<'{{#isError}}'>>Something wrong with alert ({{alert.id}}), check solomon{{/isError}}",
    "trafficLight.color": "{{expression.trafficColor}}",
    "host": "<< juggler.get("intapi_service") >>",
    "service": "endpoint_5xx_rate_<< py_intapi_endpoint >>"
  },
  "periodMillis": 300000,
  "delaySecs": 0,
  "description": ""
}
