#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-afisha-dfront/
	touch debian/config-afisha-dfront/dummy
	rm -r debian/config-afisha-dfront/*
	mkdir -p debian/config-afisha-dfront/usr/bin/

	cp bin/* debian/config-afisha-dfront/usr/bin/
	chmod 755 debian/config-afisha-dfront/usr/bin/*

%:
	dh $@

