{% load lib.templatetags %}
{% if health_data %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>FQDN</th>
      <th>Services</th>
      <th>Shard</th>
      <th>Overall status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in health_data %}
    <tr>
      <td><a href="/ui/meta/hosts/{{ item.fqdn }}">{{ item.fqdn }}</a>&nbsp;{% simple_copy item.fqdn %}</td>
      <td>
        {% if item.services %}
         {% for service in item.services %}
          {{ service.name }}{% if service.role != 'Unknown' %}, {{ service.role }}{% endif %}
          {% if not forloop.last %}<br>{% endif %}
         {% endfor %}
        {% else %}
        &ndash;
        {% endif %}
      </td>
      <td>{{ item.shard|default:"&ndash;" }}</td>
      <td>
        <span class="label backstage-label backstage-meta-host-status-{{ item.status|lower }}">{{ item.status }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
