{% load lib.templatetags %}
{% if maintenance_tasks %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Task ID</th>
      <th>Config</th>
      <th>Created at</th>
      <th>Planned at</th>
      <th>Status</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in maintenance_tasks %}
    <tr>
      <td>{{ obj.self_link_c }}</td>
      <td>{{ obj.config_id }}</td>
      <td>{% dt_formatted obj.create_ts %}</td>
      <td>{% dt_formatted obj.plan_ts %}</td>
      <td>{{ obj.status|default_label }}</td>
      <td>{{ obj.info }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
