{% load lib.templatetags %}
{% if revisions %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Rev</th>
      <th>Name</th>
      <th>Network</th>
      <th>Folder</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in revisions %}
    <tr>
      <td>{{ obj.rev }}</td>
      <td>{{ obj.name}}</td>
      <td>{{ obj.network_id|default:"&ndash;" }}</td>
      <td>{{ obj.folder_id }}</td>
      <td>{{ obj.description|default:"&ndash;" }}</td>
      <td>{{ obj.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
&ndash;
{% endif %}
{% update_tab_badge "revs" revisions|length %}
