{% load lib.templatetags %}
{% load meta.templatetags %}
<div class="col-lg-24">
{% for obj in subclusters %}
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-borderless noodle-details-table">
          <tr>
            <th>Subcluster</th>
            <td>{{ obj.self_link_c }}</td>
          </tr>
          <tr>
            <th>Name</TH>
            <td>{{ obj.name }}</td>
          </tr>
          <tr>
            <th>Roles</th>
            <td>{{ obj.roles|clear_roles }}</td>
          </tr>
          <tr>
            <th>Created at</th>
            <td>{% dt_formatted obj.created_at %}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-16">
      <div class="row">
        <div class="col-lg-24">
          <label class="noodle-table-inc-label">Shards</label><br>
          {% with shards=obj.get_shards %}
          {% if shards %}
          <table class="table table-hover noodle-table noodle-table-inc">
            <thead>
              <tr>
                <th>Shard ID</th>
                <th>Name</th>
                <th>Created at</th>
              </tr>
            </thead>
            <tbody>
              {% for shard in shards %}
              <tr>
                <td>{{ shard.shard_id }}</td>
                <td>{{ shard.name }}</td>
                <td>{% dt_formatted shard.created_at %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <div class="noodle-box">&ndash;</div>
          {% endif %}
          {% endwith %}
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-lg-24">
          <label class="noodle-table-inc-label">Hosts</label><br>
          {% with hosts=obj.get_hosts %}
          {% if hosts %}
          <table class="table table-hover noodle-table noodle-table-inc">
            <thead>
              <tr>
                <th>FQDN</th>
                <th>Flavor</th>
                <th>Space limit</th>
                <th>VType ID</th>
                <th>Geo</th>
                <th>Created at</th>
              </tr>
            </thead>
            <tbody>
              {% for host in hosts%}
              <tr>
                <td>{{ host.self_link_c }}</td>
                <td>{{ host.flavor }}</td>
                <td>{{ host.space_limit|filesizeformat }}</td>
                <td>{{ host.vtype_id|dash_if_not }}</td>
                <td>{{ host.geo.name }}</td>
                <td>{% dt_formatted host.created_at %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <div class="noodle-box">&ndash;</div>
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
</div>
{% update_tab_badge "subclusters" subclusters|length %}
