{% if versions %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Component</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Package</th>
      <th>Edition</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in versions %}
    <tr>
      <td>{{ obj.component }}</td>
      <td>{{ obj.major_version }}</td>
      <td>{{ obj.minor_version }}</td>
      <td>{{ obj.package_version }}</td>
      <td>{{ obj.edition }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
