{% load lib.templatetags %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Task ID</th>
      <th>Created at</th>
      <th>Ended at</th>
      <th>Duration</th>
      <th>Type</th>
      <th>Operation type</th>
      <th>Created by</th>
      <th>Result</th>
      <th>Worker ID</th>
    </tr>
  </thead>
  <tbody>
    {% for task in worker_tasks %}
    <tr>
      <td>{{ task.self_link }}&nbsp;{% simple_copy task.pk %}</td>
      <td data-order="{{ task.create_ts|date:"Uu" }}">{% dt_formatted task.create_ts %}</td>
      <td data-order="{{ task.end_ts|date:"Uu" }}">{% dt_formatted task.end_ts %}</td>
      <td>
        {% if task.start_ts and task.end_ts %}
          {% duration_span task.start_ts task.end_ts %}
        {% else %}
          &ndash;
        {% endif %}
      </td>
      <td>{{ task.task_type }}</td>
      <td>{{ task.operation_type }}</td>
      <td>{{ task.created_by }}</td>
      <td>{{ task.result|bool_label }}</td>
      <td>{{ task.worker_id|default:"&ndash;" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% update_tab_badge "worker_tasks" worker_tasks|length %}
