[Unit]
Description="Contrail DNS"
After=network.target

StartLimitInterval=300s
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/contrail-dns
PIDFile=/var/run/contrail/contrail-dns
TimeoutStopSec=12
Restart=always
RestartSec=12
User=contrail
Group=contrail
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/log/contrail
ReadWriteDirectories=-/etc/contrail
ReadWriteDirectories=-/var/lock

[Install]
WantedBy=multi-user.target
