[Unit]
Description=Reload contrail-named zones by timer
After=contrail-dns.service

[Timer]
# You can use something like that to check how OnCalendar works:
#   systemd-run --on-calendar='*:*:03/10' --timer-property=AccuracySec=1 /bin/bash -c 'date >> /tmp/foo'
#   systemd-analyze calendar "*:*:03/10" # on newer systemd
# but basically *:*:07/21 will run at 00:00:07, 00:00:28, 00:00:49, 00:01:07, and so on.
OnCalendar=*:{{offset_min}}/{{interval_min}}
AccuracySec=1

[Install]
WantedBy=multi-user.target
