[Unit]
Description='Reload contrail-named zones if needed'
ConditionPathExists=/etc/contrail/dns/.apply

[Service]
Type=oneshot
ExecStartPre=/bin/rm -f /etc/contrail/dns/.apply
ExecStart=/etc/contrail/dns/named-reconfig.sh
User=root
Group=root
