[Unit]
Description='Collect metrics from contrail-named statistics XML and dump them to file'

[Service]
Type=oneshot
ExecStart=/bin/bash -ce '/etc/contrail/dns/download_and_parse_bind_statistics.py > /tmp/named-metrics.jsonlist.next'
ExecStartPost=/bin/mv /tmp/named-metrics.jsonlist.next /tmp/named-metrics.jsonlist
User=contrail
Group=contrail
