*-ut
*.a
*.jar
*.pyc
*.sc.h
*.so
*.swp
*.swo
*.pb.h
*.pb.cc
*.h_serialized.cpp
*_pb2.py
*.pb2.go
*.pb.go
.joker.temp

# Ignore Emacs backup files
*~

.exrc

# bass
bin/bass_server
test-results
tools/vins_client/vins_client
tests/alice-bass-tests
tools/yav_wrapper/yav_wrapper

# megamind
megamind/server/megamind_server
megamind/tools/config_validator/config_validator
megamind/tests/alice-megamind-tests
megamind/tests/run/run
megamind/scripts/run/run
megamind/tools/scenarios_ammo_generator/scenarios_ammo_generator
megamind/scripts/get_formulas/get_formulas
megamind/example_apps/go/megamind-go-example-app
megamind/eventlog

# joker
joker/bin/joker_ctl

# Ignore tests binary data
tests/sources/*.pickle.data

# hollywood
hollywood/convert_proto/convert_proto
hollywood/eventlog
hollywood/library/config/hollywood-library-config.raw.fake.pkg
hollywood/library/scenarios/music/it/generator/hollywood-library-scenarios-music-it-generator
hollywood/library/scenarios/music/it/runner/alice-hollywood-library-scenarios-music-it-runner
hollywood/library/scenarios/music/ut_render/alice-hollywood-library-scenarios-music-ut_render
hollywood/protos/alice-hollywood-protos.raw.fake.pkg
hollywood/scripts/graph_generator/bin/bin
hollywood/scripts/run/run-hollywood
hollywood/server/hollywood_server
hollywood/shards/common/prod/fast_data/hardcoded_response/hardcoded_response.pb
hollywood/library/scenarios/music/it/eventlog
hollywood/http_adapter/localhost/local_apphost_dir/
