[Unit]
Description=Cassandra Database
Requires=network.target remote-fs.target
After=network.target remote-fs.target time-sync.target

[Service]
Type=forking
PIDFile=/var/run/cassandra/cassandra.pid

ExecStartPre=/usr/local/bin/check_cassandra_can_join_cluster.sh
ExecStart=/etc/init.d/cassandra start
ExecStop=/etc/init.d/cassandra stop

IgnoreSIGPIPE=no
KillMode=process

Restart=always

[Install]
WantedBy=multi-user.target
