<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>{{group}} -- assessor_ui</title>
<style type="text/css">
</style>
</head>
<body>
<a href="{{url_for('url_groups_handler')}}"> &lt; Back</a><br><br>
    <ul class="url_list">
    {% for entry in urls %}
    <li><a href="{{url_for('url_view_handler', url=entry.url)}}">{{entry.url}}</a>
    {% if entry.sealed %}<strong>[ done ]</strong> {%endif %}
    {% if entry.votes != 0 -%}
    [ {{ entry.votes }} votes ]
    {%- endif -%}
    </li>
    {% endfor %}
    </ul>
</body>
</html>
