<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>assessor_ui</title>
<style type="text/css">
</style>
</head>
<body>
    <ul class="url_groups_list">
    {% for entry in url_groups %}
    <li><a href="{{url_for('url_list_handler', group=entry.group)}}">{{entry.group}}</a>
    {% if entry.sealed != 0 -%}
    <strong>[ {{entry.sealed}} done ]</strong>
    {%- endif -%}
    {%- if entry.votes != 0 -%}
    [ {{entry.touched}} docs touched, {{entry.votes}} votes ]
    {%- endif -%}
    </li>
    {% endfor %}
    </ul>
</body>
</html>

