{% extends "lib/ajax/action_dialog.html" %}
{% load lib.templatetags %}
{% load cms.templatetags %}

{% block modal_body %}
  {% action_input "comment" action.0 required=False %}

  <div class="row">
    <table class="table table-hover noodle-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Action check</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in objects %}
        <tr>
          <td>{{ obj.self_link_c }}</td>
          <td>{% instance_operation_ui_type obj %}</td>
          <td>{% instance_operation_ui_status obj %}</td>
          <td>{% action_ability action.0 obj %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
