.service-page
{
    position: relative;
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;

    &__header
    {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
        flex: 0 0  auto;
    }

    &__body
    {
        display: flex;
        flex: 1 1 auto;
    }
}
