[defaults]
deprecation_warnings=False  # [DEPRECATION WARNING]: Using variables for task params is unsafe, especially if the
                            # variables come from an external source like facts.
