{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% load cms.templatetags %}

{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="noodle-box">
              <table class="table table-borderless noodle-details-table">
                <tr>
                  <th>Status</th>
                  <td>{% decision_ui_status obj %}</td>
                </tr>
                <tr>
                  <th>Wall-E Action</th>
                  <td>{% decision_action obj %}</td>
                </tr>
                <tr>
                  <th>Request comment</th>
                  <td>{{ obj.request.comment|st_link|dash_if_not }}</td>
                </tr>
                <tr>
                  <th>FQDN</th>
                  <td>{% decision_fqdns obj %}</td>
                </tr>
                <tr>
                  <th>Issuer</th>
                  <td>{% decision_author obj %}</td>
                </tr>
                <tr>
                  <th>Autoduty Resolution</th>
                  <td>{{ obj.ad_resolution }}</td>
                </tr>
                <tr>
                  <th>Created at</th>
                  <td>{% dt_formatted obj.request.created_at %}</td>
                </tr>
                <tr>
                  <th>Done at</th>
                  <td>{% dt_formatted obj.request.done_at %}</td>
                </tr>
                <tr>
                  <th>Came back at</th>
                  <td>{% dt_formatted obj.request.came_back_at %}</td>
                </tr>
                <tr>
                  <th>Let go at</th>
                  <td>{% dt_formatted obj.request.resolved_at %}</td>
                </tr>
                <tr>
                  <th>Resolved by</th>
                  <td>
                    {% if obj.request.resolved_by %}
                    {{ obj.request.resolved_by|yauser_link_format }}
                    {% else %}
                    &ndash;
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Related links</th>
                  <td>
                    {% for fqdn in obj.request.fqdns %}
                      {% related_links_onload fqdn %}<br>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th>Ops metadata log</th>
                  <td>{{ obj.ops_metadata_log|to_html_json }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="noodle-box">
              <table class="table table-borderless noodle-details-table">
                <tr>
                  <th>Cleanup log</th>
                  <td>{% pretty_log obj.cleanup_log %}</td>
                </tr>
                <tr>
                  <th>After Wall-E log</th>
                  <td>{% pretty_log obj.after_walle_log %}</td>
                </tr>
                <tr>
                  <th>Mutations log</th>
                  <td>{% pretty_log obj.mutations_log %}</td>
                </tr>
                <tr>
                  <th>Explanation</th>
                  <td>{% pretty_log obj.explanation %}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
