{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Valid_resources{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>ID</th>
        <th>Cluster type</th>
        <th>Role</th>
        <th>Flavor</th>
        <th>Disk type</th>
        <th>Geo</th>
        <th>Feature flag</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link_c }}</td>
        <td>{{ obj.cluster_type }}</td>
        <td>{{ obj.role }}</td>
        <td>{{ obj.flavor.self_link_c }}</td>
        <td>{{ obj.disk_type.disk_type_ext_id }}</td>
        <td>{{ obj.geo.name }}</td>
        <td>{{ obj.feature_flag|dash_if_not }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
