Source: yandex-media-check-route
Section: misc
Priority: optional
Maintainer: Fedor Dikarev <yatheo@yandex-team.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.yandex-team.ru/admins/yandex-media-check-route.git

Package: yandex-media-check-route
Architecture: any
# Actually depends on python[23] and iproute(2?)
# But right now is easier to remove this depends list
# Depends: python3, iproute2
Description: Check that we have route for our direct connected network
