use Ubic::Service::SimpleDaemon;

Ubic::Service::SimpleDaemon->new({
        bin => '/usr/local/sbin/nginx-stub-status-daemon.py',
    stdout => '/var/log/nginx/nginx-stub-status-daemon.stdout.log',
    stderr => '/var/log/nginx/nginx-stub-status-daemon.stderr.log',
});
