.dashboard-state
{
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
    position: relative;

    &__header
    {
        padding-bottom: 20px;
        height: 30px;
        display: flex;
        align-items: baseline;
    }

    &__count-list
    {
        box-sizing: border-box;
        text-align: right;
        margin-bottom: 10px;
        margin-left: auto;
    }

    &__title
    {
        font-size: 24px;
        font-weight: bold;
    }

    &__list
    {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;

        &_tv
        {
            margin-right: -5px;
        }
    }

    &__empty
    {
        border-top: 1px solid #DDD;
        font-size: 15px;
        line-height: 40px;
    }
}
