lxd:
  base:
    packages:
      - lxd
      - config-autodetect-active-eth
    service: lxd
    latest: True
  init:
    address: '[::]'
    port: 8443
    backend: dir
    backend_opts: ''
  web_pass: 0123456789
  profiles: salt://{{ slspath }}/files/etc/yandex/lxd/profiles
  dynamic_profiles: salt://{{ slspath }}/files/profile.tmpl
  projects:
    - name: some_project
      config:
        environment.LXD: 1
      devices:
        eth0:
          nictype: bridged
          parent: br0.556
          type: nic
  images:
    yandex-ubuntu-trusty: https://s3.mds.yandex.net/media-lxd/yandex-ubuntu-trusty.tar.gz
