.config-array-editor
{
    &__item
    {
        position: relative;

        & + &
        {
            margin-top: 15px;
        }
    }

    &__close
    {
        position: absolute;
        right: -17px;
        top: 8px;

        & .button2
        {
            width: 13px;
        }
    }

    &__title
    {
        padding-bottom: 20px;
    }

    &_from-parent > &__title
    {
        background: linear-gradient(#f9f9f9, rgba(190, 245, 119, .6) 10%, rgba(190, 245, 119, .6) 35%, #f9f9f9 50%)
    }

    &__actions
    {
        padding-top: 15px;
    }
}
