.container-padded {
    margin-top: -41px;
    padding-top: 60px;
    min-height: 100%;
    padding-bottom: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container-footer {
    margin-top: -60px;
    height: 60px;
    line-height: 59px;
}
