.snippet {
    font: 13px Arial,Helvetica,sans-serif;
}

.snippet-title {
    color: #22c;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.snippet-body {
    line-height: 16px;
    word-wrap: break-word;
}

.snippet-link {
    color: #070;
}

a.snippet-link:hover {
    color: #D00;
    text-decoration: none;
}
