.span.span-532px {
    width: 532px;
}

.span.span-overflow-ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.span.span-focused {
    background: #F9F9F9;
    padding: 10px;
}
