.table tbody tr td {
    word-wrap: break-word;
}

.table-fixed {
    table-layout: fixed;
}

.table thead tr th.th-centered {
    text-align: center;
    vertical-align: middle;
}

.table tbody tr td.td-centered {
    text-align: center;
    vertical-align: middle;
}

.table-centered thead th {
    text-align: center;
    vertical-align: middle;
}

.table-centered th {
    text-align: center;
    vertical-align: middle;
}

.table-centered tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.table-centered tbody tr td.td-left {
    text-align: left;
}

.table-centered tbody tr td.td-right {
    text-align: right;
}

.table td {
    border-top: 0;
}

.table-no-border tr:last-child td,
.table-no-border tr:nth-child(1) td {
    border: 0;
}

.table .td-filter-cell {
    vertical-align: middle;
}

.table td.success {
    color: #468847;
}

.table td.error {
    color: #B94A48;
}

.table td.has-sub-row {
    position: relative;
}

.table .table-sub-row {
    height: 20px;
    margin: 15px 0 5px 115%;
}

.table-sub-row .table-sub-row__content {
    position: absolute;
}
