#yauth span {
    color: #777777;
    float: left;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

#yauth {
    font-size: 100%;
    font-family: inherit;
}

#yauth span a.user,
#yauth span a.user b {
    text-decoration: none;
    font-weight: normal;
}

