{% extends "admin/base.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'site_static/pretty-print-json.css' %}" rel="stylesheet"/>
    <script src="{% static 'site_static/pretty-print-json.js' %}"></script>
    <script src="{% static 'site_static/clipboard.min.js' %}"></script>
    {% endblock %}

    {% block footer %}
    {{ block.super }}

    <script charset="utf-8" type="text/javascript">
        loadScripts(js_files, function () {
            $(document).ready(function () {
                $('pre.json').map(function (elem) {
                        $(this).html(prettyPrintJson.toHtml(JSON.parse($(this).text())));
                    }
                );

                var clip = new ClipboardJS('.btn-copy');
                clip.on("success", function (event) {
                    event.trigger.innerHTML = '&#10003;';
                });
            });
        });
    </script>
{% endblock %}
