<div style="float: left; width: 50%;">
    <h2>Versions</h2>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>component</th>
                <th>major_version</th>
                <th>minor_version</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            {% for row in versions %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>
                        <a href="/meta/cluster/?version={{ row.0 }}_{{ row.1 }}_{{ row.2 }}">{{ row.3 }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div>
    <h2>Maintenance status</h2>
    <table style="border-left: 1px solid #ccc">
        <thead>
            <tr>
                <th>env</th>
                <th>status</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            {% for row in maint %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>
                        {% if row.1 %}
                            <a href="/meta/maintenancetask/?config_id=postgresql_update_minor_version&status__exact={{ row.1 }}&cid__env__exact={{ row.0 }}">{{ row.2 }}</a></td>
                        {% else %}
                            {{ row.2 }}
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="clear: both"></div>
