{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "ydb-tx-retries-by-tx-name") %}
{% set name = team + " YDB tx retries by tx name (" + env + ")" %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "tx_name",
        "value": "*"
    }
    ,{
        "name": "reason",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("{{tx_name}}", "alias(sum({sensor=tx_retries}) by tx_name, '{{tx_name}}')") }}
{% endblock %}
