[Unit]
Description=Solomon agent
AssertFileIsExecutable=/usr/local/bin/solomon-agent
AssertFileNotEmpty=/etc/solomon/solomon.conf
After=multi-user.target


[Service]
ExecStart=/usr/local/bin/solomon-agent --config /etc/solomon/solomon.conf

KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGHUP=no
Restart=on-failure

[Install]
WantedBy=multi-user.target

