https://wiki.yandex-team.ru/media-admin/salt/tmpl/http_check

Пример запроса, который составиться из pillar

http_check:
  http:
  - handle: /music/billing/ping.xml
    port: 32056
    headers:
      Host: music-billing.muisic.yandex.net
      X-Yandex: 'yes'

выглядит так :

  http://localhost:32056/music/billing/ping.xml -H "Host: music-billing.muisic.yandex.net" -H "X-Yandex: yes"

