Source: yandex-media-iptables-c-group
Section: misc
Priority: optional
Maintainer: Fedor Dikarev <yatheo@yandex-team.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.yandex-team.ru/admins/yandex-media-iptables-c-group.git

Package: yandex-media-iptables-c-group
Architecture: any
Depends: python3, python3-requests, iptables, ipset
Description: Build iptables rules for conductor group with ipset support

