{% block content %}
<p id="cloudid">{{ cloudid }}</p>
<table>

<tr>

<th>Сумма всех активных грантов</th>
<th>Кредитный лимит</th>
<th>Баланс</th>
<th>Информация о клиенте</th>
</tr>

<tr>
q<td><input id='grant' type="float" value="{{balance.grantsumm}}" size=5 disabled></td>
<td><input id='cr-limit' type="float" value="{{balance.credit}}" size=5 disabled></td>
<td><input id='balance' type="float" value="{{balance.balance}}" size=5></td>
<td rowspan="3">
    <br>
        {% if userinfo['personType'] == 'company' or userinfo['personType'] == 'switzerland_nonresident_company' %}
                Организация: "{{ userinfo['company'] }}"
            {% else %}
                Тип аккаунта: Личный
        {% endif %}
    <br>Тип оплаты: {{ userinfo['paymentType'] | replace("invoice","безнал") | replace("card","карта") }}

    <br>Статус: {{ userinfo['displayStatus'] }}
    <br>Валюта:<label id="currency">{{ balance['currency'] }}</label> <label id="curvalue"></label>

</td>
</tr>


<tr>
<th>Стартовый грант Compute</th>
<td  colspan="2"><input id=computegrant type="float" value="{{balance['grants']['compute']}}"  size=5 disabled></td>
</tr>

<tr>
<th>Стартовый грант на остальные сервисы</th>
<td  colspan="2"><input id=othergrant type="float" value="{{balance['grants']['other']}}"  size=5 disabled></td>
</tr>
</table>
{% endblock %}
