<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - QuotaCalc</title>
    {% else %}
        <title>QuotaCalc</title>
    {% endif %}
</head>
<style type ="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.true {
     color: green;
}

.false {
     color: red;
}


</style>
<body>
    <div class="balance">
    <p><a href="resolv">Тут можно получить уникальных cloudID</a></p>
    <p><a href="regexp">Вытащить ID из текста</a></p>
    <p><a href="sla" target="_blank">Sla калькулятор(тест)</a></p>
    <hr>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
