<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор квот</title>
<style type ="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.true {
     color: green;
}

.false {
     color: red;
}

.balance {
float: none;
width: 60%;
}

.compute {
float: none;
width: 40%;
}

.other {
float: left;
}

</style>
</head>
<body>

{% block content %}
<div class="balance">
<table>

<tr>

<th>Сумма всех активных грантов</th>
<th>Кредитный лимит</th>
<th>Баланс</th>
<th>Информация о клиенте</th>
</tr>

<tr>
<td><input id='grant' type="float" value="{{balance.grantsumm}}" size=5 disabled></td>
<td><input id='cr-limit' type="float" value="{{balance.credit}}" size=5 disabled></td>
<td><input id='balance' type="float" value="{{balance.balance}}" size=5></td>
<td rowspan="3">
    <br>
    CloudID: <p id="cloudid">{{ cloudid }}</p>
        {% if userinfo['personType'] == 'company' or userinfo['personType'] == 'switzerland_nonresident_company' %}
                Организация: "{{ userinfo['company'] }}"
            {% else %}
                Тип аккаунта: Личный
        {% endif %}
    <br>Тип оплаты: {{ userinfo['paymentType'] | replace("invoice","безнал") | replace("card","карта") }}

    <br>Статус: {{ userinfo['displayStatus'] }}
    <br>Валюта:<label id="currency">{{ balance['currency'] }}</label> <label id="curvalue"></label>
    <br>Managed: <input type="checkbox" {% if manager %} checked {% endif %} disabled>

</td>

</tr>


<tr>
<th>Стартовый грант</th>
<td  colspan="2"><input id=startgrant type="float" value="{{balance['startgrant']}}"  size=5 disabled></td>
</tr>
</table>
</div>
<input type="text" id="services" hidden value="{{ ';'.join(services.keys()) }}">

<p>
    <div class="compute">
{% for service in services.keys() %}
<table>
<tr>
    <th colspan="4"><p align="center">Квоты {{ service }}</p></th>

</tr>
</tr>


<tr>
<td>Название</td>
<td>Значение</td>
<td>₽ в час</td>
<td>Использовано</td>
</tr>



{% for quota in services[service] %}
    {% if quota in bytequota %}
<tr>
<td>{{ quota }}</td>
<td><input name="{{ service }}" id={{ quota }} type="float" value="{{services[service][quota]['limit']/1073741824}}" size=5></td>
<td><input id={{ quota }}-ph type="float" value="{{services[service][quota]['price']}}"  size=5 disabled></td>
<td><input id={{ quota }}-used type="float" value="{{services[service][quota]['usage']/1073741824}}"  size=5 disabled></td>
</tr>
    {% else %}
<tr>
<td>{{ quota }}</td>
<td><input name="{{ service }}" id="{{ quota }}" type="float" value="{{services[service][quota]['limit']}}" size=5></td>
<td><input id='{{ quota }}-ph' type="float" value="{{services[service][quota]['price']}}"  size=5 disabled></td>
<td><input id='{{ quota }}-used' type="float" value="{{services[service][quota]['usage']}}"  size=5 disabled></td>
</tr>
    {% endif %}

{% endfor %}
{% endfor %}
 </table>
</div>


<div class="other">
    <button onclick="validateFormOld()" id='calc'>Итого</button>
<br><br>
<p id="price-ph"></p>
<p id="price-p2d"></p>
<p id="total-bl"></p>
<p id="decision"></p>
<p id="wbepaid"></p>
<button onclick="getcode()" id='getcode' hidden>Генерировать код</button>
<button onclick="copyLink()" id='copy' hidden>Копировать код</button>
<input id='link' type="text" value='' size=0 hidden >


<script type="text/javascript" src="/static/matheval.js"></script>
<script type="text/javascript" src="/static/front.js"></script>
</div>
{% endblock %}

</body>
</html>
