
<p>Cloud ID: <input id="cloud_id" type="text" readonly class="textarea" value="{{ quota_limits['cloud_id'] }}"> </p>
<p>Issue ID (ticket ID): <input id="issue_id" type="text" readonly class="textarea" value="{{ quota_limits['issue_id'] }}"></p>
<p>Quota request ID: <input id="request_id" type="text" readonly class="textarea" value="{{ quota_limits['req_id'] }}"></p>
<p>Quota request status: {{ quota_limits['status'] }}</p>

<table id="quotas">
    <tr>
        <th>Quota limit name</th>
        <th>Desired limit</th>
        <th>Approved limit</th>
        <th>Quota limit status</th>
        <th>Check</th>
    </tr>

    {% for limit in quota_limits['quota_limits'] %}
    <tr id="{{ limit['quota_id'] }}">
        <td>{{ limit['quota_id'] }}</td>
        <td><input type="number" value={{ limit['desired_limit'] }}></td>
        <td><input type="number" value={{ limit['desired_limit'] }}></td>
        <td>{{ limit['status'] }}</td>
        <td><input type="checkbox" ></td>
    </tr>
    {% endfor %}


<button onclick="validateForm()" id='send'>Отправить</button>
<p id="warning"></p>
<p id="deny"></p>
