<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Saint</title>
</head>
<body>
<div class="row m-2">

{% if cloud and cloud.folders and cloud.users %}
    <div id="cloud" class="col-md-12">
        <div class="row">
            <div class="col-md-8 m-2"><h3>Cloud</h3></div>
            <div class="col-md-6">
                        <table class="table table-striped" width="80%">
                            <tr>        <td > Cloud ID</td><td > {{ cloud.object[0].cloud_id }}</td></tr>
                            <tr>        <td > Cloud Name</td><td > {{ cloud.object[0].cloud_name }}</td></tr>
                            <tr>        <td > Description</td><td > {{ cloud.object[0].description }}</td></tr>
                            <tr>        <td > Status</td><td > {{ cloud.object[0].status }}</td></tr>
                            <tr>        <td > Created At</td><td > {{ cloud.object[0].created_at }}</td></tr>
                            <tr>        <td > Organization Id</td><td > {{ cloud.object[0].organization_id }}</td></tr>
                           {% if cloud.billing %}
                            <tr>        <td > Billing ID</td> <td><a href="/saint/b/{{ cloud.billing.billing_id }}">{{ cloud.billing.billing_id }}</a></td></tr>
                            {% endif %}
                        </table>
            </div>
            <div class="col-md-8">
                <h3>Folders</h3>
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>FOLDER_ID</td>
                                 <td>STATUS</td>
                                 <td>NAME</td>
                                 <td>CREATED_AT</td>
                                 <td>DESCRIPTION</td>
                                 <td>LINK</td>
                             </tr>
                         {% if cloud.folders[0] %}
                             {% for f in cloud.folders %}
                             <tr>
                                 <td><a href="/saint/f/{{ f.id }}">{{ f.id }}</a></td>
                                 <td>{{ f.status }}</td>
                                 <td>{{ f.name }}</td>
                                 <td>{{ f.created_at }}</td>
                                 <td>{{ f.description }}</td>
                                 <td><a href="{{ f.link }}">{{ f.link }}</a></td>
                             </tr>
                             {% endfor %}
                         {% endif %}

                         </table>
                    <h3>Owners</h3>
                        <table class="table table-striped" width="100%">
                             <tr>
                                 <td>LOGIN</td>
                                 <td>EMAIL</td>
                                 <td>ROLE</td>
                                 <td>USER_ID</td>
                                 <td>PASSPORT_UID</td>
                                 <td>IS_NOTIFIED</td>
                             </tr>
                        {% if cloud.owners[0] != 'N' %}

                             {% for o in cloud.owners %}
                             <tr>
                                 <td>{{ o.login }}</td>
                                 <td>{{ o.email }}</td>
                                 <td>{{ o.role }}</td>
                                 <td>{{ o.user_id }}</td>
                                 <td>{{ o.passport_uid }}</td>
                                 <td>{{ o.is_notified }}</td>
                             </tr>
                            {% endfor %}
                        {% endif %}
                        </table>
                    <h3>Users</h3>
                        <table class="table table-striped" width="100%">
                             <tr>
                                 <td>LOGIN</td>
                                 <td>EMAIL</td>
                                 <td>ROLE</td>
                                 <td>USER_ID</td>
                                 <td>PASSPORT_UID</td>
                                 <td>IS_NOTIFIED</td>
                             </tr>
                        {% if cloud.users[0] %}
                             {% for u in cloud.users %}
                             <tr>
                                 <td>{{ u.login }}</td>
                                 <td>{{ u.email }}</td>
                                 <td>{{ u.role }}</td>
                                 <td>{{ u.user_id }}</td>
                                 <td>{{ u.passport_uid }}</td>
                                 <td>{{ u.is_notified }}</td>
                             </tr>
                            {% endfor %}
                        {% endif %}
                        </table>
            <p><a href="/saint/ai/{{ cloud.object[0].cloud_id }}">All instances</a>
                <a href="/saint/sn/{{ cloud.object[0].cloud_id }}">All subnets</a>
                <a href="/saint/ips/{{ cloud.object[0].cloud_id }}">All ip addresses</a></p>
            </div>

        </div>
    </div>
{%  endif %}

{% if instance %}
    <div id="instance">
    <div class="row">
    <div class="col-md-12 m-2"><h3>Instance</h3></div>
    <div class="col-md-5 m-2">
        <table class="table table-striped" width="100%">
            <tr><td>Instance ID </td> <td>{{ instance.instance.instance_id }}</td> </tr>
            <tr><td>Instance name </td> <td>{{ instance.instance.name }}</td> </tr>
            <tr><td>Instance description </td> <td> {{ instance.instance.description }}</td> </tr>
            <tr><td>Cloud ID </td> <td> <a href="/saint/c/{{ instance.instance.cloud_id }}">{{ instance.instance.cloud_id }}</a></td> </tr>
            <tr><td>Folder ID </td> <td> <a href="/saint/f/{{ instance.instance.folder_id }}"> {{ instance.instance.folder_id }}</a></td> </tr>
            <tr><td>Instance Status </td> <td> {{ instance.instance.status }}</td> </tr>
            <tr><td>OS Type </td> <td> {{ instance.instance.os_type }}</td> </tr>
            <tr><td>Boot image </td> <td> <a href="/saint/img/{{ instance.instance.image }}">{{ instance.instance.image }}</a></td> </tr>
            <tr><td>Boot disk id</td> <td> <a href="/saint/d/{{ instance.instance.boot_disk_id }}">{{ instance.instance.boot_disk_id }}</a></td> </tr>
           {% if instance.instance.local_nvme %} <tr><td>Local NVMEs</td> <td>{{ instance.instance.local_nvme }} </td> </tr>{% endif %}
            <tr><td>Instance FQDN</td> <td> {{ instance.instance.fqdn }}</td> </tr>
            <tr><td>Instance zone</td> <td> {{ instance.instance.zone }}</td> </tr>
            <tr><td>Platform ID</td> <td> {{ instance.instance.platform_id }}</td> </tr>
           {% if instance.instance.gpu %} <tr><td>GPUs </td> <td> {{ instance.instance.gpu }} </td> </tr>{% endif %}
            <tr><td>Compute node</td> <td> {{ instance.instance.compute_node }} </td> </tr>
            <tr><td>Preemptible?</td> <td> {{ instance.instance.preemptible }}</td> </tr>
            <tr><td>Cores</td> <td> {{ instance.instance.cores }}</td> </tr>
            <tr><td>Core type</td> <td> {{ instance.instance.core_type }}</td> </tr>
            <tr><td>Core fraction</td> <td> {{ instance.instance.core_fraction }}</td> </tr>
            <tr><td>RAM</td> <td> {{ instance.instance.memory }}</td> </tr>
            <tr><td>Created at</td> <td> {{ instance.instance.created_at }}</td> </tr>
            <tr><td>Internal IP</td> <td> {{ instance.instance.internal_ip }}</td> </tr>
            <tr><td>Public IP</td> <td> {{ instance.instance.public_ip }}</td> </tr>
            <tr><td>Subnet ID</td> <td> {{ instance.instance.subnet_id }}</td> </tr>
            <tr><td>Network ID</td> <td> {{ instance.instance.network_id }}</td> </tr>
            <tr><td>Security Groups</td> <td> {{ instance.instance.s_groups }}</td> </tr>
            <tr><td>TAP interface</td> <td> {{ instance.instance.tap_iface }}</td> </tr>
          {% if instance.instance['total ifaces'] %}{% if instance.instance['total ifaces']|int > 1 %}  <tr><td>Total Interfaces</td> <td>{{ instance.instance['total ifaces'] }} </td> </tr>{% endif %} {% endif %}
            <tr><td>Monitoring dashboard</td> <td>  <a href="{{ instance.instance.usage_link }}">{{ instance.instance.usage_link }}</a> </td> </tr>
        </table>
    </div>
    </div>
    </div>

    <div class="col-md-12 m-2"><h3>Disks</h3></div>
    <div class="col-md-12">
        <table width="100%" class="table table-striped">
            <tr><td>DISK ID</td><td>SIZE</td><td>TYPE</td><td>TYPE_ID</td><td>MODE</td><td>ATTACH STATUS</td><td>STATUS</td><td>DASHBOARD</td><td>B/WIDTH</td><td>IOPS</td><td>AUDO DELETE</td></tr>
            {% for disk in instance.disks %}
            <TR>
                <td><a href="/saint/d/{{ disk.disk_id }}">{{ disk.disk_id }}</a></td>
                <td>{{ disk.size }}</td>
                <td>{{ disk.type }}</td>
                <td>{{ disk.type_id }}</td>
                <td>{{ disk.mode }}</td>
                <td>{{ disk.attach_status }}</td>
                <td>{{ disk.status }}</td>
                <td><a href="{{ disk.disk_dashboard }}">{{ disk.disk_dashboard }}</a></td>
                <td>{{ disk.bandwidth }}</td>
                <td>{{ disk.iops }}</td>
                <td>{{ disk.auto_delete }}</td>
            </TR>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-12 m-2"><h3>Network Interfaces</h3></div>
    <div class="col-md-12">
        <table width="100%" class="table table-striped">
            <tr><td>#</td><td>PUBLIC IP</td><td>INTERNAL IP</td><td>FOLDER ID</td><td>NETWORK ID</td><td>SUBNET ID</td><td>S_GROUPS</td><td>S_FLOWS</td><td>ETC</td></tr>
            {% for ni in instance.network_ifaces %}
                <TR>
                <TD>{{ ni['#'] }}</TD>
                    <TD><a href="/saint/ip/{{ ni['public_ip'] }}">{{ ni['public_ip'] }}</a></TD>
                <TD>{{ ni['internal_ip'] }}</TD>
                <TD>{{ ni['folder_id'] }} </TD>
                <TD> {{ ni['network_id'] }} </TD>
                <TD>{{ ni['subnet_id'] }}</TD>
                <TD>{{ ni['s_groups'] }}</TD>
                <TD>{{ ni['super_flow'] }}</TD>
                <TD>{{ ni['etc'] }}</TD>
                </TR>
            {% endfor %}
        </table>
    </div>

    {% if instance.operations[0] != 'N' %}

    <div class="row">
        <div class="col-md-12 m-2"><h3>Operations</h3></div>
        <div class="col-md-12">
            <table width="100%" class="table table-striped">
                <tr><td>OPERATION ID</td><td>CREATED AT</td><td>MODIFIED AT</td><td>CREATED BY</td><td>DESCRIPTION</td><td>DONE</td><td>ERROR</td></tr>
            {% for op in instance.operations %}
            <TR>
            <TD>{{ op.operation_id }}</TD>
            <TD>{{ op.created_at }}</TD>
            <TD>{{ op.modified_at }}</TD>
            <TD>{{ op.created_by }}</TD>
            <TD>{{ op.description }}</TD>
            <TD>{{ op.done }}</TD>
            <TD>{{ op.error }}</TD>
            </TR>
            {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
{%  endif %}

{% if ip %}
    <div id="ip">
        <div class="col-md-12 m-2"><h3>IP Address</h3></div>
    <div class="col-md-6">
        <table width="100%" class="table table-striped">
            <tr><td>Address ID</td><td>{{ ip.ip_address.address_id }}</td></tr>
            <tr><td>IP address</td><td>{{ ip.ip_address.ip_address }}</td></tr>
            <tr><td>Created at</td><td>{{ ip.ip_address.created_at }}</td></tr>
            <tr><td>Ephemeral</td><td>{{ ip.ip_address.ephemeral }}</td></tr>
            <tr><td>Folder ID</td><td>{{ ip.ip_address.folder_id }}</td></tr>
            <tr><td>IP Version</td><td>{{ ip.ip_address.ip_version }}</td></tr>
            <tr><td>Name</td><td>{{ ip.ip_address.name }}</td></tr>
            <tr><td>Used</td><td>{{ ip.ip_address.used }}</td></tr>
            <tr><td>Zone</td><td>{{ ip.ip_address.zone }}</td></tr>
            <tr><td>DDos</td><td>{{ ip.ip_address.ddos }}</td></tr>
            <tr><td>SMTP</td><td>{{ ip.ip_address.smtp }}</td></tr>
            {% if  ip.resource %}
            <tr><td>Instance</td><td><a href="/saint/i/{{ ip.resource.instance.instance_id }}">{{ ip.resource.instance.instance_id }}</a></td></tr>
            {% endif %}
        </table>
    </div>
    </div>
{%  endif %}
{% if disk %}
    <div id="disk">
        <div class="row">
            <div class="col-md-8 m-2"><h3>Disk</h3></div>
                <div class="col-md-8 m-2">
                    <table class="table table-striped" width="80%">
                        <tr>        <td > Disk ID</td><td >{{ disk.disk_id }}</td></tr>
                        <tr>        <td > Type ID</td><td >{{ disk.type_id }}</td></tr>
                        <tr>        <td > Image</td><td >{{ disk.image }}</td></tr>
                        <tr>        <td > Image ID</td><td > <a href="/saint/img/{{ disk.image_id }}">{{ disk.image_id }}</a> </td></tr>
                        <tr>        <td > Instance</td><td ><a href="/saint/i/{{ disk.instance_id }}">{{ disk.instance_id }}</a> </td></tr>
                        <tr>        <td > Size</td><td > {{ disk.size }} </td></tr>
                        <tr>        <td > Folder ID</td> <td><a href="/saint/f/{{ disk.folder_id }}">{{ disk.folder_id }}</a></td></tr>
                        <tr>        <td > Status</td> <td> {{ disk.status }}</td></tr>
                        <tr>        <td > Dashboard</td> <td><a href="{{ disk.disk_dashboard }}">{{ disk.disk_dashboard }}</a></td></tr>
                        <tr>        <td > IOPS R/W</td> <td>{{ disk['IOPS R/W'] }}</td></tr>
                        <tr>        <td > Bandwidth R/W</td> <td>{{ disk['Bandwidth R/W'] }}</td></tr>
                    </table>
                </div>
        </div>
    </div>
{%  endif %}
{% if img %}
    <div id="img">
        <div class="row">
            <div class="col-md-8 m-2"><h3>Image</h3></div>
                <div class="col-md-8 m-2">
                    <table class="table table-striped" width="80%">
                        <tr><td > Image ID</td><td >{{ img.id }}</td></tr>
                        <tr><td > Status</td><td >{{ img.status }}</td></tr>
                        <tr><td > Folder ID</td><td ><a href="/saint/f/{{ img.folder_id }}">{{ img.folder_id }}</a></td></tr>
                        <tr><td > Created at</td><td >{{ img.created_at }} </td></tr>
                        <tr><td > Name</td><td >{{ img.name }}</td></tr>
                        <tr><td > Description</td><td > {{ img.description }}</td></tr>
                        <tr><td > Family</td> <td>{{ img.family }} </td></tr>
                        <tr><td > Storage size</td> <td>{{ img.storage_size }} </td></tr>
                        <tr><td > Min disk size</td> <td>{{ img.min_disk_size }} </td></tr>
                    </table>
                </div>
        </div>
    </div>
{%  endif %}
{% if folder %}
    <div id="folder">
        <div class="row">
            <div class="col-md-8 m-2"><h3>Folder</h3></div>
                <div class="col-md-6 m-2">
                    <table class="table table-striped" width="80%">
                        <tr><td > Folder ID</td><td >{{ folder.id }}</td></tr>
                        <tr><td > Cloud ID</td><td ><a href="/saint/c/{{ folder.cloudId }}">{{ folder.cloudId }}</a></td></tr>
                        <tr><td > Name</td><td >{{ folder.name }}</td></tr>
                        <tr><td > Status</td><td >{{ folder.status }}</td></tr>
                        <tr><td > Description</td><td >{{ folder.description }}</td></tr>
                        <tr><td > Created at</td><td >{{ folder.created_at }}</td></tr>
                        <tr><td > Link</td> <td><a href="{{ folder.link }}">{{ folder.link }}</a></td></tr>
                    </table>
                </div>
        </div>
    </div>
{% endif %}
{% if bucket %}
    <div id="bucket">
        <div class="row">
            <div class="col-md-8 m-2"><h3>Bucket</h3></div>
                <div class="col-md-6 m-2">
                    <table class="table table-striped" width="80%">
                        <tr><td > Bucket Name</td><td >{{ bucket.name }}</td></tr>
                        <tr><td > Cloud ID</td><td ><a href="/saint/c/{{ bucket.cloud_id }}">{{ bucket.cloud_id }}</a></td></tr>
                        <tr><td > Default Storage Class</td><td >{{ bucket.default_storage_class }}</td></tr>
                        <tr><td > Public</td><td >{{ bucket.likely_publicly_accessible }}</td></tr>
                        <tr><td > Used space</td><td >{{ bucket.used_space }}</td></tr>
                        <tr><td > Max space</td><td >{{ bucket.max_size }}</td></tr>
                        <tr><td > Std Object count</td> <td>{{ bucket.std_objects_count }}</td></tr>
                        <tr><td > Cold Obj Count</td> <td>{{ bucket.cold_objects_count }}</td></tr>
                        <tr><td > Std Size</td> <td>{{ bucket.std_objects_size }}</td></tr>
                        <tr><td > Cold Size</td> <td>{{ bucket.cold_objects_size }}</td></tr>
                        <tr><td > Created at</td> <td>{{ bucket.created_at }}</td></tr>
                        <tr><td > Link</td> <td><a href="{{ bucket.link }}">Clickhouse Logger(prod)</a></td></tr>
                    </table>
                </div>
        </div>
    </div>
{%  endif %}

{% if acc %}
    {% if acc.account %}
    <div class="col-md-6">
    <h3>User Account {{ acc.account.id }}</h3>
    {% if acc.account.type == 'SAML user account' %}
        <table class="table table-striped">
        <tr><td>Account id</td><td>{{ acc.account.id }}</td></tr>
        <tr><td>Account type</td><td>{{ acc.account.type }}</td></tr>
        <tr><td>Account name</td><td>{{ acc.account.name_id }}</td></tr>
        <tr><td>Account email</td><td>{{ acc.account.email }}</td></tr>
        <tr><td>Federation id</td><td>{{ acc.account.federation_id }}</td></tr>
        <tr><td>SAML Attributes</td><td>
            {% for attr in acc.account.attributes.split('\n') %}
            {{ attr }} <br/>
            {% endfor %}
        </td></tr>
        </table>
    {% elif acc.account.type == 'Yandex Passport User Account' %}
        <table class="table table-striped">
        <tr><td>Account ID</td><td>{{ acc.account.id }}</td></tr>
        <tr><td>Account type</td><td>{{ acc.account.type }}</td></tr>
        <tr><td>Account login </td><td>{{ acc.account.login }}</td></tr>
        <tr><td>Default email</td><td>{{ acc.account.default_email }}</td></tr>
        </table>
    {% elif acc.account.type == 'Service Account' %}
        <table class="table table-striped">
        <tr><td>Account ID</td><td>{{ acc.account.account_id }}</td></tr>
        <tr><td>Account type</td><td>{{ acc.account.name }}</td></tr>
        <tr><td>Account login </td><td>{{ acc.account.type }}</td></tr>
        <tr><td>Default email</td><td>{{ acc.account.folder_id }}</td></tr>
        </table>
    {% else  %}
        <h1>Unknown account type, output left raw:</h1>
        <p>
        {{ acc.account }}
        </p>
    {% endif %}
    </div>
    <div class="col-md-8">
    <h3>Roles</h3>
    <table class="table-striped table">
        <tr><td>RESOURCE ID</td>
            <td>RESOURCE TYPE</td>
            <td>ACCOUNT ROLES</td>
        </tr>
        {% for r in acc.account_roles %}
        <tr>
            <td>{{ r.resource_id }}</td>
            <td>{{ r.resource_type }}</td>
            <td>
                {% for role in r.account_roles.split('\n') %}
                {{ role }}<br/>
                {% endfor %}
                    </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{%  endif %}
{%  endif %}

{% if std_images %}
    <div id="std_images">
        <div class="col-md-8 m-2"><h3>Standard Images</h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>ID</td>
                                 <td>FAMILY</td>
                                 <td>NAME</td>
                                 <td>STATUS</td>
                                 <td>MIN DISK_SIZE</td>
                                 <td>DESCRIPTION</td>
                                 <td>PRODUCT_IDS</td>
                             </tr>
                         {% if std_images.standard_images[0].id %}
                             {% for i in std_images.standard_images %}
                             <tr>
                                 <td><a href="/saint/img/{{ i.id }}">{{ i.id }}</a></td>
                                 <td>{{ i.family }}</td>
                                 <td>{{ i.name }}</td>
                                 <td>{{ i.status }}</td>
                                 <td>{{ i.min_disk_size }}</td>
                                 <td>{{ i.description }}</td>
                                 <td>{{ i.product_ids }}</td>
                             </tr>
                             {% endfor %}
                         {% endif %}

                         </table>
        </div>
    </div>
{%  endif %}
{% if k8s %}
    <div id="k8smasters">
        {% if k8s['master-ru-central1-a'] %}
            <h1>{{ k8s['master-ru-central1-a'].name[:-2] }}</h1>
            {% for m in ['master-ru-central1-a', 'master-ru-central1-b', 'master-ru-central1-c'] %}
                <div class="col-md-6">
                <h3>{{ k8s[m].zone }}</h3>
                <table class="table table-striped" width="100%">

                    <tr><td>Instance ID</td><td>{{ k8s[m].instance_id }}</td></tr>
                    <tr><td>Name</td><td>{{ k8s[m].name }}</td></tr>
                    <tr><td>STATUS</td><td>{{ k8s[m].status }}</td></tr>
                    <tr><td>FQDN</td><td>{{ k8s[m].fqdn }}</td></tr>
                    <tr><td>Platform</td><td>{{ k8s[m].platform_id }}</td></tr>
                    <tr><td>Compute node</td><td>{{ k8s[m].compute_node }}</td></tr>
                    <tr><td>Preemptible</td><td>{{ k8s[m].preemptible }}</td></tr>
                    <tr><td>Cores</td><td>{{ k8s[m].cores }} {{ k8s[m].core_fraction }}</td></tr>
                    <tr><td>RAM</td><td>{{ k8s[m].memory }}</td></tr>
                    <tr><td>Internal IP</td><td>{{ k8s[m].internal_ip }}</td></tr>
                    <tr><td>Usage Link</td><td><a href="{{ k8s[m].usage_link }}">{{ k8s[m].usage_link }}</a></td></tr>
                    <tr><td>Graphene</td><td><a href=" https://grafana.yandex-team.ru/d/rYdddlPWk/node-exporter-full?orgId=1&var-project=yc-mk8s-masters&var-cluster={{ k8s[m].name[:-2] }}&var-host=mk8s-master-{{ k8s[m].name }}&var-service=node-exporter&var-cpu_count=group_lines(%27sum%27,%20sum(group_by_time($__interval,%20%27max%27,%20%7B%27cluster%27%3D%27$cluster%27,%20%27host%27%3D%27$host%27,%20%27name%27%3D%27node_cpu_seconds_total%27,%20%27project%27%3D%27$project%27,%20%27service%27%3D%27$service%27%7D))%20by%20%27cpu%27%20*0%2B1)">{{ k8s[m].name }}</a></td></tr>
                </table>
                </div>
        <div class="col-md-12">
                {% if k8s[m].disks[0].disk_id %}
                    <table class="table table-striped">
                        <tr><td>DISK ID</td>
                            <td>SIZE</td>
                            <td>TYPE</td>
                            <td>TYPE_ID</td>
                            <td>MODE</td>
                            <td>ATTACH STATUS</td>
                            <td>STATUS</td>
                            <td>DASHBOARD</td>
                            <td>B/WIDTH</td>
                            <td>IOPS</td></tr>
                    {% for d in k8s[m].disks %}
                    <tr>
                        <td>{{ d.disk_id }}</td>
                        <td>{{ d.size }}</td>
                        <td>{{ d.type }}</td>
                        <td>{{ d.type_id }}</td>
                        <td>{{ d.mode }}</td>
                        <td>{{ d.attach_status }}</td>
                        <td>{{ d.status }}</td>
                        <td><a href="{{ d.disk_dashboard }}">{{ d.disk_dashboard }}</a></td>
                        <td>{{ d.bandwidth }}</td>
                        <td>{{ d.iops }}</td>
                    </tr>
                    {% endfor %}
                    </table>
        </div>
                {% endif %}

            {% endfor %}

        {% elif k8s['master'] %}
        <div class="col-md-8 m-2"><h3>{{ k8s['master'].name }} (Zonal)</h3></div>
        <div class="col-md-6">
                         <table class="table table-striped" width="100%">

                    <tr><td>Instance ID</td><td>{{ k8s['master'].instance_id }}</td></tr>
                    <tr><td>Name</td><td>{{ k8s['master'].name }}</td></tr>
                    <tr><td>STATUS</td><td>{{ k8s['master'].status }}</td></tr>
                    <tr><td>FQDN</td><td>{{ k8s['master'].fqdn }}</td></tr>
                    <tr><td>Platform</td><td>{{ k8s['master'].platform_id }}</td></tr>
                    <tr><td>Compute node</td><td>{{ k8s['master'].compute_node }}</td></tr>
                    <tr><td>Preemptible</td><td>{{ k8s['master'].preemptible }}</td></tr>
                    <tr><td>Cores</td><td>{{ k8s['master'].cores }} {{ k8s['master'].core_fraction }}</td></tr>
                    <tr><td>RAM</td><td>{{ k8s['master'].memory }}</td></tr>
                    <tr><td>Internal IP</td><td>{{ k8s['master'].internal_ip }}</td></tr>
                    <tr><td>Usage Link</td><td><a href="{{ k8s['master'].usage_link }}">{{ k8s['master'].usage_link }}</a></td></tr>
                    <tr><td>Graphene</td><td><a href=" https://grafana.yandex-team.ru/d/rYdddlPWk/node-exporter-full?orgId=1&var-project=yc-mk8s-masters&var-cluster={{ k8s['master'].name }}&var-host=mk8s-master-{{ k8s['master'].name }}&var-service=node-exporter&var-cpu_count=group_lines(%27sum%27,%20sum(group_by_time($__interval,%20%27max%27,%20%7B%27cluster%27%3D%27$cluster%27,%20%27host%27%3D%27$host%27,%20%27name%27%3D%27node_cpu_seconds_total%27,%20%27project%27%3D%27$project%27,%20%27service%27%3D%27$service%27%7D))%20by%20%27cpu%27%20*0%2B1)">{{ k8s['master'].name }}</a></td></tr>
                </table>
        </div>
                <div class="col-md-12">
                {% if k8s['master'].disks[0].disk_id %}
                    <table class="table table-striped">
                        <tr><td>DISK ID</td>
                            <td>SIZE</td>
                            <td>TYPE</td>
                            <td>TYPE_ID</td>
                            <td>MODE</td>
                            <td>ATTACH STATUS</td>
                            <td>STATUS</td>
                            <td>DASHBOARD</td>
                            <td>B/WIDTH</td>
                            <td>IOPS</td></tr>
                    {% for d in k8s['master'].disks %}
                    <tr>
                        <td>{{ d.disk_id }}</td>
                        <td>{{ d.size }}</td>
                        <td>{{ d.type }}</td>
                        <td>{{ d.type_id }}</td>
                        <td>{{ d.mode }}</td>
                        <td>{{ d.attach_status }}</td>
                        <td>{{ d.status }}</td>
                        <td><a href="{{ d.disk_dashboard }}">{{ d.disk_dashboard }}</a></td>
                        <td>{{ d.bandwidth }}</td>
                        <td>{{ d.iops }}</td>
                    </tr>
                    {% endfor %}
                    </table>
        </div>
        {% endif %}
        </div>
        {% endif %}
    </div>
{%  endif %}
{% if ai %}
    <div id="all_instances">
        {% if ai.instances[0] %}

    <div class="col-md-8 m-2"><h3>Instances in cloud </h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>Instance ID</td>
                                 <td>Folder ID</td>
                                 <td>Status</td>
                                 <td>Name</td>
                                 <td>OS</td>
                                 <td>Zone</td>
                                 <td>Core %</td>
                                 <td>CPU</td>
                                 <td>Memory</td>
                                 <td>IP</td>
                                 <td>Net</td>


                             </tr>
                             {% for i in ai.instances %}
                             <tr>
                                 <td>{{ i.instance_id }}</td>
                                 <td><a href="/saint/f/{{ i.folder_id }}">
                                     {{ i.folder_id }}</a>
                                 </td>
                                 <td>{{ i.status }}</td>
                                 <td>{{ i.name }}</td>
                                 <td>{{ i.os_type }}</td>
                                 <td>{{ i.zone }}</td>
                                 <td>{{ i.core_fraction }}</td>
                                 <td>{{ i.cores }}</td>
                                 <td>{{ i.memory }}</td>
                                 <td>int: {{ i.internal_ip }}<br>pub: {{ i.public_ip }}</td>
                                 <td>subnet: {{ i.subnet_id }}<br>sg: {{ i.s_groups }}</td>

                             </tr>
                             {% endfor %}
                         </table>
        {% endif %}

        </div>
    </div>
{%  endif %}
{% if sn %}
    <div id="subnets">
    {% if sn[0] %}
    <div class="col-md-8 m-2"><h3>Subnets in cloud </h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>Subnet ID</td>
                                 <td>Folder ID</td>
                                 <td>Network ID</td>
                                 <td>Zone</td>
                                 <td>CIDR v4</td>
                                 <td>CIDR v6</td>
                                 <td>Route Table</td>
                                 <td>Egress NAT</td>
                                 <td>DHCP</td>

                             </tr>
                             {% for s in sn %}
                             <tr>
                                 <td>{{ s.subnet_id }}</td>
                                 <td><a href="/saint/f/{{ s.folder_id }}">
                                     {{ s.folder_id }}</a>
                                 </td>
                                 <td>{{ s.network_id }}</td>
                                 <td>{{ s.zone }}</td>
                                 <td>{{ s.cidr_v4 }}</td>
                                 <td>{{ s.cidr_v6 }}</td>
                                 <td>{{ s.route_table }}</td>
                                 <td>{{ s.egress_nat }}</td>
                                 <td>{{ s.dhcp }}</td>
                             </tr>
                             {% endfor %}
                         </table>
        {% endif %}

    </div>
{%  endif %}

{% if ips %}
    <div id="ips">
    {% if ips[0] %}
    <div class="col-md-8 m-2"><h3>IP addresses in cloud </h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>Address Id</td>
                                 <td>IP address</td>
                                 <td>Ephemeral</td>
                                 <td>Zone</td>
                                 <td>Folder id</td>
                                 <td>Name</td>
                                 <td>Type</td>
                                 <td>Used</td>
                                 <td>DDoS</td>
                                 <td>SMTP</td>
                                 <td>resource</td>
                                 <td>resource_id</td>
                             </tr>
                             {% for ip in ips %}
                             <tr>
                                 <td>{{ ip.address_id }}</td>
                                 <td><a href="/saint/ip/{{ ip.ip_address }}">
                                     {{ ip.ip_address }}</a>
                                 </td>
                                 <td>{{ ip.ephemeral }}</td>
                                 <td>{{ ip.zone }}</td>
                                 <td><a href="/saint/f/{{ ip.folder_id }}">{{ ip.folder_id }}</a></td>
                                 <td>{{ ip.name }}</td>
                                 <td>{{ ip.type }}</td>
                                 <td>{{ ip.used }}</td>
                                 <td>{{ ip.ddos }}</td>
                                 <td>{{ ip.smtp }}</td>
                                 <td>{{ ip.resource }}</td>
                                 <td>
                                 {% if ip.resource == 'instance' %}
                                     <a href="/saint/i/{{ ip.resource_id }}">{{ ip.resource_id }}</a>
                                 {% else %}
                                     {{ ip.resource_id }}
                                 {% endif %}
                                 </td>
                             </tr>
                             {% endfor %}
                         </table>
        </div>
    {% endif %}

    </div>
{%  endif %}

{% if ba %}
    <div id="billing_account"></div>
            <div class="row">
            <div class="col-md-8 m-2"><h3>Billing</h3>
            <a href="/saint/pa/{{ ba.billing.billing_id }}">Payments</a> <a href="/saint/gr/{{ ba.billing.billing_id }}">Grants</a>
            </div>
                <div class="col-md-6 m-2">
                    <table class="table table-striped" width="80%">
                        <tr>
                            <td>Billing Id</td><td>{{ ba.billing.billing_id }}</td></tr>
                        <td>Display status</td><td>{{ ba.billing.display_status }}</td></tr>
                        <td>Usage status</td><td>{{ ba.billing.usage_status }}</td></tr>
                        <td>Account name</td><td>{{ ba.billing.ba_name }}</td></tr>
                        <td>Type</td><td>{{ ba.billing.type }}</td></tr>
                        <td>Pay Method</td><td>{{ ba.billing.payment_method }}</td></tr>
                        <td>Balance</td><td>{{ ba.billing.Balance }}</td></tr>

                        <td>Balance contract id</td><td>{{ ba.billing.balance_contract_id }}</td></tr>
                        <td>Contract is Active</td><td>{{ ba.billing.contract_is_active }}</td></tr>
                        <td>Person Type</td><td>{{ ba.billing.person_type }}</td></tr>
                        <td>Credit limit</td><td>{{ ba.billing.credit_limit }}</td></tr>
                        <td>Country code</td><td>{{ ba.billing.country_code }}</td></tr>

                        <td>Created at</td><td>{{ ba.billing.created_at }}</td></tr>
                        <td>Updated at</td><td>{{ ba.billing.updated_at }}</td></tr>
                        <td>Support plan</td><td>{{ ba.billing.support_plan }}</td></tr>
                        <td>Autopay failures</td><td>{{ ba.billing.autopay_failures }}</td></tr>
                        <td>Fraud detected by</td><td>{{ ba.billing.fraud_detected_by }}</td></tr>
                        <td>Floating Threshold</td><td>{{ ba.billing.floating_threshold }}</td></tr>
                        <td>Reg User ID</td><td>{{ ba.billing.registration_user_iam }}</td></tr>
                        <td>Unblock reason</td><td>{{ ba.billing.unblock_reason }}</td></tr>
                        <td>Verified</td><td>{{ ba.billing.verified }}</td></tr>
                        <td>Contract id</td><td>{{ ba.billing.contract_id }}</td></tr>
                        <td>Contract currency</td><td>{{ ba.billing.contract_currency }}</td></tr>
                        <td>Contract effective date</td><td>{{ ba.billing.contract_effective_date }}</td></tr>
                        <td>Contract payment type</td><td>{{ ba.billing.contract_payment_type }}</td></tr>
                        <td>Owner data</td><td>
                        {% if ba.billing.personal_data.company %}

                                                    <h6>Company</h6>
                                                    <table class="table striped">
                                                        <tr><td>Long name</td><td>{{ ba.billing.personal_data.company.long_name }}</td></tr>
							<tr><td>Email</td><td><a href="{{ ba.billing.personal_data.company.email }}">{{ ba.billing.personal_data.company.email }}</a></td></tr>
                                                        <tr><td>Post code</td><td>{{ ba.billing.personal_data.company.post_code }}</td></tr>
                                                        <tr><td>INN</td><td>{{ ba.billing.personal_data.company.inn }}</td></tr>
                                                        <tr><td>BIK</td><td>{{ ba.billing.personal_data.company.bik }}</td></tr>
                                                        <tr><td>Account</td><td>{{ ba.billing.personal_data.company.account }}</td></tr>
                                                        <tr><td>KPP</td><td>{{ ba.billing.personal_data.company.kpp }}</td></tr>
                                                        <tr><td>Docs checked?</td><td>{{ ba.billing.personal_data.company.doc_checked }}</td></tr>
                                                    </table>

                        {% elif ba.billing.personal_data.person %}

                            <h6>Individual</h6>
                            <table class="table striped">
                                <tr><td>Full name</td><td>{{ ba.billing.personal_data.person.full_name }}</td></tr>
                                <tr><td>Email</td><td><a href="{{ ba.billing.personal_data.person.email }}">{{ ba.billing.personal_data.person.email }}</a></td></tr>
                            </table>
                        {% endif %}
                        </td></tr>
                        <td>Login</td><td>{{ ba.billing.login }}</td></tr>
                        <td>Antifraud</td><td>{{ ba.billing.antifraud }}</td></tr>                           <!-- ??! -->
                        <td>Last block reason</td><td>{{ ba.billing.last_block_reason }}</td></tr>
                        <td>Last block comment</td><td>{{ ba.billing.last_block_comment }}</td></tr>
                        {% if ba.billing.personal_manager.first_name %}
                        <tr><td>Personal Manager</td><td>
                                                        <table class="table striped">
                                                            <tr>
                                                                <td>Name</td><td>{{ ba.billing.personal_manager.first_name }} {{ ba.billing.personal_manager.last_name }}</td></tr>
                                                                <td>Login</td><td>{{ ba.billing.personal_manager.login }}</td></tr>
								<td>Email</td><td><a href="{{ ba.billing.personal_manager.email }}">{{ ba.billing.personal_manager.email }}</a></td></tr>

                                                        </table>
                        </td></tr>
                        {% endif %}
                        {% if ba.billing.passport.login %}
                        <tr><td>Passport</td><td>
                                                <table class="table striped">
                                                    <tr>
                                                        <td>Login</td><td>{{ ba.billing.passport.login }}</td></tr>
                                                        <tr><td>Uid</td><td>{{ ba.billing.passport.uid }}</td></tr>
                                                </table>
                        </td></tr>
                            {% endif %}
                        <td>Active grants</td><td>{{ ba.billing['Active grants'] }} {{ ba.billing.contract_currency }}</td></tr>
                        <td>Value Added Reseller?</td><td>{{ ba.billing.var }}</td></tr>
                        <td>Partner id</td><td>{{ ba.billing.partner_id }}</td>
                        </tr>
                    </table>
                </div>
            <div class="col-md-8">
                                   <h3>Clouds</h3>
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>CLOUD_ID</td>
                                 <td>STATUS</td>
                                 <td>NAME</td>
                                 <td>CREATED_AT</td>
                                 <td>DESCRIPTION</td>
                                 <td>ORGANIZATION</td>
                             </tr>
                         {% if ba.billing.clouds[0] %}
                             {% for c in ba.billing.clouds %}
                             <tr>
                                 <td><a href="/saint/c/{{ c.cloud_id }}">{{ c.cloud_id }}</a></td>
                                 <td>{{ c.status }}</td>
                                 <td>{{ c.cloud_name }}</td>
                                 <td>{{ c.created_at }}</td>
                                 <td>{{ c.description }}</td>
                                 <td>{{ c.organization_id }}</td>
                             </tr>
                             {% endfor %}
                         {% endif %}

                         </table>
                </div>
            </div>

{%  endif %}
{% if grants %}
    <div id="grants">
    {% if grants.active_grants[0].Id %}
    <div class="col-md-8 m-2"><h3>Active Grants</h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>ID</td>
                                 <td>Start date</td>
                                 <td>End date</td>
                                 <td>Initial amount</td>
                                 <td>Consumed amount</td>
                                 <td>Reason</td>
                             </tr>
                             {% for gr in grants.active_grants %}
                             <tr>
                                 <td>{{ gr.Id }}</td>
                                 <td>{{ gr['Start Date'] }}</td>
                                 <td>{{ gr['End Date'] }}</td>
                                 <td>{{ gr['Initial Amount'] }}</td>
                                 <td>{{ gr['Consumed Amount'] }}</td>
                                 <td>{{ gr['Reason Id'] }}</td>
                             </tr>
                             {% endfor %}
                         </table>
        </div>
    {% endif %}
    {% if grants.dead_grants[0].Id %}
    <div class="col-md-8 m-2"><h3>Inactive Grants</h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>ID</td>
                                 <td>Start date</td>
                                 <td>End date</td>
                                 <td>Initial amount</td>
                                 <td>Consumed amount</td>
                                 <td>Reason</td>
                             </tr>
                             {% for gr in grants.dead_grants %}
                             <tr>
                                 <td>{{ gr.Id }}</td>
                                 <td>{{ gr['Start Date'] }}</td>
                                 <td>{{ gr['End Date'] }}</td>
                                 <td>{{ gr['Initial Amount'] }}</td>
                                 <td>{{ gr['Consumed Amount'] }}</td>
                                 <td>{{ gr['Reason Id'] }}</td>
                             </tr>
                             {% endfor %}
                         </table>
        </div>
    {% endif %}
    </div>

{%  endif %}
{% if payments %}
    <div id="payments">
        {% if payments[0] %}
    <div class="col-md-8 m-2"><h3>Payments History</h3></div>
        <div class="col-md-12">
                         <table class="table table-striped" width="100%">
                             <tr>
                                 <td>ID</td>
                                 <td>Amount</td>
                                 <td>Created at</td>
                                 <td>Modified at</td>
                                 <td>Type</td>
                                 <td>Status</td>
                                 <td>Description</td>
                             </tr>
                             {% for pa in payments %}
                             <tr>
                                 <td>{{ pa.id }}</td>
                                 <td>{{ pa['amount'] }}</td>
                                 <td>{{ pa['created_at'] }}</td>
                                 <td>{{ pa['modified_at'] }}</td>
                                 <td>{{ pa['type'] }}</td>
                                 <td>
                                    {% if pa['status'] == 'failed' %}<span style="color:red">{% endif %}
                                     {{ pa['status'] }}
                                    {% if pa['status'] == 'failed' %}</span>{% endif %}
                                 </td>
                                 <td>{{ pa['description'] }}</td>
                             </tr>
                             {% endfor %}
                         </table>
        </div>
    {% endif %}

    </div>
{%  endif %}
</div>
</div>
</body>
</html>
