
<table>
<tr>
<td>
CloudId
</td>
<td>
{{cloudId}}
</td>
</tr>
{% for service in token.keys() %}
    {% for quota in token[service] %}
         {% if quota in bytequota %}
<tr>
<td>{{ quota }}</td>
<td><input id={{ quota }}-value type="float" value="{{token[service][quota]|int/1073741824}}"  size=20 disabled></td>
</tr>
    {% else %}
<tr>
<td>{{ quota }}</td>
<td><input id='{{ quota }}-value' type="float" value="{{token[service][quota]}}"  size=20 disabled></td>
</tr>
    {% endif %}
{% endfor %}
{% endfor %}
    </table>