{% set salt_master = salt['grains.filter_by']({
  'default': {
    'csync2': False,
    'git_local': False,
    'senv': salt['grains.get']('yandex-environment', 'base'),
    'project': salt['grains.get']('conductor:project').encode('utf8'),
    'default': 'True',
    'service': 'salt-master',
    'packages': ['salt-master', 'python-gnupg'],
    'config': 'salt://templates/salt-master/files/etc/salt/master.tmpl',
    'masterd': False,
    'ssh': False,
    'params': {'keep_jobs': 1, 'log_level': 'INFO', 'worker_threads': 24, 'fileserver_backend': ['git', 'roots'], 'log_level_logfile': 'INFO', 'auto_accept': True, 'ipv6': True, 'interface': '::', 'user': 'robot-media-salt', 'renderer': "jinja | yaml | gpg", 'reactor': [{'salt/minion/*/start': ['salt://start.sls']}], 'gitfs_provider': 'gitpython', 'git_pillar_provider': 'gitpython'},
  },
  'production': {
    'senv': 'stable',
  },
  'stress': {
    'senv': 'load',
  },
  'development': {
    'senv': 'dev',
  },

}, grain='yandex-environment', merge=salt['pillar.get']('salt_master:lookup'), default='default', base='default') %}
