{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "vsop"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[dc]] algonat44 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='algonat44', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}},
{{
	render_element(
		"[[dc]] algonat46 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='algonat46', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}},
{{
	render_element(
		"[[dc]] algonat64 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='algonat64', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}},
{{
	render_element(
		"[[dc]] algonat66 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='algonat66', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}}
{% endblock %}
