{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_cloudgate"
},
{
	"name": "service",
	"value": "gobgp"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[host]] routes_to_reflector",
		"group_by_labels({metric='routes', plane='controlplane', peer='37.140.141.*', table='ADJ_OUT', family='IPv4', host!='cluster'}, 'host', v -> group_lines('sum', v))"
	)
}},
{{
	render_element(
		"[[host]] routes_to_contrail",
		"group_by_labels({metric='routes', plane='controlplane', peer='10.0.*', table='ADJ_OUT', host!='cluster'}, 'host', v -> group_lines('sum', v))"
	)
}}
{% endblock %}
