{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "*"
},
{
	"name": "env",
	"value": "{{ env }}"
},
{
	"name": "name",
	"value": "gobgp_*_timings"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"99",
		"histogram_percentile(99, 'bin', group_by_labels({name='[[name]]'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"90",
		"histogram_percentile(90, 'bin', group_by_labels({name='[[name]]'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"75",
		"histogram_percentile(75, 'bin', group_by_labels({name='[[name]]'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"50",
		"histogram_percentile(50, 'bin', group_by_labels({name='[[name]]'}, 'bin', v -> group_lines('sum', v)))",
	)
}}
{% endblock %}
