{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "loadbalancer_node"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[dc]] vpp_rules",
		"group_by_labels({name='vpp_rules', host!='cluster', state='-'}, 'dc', v -> group_lines('sum', v))"
	)
}}
{% endblock %}
