{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_cloudgate"
},
{
	"name": "service",
	"value": "interfaces"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"rx_bytes_rate",
		"group_lines('sum', {name='rx_bytes', plane='dataplane', iface='Ethernet*'})",
		area="true",
	)
}},
{{
	render_element(
		"tx_bytes_rate",
		"group_lines('sum', {name='tx_bytes', plane='dataplane', iface='Ethernet*'})",
		area="true",
	)
}}
{% endblock %}
