{% extends "../../../base/graph.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "vsop"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[dc]] ycmh4 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='ycmh4', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}},
{{
	render_element(
		"[[dc]] ycmh6 clocks",
		"group_by_labels({name='vpp-clocks', 'vpp-node'='ycmh6', host!='cluster', thread='-'}, 'dc', v -> group_lines('sum', v))"
	)
}}
{% endblock %}
