Source: yandex-media-mongo-dump-restore
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2
Vcs-Git: git@github.yandex-team.ru:admins/yandex-media-mongo-dump-restore.git
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-mongo-dump-restore

Package: yandex-media-mongo-dump-restore
Architecture: all
Depends: yandex-media-s3cmd, python3
Conflicts: yandex-tv-mongo-refiller
Replaces: yandex-tv-mongo-refiller
Provides: yandex-tv-mongo-refiller
Description: Specific tool to backup mongodb into S3 and then restore it
 by mongodump and mongorestore
 Source of pkg here: git@github.yandex-team.ru:chrono/tokk-mongo-backup.git
