{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "containers" %}
      {% tab_item "clusters" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>FQDN</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Project</th>
                <td>{{ obj.project.self_link_c }}</td>
              </tr>
              <tr>
                <th>Geo</th>
                <td>{{ obj.location.geo }}</td>
              </tr>
              <tr>
                <th>Generation</th>
                <td>{{ obj.generation }}</td>
              </tr>
              <tr>
                <th>Allow new hosts</th>
                <td>{{ obj.allow_new_hosts|bool_label }}</td>
              </tr>
              <tr>
                <th>Allow new hosts updated by</th>
                <td>{{ obj.allow_new_hosts_updated_by|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Heartbeat</th>
                <td>{% dt_formatted obj.heartbeat %}</td>
              </tr>
              <tr>
                <th>Use VLAN688</th>
                <td>{{ obj.use_vlan688|bool_label }}</td>
              </tr>
              <tr>
                <th>Switch</th>
                <td>{{ obj.switch }}</td>
              </tr>
              <tr>
                <th>Related links</th>
                <td>
                  {% related_links_onload obj.fqdn %}<br>
                  <a href="/ui/cms/decisions?fqdn={{ obj.fqdn }}">CMS -> Decisions -> {{ obj.fqdn }}</a><br>
                  <a href="https://wall-e.yandex-team.ru/host/{{ obj.fqdn }}">Wall-E -> {{ obj.fqdn }}</a>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">Resources usage</label><br>
                {% obj_block_onload obj "resources" %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_containers">
        <div class="row">
          {% obj_block_onload obj "containers" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_clusters">
        <div class="row">
          {% obj_block_onload obj "clusters" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
