.header {
    grid-area: 1/1/2/3;
    background-color: var(--color-essential);
    border-bottom: 1px solid var(--color-bg-hover);
    display: grid;
    grid-template-columns: 350px 1fr auto;
}

.header .logo{
    margin-left: 20px;
    margin-top: 5px;
}

.header .menu {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

.header .menu > * {
    vertical-align: middle;
}

.header .menu .link {
    margin: 10px;
    text-decoration: none;
}

.header .menu .active-link {
    margin: 10px;
    color: black;
}

.header .right-side {
    display: inline-block;
    float: right;
}

.header .right-side > * {
    display: inline-block;
    vertical-align: middle !important;
    margin-left: 10px;
}


.Header {}
.Header-WarningIcon {
    display: none !important;
    background-image: url('../../../node_modules/@yandex-serp-design/search/icons/ErrorOutline_24_notification.svg');
    width:250px;
    height: 20px;
}

.Header-WarningIcon_show {
    display: inline-block !important;
}
