# atop logrotate configuration file

/var/log/atop/atop.log {
    rotate 7
    daily
    nocompress
    nocreate
    missingok
    prerotate
    if pidof atop 2>&1 > /dev/null; then
        invoke-rc.d atop stop 2>&1 > /dev/null
    fi
    endscript
    postrotate
    invoke-rc.d atop start 2>&1 > /dev/null
    endscript
}