{% extends "../../base/alert.j2" %}

{% set jugglerService = "compute-node-licensed-pool-limits" %}
{% set description = "https://docs.yandex-team.ru/yc-monitoring/compute-node/compute-node-licensed-pool-limits" %}
{% set windowSecs = 600 %}

{% block main %}
    "name": "compute_licensed_pool_{{pool}}_z_{{zone_id}}",
    "annotations": {
         "service": "compute-node-licensed-pool-limits",
         "value": "[[pointValue]]",
         "tags": "Solomon, licensed_pool_limits",
         "host": "yc_compute_node_prod_{{zone_id}}_{{pool}}",
         "zone_id": "{{zone_id}}",
         "license_type": "{{pool}}"
    },
    "description": "",
    "type": {
        "threshold": {
            "selectors": "{project='{{ project_id }}', cluster='cloud_{{env}}_head_*', service='internals', service_name='scheduler', host='cluster', zone_id='{{ zone_id }}', license_type='{{pool}}', metric='licensed_pool_total_nodes'}",
            "timeAggregation": "AT_LEAST_ONE",
            "predicate": "GTE",
            "threshold": {{threshold}},
        "predicateRules": [
          {
            "thresholdType": "AT_LEAST_ONE",
            "comparison": "GTE",
            "threshold": {{threshold}},
            "targetStatus": "WARN"
          }
        ]
      }
    }
{% endblock %}

