{% extends "../../base/alert.j2" %}

{% set notificationChannels = ["compute_capacity_tg"] %}
{% set notifyAboutStatuses = {'compute_capacity_tg': '["WARN", "ALARM"]'} %}

{% set windowSecs = 3600 %}

{% set type = "c" ~ cores ~ "-m" ~ memory if fraction == 100 else "c" ~ cores ~ "-f" ~ fraction ~ "-m" ~ memory%}

{% block main %}
    "name": "compute_capacity_{{platform}}_c{{cores}}-m{{memory}}-f{{fraction}}-hg_service",
    "groupByLabels": ["zone_id"],
    "annotations": {
         "value": "[[pointValue]]"
    },
    "description": "",
    "type": {
        "threshold": {
            "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}_scheduler', service='resources', host='-', zone_id='*', type='{{ type }}', platform_id='{{ platform }}', host_group='service'}",
            "timeAggregation": "AT_LEAST_ONE",
            "predicate": "LTE",
            "threshold": 0,
        "predicateRules": [
          {
            "thresholdType": "AT_LEAST_ONE",
            "comparison": "LTE",
            "threshold": 0,
            "targetStatus": "WARN"
          }
        ]
      }
    }
{% endblock %}

