{% extends "base_alert.j2" %}

{% set name = "Compute node (go) task processing errors" %}
{% set jugglerService = "compute-node-task-processing-errors" %}
{% set description = "https://docs.yandex-team.ru/yc-monitoring/compute-node/compute-node-task-processing-errors" %}
{% set isComputeNode = True %}
{% set windowSecs = 20 * 60 %}

{% set annotations = [("error_rate", "[[expression.error_rate_human]]")] %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    cluster='cloud_{{ env }}_compute',
    service='compute_node',
    sensor='task_processing_errors',
    host='*'
};
let error_rate = max(data);
let error_rate_human = to_fixed(error_rate, 3);
alarm_if(error_rate > 5);
warn_if(error_rate > 1);
{% endmacro %}
