[Unit]
Description=prometheus system metrics exporter

[Service]
ExecStart=/usr/bin/node_exporter
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
