[Unit]
Description=statsd prometheus sink

[Service]
ExecStart=/usr/bin/statsd_exporter
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
