######################################################################################
ACHTUNG: mysql service restart disabled on config change. On cluster deploy be sure
that all nodes in stopped state or not configured for galera.
First cluster node start is not usual 'service mysql start', it must be bootstrapped: 
'service mysql bootstrap-pxc'. After that others can be started as usual, but only one
by one, because the initial sync(SST) will be initiated.
galera arbitrator(if needed) https://www.percona.com/doc/percona-xtradb-cluster/5.6/howtos/garbd_howto.html
more info: https://wiki.yandex-team.ru/media-admin/salt/tmpl/galera/
######################################################################################

galera:
  version: 5.6					# if not specified used latest
  on_state_change: /usr/bin/close.sh		# script which shoud be run when cluster state changes
  d_support: True				# use d.y-t.ru for management(default: True)
  cluster_group: my_galera_cluser		# cluster conductor group
  wsrep_user: galera				# user for galera sync processes(IST,SST) and replication
  wsrep_password: megapassword
  sst_port: 17601				# port listen in sst recieve
  ist_port: 17501				# port listen on ist recieve
  wsrep_port: 17401				# wsrep communication port(required option). template default 17401
