Source: yandex-media-jumbo-check
Section: misc
Priority: optional
Maintainer: Fedor Dikarev <yatheo@yandex-team.ru>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.yandex-team.ru/yatheo/yandex-media-jumbo-check

Package: yandex-media-jumbo-check
Architecture: any
Depends: python|python3, python-requests|python3-requests, python-yaml|python3-yaml, fping (>= 4.0)
Description: Checks MTU on host and jumbo connectivity to other hosts in group

