.FailedTaskCard {
    text-align: center;
    vertical-align: middle;
    display: contents;
}

.FailedTaskCard > button {
    background-color: rgba(255, 0, 0, 0.4);
}

.FailedTaskCard > button:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.RetryTaskCard {
    text-align: center;
    vertical-align: middle;
    display: contents;
}

.RetryTaskCard > button {
    background-color: rgba(255, 255, 0, 0.4);
}

.RetryTaskCard > button:hover {
    background-color: rgba(255, 255, 0, 0.6);
}

.FailedTaskCard.container {
    display: table-cell;
    vertical-align: middle;
}
