.MoreTasksInfoCard {
    width: 105px;
    height: 50px;
    line-height: 50px;
    background: rgba(157, 157, 157, 0.4);
    text-align: center;
    vertical-align: middle;
    display: contents;
}

.MoreTasksInfoCard:hover {
    background-color: rgba(157, 157, 157, 0.6);
}

.MoreTasksInfoCard > button {
    width: 105px;
}
