proftpd:
  lookup:
    package: proftpd-basic
    service: proftpd
    filename: /etc/proftpd/proftpd.conf
    filesource: salt://templates/proftpd/files/proftpd.conf
    addr: salt['grains.get']('fqdn_ip6')[0]
    port: 21
    rootpath: /opt/storage
    user: ftp
    group: nogroup
