global
#	log 127.0.0.1 local0 notice
#	log /var/log/haproxy/haproxy.log local0 notice
	log /dev/log local0 warning
	#stats socket /tmp/stats
	maxconn 10000
	#chroot /usr/share/haproxy
	nbproc 1
	user haproxy
	group haproxy
	ulimit-n 65536
	daemon
	#debug
	#quiet
	stats socket /tmp/haproxy-tools

defaults
	log global
	mode http
	option httplog
	option dontlognull
	retries 3
	option redispatch
	option httpclose
	option forwardfor
	maxconn 10000
	contimeout 1000
	clitimeout 50000
	srvtimeout 50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen stats *:1936
    mode http
    stats enable
    stats hide-version
    stats realm Corba\ Statistics
    stats uri /
    stats auth ADMIN:ADMIN

frontend http
bind 127.0.0.1:8081
     maxconn 200000

{% import 'blocks.cfg' as blocks with context %}

#noc-test
{{ blocks.acl('noc-test', 'noc-test.yandex.ru') }}

#yaca.yandex.ru
#api
#legal
#shad
#visual
#literacy
{{ blocks.acl('literacy', 'literacy.yandex.ru') }}
#skype
#safe
{{ blocks.acl('safe', 'safe.yandex.ru') }}
#collection
#shell
#home
#ecir
{{ blocks.acl('ecir', 'www.ecir2013.org') }}
#internet
#business


#noc-test
backend noc-test
 errorfile 503 /var/www/noc-test/ping.html



#visual

{{ blocks.backend(60, 'literacy', 'literacy.yandex.ru', 'ocorba_literacy') }}

{{ blocks.backend(80, 'safe', 'safe.yandex.ru', 'ocorba_safe') }}

#collection

#ecir
{{ blocks.backend(105, 'ecir', 'www.ecir2013.org', 'ocorba_ecir') }}

#internet



