[cert_expires]
execution_interval=300
command=sudo /usr/lib/config-monrun-cert-check/cert_check_extended.sh -h localhost -p 443 -e 30

[cert_issuer]
execution_interval=300
command=sudo /usr/lib/config-monrun-cert-check/cert_check_extended.sh -h localhost -p 443 -i Certum
