[Unit]
Description=Yandex.Cloud API Envoy Accesslog Service
After=network.target

[Service]
ExecStart=/usr/bin/yc-api-als --config /etc/yc/api-als/config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target