[Unit]
Description=wal-g oplog-push
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
KillMode=mixed

User={{ user }}
Group={{ group }}
Restart=always

ExecStart=/bin/bash -c 'exec /usr/bin/wal-g-mongo --config /etc/wal-g/wal-g.yaml oplog-push >>{{ log_dir }}/oplog-push.log 2>&1'

LimitCORE=infinity
LimitNOFILE=500000
Environment="GOMAXPROCS=2"

TimeoutSec=15

[Install]
WantedBy=multi-user.target
