{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>FQDN</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{{ obj.cluster.self_link_c }}</td>
              </tr>
              <tr>
                <th>Tags</th>
                <td>{{ obj.tags|to_html_json }}</td>
              </tr>
              <tr>
                <th>Related links</th>
                <td>{% related_links_onload obj.fqdn %}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">Shipments</label><br>
                {% obj_block_onload obj "shipments" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
