.service-sbs-screenshots-checks-action
{
    width: 100%;
    padding-bottom: 15px;
    font-size: 12px;

    &__cmp
    {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }

    &__cmp-left
    {
        margin-right: 10px;
    }

    &__cmp-right
    {
        margin-left: 10px;
    }

    &__cmp-left,
    &__cmp-right
    {
        width: 100%;
    }

    &__block
    {
        width: 100%;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        margin-bottom: 5px;
    }

    &__block-title
    {
        margin-right: 10px;
        width: 87px;
        flex: 0 0 auto;
    }

    &__block-select
    {
        width: 100%;
    }

    &__general-bottom > .checkbox_size_s
    {
        font-size: 12px;
    }

    &__general-bottom-item
    {
        width: 100%;
        position: relative;
    }

    &__general-bottom-item-clear
    {
        position: absolute;
        right: 10px;
        top: 0;
    }
}
