Source: yandex-media-teamcity-monitoring
Section: misc
Priority: optional
Maintainer: Stepan Ardalin <stepanar@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://wiki.yandex-team.ru/media-admin/icecream/backend/
VCs-Git: git://github.yandex-team.ru/yandex-icecream/backend.git

Package: yandex-media-teamcity-monitoring
Architecture: all
Depends: python3-flask, uwsgi-plugin-python3, nginx, nginx-full, nginx-common
Description: Send teamcity autotest monitoring to juggler
