Source: yandex-media-common-lxd-setip
Section: misc
Priority: extra
Maintainer: Andrey Godin <agodin@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Svn: ssh://git@github.yandex-team.ru/admins/yandex-media-common-lxd-setip

Package: yandex-media-common-lxd-setip
Architecture: all
Depends: yandex-netconfig, lxd-client, hbf-agent-mds-config, yandex-hbf-agent (>= 1.0-3682263) | yandex-hbf-agent-static (>= 1.0-3598349),
 python-pylxd, python-requests-toolbelt
Description: UGLY scripts for set mtn IPv6 address for virtual container LXD
