[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vncserver_init.sh start
ExecStop=/usr/local/bin/vncserver_init.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target