{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Maintenance tasks{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>ID</th>
        <th>Cluster</th>
        <th>Config ID</th>
        <th>Created at</th>
        <th>Plan at</th>
        <th>Status</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link_c }}</td>
        <td>{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
        <td>{{ obj.config_id }}</td>
        <td data-order="{{ obj.create_ts|date:"Uu" }}">{% dt_formatted obj.create_ts %}</td>
        <td data-order="{{ obj.plan_ts|date:"Uu" }}">{% dt_formatted obj.plan_ts %}</td>
        <td>{{ obj.status|default_label }}</td>
        <td>{{ obj.info }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
