{% set repos_common = salt['grains.filter_by']({
  'unstable': {
    'packages': ['yandex-conf-repo-unstable', 'yandex-conf-repo-testing', 'yandex-conf-repo-prestable', 'config-repo-searchkernel-stable'],
    'sources': False,
  },
  'development': {
    'packages': ['yandex-conf-repo-unstable', 'yandex-conf-repo-testing', 'yandex-conf-repo-prestable', 'config-repo-searchkernel-stable'],
    'sources': False,
  },
  'testing': {
    'packages': ['yandex-conf-repo-testing', 'yandex-conf-repo-prestable', 'config-repo-searchkernel-stable'],
    'sources': False,
  },
  'stress': {
    'packages': ['yandex-conf-repo-unstable', 'yandex-conf-repo-testing', 'yandex-conf-repo-prestable', 'config-repo-searchkernel-stable'],
    'sources': False,
  },
  'prestable': {
    'packages': ['yandex-conf-repo-prestable', 'config-repo-searchkernel-stable'],
    'sources': False,
  },
  'production': {
    'packages': ['config-repo-searchkernel-stable'],
    'sources': False,
  },
}, grain='yandex-environment', merge=salt['pillar.get']('repos_common'), default='production') %}

{% set repos_project = salt['grains.filter_by']({
  'Debian': {
    'packages': False,
    'sources': False,
  },
}, merge=salt['pillar.get']('repos_project')) %}

{% set repos = salt['grains.filter_by']({
  'Debian': {
    'packages': False,
    'sources': False,
  },
}, merge=salt['pillar.get']('repos')) %}
