# repos_common берется из map.jinja и зависит от yandex-environment. Его так же можно переопределить через свой pillar repos_common, но не желательно
# repos_project, repos по умолчанию стоят в False. В пилларе можно задать свой список реп. repos_project и repos разделены, на случай, если вам необходимо назначить на весь проект какие-то общие репы и на часть машин в нем какие-то еще дополнительно
repos_common:
  packages:
    - yandex-conf-repo-verstka

repos_project:
  packages:
    - yandex-conf-repo-qa-stable
  sources:
    - extrasubuntu:
      - name: deb http://dist.yandex.ru/extrasubuntu stable/all
    - redisexternal:
      - ppa: chris-lea/redis-server

repos: False

# сложный приmер
repos_project:
  packages:
    - yandex-conf-repo-qa-stable
    - yandex-conf-repo-qable-stable: v0.0.3
  sources:
    - extrasubuntu:
      - name: deb http://dist.yandex.ru/extrasubuntu stable/all
    - yandex-focal:
        - humanname: Yandex Common Focal
        - file: /etc/apt/sources.list.d/yandex-common-focal.list
        - names:
            - deb http://dist.yandex.ru/yandex-focal stable/all/
            - deb http://dist.yandex.ru/yandex-focal stable/$(ARCH)/
