{% load lib.templatetags %}
<div class="col-lg-24">
  {% if data.cluster %}
  <div class="row">
    <div class="noodle-box">
      <h4>Cluster</h4>
    </div>
    <table class="table table-hover noodle-table noodle-table-sortable">
      <thead>
        <tr>
          <th>Cluster</th>
          <th>Name</th>
          <th>Acquire</th>
          <th>Finish</th>
          <th>Pillars</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ data.cluster.cluster.self_link_c }}</td>
            <td>{{ data.cluster.cluster.name }}</td>
            <td>{{ data.cluster.old_rev|to_html_json }}</td>
            <td>{{ data.cluster.new_rev|to_html_json }}</td>
            <td>
              {% for change in data.cluster.pillar_changes %}
                {% pillar_change change "cluster" %}
              {% endfor %}
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if data.subclusters %}
  <div class="row">
    <div class="noodle-box">
      <h4>Subclusters</h4>
    </div>
    <table class="table table-hover noodle-table noodle-table-sortable">
      <thead>
        <tr>
          <th>Subcluster</th>
          <th>Name</th>
          <th>Acquire</th>
          <th>Finish</th>
          <th>Pillars</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data.subclusters %}
          <tr>
            <td>{{ item.subcluster.self_link_c }}</td>
            <td>{{ item.subcluster.name }}</td>
            <td>{{ item.old_rev|to_html_json }}</td>
            <td>{{ item.new_rev|to_html_json }}</td>
            <td>
              {% for change in data.cluster.pillar_changes %}
                {% pillar_change change "subcluster" forloop.counter %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if data.hosts %}
  <div class="row">
    <div class="noodle-box">
      <h4>Hosts</h4>
    </div>
    <table class="table table-hover noodle-table noodle-table-sortable">
      <thead>
        <tr>
          <th>FQDN</th>
          <th>Acquire</th>
          <th>Finish</th>
          <th>Pillars</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data.hosts %}
          <tr>
            <td>{{ item.fqdn }}&nbsp;{% simple_copy item.fqdn %}</td>
            <td>{{ item.old_rev|to_html_json }}</td>
            <td>{{ item.new_rev|to_html_json }}</td>
            <td>
              {% for change in data.cluster.pillar_changes %}
                {% pillar_change change "host" forloop.counter %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% update_tab_badge "acquire_finish_changes" changes_count %}
