{% load lib.templatetags %}
{% if restarts %}
<table class="table noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Restart count</th>
      <th>Worker ID</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Notes</th>
      <th>Result</th>
      <th>Acq/Fin rev</th>
      <th>Changes</th>
      <th>Errors</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in restarts %}
    <tr>
      <td>{{ obj.restart_count }}</td>
      <td>{{ obj.worker_id|default:"&ndash;" }}</td>
      <td data-order="{{ obj.start_ts|date:"Uu" }}">{% dt_formatted obj.start_ts %}</td>
      <td data-order="{{ obj.end_ts|date:"Uu" }}">{% dt_formatted obj.end_ts %}</td>
      <td>{{ obj.notes|default:"&ndash;" }}</td>
      <td>{{ obj.result|bool_label }}</td>
      <td>{{ obj.acquire_rev }}/{{ obj.finish_rev }}</td>
      <td class="noodle-mono noodle-nowrap" style="font-size: 11px !important">
        {% with changes=obj.parsed_changes %}
        {% if changes|length > 20 %}
          {% collapsible "meta/includes/task_restart_changes.html" changes=changes %}
        {% else %}
        {% include "meta/includes/task_restart_changes.html" %}
        {% endif %}
        {% endwith %}
      </td>
      <td>
        {% if obj.errors %}
          {% collapsible "lib/includes/html_json.html" value=obj.errors %}
        {% else %}
          &ndash;
        {% endif %}
      </td>
      <td>
        {% if obj.comment %}
          {% if obj.comment_is_traceback %}
             {% collapsible "lib/includes/html_traceback.html" text="show traceback" close_text="hide traceback" traceback=obj.comment %}
          {% else %}
            {{ obj.comment }}
          {% endif %}
        {% else %}
          &ndash;
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">&ndash;</div>
{% endif %}
{% update_tab_badge "restarts" restarts|length %}
