{% load lib.templatetags %}
{% load deploy.templatetags %}
{% if jobs %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Shipment ID</th>
      <th>Command</th>
      <th>FQDN</th>
      <th>Job ID</th>
      <th>Job Status</th>
      <th>Ext job ID</th>
      <th>Created at</th>
      <th>Last check at</th>
      <th>Failed states</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.command.shipment_command.shipment.self_link }}&nbsp;{% simple_copy job.command.shipment_command.shipment.pk %}</td>
      <td>{% obj_link job.command.shipment_command job.command.shipment_command.type %}</td>
      <td class="noodle-nowrap">{{ job.command.minion.fqdn }}&nbsp;{% simple_copy job.command.minion.fqdn %}</td>
      <td>{{ job.job_id }}</td>
      {% with job_result=job.job_result %}
      <td>{{ job|job_ui_status }}</td>
      <td class="noodle-nowrap">{% obj_link job_result job.ext_job_id %}&nbsp;{% simple_copy job.ext_job_id %} {{ job_result|job_result_ui_status }}</td>
      {% endwith %}
      <td data-order="{{ job.created_at|date:"Uu" }}">{% dt_formatted job.created_at %}</td>
      <td data-order="{{ job.last_running_check_at|date:"Uu" }}">{% dt_formatted job.last_running_check_at %}</td>
      <td>
        {% with failed_states=job.failed_states %}
        {% if failed_states %}
          {{ failed_states|join:", " }}
        {% else %}
          {{ None|dash_if_not }}
        {% endif %}
        {% endwith %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">&ndash;</div>
{% endif %}
{% update_tab_badge "shipments" jobs|length %}
