{
  "id": "<< id_prefix >>-hosts-metric-sum-by-host",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Hosts: Metric by mask sum",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "*"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    },
    {
      "name": "name",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "{{host}}",
      "type": "EXPRESSION",
      "expression": "sum({node=by_host}) by host"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "filterBy": "LAST",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
