{
  "id": "<< id_prefix >>-hosts-cpu-cores-total",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Hosts: CPU usage, [cores] (total)",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
{% if dbm %}
    {
      "name": "service",
      "value": "dom0"
    },
    {
      "name": "cluster",
      "value": "internal-mdb_dom0"
    },
    {
      "name": "cid",
      "value": "*"
    }
{% else %}
    {
      "name": "service",
      "value": "*"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    }
{% endif %}
  ],
  "elements": [
    {
      "title": "total",
      "type": "EXPRESSION",
{% if dbm %}
      "expression": "sum({name='/porto/cpu_usage', host=by_cid_container}) by name"
{% else %}
      "expression": "sum({name='flavor_cpu_limit', node=by_host} * (1 - {name='/System/CPU/idle', node=by_host} / 100)) by name"
{% endif %}
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
