{
  "id": "<< id_prefix >>-host-metric-by-node-stacked",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Node metrics",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "*"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    },
    {
      "name": "name",
      "value": "*"
    },
    {
      "name": "node",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "{{name}}",
      "type": "EXPRESSION",
      "expression": "sum({host=by_node}) by name"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "TOP",
  "filterBy": "LAST",
  "filterLimit": "5",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}