{
  "id": "<< id_prefix >>-hosts-network-sent-bytes-top5",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Hosts: Network data sent, [bytes/s] (top 5)",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
{% if dbm %}
    {
      "name": "service",
      "value": "dom0"
    },
    {
      "name": "cluster",
      "value": "internal-mdb_dom0"
    },
    {
      "name": "cid",
      "value": "*"
    }
{% else %}
    {
      "name": "service",
      "value": "*"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    }
{% endif %}
  ],
  "elements": [
    {
{% if dbm %}
      "title": "{{container}}",
      "type": "EXPRESSION",
      "expression": "{name='/porto/net_tx_bytes', host=by_cid_container}"
{% else %}
      "title": "{{host}}",
      "type": "EXPRESSION",
      "expression": "{name='/System/network/eth0/bytes_sent', node=by_host}"
{% endif %}
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "TOP",
  "filterBy": "LAST",
  "filterLimit": "5",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
