[Unit]
Description=Airflow initialization service

[Service]
ExecStart=/etc/airflow/airflow-init.sh
Environment="AIRFLOW_HOME=/etc/airflow"
User=airflow
Group=airflow
Type=oneshot

[Install]
WantedBy=multi-user.target
