Source: mongodb-consistent-backup
Priority: extra
Section: misc
Maintainer: Stepan Ardalin <stepanar@yandex-team.ru>
Build-Depends: debhelper (>=7.0.50~), python-virtualenv, python2.7, python-dev, libssl-dev, libffi-dev
Standards-Version: 3.9.5

Package: mongodb-consistent-backup
Architecture: amd64
Description: Percona consistent backup tool
