# All identifiers are case insensitive
#

default pass  #  deny/pass, default deny

scheme pass
(
    http
    https
)

expression deny # deny/pass, default deny
                # IE's feature: expression(javascript.code)

import pass    # deny/pass/merge/rewrite
                #   deny                - discard @import clause
                #   pass                - pass @import as is
                #   merge               - download url and include into stylesheet
                #   rewrite 'string'    - replace the url with the string
                #      example: import rewrite 'http://sanitize.yandex.net/?url=$0'
                #               where $0 is original url





