{
  "id": "<< id_prefix >>-metadb-<< db >>-space-used",
  "projectId": "<< project_id >>",
  "name": "<< db_ctx.name >>  space used",
  "description": "",
  "parameters": [
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    },
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    }
  ],
  "elements": [
    {
      "title": "Network NVMe",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/network-nvme"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Network SSD",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/network-ssd"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Network HDD",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/network-hdd"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Local NVMe",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/local-nvme"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Local SSD",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/local-ssd"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Local HDD",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_space_used_<< db >>_cluster/all/local-hdd"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "1.123",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": true,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true,
  "ignoreInf": false
}
