{
  "id": "<< id_prefix >>-metadb-cluster-statuses",
  "projectId": "<< project_id >>",
  "name": "Clusters by status",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    }
  ],
  "elements": [
    {
      "title": "RUNNING",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/RUNNING"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "STOPPED",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/STOPPED"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "CREATE-ERROR",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/CREATE-ERROR"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "MODIFY-ERROR",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/MODIFY-ERROR"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "STOP-ERROR",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/STOP-ERROR"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "DELETE-ERROR",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_clusters_status_all/DELETE-ERROR"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "1.123",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": true,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
