{
  "id": "<< id_prefix >>-metadb-<< db >>-task-statuses",
  "projectId": "<< project_id >>",
  "name": "Tasks by status",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    }
  ],
  "elements": [
    {
      "title": "dbaas_metadb_task_status_<< db >>/failed",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< metadb.get("service") >>\", sensor=\"dbaas_metadb_task_status_<< db >>_*/failed\", host=\"by_node\", node=\"primary\", dc=\"by_node\" })",
      "link": "",
      "stack": "",
      "color": "#ff0000",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "dbaas_metadb_task_status_<< db >>/pending",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< metadb.get("service") >>\", sensor=\"dbaas_metadb_task_status_<< db >>_*/pending\", host=\"by_node\", node=\"primary\", dc=\"by_node\" })",
      "link": "",
      "stack": "",
      "color": "#ffff00",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "dbaas_metadb_task_status_<< db >>/processing",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< metadb.get("service") >>\", sensor=\"dbaas_metadb_task_status_<< db >>_*/processing\", host=\"by_node\", node=\"primary\", dc=\"by_node\" })",
      "link": "",
      "stack": "",
      "color": "#0000cd",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "dbaas_metadb_task_status_<< db >>/succeeded",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< metadb.get("service") >>\", sensor=\"dbaas_metadb_task_status_<< db >>_*/succeeded\", host=\"by_node\", node=\"primary\", dc=\"by_node\" })",
      "link": "",
      "stack": "",
      "color": "#008000",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "dropNans": true,
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "0|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true
}
