{
  "id": "<< id_prefix >>-metadb-failed-tasks-per-db",
  "projectId": "<< project_id >>",
  "name": "Failed tasks by engine",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    }
  ],
  "elements": [
    {% for engine in engines %}
    {
      "title": "<< g.db_ctxs[engine].name >>",
      "type": "EXPRESSION",
      "area": true,
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< metadb.get("service") >>\", name=\"dbaas_metadb_task_status_<< engine >>*/failed\", host=\"by_node\", node=\"primary\", dc=\"by_node\"})",
      "color": "<< g.db_ctxs[engine].color >>",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
    {% if not loop.last %}
    ,  
    {% endif %}
    {% endfor %}
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "NONE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "3",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}
