{
  "id": "<< id_prefix >>-metadb-hosts-by-flavor-type",
  "projectId": "<< project_id >>",
  "name": "Hosts count by flavor type",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    }
  ],
  "elements": [
    {
      "title": "{{sensor}}",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "host",
          "value": "by_node"
        },
        {
          "name": "node",
          "value": "primary"
        },
        {
          "name": "sensor",
          "value": "dbaas_metadb_flavor_hosts_count_*/all/all"
        },
        {
          "name": "dc",
          "value": "by_node"
        },
        {
          "name": "shard",
          "value": "*"
        }
      ],
      "expression": "max({host=by_node, node=primary, dc=by_node, sensor='dbaas_metadb_flavor_hosts_count_*/all/all'}) by sensor",
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "1.123",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": true,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
