{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% load meta.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      <li class="active"><a href="#tab_common" data-toggle="tab">{% cluster_image obj.type %} Common</a></li>
      {% tab_item "revs" %}
      {% tab_item "pillar" %}
      {% tab_item "pillar_revs" %}
      {% tab_item "worker_tasks" %}
      {% tab_item "subclusters" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>CID</th>
                <td>{{ obj.pk }}&nbsp;{% simple_copy obj.pk %}</td>
              </tr>
              <tr>
                <th>Folder</th>
                <td>{{ obj.folder.self_link }}&nbsp;{% simple_copy obj.folder.folder_ext_id %}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ obj.name }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ obj.type|pretty_cluster_type }}</td>
              </tr>
              <tr>
                <th>Environment</th>
                <td>{{ obj.env|upper }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Health</th>
                <td>{% obj_block_onload obj "cluster_health" %}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{% cluster_ui_status obj %}</td>
              </tr>
              <tr>
                <th>Links</th>
                <td>
                  {% with links=obj.links %}
                  {% if not links %}
                    &ndash;
                  {% else %}
                  {% for link in links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>{% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                </td>
              </tr>
              <tr>
                <th>Maintenance window</th>
                <td>
                  {% with maintenance_window=obj.maintenance_window %}
                  {% if not maintenance_window %}&ndash;{% else %}at {{ maintenance_window.hour }} o'clock on {{ maintenance_window.day }}{% endif %}
                  {% endwith %}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-lg-15">
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">Health: hosts</label><br>
                {% obj_block_onload obj "hosts_health" %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-24">
                <br><br>
                <label class="noodle-table-inc-label">Versions</label><br>
                {% obj_block_onload obj "versions" %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-24">
                <br><br>
                <label class="noodle-table-inc-label">Maintenance tasks</label><br>
                {% obj_block_onload obj "maintenance_tasks" %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_revs">
        <div class="row">
          {% obj_block_onload obj "revs" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_pillar">
        <div class="row">
           {% obj_block_onload obj "pillar" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_pillar_revs">
        <div class="row">
           {% obj_block_onload obj "pillar_revs" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_worker_tasks">
        <div class="row">
         {% obj_block_onload obj "worker_tasks" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_subclusters">
        <div class="row">
         {% obj_block_onload obj "subclusters" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
