{% set rsyncd = salt['grains.filter_by']({
    'Debian': {
      'packages': ['rsync', 'yandex-media-common-juggler-rsync-check'],
      'mopts': {},
      'service': 'rsync',
      'config': 'salt://templates/rsyncd/files/etc/rsyncd.conf.tmpl',
      'default_config': 'salt://templates/rsyncd/files/etc/default/rsync',
      'logrotate': 'salt://templates/rsyncd/files/etc/logrotate.d/rsyncd.tmpl',
      'logrotate_name': '/etc/logrotate.d/rsyncd',
      'user': 'root',
      'group': 'root',
      'log': '/var/log/rsync/rsyncd.log',
      'loglevel': '256',
    },
}, merge=salt['pillar.get']('rsyncd:lookup'), default='Debian') %}
