# Remove all comments before use it
# Example for pillar if need to redefine default values and add shares
# At least 1 share in rsyncd:lookup:shares must be defined!
rsyncd:
  lookup:
    packages:
      - rsync
      - yandex-media-common-juggler-rsync-check
    mopts:
      type: {{ salt['grains.get']('conductor:project') }}     # just example, by default this option is empty
    service: rsync
    config: 'salt://templates/rsyncd/files/etc/rsyncd.conf.tmpl'
    default_config: 'salt://templates/rsyncd/files/etc/default/rsync'
    logrotate: 'salt://templates/rsyncd/files/etc/logrotate.d/rsyncd.tmpl'
    logrotate_name: '/etc/logrotate.d/rsyncd'
    user: root
    group: root
    log: '/var/log/rsync/rsyncd.log'
    loglevel: 256
    shares:
      'some share':
      - 'some key': 'some value'
