Source: yandex-timetail
Section: misc
Priority: extra
Maintainer: Roman Andriadi <nARN@yandex-team.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Vcs-Svn: svn+ssh://svn.yandex.ru/admin-tools/trunk/yandex-timetail
Vcs-Browser: https://svn.yandex.ru/websvn/wsvn/admin-tools/trunk/yandex-timetail

Package: yandex-timetail
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, perl, perl-modules, libtimedate-perl, libfile-timesearch-perl (>= 0.1-5)
Description: Utility than can show last N seconds of lines from the tail of timestamped files (e.g. logs)
 svn: https://svn.yandex.ru/admin-tools/trunk/yandex-timetail
