[Unit]
Description=YandexCloud YDB Backup service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/yc-compute-backup-service
ExecStop=/sbin/start-stop-daemon --quiet --stop --retry QUIT/5
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
