.service-sbs-profile
{
    &__title
    {
        display: flex;
        align-items: center;
    }

    &__title-text
    {
        margin-right: 12px;
    }

    &__actions
    {
        display: flex;
        align-items: center;
        height: 25px;
    }

    &__input-new-tag
    {
        margin-right: 10px;
        width: 350px;

        &_error
        {
            & .textinput_theme_normal .textinput__box,
            & .textinput_theme_normal.textinput_hovered_yes .textinput__box,
            & .textinput_theme_normal.textinput_focused_yes .textinput__box,
            & .textinput_theme_normal.textinput_focused_yes.textinput_hovered_yes .textinput__box,
            & .textinput_view_default.textinput_tone_grey.textinput_theme_normal .textinput__box
            {
                border: solid 1px #ff0000;
            }
        }
    }

    &__action-delete
    {
        position: absolute;
        right: 10px;
    }
}
