{
  "id": "<< id_prefix >>-cluster-kafka",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Kafka",
  "description": "TODO: link to doc",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cid",
      "value": "*"
    },
    {
      "name": "service",
      "value": "<< kafka.service >>"
    },
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [boolean]",
          "subtitle": "bottom 10 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-can-read",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [boolean]",
          "subtitle": "bottom 10 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-can-write",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-can-read-by-dc",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-can-write-by-dc",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage, [cores]",
          "subtitle": "total",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-total",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-total",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage, [bytes]",
          "subtitle": "total",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-total",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-total",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network usage, [bytes/s]",
          "subtitle": "total",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-bytes-total",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-network-bytes-total",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [cores]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-cores",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-cpu-cores",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [bytes]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-memory-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network usage per host, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-network-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [%]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-percents",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-cpu-percents",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [%]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-percents",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-memory-percents",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
{% if dbm %}
        ,
        {
          "type": "IFRAME",
          "title": "Network usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
{% endif %}
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "BrokersState, [state]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_server_KafkaServer_BrokerState&l.node=by_host&l.dc=by_host&host=*&graph=auto&stack=false&aggr=last",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Is Alive, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_is_alive&l.node=by_host&l.dc=by_host&host=*&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Leaders, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_LeaderCount&l.node=by_host&l.dc=by_host&host=*&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_PartitionCount&l.node=by_host&l.dc=by_host&host=*&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "title": "Log size",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-log-size-per-host",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "type": "IFRAME",
          "title": "Under replicated partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_UnderReplicatedPartitions&l.node=by_host&l.dc=by_host&host=*&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Under min in-sync replicas partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&l.name=kafka_UnderMinIsrPartitionCount&l.node=by_host&l.dc=by_host&host=*&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "title": "Top-10 under MinIsr Topics, [partitions]",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-under-minsr-partitions",
          "colspan": 1,
          "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
          "title": "MessagesIn per topic",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-messagesin-per-topic",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "BytesIn per topic",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-bytesin-per-topic",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "BytesOut per topic",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-bytesout-per-topic",
          "colspan": 1,
          "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
          "title": "MessagesIn per host",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-messagesin-per-host",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "BytesIn per host",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-bytesin-per-host",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "BytesOut per host",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-bytesout-per-host",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "ReplicationBytesIn per host",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-replicationbytesin-per-host",
          "colspan": 1,
          "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
          "title": "RequestMetrics: Produce",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-produce",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: FetchConsumer",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetchconsumer",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: Fetch",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetch",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: FetchFollower",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetchfollower",
          "colspan": 1,
          "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
          "title": "RequestMetrics: Produce, [ms]",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-produce-ms",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: FetchConsumer, [ms]",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetchconsumer-ms",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: Fetch, [ms]",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetch-ms",
          "colspan": 1,
          "rowspan": 1
        },
        {
          "title": "RequestMetrics: FetchFollower, [ms]",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-kafka-requests-fetchfollower-ms",
          "colspan": 1,
          "rowspan": 1
        }
      ]
    },
    {% include "dashboards/_common/zookeeper" %}
  ],
  "createdBy": "asalimonov"
}
