{
  "id": "<< id_prefix >>-cluster-kafka-old",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Kafka (old)",
  "description": "TODO: link to doc",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "service",
      "value": "<< kafka.service >>"
    },
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Leaders, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&host=*&l.dc=by_host&l.name=kafka_LeaderCount&graph=auto&graph=auto&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&host=*&l.dc=by_host&l.name=kafka_PartitionCount&graph=auto&graph=auto&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Is Alive, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&host=*&l.dc=by_host&l.name=kafka_is_alive&graph=auto&graph=auto&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Under replicated partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&host=*&l.dc=by_host&l.name=kafka_UnderReplicatedPartitions&graph=auto&graph=auto&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Under min in-sync replicas partitions, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service={{service}}&host=*&l.dc=by_host&l.name=kafka_UnderMinIsrPartitionCount&graph=auto&graph=auto&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ],
  "createdBy": "asalimonov"
}
