Source: config-monitoring-cult-dom0
Section: misc
Priority: extra
Maintainer: Zhivotnev Vladislav <inkvizitor68sl@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
#Vcs-Git: git://git.debian.org/collab-maint/config-nginx-jetstyle.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/config-nginx-jetstyle.git;a=summary

Package: config-monitoring-cult-dom0
Architecture: all
Depends: monrun, snaked, juggler-client, config-juggler-client-media, yandex-juggler-dom0-checks, yandex-juggler-autov6here-check, yandex-juggler-conntrackissmall-check, config-monitoring-pkgver, corba-juggler-virtual-meta, config-monitoring-corba-la-check, config-monitoring-common, yandex-juggler-mtu-check, yandex-juggler-1000mbps-check, yandex-juggler-uptime200days-check
Description: Monitoring configuration for cult dom0 hosts

