{% set policies_dir = "/etc/apparmor.d" %}
{% set policies_files_dir = "/etc/apparmor.d/yc" %}
{% set tunables_dir = "/etc/apparmor.d/yc/tunables" %}
{% set abstractions_dir = "/etc/apparmor.d/yc/abstractions" %}
