[Unit]
Description=Yandex Data Proc Agent
After=network.target

[Service]
User=dataproc-agent
Group=dataproc-agent
Environment="GOMAXPROCS=2"
RuntimeDirectory=dataproc-agent
StandardOutput=file:/var/log/yandex/dataproc-agent.log
StandardError=file:/var/log/yandex/dataproc-agent.log
SyslogIdentifier=dataproc-agent
ExecStart=/opt/yandex/dataproc-agent/bin/dataproc-agent --config-path=/opt/yandex/dataproc-agent/etc
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/opt/yandex/dataproc-agent
Restart=always
RestartSec=15s
Type=simple

[Install]
WantedBy=multi-user.target
