{% extends "cbb/blocks_list/base.html" %}
{% load cbb_extras %}
{% block title %} - Список активных блокировок{% endblock %}
{% block name %}Список активных блокировок{% endblock %}

{% block result %}
  <div class="row">
    <div class="col-md-12">
      {% if version and search %}
        <h3>
          Результат поиска
          {% if version == 'txt' %}
            текстовых блокировок по строке
          {% else %}
            IPV{{ version }} блокировок по адресу
          {% endif %}
          {{ search }}
        </h3>
        <br>
      {% endif %}
      {% if output %}
        <table class="table table-striped table-condensed table-bordered">
          <col width="3%">
          {% if version == 'txt' %}
                <col width="20%">
          {% else %}
                <col width="10%">
                <col width="10%">
          {% endif %}
          <col width="12%">
          <col width="12%">
          <col width="24%">
          <col width="12%">
          <thead>
            <tr>
              <th>Группа</th>
              {% if version == 'txt' %}
                <th>Текст</th>
              {% else %}
                <th>Начало</th>
                <th>Конец</th>
              {% endif %}
              <th>Создана</th>
              <th>Создатель</th>
              <th>Причина</th>
              <th>Истекает</th>
            </tr>
          </thead>
          {% for rng in output %}
            <tr>
              <td>{{ rng.group_id }}</td>
              {% if version == 'txt' %}
                <td><a href="{% if cbb_user.can_write %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" %}{% endif %}?rng_txt={{rng.id}}">{{ rng.rng_txt }}</a></td>
              {% else %}
                <td><a href="{% if cbb_user.can_write %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" rng.group_id %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" rng.group_id %}{% endif %}?
rng_start={{rng.get_rng_start}}&
rng_end={{rng.get_rng_end}}">{{ rng.get_rng_start }}</a>
       (<a href="http://h.yandex-team.ru/?https%3A//www.nic.ru/whois/%3FsearchWord%3D{{rng.get_rng_start}}">w</a>)</td>
                <td><a href="{% if cbb_user.can_write %}{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" rng.group_id %}{% else %}{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" rng.group_id %}{% endif %}?
rng_start={{rng.get_rng_start}}&
rng_end={{rng.get_rng_end}}">{{ rng.get_rng_end }}</a>
       (<a href="http://h.yandex-team.ru/?https%3A//www.nic.ru/whois/%3FsearchWord%3D{{rng.get_rng_end}}">w</a>)</td>
              {% endif %}
              <td>{{ rng.created|date:"Y-m-d" }}&nbsp;{{ rng.created|date:"H:i:s" }}</td>
              <td>{{ rng.user }}</td>
              <td>{{ rng.block_descr }}</td>
              <td>{{ rng.expire|date:"Y-m-d" }}&nbsp;{{ rng.expire|date:"H:i:s" }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
