.page
{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    &__body,
    &__sidebar
    {
        box-sizing: border-box;

        display: inline-block;
        vertical-align: top;
    }

    &__body
    {
        display: flex;
        flex: 1 0 auto;
        position: relative;
    }

    &__footer
    {
        flex: 0 0 auto;
    }

    &__sidebar
    {
        width: 200px;
        border-right: 1px solid rgba(0, 0, 0, .06);
    }
}
