{% extends "../../base/alert.j2" %}

{% set windowSecs = 1800 %}

{% block main %}
    "name": "oct cassandra read latency p99.9 (usec) @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "Solomon",
        "host": "{{ svm_fqdn() }}",
        "service": "oct-cassandra-read-latency",
        "check": "https://wiki.yandex-team.ru/cloud/devel/sdn/duty/cassandra-tombstones-accumulation/ and https://st.yandex-team.ru/CLOUD-28343"
    },
    "description": "",
    "type": {
        "threshold": {
            "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}_oct', service='oct_cassandra', keyspace='config_db_uuid', metric='Latency', param='ReadLatency_999thPercentile', node='-'}",
            "timeAggregation": "AVG",
            "predicate": "GT",
            "threshold": 2000000,
            "predicateRules": [
              {
                "thresholdType": "AVG",
                "comparison": "GT",
                "threshold": 2000000,
                "targetStatus": "ALARM"
              }
            ]
        }
    }
{% endblock %}
