{% extends "../../base/alert.j2" %}

{% block main %}
    "name": "oct threads count @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "Solomon",
        "host": "{{ svm_fqdn() }}",
        "service": "oct-threads-count",
        "if-crit": "Go to oct-head, check 'ps -eLf | awk '{print $10}' | sort | uniq -c | sort -rn | head' for top consumers."
    },
    "description": "",
    "type": {
        "threshold": {
            "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}_oct', service='sys', path='/Proc/Threads'}",
            "timeAggregation": "MAX",
            "predicate": "GT",
            "threshold": 2200,
        "predicateRules": [
          {
            "thresholdType": "MAX",
            "comparison": "GT",
            "threshold": 2200,
            "targetStatus": "ALARM"
          }
        ]
      }
    }
{% endblock %}
