{% extends "../../base/alert.j2" %}
{% macro prog() %}
    let cnt = sum(group_lines('sum', {cluster="cloud_{{ env }}_compute", service="vpc-node", sensor="grpc_server_response_total", grpc_service="yandex.cloud.priv.vpc.v1.node.*", grpc_code!="OK"}));
    ok_if(cnt == 0);

    let is_red = cnt > 0;
    let trafficColor = is_red ? 'red' : 'green';
    let description = 'GRPC server errors (Canceled, DeadlineExceeded etc.)';
    alarm_if(is_red);
{% endmacro %}

{% block main %}
    "name": "vpc-node grpc server errors @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "Solomon",
        "host": "{{ compute_node_fqdn() }}",
        "service": "vpc-node-grpc-server-errors",
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
