{% extends "../../base/alert.j2" %}
{% macro prog() %}
    let value = sum(histogram_count(10, inf(), 'bin', {cluster='cloud_{{ env }}_compute',  service="vpc-node", sensor="message_handle_duration_seconds"}));

    let description = 'vpc-node has actor requests longer than 10s: ' + value;
    let is_red = value > 0;
    let trafficColor = is_red ? 'red' : 'green';
    alarm_if(is_red);
{% endmacro %}

{% block main %}
    "name": "vpc-node long actor requests @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "Solomon",
        "host": "{{ compute_node_fqdn() }}",
        "service": "vpc-node-long-actor-requests",
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
