{% extends "../../base/alert.j2" %}

{% macro prog() %}
let avg_new_fps = avg({
  project='{{ project_id }}',
  cluster='cloud_{{ env }}_compute',
  service='oct_vrouter',
  metric='flow_created_per_second',
  metric_group='FlowStats'
});
let is_red = avg_new_fps > 15000;
let is_yellow = avg_new_fps > 10000;
let trafficColor = is_red ? 'red' : (is_yellow ? 'yellow' : 'green');
{% endmacro %}


{% block main %}
    "name": "vrouter flows-created-per-second @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "host": "{{ compute_node_fqdn() }}",
        "tags": "Solomon",
        "avg_new_flows_created_per_second": "[[expression.avg_new_fps]]",
        "trafficLight.color": "[[expression.trafficColor]]",
        "dashboard": "{{ compute_node_network_metrics_url() }}",
        "service": "vrouter-flows-created-per-second",
        "description": "https://nda.ya.ru/3UZqrb"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
