{% extends "../../base/alert.j2" %}

{% set delaySecs = 30 %}

{% macro prog() %}
let sum = sum({
   project='{{ project_id }}',
   cluster='cloud_{{ env }}_compute',
   service='oct_vrouter',
   host='*',
   metric_group='DnsInfo',
   metric='dns_requests_per_second'
});
let is_red = sum >= 5000;
{% endmacro %}


{% block main %}
    "name": "vrouter dns-requests-count @ {{ env }}",
    "groupByLabels": ["host"],
    "annotations": {
        "host": "{{ compute_node_fqdn() }}",
        "tags": "Solomon",
        "requests": "[[expression.sum]]",
        "service": "dns-requests-count",
        "description": "See {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=compute_node_dns_{{ env }}"
    },
    "description": "See {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=compute_node_dns_{{ env }}",
    
    "type": {{ type_expression() }}
{% endblock %}
