#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-weather-memcache/
	rm -fr debian/config-weather-memcache/*

	mkdir -p debian/config-weather-memcache/etc/
	cp -r etc/* debian/config-weather-memcache/etc/

%:
	dh $@

