<div class="message">No search engine detected.</div>
<div class="revision"><a href="javascript:TINY.box.show({iframe: 'version.py', width: 700, height: 500})">SEInfo Revision: $REVISION</a></div>
<div class="reportBugs"><a href="$MAILHREF">Report an Error</a></div>
