{
  "id": "<< id_prefix >>-health-<< db >>-clusters-<< health_status >>",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-health-<< db >>-clusters-<< health_status >>",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< health.get("service") >>"
    },
    {
      "name": "cluster",
      "value": "<< health.get("cluster") >>"
    }
  ],
  "elements": [
    {
      "title": "<< health_status_val >>",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {name=\"mdb_health_clusters_<< db >>_health_*_<< health_status >>_ammv\", node=\"master\", host=\"by_node\"}) + group_lines('sum', {name=\"mdb_health_sla_clusters_<< db >>_health_*_<< health_status >>_ammv\", node=\"master\", host=\"by_node\"})",
      "area": true,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "3",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}
