{
  "id": "<< id_prefix >>-health-<< sharded_db >>-ha-shards-dt-pie",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-health-<< sharded_db >>-ha-shards-dt-pie",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< health.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< health.get("service") >>"
    }
  ],
  "elements": [
    {
      "title": "Unavailable",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< health.get("service") >>\", name=\"mdb_health_sla_shards_<< sharded_db >>_rw_*_dbtotal_ammv\", node=\"master\", dc=\"by_node\"})\n - \n group_lines('sum',{service=\"<< health.get("service") >>\", name=\"mdb_health_sla_shards_<< sharded_db >>_rw_*_dbread_ammv\", node=\"master\", dc=\"by_node\"}) - group_lines('sum', {service=\"<< health.get("service") >>\", name=\"mdb_health_sla_shards_<< sharded_db >>_rw_*_dbbroken_ammv\", node=\"master\", dc=\"by_node\"})",
      "stack": "",
      "color": "red",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "Available",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum',{service=\"<< health.get("service") >>\", name=\"mdb_health_sla_shards_<< sharded_db >>_rw_*_dbread_ammv\", node=\"master\", node=\"master\", dc=\"by_node\"})",
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "PIE",
  "secondaryGraphMode": "NONE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "aggr": "SUM",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "50,90,99",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "3",
  "transform": "NONE",
  "movingWindow": "5m",
  "movingPercentile": "80",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}
