{% extends "cbb/index.html" %}
{% load static %}
{% block title %} - Добавление блокировки{% endblock %}
{% block script %}
  <script src="{% static "cbb/js/antiddos.js" %}?v=2" type="text/javascript"></script>
{% endblock %}
{% block name %}Добавить новую блокировку{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h4>Группа {{ group.id }} - {{ group.group_descr }}</h4>
    </div>
  </div>
  <form class="form-horizontal" method="post" action='add_range'>
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger">
      {{ error }}
      <ul>
        {% for err in error_list %}
        <li>{{ err }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if group.default_type == '0' or group.default_type == '1' %}
      <div class="form-group {% if form.errors.rng_end or form.errors.rng_start %} has-error {% endif %}">
        <label class="col-sm-2 control-label">IP-блокировка</label>
        <div class="col-sm-9">
          <div class="input-group">
            {{form.rng_start}}
            <span class="input-group-addon">-</span>
            {{form.rng_end}}
          </div>
        </div>
        {% if form.errors.rng_end or form.errors.rng_start %}
          <div class="help-block">{{ form.errors.rng_start }} {{ form.errors.rng_end }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% if group.default_type == '2' %}
      <div class="form-group {% if form.errors.net_mask or form.errors.net_ip %} has-error {% endif %}">
        <label class="col-sm-2 control-label">Сеть</label>
        <div class="col-sm-9">
          <div class="input-group">
            {{ form.net_ip }}
            <span class="input-group-addon">/</span>
            {{ form.net_mask }}
          </div>
        </div>
        {% if form.errors.net_mask or form.errors.net_ip %}
          <div class="help-block">{{ form.errors.net_ip }} {{ form.errors.net_mask }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% if group.default_type == '3' %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Текстовая блокировка</label>
        <div class="col-sm-9">
          {{ form.rng_txt }}
          <spam id="ddos-check-result" class="small"></spam>
        </div>
      </div>
    {% elif group.default_type == '4' %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Регулярки</label>
        <div class="col-sm-9">
          {{ form.rng_re }}
          <spam id="ddos-check-result" class="small"></spam>
        </div>
      </div>
    {% else %}
      <div class="form-group {% if form.errors.rng_list %} has-error {% endif %}">
      <label class="col-sm-2 control-label">Групповое добавление</label>
        <div class="col-sm-9">
          {{ form.rng_list }}
        </div>
        {% if form.errors.rng_list %}
          <div class="help-block">{{ form.errors.rng_list }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% if group.default_type == '1' or group.default_type == '3' or group.default_type == '4' %}
    <div class="form-group {% if form.errors.expire %} has-error {% endif %}">
      <label class="col-sm-2 control-label">Время протухания</label>
      <div class="col-sm-9">
        {{ form.expire }}
      </div>
      {% if form.errors.expire %}
        <div class="help-block">{{ form.errors.expire }}</div>
      {% endif %}
    </div>
    {% endif %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Причина блокировки</label>
      <div class="col-sm-9">
        {{ form.block_descr }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" value="Добавить" id="submit"/>
        {% if group.default_type == '3' %}
        <input class="btn btn-default" value="Проверить" id="check" onClick="check_antiddos()" />
        {% endif %}
        <input class="btn btn-default" type="reset" value="Отменить" />
      </div>
    </div>
  </form>
  {% if group.default_type == '3' %}
  <hr/>
  <div class="row" id="hint-row-1" style="margin-bottom: 1em;">
    <div class="col-sm-3">
      <p><a href="https://yql.yandex-team.ru/Operations/X0UYLRpqv9makO1xEDORkLC0Ax94f4HbmnG0u7pgeyg=" class="btn btn-default">Выгрузить запросы с помощью YQL</a></p>
    </div>
    <div class="col-sm-3">
      <div class="btn btn-default" onClick="get_random_requests()">Подгрузить случайные запросы</div>
    </div>
    <div class="col-sm-2">
      <span id="yt_loading"></span>
      <select class="form-control" id="service_type" style="display: none"><option>Выберите сервис</option></select>
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="request_num" style="display: none"><option>Выберите запрос</option></select>
    </div>
  </div>
  <div class="row" id="hint-row-2">
    <div class="col-sm-12">

      <textarea class="form-control rounded-0" id="ddos-check-request" rows="15">
      </textarea>
    </div>
  </div>
  {% endif %}
  <script type="text/javascript">
    $('#id_expire_0').datepicker({format: "yyyy-mm-dd"});
  </script>
{% endblock %}

