{% extends "cbb/index.html" %}
{% block title %} - Блокировка{% endblock %}
{# {% block name %}Редактирование блокировки{% endblock %} #}

{% block content %}
  <div class="form-horizontal">
      <a href="{% url "antirobot.cbb.cbb_django.cbb:admin.view_group_blocks" rng.group_id %}">К списку блокировок</a>
    <div class="form-group">
      <label class="col-sm-2 control-label">Блокировка</label>
      <div class="col-sm-4">
        <p class="form-control-static">
          {% if group.default_type == "3" %}
            {{ rng.rng_txt }}
          {% elif group.default_type == "4" %}
            {{ rng.rng_re }}
          {% elif group.default_type == "0" or group.default_type == "1" %}
            {{ rng.get_full_range }}
          {% elif group.default_type == "2" %}
            {{ rng.get_net }} (то есть {{ rng.get_full_range }})
          {% endif %}
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Группа</label>
      <div class="col-sm-10">
        <p class="form-control-static">
          {{rng.group_id}} - {{group.group_descr}}
        </p>
      </div>
    </div>
    {% if rng.created %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Дата создания</label>
        <div class="col-sm-4">
          <p class="form-control-static">
            {{ rng.created|date:"Y-m-d H:i:s" }}
          </p>
        </div>
      </div>
    {% endif %}
    {% if rng.user %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Создатель</label>
        <div class="col-sm-4">
          <p class="form-control-static">
            {{ rng.user }}
          </p>
        </div>
      </div>
    {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Причина блокировки</label>
    {% if rng.block_descr %}
        <div class="col-sm-4">
          <p class="form-control-static">
            {{ rng.block_descr }}
          </p>
        </div>
    {% endif %}
      </div>
    {% if rng.expire %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Истекает</label>
        <div class="col-sm-4">
          <p class="form-control-static">
            {{ rng.expire|date:"Y-m-d H:i:s" }}
          </p>
        </div>
      </div>
    {% endif %}
  </div>

  {% block form %}
  {% endblock form %}
{% endblock content %}
