{% extends "cbb/range/base_range.html" %}

{% block name %}Редактирование блокировки{% endblock %}

{% block form %}

{% if group.default_type == "3" %}
  <hr>
  <a href="{% url "antirobot.cbb.cbb_django.cbb:admin.view_range" %}?rng_txt={{rng.id}}">К истории</a>
{% endif %}

<form class="form-horizontal" method="post" action={% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" rng.group_id %}>
  {% csrf_token %}
  {{ form.ip_version }}
  {{ form.rng_start }}
  {{ form.rng_end }}
  {{ form.rng_txt }}
  {{ form.rng_re }}
  {{ form_ex.group_id }}
  <div class="form-group {% if form.errors.group_descr %} has-error {% endif %}">
    <label class="col-sm-2 control-label">Причина удаления</label>
    <div class="col-sm-4">
      {{ form.operation_descr }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-warning" name="del_bl" value="">Удалить блокировку</button>
    </div>
  </div>
    
  {% if group.default_type == "3" %}
  <div class="form-group {% if form.errors.group_descr %} has-error {% endif %}">
    <label class="col-sm-2 control-label">Группа перемещения</label>
    <div class="col-sm-9">
      {{ form.new_group }}
    </div>
  </div>
  <div class="form-group {% if form.errors.group_descr %} has-error {% endif %}">
    <label class="col-sm-2 control-label">Выбор бина</label>
    <div class="col-sm-4">
      {% if is_god %}
        {{ form.exp_bin }}
      {% else %}
        {{ form.exp_bin_for_services }}
      {% endif %}
    </div>
  </div>
  <div class="form-group {% if form.errors.group_descr %} has-error {% endif %}">
    <label class="col-sm-2 control-label">Новое время истечения</label>
    <div class="col-sm-4">
      {{ form.new_expire }}
    </div>
  </div>
  <div class="form-group {% if form.errors.group_descr %} has-error {% endif %}">
    <label class="col-sm-2 control-label">Причина перемещения</label>
    <div class="col-sm-4">
      {{ form.move_descr }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-warning" name="mov_bl" value="">Переместить блокировку</button>
      <button type="submit" class="btn btn-warning" name="copy_bl" value="">Скопировать блокировку</button>
    </div>
  </div>
  {% endif %}
</form>
{% endblock form %}
