{% extends "cbb/range/base_range.html" %}

{% block name %}История перемещений блокировки{% endblock %}

{% block form %}

  {% if group.default_type == "3" %}
    <hr>
    {% if editable %}
      <a href="{% url "antirobot.cbb.cbb_django.cbb:admin.edit_range" %}?rng_txt={{rng.id}}">К редактированию</a>
    {% endif %}

    {% if history %}
      <table class="table table-condensed table-bordered">
        <caption><h5 align="left"><span style="color: gray;" align="left">История перемещений</span></h5></caption>
        <col width="15%">
        <col width="20%">
        <col width="25%">
        <col width="20%">
        <col width="20%">
        <thead>
          <tr style="background-color: lightgray">
            <th>Снята</th>
            <th>Кто разблокировал</th>
            <th>Причина разблокировки</th>
            <th>Предыдущая группа</th>
            <th>Новая группа</th>
          </tr>
        </thead>
        <tbody>
          {% for block in history %}
            <tr>
              <td>{{ block.unblocked_at|date:"Y-m-d" }}&nbsp;{{ block.unblocked_at|date:"H:i:s" }}</td>
              <td>{{ block.unblocked_by}}</td>
              <td>{{ block.unblock_description}}</td>
              <td>
                {{ block.group_id}}
                {% if block.current_bin != null %}
                  / бин
                  {{ block.current_bin }}
                {% endif %}
              </td>
              <td>
                {% if block.new_group_id %}
                  {{ block.new_group_id }}
                  {% if block.new_bin != null %}
                    / бин
                    {{ block.new_bin }}
                  {% endif %}
                {% else %}<span style="color: green">неактивна</span>{% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p><b>История перемещений пуста</b></p>
    {% endif %}
  {% endif %}
{% endblock form %}