{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"read syscall",
		"group_by_labels({'name'='procfs_io_syscall_read', 'host'='[[host]]'}, 'host', v -> diff(group_lines('sum', v)))",
		color="#42f575",
	)
}},
{{
	render_element(
		"write syscall",
		"group_by_labels({'name'='procfs_io_syscall_write', 'host'='[[host]]'}, 'host', v -> diff(group_lines('sum', v)))",
		color="#ffa321",
	)
}}
{% endblock %}
