{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"runtime lag, ms",
		"moving_avg(group_by_labels({'name'='reader_lag_runtime_ms', 'host'='[[host]]'}, 'host', v -> group_lines('avg', v)), 1m)",
		color="#51db67",
		area="true",
	)
}},
{{
	render_element(
		"sync lag, ms",
		"moving_avg(group_by_labels({'name'='reader_lag_sync_ms', 'host'='[[host]]'}, 'host', v -> group_lines('avg', v)), 1m)",
		color="#afedb9",
		area="true",
	)
}}
{% endblock %}
