{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{% for pair in [(50,"#ffaf94"), (75,"#ff7b4f"), (95, "#ff4000")] %}
{% set p = "{}".format(pair[0]) %}
{{
	render_element(
		"contention time p" + p + ", usec",
		"moving_avg(group_by_labels({name='pushclient_contention_time_us', host='[[host]]'}, 'host', v -> histogram_percentile(" + p + ", 'bin', v)), 1m)",
		color=pair[1],
		area="true",
	)
}}{{ "," if not loop.last else "" }}
{% endfor %}
{% endblock %}
