{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"open files",
		"group_by_labels({'name'='procfs_fd_count', 'host'='[[host]]'}, 'host', v -> group_lines('sum', v))",
		color="#23a149",
	)
}},
{{
	render_element(
		"limit",
		"group_by_labels({'name'='procfs_limits_max_open_files', 'host'='[[host]]'}, 'host', v -> group_lines('sum', v))",
		area="true",
		color="#ccdbd1",
	)
}}
{% endblock %}
