{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"resident set size",
		"group_by_labels({'name'='procfs_stat_rss', 'host'='[[host]]'}, 'host', v -> group_lines('sum', v))",
		color="#51db67",
	)
}},
{{
	render_element(
		"virtual set size",
		"group_by_labels({'name'='procfs_stat_vss', 'host'='[[host]]'}, 'host', v -> group_lines('sum', v))",
		color="#e4e5f0",
		yaxis="RIGHT",
	)
}}
{% endblock %}
