{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block elements %}
{% for pair in [(50,"#ffcfa8"), (75,"#ffa459"), (95, "#ff8f33")] %}
{% set p = "{}".format(pair[0]) %}
{{
	render_element(
		"marshal latency p" + p + ", usec",
		"moving_avg(group_by_labels({name='reader_marshal_latency_usec', host='[[host]]'}, 'host', v -> histogram_percentile(" + p + ", 'bin', v)), 1m)",
		color=pair[1],
		area="true",
	)
}},
{% endfor %}
{{
	render_element(
		"marshal count",
		"asap(diff(group_lines('sum', {name='reader_marshal_count'})))",
		color="#d4d4d4",
		yaxis="RIGHT",
	)
}}
{% endblock %}
