{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "juggler-events"
},
{
	"name": "host",
	"value": "*"
},
{
	"name": "metric",
	"value": "oom-count"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"OOM count",
		"group_lines('sum', {metric='oom-count', process='*'})",
		area="true",
	)
}}
{% endblock %}
