{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl"
},
{
	"name": "host",
	"value": "lb-ctrl*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[host]] -> [[node_id]]",
		"group_by_labels({name='lb_ctrl_stream_forwarding_send_success', node_id='*', host='[[host]]'}, as_vector('host', 'node_id'), v -> diff(group_lines('sum', v)))",
		stack="true",
		area="true",
	)
}}
{% endblock %}
