{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl"
},
{
	"name": "host",
	"value": "lb-ctrl*"
}
{% endblock %}

{% block elements %}
{% for bin in [50, 75, 95, 99] %}
{% set n = "{}".format(bin) %}
{{
	render_element(
		"pct " + n + ", ms",
		"moving_avg(histogram_percentile(" + n + ", 'bin', group_by_labels({name='node_watcher_rules_sync_duration_ms', host='[[host]]'}, 'bin', v -> group_lines('sum', v))), 5m)",
	)
}}{{ "," if not loop.last else "" }}
{% endfor %}
{% endblock %}
