{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl|healthcheck_ctrl"
},
{
	"name": "name",
	"value": "ydb_*"
},
{
	"name": "host",
	"value": "lb-ctrl*|hc-ctrl*"
},
{
	"name": "dc",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"50",
		"histogram_percentile(50, 'bin', group_by_labels({name='[[name]]', host='[[host]]', dc='[[dc]]'}, 'bin', v -> group_lines('sum', v))) / 1000"
	)
}},
{{
	render_element(
		"75",
		"histogram_percentile(75, 'bin', group_by_labels({name='[[name]]', host='[[host]]', dc='[[dc]]'}, 'bin', v -> group_lines('sum', v))) / 1000"
	)
}},
{{
	render_element(
		"90",
		"histogram_percentile(90, 'bin', group_by_labels({name='[[name]]', host='[[host]]', dc='[[dc]]'}, 'bin', v -> group_lines('sum', v))) / 1000"
	)
}},
{{
	render_element(
		"99",
		"histogram_percentile(99, 'bin', group_by_labels({name='[[name]]', host='[[host]]', dc='[[dc]]'}, 'bin', v -> group_lines('sum', v))) / 1000"
	)
}},
{{
	render_element(
		"qps",
		"group_lines('sum', group_by_labels({name='[[name]]', host='[[host]]', dc='[[dc]]', bin='*'}, 'bin', v -> group_lines('sum', v)))",
		yaxis="RIGHT"
	)
}}
{% endblock %}
