{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl|healthcheck_ctrl"
},
{
	"name": "name",
	"value": "ydb_*"
},
{
	"name": "host",
	"value": "lb-ctrl*|hc-ctrl*"
},
{
	"name": "dc",
	"value": "*"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[name]] 99p",
		"group_by_labels({name='[[name]]', host='[[host]]',dc='[[dc]]', bin='*'}, 'name', v -> histogram_percentile(99, 'bin', v)) / 1000"
	)
}}
{% endblock %}
