{% extends "../../base/graph.j2" %}

{% set aggr = "SUM" %}
{% set secondary_graph_mode = "PIE" %}
{% set downsampling_func = "SUM" %}
{% set downsampling = "BY_INTERVAL" %}
{% set scale = "LOG" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_head*"
},
{
	"name": "service",
	"value": "internals"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"",
		expression="group_by_labels({host!=cluster, path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_count'}, 'status_code', v -> group_lines('sum', v))",
	)
}}
{% endblock %}
