{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"health stream error",
		"diff(group_lines('sum', {name='lb_ctrl_health_subscriber_stream_health_fail'}))",
		color="red",
		area="true",
	)
}},
{{
	render_element(
		"health stream event",
		"diff(group_lines('sum', {name='lb_ctrl_health_subscriber_stream_health_success'}))",
		color="blue",
		area="true",
	)
}}
{% endblock %}
