{% extends "../../base/graph.j2" %}

{% set max = "280" %}
{% set description = "VPP CPU Load max 255 VLIB_FRAME_SIZE" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "host",
	"value": "loadbalancer-node*|*lb-node*"
},
{
	"name": "service",
	"value": "vsop"
},
{
	"name": "vpp-resource",
	"value": "cpu"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[host]] cpu load",
		expression="group_by_labels({name='vpp-internal-vectors', host='[[host]]', thread='-'}, 'host', v -> group_lines('sum', v)) / group_by_labels({name='vpp-internal-calls', host='[[host]]'}, 'host', v -> group_lines('sum', v))",
	)
}}
{% endblock %}
