{% extends "../../base/graph.j2" %}

{% set number_format = "3|G" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "healthcheck_ctrl|healthcheck_ctrl_proxy|healthcheck_node|loadbalancer_ctrl|loadbalancer_node"
},
{
  "name": "env",
  "value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[host]] sys mem",
		selectors=[
			("host", "!cluster"),
			("name", "sys_alloc_mem"),
		],
		area="true",
		stack="stack1",
		link="none",
	)
}},
{{
	render_element(
		"[[host]] heap mem",
		selectors=[
			("host", "!cluster"),
			("name", "alloc_mem"),
		],
		stack="stack1",
		link="none",
	)
}},
{{
	render_element(
		"[[host]] goroutines",
		selectors=[
			("host", "!cluster"),
			("name", "goroutines"),
		],
		yaxis="RIGHT",
		link="none",
	)
}}
{% endblock %}
