{% extends "../../base/graph.j2" %}

{% set downsampling_func = "SUM" %}
{% set graph_mode = "PIE" %}
{% set aggr = "SUM" %}
{% set downsampling = "BY_INTERVAL" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_head*"
},
{
	"name": "service",
	"value": "internals"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[status_code]]",
		expression="group_by_labels({path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_count', status_code!='200'}, 'status_code', v -> group_lines('sum', v))",
	)
}}
{% endblock %}
