{% extends "../../base/graph.j2" %}

{% set downsampling_func = "LAST" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "env",
	"value": "{{ env }}"
},
{
	"name": "service",
	"value": "billbro"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"[[dc]]",
		expression="non_negative_derivative({name='vip_packets', host='cluster', balancer_id='all', ip='all', folder_id='all'})",
		area="true",
	)
}}
{% endblock %}
