{% extends "../../base/graph.j2" %}

{% set downsampling_func = "SUM" %}
{% set aggr = "SUM" %}
{% set downsampling = "BY_INTERVAL" %}
{% set graph_mode = "PIE" %}
{% set secondary_graph_mode = "BARS" %}


{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_head*"
},
{
	"name": "service",
	"value": "internals"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"500/Fail",
		expression="group_lines('sum', {host!=cluster, path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_count', status_code='500'})",
	)
}},
{{
	render_element(
		"200/Success",
		expression="group_lines('sum', {host!=cluster, path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_count', status_code='200'})",
	)
}}
{% endblock %}
