{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_node"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"99",
		expression="histogram_percentile(99, 'bin', group_by_labels({name='gobgp_*_timings', host='cluster'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"90",
		expression="histogram_percentile(90, 'bin', group_by_labels({name='gobgp_*_timings', host='cluster'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"75",
		expression="histogram_percentile(75, 'bin', group_by_labels({name='gobgp_*_timings', host='cluster'}, 'bin', v -> group_lines('sum', v)))",
	)
}},
{{
	render_element(
		"50",
		expression="histogram_percentile(50, 'bin', group_by_labels({name='gobgp_*_timings', host='cluster'}, 'bin', v -> group_lines('sum', v)))",
	)
}}
{% endblock %}
