{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl|healthcheck_ctrl"
},
{
	"name": "host",
	"value": "lb-ctrl*|hc-ctrl*"
},
{
	"name": "dc",
	"value": "*"
},
{
	"name": "tx_isolation",
	"value": "serializable|read_commited"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"retries",
		"group_lines('sum', {name='ydb_tx_retries'})",
		area="true",
	)
}}
{% endblock %}
