{% extends "../../base/graph.j2" %}

{% set number_format = "3|K" %}

{% block parameters %}
{
    "name": "cluster",
    "value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "healthcheck_ctrl|healthcheck_node|loadbalancer_ctrl|loadbalancer_node"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"GC ns",
		expression="group_lines('sum', {name='gc_pauses_ns'}) / 1000000",
	)
}},
{{
	render_element(
		"GC cycles",
		expression="group_lines('sum', {name='gcCycles'})",
		yaxis="RIGHT",
	)
}}
{% endblock %}
