{% extends "../../base/graph.j2" %}

{% set stack = "false" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "healthcheck_node"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"99",
		expression="histogram_percentile(99, 'bin', {name='check_duration', host='cluster'}) / 1000",
	)
}},
{{
	render_element(
		"90",
		expression="histogram_percentile(90, 'bin', {name='check_duration', host='cluster'}) / 1000",
	)
}},
{{
	render_element(
		"75",
		expression="histogram_percentile(75, 'bin', {name='check_duration', host='cluster'}) / 1000",
	)
}},
{{
	render_element(
		"50",
		expression="histogram_percentile(50, 'bin', {name='check_duration', host='cluster'}) / 1000",
	)
}},
{{
	render_element(
		"Timeouts perc",
		expression="non_negative_derivative(group_by_labels({name='check_timeouts', host='cluster', dc='*'}, 'name', v -> group_lines('sum', v)))/non_negative_derivative(group_by_labels({name='checks', host='cluster', dc='*'}, 'name', v -> group_lines('sum', v)))*100",
		yaxis="RIGHT",
	)
}}
{% endblock %}
