{% extends "../../base/graph.j2" %}

{% set downsampling_func = "SUM" %}
{% set secondary_graph_mode = "PIE" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_head*"
},
{
	"name": "service",
	"value": "internals"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"Failed operations",
		expression="group_lines('sum', {host!=cluster,metric=task_failed,type='*balancer*|*target-group*',service_name=compute_worker})",
	)
}},
{{
	render_element(
		"Completed operations",
		expression="group_lines('sum', {host!=cluster,metric=task_completed,type='*balancer*|*target-group*',service_name=compute_worker})",
	)
}}
{% endblock %}
