{% extends "../../base/graph.j2" %}

{% set secondary_graph_mode = "PIE" %}
{% set stack = "false" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_head*"
},
{
	"name": "service",
	"value": "internals"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"99",
		expression="histogram_percentile(99, 'bucket', group_by_labels({host!=cluster,path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_latency'}, 'bucket', v -> group_lines('sum', v))) / 1000",
	)
}},
{{
	render_element(
		"90",
		expression="histogram_percentile(90, 'bucket', group_by_labels({host!=cluster,path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_latency'}, 'bucket', v -> group_lines('sum', v))) / 1000",
	)
}},
{{
	render_element(
		"75",
		expression="histogram_percentile(75, 'bucket', group_by_labels({host!=cluster,path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_latency'}, 'bucket', v -> group_lines('sum', v))) / 1000",
	)
}},
{{
	render_element(
		"50",
		expression="histogram_percentile(50, 'bucket', group_by_labels({host!=cluster,path='external/*/networkLoadBalancers*|external/*/targetGroups*', metric='api_request_latency'}, 'bucket', v -> group_lines('sum', v))) / 1000",
	)
}}
{% endblock %}
