{% extends "../../base/graph.j2" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_node"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"",
		expression="group_by_labels({name='vpp_*', host!='cluster', state='-'}, as_vector('name', 'host'), v -> group_lines('sum', v))",
	)
}}
{% endblock %}
