{% extends "../../base/graph.j2" %}

{% set description = "Lb-ctrl rules event" %}
{% set aggr = "SUM" %}
{% set secondary_graph_mode = "PIE" %}

{% block parameters %}
{
	"name": "cluster",
	"value": "cloud_{{ env }}_ylb"
},
{
	"name": "service",
	"value": "loadbalancer_ctrl"
},
{
	"name": "env",
	"value": "{{ env }}"
}
{% endblock %}

{% block elements %}
{{
	render_element(
		"Disable nodes",
		selectors=[
			("host", "!cluster"),
			("name", "node_watcher_rules_event_disable"),
			],
		link="none",
		)
}},
{{
	render_element(
		"Enable nodes",
		selectors=[
			("host", "!cluster"),
			("name", "node_watcher_rules_event_enable"),
			],
		link="none",
		)
}},
{{
	render_element(
		"Remove nodes",
		selectors=[
			("host", "!cluster"),
			("name", "node_watcher_rules_event_remove"),
			],
		link="none",
		)
}}
{% endblock %}
