{% extends "../../base/alert.j2" %}

{% macro svm_fqdn() -%}
	[[labels.host]].{{ svm_domains[env] }}
{%- endmacro %}

{% macro prog() %}
let errors = series_sum(non_negative_derivative({
	cluster='cloud_{{ env }}_ylb',
	service='{{ service }}',
	host!='cluster',
	name='grpc_restricted',
	env='{{ env }}'
	} + constant_line(0, 5m)));

let description = 'The controller operates in restricted mode';
let is_red = max(errors) > 0;
alarm_if(is_red);
{% endmacro %}

{% block main %}
	"id": "{{ id }}",
	"name": "{{ name }}",
	"description": "",
	"groupByLabels": ["host"],
	"annotations": {
		"details": "[[expression.description]]",
		"host": "{{ svm_fqdn() }}",
		"service": "{{ serviceName }}{{ service_suffix }}",
		"wiki": "https://docs.yandex-team.ru/yc-monitoring/cgw/grpc-restricted"
	},
	"type": {{ type_expression() }}
{% endblock %}
