{% extends "../../base/alert.j2" %}

{% macro svm_fqdn() -%}
	[[labels.host]].{{ svm_domains[env] }}
{%- endmacro %}

{% macro prog() %}
let successes = non_negative_derivative({
	cluster='cloud_{{ env }}_ylb',
	service='healthcheck_ctrl',
	host!='cluster',
	name='target_poller_success',
	env='{{ env }}'
} + constant_line(0, 5m));

let fails = group_lines('sum', non_negative_derivative({
	cluster='cloud_{{ env }}_ylb',
	service='healthcheck_ctrl',
	host!='cluster',
	name='target_poller_fail',
	env='{{ env }}'
} + constant_line(0, 5m)));

let rps = successes + fails;
let fail_perc = 100.0 * (avg(rps) == 0 ? 0 : avg(fails) / avg(rps));
let description = 'hc-ctrl polling fail rate: ' + fail_perc + '%';

let is_red = fail_perc > {{ red_threshold }};
alarm_if(is_red);

let is_yellow = fail_perc > {{ yellow_threshold }};
warn_if(is_yellow);
{% endmacro %}

{% block main %}
	"id": "{{ id }}",
	"name": "{{ name }}",
	"description": "",
	"groupByLabels": ["host"],
	"annotations": {
		"details": "[[expression.description]]",
		"host": "{{ svm_fqdn() }}",
		"service": "{{ serviceName }}",
		"wiki": "https://docs.yandex-team.ru/yc-monitoring/cgw/{{ serviceName }}"
	},
	"type": {{ type_expression() }}
{% endblock %}
