{% extends "../../base/alert.j2" %}

{% macro prog() %}
let errors = {
	cluster='cloud_{{ env }}_ylb',
	service='clickphite',
	unit='{{ unit }}',
	host!='cluster',
	sensor='log_errors'
	} + constant_line(0, 5m);

let description = 'Too much errors in logs';

let is_red = max(errors) > {{ red_threshold }};
alarm_if(is_red);

let is_yellow = max(errors) > {{ yellow_threshold }};
warn_if(is_yellow);
{% endmacro %}

{% block main %}
	"id": "{{ id }}",
	"name": "{{ name }}",
	"description": "",
	"groupByLabels": ["host"],
	"annotations": {
		"details": "[[expression.description]]",
		"host": "[[labels.host]]",
		"service": "{{ service }}",
		"wiki": "https://docs.yandex-team.ru/yc-monitoring/cgw/{{ serviceName }}"
	},
	"type": {{ type_expression() }}
{% endblock %}
