{% extends "../../base/alert.j2" %}

{% macro prog() %}
let rts = max({
	cluster='cloud_{{ env }}_head',
	service='network_resources',
	allocator='route_targets',
	resource_id='subnet-peering',
	metric='total'
});
let description = 'You must take in work ticket CLOUD-29474, current rts count ' + rts;

let is_red = rts > {{ red_threshold }};
alarm_if(is_red);

let is_yellow = rts > {{ yellow_threshold }};
warn_if(is_yellow);
{% endmacro %}

{% block main %}
	"id": "{{ id }}",
	"name": "{{ name }}",
	"description": "",
	"annotations": {
		"details": "[[expression.description]]",
		"host": "yc_loadbalancer_compute-api_{{ env }}",
		"service": "{{ serviceName }}",
		"wiki": "https://docs.yandex-team.ru/yc-monitoring/cgw/{{ serviceName }}"
	},
	"type": {{ type_expression() }}
{% endblock %}
