{
  "id": "<< id_prefix >>-mongodb-replication",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> MongoDB: Replication lag per host and write_concern wait, [seconds]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< mongodb.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "{{host}}",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "{name='replset_status-replicationLag', node=by_host}",
      "area": false,
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "write_concern_wait",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "sum({name='server_status_admin_metrics.getLastError.wtime.totalMillis_rate'}) by name / 1000",
      "area": false,
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "RIGHT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "NONE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "LAST",
  "filterLimit": "5",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false
}
