{
  "id": "<< id_prefix >>-mongodb-connections-per-host",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> MongoDB: connections per host, [count]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< mongodb.service >>"
    },
    {
      "name": "cluster",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    }
  ],
  "elements": [
    {
      "title": "limit_{{host}}",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "{name='server_status_admin_connections.current', node=by_host} + {name='server_status_admin_connections.available', node=by_host}",
      "area": false,
      "stack": "",
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "current_{{host}}",
      "type": "SELECTORS",
      "selectors": [
        {
          "name": "name",
          "value": "server_status_admin_connections.current"
        },
        {
          "name": "node",
          "value": "by_host"
        }
      ],
      "expression": "",
      "link": "",
      "stack": "",
      "down": false,
      "color": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "BOTTOM",
  "filterBy": "LAST",
  "filterLimit": "8",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": false,
  "ignoreInf": false
}
