Source: yandex-media-mongolag-checks
Section: misc
Priority: optional
Maintainer: Fedor Dikarev <yatheo@yandex-team.ru>
Build-Depends: debhelper (>= 9), python3, python3-setuptools, dh-virtualenv (>> 0.6)
Standards-Version: 3.9.6
Vcs-Git: https://github.yandex-team.ru/admins/yandex-media-mongolag-checks.git

Package: yandex-media-mongolag-checks
Architecture: any
Depends: python3.4, python3-requests, iptables, ipset
Description: Use mongodb-check-rs from Salt to track mongo lag and close access
  from world
