setuptools == 41.0.1
colorlog >= 2.10, < 3.0
setuptools_scm >= 1.15, < 3.0 # temporary limit version due to https://github.com/pypa/setuptools_scm/issues/209
grpcio == 1.15.0 # https://github.com/grpc/grpc/issues/17135
humanize >= 0.5, < 1.0
jsonschema >= 2.5, < 3.0
protobuf >= 3.3.0, < 4.0
prometheus_client >= 0.1.0, < 0.4.0
pyyaml >= 3.0, < 4.0
kikimrclient == 0.2.3
regex == 2019.02.05
requests >= 2.0, < 3.0
requests-oauthlib >= 0.8.0
schematics == 2.1.0
simplejson == 3.15.0 # wall-e.api has strict requirements, so should we
tasklocals == 0.2 # we access it's internals, so it's better to use strict requirement
toml>=0.9,<1.0
vcversioner # from setup_requires of jsonschema
iso8601 >= 0.1.12, < 0.2
googleapis-common-protos >= 1.5.3, < 2.0
pyjwt
grpcio-opentracing
jaeger-client

gauthling_daemon >= 0.3, < 1.0
yc_auth_token < 1.0
yc_requests < 1.0
yc_auth >= 1.6.3, < 2.0
ydb == 0.0.38
certifi-yandex # required to avoid certificate verification errors when using yandex
yc_as_client >= 0.1.2
yc_grpc_specs >= 1.0.6610
