#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/yabs-chkdisk-cult-config/etc/yabs-chkdisk/
	mkdir -p debian/yabs-chkdisk-cult-config/etc/monrun/conf.d/
	cp config.py debian/yabs-chkdisk-cult-config/etc/yabs-chkdisk/config.py
	cp monrun.conf debian/yabs-chkdisk-cult-config/etc/monrun/conf.d/yabs-chkdisk.conf

%:
	dh $@

