{
    "aggr": "AVG",
    "bucketLabel": "",
    "colorScheme": "AUTO",
    "description": "",
    "downsampling": "AUTO",
    "downsamplingAggr": null,
    "downsamplingFill": "NULL",
    "dropNans": true,
    "elements": [
        {
            "expression": "series_sum({'project'='<< project_id >>', 'service'='custom', 'cluster'='<< cluster_id >>', 'name'='envoy_cluster_external_upstream_rq', 'app'='cloudbeaver-contour-envoy', 'envoy_cluster_name'='default_cloudbeaver-app_80', 'host'='*', 'envoy_response_code'='4*', 'namespace'='default'})",
            "type": "EXPRESSION"
        }
    ],
    "filter": null,
    "filterBy": "AVG",
    "filterLimit": 3,
    "graphMode": "GRAPH",
    "green": "",
    "greenValue": "",
    "grid": 30,
    "hideNoData": true,
    "id": "<< id_prefix >>-envoy-requests-4xx-total",
    "interpolate": "LINEAR",
    "max": "",
    "maxPoints": null,
    "min": 0,
    "movingPercentile": 80,
    "movingWindow": "5m",
    "name": "Envoy requests: 4xx total",
    "normalize": null,
    "numberFormat": "3|auto",
    "overLinesTransform": null,
    "parameters": [
        {
            "name": "project",
            "value": "<< project_id >>"
        },
        {
            "name": "cluster",
            "value": "<< cluster_id >>"
        },
        {
            "name": "service",
            "value": "custom"
        }
    ],
    "percentiles": "50,90,99",
    "projectId": "<< project_id >>",
    "red": "",
    "redValue": "",
    "scale": "NATURAL",
    "secondaryGraphMode": "PIE",
    "stack": false,
    "threshold": null,
    "transform": null,
    "violet": "",
    "violetValue": "",
    "yellow": "",
    "yellowValue": ""
}