{
    "aggr": "AVG",
    "bucketLabel": "",
    "colorScheme": "AUTO",
    "description": "",
    "downsampling": "AUTO",
    "downsamplingAggr": null,
    "downsamplingFill": "NULL",
    "dropNans": true,
    "elements": [
        {
            "expression": "moving_avg({'cluster'='<< cluster_id >>', 'cluster_id'='cloudbeaver', 'project'='<< project_id >>', 'service'='managed-kubernetes', 'host'='*', 'name'='master.cpu.utilization_percent'}, 1m)",
            "type": "EXPRESSION"
        }
    ],
    "filter": null,
    "filterBy": "AVG",
    "filterLimit": 3,
    "graphMode": "GRAPH",
    "green": "",
    "greenValue": "",
    "grid": 30,
    "hideNoData": true,
    "id": "<< id_prefix >>-mk8s-master-cpu-utilization-percent",
    "interpolate": "LINEAR",
    "max": 100,
    "maxPoints": null,
    "min": 0,
    "movingPercentile": 80,
    "movingWindow": "5m",
    "name": "Mk8s: master.cpu.utilization_percent",
    "normalize": null,
    "numberFormat": "3|auto",
    "overLinesTransform": null,
    "parameters": [
        {
            "name": "project",
            "value": "<< project_id >>"
        },
        {
            "name": "cluster",
            "value": "<< cluster_id >>"
        }
    ],
    "percentiles": "50,90,99",
    "projectId": "<< project_id >>",
    "red": "",
    "redValue": "",
    "scale": "NATURAL",
    "secondaryGraphMode": "PIE",
    "stack": false,
    "threshold": null,
    "transform": null,
    "violet": "",
    "violetValue": "",
    "yellow": "",
    "yellowValue": ""
}