{
    "aggr": "AVG",
    "bucketLabel": "",
    "colorScheme": "AUTO",
    "description": "",
    "downsampling": "AUTO",
    "downsamplingAggr": null,
    "downsamplingFill": "NULL",
    "dropNans": true,
    "elements": [
        {
            "expression": "{'project'='<< project_id >>','cluster'='<< cluster_id >>','service'='managed-kubernetes','container'='cloudbeaver-app','name'='container.memory.used_bytes','cluster_id'='cloudbeaver', 'namespace'='default', 'pod'='*'}",
            "type": "EXPRESSION"
        }
    ],
    "filter": null,
    "filterBy": "AVG",
    "filterLimit": 3,
    "graphMode": "GRAPH",
    "green": "",
    "greenValue": "",
    "grid": 30,
    "hideNoData": true,
    "id": "<< id_prefix >>-mk8s-container-memory-usage",
    "interpolate": "LINEAR",
    "max": "",
    "maxPoints": null,
    "min": 0,
    "movingPercentile": 80,
    "movingWindow": "5m",
    "name": "Mk8s container app memory usage",
    "normalize": null,
    "numberFormat": "3|auto",
    "overLinesTransform": null,
    "parameters": [
        {
            "name": "project",
            "value": "<< project_id >>"
        },
        {
            "name": "cluster",
            "value": "<< cluster_id >>"
        },
        {
            "name": "service",
            "value": "custom"
        }
    ],
    "percentiles": "50,90,99",
    "projectId": "<< project_id >>",
    "red": "",
    "redValue": "",
    "scale": "NATURAL",
    "secondaryGraphMode": "PIE",
    "stack": false,
    "threshold": null,
    "transform": null,
    "violet": "",
    "violetValue": "",
    "yellow": "",
    "yellowValue": ""
}