.service {
  margin: 0.5em;
  border-bottom: 0.1em dotted black;
}
.data_center {
  display: inline-block;
  margin: 0.5em;
  border: 0.1em dotted black;
}
.instance {
  margin: 0.5em;
  background-color: #d0fdd0;
}
.instance-crit {
  margin: 0.5em;
  background-color: #ffcccb;
}
.crit {
  background-color: red;
}
.warn {
  background-color: yellow;
}
.property-value {
  text-align: left;
  width: 7em;
}
.title {
  font-weight: bold;
}
.buttons {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
body {
  font-size: 1em;
}
