.config-tags-editor
{
    &__title
    {
        padding-bottom: 20px;
    }

    &_from-parent > &__title
    {
        background: linear-gradient(#f9f9f9, rgba(190, 245, 119, .6) 10%, rgba(190, 245, 119, .6) 35%, #f9f9f9 50%)
    }

    &_has-errors
    {
        & .textinput_theme_normal .textinput__box,
        & .textinput_theme_normal.textinput_hovered_yes .textinput__box,
        & .textinput_theme_normal.textinput_focused_yes .textinput__box,
        & .textinput_theme_normal.textinput_focused_yes.textinput_hovered_yes .textinput__box,
        & .textinput_view_default.textinput_tone_grey.textinput_theme_normal .textinput__box
        {
            border: solid 1px #ff0000;
        }
    }
}
