.service-audit
{
    &__item
    {
        display: flex;
        min-height: 50px;
        padding: 8px 16px;
        box-sizing: border-box;
        align-items: center;

        border: solid 1px #979797;

        & + &
        {
            border-top: none;
        }
    }

    &__item-id
    {
        display: inline;
        color: #9b9b9b;
    }

    &__item-date,
    &__item-author,
    &__item-actions
    {
        flex: 0.5;
        padding: 0 2px;
    }

    &__item-action,
    &__item-additional-info
    {
        flex: 1;
        padding: 0 2px;
        word-break: break-word;
    }

    &__item-additional-info
    {
        max-width: 500px;
    }

    &__item-author:first-letter
    {
        color: #FF0000;
    }

    &__item-date
    {
        color: #9b9b9b;
    }

    &__item-actions
    {
        text-align: right;
    }
}
