[Unit]
Description=uWSGI yeandex teamcity autotests monitoring service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/lib/yandex/teamcity-autotests-monitoring
KillSignal=SIGQUIT
Type=notify
ExecStart=/usr/bin/uwsgi --ini /etc/yandex/teamcity-autotests-monitoring/uwsgi.ini


[Install]
WantedBy=multi-user.target
