.service-info-monitoring
{
    width: 350px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);

    &__action
    {
        display: flex;
        align-items: center;
    }

    &__action-title
    {
        width: 150px;
    }

    &__optional
    {
        & .service-info-monitoring__action
        {
            margin-top: 7px;
        }

        & .service-info-monitoring__action-title
        {
            width: 130px;
            padding-left: 20px;
        }
    }
}
