[Unit]
Description=uWSGI icecream backend service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/usr/lib/yandex/icecream/backend
ExecStart=/usr/bin/uwsgi --ini /etc/yandex/icecream/backend/uwsgi.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
