{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-8">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Cluster ID</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Project</th>
                <td>{{ obj.project.self_link_c }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-16">
            <label class="noodle-table-inc-label">Containers</label><br>
            {% with containers=obj.containers %}
            {% if containers %}
            <table class="table table-hover noodle-table noodle-table-inc">
              <thead>
                <tr>
                  <th>FQDN</th>
                  <th>Dom0</th>
                  <th>Gen</th>
                  <th>CPU Limit</th>
                  <th>Memory Limit</th>
                  <th>Net Limit</th>
                  <th>IO Limit</th>
                </tr>
              </thead>
              <tbody>
                {% for container in containers %}
                <tr>
                  <td>{{ container.self_link_c }}</td>
                  <td>{{ container.dom0host.self_link_c }}</td>
                  <td>{{ container.generation }}</td>
                  <td>{{ container.cpu_limit|floatformat:"-1"  }}</td>
                  <td>{{ container.memory_limit|filesizeformat|pretty_fsf }}</td>
                  <td>{{ container.net_limit|filesizeformat|pretty_fsf }}</td>
                  <td>{{ container.io_limit|filesizeformat|pretty_fsf }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <div class="noodle-box">
                &ndash;
              </div>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
