[Unit]
Description=MDB Deploy API

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-deploy-api/mdb-deploy-api --scheme=http --host=::1 --port=12345
WorkingDirectory=/etc/yandex/mdb-deploy-api
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
