{
  "id": "<< id_prefix >>-cluster-zookeeper",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> ZooKeeper",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< zookeeper.service >>"
    },
    {
      "name": "cid",
      "value": "*"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Leader hosts, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Leader hosts, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for read, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts available for write, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Outstanding requests, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_outstanding_requests&graph=auto&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Read time, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=read_time&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Write time, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=write_time&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Connections, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_num_alive_connections&graph=auto&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Open file descriptors, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_open_file_descriptor_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average latency, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_avg_latency&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Znodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_znode_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Ephemeral nodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_ephemerals_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Watches, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_watch_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage, [cores]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-stacked",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-cpu-cores-stacked",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage, [bytes]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-stacked",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-memory-bytes-stacked",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-disk-space-bytes-stacked",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage, [%]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-cpu-percents",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-cpu-percents",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage, [%]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-memory-percents",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-memory-percents",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Disk usage, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-disk-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk read, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-read-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-disk-read-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk write, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-disk-write-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-disk-write-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Network usage, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-network-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data received, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-received-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-network-received-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data sent, [bytes/s]",
          "subtitle": "",
{% if dbm %}
          "url": "?project={{project}}&service=dom0&cluster=internal-mdb_dom0&cid={{cid}}&graph=<< id_prefix >>-hosts-network-sent-bytes",
{% else %}
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-hosts-network-sent-bytes",
{% endif %}
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ]
}
