{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "cluster_rollouts" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Cluster ID</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Tags</th>
                <td>{{ obj.tags|to_html_json }}</td>
              </tr>
              <tr>
                <th>Imported at</th>
                <td>{% dt_formatted obj.imported_at %}</td>
              </tr>
              <tr>
                <th>Auto update</th>
                <td>{{ obj.auto_update|bool_label }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-15">
            <label class="noodle-table-inc-label">Hosts</label><br>
            {% with hosts=obj.host_set.all %}
            {% if hosts %}
            <table class="table table-hover noodle-table noodle-table-inc">
              <thead>
                <tr>
                  <th>FQDN</th>
                  <th>Tags</th>
                </tr>
              </thead>
              <tbody>
                {% for host in hosts %}
                <tr>
                  <td>{{ host.self_link_c }}</td>
                  <td>{{ host.tags }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <div class="noodle-box">
                &ndash;
              </div>
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_cluster_rollouts">
        <div class="row">
          {% obj_block_onload obj "cluster_rollouts" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
