body
{
   font-family: Arial, Verdana, Sans serif;
}

td.main 
{
   background-color: #EEEEEE;
   padding: 10px 10px 10px 10px;
}

a img {
   border : 0;
}

div.pagination {
   font-size: 10px;
   background-color: #EEEEEE;
}

table.bborder { 
    border: solid 1px black;
    border-collapse:collapse;
    padding: 0 0 0 0;
}
table.bborder td, table.bborder th {
 border: 1px solid black;
 text-align: center;
}

.fixedElement {
    background-color: #ffffff;
    width:230px;
    height: 800px;
    overflow: auto;   
    padding-right: 10px;    
}

.errors {
    color: red;
}

div.column
{
    width: 300px;
    display: table-cell;
}

.notactive 
{
    color: #999999;
}

.errortask 
{
    color: #ff1111;
}

.hint {
    font-size: 12px;
    color: #444444;
}

.smalllinks {
    font-size: 12px;
}

.breadcrumbs
{
   font-size: 11px;
   font-family: Courier New, Courier, Sans Serif;
}

.adbanner
{
   font-family: Verdana, Arial, Sans Serif; 
   font-size: 14px;
   border-width: thin; 
   border-style: solid;
   border-color:#1010FF;
   padding: 5px 5px 5px 5px;
   margin: 10px 10px 10px 10px;
   background-color:#EEEEFF;
   width: 500px;
}

.smallMenu {
    font-size : 14px;
}

.menu li {
    padding: 0px 0px 5px 0px;
}

.bannertitle
{
   color: #0000bb;
}

.bannertext
{
   font-size: 12px;
}

ul {
    list-style-type: none;
}

div.snippet {
   font-family: Verdana, Arial, Sans Serif; 
   font-size: 14px;
   border-width: thin; 
   border-style: solid;
   border-color:#1010FF;
   padding: 5px 5px 5px 5px;
   margin: 10px 10px 10px 10px;
   background-color:#EEEEFF;
   width: 95%;
   text-align: justify;
}
