
html {

	background: #fff;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(../img/bg.jpg) repeat-x #fff;
}

a:link, a:visited {	color: #494949; text-decoration: underline; }
a:active, a:hover { color: #494949; text-decoration: none;}

p{
	
	font-family: Tahoma;
	font-size: 13px;
	color: #484848;
	text-align: justify;
	margin: 0 0 10px 0;
		
}



h1 {
	
	font-family: Tahoma;
	font-size: 23px;
	color: #676767;
	font-weight: normal;
	margin: 0 0 15px 0;
	
}


h2 {
	
	font-family: Tahoma;
	font-size: 16px;
	color: #0895d6;
	font-weight: normal;
	margin: 0 0 10px 0;
	
}

h3 {
	
	font-family: Tahoma;
	font-size: 11px;
	color: #2780e4;
	font-weight: normal;
	margin: 0 0 5px 0;
	
}

#container {

    width: 100%;	
	margin: auto;
}

#header {
	
	width: 100%;
	height: 157px;
	background: url(../img/header.jpg) no-repeat;
	background-position: 0 -2px;
	margin: 0 0 0 -15px;
	padding: 1px 0 0 0;
	
}

#logo_area {
	
	width: 175px;
	height: 60px;
	margin: 25px 0 0 50px;
	float: left;
	
}

#logo {
	
	font-family: Tahoma;
	font-size: 45px;
	color: #0e8fcb;
	margin: 0 0 5px 0;
}

#slogan {
	
	float: left;	
	font-family: Tahoma;
	font-size: 12px;
	color: #000;
	font-style: italic ;
	margin: 5px 0 0 0;

}

#social {
	
	height: 80px;
	float: right;
	margin: 30px 30px 0 0 ;
}

#social form {
	float: right;
	width: 185px;
	height: 36px;
}

.field {
	float: left;
	width: 132px;
	height: 21px;
	border: none;	
	background: none;
	border: none;
	font-family: Tahoma;
	color : #686868;

	margin: 8px 0 0 10px;
}

.button {

	float: right;
	width: 35px;
	height: 22px;
	border: none;	
	background: url(../img/botton.jpg) no-repeat;
	margin: 8px 5px 0 0;
	cursor: pointer;

}

#social img{
	float: right;
	margin: 0 20px 0 0;
	border: none;
}


/* menu */

#menu {
	float: right;
	width: 100%;
	height: 40px;
	margin: 5px 0 0 0;
	padding: 0 ;
}

#menu ul {
	float: right;
	margin: 0px;
	padding: 0 0 0 0;
	list-style: none;
}

#menu ul li {
	display: inline;
	float: left;
	padding: 11px 20px;	
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	background: url(../img/menu_divider.png) center right no-repeat;
	color: #295a00;	
	font-family: Tahoma;
	font-size: 12px;
    
}

#menu ul li a {
	outline: none;
	color: #2a5f00;	    
}

#menu li a:hover, #menu li .current {
	color: #fff;
}

#menu li .last {
	background: none;
}

/* end of menu*/

#content_area {
	
	width: 100%;
	margin: 20px 0 0 0;
    display: table;
}

#left {
	
	float: left;
}

#right {
    float: right;
	width: 75%;
    padding: 0px 20px 0px 20px;
}

.section_1 {
	width: 250px;
	margin: 0 0 10px 0;
}

.section_1 .top {
	width: 250px;
	height: 33px;
	background: url(../img/section_1_top.jpg) left no-repeat;
}

.top h1{
	display:block;
	float: left;
	margin: 15px 0 0 15px;
}

.top span.title{
	
	float: right;
	display: block;
	font-family: Tahoma;
	font-size: 10px;
	color: #000;
	margin: 15px 25px 0 0;
}

.section_1 .middle {
	width: 250px;
	background: url(../img/section_1_mid.jpg) left repeat-y;
}

.section_1 .bottom {
	width: 210px;
	background: url(../img/section_1_bottom.jpg) bottom left  no-repeat;
	padding: 10px 20px 5px 15px;
}


.h_line {
	width: 100%;
	clear: both;
	height: 1px;
	background: url(../img/h_line.jpg);
	margin: 0 0 10px 0;
	
}

.v_line {
	width: 1px;
	float: left;
	height: 260px;
	background: url(../img/v_line.jpg);
	
	
}

.section_2 {
	width: 220px;
	margin: 0 0 10px 0 ;
	padding: 15px 15px 5px 15px;
}

.section_2 .green {

	border-left: 8px solid #64d608;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.section_2 .blue {

	border-left: 8px solid #0895d6;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.section_2 .yellow {

	border-left: 8px solid #ffcc66;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.section_3 {
	margin: 0 0  20px 0;
	background-position: 105px -5px;

	
}

.section_3 h1{
	margin: 0 0 5px 0;
	
}


span.blue_title {
	font-family: Arial;
	font-size: 20px;
	color: #0895d6;
	display: block;
	margin: 0 0 25px 20px;
}


.section_4 {

	width: 685px;
	margin: 0 0 15px 0;
	
}

.section_5 {

	width: 685px;
	background: url(../img/section_5.jpg) top no-repeat;
	margin: 0 0 20px 0;
	padding: 15px 0 0 0;
	
}

.two_col {

	width: 310px;
	padding: 0 15px 15px 15px;
	margin: 0 0 20px 0;
	
}

.two_col img{
	margin: 0 0 10px 0;
}

.gallery {
	margin: 0;
	padding: 0;
}

.gallery img{
	float: left;
	margin: 0 0 20px 0;	
}

.gallery img.mid{
	float: left;
	margin: 0 27px;	
}

.right {
	
	float: right;
	
}


.left {
	
	float: left;
	
}

#footer {
	width: 100%;
	height: 52px;
	background: url(../img/footer_bg.jpg);
	color: #fff;
	text-align: center;
	padding: 36px 0 0 0;
	margin: 0;
}

#footer a{
	color: #fff;
	text-decoration: underline;
}

#footer a:hover{
	color: #fff;
	text-decoration: none;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}
