listen: ":8080"
fail-always: false

log-level: "debug"
log-journald: false

create-boot-span: true
create-systemd-analyze-span: true
span-context-filename: "/tmp/tracing_span"
instance-start-time-key: "instance-start-time"

tracing:
  service-name: lb-e2e-real
  enable: true
  jaeger:
    local-agent-addr: {{ salt['grains.get']('tracing:jaeger:agent', 'localhost:6831') }}
