Source: yc-iam-backup-server
Section: misc
Priority: optional
Maintainer: cloud-iam <cloud-iam@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://a.yandex-team.ru/arc/trunk/arcadia/cloud/iam

Package: yc-iam-backup-server
Architecture: all
Depends: ${misc:Depends}, python3, python3-boto3, python3-psh, python3-requests, python3-tldextract, python3-yaml, python3-ntplib, yandex-ydb-cli, pigz
Description: backup-server of YDB database
