.req {
	color : green;
}
.url {
	text-decoration : underline;
	color : blue;
}
.title {
}

.tbl {
	border-width : 1px 1px 1px 1px;
	border-style : solid;
}
.tbl td {
	margin : 0px;
	padding : 0px;
}
.skip {
	text-align : center;
}
.sentnum {
	font-style : italic;
}
.senttext {
}
.sentaux {
}

.sentok {
	background : #eee8d5;
}
.sentok .senttext {
	color : green;
}

.sentbad {
	background : purple;
}

.sentcur .sentnum {
	background : yellow;
}
