[Unit]
Description=Kafka Agent

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/kafka-agent/bin/kafka-agent
WorkingDirectory=/etc/yandex/kafka-agent
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
User=kafka-agent
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
