{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "grpc-client-errors") %}
{% set name = team + " gRPC client errors (" + env + ")" %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "zone",
        "value": "{{ az_zones_for_parameter }}"
    }
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for status in statuses_server_errors + ["CANCELLED"]%}
		{{ render_element(status, grpc_statuses(status=status) | to_prog, area="true") }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
