{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "grpc-latency-by-dc") %}
{% set name = team + " gRPC latency by dc (" + env + ")" %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for zone in az_zones %}
		{{ render_element(zone + " latency", grpc_percentile(99, zone=zone, app='none') | to_prog) }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
