{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "grpc-client-latency") %}
{% set name = team + " gRPC client latency (" + env + ")" %}
{% set transform = 'DIFFERENTIATE' %}

{% macro grpc_count_by_time(le, status='none', app='none', host='none', method='none') %}
series_sum({
    sensor='grpc_durations'
    ,hist_type='bin'
    {% if app != 'none' %}
        ,app='{{ app }}'
    {% endif %}
    {% if method != 'none' %}
        ,method='{{ method }}'
    {% endif %}
    {% if status != 'none' %}
        ,status='{{ status }}'
    {% endif %}
    {% if host != 'none' %}
        ,host='{{host}}'
    {% endif %},
    le = '{{le}}'
})
{% endmacro %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "{{ hosts_for_parameter }}"
    },
    {
        "name": "app",
        "value": "*"
    },
    {
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{ render_element("<10ms", grpc_count_by_time('0.001|0.0025|0.005|0.0075|0.01') | to_prog, area="true", stack="true") }},
	{{ render_element("10 - 50ms", grpc_count_by_time('0.025|0.05') | to_prog, area="true", stack="true") }},
	{{ render_element("50 - 100ms", grpc_count_by_time('0.075|0.1') | to_prog, area="true", stack="true") }},
	{{ render_element("100 - 250ms", grpc_count_by_time('0.25') | to_prog, area="true", stack="true") }},
	{{ render_element("250 - 1000ms", grpc_count_by_time('0.5|0.75|1.0') | to_prog, area="true", stack="true") }},
	{{ render_element("1000ms - 2500ms", grpc_count_by_time('2.5') | to_prog, area="true", stack="true") }},
	{{ render_element("2500ms - 5000ms", grpc_count_by_time('5.0') | to_prog, area="true", stack="true") }},
	{{ render_element("> 5000ms", grpc_count_by_time('7.5|10.0|25.0|50.0|75.0|100.0') | to_prog, area="true", stack="true") }}
{% endblock %}
