{% extends "base.j2" %}

{% set id = "{}-{}-{}".format(prefix, env, "grpc-errors") %}
{% set name = team + " gRPC errors (" + env + ")" %}
{% set transform = 'NONE' %}

{% block additional_params %}
    ,{
        "name": "host",
        "value": "*"
    }
    ,{
        "name": "app",
        "value": "*"
    }
    ,{
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
    {% for zone in az_zones %}
        {{ render_element("{} UNAVAILABLE".format(zone), grpc_statuses(zone=zone, status=statuses_UNAVAILABLE, app='none') | to_prog, area="true") }},
        {{ render_element("{} DEADLINE_EXCEEDED".format(zone), grpc_statuses(zone=zone, status=statuses_DEADLINE_EXCEEDED, app='none') | to_prog, area="true") }},
        {{ render_element("{} Internal error".format(zone), grpc_statuses(zone=zone, status=statuses_internal_errors, app='none') | to_prog, area="true") }}
    {% if not loop.last %},{% endif %}{% endfor %}
{% endblock %}
