Source: yandex-conf-root-password
Section: system
Priority: optional
Maintainer: Denis Zaitsev <dzaitsev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Vcs-Svn: svn+ssh://svn.yandex.ru/corba-configs/trunk/yandex-conf-root-password

Package: yandex-conf-root-password
Architecture: all
Depends: yandex-lib-autodetect-environment
Description: package for mass change root password (or for prohibition in VZ ct's)
