.App {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: min-content minmax(100vh, max-content) 100px;
}

.content {
  grid-area: 2/2/3/4;
  padding: 20px;
  background-color: var(--color-essential);
}

.table {
  width: 100%;
}

table.table th {
  text-align: left;
}

table.table thead th {
  border-bottom: 1px solid #CCCCCC;
}

table.table tfoot th {
  border-top: 1px solid #CCCCCC;
}

ul.paginator {
  text-align: center !important;
}

ul.paginator li {
  display: inline-block;
  margin-right: 3px;
}
