#cloud-config
preserve_hostname: false
hostname: ${fqdn}
fqdn: ${fqdn}
manage_etc_hosts: true
packages:
  - yandex-cauth
  - yandex-selfdns-client
  - yc-selfdns-plugins
  - config-caching-dns
bootcmd:
  - [ rm, -f, /etc/resolv.conf ]
  - [ bash, -c, 'echo -e "nameserver 2a02:6b8::1:1\nnameserver 2a02:6b8:0:3400::1" > /etc/resolv.conf' ]
package_update: true
runcmd:
  - [ hostnamectl, set-hostname, ${fqdn} ]
  - [ sed, -i, -e, 's/token = .*/token = ${selfdns}/', /etc/yandex/selfdns-client/default.conf ]
  - [ /usr/sbin/ensure-selfdns, ${selfdns} ]
  - [ selfdns-client, --token, ${selfdns} ]
  - [ agent.sh ]
