{
  "id": "<< id_prefix >>-<< grpc_interface >>-stats",
  "name": "<< human_prefix >> << (grpc_interface|resolve)["human_name"] >> stat",
  "projectId": "<< project_id >>",
  "heightMultiplier": "1",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< (grpc_interface|resolve)["service"] >>"
    },
    {
      "name": "cluster",
      "value": "<< (grpc_interface|resolve)["cluster"] >>"
    }
  ],
  "rows": [
      {
        "panels": [
                {
                "title": "Responses (log)",
                "url": "?cluster=<< (grpc_interface|resolve)["cluster"] >>&project=<< project_id >>&service=<< (grpc_interface|resolve)["service"] >>&graph=<< id_prefix >>-<< grpc_interface >>-responses&scale=log",
                "colspan": 2,
                "rowspan": 1
                },
                {
                "title": "OK by DC",
                "url": "?cluster=<< (grpc_interface|resolve)["cluster"] >>&project=<< project_id >>&service=<< (grpc_interface|resolve)["service"] >>&graph=<< id_prefix >>-<< grpc_interface >>-ok-dc",
                "colspan": 2,
                "rowspan": 1
                }
        ]
      },
      {
        "panels": [
                {
                "title": "Server errors (log)",
                "url": "?cluster=<< (grpc_interface|resolve)["cluster"] >>&project=<< project_id >>&service=<< (grpc_interface|resolve)["service"] >>&graph=<< id_prefix >>-<< grpc_interface >>-server-errors&scale=log",
                "colspan": 2,
                "rowspan": 1
                },
                {
                "title": "Client errors (log)",
                "url": "?cluster=<< (grpc_interface|resolve)["cluster"] >>&project=<< project_id >>&service=<< (grpc_interface|resolve)["service"] >>&graph=<< id_prefix >>-<< grpc_interface >>-client-errors&scale=log",
                "colspan": 2,
                "rowspan": 1
                }
        ]
      }
  ]
}