Source: mysql-dbcopier
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.yandex-team.ru/admins/mysql-dbcopier

Package: mysql-dbcopier
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, percona-server-client-5.7 | percona-server-client-5.6 | percona-server-client-5.5 | mysql-client, yaconfig, python-mysqldb
Description: Allows copying MySQL databases
 Does a mysqldump / restore for the tables based on the config
