#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	mkdir -p debian/mysql-dbcopier/usr/bin
	cp -a mysql-dbcopier debian/mysql-dbcopier/usr/bin
	mkdir -p debian/mysql-dbcopier/usr/share/doc/mysql-dbcopier/examples
	cp -a *.yaml debian/mysql-dbcopier/usr/share/doc/mysql-dbcopier/examples
