Source: config-corba-mirror
Section: misc
Priority: extra
Maintainer: Michael Bruskov <nemca@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
#Vcs-Git: git://git.debian.org/collab-maint/config-nginx-jetstyle.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/config-nginx-jetstyle.git;a=summary

Package: config-corba-mirror
Architecture: all
Depends: yandex-archive-keyring, bash, bash-completion, mdadm, shelf-utils, config-juggler-client-media, juggler-client, monrun, config-monitoring-common, corba-juggler-virtual-meta, config-monitoring-corba-ssh-check, config-yabs-ntp, ntpdate, bind9, bind9-host, bind9utils, dnsutils, curl, vsftpd, rsync, nginx, config-monrun-http-code
Description: Configuration for %corba_mirror (mirror.yandex.ru)
 Configures hosts for mirror.yandex.ru

