#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-corba-mirror/usr/lib/config-monitoring-mirror/
	cp config-monitoring-mirror/* debian/config-corba-mirror/usr/lib/config-monitoring-mirror/
	chmod +x debian/config-corba-mirror/usr/lib/config-monitoring-mirror/*

	mkdir -p debian/config-corba-mirror/etc/monrun/conf.d/
	cp juggler_checks/* debian/config-corba-mirror/etc/monrun/conf.d/

	cp vsftpd.conf.mirror debian/config-corba-mirror/etc/

	mkdir -p debian/config-corba-mirror/etc/sysctl.d/
	cp sysctl.conf.mirror debian/config-corba-mirror/etc/sysctl.d/99-mirror.conf.mirror

	mkdir -p debian/config-corba-mirror/etc/nginx/sites-enabled/
	mkdir -p debian/config-corba-mirror/etc/nginx/includes/
	mkdir -p debian/config-corba-mirror/etc/nginx/conf.d/
	cp nginx/nginx.conf.mirror debian/config-corba-mirror/etc/nginx/
	cp nginx/listen debian/config-corba-mirror/etc/nginx/
	cp nginx/mirror-footer debian/config-corba-mirror/etc/nginx/includes/
	cp nginx/mirror-header debian/config-corba-mirror/etc/nginx/includes/
	cp nginx/repo-footer debian/config-corba-mirror/etc/nginx/includes/
	cp nginx/repo-header debian/config-corba-mirror/etc/nginx/includes/
	cp nginx/10-* debian/config-corba-mirror/etc/nginx/sites-enabled/
	cp nginx/01-accesslog.conf debian/config-corba-mirror/etc/nginx/conf.d/

	mkdir -p debian/config-corba-mirror/etc/logrotate.d/
	cp logrotate.d/* debian/config-corba-mirror/etc/logrotate.d/
	
	#mkdir -p debian/config-corba-mirror/etc/cron.d/
	#mkdir -p debian/config-corba-mirror/etc/cron.fixed/
	#mkdir -p debian/config-corba-mirror/etc/cron.fixed-master/
	#cp cron/cron.d/* debian/config-corba-mirror/etc/cron.d/
	#cp cron/cron.fixed/* debian/config-corba-mirror/etc/cron.fixed/
	#cp cron/cron.fixed-master/* debian/config-corba-mirror/etc/cron.fixed-master/

	#mkdir -p debian/config-corba-mirror/usr/sbin/
	#cp mirrors-node debian/config-corba-mirror/usr/sbin/
	#cp mirrors-stop debian/config-corba-mirror/usr/sbin/
	#chmod +x debian/config-corba-mirror/usr/sbin/*

	#mkdir -p debian/config-corba-mirror/usr/sbin/
	#cp shaper.sh debian/config-corba-mirror/usr/sbin/
	#chmod +x debian/config-corba-mirror/usr/sbin/*
	
	mkdir -p debian/config-corba-mirror/var/log/mirrors/
%:
	dh $@

