<table>
    <thead><tr>
        <th>Resource</th>
        <th>Quota</th>
        <th>Usage</th>
    </tr></thead>
    <tbody>
        <tr>
            <th>CPU</th>
            <td>{{ cpu_quota }}</td>
            <td>{{ cpu_used }}</td>
        </tr>
        <tr>
            <th>Memory</th>
            <td>{{ memory_quota }}</td>
            <td>{{ memory_used }}</td>
        </tr>
        <tr>
            <th>SSD Space</th>
            <td>{{ ssd_space_quota }}</td>
            <td>{{ ssd_space_used }}</td>
        </tr>
        <tr>
            <th>HDD Space</th>
            <td>{{ hdd_space_quota }}</td>
            <td>{{ hdd_space_used }}</td>
        </tr>
        <tr>
            <th>GPU</th>
            <td>{{ gpu_quota }}</td>
            <td>{{ gpu_used }}</td>
        </tr>
        <tr>
            <th>Clusters</th>
            <td>{{ clusters_quota }}</td>
            <td>{{ clusters_used }}</td>
        </tr>
    </tbody>
</table>
