<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Limit</th>
			<th>Used</th>
			<th>Free</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>CPU</th>
			<td>{{ cpu.1 }}</td>
			<td>{{ cpu.1 }}</td>
			<td>{{ cpu.1 }}</td>
		</tr>
		<tr>
			<th>Memory</th>
			<td>{{ memory.1 }}</td>
			<td>{{ memory.1 }}</td>
			<td>{{ memory.1 }}</td>
		</tr>
		<tr>
			<th>Net</th>
			<td>{{ net.1 }}</td>
			<td>{{ net.1 }}</td>
			<td>{{ net.1 }}</td>
		</tr>
		<tr>
			<th>IO</th>
			<td>{{ io.1 }}</td>
			<td>{{ io.1 }}</td>
			<td>{{ io.1 }}</td>
		</tr>
		<tr>
			<th>SSD</th>
			<td>{{ ssd.1 }}</td>
			<td>{{ ssd.1 }}</td>
			<td>{{ ssd.1 }}</td>
		</tr>
		<tr>
			<th>Sata</th>
			<td>{{ sata.1 }}</td>
			<td>{{ sata.1 }}</td>
			<td>{{ sata.1 }}</td>
		</tr>
	</tbody>
</table>
