[Unit]
Description=Initial configure of hw host
After=network-online.target
Requires=network-online.target

[Service]
Type=notify
RemainAfterExit=true
ExecStart=/usr/sbin/pkgver-ng
TimeoutSec=0

[Install]
WantedBy=multi-user.target
