[Unit]
Description=Pgbouncer%I
PartOf=pgbouncer.service
ReloadPropagatedFrom=pgbouncer.service
Before=pgbouncer.service
Conflicts=odyssey.service

[Service]
Type=simple
ExecStart=/usr/bin/pgbouncer /etc/pgbouncer/pgbouncer%i.ini
ExecReload=/bin/kill -s HUP $MAINPID
RuntimeDirectory=pgbouncer%i
WorkingDirectory=/etc/pgbouncer/
Restart=on-failure
User=postgres
Group=postgres
LimitNOFILE={{ salt['pillar.get']('data:config:max_client_conn', 20000) | int + 10 }}

[Install]
RequiredBy=pgbouncer.service
