{% set bouncers = [] %}
{% for c in range(salt['pillar.get']('data:pgbouncer:count')) %}
{% do bouncers.append('pgbouncer@' + '%02d'|format(c|int) + '.service') %}
{% endfor %}
{% for c in range(salt['pillar.get']('data:pgbouncer:internal_count', 1)) %}
{% do bouncers.append('pgbouncer@_internal' + '%02d'|format(c|int) + '.service') %}
{% endfor %}
[Unit]
Description=pgbouncer target
Conflicts=odyssey.service
BindsTo={{ bouncers | join(' ') }}
After={{ bouncers | join(' ') }}

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
