[Unit]
Description=PgBouncer
After=network.target
Conflicts=odyssey.service

[Service]
Type=simple
ExecStart=/usr/bin/pgbouncer /etc/pgbouncer/pgbouncer.ini
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory=/etc/pgbouncer/
Restart=on-failure
User=postgres
Group=postgres
LimitNOFILE={{ salt['pillar.get']('data:config:max_client_conn', 20000) | int + 10 }}

[Install]
WantedBy=multi-user.target
