[Unit]
Description=Pgsync service
Before=postgresql.service
After=network.target

[Service]
Type=simple
KillMode=process
RuntimeDirectory=pgsync
WatchdogSec=1800s
RuntimeDirectoryMode=0775
RuntimeDirectoryPreserve=yes
ExecStart=/usr/local/bin/pgsync
PermissionsStartOnly=true
User=postgres
Group=postgres
Restart=always
RestartSec=0
TimeoutStartSec=15
TimeoutAbortSec=15
TimeoutStopSec=300

OOMPolicy=continue
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
