attrs==19.1.0
behave==1.2.5
deepdiff==4.0.2
docker==3.7.0
docker-compose==1.15.0
PyYAML==3.12
psycopg2==2.7.3.2
Jinja2==2.10
PyNaCl==1.2.1
argon2-cffi==16.3.0
requests==2.18.4
retrying==1.3.3
cryptography==2.0.3
pyhamcrest==1.9.0
boto==2.48.0
boto3==1.9.247
python-dateutil==2.6.1
pyOpenSSL==17.3.0
humanfriendly==4.4.1
pymongo==3.7.1
netaddr==0.7.19
redis==2.10.6
redis-py-cluster==2.1.3
jsonpath-rw==1.4.0
kazoo==2.6.1
PyMySQL==0.9.2
pytest==3.3.0
pylint==2.4.3
pep8==1.7.1
flake8==3.6.0
flake8-commas==2.0.0
flake8-polyfill==1.0.2
flake8-print==3.1.0
flake8-quotes==1.0.0
flake8-snippets==0.2
flake8-string-format==0.2.3
yapf==0.25.0
isort==4.3.4
Flask==0.12.2
flask-appconfig==0.11.1
xmltodict==0.11.0
protobuf==3.19.4
grpcio==1.26.0
grpcio-health-checking==1.26.0
elasticsearch==7.10.0
