{% extends "../../../base/alert.j2" %}

{% set windowSecs = windowSecs | default(600) %}
{% set checkExpression = "" %}
{% set description = "https://docs.yandex-team.ru/yc-monitoring/compute-api/logbroker/topic-journald-read-time-lag" %}

{% macro prog() %}
let ts = group_lines('sum', {
    'project'='kikimr',
    'cluster'='yandexcloud_{{ env }}_logbroker_global',
    'service'='pqtabletAggregatedCounters',
    'sensor'='ReadTimeLagMs',
    'Account'='{{ account }}',
    'TopicPath'='{{ topic_path }}',
    'ConsumerPath'='{{ consumer | default("shared/remote-mirror") }}'});
let readLag = avg(ts);

alarm_if(readLag > {{ alarm_limit|default(60000) }});
warn_if(readLag > {{ warn_limit|default(300000) }});
{% endmacro %}

{% block main %}
    "name": "{{ team }} Logbroker ReadTimeLagMs @{{ env | upper }}",
    "annotations": {
        "topic": "[[labels.TopicPath]]",
        "current_value": "[[expression.readLag]] ms",
        "service": "{{ service|default(config_name.replace('_', '-')) }}",
        "host": "{{ host }}",
        "description": "{{ description }}",
        "wiki": "{{ wiki_url }}#{{ config_name.replace('_', '-') }}",
        "dashboard": "{{ dashboard_url }}"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
