Source: yandex-conf-repo-media-common-stable
Section: unknown
Priority: optional
Maintainer: Ilya Karpov <gibzer@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-conf-repo-media-common

Package: yandex-conf-repo-media-common-stable
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: add media-java yandex repos
