Source: dbaas-cron
Section: unknown
Priority: optional
Maintainer: Evgeny Dyukov <secwall@yandex-team.ru>
Build-Depends:
 debhelper (>= 8.0.0),
 python3.6,
 python3-venv | python3.6-venv,
 git
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/mdb/dbaas-cron

Package: dbaas-cron
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python3.6
Description: DBaaS cron
