{
  "id": "{{ config_name }}",
  "projectId": "{{ project_id }}",
  "name": "{{ config_name }}",
  "notifyAboutStatuses": [
    "OK",
    "ERROR",
    "ALARM",
    "WARN"
  ],
  "repeatNotifyDelayMillis": 0,
  "isDefault": false,
  "method": {
    "juggler": {
      "host": "{{ juggler_host }}",
      "service": "[[annotations.jugglerService]]",
      "instance": "",
      "description": "",
      "tags": [
        "[[annotations.jugglerTags]]"
      ]
    }
  }
}
