{% extends "../../base/alert.j2" %}
{% import "vars.yaml" as vars with context %}

{#
{% set notificationChannels = ['ycm_juggler_robocall', 'ycm_juggler_telegram'] %}
{% set notifyAboutStatuses = {
     'ycm_juggler_robocall': '["ALARM", "WARN", "ERROR", "OK"]',
     'ycm_juggler_telegram': '["ALARM", "WARN", "ERROR", "NO_DATA", "OK"]',
   }
%}
#}

{% set notificationChannels = ['ycm_juggler'] %}
{% set notifyAboutStatuses = {
     'ycm_juggler': '["ALARM", "WARN", "ERROR", "OK"]',
   }
%}
{% set jugglerTags = '' %}
