{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "джоба перестала обновлять активный ордер" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='hung_orders'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Orders lost task job",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--lost-task-orders",
    "description": "[[expression.value]] orders lost theirs jobs [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/6ZwHWigO4nbPJm",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
