{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "YCM " + env | upper + " Validation Cache Size Too Big" %}
{% set windowSecs = 180 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='validation-*',
    {{ sensor_label }}='validationTokenServiceCacheSize'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Validation Cache Size Too Big",
  "groupByLabels": ["cluster", "host"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--[[labels.host]]--validationCacheSize",
    "description": "[[expression.value]] cache size on [[labels.host]]",
    "wikiUrl": "https://nda.ya.ru/t/0jyzaFNA5BD4YT",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
