{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "YCM " + env |upper + " запланированные Scheduled Job не выполнились вовремя в течение 10 мин" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='schebuled_job_max_age_sec'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Scheduled Job Age",
  "groupByLabels": ["cluster", "host"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--scheduled-job-age",
    "description": "[[expression.value]] sec max age of scheduled job [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/_Mr_L5fR5BCj9L",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
