{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "YCM " + env | upper + " ACME More than " + value_limit + " certificate requests in last 3 hours" %}
{% set windowSecs = 300 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='fresh_orders'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} ACME More than {{ value_limit }} certificate requests in last 3 hours",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--too-many-orders",
    "description": "[[expression.value]] orders created in last 3h [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/OiHH2dQ05B3bac",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
