{% extends "./base_alert.j2" %}

{% set checkExpression = "diff > " + diff_limit %}
{% set description = "YCM " + env | upper + " ACME Failed Authorizations" %}
{% set windowSecs = 3600 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='orderJobFailedAuthorizations'
};
let derivative = derivative(data);
let diff = max(derivative);
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} ACME Failed Authorizations",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--acme-challenge-failed-authorizations",
    "description": "[[expression.value]] acme challenges failed on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/-78ZjKhX4bqHwb",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
