{% extends "base_alert.j2" %}
{% set checkExpression = "diff > 0" %}
{% set description = "YCM " + env | upper + " Task processor tasks failed" %}
{% set windowSecs = 300 %}

{% macro prog() %}
let data = {
  project='{{ project_id }}',
  service='{{ solomon_service }}',
  cluster='cloud_{{ env }}_kms_cluster',
  host='cpl*',
  {{ sensor_label }}='taskprocessor_task_failed',
  meter_type='count'
};
let derivative = derivative(data);
let diff = max(derivative);
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Task processor tasks failed",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--cluster-cpl--tasks-failed",
    "description": "[[expression.value]] tasks failed on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/Jx4MbjkJ5BCwCh",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
