{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "YCM " + env |upper + " Pending orders older than week" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='stray_pending_orders'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Pending orders older than week",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--abandoned-orders",
    "description": "[[expression.value]] pending orders older than week on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/9RCMY4TQ5BCdiM",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
