{% extends "./base_alert.j2" %}

{% set checkExpression = "value > " + value_limit %}
{% set description = "YCM " + env | upper + " Orders cannot create remote order" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='hung_new_orders'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Orders cannot create remote order",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--hung-new-orders",
    "description": "[[expression.value]] order jobs cannot create acme order on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/H4I-YFRf5BBNem",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
