{% extends "./base_alert.j2" %}

{% set checkExpression = "diff > " + diff_limit %}
{% set description = "YCM " + env | upper + " ACME Rate Errors" %}
{% set windowSecs = 300 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='acmeServiceUniqueErrorsAcmeRateLimitedException'
};
let derivative = derivative(data);
let diff = sum(derivative);
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} ACME Rate Errors",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--acme-rate-errors",
    "description": "[[expression.value]] acme rate limit errors on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/L4zGDg2U5B3gKv",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
