{% extends "./base_alert.j2" %}

{% set checkExpression = "diff > " + diff_limit %}
{% set description = "YCM " + env | upper + " Core Task Fails" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
    project='{{ project_id }}',
    service='{{ solomon_service }}',
    cluster='cloud_{{ env }}_ycm_cluster',
    host='cluster',
    {{ sensor_label }}='tasks_failed_core'
};
let derivative = derivative(data);
let diff = max(derivative);
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Core Task Fails",
  "groupByLabels": ["cluster"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--tasks-core-failed",
    "description": "[[expression.value]] core tasks failed on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/dhqpFQ5o5B3trm",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
