{% extends "./base_alert.j2" %}

{% set checkExpression = "diff > " + diff_limit %}
{% set description = "YCM " + env | upper + " Validation Servlet Fails" %}
{% set windowSecs = 1800 %}

{% macro prog() %}
let data = {
      project='{{ project_id }}',
      service='{{ solomon_service }}',
      cluster='cloud_{{ env }}_ycm_cluster',
      host='validation-*',
      {{ sensor_label }}='validationServerTokenServletFails'
};
let derivative = derivative(data);
let diff = max(derivative);
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "YCM {{ env | upper }} Validation Servlet Fails",
  "groupByLabels": ["cluster", "host"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--[[labels.host]]--validationServletFails",
    "description": "[[expression.value]] validation cache servlet fails [[labels.host]]",
    "wikiUrl": "https://nda.ya.ru/t/LkBsYVMC5BDMN3",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
