Source: lxctl-template-ubuntu-14.04-amd64
Section: misc
Priority: extra
Maintainer: Anna Martynova <broom@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://wiki
Vcs-Svn: https://a.yandex-team.ru/arc/trunk/arcadia/admins/lxctl-templates/lxctl-template-ubuntu-14.04-amd64 

Package: lxctl-template-ubuntu-14.04-amd64
Architecture: all
Depends: lxctl 
Description: Ubuntu 14.04 Trusty template for lxc with lxctl
 Ubuntu 14.04 Precise template for lxc with lxctl.

