Source: yandex-media-jdowntime
Section: misc
Priority: optional
Maintainer: Ilya Karpov <gibzer@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://bb.yandex-team.ru/projects/MEDIA-ADMINS/repos/yandex-media-jdowntime

Package: yandex-media-jdowntime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-requests
Description: Simple juggler downtime manager
