
table {
    background-color:#F4F4F4;
}

td.general {
    text-align: center;
}

td.url {
    text-align: left;
}

tr.group0 > td { background-color: #f5dcdc; }
tr.group1 > td { background-color: #f0dcdc; }
tr.group2 > td { background-color: #ebe4e3; }
tr.group3 > td { background-color: #f5f0ef; }
tr.group4 > td { background-color: #f4e5dc; }
tr.group5 > td { background-color: #f4ede8; }
tr.group6 > td { background-color: #f5efe2; }
tr.group7 > td { background-color: #ebeadf; }
tr.group8 > td { background-color: #f1f3dc; }
tr.group9 > td { background-color: #eeefea; }
tr.group10 > td { background-color: #e8f3dc; }
tr.group11 > td { background-color: #e7f3ea; }
tr.group12 > td { background-color: #dcf3f1; }
tr.group13 > td { background-color: #edf3f2; }
tr.group14 > td { background-color: #e8f1f5; }
tr.group15 > td { background-color: #e2ecf5; }
tr.group16 > td { background-color: #e4e8ec; }
tr.group17 > td { background-color: #e2e7f5; }
tr.group18 > td { background-color: #dfe1eb; }
tr.group19 > td { background-color: #ecebf0; }
tr.group20 > td { background-color: #e8dcef; }
tr.group21 > td { background-color: #f0e8f4; }
tr.group22 > td { background-color: #f5dcf3; }
tr.group23 > td { background-color: #f0e1eb; }
tr.group24 > td { background-color: #f4eef2; }
tr.group25 > td { background-color: #ece8e9; }
tr.group26 > td { background-color: #f4e2e4; }

tr.group0 > td.hi { background-color: #ff0000; }
tr.group1 > td.hi { background-color: #cc0000; }
tr.group2 > td.hi { background-color: #99574d; }
tr.group3 > td.hi { background-color: #ffc8bf; }
tr.group4 > td.hi { background-color: #f26100; }
tr.group5 > td.hi { background-color: #f2aa79; }
tr.group6 > td.hi { background-color: #ffbf40; }
tr.group7 > td.hi { background-color: #999126; }
tr.group8 > td.hi { background-color: #d6e600; }
tr.group9 > td.hi { background-color: #b6bf8f; }
tr.group10 > td.hi { background-color: #7ae600; }
tr.group11 > td.hi { background-color: #73e691; }
tr.group12 > td.hi { background-color: #00e6d6; }
tr.group13 > td.hi { background-color: #ace6e2; }
tr.group14 > td.hi { background-color: #80d5ff; }
tr.group15 > td.hi { background-color: #40a6ff; }
tr.group16 > td.hi { background-color: #537fa6; }
tr.group17 > td.hi { background-color: #4073ff; }
tr.group18 > td.hi { background-color: #263699; }
tr.group19 > td.hi { background-color: #a799cc; }
tr.group20 > td.hi { background-color: #8000bf; }
tr.group21 > td.hi { background-color: #ca79f2; }
tr.group22 > td.hi { background-color: #ff00ee; }
tr.group23 > td.hi { background-color: #cc3399; }
tr.group24 > td.hi { background-color: #f2b6de; }
tr.group25 > td.hi { background-color: #a67c87; }
tr.group26 > td.hi { background-color: #f23d55; }

