{% set menu = "Resource and BIND Metrics" %}  {# Для формирования имени Dashboard. #}

{% extends "../../base/dashboard.j2" %}

{% set oct_cluster = "cloud_" + env + "_oct" %}

{% block parameters %}
{
    "name": "host",
    "value": "oct-{{ zones_by_env[env][0].prefix }}1"
},
{
    "name": "cluster",
    "value": "cloud_{{ env }}"
}
{% endblock %}

{% block rows %}
[
    {{ render_row(title="Memory Consumption (RSS)", cluster=oct_cluster, service="oct_head_cgroup_metrics", query="l.metric_group=Memory&l.host={{host}}&l.metric=rss&graph=auto&stack=true&e=&checks=&min=0") }},
    {{ render_row(title="CPU Consumption", cluster=oct_cluster, service="oct_head_cgroup_metrics", query="l.host={{host}}&l.metric=cpuacct.usage&graph=services_cpu_usage&stack=false&asc=false&downsamplingAggr=max&min=0") }},
    {{ render_row(title="BIND Queries", cluster=oct_cluster, service="oct_named_metrics", query="l.counter_name=Qry*&l.host={{host}}&graph=auto&stack=false&e=&checks=&min=0&transform=differentiate&dropNaN=true&downsampling=byPoints") }},
    {{ render_row(title="BIND Updates", cluster=oct_cluster, service="oct_named_metrics", query="l.counter_name=Update*&l.host={{host}}&graph=auto&stack=true&e=&checks=&min=0&transform=differentiate&dropNaN=true&downsampling=byPoints") }},
    {{ render_row(title="BIND Reconfigs time", cluster=oct_cluster, service="oct_named_reconfig", query="l.timer=reconfig&l.host={{host}}&l.metric=time&graph=auto&downsamplingFill=previous&e=&checks=&min=0&threshold=15&max=20") }}
]
{% endblock %}
