# candidate format (delimited by tab):
# sampleId query region url relevance [ title snippet algoname rank position features [marks assessor timestamp] ]
# position: firstword-lastword* delimited by space (ex: '449-460' or '630-640 795-807')
# features: <name>:<value>* delimited by space
# algonames: Finals, Algo1, Algo2, Algo3_single, Algo3_pairs

# [svmlight]svm_classify, [svmlight]svm_learn 
svmlight = /place/home/nordic/src/SVMLight/
# [matrixnet]matrixnet
matrixnet = /home/mlebedev/LEARNER/
# [liblinear]train, [liblinear]predict
liblinear = /home/mlebedev/LEARNER/

# input file
electfile = ./combined.dat
# output path
resultpath = ./ml/

#<selectTasks section>
task_keys  = 30 | 20 | 10 | 5 | -10
task_values = 5 | 20 | 50 | 20 | 5

#<selectCandidates section>
# maximum candidates for one task
#algo_candidates_count=10
# proportion of tasks with Algo1, Algo2, Algo3_pairs
#algorithm_proportion = 35 | 35 | 30

#learning parameters
cv_folds = 0
cv_times = 0
#algorithms to learn new formula
algorithm = Algo1 | Algo2 | Algo3_pairs
#weight of QueryInformativity, Content, Readability in formula
criteria = 1.0 | 0.15 | 0.8
pool = pool_q4+ | pool_len170q3 | pool_my