Source: yandex-media-common-cassandra-backup
Section: misc
Priority: extra
Maintainer: Pavel Perekalov <pperekalov@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://c.yandex-team.ru/packages/yandex-media-common-cassandra-backup
Vcs-Git: https://github.yandex-team.ru/admins/yandex-media-common-cassandra-backup.git
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-common-cassandra-backup

Package: yandex-media-common-cassandra-backup
Architecture: all
Depends: cassandra, yandex-media-s3cmd, python-boto, python-configparser
Description: Cassandra backup scripts for media services
 Cassandra backup scripts for media services
