{% import "../../base/common.j2" as common with context %}

{% macro requests(colspan=1) -%}
{{ common.render_panel(
    "rps",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-requests") +
        "app={}&".format(app),
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro requests_by_dc(colspan=1) -%}
{{ common.render_panel(
    "rps by dc",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-requests-by-dc") +
        "app={}&".format(app),
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro latency(az, colspan=1) -%}
{{ common.render_panel(
    "Latency " + az.zone,
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-latency") +
        "host=[[host]]&" +
        "zone={}&".format(az.zone) +
        "app={}&".format(app),
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro long_requests(colspan=1) -%}
{{ common.render_panel(
    "api long requests",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-long-requests") +
        "app={}&".format(app) +
        "host=[[host]]",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro errors(colspan=1) -%}
{{ common.render_panel( "api errors",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-errors") +
        "app={}&".format(app) +
        "host=[[host]]",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro client_errors(colspan=1, app="*") -%}
{{ common.render_panel(
    "client errors " + app,
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-client-errors") +
        "app={}&".format(app) +
        "host=[[host]]",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro client_latency(colspan=1, app="*") -%}
{{ common.render_panel(
    "client latency " + app,
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-client-latency") +
        "app={}&".format(app) +
        "host=[[host]]",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro errors_by_method(colspan=1) -%}
{{ common.render_panel( "api errors by method",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-errors-by-method") +
        "app={}&".format(app) +
        "host=[[host]]",
    colspan=colspan,
) }}
{%- endmacro -%}
