{% extends "../../base/dashboard.j2" %}
{% import "../../base/common.j2" as common with context %}

{% macro heap_memory(colspan=1) -%}
{{ render_panel(
    "Heap memory",
    "[[cluster]]", service,
    "graph={}-{}-{}&host=[[host]]&area=heap".format(prefix, env, "jvm-heap"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro non_heap_memory(colspan=1) -%}
{{ render_panel(
    "Non heap memory",
    "[[cluster]]", service,
    "graph={}-{}-{}&host=[[host]]&area=nonheap".format(prefix, env, "jvm-heap"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro all_memory(colspan=1) -%}
{{ render_panel(
    "All memory",
    "[[cluster]]", service,
    "graph={}-{}-{}&host=[[host]]&area=*".format(prefix, env, "jvm-heap"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro threads(colspan=1) -%}
{{ render_panel(
    "Threads",
    "[[cluster]]", service,
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "jvm-threads"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro gc(colspan=1) -%}
{{ render_panel(
    "GC",
    "[[cluster]]", service,
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "jvm-gc"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro open_fds(colspan=1) -%}
{{ render_panel(
    "Open file descriptors",
    "[[cluster]]", service,
        "host=[[host]]&" +
        "sensor=process_open_fds&" +
        "graph=auto",
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro direct_buffers(colspan=1) -%}
{{ render_panel(
    "Direct buffers",
    "[[cluster]]", service,
        "host=[[host]]&" +
        "sensor=jvm_buffer_pool_used_buffers&pool=direct&" +
        "graph=auto",
    colspan=colspan,
)}}
{%- endmacro -%}