{% extends "../../base/dashboard.j2" %}
{% import "../../base/common.j2" as common with context %}

{% macro messages_read(colspan=1) -%}
{{ render_panel(
    "MessagesRead",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-messages-read"),
    "Messages / sec",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro messages_written(colspan=1) -%}
{{ render_panel(
    "MessagesWrittenOriginal",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-messages-written"),
    "Messages / sec",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro max_write_quota_used(colspan=1) -%}
{{ render_panel(
    "PartitionMaxWriteQuotaUsage",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-max-write-quota-used"),
    "percent / minute",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro write_quota_wait(colspan=1) -%}
{{ render_panel(
    "PartitionWriteQuotaWaitOriginal",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-write-quota-wait"),
    "Milliseconds",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro topic_write_quota_wait(colspan=1) -%}
{{ render_panel(
    "TopicWriteQuotaWaitOriginal",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-topic-write-quota-wait"),
    "Milliseconds",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro read_time_lag(colspan=1) -%}
{{ render_panel(
    "ReadTimeLagMs",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-read-time-lag"),
    "Milliseconds",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro time_since_last_read(colspan=1) -%}
{{ render_panel(
    "TimeSinceLastReadMs",
    "yandexcloud_" + env + "_logbroker_global", "",
    "graph={}-{}-{}".format(env, prefix, "logbroker-time-since-last-read"),
    "Milliseconds",
    colspan=colspan,
) }}
{%- endmacro -%}