{% extends "../../base/dashboard.j2" %}
{% import "../../base/common.j2" as common with context %}

{% macro cpu(colspan=1) -%}
{{ render_panel(
    "CPU",
    "[[cluster]]", "sys",
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "system-cpu"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro mem(colspan=1) -%}
{{ render_panel(
    "Memory",
    "[[cluster]]", "sys",
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "system-mem"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro io(colspan=1) -%}
{{ render_panel(
    "IO",
    "[[cluster]]", "sys",
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "system-io"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro disk(colspan=1) -%}
{{ render_panel(
    "Disk",
    "[[cluster]]", "sys",
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "system-disk"),
    colspan=colspan,
)}}
{%- endmacro -%}

{% macro net(colspan=1) -%}
{{ render_panel(
    "Network",
    "[[cluster]]", "sys",
    "graph={}-{}-{}&host=[[host]]".format(prefix, env, "system-net"),
    colspan=colspan,
)}}
{%- endmacro -%}