{% extends "../../base/dashboard.j2" %}
{% import "../../base/common.j2" as common with context %}

{% macro request_errors(colspan=1) -%}
{{ render_panel(
    "YDB request errors",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-client-errors") +
        "host=[[host]]&" +
        "app=ycloud_client&",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro long_execute(colspan=1) -%}
{{ render_panel(
    "YDB long execute",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-long-requests") +
        "host=[[host]]&"
        "app=ycloud_client&" +
        "method=*ExecuteDataQuery&",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro long_prepare(colspan=1) -%}
{{ render_panel(
    "YDB long prepare",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-long-requests") +
        "host=[[host]]&" +
        "app=ycloud_client&" +
        "method=*PrepareDataQuery&",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro long_commit(colspan=1) -%}
{{ render_panel(
    "YDB long commit",
    "[[cluster]]", service,
        "graph={}-{}-{}&".format(prefix, env, "grpc-long-requests") +
        "host=[[host]]&" +
        "app=ycloud_client&" +
        "method=*CommitTransaction&",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro ydb_errors(colspan=1) -%}
{{ render_panel_raw(
    "YDB errors (" + env + ")",
        "/?project=kikimr&" +
        "cluster=" + ydb_cluster + "&" +
        "service=kqp&" +
        "host=cluster&" +
        "slot=cluster&" +
        "database=" + ydb_database + "&" +
        "graph=kikimr-kqp-response-count-perdatabase&" +
        "checks=-Success",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro tli_errors(colspan=1) -%}
{{ render_panel(
    "TLI errors",
    "[[cluster]]", service,
        "graph={}-{}-{}&host=[[host]]&".format(prefix, env, "ydb-tx-retries") +
        "tx_name=*&" +
        "reason=OptimisticLock",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro other_tx_retries(colspan=1) -%}
{{ render_panel(
    "Other tx retries",
    "[[cluster]]", service,
        "graph={}-{}-{}&host=[[host]]&".format(prefix, env, "ydb-tx-retries") +
        "tx_name=*&" +
        "reason=!OptimisticLock",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro tli_by_tx(colspan=1) -%}
{{ render_panel(
    "TLI by tx",
    "[[cluster]]", service,
        "graph={}-{}-{}&host=[[host]]&".format(prefix, env, "ydb-tx-retries-by-tx-name") +
        "tx_name=*&" +
        "reason=OptimisticLock",
    colspan=colspan,
) }}
{%- endmacro -%}

{% macro other_retries_by_tx(colspan=1) -%}
{{ render_panel(
    "Other tx retries by tx",
    "[[cluster]]", service,
        "graph={}-{}-{}&host=[[host]]&".format(prefix, env, "ydb-tx-retries-by-tx-name") +
        "tx_name=*&" +
        "reason=!OptimisticLock",
    colspan=colspan,
) }}
{%- endmacro -%}