{% set env_name = ylb_name_overrides.get(env, env) %}
{% set graph_prefix = project_id + "-ylb-" + env_name %}

{% macro render_panel(graph, qs, description="", subtitle="") %}
{
	"type": "IFRAME",
	"title": "{{ graph }}",
	"subtitle": "{{ subtitle }}",
	"url": "/?cluster=[[cluster]]&project={{ project_id }}&{{ qs }}&host=[[host]]&graph={{ graph_prefix }}-{{ graph }}",
	"markdown": "",
	"rowspan": 0,
	"colspan": 0
}
{% endmacro %}

{
    "id": "{{ id }}",
    "projectId": "{{ project_id }}",
    "name": "{{ name }}",
	"description": "",
    "heightMultiplier": 1,
    "parameters": [
		{
			"name": "cluster",
			"value": "cloud_{{ env }}_ylb"
		},
		{
			"name": "service",
			"value": "*"
		},
		{
			"name": "env",
			"value": "{{ env }}"
		},
		{% block parameters %}{% endblock %}
	],
    "rows": {% block rows %}[]{% endblock %}
}
