{% extends "base-dashboard.json.j2" %}

{% block parameters %}
{
	"name": "host",
	"value": "hc-ctrl-*"
}
{% endblock %}

{% block rows %}
[
	{
		"panels": [
			{{ render_panel(graph="grpc-server-success-fail", qs="service=healthcheck_ctrl&env={{env}}&dc=*&code=-") }},
			{{ render_panel(graph="grpc-server-timings", qs="service=healthcheck_ctrl&env={{env}}&dc=*&code=*&bin=*", subtitle="ms") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="app-ydb-per-request-timings", qs="service=healthcheck_ctrl&env={{env}}&dc=*&name=ydb_*", subtitle="s") }},
			{{ render_panel(graph="app-ydb-per-request-qps", qs="service=healthcheck_ctrl&env={{env}}&dc=*&name=ydb_*", subtitle="s") }},
			{{ render_panel(graph="app-ydb-errors", qs="service=healthcheck_ctrl&env={{env}}") }},
			{{ render_panel(graph="app-ydb-tx-retries", qs="service=healthcheck_ctrl&env={{env}}&host=hc-ctrl*&dc=*&tx_isolation=*") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="golang-gc", qs="service=healthcheck_ctrl&env={{env}}") }},
			{{ render_panel(graph="golang-goroutines", qs="service=healthcheck_ctrl&env={{env}}") }},
			{{ render_panel(graph="golang-heap", qs="service=healthcheck_ctrl&env={{env}}") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="system-cpu", qs="service=sys") }},
			{{ render_panel(graph="system-mem", qs="service=sys") }},
			{{ render_panel(graph="system-io", qs="service=sys") }},
			{{ render_panel(graph="system-disk", qs="service=sys") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="hc-ctrl-log-errors", qs="service=clickphite") }},
			{{ render_panel(graph="oom-count", qs="service=juggler-events&metric=oom-count") }},
			{{ render_panel(graph="reboot-count", qs="service=juggler-events&metric=reboot-count") }}
		]
	}
]
{% endblock %}
