{% extends "base-dashboard.json.j2" %}

{% block parameters %}
{
	"name": "service",
	"value": "logsync"
},
{
	"name": "host",
	"value": "*"
}
{% endblock %}

{% block rows %}
[
	{
		"panels": [
			{{ render_panel(graph="logsync-reader-lag", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-reader-sync", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-reader-marshal", qs="service=logsync&env={{env}}") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="logsync-pushclient-inflight", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-pushclient-transfer", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-pushclient-contention", qs="service=logsync&env={{env}}") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="logsync-procfs-cpu", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-procfs-mem", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-procfs-files", qs="service=logsync&env={{env}}") }}
		]
	},
	{
		"panels": [
			{{ render_panel(graph="logsync-procfs-io", qs="service=logsync&env={{env}}") }},
			{{ render_panel(graph="logsync-procfs-syscall", qs="service=logsync&env={{env}}") }}
		]
	}
]
{% endblock %}
