{
  "id": "{{ id }}",
  "projectId": "{{ project_id }}",
  "name": "{{ name }}",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cluster",
      "value": "cloud_{{ env }}_ylb"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "YDB lbctrl timings sec",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&project={{ project_id }}&service=loadbalancer_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-ydb-per-request-timings&env={{env}}&dc=*&name=ydb_*&host=lb-ctrl-*",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "YDB hc-ctrl timings sec",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&project={{ project_id }}&service=healthcheck_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-ydb-per-request-timings&env={{env}}&dc=*&name=ydb_*&host=hc-ctrl-*",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Health check timings",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=healthcheck_node&graph={{ project_id }}-ylb-{{ env }}-hcnode-check-timings",
          "markdown": "",
          "rowspan": 1,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "LB node messages",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=loadbalancer_node&graph={{ project_id }}-ylb-{{ env }}-lbnode-lbctrl",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "YDB lbctrl errors",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&project={{ project_id }}&service=loadbalancer_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-ydb-errors",
          "markdown": "",
          "rowspan": 0,
          "colspan": 1
        },
        {
          "type": "IFRAME",
          "title": "YDB hcctrl errors",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&project={{ project_id }}&service=healthcheck_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-ydb-errors",
          "markdown": "",
          "rowspan": 0,
          "colspan": 1
        },
        {
          "type": "IFRAME",
          "title": "GoBGP timings",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_ylb&service=loadbalancer_node&graph={{ project_id }}-ylb-{{ env }}-lbnode-gobgp-timings",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "VPP rules by node",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=loadbalancer_node&graph={{ project_id }}-ylb-{{ env }}-lbnode-vpp",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "LB-ctrl memory",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=loadbalancer_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-memory",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HC-ctrl memory",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=healthcheck_ctrl&graph={{ project_id }}-ylb-{{ env }}-app-memory",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HC-node memory",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=healthcheck_node&graph={{ project_id }}-ylb-{{ env }}-app-memory",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "LB-node memory",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_ylb&dc=sas&env={{ env }}&project={{ project_id }}&service=loadbalancer_node&graph={{ project_id }}-ylb-{{ env }}-app-memory",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ]
}
