{
    "id": "{{ id }}",
    "projectId": "{{ project_id }}",
    "name": "{{ name }}",
    "description": "",
    "heightMultiplier": 1,
    "parameters": [
      {
        "name": "cluster",
        "value": "cloud_{{ env }}_ylb"
      }
    ],
    "rows": [
        {
            "panels": [
                {
                    "type": "IFRAME",
                    "title": "Ingress bytes, Mbits/s",
                    "subtitle": "",
                    "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=billbro&graph={{ project_id }}-ylb-{{ env }}-vip-traffic-per-dc&balancer_id=all&ip=all&folder_id=all",
                    "markdown": "",
                    "rowspan": 0,
                    "colspan": 0
                },
                {
                    "type": "IFRAME",
                    "title": "Ingress packets",
                    "subtitle": "",
                    "url": "/?cluster=cloud_{{ env }}_ylb&env={{ env }}&project={{ project_id }}&service=billbro&graph={{ project_id }}-ylb-{{ env }}-vip-traffic-packets-per-dc",
                    "markdown": "",
                    "rowspan": 0,
                    "colspan": 0
                }
            ]
        },
        {
            "panels": [
                {
                    "type": "IFRAME",
                    "title": "Egress bytes, Mbits/s",
                    "subtitle": "",
                    "url": "/?cluster=cloud_{{ env }}_cloudgate&env={{ env }}&project={{ project_id }}&service=cloudgate&graph={{ project_id }}-ylb-{{ env }}-dataplane-vpp-vip-egress",
                    "markdown": "",
                    "rowspan": 0,
                    "colspan": 0
                }
            ]
        }
    ]
}
