{
  "id": "{{ id }}",
  "projectId": "{{ project_id }}",
  "name": "{{ name }}",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cluster",
      "value": "cloud_{{ env }}_ylb"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "API Timings (MYT)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-timings",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "API Timings (SAS)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-timings",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "API Timings (VLA)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-timings",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "API codes (MYT)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "API Errors (MYT)",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_head_myt&project={{ project_id }}&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls-wo-200",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "API codes (SAS)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "API Errors (SAS)",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_head_sas&project={{ project_id }}&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls-wo-200",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "API codes (VLA)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "API Errors (VLA)",
          "subtitle": "",
          "url": "/?cluster=cloud_{{ env }}_head_vla&project={{ project_id }}&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-calls-wo-200",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Ошибки 5xx в MYT",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Доля 5хх в MYT",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors-test",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Ошибки 5xx в SAS",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Доля 5хх в SAS",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors-test",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Ошибки 5xx во VLA",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Доля 5хх во VLA",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-errors-test",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "KiKiMR block errors (MYT)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-kikimr-query-block-error-types",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "KiKiMR block errors (SAS)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-kikimr-query-block-error-types",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "KiKiMR block errors (VLA)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-kikimr-query-block-error-types",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Compeleted and failed operations (MYT)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-task-operations",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "Compeleted and failed operations (SAS)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_sas&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-task-operations",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        },
        {
          "type": "IFRAME",
          "title": "Compeleted and failed operations (VLA)",
          "subtitle": "",
          "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_vla&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-task-operations",
          "markdown": "",
          "rowspan": 0,
          "colspan": 2
        }
      ]
    },
    {
        "panels": [
            {
              "type": "IFRAME",
              "title": "Balancers",
              "subtitle": "",
              "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-balancers-count",
              "markdown": "",
              "rowspan": 0,
              "colspan": 2
            },
            {
              "type": "IFRAME",
              "title": "Transitional objects",
              "subtitle": "",
              "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-transitional-count",
              "markdown": "",
              "rowspan": 0,
              "colspan": 2
            },
            {
              "type": "IFRAME",
              "title": "All objects",
              "subtitle": "",
              "url": "/?project={{ project_id }}&cluster=cloud_{{ env }}_head_myt&service=internals&graph={{ project_id }}-ylb-{{ env }}-api-objects-count",
              "markdown": "",
              "rowspan": 0,
              "colspan": 2
            }
        ]
    }
  ]
}
