{%- set hostname = grains['nodename'] %}
{%- set host_roles = grains['cluster_map']['hosts'][hostname]['roles'] -%}
{%- set host_tags = grains['cluster_map']['hosts'][hostname]['tags'] -%}
[Service]
{%- for _, iface in phyifaces.iteritems() %}
ExecStartPre=/usr/bin/python {% if 'cgw-nat' in host_roles or 'cgw-dc' in host_tags %}/opt/vpp/external/x86_64{% else %}/usr{% endif %}/share/dpdk/usertools/dpdk-devbind.py -b {{ iface['module'] }} {{ iface ['pciid'] }}
{%- endfor %}
