{%- set hostname = grains['nodename'] %}
{%- set host_tags = salt['grains.get']('cluster_map:hosts:%s:tags' % hostname) %}
[Unit]
{%-if 'bgp2vpp' in host_tags %}
BindsTo=gobgp.service bgp2vpp.service yavpp-configured.service
{% else %}
BindsTo=gobgp.service go2vpp.service yavpp-configured.service
{% endif %}
Wants=yavpp-stats.service
StartLimitInterval=15min
StartLimitBurst=5

[Service]
Restart=always
RestartSec=80
