[Unit]
Description=MDB disklock
Requires=network.target
Requires=network-online.target
Before=basic.target
DefaultDependencies=no

[Service]
Type=forking
ExecStart=/opt/yandex/mdb-disklock/mdb-disklock start --config /opt/yandex/mdb-disklock/mdb-disklock.yaml --loglevel debug
ExecStop=/opt/yandex/mdb-disklock/mdb-disklock stop --config /opt/yandex/mdb-disklock/mdb-disklock.yaml --loglevel debug
Restart=on-failure
RestartSec=5
TimeoutStartSec=30
TimeoutStopSec=30
RemainAfterExit=true

[Install]
RequiredBy=basic.target
