Source: config-monrun-cert-check
Section: misc
Priority: optional
Maintainer: Kirill Zhalnin <kiwi@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.9.2
Vcs-Svn: https://svn.yandex.ru/corba-configs/trunk/config-monrun-cert-check

Package: config-monrun-cert-check
Architecture: all
Depends: ${misc:Depends}, openssl
Description: check certificates in /etc/yandex-certs or from running SSL service
