#page {
    width: 400px;
    padding: 15px;
}
form label {
    display: block;
    line-height: 30px;
}
fieldset {
    border: 1px solid #ebebeb;
    padding: 15px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding-top: 8px;
}
.error {
    color: red;
}
.greeting {
    color: green;
}
#top-menu {
    padding-bottom: 10px;
    margin-bottom: 18px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}
#top-menu a, #top-menu span {
    margin-left: 10px;
    text-decoration: none;
}
#top-menu a:not(:first-child):before, #top-menu span:not(:first-child):before {
    content: "|";
    padding-right: 10px;
}
#top-menu a {
    color: blue;
}
#top-menu a.active {
    text-decoration: none;
    pointer-events: none;
    color: initial;
}