{% import_yaml slspath + "/defaults.yaml" as java_keytool %}

# Merge defaults with pillar, override defaults by pillar
{% set java_keytool = salt["pillar.get"]("java_keytool", java_keytool, merge=True) %}
