.ShipmentItem {}

.ShipmentItem-CommandArguments {
    list-style-type: square;
}

.ShipmentItem-CommandType {
    font-style: italic;
}

.ShipmentItem-CommandList {
    list-style-type: none;
}


td.shipment-commands {
    max-width: 300px;
}
