Source: yandex-media-common-hbf-agent-lxctl-plugin
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2

Package: yandex-media-common-hbf-agent-lxctl-plugin
Architecture: all
Depends: yandex-media-common-upstart-modules-init
Conflicts: yandex-media-common-hbf-agent
Replaces: yandex-media-common-hbf-agent
Description: lxctl plugin for HBF
 Conflicts with yandex-media-common-hbf-agent because
 replaces /etc/yandex-hbf-agent/yandex-hbf-agent.conf
 monitoring from yandex-media-common-hbf-agent
 Source of pkg here: https://github.yandex-team.ru/admins/yandex-media-common-hbf-agent-lxctl-plugin
