{% extends "../../../base/alert.j2" %}

{% set idc="api-non-200-responses" %}
{% set description="Alarm if there are non-200 responses" %}

{% set windowSecs=60 %}
{% set delaySecs=0 %}

{% block main %}
    "name": "[API] Non-200 responses",
    "groupByLabels": [
        "cluster",
        "host"
	],
    "annotations": {
        "host": "[[labels.host]]",
        "cluster": "[[labels.cluster]]",
        "service": "api-non-200-responses",
        "graph": "{{ solomon_endpoint }}/?project={{ project_id }}&cluster=[[labels.cluster]]&service=api&l.host=[[labels.host]]&l.name=http_requests_total&l.status=!2*&graph=auto&l.handler=SUMMARY&hideNoData=true&b=1d&e="
    },
    "type": {
        "threshold": {
            "selectors": "{project='cloud_mr_prober', cluster='*', service='api', host='*', name='http_requests_total', status!='2*', handler='SUMMARY'}",
            "timeAggregation": "MAX",
            "predicate": "GT",
            "threshold": 0,
            "predicateRules": [
                {
                    "thresholdType": "MAX",
                    "comparison": "GT",
                    "threshold": 0,
                    "targetStatus": "ALARM"
                }
            ]
        }
    }
{% endblock %}
