{
  "id": "{{ config_name }}",
  "projectId": "{{ project_id }}",
  "name": "{{ config_name }}",
{% raw %}
  "notifyAboutStatuses": [
    "OK",
    "ERROR",
    "ALARM",
    "WARN"
  ],
  "repeatNotifyDelayMillis": 0,
  "isDefault": false,
  "method": {
    "juggler": {
      "host": "{{{annotations.host}}}",
      "service": "{{{annotations.service}}}",
      "instance": "",
      "description": "",
      "tags": [
        "{{{annotations.tags}}}"
      ]
    }
  }
}
{% endraw %}