{# set telegram login to yours during release #}

{
  "id": "bootstrap-diff",
  "projectId": "{{ project_id }}",
{% raw %}
  "name": "bootstrap-diff",
  "version": 2,
  "notifyAboutStatuses": [
    "ALARM", "OK"
  ],
  "repeatNotifyDelayMillis": 0,
  "method": {
    "telegram": {
      "login": "intar",
      "textTemplate": "Alert {{alert.name}} is now in {{alert.state}} state. Code {{status.code}}
{{annotations.details}})",
      "sendScreenshot": false
    }
  }
}
{% endraw %}
