{
  "id": "juggler",
  "projectId": "{{ project_id }}",
{% raw %}
  "name": "juggler",
  "version": 1,
  "notifyAboutStatuses": [
    "ALARM",
    "ERROR",
    "WARN",
    "OK"
  ],
  "repeatNotifyDelayMillis": 0,
  "createdBy": "",
  "updatedBy": "",
  "method": {
    "juggler": {
      "host": "{{{annotations.host}}}",
      "service": "{{{annotations.service}}}",
      "description": "",
      "tags": [
        "{{{annotations.tags}}}"
      ]
    }
  }
}
{% endraw %}
