{# set telegram login to yours during release #}

{
  "id": "vrouter-release",
  "projectId": "{{ project_id }}",
{% raw %}
  "name": "vrouter-release",
  "version": 2,
  "notifyAboutStatuses": [
    "ALARM"
  ],
  "repeatNotifyDelayMillis": 0,
  "method": {
    "telegram": {
      "login": "sklyaus",
      "textTemplate": "Alert {{alert.name}} is now in {{alert.state}} state. Code: {{status.code}} (details: {{labels}}). Telegram notification channel works in test mode.",
      "sendScreenshot": false
    }
  }
}
{% endraw %}
