[Unit]
Description=Apache Kafka Connect worker
Documentation=https://kafka.apache.org/documentation/#connect
Requires=kafka.service
After=kafka.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment=LOG_DIR='/var/log/kafka'
Environment=KAFKA_LOG4J_OPTS='-Dlog4j.configuration=file:/etc/kafka-connect/connect-log4j.properties'
ExecStart=/opt/kafka/bin/connect-distributed.sh /etc/kafka-connect/worker.properties
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
