{% load lib.templatetags %}
{% if data %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Count</th>
      <th>No read</th>
      <th>No write {{ agg_type }}</th>
      <th>Readable</th>
      <th>Writable</th>
      <th>Userfault broken</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data|dictsort:"count" %}
    <tr>
      <td>{{ item.count }}</td>
      <td>{{ item.no_read_count }}</td>
      <td>{{ item.no_write_count }}</td>
      <td>{{ item.readable|bool_label }}</td>
      <td>{{ item.writable|bool_label }}</td>
      <td>{{ item.userfaultBroken|bool_label }}</td>
      <td>{% include "main/includes/tools/health_ua_examples_link.html" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">&ndash;</div>
{% endif %}
