{% if data  %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Count</th>
      <th>Geo</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data|dictsort:"geo" %}
    <tr>
      <td>{{ item.count }}</td>
      <td>{{ item.geo|upper}}</td>
      <td>{% include "main/includes/tools/health_ua_examples_link.html" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="noodle-box">&ndash;</div>
{% endif %}
