{% if data %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Count</th>
      <th>Status</th>
      <th>Examples</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data|dictsort:"status" %}
    <tr>
      <td>{{ item.count }}</td>
      <td><span class="label backstage-label backstage-meta-host-status-{{ item.status|lower }}">{{ item.status }}</span></td>
      <td>{% include "main/includes/tools/health_ua_examples_link.html" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="noodle-box">&ndash;</div>
{% endif %}
