<config>
    <configuration>
        <routing-options>
            <flow operation="replace">
                {% for flow_name, flow_data in flows.items() %}
                <route> 
                    <name>{{ flow_name }}</name>
                    <match>
                        {% for source_name, source_data in flow_data.items() %}
                        {% if source_name == "destination" or source_name == "source" %}
                        <{{ source_name }}>{{ source_data }}</{{ source_name }}>
                        {% elif source_name == "protocol" or source_name == "source-port" or source_name == "destination-port" %}
                        {% for element in source_data %}
                        <{{ source_name }}>{{ element }}</{{ source_name }}>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </match>
                    <then>
                        {% if flow_data.action is defined  and ( flow_data.action == "accept" or flow_data.action == "discard" ) %}
                        <{{ flow_data.action  }}/>
                        {% else %}
                        <discard/>
                        {% endif %}
                    </then>
                </route> 
                {% endfor %}
                <term-order>standard</term-order>
            </flow>
        </routing-options>
    </configuration>
</config>
