.service-audit
{
    position: relative;

    width: 100%;
    box-sizing: border-box;

    overflow: auto;
    padding: 20px;

    &__header
    {
        height: 30px;
        display: flex;
        align-items: baseline;
    }

    &__filters
    {
        margin-left: auto;
    }
}
