{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Audit{% endblock %}
{% block objects_model_label %}Records{% endblock %}

{% block objects_table %}
{% if no_database %}
<div class="noodle-box">
  <div class="alert alert-warning noodle-alert" role="alert">Audit log is disabled due to configuration</div>
</div>
{% else %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-sortable">
    <thead>
      <tr>
        <th>Datetime</th>
        <th>Username</th>
        <th>Message</th>
        <th>Comment</th>
        <th>Type</th>
        <th>Action</th>
        <th>Object</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr>
        <td data-order='{{ obj.datetime|date:"Uu" }}'>
          <span style="font-size: 12px">{{ obj.datetime|date:'Y.m.d' }}</span><br>
          <span style="font-size: 10px">{{ obj.datetime|date:'H:i:s .u' }} {% age_span obj.datetime %}</span>
        </td>
        <td>{{ obj.username|yauser_link_format }}</td>
        <td>{{ obj.message }}</td>
        <td>{{ obj.user_comment|dash_if_not }}</td>
        <td>{{ obj.obj_app }}/{{ obj.obj_model }}</td>
        <td>{{ obj.obj_action|dash_if_not }}</td>
        <td><a href="/ui/{{ obj.obj_app }}/{{ obj.obj_model }}/{{ obj.obj_pk }}">{{ obj.obj_pk }}&nbsp;{% simple_copy obj.obj_pk %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endif %}
{% endblock %}
