{% load main.templatetags %}
{% load lib.templatetags %}

{% for service in services %}
<div class="col-lg-6" style="margin-top: 10px; padding-left: 0px; padding-right: 5px; margin-left:0px; margin-right: 0px;">
  <div class="noodle-tile">
    <label class="backstage-dashboard-label">{{ service.name|gore_name }}</label>
    <div class="pull-right">{% gore_image service.name %}</div>
    <br>
    {% if service.primary %}
      <span class="gray">prim &gt;</span> {{ service.primary|yauser_link_format }}
    {% else %}
      &ndash;
    {% endif %}
    <br>
    {% if service.backup %}
      <span class="gray">back &gt;</span> {{ service.backup|yauser_link_format }}
    {% else %}
      &ndash;
    {% endif %}
    <br>
    {% if service.lead %}
      <span class="gray">lead &gt;</span> {{ service.lead|yauser_link_format }}
    {% else %}
      &ndash;
    {% endif %}
    <br>
  </div>
</div>
{% endfor %}
