{% load lib.templatetags %}
{% load meta.templatetags %}
{% if tasks %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Task</th>
      <th>Cluster</th>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in tasks %}
    <tr>
        <td>{{ obj.self_link_c }}</td>
        <td>{% cluster_image obj.cluster.type %} {{ obj.cluster.self_link_c }}</td>
        <td>{{ obj.cluster.name }}</td>
        <td>{% cluster_ui_status obj.cluster %}</td>
        <td>{{ obj.task_type }}</td>
        <td>{% dt_formatted obj.create_ts True %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
&ndash;
{% endif %}
<script>
let selector = $('#failed_tasks_icon');
selector.removeClass('far')
selector.removeClass('fa-question-circle')
{% if tasks %}
selector.addClass('fas')
selector.addClass('fa-exclamation-triangle')
selector.addClass('red')
{% if count != total %}
  let value = '{{ count }} / {{ total }}'
  let link = '<a href="/ui/main/dashboard?show_all_failed_tasks=true" style="font-size:12px;">...show all</a>'
{% else %}
  let link = ''
  let value = '{{ count }}'
{% endif %}
html = `<span class="badge noodle-tab-badge">${value}</span> ${link}`
$("#failed_tasks_count").html(html)
{% else %}
selector.addClass('far')
selector.addClass('fa-check-circle')
selector.addClass('green')
{% endif %}
</script>
