{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Stats{% endblock %}
{% block objects_model_label %}Maintenance tasks{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if maintenance_tasks %}
  <table class="table table-hover noodle-table noodle-table-sortable">
    <thead>
      <tr>
        <th>Component</th>
        <th>Environment</th>
        <th>Status</th>
        <th>Config ID</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    {% for task in maintenance_tasks %}
      <tr>
        <td>{{ task.component }}</td>
        <td>{{ task.env }}</td>
        <td>{{ task.status|default_label }}</td>
        <td>{{ task.config_id }}</td>
        <td data-order="{{ task.count }}"><a href="/ui/meta/maintenance_tasks?status={{ task.status }}&config_id={{ task.config_id }}&cluster_env={{ task.env }}&cluster_component={{ task.component }}">{{ task.count }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
