{% extends "lib/ajax/objects_list.html" %}

{% block objects_app_label %}Stats{% endblock %}
{% block objects_model_label %}Versions{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if versions %}
  <table class="table table-hover noodle-table noodle-table-sortable">
    <thead>
      <tr>
        <th>Component</th>
        <th>Major version</th>
        <th>Minor version</th>
        <th>Edition</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    {% for version in versions %}
      <tr>
        <td>{{ version.component }}</td>
        <td>{{ version.major_version }}</td>
        <td>{{ version.minor_version }}</td>
        <td>{{ version.edition }}</td>
        <td><a href="/ui/meta/clusters?component={{ version.component }}&major_version={{ version.major_version }}&minor_version={{ version.minor_version }}&status={{ cluster_active_statuses|join:"," }}&edition={{ version.edition }}">{{ version.count }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
