{% load tz %}
<div class="row">
  <nav class="navbar navbar-default noodle-object-navbar">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><span class="noodle-label">Main <span class="noodle-bread-delim">/</span> User profile <span class="noodle-bread-delim">/</span> {{ request.iam_user.login }}</li>
      </ul>
      {% if not no_database %}
      <ul class="nav navbar-nav navbar-right action-buttons-panel">
        <li>
          <button class="btn btn-primary btn-sm backstage-action-button" onClick="save_profile()")>Save profile</button>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="noodle-box">
    {% if not no_database %}
    {% with filter_object_name='user_profile_object' %}
       <table class="table table-borderless noodle-details-table">
        <tr>
          <th>Theme</th>
          <td>
            <div class="radio radio-inline">
              <input type="radio" name="theme" id="theme_light" value="light" {% if request.iam_user.profile.theme == "light" %}checked{%endif %} data-noodle-filter-type='radio-group' data-noodle-filter-object-name='{{ filter_object_name }}' data-noodle-filter-key='theme'><label for="theme_light">Light</label>
            </div>
            <div class="radio radio-inline">
              <input type="radio" name="theme" id="theme_dark" value="dark" {% if request.iam_user.profile.theme == "dark" %}checked{%endif %} data-noodle-filter-type='radio-group' data-noodle-filter-object-name='{{ filter_object_name }}' data-noodle-filter-key='theme'><label for="theme_dark"><span class="red">β</span> Dark</label>
            </div>
          </td>
        </tr>
        <tr>
          <th>Timezone</th>
          <td>
            <select id="select_timezone" name="timezone">
              {% for zone in timezones %}
              <option value="{{ zone }}" {% if zone == request.iam_user.profile.timezone %}selected{% endif %}>{{ zone }} [{{ now|timezone:zone|date:"Y-m-d H:m:s" }}]</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
    {% endwith %}
    {% else %}
    <div class="noodle-box">
      <div class="alert alert-warning noodle-alert" role="alert">User profile is disabled due to configuration</div>
    </div>
    {% endif %}
    </div>
  </div>
</div>
<script>
$('#select_timezone').select2();
init_filter();
</script>

