---
data:
    ssh_public_keys: ['ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAAiZfTOg4ZNw63R3aATOlI51z53u7E+tNjAnsEFypm2tDTNoXhJ5upAnL2JkCRv430dNSpOAn+2x9TiWZPee0iKPgFoV/4SUf0bhycYIWpUKfwGdB33NOKOEsgt+y7CkqTUYSTctRAOZiKfV/1ONeIDkX01L04cqY5b5smBILz/jiwRbg== schizophrenia@schizophrenia-2', 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGYzPYdBoaNh0LRfsB7dEV0daxiJnCkfConA11sq3JwU94ppqOBEZVXHI05Oqua9qEhVMn7DAM0Nl4I+A4Gre5dZ4Mx7pbDB2ZEKMbStIejyaq6TR/YAPjbxn7k7aJ+y3Peq7Dw8XzYUrVu+vU2/lwfNYp6dRUKWBvZbExVUpad3vbjK6LQCkD5rI9VytgK2tmx5WGZbicUoDFe2PFvRbfMLqwDsnkCd/SwVr0i/Z2UfxziQJEqqH/YXH1+s7NATENfkPGQBcWqwofBzC4zHf34VQ+Dctbi2XOdVHwkL33kc1V00Rtv950z8sF9wxVul/eUtiZkT+KQk9bqHPIgHlp vksenz@yandex-team.ru']
    services:
        - hdfs
        - yarn
        - mapreduce
        - hive
        - hbase
        - zookeeper
        - sqoop
        - zeppelin
        - tez
        - flume
        - spark
        - oozie
    presetup: true
    properties:
        hdfs:
            dfs.namenode.https-address: {{masternode}}:9872
    topology:
        subclusters:
            master-subcluster:
                name: mastersubcluster
                role: hadoop_cluster.masternode
                hosts: [{{masternode}}]
            data-subcluster1:
                name: datasubcluster
                role: hadoop_cluster.datanode
                hosts: [{{datanodes}}]
            compute-subcluster1:
                name: compute1
                role: hadoop_cluster.computenode
                hosts: [{{computenodes}}]
