[Unit]
Description=Logdaemon - daemon for yasm/solomon metrics parsing
After=network.target auditd.service

[Service]
Type=forking
PIDFile=/var/run/logdaemon/logdaemon.pid
User=s3proxy
Group=s3proxy
ExecStart=/usr/local/bin/logdaemon.py -c /etc/logdaemon/config.yaml
ExecReload=/bin/kill -HUP $MAINPID
ExecReload=/usr/local/bin/logdaemon.py -c /etc/logdaemon/config.yaml
ExecStop=/bin/kill -9 $MAINPID
KillMode=process
Restart=always


[Install]
WantedBy=multi-user.target
Alias=logdaemon.service
