{% load lib.templatetags %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>FQDN</th>
      <th>Flavor</th>
      <th>Space limit</th>
      <th>Vtype ID </th>
      <th>Geo</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for host in hosts %}
    <tr>
      <td>{{ host.self_link_c }}</td>
      <td>{{ host.flavor.self_link_c }}</td>
      <td>{{ host.space_limit|filesizeformat|pretty_fsf }}</td>
      <td>{{ host.vtype_id|dash_if_not }}</td>
      <td>{{ host.geo.name }}</td>
      <td>{% dt_formatted host.created_at %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
