{% load lib.templatetags %}
{% if changes %}
<div class="col-lg-24">
<table class="table noodle-table">
  <thead>
    <th>Prev&nbsp;revison</th>
    <th>Rev</th>
    <th>Change</th>
  </thead>
  <tbody>
    {% for rev, change in changes reversed %}
    <tr>
      <td style="font-size: 18px; font-weight: 300;">{{ rev|add:"-1" }}</td>
      <td style="font-size: 18px; font-weight: 300;">{{ rev }}</td>
      <td>
        {% pillar_change change rev %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
