[Unit]
Description=Secret Key Manager (skm) -- decrypt step
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=60
ExecStartPre=/usr/bin/wait-metadata.sh
ExecStart=/usr/bin/skm decrypt --config /etc/skm.yaml
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
