#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/config-logster-weather-dfront/etc/logster/
	mkdir -p debian/config-logster-weather-dfront/etc/cron.d/
	cp logster-weather.conf debian/config-logster-weather-dfront/etc/logster/logster-weather.conf
	cp logster-weather.cron debian/config-logster-weather-dfront/etc/cron.d/logster-weather

%:
	dh $@

