{
  "id": "<< id_prefix >>-auto-spi-health-<< db >>-ha-clusters-dt",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-auto-spi-health-<< db >>-ha-clusters-dt",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/health/auto-spi-ha-clusters-dt-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "mdb_<< db >>_<< env_name >>_vhost_auto_spi",
    "service": "mdb-<< db >>-health"
  },
  "periodMillis": 300000,
  "delaySecs": 10,
  "description": "",
  "version": 1
}
