{
  "id": "<< id_prefix >>-health-<< db >>-ha-clusters-dt",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-health-<< db >>-ha-clusters-dt",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "let ro = max(group_lines('sum',{cluster=\"<< health.get("cluster") >>\", service=\"<< health.get("service") >>\", name=\"mdb_health_sla_clusters_<< db >>_rw_*_dbtotal_ammv\", node=\"master\", dc=\"by_node\"}) - group_lines('sum', {service=\"<< health.get("service") >>\", name=\"mdb_health_sla_clusters_<< db >>_rw_*_dbbroken_ammv\", node=\"master\", dc=\"by_node\"}) - group_lines('sum', {cluster=\"<< health.get("cluster") >>\", service=\"<< health.get("service") >>\", name=\"mdb_health_sla_clusters_<< db >>_rw_*_dbread_ammv\", node=\"master\", dc=\"by_node\"}));\n\nlet is_red = ro > 0;\n\nalarm_if(is_red);",
      "checkExpression": "is_red"
    }
  },
  "annotations": {
    "description": "DT - {{expression.ro}}",
    "value": "{{expression.ro}}",
    "host": "mdb_<< db >>_<< env_name >>_vhost",
    "service": "mdb-<< db >>-health"
  },
  "periodMillis": 60000,
  "delaySecs": 10,
  "description": "",
  "version": 1
}
