{
  "id": "<< id_prefix >>-health-<< sharded_db >>-nonha-shards-dt",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >>-health-<< sharded_db >>-nonha-shards-dt",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "let dt = max(group_lines('sum',{cluster=\"<< health.get("cluster") >>\", service=\"<< health.get("service") >>\", name=\"mdb_health_shards_<< sharded_db >>_rw_*_dbtotal_ammv\", node=\"master\", dc=\"by_node\"}) - group_lines('sum', {cluster=\"<< health.get("cluster") >>\", service=\"<< health.get("service") >>\", name=\"mdb_health_shards_<< sharded_db >>_rw_*_dbread_ammv\", node=\"master\", dc=\"by_node\"}));\n\nlet total = max(group_lines('sum',{cluster=\"<< health.get("cluster") >>\", service=\"<< health.get("service") >>\", name=\"mdb_health_shards_<< sharded_db >>_rw_*_dbtotal_ammv\", node=\"master\", dc=\"by_node\"}));\n\nlet is_red = dt/total > 0.05;\nalarm_if(is_red);\nwarn_if(dt>0);",
      "checkExpression": "is_red"
    }
  },
  "annotations": {
    "description": "DT - {{expression.dt}}/{{expression.total}}",
    "value": "{{expression.dt}}",
    "host": "mdb_<< sharded_db >>_<< env_name >>_vhost",
    "service": "mdb-<< sharded_db >>-health"
  },
  "periodMillis": 60000,
  "delaySecs": 10,
  "description": "",
  "version": 1
}
