icecream:
  agent:
    enabled: True                   # Если False, формула не будет ничего делать
    packages:
      - yandex-lxd-icecream-agent   # Эти пакеты должны быть на машине
    config:                         # Приносим конфиг для агента
      pool: [Mandatory]             # Используется при регистрации агента в апи мороженого, имя вашего пула железа из мороженного
      sentry: [Optional]            # dsn. Если указан, агент будет отправлять трейсы в sentry по указанному dsn
      log:
        level: INFO   [Optional]    # уровень логгирования агента, по умолчанию дебаг. Доступные уровни логгирования смотреть в документации к python logging модулю
      api:
        host: https://yab.yandex-team.ru  # адрес апи мороженого, с которым агент будет работать
        token: [Optional]           # значение токена для работы с апи, если есть
      storage: [Mandatory]
        name:                       # имя сторадж девайса, который используется на машине. Для lvm на lxd по умолчанию это lxd
        type:                       # тип стораджа, у нас используется lvm
    monitoring: True                # тянуть ли мониторинг от ментейнеров


icecream:
  agent:
    enabled: True
    packages:
      - yandex-lxd-icecream-agent
    config:
      pool: media
      sentry: https://xxxxxxxx:XXXXXXXXX@sentryurl/nodenum
      log:
        level: INFO
      api:
        host: https://yab.yandex-team.ru
        token: <Oauth secret token value>
      storage:
        name: lxd
        type: lvm


#### Интеграция с lxd template
icecream:
  agent:
    enabled: True
    config:
      pool: media
      sentry: https://xxxxx:XXXXX@sentryurl/nodenum
      api:
        token: <Oauth secret token value>
      storage:
        name: salt['pillar.get']('lxd:init:pool')
        type: salt['pillar.get']('lxd:init:backend')
