SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Regular restore
{{ schedule }} root /usr/bin/mongo-restore.sh -l /var/log/mongo-restore.log ; echo $? > /var/cache/mongo-restore/last_state
