Source: yandex-media-common-hbf-agent-monitoring
Section: misc
Priority: optional
Maintainer: Arsenev Alexey <aarseniev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git@github.yandex-team.ru:admins/yandex-media-common-hbf-agent-monitoring.git
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-common-hbf-agent-monitoring

Package: yandex-media-common-hbf-agent-monitoring
Architecture: all
Depends: yandex-internal-root-ca, monrun, yandex-lib-autodetect-environment
Description: monitoring package for yandex-hbf-agent
