{%- macro config(values) -%}
 {%- for name, value in values|dictsort -%}
  {%- if value is string or value is number -%}
{% if value != "" %}{{ name }} {{ value }};
{% endif %}
  {%- else -%}
   {%- for item in value -%}
{% if item != "" %}{{ name }} {{ item }};
{% endif %}
   {%- endfor -%}
  {%- endif -%}
 {%- endfor -%}
{%- endmacro -%}
{{ config(params|default({})) }}
