#!/usr/bin/env bash

{% for user in users %}
su - {{ user.name }} -c "mkdir -p ~/.vnc"
su - {{ user.name }} -c "cp /etc/yandex/xstartup.default ~/.vnc/xstartup"
su - {{ user.name }} -c "cp /etc/yandex/config4vnc.default ~/.vnc/config"
su - {{ user.name }}  -c "echo -e \"{{ user.password }}\n{{ user.password }}\nn\n\" | vncpasswd"
{% endfor %}


# EOF

