name: YC CIC
description: 'YC CIC Dashboard'
owners:
    - flatline
    - grigory-orlov
    - lavrukov
    - raorn
    - rkhapov
    - wronglink
    - yesworld
    - alex-limonov
    - robot-vpc-solomon
links:
    -
        title: Solomon
        url: 'https://solomon.yandex-team.ru/?project=yandexcloud'
    -
        title: Duty Wiki
        url: 'https://wiki.yandex-team.ru/cloud/devel/sdn/cicdd/infra/'
    -
        title: Escalations
        url: 'https://juggler.yandex-team.ru/escalations/?query=tag%3Dyc-cic-api&only_running=true'
    -
        title: Dashboard config source-of-truth
        url: 'https://bb.yandex-team.ru/projects/CLOUD/repos/yc-monitoring/browse/juggler/dashboards/'
components:
    -
        name: PROD downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_cic_api_prod}
                - {host: yc_cic_api_solomon}
                - {tags: [yc-prod, yc-cic-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1, 2, 3, 4] %}
                - {host: cic-api-k8s-{{ dc }}{{ n }}.svc.cloud.yandex.net}
                - {host: cic-agent-k8s-{{ dc }}{{ n }}.svc.cloud.yandex.net}
                {%- endfor %}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 1
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: CIC-API PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-prod, yc-cic-api]}
        col: 1
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: PRE-PROD downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_cic_api_preprod}
                - {host: yc_cic_api_preprod_solomon}
                - {tags: [yc-preprod, yc-cic-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1, 2] %}
                - {host: cic-api-k8s-{{ dc }}{{ n }}.svc.cloud-preprod.yandex.net}
                - {host: cic-agent-k8s-{{ dc }}{{ n }}.svc.cloud-preprod.yandex.net}
                {%- endfor %}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 2
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: CIC-API PRE-PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-preprod, yc-cic-api]}
        col: 2
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: TESTING downtimes
        component_type: DOWNTIMES
        downtimes_options:
            include_expired: false
            filters:
                - {host: yc_cic_api_testing}
                - {host: yc_cic_api_testing_solomon}
                - {tags: [yc-testing, yc-cic-api]}
                {%- for dc in ['myt', 'sas', 'vla'] %}
                {%- for n in [1] %}
                - {host: cic-api-k8s-{{ dc }}{{ n }}.svc.cloud-testing.yandex.net}
                - {host: cic-agent-k8s-{{ dc }}{{ n }}.svc.cloud-testing.yandex.net}
                {%- endfor %}
                {%- endfor %}
            sort_by: START_TIME
            sort_order: DESC
            page_size: 0
            include_warnings: false
            exclude_future: false
            page: 0
        col: 3
        row: 1
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: CIC-API TESTING
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-testing, yc-cic-api]}
        col: 3
        row: 2
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []

    -
        name: CIC-AGENT PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-prod, yc-cic-agent-svm]}
        col: 1
        row: 3
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: CIC-AGENT PRE-PROD
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-preprod, yc-cic-agent-svm]}
        col: 2
        row: 3
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []
    -
        name: CIC-AGENT TESTING
        component_type: AGGREGATE_CHECKS
        aggregate_checks_options:
            sort:
                field: DEFAULT
                order: DESC
            limit: 80
            statuses: []
            include_mutes: false
            filters:
                - {tags: [yc-testing, yc-cic-agent-svm]}
        col: 3
        row: 3
        colspan: 0
        rowspan: 0
        view_type: DETAILED
        elements_in_row: 0
        links: []

