{% load lib.templatetags %}
{% if obj.request.fqdns %}
<a class="backstage-cms-host-element" href="/ui/cms/decisions?fqdn={{ obj.request.fqdns.0 }}&status=all" target="_self"><i class="fa fa-fw fa-filter" style="font-size: 9px" aria-hidden="true" title="filter decisions by this FQDN"></i></a>
<a class="backstage-cms-host-element" href="ssh://root@{{ obj.request.fqdns.0 }}"><i class="fa fa-fw fa-terminal" style="font-size: 9px" aria-hidden="true" title="SSH"></i></a>
<a class="backstage-cms-host-element" href="https://setup.yandex-team.ru/ipmiproxy/api/v1.0/{{ obj.request.fqdns.0 }}/kvm" target="_blank"><i class="fa fa-fw fa-desktop" style="font-size: 9px" aria-hidden="true" title="iKVM"></i></a>
<a class="backstage-cms-host-element" href="{{ obj.walle_url }}" target="_blank"><i class="fa fa-fw fa-microchip" style="font-size: 9px" aria-hidden="true" title="Wall-E"></i></a>
{% endif %}
&nbsp;{{ obj.fqdns }}&nbsp;{% simple_copy obj.fqdns %}
