[Unit]
Description=Deploy Agent for MDB VMs
After=network.target
Documentation=https://wiki.yandex-team.ru/mdb/internal/teams/core/deployv3
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/sbin/mdb-deploy-agent --config-path=/etc/yandex/mdb-deploy
Restart=always
RestartSec=15
KillMode=mixed
TimeoutStopSec=3600
TimeoutStartSec=15

[Install]
WantedBy=multi-user.target
