{% load_yaml as yandex_focal_repos %}
yandex-focal:
    - humanname: Yandex Common Focal
    - file: /etc/apt/sources.list.d/yandex-common-focal.list
    - names:
        - deb http://dist.yandex.ru/yandex-focal stable/all/
        - deb http://dist.yandex.ru/yandex-focal stable/$(ARCH)/
{% endload %}

{% set custom_sources = [] %}

{% if grains['oscodename'] == 'focal' %} {% do custom_sources.extend([yandex_focal_repos]) %} {% endif %}

