{% load_yaml as noc_testing_repos %}
noc-testing:
    - humanname: NOC Testing
    - file: /etc/apt/sources.list.d/noc-testing.list
    - names:
        - deb http://noc.dist.yandex.ru/noc testing/all/
        - deb http://noc.dist.yandex.ru/noc testing/$(ARCH)/
{% endload %}

{% load_yaml as noc_prestable_repos %}
noc-prestable:
    - humanname: NOC Prestable
    - file: /etc/apt/sources.list.d/noc-prestable.list
    - names:
        - deb http://noc.dist.yandex.ru/noc prestable/all/
        - deb http://noc.dist.yandex.ru/noc prestable/$(ARCH)/
{% endload %}

{% load_yaml as noc_stable_repos %}
noc-stable:
    - humanname: NOC Stable
    - file: /etc/apt/sources.list.d/noc-stable.list
    - names:
        - deb http://noc.dist.yandex.ru/noc stable/all/
        - deb http://noc.dist.yandex.ru/noc stable/$(ARCH)/
{% endload %}

{% set project_sources = [] %}
{% if 'yandex-environment' in grains %}

{% if grains['yandex-environment'] in ['testing'] %} {% do project_sources.extend([noc_testing_repos, noc_prestable_repos, noc_stable_repos]) %} {% endif %}
{% if grains['yandex-environment'] in ['prestable'] %} {% do  project_sources.extend([noc_prestable_repos, noc_stable_repos]) %} {% endif %}
{% if grains['yandex-environment'] in ['stage', 'production'] %} {% do  project_sources.extend([noc_stable_repos]) %} {% endif %}

{% endif %}
