Source: mysql-configurator
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts, virtualenv | python-virtualenv, libmysqlclient-dev, python-dev, gcc, libmysqlclient-dev, python-setuptools, git, python-pip, libssl-dev
Standards-Version: 3.9.2

Package: mysql-configurator-4
Architecture: any
Depends: python-git, yandex-media-s3cmd, yandex-secget, libmysqlclient18|libmysqlclient20, zstd (>= 1.3.1), pigz, percona-server-server-5.7|percona-server-server-5.6|percona-server-server-5.5|mysql-server, percona-server-client-5.7|percona-server-client-5.6|percona-server-client-5.5|mysql-client, ubic, percona-xtrabackup-24|percona-xtrabackup, mysql-configurator-js-4
Description: mysql-configurator in python(will replace old perl script)

Package: mysql-configurator-4-init
Architecture: all
Depends: libyaml-perl
Description: Contains init script for mysql configuration using mysqld_safe as watchdog config(https://github.yandex-team.ru/admins/mysql-configurator).
