#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export VIRTUAL_ENV="debian/venv"
VENV=usr/lib/yandex/mysql-configurator-4

%:
	dh $@

override_dh_auto_build:
	debian/build-venv

override_dh_auto_install:
	mkdir -p debian/mysql-configurator-4/${VENV}
	mkdir -p debian/mysql-configurator-4/etc/logrotate.d
	mkdir -p debian/mysql-configurator-4/etc/ubic/service/mysql
	mkdir -p debian/mysql-configurator-4/etc/cron.d
	mkdir -p debian/mysql-configurator-4/etc/monrun/conf.d
	mkdir -p debian/mysql-configurator-4/var/log/mysql-configurator-4
	cp -r debian/venv debian/mysql-configurator-4/${VENV}/venv
	cp -r conf/mysql-configurator debian/mysql-configurator-4/etc/mysql-configurator
	cp -r conf/yandex-hbf-agent debian/mysql-configurator-4/etc/
	cp debian/logrotate debian/mysql-configurator-4/etc/logrotate.d/mysql-configurator-4
	cp debian/monitoring.ubic debian/mysql-configurator-4/etc/ubic/service/mysql/monitoring-4
	cp debian/transaction-killer.ubic debian/mysql-configurator-4/etc/ubic/service/mysql/transaction-killer-4
	cp debian/replica-watcher.ubic debian/mysql-configurator-4/etc/ubic/service/mysql/replica-watcher-4
	cp debian/mysql-grants-4.cron.d debian/mysql-configurator-4/etc/cron.d/mysql-grants-4
	cp debian/mysql-purge-binlogs-4.cron.d debian/mysql-configurator-4/etc/cron.d/mysql-purge-binlogs-4
	cp debian/monitoring.monrun debian/mysql-configurator-4/etc/monrun/conf.d/monitoring-4.conf

override_dh_auto_clean:
	rm -rf debian/venv
	dh_auto_clean
#	git clean -fxd
