{% extends "../../../base/graph.j2" %}

{% set id = "{}-{}-{}".format(env, prefix, "logbroker-max-write-quota-used") %}
{% set name = team + " Logbroker PartitionMaxWriteQuotaUsage @" + env.upper() %}

{% macro prog() %}
group_by_labels({
    'service'='pqtabletAggregatedCounters',
    'sensor'='PartitionMaxWriteQuotaUsage',
    'Account'='{{ account }}',
    'TopicPath'='{{ topic_path }}'
}, 'TopicPath', v -> moving_avg(group_lines('avg', v), 10m) / 10000)
{% endmacro %}

{% block parameters %}
	{
		"name": "project",
		"value": "kikimr"
	},
	{
		"name": "cluster",
		"value": "yandexcloud_{{ env }}_logbroker_global"
	}
{% endblock %}

{% block elements %}
	{{ render_element("", prog() | to_prog) }}
{% endblock %}
