{% extends "../../../base/graph.j2" %}

{% set id = "{}-{}-{}".format(env, prefix, "logbroker-time-since-last-read") %}
{% set name = team + " Logbroker TimeSinceLastReadMs @" + env.upper() %}

{% macro prog() %}
group_by_labels({
    'service'='pqtabletAggregatedCounters',
    'sensor'='TimeSinceLastReadMs',
    'Account'='{{ account }}',
    'TopicPath'='{{ topic_path }}',
    'ConsumerPath'='shared/remote-mirror'
}, 'TopicPath', v -> group_lines('sum', v))
{% endmacro %}

{% block parameters %}
	{
		"name": "project",
		"value": "kikimr"
	},
	{
		"name": "cluster",
		"value": "yandexcloud_{{ env }}_logbroker_global"
	}
{% endblock %}

{% block elements %}
	{{ render_element("", prog() | to_prog) }}
{% endblock %}

