{% extends "../../../base/graph.j2" %}

{% set id = "{}-{}-{}".format(env, prefix, "logbroker-topic-write-quota-wait") %}
{% set name = team + " Logbroker TopicWriteQuotaWaitOriginal @" + env.upper() %}

{% macro prog() %}
group_by_labels({
    'service'='pqproxy_topicWriteQuotaWait',
    'sensor'='TopicWriteQuotaWaitOriginal',
    'Account'='{{ account }}',
    'TopicPath'='{{ topic_path }}',
    'OriginDC'='cluster', 'host'='cluster'
}, 'TopicPath', v -> histogram_percentile(99, 'Interval', v))
{% endmacro %}

{% block parameters %}
	{
		"name": "project",
		"value": "kikimr"
	},
	{
		"name": "cluster",
		"value": "yandexcloud_{{ env }}_logbroker_global"
	}
{% endblock %}

{% block elements %}
	{{ render_element("", prog() | to_prog) }}
{% endblock %}

