Source: yandex-media-rotate-s3-backups
Section: misc
Priority: optional
Maintainer: Sergey Kacheev <skacheev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), python3, python3-setuptools
Standards-Version: 3.9.7
X-Python3-Version: >= 3.2
Vcs-Git: https://github.yandex-team.ru/admins/rotate-s3-backups.git

Package: yandex-media-rotate-s3-backups
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         yandex-media-s3cmd,
         python3-requests,
         python3-yaml,
         python3-kazoo,
         python3-dotmap
Description: Rotate s3 backups
 Script for rotating s3 backups in media buckets
