#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_clean:
	dh_clean
	rm -rf rotate_s3_backups.egg-info/
	rm -rf __pycache__/

%:
	dh $@ --with=python3 --buildsystem=pybuild
