.config-enum-editor
{
    & .button2.button2_view_default.button2_theme_pseudo.button2_checked_yes
    {
        color: #000;

        &:before
        {
            border-color: rgba(0, 0, 0, .2);
            background-color: #fff;
        }
    }

    & .button2.button2_view_default.button2_theme_pseudo.button2_hovered_yes:before
    {
        border-color: rgba(0, 0, 0, .3);
        color: #000;
    }

    & .button2.button2_view_default.button2_theme_pseudo.button2_pressed_yes:before
    {
        background-color: #f3f1ed;
        color: #000;
    }

    &__title
    {
        padding-bottom: 20px;
    }

    &_from-parent > &__title
    {
        background: linear-gradient(#f9f9f9, rgba(190, 245, 119, .6) 10%, rgba(190, 245, 119, .6) 35%, #f9f9f9 50%)
    }

    &_has-errors
    {
        & .button2_view_default.button2_theme_pseudo:before
        {
            border-color: #ff0000;
        }

        & .button2_view_default.button2_theme_pseudo.button2_checked_yes:before
        {
            border-color: #ff0000;
        }

        & .button2_view_default.button2_theme_pseudo.button2_hovered_yes:before
        {
            border-color: #ff0000;
        }

        & .button2_view_default.button2_theme_pseudo.button2_pressed_yes:before
        {
            border-color: #ff0000;
        }
    }
}
