{% extends "../../base/graph.j2" %}

{% macro prog() %}
group_by_labels(
    {service='vsop', name='vpp-clocks'} /
    {service='vsop', name='vpp-calls'},
    as_vector('host', 'vpp-node', 'thread'),
    v -> group_lines('sum', v)
)
{% endmacro %}

{% block parameters %}
    {
        "name": "cluster",
        "value": "{{cluster}}"
    },
    {
        "name": "host",
        "value": "{{host}}"
    },
    {
        "name": "thread",
        "value": "*"
    },
    {
        "name": "vpp-node",
        "value": "dpdk-input"
    }
{% endblock %}

{% block elements %}
    {{ render_element("{{host}} - clocks per call for node {{vpp-node}}, thread {{thread}}", prog() | to_prog) }}
{% endblock %}
