{% extends "../../base/graph.j2" %}

{% macro prog() %}
group_by_labels(
    {service="vsop", thread="-|*", name="vpp-vectors"} / 
    {service="vsop", thread="-|*", name="vpp-calls"}, 
    as_vector('host', 'vpp-node'),
    v -> group_lines('max', v)
)
{% endmacro %}

{% block parameters %}
    {
        "name": "cluster",
        "value": "{{cluster}}"
    },
    {
        "name": "host",
        "value": "{{host}}"
    },
    {
        "name": "vpp-node",
        "value": "dpdk-input"
    }
{% endblock %}

{% block elements %}
    {{ render_element("{{host}} - max vectors per call for node {{vpp-node}}", prog() | to_prog) }}
{% endblock %}
