{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "cluster",
        "value": "cloud_*"
    },
    {
        "name": "service",
        "value": "vsop"
    },
    {
        "name": "name",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"Egress NAT sessions",
			expression="alias(sum({'vpp-nat'='sessions', host='cgw*', name='[[name]]', vrf='*', address='*'}) by (vrf, name), '{{vrf}}, {{name}}')"
		)
	}}
{% endblock %}
