{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>ID</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
              </tr>
              <tr>
                <th>Subcluser</th>
                <td>{{ obj.subcluster.self_link_c|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Shard</th>
                <td>{{ obj.shard.self_link_c|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Shipment</th>
                <td>
                  {% if obj.shipment_id %}
                  <a href="/ui/deploy/shipments/{{ obj.shipment_id }}">{{ obj.shipment_id }}</a>&nbsp;{% simple_copy obj.shipment_id %}
                  {% else %}
                  &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Initiator</th>
                <td>{{ obj.initiator }}</td>
              </tr>
              <tr>
                <th>Method</th>
                <td>{{ obj.method }}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ obj.status|default_label }}</td>
              </tr>
              <tr>
                <th>Errors</th>
                <td>{{ obj.errors|to_html_json }}</td>
              </tr>
              <tr>
                <th>Metadata</th>
                <td>{{ obj.metadata|to_html_json:True }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Scheduled date</th>
                <td>{{ obj.scheduled_date|date:"Y-m-d" }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Updated at</th>
                <td>{% dt_formatted obj.updated_at %}</td>
              </tr>
              <tr>
                <th>Delayed until</th>
                <td>{% dt_formatted obj.delayed_until %}</td>
              </tr>
              <tr>
                <th>Started at</th>
                <td>{% dt_formatted obj.started_at %}</td>
              </tr>
              <tr>
                <th>Updated</th>
                <td>{% dt_formatted obj.updated_at %}</td>
              </tr>
              <tr>
                <th>Finished at</th>
                <td>{% dt_formatted obj.finished_at %}</td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
