Source: yandex-lxd-icecream-backend
Section: admin
Priority: optional
Maintainer: Vyacheslav Agapov <vyacheslav@yandex-team.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://wiki.yandex-team.ru/media-admin/icecream/backend/
VCs-Git: git://github.yandex-team.ru/yandex-icecream/backend.git

Package: yandex-lxd-icecream-backend
Architecture: all
Depends: python3-pylxd (>= 2.2.7),
         python3-dotmap,
         python3-flask,
         python3-requests-toolbelt,
         python3-pymongo,
         python3-requests,
         python3-yaml,
         python3-connexion
Description: backend for lxd icecream
