.search-select
{
    &__input > .textinput__icon
    {
        background-image: url('../icon/_theme/icon_theme_search.svg');
        opacity: 0.3;
    }

    &__input > .icon_size_s
    {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
    }
}
