{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "revs" %}
      {% tab_item "pillar_revs" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Unmanaged FQDN {% simple_info_tooltip "User network" %}</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              {% with managed_fqdn=obj.fqdn|to_managed_fqdn %}
              <tr>
                <th>Managed FQDN {% simple_info_tooltip "MDB Network" %}</th>
                <td>{{ managed_fqdn }}&nbsp;{% simple_copy managed_fqdn %}</td>
              </tr>
              {% endwith %}
              <tr>
                <th>Subcluster</th>
                <td>{{ obj.subcluster.self_link_c }}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{% with cluster=obj.subcluster.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
              </tr>
              <tr>
                <th>Shard</th>
                <td>{{ obj.shard.self_link_c|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Flavor</th>
                <td>{{ obj.flavor.self_link_c }}</td>
              </tr>
              <tr>
                <th>Space limit</th>
                <td>{{ obj.space_limit|filesizeformat|pretty_fsf }} ({{ obj.space_limit }})</td>
              </tr>
              <tr>
                <th>VType ID</th>
                <td>{{ obj.vtype_id|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Geo</th>
                <td>{{ obj.geo.name }}</td>
              </tr>
              <tr>
                <th>Disk Type</th>
                <td>{{ obj.disk_type }}</td>
              </tr>
              <tr>
                <th>Subnet ID</th>
                <td>{{ obj.subnet_id|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Assign public IP</th>
                <td>{{ obj.assign_public_ip|bool_label }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Graphics</th>
                <td>
                  {% with links=obj.links %}
                  {% if not links %}
                    &ndash;
                  {% else %}
                  {% for link in links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>{% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                </td>
              </tr>
              <tr>
                <th>Related links</th>
                <td>{% related_links_onload obj.fqdn %}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-15">
            {% if apps.MLOCK.is_enabled %}
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">MLock locks</label><br>
                {% obj_block_onload obj "mlock" %}
              </div>
            </div>
            {% endif %}
            {% if apps.CMS.is_enabled and apps.DBM.is_enabled %}
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">CMS Last decision (Dom0)</label><br>
                {% obj_block_onload obj "cms_last_decision" %}
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">Pillar</label><br>
                {% obj_block_onload obj "pillar" %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_revs">
        <div class="row">
         {% obj_block_onload obj "revs" %}
        </div>
      </div>
      <div class="tab-pane" id="tab_pillar_revs">
        <div class="row">
         {% obj_block_onload obj "pillar_revs" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
