{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Flavors{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>Name</th>
        <th>CPU Guaranatee</th>
        <th>CPU Limit</th>
        <th>Memory Guarantee</th>
        <th>Memory Limit</th>
        <th>Network Guarantee</th>
        <th>Network Limit</th>
        <th>IO Limit</th>
        <th>GPU Limit</th>
        <th>Visible</th>
        <th>Vtype</th>
        <th>Type</th>
        <th>Gen</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link }}&nbsp;{% simple_copy obj.pk %}</td>
        <td data-order="{{ obj.cpu_guarantee }}" title="{{ obj.cpu_guarantee }}">{{ obj.cpu_guarantee|floatformat:"-1" }}</td>
        <td data-order="{{ obj.cpu_limit }}" title="{{ obj.cpu_limit }}">{{ obj.cpu_limit|floatformat:"-1" }}</td>
        <td data-order="{{ obj.memory_guarantee }}" title="{{ obj.memory_guarantee }}">{{ obj.memory_guarantee|filesizeformat|pretty_fsf }}</td>
        <td data-order="{{ obj.memory_limit }}" title="{{ obj.memory_limit }}">{{ obj.memory_limit|filesizeformat|pretty_fsf }}</td>
        <td data-order="{{ obj.network_guarantee }}" title="{{ obj.network_guarantee }}">{{ obj.network_guarantee|filesizeformat|pretty_fsf }}</td>
        <td data-order="{{ obj.network_limit }}" title="{{ obj.network_limit }}">{{ obj.network_limit|filesizeformat|pretty_fsf }}</td>
        <td data-order="{{ obj.io_limit }}" title="{{ obj.io_limit }}">{{ obj.io_limit|filesizeformat|pretty_fsf }}</td>
        <td data-order="{{ obj.gpu_limit }}" title="{{ obj.gpu_limit }}">{{ obj.gpu_limit|floatformat:"-1" }}</td>
        <td>{{ obj.visible|bool_label }}</td>
        <td>{{ obj.vtype }}</td>
        <td>{{ obj.type }}</td>
        <td>{{ obj.generation }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
