{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}
{% load mlock.templatetags %}

{% block objects_app_label %}MLock{% endblock %}
{% block objects_model_label %}Locks{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>Lock ext ID</th>
        <th>Holder</th>
        <th>Reason</th>
        <th>Created at</th>
        <th>Duration</th>
        <th>Objects</th>
      </tr>
    </thead>
    <tbody>
    {% for lock in objects %}
      <tr id="row_{{ lock.pk }}">
        {% selectable_td_checkbox key=lock.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ lock.lock_ext_id }}</td>
        <td>{{ lock.holder }}</td>
        <td>{{ lock|reason_to_link }}</td>
        <td data-order="{{ lock.create_ts|date:"Uu" }}">{% dt_formatted lock.create_ts %}</td>
        <td data-order="{{ lock.create_ts|date:"Uu" }}">{% age_span lock.create_ts %}</td>
        <td>
            {% for item in lock.objects %}
              &ndash; <a href="/ui/meta/hosts/{{ item }}">{{ item }}</a>&nbsp;{% simple_copy item %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
