# Параметризируемый конфиг nginx (не вхостов!)
# confd,events,main_config параметры перебираются прямо из пиллара. Можно добавлять свои переменные
# Аналогично listens, каждый элемент списка - файл. Если есть ssl - на порту включается ssl с переданными параметрами
# !!!!! перед первой накаткой формулы, проверьте, что директории /etc/nginx/conf.d, /etc/nginx/main, /etc/nginx/events пусты !!!!!
# !! Для того, чтобы не накатить стейт с потерянными pillar (при залипшем мастере) в пилларах для работы формулы обязателен ключ
# nginx:lookup:enabled:True

# Все дефолтные значения в defaults.yaml
# Пример с переопределением дефолтных значений

nginx:
  lookup:
    enabled: True
    packages:
      - nginx
      - nginx-full
      - nginx-common
    vhost_default: False
    listens: {}
    listens:
      listen_ssl:
        ssl:
          ssl_certificate:     'path'
          ssl_certificate_key: 'path'
        http2: True
    accesslog_config: False
    confd_params:
      root: '/var/www-empty'
      gzip_buffers: '64 16k'
      gzip_disable: 'msie6'
      tcp_nopush: 'on'
      server_tokens: 'off'
      reset_timedout_connection: 'on'
      large_client_header_buffers: '32 64k'
    events_params:
      worker_connections: 16384
      multi_accept: 'on'
    main_params:
      worker_processes: 8
      worker_rlimit_nofile: 65536
    logrotate:
      frequency: weekly
      dateext: '-%Y%m%d-%s'
      maxsize: 1G
      rotate: 14
