{% extends "main/base.html" %}
{% block title %}404 Not Found - MDB Control Center{% endblock %}
{% block content %}
<div id="content">
  <div class="container-fluid" style="padding-top: 50px">
    <div class="col-lg-15 col-md-15 col-sm-15 col-lg-offset-4" align="center">
      <div class="noodle-box" style="padding: 50px; margin-top:10%; font-size:24px;">
        <h2>404 Not Found</h2>
        <br>
        <span>Sorry, the page you are looking for could not be found</span>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
