{% extends "main/base.html" %}
{% load lib.templatetags %}
{% block title %}500 Server Error - MDB Control Center{% endblock %}
{% block content %}
<div id="content">
  <div class="container-fluid" style="padding-top: 50px">
    <div class="col-lg-15 col-md-15 col-sm-15 col-lg-offset-4" align="center">
      <div class="noodle-tile" style="padding: 50px; margin-top:10%; font-size:24px;">
        <span class="red" style="font-size: 36px">500: Server Error</span>
        <br>
        <span>{{ error }}</span>
        <br>
        <br>
        <div class="backstage-collapse" style="text-align: left; font-size: 16px">
          <div class="backstage-collapse-header" data-toggle="collapse" href="#traceback_collapse" aria-expanded="false" aria-controls="traceback_collapse">
            <div class="row">
              <div class="col-lg-24">
                Show traceback
              </div>
            </div>
          </div>
          <div class="collapse" id="traceback_collapse">
            {{ traceback|to_html_traceback }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

