{% extends "main/base.html" %}
{% block content %}
<div id="content">
  <div class="container-fluid" style="padding-top: 50px">
    <div class="row">
      <div class="col-lg-5 col-md-5" style="padding-right: 5px">
        <div class="row">
          <div class="col-lg-24 col-md-24">
            <div class="noodle-tile no-padding">
              <div class="noodle-tile-no-padding-header">
                <label class="backstage-dashboard-label"><i class='fas fa-globe fa-fw'></i> Installations</label><br>
              </div>
              <table class="table noodle-table backstage-installation-table">
                <tbody>
                {% for installation in installations %}
                   <tr>
                    <td>
                    {% if installation == current_installation %}
                      <img class="backstage-installation-img" src="{{ static_address }}/images/{{ installation.self_image }}">&nbsp;<span class="backstage-installation-current">{{ installation }}</span>
                    {% else %}
                      <img class="backstage-installation-img" src="{{ static_address }}/images/{{ installation.self_image }}">&nbsp;<a class="backstage-installation-link" href="{% if installation.url %}{{ installation.url }}{% else %}{{ installation.classic_url }}{% endif %}">{{ installation }}</a>
                    {% endif %}
                    </td>
                  </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if links %}
        <div class="row">
          <div class="col-lg-24 col-md-24" style="padding-top: 10px">
            <div class="noodle-tile no-padding">
              <div class="noodle-tile-no-padding-header">
                <label class="backstage-dashboard-label"><i class='fas fa-link fa-fw'></i> Links</label><br>
              </div>
              <table class="table noodle-table backstage-installation-table">
                <tbody>
                  {% for link in links %}
                  <tr>
                    <td><i class="{{ link.icon }} fa-fw" style="padding-right:5px"></i> <a href="{{ link.url }}" target="_blank">{{ link.text }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-19 col-md-19" style="padding-left:5px">
        {% if search_query %}
        <div class="row">
          <div class="col-lg-24 col-md-24">
            <div class="noodle-tile">
              <label class="backstage-dashboard-label"><i class="fas fa-search fa-fw"></i> Search results for: <span style="font-weight: 400;">{{ search_query }}</span></label><br>
              <div data-onload="True" data-onload-url="/ui/main/ajax/dashboard/search?q={{ search_query }}"></div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-lg-24 col-md-24" {% if search_query %}style="padding-top: 10px"{% endif %}>
            <div class="noodle-tile no-padding">
              <div class="noodle-tile-no-padding-header">
                <label class="backstage-dashboard-label"><i id="failed_tasks_icon" class="far fa-question-circle fa-fw"></i> Failed tasks <span id="failed_tasks_count"></span></label><br>
              </div>
              <div data-onload="True" data-onload-url="/ui/main/ajax/dashboard/failed_tasks{% if show_all_failed_tasks %}?show_all_failed_tasks=true{% endif %}"></div>
            </div>
          </div>
        </div>
        {% if gore_enabled %}
        <div class="row">
          <div class="col-lg-24 col-md-24" style="padding-right: 0px;">
            <div data-onload="True" data-onload-url="/ui/main/ajax/dashboard/duties"></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
