{% extends "main/base.html" %}
{% block title %}User Profile - {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="noodle-sidebar" class="noodle-sidebar">
      <div id="noodle-sidebar-head" class="noodle-sidebar-head">
      <label class="noodle-sidebar-label">Profile</label><span class="backstage-type noodle-type-profile pull-right"><span><i class='fas fa-tasks fa-fw' style='line-height: 0'></i></span></span>
      <br>
      </div>
      <div id="noodle-sidebar-body" class="noodle-sidebar-body">
        <ul class="nav noodle-nav-sidebar">
          <li class="active"><a href="/ui/main/user/profile"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
        </ul>
      </div>
      {% include "lib/includes/sidebar_footer.html" %}
    </div>
    <div id="noodle-sidebar-main" class="col-lg-24 noodle-sidebar-main">
      <div id="section-content">
         <div data-onload="True" data-onload-url="/ui/main/ajax/user/profile"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
