.service-info
{
    padding: 20px;
    width: 100%;

    &__form
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__form-row
    {
        margin-bottom: 20px;
    }

    &__form-row-label,
    &__form-row-value
    {
        display: inline-block;
        vertical-align: middle;
        word-wrap: break-word;
    }

    &__form-row-label
    {
        width: 150px;
    }

    &__service-comment
    {
        margin-bottom: 30px;
        width: 70%
    }

    &__comment-editor
    {
        height: 500px;
        width: 100%;
    }

    &__markdown-viewer
    {
        word-wrap: break-word;
        margin-right: 30px;
        max-width: 90%;
    }

    &__comment-viewer
    {
        display: flex;
        justify-content: flex-start;
    }

    &__save,
    &__cancel
    {
        display: inline-block;
        margin-top: 10px;
    }

    &__edit
    {
        display: inline-flex;
    }

    &__info-actions
    {
        width: 350px;
    }

    &__action
    {
        width: 34px;
        height: 34px;
    }

    &__status-action-button
    {
        margin-top: 15px;
    }
}
