{% extends "../../../base/alert.j2" %}

{% set notificationChannels = ['xds-provider'] %}

{% set checkExpression = "" %}
{% set resolvedEmptyPolicy = "RESOLVED_EMPTY_OK" %}
{% set noPointsPolicy = "NO_POINTS_OK" %}

{% macro xds_provider_dashboard() -%}
    {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=xds-provider-base-dashboard-{{ env }}&service=xds-provider&host=xds-provider*
{%- endmacro %}

{% macro wiki_url(service) -%}
    https://wiki.yandex-team.ru/cloud/devel/selfhost/local-lb-v2/duty/juggler/#{{ service }}
{%- endmacro %}

{% macro solomon_host() -%}
    cloud_{{env}}_xds-provider_solomon
{%- endmacro %}
