{%- macro add_env_tags_by_group(group, and_add=[]) %}
    {%- set tags = ['media', 'jupy'] %}
    {%- set _ = tags.extend(and_add) %}
    {%- if '-test-' in group %}
    {%- set _ = tags.append('testing') %}
    {%- elif "-stable-" in group %}
    {%- set _ = tags.append('stable') %}
    {%- elif "-prestable-" in group %}
    {%- set _ = tags.append('prestable') %}
    {%- elif "-load-" in group %}
    {%- set _ = tags.append('load') %}
    {%- elif "-prod-" in group %}
    {%- set _ = tags.append('production') %}
    {%- endif %}
    {{-tags}}
{%- endmacro %}