{
  "id": "<< juggler_env >>-<< datatransfer >>-max-lag",
  "projectId": "<< project_id >>",
  "name": "[YC-MDB] << juggler_env >>-<< datatransfer >>-max-lag",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/datatransfer/lag-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "<< juggler_env >>_<< datatransfer >>",
    "service": "lag"
  },
  "periodMillis": 300000,
  "delaySecs": 0,
  "description": ""
}
