{
  "id": "<< juggler_env >>-<< datatransfer >>-parsed",
  "projectId": "<< project_id >>",
  "name": "[YC-MDB] << juggler_env >>-<< datatransfer >>-parsed",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "groupByLabels": [],
  "type": {
    "expression": {
      "program": "{% include "alerts/datatransfer/parsed-program" %}",
      "checkExpression": ""
    }
  },
  "annotations": {
    "description": "parsed row count: {{expression.sumCount}}",
    "value": "{{expression.sumCount}}",
    "host": "<< juggler_env >>_<< datatransfer >>",
    "service": "parsed_rows"
  },
  "periodMillis": 600000,
  "delaySecs": 60,
  "resolvedEmptyPolicy": "RESOLVED_EMPTY_OK",
  "noPointsPolicy": "NO_POINTS_MANUAL",
  "description": ""
}
