{
  "id": "<< juggler_env >>-<< datatransfer >>-unparsed",
  "projectId": "<< project_id >>",
  "name": "[YC-MDB] << juggler_env >>-<< datatransfer >>-unparsed",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/datatransfer/unparsed-program" %}",
      "checkExpression": ""
    }
  },
  "annotations": {
    "description": "unparsed row count: {{expression.sumCount}}",
    "value": "{{expression.sumCount}}",
    "host": "<< juggler_env >>_<< datatransfer >>",
    "service": "unparsed_rows"
  },
  "periodMillis": 300000,
  "delaySecs": 0,
  "description": ""
}
