{% macro create_locallb_dashboard(base_role, env) %}
  locallb_{{ base_role }}:
    menu: "{{ base_role }} local_lb base"
    template: locallb_base.j2
    context:
      id: "locallb-base-dashboard-{{ base_role }}-{{env}}"
      name: "{{ base_role }} local_lb base dashboard {{ env | upper }}"
      service_name: "{{ base_role }}"
      bootstrap_base_role: "{{ base_role }}"
{% endmacro %}
