.splitter
{
    display: flex;
    height: 100%;
    position: relative;

    &__left
    {
        flex: 0 0 auto;
        position: relative;
    }

    &__right
    {
        width: 0;
        flex: 1 1 0;
    }

    &__resize
    {
        margin-left: 8px;
        margin-right: 8px;
        width: 8px;
        display: flex;
    }

    &__resize > span
    {
        margin-top: 60px;
    }

    &__resize:hover
    {
        cursor: col-resize;
        background-color: rgba(169, 169, 169, 0.1);
    }
}
