<ethernet xmlns="http://www.huawei.com/netconf/vrp/huawei-ethernet">
  <ethernetIfs>
    <ethernetIf>
      <ifName>{{ intf }}</ifName>
      <l2Enable/>
      <l2Attribute/>
     </ethernetIf>
  </ethernetIfs>
</ethernet>
