<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <ethernet xmlns="http://www.huawei.com/netconf/vrp/huawei-ethernet">
    <ethernetIfs>
       <ethernetIf>
         <ifName>{{ intf }}</ifName>
         <l2Enable>enable</l2Enable>
         <l2Attribute>
           {% if state == 'setup' %}
           <linkType>access</linkType>
           <pvid>{{ setup_vlan }}</pvid>
           {% else %}
           <linkType>trunk</linkType>
           <pvid>{{ untagged_vlan }}</pvid>
           <trunkVlans>{{ tagged_vlans }}</trunkVlans>
           {% endif %}
           <taggedPacketDiscard>false</taggedPacketDiscard>
           <portBridgEnable>false</portBridgEnable>
         </l2Attribute>
       </ethernetIf>
    </ethernetIfs>
  </ethernet>
</config>
