.search-input
{
    display: flex;
    align-items: center;

    &__search
    {
        width: 300px;
    }

    &__hint
    {
        font-weight: 500;
        display: inline-flex;
    }

    &_has-errors
    {
        & .textinput_theme_normal .textinput__box,
        & .textinput_theme_normal.textinput_hovered_yes .textinput__box,
        & .textinput_theme_normal.textinput_focused_yes .textinput__box,
        & .textinput_theme_normal.textinput_focused_yes.textinput_hovered_yes .textinput__box,
        & .textinput_view_default.textinput_tone_grey.textinput_theme_normal .textinput__box
        {
            border: solid 1px #ff0000;
        }
    }
}
