{% import_yaml '/srv/pillar/mdb_s3_israel/generated.sls' as generated %}
{% set clusters = generated.clusters %}
{% set zk_hosts = clusters.zk01.fqdns | map('regex_replace', '$', ':2181') |  join(',') %}

