Source: yc-snapshot
Section: misc
Priority: optional
Maintainer: Anton Tyurin <noxiouz@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), dh-systemd, dh-yc-service, golang-1.10-go,
               qemu-utils, git, sudo, libfakeroot, python-setuptools,
               python3-setuptools, python-dev, python3-dev, libffi-dev
Standards-Version: 3.9.7
Homepage: https://bb.yandex-team.ru/projects/CLOUD/repos/snapshot
Vcs-Browser: https://bb.yandex-team.ru/projects/CLOUD/repos/snapshot

Package: yc-snapshot
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, qemu-utils
Description: Service controls snapshots, images of VM
 Snapshot service rules snapshots, images data and metadata.
 LBS uses Snapshot to upload/download snapshot
 chunk by chunk on demand.

Package: yc-snapshot-apispec
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Snapshot service API specification
