[Unit]
Description=Fix /etc/hosts on startup
After=network.target

[Service]
Type=oneshot
User=root
Group=root

ExecStart=/bin/sh -c '/usr/local/yandex/etc_fix.py || true'
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=etc-fix

[Install]
WantedBy=multi-user.target
