[Unit]
Description = pt-kill {{ time }}
After=syslog.target

[Service]
Type = simple
PIDFile = /var/run/pt-kill-{{ time }}.pid
ExecStart = /usr/bin/pt-kill \
--daemonize \
--pid=/var/run/pt-kill-{{ time }}.pid \
--interval=5 \
--defaults-file=/root/.my.cnf \
--log=/var/log/pt-kill-{{ time }}.log \
--busy-time {{ time }} \
--kill \
--victims=all \
--print \
--verbose
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
