body, html {
    background: #eee;
    width: 100%;
    font-family: "Trebuchet MS", "Times New Roman", sans;
}

form {
    text-align: center;
}

input {
    border: solid 1px gray;
    width: 80%;
    min-width: 100px;
    max-width: 600px;
}

input:focus {
    background: #ffa;
}

table.results, table.results td {
    background: #fafafa;
    border: solid 1px gray;
    padding: 4px;
}

table.results {
    margin: 20px auto 8px;
    border-collapse: collapse;
}

div.message {
    text-align: center;
    margin: 4px;
}

div.reportBugs, div.revision, div.example {
    text-align: center;
    font-size: 13px;
}

a:link, a:visited {
    color: #888;
}

a:hover, a:active {
    color: #777;
}

.first-letter {
    color: #d00;
}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(tinybox2/images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(tinybox2/images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

