[Unit]
Description=Timer for MDB Search Reindexer
Requires=mdb-search-reindexer.service

[Timer]
Unit=mdb-search-reindexer.service
OnCalendar=*-*-* 03:15:15
AccuracySec=1us

[Install]
WantedBy=timers.target
