[Unit]
Description=MDB Internal API

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-internal-api/mdb-internal-api
WorkingDirectory=/etc/yandex/mdb-internal-api
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
User=mdb-internal-api
Environment="GOMAXPROCS=2"
LimitNOFILE=65536
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
