[Unit]
Description=MDB Search Reindexer for gRPC MDB Internal API
Wants=mdb-search-reindexer.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/yazk-flock -c /etc/yandex/mdb-search-reindexer/zk-flock.json lock /usr/local/bin/mdb-search-reindexer
WorkingDirectory=/etc/yandex/mdb-search-reindexer
User=mdb-internal-api
Environment="GOMAXPROCS=2"
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
