# yandex zookeeper client and zk-flock formula
#
# default variables in pillar below.
####
zk_client:
  lookup:
    configs:
      /etc/distributed-flock.json:  # default make this config
        host:
          - localhost:2181          # list of zookeeper hosts
        timeout: 5
        app_id: localhost           # localhost only if there is no grains.conductor.project
        sleep: OFF
        maxla: -1
        logger:                     # default not declared
          path: /tmp/zkflock.log
          level: INFO
          zklevel: ERROR
#
# optional multi config feature. all absent opts get from defaults
#
      /etc/distributed-flock2.json:
        host:
          - host1:2181
          - host2:2181
          - host3:2181
