.colorized-text
{
    &_color_green
    {
        color: #417505;
    }

    &_color_gray
    {
        color: #9b9b9b;
    }

    &_color_red
    {
        color: #d0021b;
    }

    &_color_orange
    {
        color: #f5a623;
    }

    &_color_blue
    {
        color: #4a90e2;
    }

    &_color_purple
    {
        color: #b178e2;
    }
}
