.service-form
{
    position: relative;
    padding: 20px;

    &__head
    {
        font-size: 18px;
        font-weight: bold;
    }

    &__body
    {
        margin-top: 35px;
    }

    &__block
    {
        & + &
        {
            margin-top: 20px;
        }
    }

    &__actions
    {
        margin-top: 20px;
    }

    &__label
    {
        width: 150px;
        display: inline-block;
        vertical-align: middle;
    }

    &__input
    {
        width: 200px;
        display: inline-block;
        vertical-align: middle;
    }

    &__button
    {
        display: inline-block;

        & + &
        {
            margin-left: 15px;
        }
    }

    &__tooltip
    {
        width: 300px;
        padding: 6px 8px;
        white-space: pre-line;

        &.tooltip_size_n .tooltip__content
        {
            line-height: 18px;
            word-break: break-word;
        }
    }
}
