.config-editor-title
{
    display: flex;
    align-items: center;

    &__title,
    &__hint
    {
        font-weight: 500;
        display: inline-block;
    }

    &__action
    {
        display: flex;
        align-items: center;
        margin-left: auto;

        & .checkbox_view_default.checkbox_tone_grey.checkbox_theme_normal.checkbox_checked_yes .checkbox__box:before
        {
            background-color: #000;
        }

        & .control.checkbox.checkbox_view_default.checkbox_theme_normal.checkbox_size_s
        {
            margin-top: 2px;
        }
    }

    &__description
    {
        margin-right: 5px;
    }
}
