.table-cell-block
{
    &__data
    {
        word-wrap: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;

        &_popup
        {
            cursor: pointer;
        }
    }

    &__popup-container
    {
        margin: 10px;
    }

    &__popup-data
    {
        max-height: 520px;
        max-width: 520px;
        word-wrap: break-word;
        overflow-y: auto;
        margin-top: 5px;
    }

    &__copy-link
    {
        margin-top: 5px;
        display: block;
        text-align: center;
    }
}
