{% set config = salt.pillar.get('data:clickhouse:config', {}) %}
<?xml version="1.0"?>
<yandex>
    <logger>
        <level>{{ config.get('log_level', 'debug') }}</level>
        <log>/var/log/clickhouse-keeper/clickhouse-keeper.log</log>
        <errorlog>/var/log/clickhouse-keeper/clickhouse-keeper.err.log</errorlog>
        <!-- never - embedded log rotation is disabled in favor of logrototate. -->
        <size>never</size>
        <count>50</count>
    </logger>

    <!-- :: (wildcard IPv6 address) - accept connections both with IPv4 and IPv6 from everywhere. -->
    <listen_host>::</listen_host>

{{ salt.mdb_clickhouse.render_raft_config() }}

</yandex>
