Source: yandex-media-icecream-frontend
Section: misc
Priority: optional
Maintainer: Pavel Pushkarev <paulus@unknown>
Build-Depends: debhelper (>=9), nodejs-6
Standards-Version: 3.9.6
Homepage: https://github.yandex-team.ru/admins/icecream-frontend

Package: yandex-media-icecream-frontend
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, nginx
Description: This is a static frontend for the media icecream
 The static browser part + the nginx config
