#!/usr/bin/make -f
PATH=/opt/nodejs/6/bin:/usr/bin:/bin
%:
	dh $@

override_dh_auto_build:
	git submodule update --init --recursive
	npm install
	cd src && ../node_modules/.bin/gulp
	cd src && ../node_modules/.bin/pug --out engine/dst engine/src/index.pug

override_dh_auto_install:
	mkdir -p debian/yandex-media-icecream-frontend/srv/www
	cp src/markup/dst/bundle.js debian/yandex-media-icecream-frontend/srv/www
	cp src/markup/dst/bundle.js.map debian/yandex-media-icecream-frontend/srv/www
	cp src/markup/dst/main.css debian/yandex-media-icecream-frontend/srv/www
	cp src/markup/dst/main.css.map debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/dst/index.html debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/logotype.svg debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/jquery.min.js debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/numeral.min.js debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/react-with-addons.js debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/react-dom.js debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/*.png debian/yandex-media-icecream-frontend/srv/www
	cp src/engine/static/*.ico debian/yandex-media-icecream-frontend/srv/www
	cp -r common/contrib/fontawesome/fonts debian/yandex-media-icecream-frontend/srv/www/fa
	cp -r common/contrib/fontello debian/yandex-media-icecream-frontend/srv/www/fontello
	cp -r common/contrib/yafonts debian/yandex-media-icecream-frontend/srv/www/yafonts
