{
  "id": "compute_node_duty_telegram",
  "projectId": "{{ project_id }}",
  "name": "compute_node_duty_telegram",
  "notifyAboutStatuses": [
    "ALARM"
  ],
  "repeatNotifyDelayMillis": 3600000,
  "method": {
    "telegram": {
      "groupTitle": "ComputeNodeDuty [Compute Node Duty]",
      "login": "",
      "textTemplate": "Alert [[alert.name]] is now in [[alert.state]] state. Code: [[status.code]]  (details: [[annotations.details]]).",
      "sendScreenshot": false
    }
  }
}
