# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
[client]
port                                    = 3306
socket                                  = /var/run/mysqld/mysqld.sock
loose-default-character-set             = utf8

[mysql]
max_allowed_packet                      = 16M

[mysqldump]
max_allowed_packet                      = 16M
loose-innodb-optimize-keys

[mysqld]
sql_mode        			= ''
bind_address                            = ::
port                                    = 3306
user                                    = mysql
basedir                                 = /usr
datadir                                 = /opt/mysql
plugin-dir                              = /usr/lib/mysql/plugin
pid-file                                = /var/run/mysqld/mysqld.pid
socket                                  = /var/run/mysqld/mysqld.sock
slow-query-log
slow-query-log-file                     = /var/log/mysql/mysql-slow.log
long_query_time				= 1
log-error                               = /var/log/mysql/mysql-error.log
character-set-server                    = utf8
skip-external-locking
loose-default-week-format               = 1

optimizer_switch = block_nested_loop=off

key_buffer_size                         = 64M
delay_key_write                         = 1
max_allowed_packet                      = 16M
thread_cache_size                       = 128
table_open_cache                        = 2048
table_definition_cache                  = 400

wait_timeout                            = 28800
interactive_timeout                     = 28800
net_read_timeout                        = 3600
net_write_timeout                       = 3600
long_query_time                         = 10

query_cache_type                        = 1
query_cache_size                        = 16M
query_cache_limit                       = 4M

server-id                               = 218430

log_bin                                 = /var/log/mysql/mysql-bin.log
log_slave_updates                       = 1
binlog-ignore-db                        = mysql
binlog_format                           = mixed
binlog_cache_size                       = 32K
max_binlog_size                         = 100M
expire_logs_days                        = 10
loose-innodb_api_enable_binlog
loose-innodb_recovery_update_relay_log
replicate-ignore-db                     = mysql

slave_net_timeout                       = 300
read_only                               = 0

tmpdir                                  = /var/tmp
max_connections                         = 1024
max_connect_errors                      = 10000000
open_files_limit                        = 2048

max_heap_table_size                     = 64M
sort_buffer_size                        = 64M
join_buffer_size                        = 64M
tmp_table_size                          = 64M

group_concat_max_len                    = 1024

innodb_buffer_pool_size                 = 5G
innodb_data_file_path                   = ibdata1:10M:autoextend
innodb_buffer_pool_instances            = 1
innodb_thread_concurrency               = 16
innodb_commit_concurrency               = 0
innodb_flush_log_at_trx_commit          = 0
loose-innodb_additional_mem_pool_size   = 32M
innodb_log_buffer_size                  = 16M
innodb_log_file_size                    = 64M
innodb_log_files_in_group               = 2
loose-innodb_log_block_size             = 512
innodb_lock_wait_timeout                = 120
innodb_file_format                      = barracuda
innodb_file_per_table                   = 1
innodb_read_io_threads                  = 4
innodb_write_io_threads                 = 4
loose-innodb-kill-idle-transaction      = 600
innodb_doublewrite                      = 1
loose-innodb-buffer-pool-populate


transaction-isolation                   = REPEATABLE-READ
auto_increment_increment                = 1
auto_increment_offset                   = 1
log_warnings                            = 1

init_file                               = /etc/mysql/mysql_init_file
