git+https://github.yandex-team.ru/mdb/dbaas-python-common.git@62a84fb26f0c81c0912edfb45ae85e0fec580c3e
APScheduler==3.6.1
asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
idna==2.7
jsonschema==2.6.0
kazoo==2.5.0
psycopg2-binary==2.7.6.1
pycparser==2.19
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.24.1
pymysql==0.9.3
tenacity==6.1.0
redis==3.0.1
redis-py-cluster==2.0.0
elasticsearch==7.6.0
pymongo==3.7.2
