[Unit]
Description=YaSM agent service
After=network.target

[Service]
Type=forking
KillMode=mixed
PIDFile=/usr/local/yasmagent/run/agent.pid
ExecStart=/usr/local/yasmagent/run.py --config=/usr/local/yasmagent/agent.conf --log-dir=/var/log/yasmagent --pid-file=/usr/local/yasmagent/run/agent.pid --yasmutil-dir=/usr/local/yasmagent/lib --http-port=11003 --push-enabled --push-http-port=11005 --push-limit-total-values=15000 {% if accumulator | default(False) %} {% for option in accumulator['yasmagent-instance-getter'] %} --instance-getter {{ option }}{% endfor %}{% else %}--instance-getter /usr/local/yasmagent/default_getter.py{% endif %}
{# ALARMA!!! Do not touch this fucking line, because jinja trims end of line above #}{{ " " }}
User=monitor
Group=monitor
Restart=always
RestartSec=0
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
