Source: media-ipset-ban
Section: misc
Priority: extra
Maintainer: Sergey Vidishev <sergeyv@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: media-ipset-ban
Architecture: all
Depends: libregexp-ipv6-perl, libwww-perl, ipset, iptables
Conflicts:
Description: ban bad ip's listen in /etc/media-ipset-ban.d/
