{% from 'include/macros.html' import RenderField, QuerySubmitFields %}

{% extends 'main.html' %}

{% block page_header %}
    {{ super() }}

    <style>
      #tbl-access-log {
        margin-bottom: 16px;
      }
    </style>

    {% if doReq %}
      <script>
        $(document).ready(function() {
          AppendData('{{ getDataUrl|safe }}')
        })
      </script>
    {% endif %}
{% endblock %}

{% block header %}Search by {{searchBy|safe}}{% endblock %}

{% block content %}
    <form action="" method="get" name="frmAccessLog" id="frmAccessLog" class="query-form">
        <table class='query-params'>
            <tr>
                <td>{{form.date.label}}:</td>
                <td>{{RenderField(form.date)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.ip.label}}:</td>
                <td>{{RenderField(form.ip)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.yandexuid.label}}:</td>
                <td>{{RenderField(form.yandexuid)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.substring.label}}:</td>
                <td>{{RenderField(form.substring)}}
                    {{form.isre}}&nbsp;{{form.isre.description}}
                </td>
            </tr>
        </table>

        {{QuerySubmitFields(form)}}
    </form>

    {% if doReq %}
        <div id='content'>
            <table id="tbl-result" class="access-log">
              <tbody>
              </tbody>
            </table>
            <div id=loading class='f loading invisible'></div>
        </div>

        {% include 'include/info_blocks.html' %}
    {% endif %}
{% endblock %}

