{% from 'include/macros.html' import RenderField, QuerySubmitFields %}

{% macro PrintRow(row) %}
    <tr class="{{ row.trClass }}">
        <td><nobr>{{ row.Timestamp }}</nobr></td>
        <td>{{ row.Ip }}</td>
        <td>{{ row.UidId }}</td>
        <td>{{ row.YandexUid }}</td>
        <td>{{ row.Type }}</td>
        <td>{{ row.Reqid|default('') }}</td>
        <td>{{ row.UniqueKey|default('') }}</td>
        <td>{{ row.Token }}</td>
        <td>
            {% if row.Notes %}
                {% if row.Notes.type == 'TRequestData' %}
                    {% include "request_data.html" %}
                {% elif row.Notes is string %}
                    {{ row.Notes|safe }}
                {% elif row.Notes is sequence %}
                    {{ row.Notes|join('<br>')|safe }}
                {% else %}
                    {{ row.Notes|safe }}
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endmacro %}


{% extends 'main.html' %}

{% block page_header %}
    {{ super() }}

    {% if doReq %}
      <script>
        $(document).ready(function() {
            AppendData('{{ getDataUrl|safe }}')
        })
      </script>
    {% endif %}
{% endblock %}

{% block header %}Search by antirobot's eventlog{% endblock %}

{% block content %}
    <form action="" method="get" name="frmEventLog" id="frmEventLog" class="query-form">
        <table class='query-params'>
            <tr>
                <td>{{form.date.label}}:</td>
                <td>{{RenderField(form.date)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.ip.label}}:</td>
                <td>{{RenderField(form.ip)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.yandexuid.label}}:</td>
                <td>{{RenderField(form.yandexuid)}}</td>
            </tr>
            <tr>
                <td width=200>{{form.substring.label}}:</td>
                <td>{{RenderField(form.substring)}}
                </td>
            </tr>
            <tr>
                <td width=200>{{form.token.label}}:</td>
                <td>{{RenderField(form.token)}}</td>
            </tr>
        </table>
        {{ QuerySubmitFields(form) }}
    </form>

    {% if doReq %}
        <div id='content'>
            <table id="tbl-result" class='event-log'>
                <thead class="invisible">
                    <th>Time</th>
                    <th>Ip</th>
                    <th>Uid</th>
                    <th>YandexUid</th>
                    <th>Event type</th>
                    <th>Reqid</th>
                    <th>UniqueKey</th>
                    <th>Token</th>
                    <th></th>
                </thead>

                <tbody>
                </tbody>
            </table>
            <div id=loading class='f loading invisible'></div>
        </div>

        {% include 'include/info_blocks.html' %}
    {% endif %}
{% endblock %}

