{% extends 'main.html' %}

{%- macro _FIELD_ERROR(field) %}
    {% if field.data and field.errors %}
        <div class="alert alert-danger small-padding" role="alert">
            <ul class="validity-error">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{% block page_header %}
{{ super() }}
{% endblock %}

{% block header %}<H2>Call ip2backend for an IP</H2>{% endblock %}
{% block content %}
    <div>
        <form action="{{ url_for('ip2backend') }}" method="POST" name='ip2backend'>
            <table class='query-params'>
                <tr>
                    <td>{{ form.ip.label(class_="control-label") }}</td>
                    <td>{{ form.ip(class_="form-control") }}<br>
                        {{ _FIELD_ERROR(form.ip) }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.options.label(class_="control-label") }}</td>
                    <td>{{ form.options(class_="form-control") }} (optional)</td>
                </tr>
            </table>
            <div>
            <input name=submit type=submit value="Show">
            </div>
        </form>
    </div>

    <h5>Output result:</h5>
    <div>
        {% if form_valid %}
            <textarea rows="20" cols="80">{{ result }}</textarea>
        {% endif %}
    </div>

{% endblock %}
