<!DOCTYPE HTML>
<html>
    <head>
{% block page_header %}
    <title>Antirobot viewer - {{ curTab }}</title>
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    <link type="text/css" href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://yastatic.net/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <!--<script type="text/javascript" src="/static/jquery.jscroll.min.js"></script> -->
    <script type="text/javascript" src="/static/jquery-ui/jquery-ui.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
{% endblock %}
    <link rel="icon" type="image/png" href="/static/viewer.png"> 
  <style>
    //#tbl-access-log {
    //  overflow: scroll;
    //}
  </style>
</head>
<body>
    <ul id='topmenu'>
        {% set menuItems = [
            (url_for('ViewAccessLog'), 'Main accesslog'),
            (url_for('ViewAccessLog', what='market'), 'Market accesslog'),
            (url_for('ViewEventLog'), 'Eventlog'),
            (url_for('ViewPrecalcedTables'), 'Precalced tables'),
            (url_for('ClearAllCache'), 'Clear cache'),
            (url_for('SetBanCookie'), 'Set ban cookie'),
            (url_for('ShowRedirectCounts'), 'Redirect counts'),
            (url_for('ip2backend'), 'IP to backend'),
            (url_for('check_addos_rule'), 'Check ddos rule'),
            ('https://wiki.yandex-team.ru/jandekspoisk/sepe/antirobotonline/docs/antirobotviewer&v=1', 'Help'),
        ] -%}
        {%- for i in menuItems -%}
            <li id="{{'cur' if request.path == i[0] else ''}}"><!--
                --><a href="{{i[0]}}" onClick="SwitchPage(this.href); return false;">{{i[1]}}</a><!--
            --></li>
        {%- endfor -%}
    </ul>

    <h2>{% block header %}{% endblock %}</h2>

    {% block content %}
    {% endblock %}
</body>
</html>
