{% extends 'main.html' %}

{% block page_header %}
{{ super() }}
{% endblock %}

{% block header %}<H2>Precalculated tables status</H2>{% endblock %}
{% block content %}
    {% if validationError %}
        <p class='error'>{{ validationError }}</p>
    {% endif %}

    {% if nowProcessing %}
        <span class="progress">The following table(s) is being precalced now: <span class='strong'>{{nowProcessing}}</span></span>
    {% endif %}

    {% if startResult == 0 %}
        <span class='error'>Could not start precalc process</span>
    {% endif %}

    {% if not nowProcessing %}
        <div>
            <form action="" method="POST" name='precalc'>
                <input name=kind type="radio" value="all" checked=1>All nonprecalced tables<br>
                <Input name=kind type="radio" value="one">This table:
                    <div id="precalc_table">
                        <select name='log_id'>
                            <option disabled>Choose a log
                            {% for l in logNames %}
                                <option value='{{l}}'>{{l}}</option>
                            {% endfor %}
                        </select>

                        <select name='key'>
                          <option disabled>Choose a key
                          {% for p in keyNames %}
                            <option value='{{p[1]}}'>{{p[0]}}</option>
                          {% endfor %}
                        </select>
                        for date (yyyymmdd): <input type="text" name="date"><br>
                    </div>
                <input name=submit type=submit value="Precalculate!">
            </form>
        </div>
    {% endif %}

    <hr>
    {% if tables %}
        <div class=table_list>Missed precalculated tables:
        <ul class='table_list'>
        {% for t in tables %}
            <li>{{ t }}
        {% endfor %}
        </ul>
        </div>
    {% else %}
        <p class='progress'>All precalculated tables are in place.</p>
    {% endif %}

{% endblock %}
