{% extends 'main.html' %}

{% block page_header %}
    {{ super() }}
{% endblock %}

{% block header %}Redirect counts{% endblock %}

{% block content %}
    <table class='event-log' cellspacing='1' cellpadding='1' border='0'>
        <tr>
            <th>date period</th>
            <th>count</th>
        </tr>

        {% for row in result.data %}
            <tr class="{{ row.trClass }}">
                <td><nobr>{{ row[0] }}</nobr></td>
                <td align=right>{{ row[2] }}</td>
            </tr>
        {% endfor -%}
    </table>
{% endblock %}
