[Unit]
Description=Timer for vrouter-autorecovery

[Timer]
OnBootSec={{ boot_delay }}
OnUnitInactiveSec={{ interval }}

[Install]
WantedBy=timers.target
