database:
  name: "cloudbot"
  user: "bender"
  pass: 
  host:
    - "rc1c-79m6zre7v4dd7gd8.mdb.yandexcloud.net"
    - "rc1a-wdrvct0x6dmhnrix.mdb.yandexcloud.net"
    - "rc1b-5e7273pios3o7cas.mdb.yandexcloud.net"
  port: "6432"

telegram:
  # YandexCloudBot
  prod: "12345:XXXX"
  # yandex_cloud_dev_bot
  preprod: "12345:XXXX"
  # debugBot
  debug: "12345:XXXX"

auth:
  staff: "AQAD-XXXX"
  st: "AQAD-XXXX"

other:
  useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 YaBrowser/18.1.1.841 Yowser/2.5 Safari/537.36"
  tracker_endpoint: "https://st-api.yandex-team.ru/v2"
  staff_endpoint: "https://staff-api.yandex-team.ru/v3"
  resps_endpoint: "https://resps-api.cloud.yandex.net/api/v0"
  department: "yandex_exp_9053"

chats:
  default:
    id: null
    teams: null
  custom-chat-1:
    id: -1234
    teams:
      - "l7"
  custom-chat2:
    id: -4321
    teams:
      - "l8"
      - "l9"
