#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
#DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_install:
	mkdir -p debian/yandex-media-teamcity-agent/etc/iptables
	mkdir -p debian/yandex-media-teamcity-agent/etc/sysctl.d
	mkdir -p debian/yandex-media-teamcity-agent/home/teamcity/.docker
	mkdir -p debian/yandex-media-teamcity-agent/usr/bin
	mkdir -p debian/yandex-media-teamcity-agent/usr/sbin
	mkdir -p debian/yandex-media-teamcity-agent/etc/cron.d
	mkdir -p debian/yandex-media-teamcity-agent/etc/monrun/conf.d
	mkdir -p debian/yandex-media-teamcity-agent/etc/logrotate.d
	mkdir -p debian/yandex-media-teamcity-agent/var/log/yandex
	cp rules.v6 debian/yandex-media-teamcity-agent/etc/iptables
	cp v6forward.conf debian/yandex-media-teamcity-agent/etc/sysctl.d
	cp docker-config.json debian/yandex-media-teamcity-agent/home/teamcity/.docker/config.json
	cp docker-gc/monrun_check_docker.sh debian/yandex-media-teamcity-agent/usr/bin
	cp docker-gc/docker-gc.py debian/yandex-media-teamcity-agent/usr/sbin
	cp docker-gc/docker-gc.cron_d.conf debian/yandex-media-teamcity-agent/etc/cron.d/docker-gc
	cp docker-gc/docker-gc.logrotate_d.conf debian/yandex-media-teamcity-agent/etc/logrotate.d/docker-gc
	cp docker-gc/monrun.conf_d.check_docker.conf debian/yandex-media-teamcity-agent/etc/monrun/conf.d/check_docker.conf
	cp pylintrc debian/yandex-media-teamcity-agent/home/teamcity/.pylintrc
	
# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)




