Source: yandex-media-common-lxd-bootstrap
Section: misc
Priority: extra
Maintainer: Arsenev Alexey <aarseniev@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Svn: ssh://git@github.yandex-team.ru/admins/yandex-media-common-lxd-bootstrap

Package: yandex-media-common-lxd-bootstrap
Architecture: all
Depends: config-autodetect-active-eth (>= 1.0-39)
Conflicts: update-notifier-common, ubuntu-release-upgrader-core, python3-update-manager, update-manager-core
Description: compatibility layer between lxd and config-media-common + some bootstrap scripts
