#Password generation
#echo "Password = \"$(tr -dc '[:graph:]' < /dev/urandom | tr -d "\\\"\'\`" | head -c 35)\"" > /secret/filename

bacula:
  dir:
    address: backup.vd.yandex.net
  clients:
    salt01h.vd.yandex.net:
      fileset: srv_salt
      shedule: EveryDay
  filesets:
    srv_salt:
      include: [ /srv/salt ]
  schedules:
    EveryDay:
        - "Full mon-sun at 23:00"

