MARKETPLACE_PENDING_IMG_FOLDER_ID={{ pillar['api']['pending_img_folder_id'] }}
MARKETPLACE_PUBLIC_IMG_FOLDER_ID={{ pillar['api']['public_img_folder_id'] }}
MARKETPLACE_OAUTH_TOKEN={{ pillar['security']['marketplace_token'] }}
MARKETPLACE_CLOUD_ID={{ pillar['api']['cloud_id'] }}
PICTURE_S3_ACCESS_KEY={{ pillar['security']['api']['s3']['access_key'] }}
PICTURE_S3_SECRET_KEY={{ pillar['security']['api']['s3']['secret_key'] }}
KIKIMR_CLIENT_EXPERIMENT=OLD