{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "volumes" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>FQDN</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>Dom0</th>
                <td>{{ obj.dom0host.self_link_c }}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{{ obj.cluster.self_link_c }}</td>
              </tr>
              <tr>
                <th>Extra properties</th>
                <td>{{ obj.extra_properties }}</td>
              </tr>
              <tr>
                <th>Bootstrap cmd</th>
                <td>{{ obj.bootstrap_cmd }}</td>
              </tr>
              <tr>
                <th>Secrets</th>
                <td>{{ obj.secrets|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Secrets expire</th>
                <td>{{ obj.secrets_expire|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Pending delete</th>
                <td>{{ obj.pending_delete|bool_label }}</td>
              </tr>
              <tr>
                <th>Delete token</th>
                <td>{{ obj.delete_token|dash_if_not }}</td>
              </tr>
              <tr>
                <th>Related links</th>
                <td>{% related_links_onload obj.fqdn %}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>CPU guarantee</th>
                <td>{{ obj.cpu_guarantee|floatformat:"-1" }}</td>
              </tr>
              <tr>
                <th>CPU limit</th>
                <td>{{ obj.cpu_limit|floatformat:"-1" }}</td>
              </tr>
              <tr>
                <th>Memory guarantee</th>
                <td>
                  {% if obj.memory_guarantee %}
                  {{ obj.memory_guarantee|filesizeformat|pretty_fsf }} ({{ obj.memory_guarantee }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Memory limit</th>
                <td>
                  {% if obj.memory_limit %}
                  {{ obj.memory_limit|filesizeformat|pretty_fsf }} ({{ obj.memory_limit }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Network guarantee</th>
                <td>
                  {% if obj.net_guarantee %}
                  {{ obj.net_guarantee|filesizeformat|pretty_fsf }} ({{ obj.net_guarantee }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Network limit</th>
                <td>
                  {% if obj.net_limit %}
                  {{ obj.net_limit|filesizeformat|pretty_fsf }} ({{ obj.net_limit }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>IO limit</th>
                <td>
                  {% if obj.io_limit %}
                  {{ obj.io_limit|filesizeformat|pretty_fsf }} ({{ obj.io_limit }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Huge TLB limit</th>
                <td>
                  {% if obj.hugetlb_limit %}
                  {{ obj.hugetlb_limit|filesizeformat|pretty_fsf }} ({{ obj.hugetlb_limit }})
                  {% else %}
                    &ndash;
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_volumes">
        <div class="row">
          <table class="table table-hover noodle-table noodle-table-sortable">
            <thead>
              <tr>
                <th>Path</th>
                <th>Space guarantee</th>
                <th>Space limit</th>
                <th>Inode guarantee</th>
                <th>Inode limit</th>
                <th>Dom0 Path</th>
                <th>Backend</th>
                <th>Read only</th>
                <th>Disk</th>
              </tr>
            </thead>
            <tbody>
              {% for volume in obj.volume_set.all %}
              <tr>
                <td>{{ volume.path }}</td>
                <td>
                  {% if volume.space_guarantee is not none %}
                  {{ volume.space_guarantee|filesizeformat|pretty_fsf}}
                  {% else %}
                  &ndash;
                  {% endif %}
                </td>
                <td>
                  {% if volume.space_limit is not none %}
                  {{ volume.space_limit|filesizeformat|pretty_fsf }}
                  {% else %}
                  &ndash;
                  {% endif %}
                </td>
                <td>
                  {% if volume.inode_guarantee is not none %}
                  {{ volume.inode_guarantee|filesizeformat|pretty_fsf}}
                  {% else %}
                  &ndash;
                  {% endif %}
                </td>
                <td>
                  {% if volume.inode_limit is not none %}
                  {{ volume.inode_limit|filesizeformat|pretty_fsf }}
                  {% else %}
                  &ndash;
                  {% endif %}
                </td>
                <td>{{ volume.dom0_path }}&nbsp;{% simple_copy volume.dom0_path %}</td>
                <td>{{ volume.backend }}</td>
                <td>{{ volume.read_only|bool_label }}</td>
                <td>{{ volume.disk|dash_if_not }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% update_tab_badge "volumes" obj.volume_set.count %}

{% endblock %}
