{% extends "../base_alert.j2" %}
{% macro prog() %}
let source = {project='{{ project_id }}', cluster='cloud_prod_compute', service='juggler-events', host='{{ host }}', juggler_service='e2e-tests-permnet-*', status='CRIT'};

let errors = last(group_lines('sum', source));

let is_red = errors >= 0;
let trafficColor = is_red ? 'red' : 'green';
let description = 'e2e detect errors on {{ host }}';
{% endmacro %}

{% block main %}
    "name": "{{ alert_name | default(config_name) }}",
    "annotations": {
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
