{% extends "../base_alert.j2" %}
{% macro prog() %}
let source = {project='{{ project_id }}', cluster='cloud_prod_compute_{{ dc }}', service='internals', instance_id='{{ vm_id }}', metric='instance_health', service_name='compute_node', host='cluster', source='compute-node', cloud_id='{{ cloud_id }}'};

no_data_if(count(source) == 0);

let is_red = avg(tail(source, 1m)) == 0;
let trafficColor = is_red ? 'red' : 'green';
let description = '{{ vm_id }} was not healthy';
{% endmacro %}

{% block main %}
    "name": "{{ alert_name | default(config_name) }}",
    "annotations": {
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
