{% extends "../base_alert.j2" %}
{% macro prog() %}
let cpu_util = group_lines('sum', {project='{{ project_id }}', cluster='cloud_prod_compute', service='compute', metric='cpu-util', instance_id='{{ vm_id }}', cpu_name='*'});
let sum_cpu = sum(tail(cpu_util, 1m));

let is_red = sum_cpu <= 0 ;
let trafficColor = is_red ? 'red' : 'green';
let description = 'CPU utilization of {{ vm_id }}';
{% endmacro %}

{% block main %}
    "name": "{{ alert_name | default(config_name) }}",
    "annotations": {
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
