{% extends "../base_alert.j2" %}
{% macro prog() %}
let arp_replies = {project='{{ project_id }}', cluster='cloud_prod_compute', service='arp_replies', instance_id='{{ vm_id }}'};
let sum_arp = group_lines('sum', arp_replies);

let is_red = sum(tail(sum_arp, 20s)) <= 0;
let trafficColor = is_red ? 'red' : 'green';
let description = '{{ vm_id }} doesnt reply to arp requests';
{% endmacro %}

{% block main %}
    "name": "{{ alert_name | default(config_name) }}",
    "annotations": {
        "trafficLight.color": "[[expression.trafficColor]]",
        "details": "[[expression.description]]"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
