[Unit]
Description=Yandex.Cloud API Base Image Kubelet Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/curl \
http://169.254.169.254/computeMetadata/v1/instance/attributes/docker-config \
-H "Metadata-Flavor:Google" \
-o /var/lib/kubelet/config.json
ExecStart=/usr/bin/kubelet \
--address=127.0.0.1 \
--pod-manifest-path=/etc/kubernetes/manifests \
--manifest-url http://169.254.169.254/computeMetadata/v1/instance/attributes/podmanifest \
--manifest-url-header 'Metadata-Flavor:Google' \
--allow-privileged=true \
--cgroup-driver=systemd
Restart=always
