.modal
{
    &__body
    {
        position: relative;
        padding: 20px 20px 30px;
        width: calc(100vw - 150px);
        height: calc(100vh - 150px);
        box-sizing: border-box;
    }

    &__actions
    {
        background-color: #DDDDDD;
        padding: 10px 20px;
    }

    &__action
    {
        margin-right: 10px;
    }

    &_theme_normal&_visible_yes
    {
        background: rgba(50, 50, 50, .6);
    }
}
