[Unit]
Description="tflow - sFlow daemon"
ConditionPathExists=/etc/tflow/tflow.conf
StartLimitInterval=100
StartLimitBurst=5

[Service]
User=tflow
Group=tflow
Type=simple
ExecStart=/usr/bin/tflow
Restart=always
RestartSec=5
MemoryLimit=2G

[Install]
WantedBy=multi-user.target
