{% extends "../../base/alert.j2" %}
{% import "vars.yaml" as vars with context %}

{% set notificationChannels = ['lockbox_juggler'] %}
{% set notifyAboutStatuses = {
     'lockbox_juggler': '["ALARM", "WARN", "ERROR", "OK"]',
   }
%}
{% set jugglerTags = '' %}
