{% extends "./base_alert.j2" %}

{% set checkExpression = "" %}
{% set description = "Lockbox " + env | upper + " " + resource_type + " processing errors" %}
{% set windowSecs = 3 * 60 * 60 %}

{% macro prog() %}
let failed = {
    project='{{ project_id }}',
    service='service',
    cluster='cloud_{{ env }}_lockbox_cluster',
    host='cluster',
    sensor='{{ sensor }}',
    status='FAILED'
};
let value = sum(failed);
alarm_if(value > 0);
{% endmacro %}

{% block main %}
  "name": "[payload-cleaner] Lockbox {{ env | upper }} {{ resource_type }} processing errors",
  "groupByLabels": ["host"],
  "annotations": {
    "jugglerService": "lockbox-{{ env }}--[[labels.host]]--{{ resource_type }}-processing-errors",
    "description": "{{ resource_type }} processing errors on [[labels.host]]",
    "wikiUrl": "#",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
