{% load static %}

<html>
    <style>
        .idm-role {
            font-family: monospace;
            font-style: oblique;
        }
    </style>

    <head>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
        <title>База блокировок</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
            <h3>Недостаточно прав для просмотра страницы</h3>
            <p>Запросить доступ можно через <a class="b-link" href="https://idm.yandex-team.ru">IDM</a> («Единая база блокировок»).</p>
            <ul>
                <li>Для просмотра групп и блокировок достаточно роли <span class=idm-role>Пользователь</span></li>
                <li>Чтобы создавать новые группы, а также их редактировать, необходима роль <span class=idm-role>Администратор</span></li>
            </ul>
        </div>
    </body>
</html>
