{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Единая База блокировок{% block title  %} - {{ title }}{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet"/>
    <link href="{% static "cbb/css/tablesorter-bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "cbb/css/cbb.css" %}" rel="stylesheet"/>
    <script src="{% static "jquery-1.7.2/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "tablesorter/jquery.tablesorter.min.js" %}" type="text/javascript"></script>
    {% block script %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% if db_read_only %}
        <div class="alert alert-warning" style="margin-bottom: 0px;">
            Внимание! Сервис работает в режиме «только чтение».
        </div>
      {% endif %}
      </div>
    </div>

    <div>
    {% block navbar %}
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href={% url "antirobot.cbb.cbb_django.cbb:admin.index" %}>ЕББ</a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://wiki.yandex-team.ru/jandekspoisk/sepe/antirobotonline/servicecbb/">Справка</a></li>
            <li><a href="https://wiki.yandex-team.ru/CBB/auth/" target=_blank>Правила доступа</a></li>
            <li><span class="staff-avatar"><a href="https://staff.yandex-team.ru/{{ cbb_user.login }}"><img src="https://center.yandex-team.ru/user/avatar/{{ cbb_user.login }}/48/square" alt="{{ cbb_user.login }}" title="{{ cbb_user.login }}"></a></span></li>
          </ul>
          <div class="collapse navbar-collapse" style="margin-left: 25%;">
            <form class="navbar-form" role="search" method="get" action={% url "antirobot.cbb.cbb_django.cbb:admin.search" %}>
              <div class="input-group">
                <input type="text" name="search" placeholder="Введите IP-адрес или текст блокировки" class="form-control" style="width: 400px;">
                <span class="input-group-btn" style="margin-left: 2px;">
                  <button type="submit" class="btn btn-default">Найти</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </nav>
    {% endblock %}
    </div>
    <div class="container" style="margin-top:20px;">
      <div class="row">
      {% block content %}
        {{ content }}
      {% endblock %}
      </div>
      <footer class="page-footer font-small text-center" style="margin: 2em;">
        <a href="https://abc.yandex-team.ru/services/ipfilter/">Единая база блокировок</a>
      </footer>
    </div>
  </body>
</html>


