{% extends "cbb/index.html" %}
{% block title %} - База недоступна{% endblock %}
{% block name %}500 - Нужная база как раз сейчас недоступна {% endblock %}

{% block content %}
<p> Нужная база недоступна. Скорее всего мы об этом знаем и уже все чиним. Если нет, или вы просто хотите выговориться &mdash;
    напишите в рассылку <a href="mailto:ipfiltering@yandex-team.r">ipfiltering@</a>
</p>
<p>
    Или можно вернуться <a href="javascript:void()" onClick="javascript:history.go(-1);">назад</a>
</p>

{% endblock %}
