.service-metric
{
    padding: 20px;

    &__plot
    {
        padding-top: 20px;
        min-width: 500px;
        flex: 1 1 100%;

        & + &
        {
            padding-left: 10px;
        }
    }

    &__block
    {
        position: relative;

        & + &
        {
            padding-top: 20px;
        }
    }

    &__percents,
    &__status
    {
        flex-basis: auto;
    }

    &__flex
    {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    &__select
    {
        width: 200px;

        & .button2_view_default.button2_tone_grey.button2_theme_normal:before
        {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, .2);
        }
    }
}
