<config>
    <openSSL>
        <client>
            <loadDefaultCAFile>true</loadDefaultCAFile>
{% if salt.mdb_clickhouse.ssl_enabled() %}
            <caConfig>{{ salt.mdb_clickhouse.ca_path() }}</caConfig>
{% endif %}
            <cacheSessions>true</cacheSessions>
            <disableProtocols>{{ salt.mdb_clickhouse.disabled_ssl_protocols() }}</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <invalidCertificateHandler>
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>
    <tcp_port>{{ salt.mdb_clickhouse.tcp_port() }}</tcp_port>
</config>
