{% extends "../../base/graph.j2" %}
{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "service",
        "value": "xds-provider"
    },
    {
        "name": "cluster",
        "value": "*"
    },
    {
        "name": "host",
        "value": "*"
    }
{% endblock %}
{% block elements %}
	{{
		render_element(
			"go_memstats_mallocs_total",
			"non_negative_derivative(group_lines('sum', {sensor='go_memstats_mallocs_total'}))",
		)
	}},
	{{
		render_element(
			"go_memstats_mallocs_lives",
			"non_negative_derivative(group_lines('sum', {sensor='go_memstats_mallocs_total'}) - group_lines('sum', {sensor='go_memstats_frees_total'}))",
		)
	}}
{% endblock %}
