{% extends "../../base/graph.j2" %}
{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "service",
        "value": "xds-provider"
    },
    {
        "name": "cluster",
        "value": "*"
    },
    {
        "name": "host",
        "value": "*"
    }
{% endblock %}
{% block elements %}
	{{
		render_element(
			"go_goroutines",
			"group_lines('sum', {sensor='go_goroutines'})",
		)
	}}
{% endblock %}
