{% extends "../../../base/alert.j2" %}

{% macro svm_fqdn() -%}
    [[labels.host]].{{ svm_domains[env] }}
{%- endmacro %}

{% macro prog() %}
let successes = sum(series_sum({
    project='{{ project_id }}',
    cluster='{{ cluster }}',
    service='k-rail',
    sensor='http_request_duration_seconds_count',
    code='2??',
    host='*'
}));
let total = sum(series_sum({
    project='{{ project_id }}',
    cluster='{{ cluster }}',
    service='k-rail',
    sensor='http_request_duration_seconds_count',
    code='*',
    host='*'
}));
let is_red = (successes / total) < 1;

alarm_if(is_red);
{% endmacro %}

{% block main %}
    "name": "k-rail requests failures @ {{ env }}/{{ cluster }}",
    "groupByLabels": ["host"],
    "annotations": {
        "host": "{{ svm_fqdn() }}",
        "tags": "k-rail, {{ env }}, {{ cluster }}",
        "service": "k-rail-requests-failures"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
