global
	log 127.0.0.1 local0 notice
	#log /var/log/haproxy/haproxy.log local0 notice
	#stats socket /tmp/stats
	maxconn 10000
	#chroot /usr/share/haproxy
	nbproc 1
	user haproxy
	group haproxy
	ulimit-n 65536
	daemon
	#debug
	#quiet
	stats socket /tmp/haproxy-tools

defaults
	log global
	mode http
	option httplog
	option dontlognull
	retries 3
	option redispatch
	option httpclose
	option forwardfor
	maxconn 10000
	contimeout 1000
	clitimeout 50000
	srvtimeout 50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen stats *:1936
    mode http
    stats enable
    stats hide-version
    stats realm Tools\ Statistics
    stats uri /
    stats auth ADMIN:ADMIN

frontend http
bind :::8081
     maxconn 200000


# at.yandex-team.ru
acl is_at.yandex-team.ru hdr_dom(host) -i api-yaru.yandex-team.ru
use_backend at.yandex-team.ru if is_at.yandex-team.ru



#doc.yandex-team.ru:
acl is_doc.yandex-team.ru hdr_dom(host) -i doc.yandex-team.ru
use_backend doc.yandex-team.ru if is_doc.yandex-team.ru



# backends: 

backend at.yandex-team.ru
       balance roundrobin
       appsession site4ha len 64 timeout 3h prefix
       cookie site4ha insert indirect nocache
       option httpchk GET /ping/ HTTP/1.1\r\nAuthorization:Token\ 7fc0b75fd3be41ae8af808b82dcb9e9a\r\nHost:api-yaru.yandex-team.ru
#       option httpchk GET /ping/ HTTP/1.1\r\nHost:api-yaru.yandex-team.ru
       http-check disable-on-404
#       http-check expect string OK
       stats enable
       timeout server 24000
       server xfront01f.tools.yandex.net xfront01f.tools.yandex.net:80 cookie site412ha check inter 2000 fall 3
       server xfront02f.tools.yandex.net xfront02f.tools.yandex.net:80 cookie site413ha check inter 2000 fall 3
       server xfront01g.tools.yandex.net xfront01g.tools.yandex.net:80 check inter 2000 fall 2
       server xfront02g.tools.yandex.net xfront02g.tools.yandex.net:80 check inter 2000 fall 2
       server xfront01e5.tools.yandex.net xfront01e5.tools.yandex.net:80 check inter 2000 fall 2
       server xfront02e5.tools.yandex.net xfront02e5.tools.yandex.net:80 check inter 2000 fall 2
       server xfront-prestable.tools.yandex.net xfront-prestable.tools.yandex.net:80 check inter 2000 fall 2 backup



backend doc.yandex-team.ru
	retries 0
	balance roundrobin
	option httpchk GET /ping.xml HTTP/1.1\r\nHost:doc.ping.yandex-team.ru
	http-check disable-on-404
	http-check expect string ok
	stats enable
	timeout server 12000
	server xfront01g.tools.yandex.net xfront01g.tools.yandex.net:80 check inter 2000 fall 2
	server xfront02g.tools.yandex.net xfront02g.tools.yandex.net:80 check inter 2000 fall 2
	server xfront01f.tools.yandex.net xfront01f.tools.yandex.net:80 check inter 2000 fall 2
	server xfront02f.tools.yandex.net xfront02f.tools.yandex.net:80 check inter 2000 fall 2
	server xfront01e5.tools.yandex.net xfront01e5.tools.yandex.net:80 check inter 2000 fall 2
	server xfront02e5.tools.yandex.net xfront02e5.tools.yandex.net:80 check inter 2000 fall 2
	server xfront-prestable.tools.yandex.net xfront-prestable.tools.yandex.net:80 check inter 2000 fall 2 backup
