{% extends "main/base.html" %}
{% block content %}
<div id="content">
  <div class="container-fluid" style="padding-top: 50px">
    <div class="row">
      <div class="col-lg-24" style="padding-right: 0px">
        <div class="noodle-tile">
          <label class="backstage-dashboard-label">Vector config</label><br>
          <div id="vector_config"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-14" style="padding-right: 0px; padding-top: 5px;">
        <div class="noodle-tile">
          <label class="backstage-dashboard-label">Schema</label><br>
          <div id="vector_schema"></div>
        </div>
      </div>
      <div class="col-lg-10" style="padding-right: 5px; padding-top: 5px;">
        <div class="noodle-tile">
          <label class="backstage-dashboard-label">Element info</label><br>
          <div id="vector_item_info"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
window['vector_config_editor_timeout'] = 0;

var vector_config_editor = init_monaco({
  'container': 'vector_config',
  'lang': 'yaml',
  'readOnly': false,
  'data': '# paste vector config here',
})
$("#vector_config").height('30%');
vector_config_editor.layout();

vector_config_editor.onDidChangeModelContent(function(e) {
  clearTimeout(window['vector_config_editor_timeout']);

  window['vector_config_editor_timeout'] = setTimeout(function() {
    request({
      container: $('#vector_schema'),
      url: '/ui/main/ajax/tools/vector_schema',
      params: {
        'config_text': vector_config_editor.getValue(),
      },
      request_type: 'POST',
      show_global_loader: false,
      show_container_loader: true,
    })
  }, 500);
});

</script>
{% endblock %}
