[Desktop Entry]
Name="Show desktop icons"
GenericName="Show desktop icons"
Comment="Show desktop icons"
Exec=/home/cores/bin/show-desktop-icons.sh
Terminal=false
Type=Application
X-Gnome-Autostart=true
