{
  "id": "<< id_prefix >>-backup-scheduler-<< backup_service_cluster_type >>-<< backup_scheduler_action >>",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Backup Service << backup_service_cluster_type >> scheduler << backup_scheduler_action >> result",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/backup/scheduler-exit-code-program" %}"
    }
  },
  "annotations": {
    "trafficLight.color": "{{expression.trafficColor}}",
    "host": "<< backup_service.get("juggler_host") >>",
    "service": "<< backup_service_cluster_type >>_cluster_scheduler_<< backup_scheduler_action >>"
  },
  "windowSecs": 2400,
  "delaySecs": 0,
  "description": "",
  "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA",
  "noPointsPolicy": "NO_POINTS_NO_DATA"
}
