Source: mirror-configs-combaine
Section: misc
Priority: extra
Maintainer: Michael Bruskov <nemca@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://wiki.yandex-team.ru/

Package: mirror-configs-combaine
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The configuration files of combaine for mirror.yandex.net
