{% load lib.templatetags %}
{% if hosts %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>FQDN</th>
      <th>Geo</th>
      <th>Gen</th>
      <th>Cores</th>
      <th>Memory</th>
      <th>SSD</th>
      <th>HDD</th>
      <th>Max IO</th>
      <th>Net speed</th>
      <th>Heartbeat</th>
      <th>Switch</th>
    </tr>
  </thead>
  <tbody>
    {% for host in hosts %}
    <tr>
      <td>{{ host.self_link_c }}</td>
      <td>{{ host.location.geo }}</td>
      <td>{{ host.generation }}</td>
      <td>{{ host.cpu_cores }}</td>
      <td data-order="{{ host.memory }}">{{ host.memory|filesizeformat|pretty_fsf }}</td>
      <td data-order="{{ host.ssd_space }}">{{ host.ssd_space|filesizeformat|pretty_fsf }}</td>
      <td data-order="{{ host.sata_space }}">{{ host.sata_space|filesizeformat|pretty_fsf }}</td>
      <td data-order="{{ host.max_io }}">{{ host.max_io|filesizeformat|pretty_fsf }}</td>
      <td data-order="{{ host.net_speed }}">{{ host.net_speed|filesizeformat|pretty_fsf }}</td>
      <td data-order="{{ host.heartbeat|date:"Uu" }}">{% dt_formatted host.heartbeat %}</td>
      <td>{{ host.switch }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="noodle-box">
    &ndash;
  </div>
{% endif %}
{% update_tab_badge "dom0_hosts" hosts.count %}
