interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.fouras.mail.yandex.net/domain/status?domain=music.yandex.ru&selector=mail
  response:
    body:
      string: "{\"status\": \"ok\", \"response\": {\"enabled\": false, \"domain\": \"music.yandex.ru\", \"changed\": true, \"selector\": \"mail\", \"public_key\": \"key\"}}"
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://webmaster-internal-back.unstable.common.yandex.net/user/domain/verification/info.json
version: 1
