interactions:
- request:
    body:
      other: two
      some: one
    headers: {}
    method: POST
    uri: https://webmaster-internal-back.unstable.common.yandex.net/user/domain/verification/info.json
  response:
    body:
      string: "{\n  \"errors\": [{\"code\": \"USER__HOST_ERROR\", \"message\": \"some\"}, {\"code\": \"USER__HOST_NOT_ADDED\"}], \n  \"data\": {\"verification\": \"ok\"}, \n  \"files\": {}, \n  \"form\"\
        : {\n    \"other\": \"two\", \n    \"some\": \"one\"\n  }, \n  \"headers\"\
        : {\n    \"Accept\": \"*/*\", \n    \"Accept-Encoding\": \"gzip, deflate\"\
        , \n    \"Content-Length\": \"18\", \n    \"Content-Type\": \"application/x-www-form-urlencoded\"\
        , \n    \"Host\": \"httpbin.org\", \n    \"User-Agent\": \"Python/3.8 aiohttp/3.6.2\"\
        , \n    \"X-Amzn-Trace-Id\": \"Root=1-5f240984-9a3a724a663b3af37f8b3188\"\n\
        \  }, \n  \"json\": null, \n  \"origin\": \"5.45.235.105\"}\n"
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://webmaster-internal-back.unstable.common.yandex.net/user/domain/verification/info.json
version: 1
