interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.gendarme.mail.yandex.net/domain/status?name=some-domain.com
  response:
    body:
      string: '{"last_added": "2020-07-06T14:12:23.198350+00:00", "mx": {"match": false, "value": ""}, "last_check": "2020-08-28T14:48:06.745230+00:00", "ns": {"match": false, "value": "ns1.expired.reg.ru"}, "dkim": [{"match": false, "value": "", "selector": "mail"}], "spf": {"match": false, "value": ""}}'
    headers:
      Content-Type: application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://test.gendarme.mail.yandex.net/domain/status?name=some-domain.com
version: 1
