# vim: ft=sls

{% load_yaml as sender_defaults %}
graphite:
    server:
        - gr.mega-graphite-sas.search.yandex.net:2024
        - gr.mega-graphite-man.search.yandex.net:2024
sender:
    port: 42000
    logfile: /var/log/graphite-sender/sender.log
    loglevel: info
    queue_dir: "/var/spool/graphite-sender"
    queue_timeout: 3h
    max_metrics: 5000
    delayed_max_metrics_factor: 10
    send_interval: 1m
status:
    retain: 30m
    interval: 3m
    port: 8082
monrun:
  invalid: 0.02  # accepted rate of invalid metrics 0.016 ~= 1 metric per second
{% endload %}

{% set config_merged_with_user_pillars = salt["pillar.get"]("graphite-sender", sender_defaults, merge=True) %}
