{% extends "../../base/alert.j2" %}

{% macro prog() %}
let ip = {project="{{ project_id }}", cluster="{{ cluster }}", service="infra_hw", metric="ipv4_addr", host="{{ host_prefix }}*"};
let ip_addr = get_label(ip, "ipv4_addr");
let reason = "Found at least one duplicated IPv4 address: {{ip_addr}}";
let is_red = max(ip) > 1;
alarm_if(is_red);

{% endmacro %}

{% block main %}
    "name": "yc_infra_ipv4_duplication @ {{ env }}/{{ cluster }}",
    "groupByLabels": ["host"],
    "annotations": {
        "reason": "[[expression.reason]]",
        "host": "[[labels.host]]{{ host_suffix }}",
        "tags": "ipv4_duplication, {{ env }}, {{ cluster }}",
        "service": "ipv4_duplication"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
