{% extends "../../base/alert.j2" %}

{% set threshold = 0.5 %} # seconds

{% block main %}
    "name": "yc_infra_high_dns_resolve_time @ {{ env }}/{{ cluster }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "yc_infra_high_dns_resolve_time, {{ env }}, {{ cluster }}",
        "host": "[[labels.host]]{{ host_suffix }}",
        "service": "dns_resolve_time"
    },
    "description": "",
    "type": {
        "threshold": {
          "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}', service='infra_hw', host='{{ host_prefix }}*', metric='resolve_time'}",
          "timeAggregation": "AT_ALL_TIMES",
          "predicate": "GT",
          "threshold": {{ threshold }},
          "predicateRules": [
            {
              "thresholdType": "AT_ALL_TIMES",
              "comparison": "GT",
              "threshold": {{ threshold }},
              "targetStatus": "ALARM"
            }
          ]
        }
    }
{% endblock %}

