{% extends "../../base/alert.j2" %}

{% set threshold = 105 %} # degrees celsius

{% block main %}
    "name": "yc_infra_nic_temperature @ {{ env }}/{{ cluster }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "yc_infra_nic_temperature, {{ env }}, {{ cluster }}",
        "host": "[[labels.host]]{{ host_suffix }}",
        "service": "nic_temperature"
    },
    "description": "",
    "type": {
        "threshold": {
          "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}', service='infra_hw', host='{{ host_prefix }}*', metric='nic_temp'}",
          "timeAggregation": "AT_LEAST_ONE",
          "predicate": "GT",
          "threshold": {{ threshold }},
          "predicateRules": [
            {
              "thresholdType": "AT_LEAST_ONE",
              "comparison": "GT",
              "threshold": {{ threshold }},
              "targetStatus": "ALARM"
            }
          ]
        }
    }
{% endblock %}

