{% extends "../../base/alert.j2" %}

{% set crt_threshold = 30 %} # TCP segments
{% set wrn_threshold = 20 %} # 

{% block main %}
    "name": "yc_infra_retransmit_tcp_segments @ {{ env }}/{{ cluster }}",
    "groupByLabels": ["host"],
    "annotations": {
        "tags": "yc_infra_retransmit_tcp_segments, {{ env }}, {{ cluster }}",
        "host": "[[labels.host]]{{ host_suffix }}",
        "service": "retransmit_tcp_segments"
    },
    "description": "Check retransmit TCP segments",
    "type": {
        "threshold": {
          "selectors": "{project='{{ project_id }}', cluster='cloud_{{ env }}', service='sys', path='/Net/Snmp/Tcp/RetransSegs', host='{{ host_prefix }}*'}",
          "timeAggregation": "AVG",
          "predicate": "GTE",
          "threshold": {{ crt_threshold }},
          "predicateRules": [
            {
              "thresholdType": "AVG",
              "comparison": "GTE",
              "threshold": {{ crt_threshold }},
              "targetStatus": "ALARM"
            },
            {
              "thresholdType": "AVG",
              "comparison": "GTE",
              "threshold": {{ wrn_threshold }},
              "targetStatus": "WARN"
            }
          ]
        }
    }
{% endblock %}

