{% set hostname = grains['nodename'] %}

{% set port_map = salt['grains.filter_by']({
  'default': {
    '80':   '80',
    '443':  '443',
    '8443': '8443'
  },

  'api.ycp.cloud-preprod.yandex.net': {
    '80': '1080',
    '443': '1443'
  },

  'api.ycp.cloud.yandex.net': {
    '80': '1080',
    '443': '1443'
  },

  'container-registry.cloud-preprod.yandex.net': {
    '80': '81',
    '443': '1443'
  },

  'container-registry.cloud.yandex.net': {
    '80': '81',
    '443': '1443'
  },

  'cpl.ycp.cloud-preprod.yandex.net': {
    '80': '1080',
    '443': '1443'
  },

  'cpl.ycp.cloud.yandex.net': {
    '80': '1080',
    '443': '1443'
  },

  'dpl01.ycp.cloud-preprod.yandex.net': {
    '80': '1080',
    '443': '1443'
  },

  'dpl01.ycp.cloud.yandex.net': {
    '80': '1080',
    '443': '1443'
  }
},
grain='cluster_map:hosts:%s:slb_adapter:balancer_fqdn' % hostname
) %}

{% set proxy_protocol = salt['grains.filter_by']({
  'default': 'off',
  'api.ycp.cloud-preprod.yandex.net': 'on',
  'api.ycp.cloud.yandex.net': 'on',
  'container-registry.cloud-preprod.yandex.net': 'on',
  'container-registry.cloud.yandex.net': 'on',
  'cpl.ycp.cloud-preprod.yandex.net': 'on',
  'cpl.ycp.cloud.yandex.net': 'on',
  'dpl01.ycp.cloud-preprod.yandex.net': 'on',
  'dpl01.ycp.cloud.yandex.net': 'on'
},
grain='cluster_map:hosts:%s:slb_adapter:balancer_fqdn' % hostname
) %}
