{% load popup %}
{% load i18n %}
{% popup popup_info_struct %}
<script>
$(function () {
        $("#tabs").tabs();
        $("#MCR_link").click(function () {
                            $("#MCR_link").parent().addClass("active");
                            $("#RCA_link").parent().removeClass("active");
                            $("#id_kind_pool").val("MCR");
                            return false;
                         });
        $("#RCA_link").click(function () {
                            $("#RCA_link").parent().addClass("active");
                            $("#MCR_link").parent().removeClass("active");
                            $("#id_kind_pool").val("RCA");
                            return false;
                         });
        $("#{{ kind_pool }}_link").click();
        });
</script>

<div id="tabs">
    <ul class="nav nav-pills">
        <li {% if kind_pool == 'mcr' %} class="active" {% endif %}>
            <a id="MCR_link" href="#mcr">{% trans 'Multicriterial estimation' %}</a>
        </li>
        <li {% if kind_pool == 'rca' %} class="active" {% endif %}>
            <a id="RCA_link" href="#rca">{% trans 'RCA' %}</a>
        </li>
    </ul>
    <div class="control-group">
        {{ form.non_field_errors }}
    </div>
    {% for field in form %}
    {% if field.html_name != 'first_pool_tpl' and field.html_name != 'second_pool_tpl' and field.html_name != 'ignore_bold' and field.html_name != 'kind_pool' and field.html_name != 'first_pool' and field.html_name != 'second_pool' and field.html_name != 'first_pool_rca' and field.html_name != 'second_pool_rca' %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}:</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endif %}
    {% endfor %}
        <div class="control-group">
            {{ form.kind_pool.errors }}
            <div class="controls">
                {{ form.kind_pool }}
            </div>
        </div>
<div id="mcr">
    <div class="control-group">
        {{ form.first_pool.errors }}
        <label class="control-label" for="id_{{ form.first_pool.html_name }}">{{ form.first_pool.label }}:</label>
        <div class="controls">
            {{ form.first_pool }}
        </div>
    </div>
    <div class="control-group">
        {{ form.second_pool.errors }}
        <label class="control-label" for="id_{{ form.second_pool.html_name }}">{{ form.second_pool.label }}:</label>
        <div class="controls">
            {{ form.second_pool }}
        </div>
    </div>
    <div class="control-group">
        {{ form.first_pool_tpl.errors }}
        <label class="control-label" for="id_{{ form.first_pool_tpl.html_name }}">{{ form.first_pool_tpl.label }}:</label>
        <div class="controls">
            {{ form.first_pool_tpl }}
        </div>
    </div>
    <div class="control-group">
        {{ form.second_pool_tpl.errors }}
        <label class="control-label" for="id_{{ form.second_pool_trl.html_name }}">{{ form.second_pool_tpl.label }}:</label>
        <div class="controls">
            {{ form.second_pool_tpl }}
        </div>
    </div>
    <div class="control-group">
        {{ form.ignore_bold.errors }}
        <label class="control-label" for="id_{{ form.ignore_bold.html_name }}">{{ form.ignore_bold.label }}:</label>
        <div class="controls">
            {{ form.ignore_bold }}
        </div>
    </div>
</div>
<div id="rca">
{% for field in form %}
    {% if field.html_name == 'first_pool_rca' or field.html_name == 'second_pool_rca' %}
    <div class="control-group">
        {{ field.errors }}
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}:</label>
        <div class="controls">
            {{ field }}
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
</div>

{% endpopup %}
