{% extends "core/index.html" %}
{% load i18n %}

{% block Title %}{% trans 'Add two snippet pools' %}{% endblock %}

{% block Caption %}{% trans 'Add two snippet pools' %}{% endblock %}
{% block Content %}
    <form method="post" class="form-horizontal form-no-margin" action="{% url 'core:add_two_snippetpools' %}">
        <div class="control-group">
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
            <div class="control-group">
                {{ field.errors }}
                <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}:</label>
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        {% csrf_token %}
        <div class="control-group">
            <input type="submit" id="submit" value="{% trans 'Add new' %}" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}
