{% extends "core/index.html" %}
{% load i18n %}
{% load yauth %}

{% block Title %}{% trans 'Corrections' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Caption %}{% trans 'Corrections' %}{% endblock %}
{% block Content %}
<ul class="nav nav-tabs">
{% for tab_name in tabs %}
    {% if tab == tab_name %}
    <li class="active">
        <a>
    {% else %}
    <li>
        <a href="{% url 'core:corrections' tab_name task.id %}">
    {% endif %}
            {% trans tab_name|capfirst %}
        </a>
    </li>
{% endfor %}
</ul>
{% if assessor_ests %}
    {% with yauser.core_user as viewing_user %}
        {% include 'core/correction_block.html' %}
    {% endwith %}
{% else %}
    <p>
        {% trans 'No corrections are available.' %}
    </p>
{% endif %}
{% endblock %}
