<div class="steamDate">
    <div class="datecontainer">
        {{ dateinput }}
    </div>
</div>
<script>
    $(".datecontainer input").datepicker({
        dateFormat: "dd.mm.yy",
        firstDay: 1,
        dayNamesMin: [
        {% for day_name in day_names %}
            "{{ day_name }}",
        {% endfor %}
        ],
        monthNames: [
        {% for month_name in month_names %}
            "{{ month_name }}",
        {% endfor %}
        ],
    });
    $("#ui-datepicker-div").wrap("<div class=\"steamDate\"></div>");
</script>
