{% load popup %}
{% popup popup_info_struct %}
    <div class="control-group">
        {{ form.non_field_errors }}
    </div>
{% for field in form %}
    <div class="control-group">
        {{ field.errors }}
    {% if field.html_name != 'kind_pool' %}
        <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}:</label>
    {% endif %}
        <div class="controls">
            {{ field }}
        </div>
    </div>
{% endfor %}
        <div class="control-group">
            {{ form.kind_pool.errors }}
            <div class="controls">
                {{ form.kind_pool }}
            </div>
        </div>
{% endpopup %}
