{% load i18n %}
{% load crit_name_cleaner %}
{% if est_form.non_field_errors %}
    <div class="alert alert-error">{{ est_form.non_field_errors }}</div>
{% endif %}

{% for field in est_form.criterion_fields %}
    <div class="control-group">
        <label class="control-label">
            <b>{% trans field.label|crit_name_cleaner|capfirst %}:</b>
        </label>
    {% if field.errors %}
        <span class="help-inline">{{ field.errors }}</span>
    {% endif %}
        {{ field }}
    </div>
{% endfor %}
{{ est_form.time_elapsed }}
<div class="control-group">
{% if est_form.comment.errors %}
    <span class="help-inline">{{ est_form.comment.errors }}</span>
    <br />
{% endif %}
    {{ est_form.comment }}
</div>
<input type="hidden" id="id_skipped" name="skipped" value="False" />
{{ est_form.linked }}
{% csrf_token %}
