{% extends 'core/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block Title %}{% trans 'Help' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Caption %}{% trans 'Help' %}{% endblock %}
{% block Content %}

{% if LANGUAGE_CODE == 'ru' %}

<ul class="unstyled">
    <li>
        <h3>Раздача заданий</h3>

Основные принципы:
        <ol>
            <li>
  Задания раздаются комплектами
            </li>
            <li>
  Асессор может взять комплект либо проигнорировать его
            </li>
            <li>
  Оплачивается только полностью выполненный комплект заданий
            </li>
        </ol>

        <br />

    <h4>Как взять задания в оценку</h4>
      <img src="{% static 'core/img/help/2014-02-28_1540.png' %}">
      <ol>
            <li>
      Открываем пункт меню "Оценка" &rarr; "Задания"
            </li>
      </ol>

        <br />

      <img src="{% static 'core/img/help/2014-02-28_1540-1.png' %}">
      <ol>
            <li>
      Открываем вкладку "Доступные". На странице выводятся доступные комплекты заданий с количественной статистикой
            </li>
            <li>
      Кликаем на кнопку "Взять комплект"
            </li>
      </ol>

        <br />

      <img src="{% static 'core/img/help/2014-02-28_1542.png' %}">
      <ol>
            <li>
      Переходим на вкладку "Текущие"
            </li>
            <li>
      Кликаем на иконку "+" для разворачивания списка заданий
            </li>
            <li>
      Выбираем задание из списка, кликаем на него
            </li>
      </ol>
    </li>

        <br />

    <li>
        <h3>Процесс оценки</h3>

      В процессе оценки все критерии теперь оцениваются на отдельных страницах/шагах:

        <br />

      <h4>Шаг 1. Читаемость</h4>
      <img src="{% static 'core/img/help/readability.png' %}">
      <ol>
            <li>
      При оценке читаемости информация о запросе, регионе, url не выводится
            </li>
            <li>
      Также не выводится информация о прокраске
            </li>
      </ol>

        <br />

      <h4>Шаг 2. Содержательность</h4>
      <img src="{% static 'core/img/help/sapidity.png' %}">
      <ol>
            <li>
      При оценке содержательности по-прежнему не выводится информация о запросе, регионе, прокраске заголовка и тела сниппета, но показывается url документа
            </li>
      </ol>

        <br />

      <h4>Шаг 3. Информативность</h4>
      <img src="{% static 'core/img/help/informativity.png' %}" />
      <br />
      При оценке информативности выводится:
      <ol>
            <li>
      Информация о запросе и регионе
            </li>
            <li>
      Прокраска слов запроса в теле и заголовке сниппета, а также url документа
            </li>
      </ol>

    </li>
</ol>

{% else %}

<ul class="unstyled">
    <li>
        <h3>Task distribution</h3>

Basic principles:
        <ol>
            <li>
  Tasks are distributed in sets named as "Task packs"
            </li>
            <li>
  An assessor can take a "Task pack" or ignore it
            </li>
            <li>
  An assessor gets paid only for fully estimated set of tasks
            </li>
        </ol>

        <br />

    <h4>How to get tasks</h4>
      <img src="{% static 'core/img/help/eng_tasks.png' %}">
      <ol>
            <li>
      Open the "Estimations &rarr; Tasks" menu item
            </li>
      </ol>

        <br />

      <img src="{% static 'core/img/help/eng_take_pack.png' %}">
      <ol>
            <li>
      Go to the "Available" tab. Available task packs with task quantity are displayed on this page
            </li>
            <li>
      Click the "Take pack" button to the right of the selected pack.
            </li>
      </ol>

        <br />

      <img src="{% static 'core/img/help/eng_task_list.png' %}">
      <ol>
            <li>
      Go to the "Current" tab
            </li>
            <li>
      Click the "+" icon to expand the list of tasks
            </li>
            <li>
      Click on any task from this list
            </li>
      </ol>
    </li>

        <br />

    <li>
        <h3>Assessment process</h3>

      During the assessment process each criterion is estimated on its own page:

        <br />

      <h4>Step 1. Readability</h4>
      <img src="{% static 'core/img/help/eng_readability.png' %}">
      <ol>
            <li>
      When the snippets' readability is being estimated, the query, the region and the document url are not displayed
            </li>
            <li>
      The query words highlighting is also not displayed
            </li>
      </ol>

        <br />

      <h4>Step 2. Content-richness</h4>
      <img src="{% static 'core/img/help/eng_sapidity.png' %}">
      <ol>
            <li>
      When the snippets' content-richness is being estimated, the query, the region and the query words highlighting are not displayed. But the document url is displayed at this step
            </li>
      </ol>

        <br />

      <h4>Step 3. Informativity</h4>
      <img src="{% static 'core/img/help/eng_informativity.png' %}" />
      <br />
    When the snippets' informativity is being estimated, the following information is displayed:
      <ol>
            <li>
      The query, the region, the document url
            </li>
            <li>
      The query words highlighting
            </li>
      </ol>

    </li>
</ol>

{% endif %}
{% endblock %}
