<!DOCTYPE html>
{% load i18n %}
{% load setting %}
{% core_setting 'SEGMENTATION_ENABLED' as seg_enabled %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block Title %}{% trans 'Main page' %}{% endblock %} &mdash; STEAM</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/bootstrap-responsive.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/bootstrap-select.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/jquery-ui-1.10.4.custom.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/jquery-ui-1.10.4.slider.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/yauth.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/vendors/glyphicons-extended.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/_index.css' %}"/>

        <script type="text/javascript" src="{% static 'core/js/vendors/jquery-1.9.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/bootstrap-select.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/bootstrap-confirmation.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/bootstrap-tooltip.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/vendors/bootstrap-popover.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/uploader.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/index.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/popup_getter.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/checkboxes.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/notifications.js' %}"></script>
    {% if seg_enabled %}
        <style>
            .row {
                margin-left: 0px;
            }
        </style>
    {% endif %}
        {% block Scripts %}
        {% endblock %}
    </head>

    <body>
        {% load yauth %}
        {% load i18n %}
        {% include 'core/menu.html' %}

        <div class="container container-padded"{% if seg_enabled %} style="padding-left: 10px; padding-right: 10px; width: 100%;"{% endif %}>
            <h1 class="h1-padded">
                {% block Caption %}
                {% endblock %}
            </h1>
            {% block Content %}
            {% endblock %}
        {% block Notifications %}
            <div id="notif_container">
            </div>
        {% endblock %}
        </div>

        <div class="container container-footer">
            <div class="pull-left">&copy; 2013 &mdash; 2015 {% trans 'Yandex LLC' %}</div>

            <form class="navbar-form pull-right form-inline" action="{% url 'set_language' %}" method="POST">
                <select class="switcher span2 first selectpicker show-tick" name="language" title="{% trans 'Choose your language' %}">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for lang in languages %}
                        <option value="{{ lang.code }}"{% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ lang.name_local }} ({{ lang.code }})
                        </option>
                    {% endfor %}
                </select>
                {% csrf_token %}
            </form>

        </div>
    </body>
</html>

