{% load yauth %}
{% load i18n %}
{% load setting %}
{% core_setting 'SEGMENTATION_ENABLED' as seg_enabled %}

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/">Steam</a>
        {% block Tabs %}
        {% if yauser.core_user and yauser.core_user.status != yauser.core_user.Status.WAIT_APPROVE %}
            <ul class="nav pull-left">
            {% if yauser.core_user.role == yauser.core_user.Role.ASSESSOR %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Estimations' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:usertasks_default' 'current' %}">{% trans 'Tasks' %}</a></li>
                    {% if seg_enabled %}
                        <li><a href="{% url 'core:segmentation_tasks_default' %}">{% trans 'Page segmentation' %}</a></li>
                    {% endif %}
                    </ul>
                </li>
            {% elif yauser.core_user.role == yauser.core_user.Role.AADMIN %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Estimations' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:taskpools_default' %}">{% trans 'Task pools' %}</a></li>
                        <li><a href="{% url 'core:usertasks_default' 'current' %}">{% trans 'Tasks' %}</a></li>
                        <li><a href="">{% trans 'Estimations' %}</a></li>
                        <li><a href="{% url 'core:est_statistics_default' %}">{% trans 'Statistics' %}</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Requests' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:querybins_default' %}">{% trans 'Query bins' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Snippet pools' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:snippetpools_default' %}">{% trans 'Snippet pools' %}</a></li>
                        <li><a href="{% url 'core:add_two_snippetpools' %}">{% trans 'Add two snippet pools' %}</a></li>
                        <li><a href="{% url 'core:monitor_default' %}">{% trans 'Background task monitor' %}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Estimations' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:taskpools_default' %}">{% trans 'Task pools' %}</a></li>
                        <li><a href="{% url 'core:usertasks_default' 'current' %}">{% trans 'Tasks' %}</a></li>
                        <li><a href="">{% trans 'Estimations' %}</a></li>
                        <li><a href="{% url 'core:est_statistics_default' %}">{% trans 'Statistics' %}</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if yauser.core_user.role == yauser.core_user.Role.DEVELOPER %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans 'Management' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'core:waiting_users_default' %}">{% trans 'Waiting users' %}</a></li>
                        <li><a href="{% url 'core:roles_default' %}">{% trans 'Roles management' %}</a></li>
                        <li><a href="{% url 'core:raw_files_default' %}">{% trans 'Files in storage' %}</a></li>
                    </ul>
                </li>
            {% endif %}
                <li>
                    <a href="{% url 'core:help' %}">{% trans 'Help' %}</a>
                </li>
            </ul>
        {% endif %}
        {% endblock %}

        <div class="nav pull-right">
            {% load template_common %}
            <div id="yauth">
                {% if yauser.is_authenticated %}
                <span class="yauser"><a class="user" href="{% url 'core:user_info' yauser.login %}">{{ yauser.login|username }}</a></span><span class="yalogout"><a class="exit" href="{{ logout_url }}">{% trans 'Log out' %}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
