{% load i18n %}
{% load yauth %}

{% for bgtask in bgtasks %}
    <tr>
        <td>
            {% if bgtask.status == 'SUCCESS' and bgtask.task_type != bgtask.Type.CALC %}
                <a href="{% url 'core:snippets_default' bgtask.storage_id %}">
            {% endif %}
            {% if bgtask.task_type == bgtask.Type.UPLOAD %}
                {% trans 'Storing snippet pool' %}
            {% elif bgtask.task_type == bgtask.Type.SERP %}
                {% trans 'Downloading SERP' %}
            {% endif %}
            "{{ bgtask.title }}"
            {% if bgtask.status == 'SUCCESS' and bgtask.task_type != bgtask.Type.CALC %}
                </a>
            {% endif %}
        </td>
        <td>
            {% trans bgtask.status %}
        {% if yauser.core_user.role == 'DV' or yauser.core_user == bgtask.user %}
        {% if bgtask.not_finished %}
            <div style="float: right;">
                <a class="stoplink" id="{{ bgtask.celery_id }}" href="#">{% trans 'Stop' %}</a>
            </div>
        {% endif %}
        {% endif %}
        </td>
        <td class="td td-centered">{{ bgtask.user.login }}</td>
        <td class="td td-centered">{{ bgtask.start_time }}</td>
    </tr>
{% endfor %}
