{% extends "core/index.html" %}
{% load i18n %}
{% load default_time %}
{% load percentage %}

{% block Title %}{% trans 'Monitor task pool' %}{% endblock %}
{% block Scripts %}
{% endblock %}
{% block Caption %}{% trans 'Monitor task pool' %}{% endblock %}

{% block Content %}

    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Name' %}:</b></div>
        <div class="span8">{{ taskpool.title }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Kind' %}:</b></div>
        <div class="span8">{{ taskpool.kind_str }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Overlap' %}:</b></div>
        <div class="span8">{{ taskpool.overlap }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Total' %}:</b></div>
        <div class="span8">{{ taskpool.overlap_count }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Estimated' %}:</b></div>
        <div class="span8">{{ taskpool.tasks_status }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Deadline' %}:</b></div>
        <div class="span8">{{ taskpool.deadline|default_time }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Pack size' %}:</b></div>
        <div class="span8">{{ taskpool.pack_size }}</div>
    </div>
    <div class="row">
        <div class="span3" style="text-align: right;"><b>{% trans 'Packs taken' %}:</b></div>
        <div class="span8">{{ taskpacks_info|length }}</div>
    </div>
    <br>

    <table class="table table-striped table-fixed">
        <colgroup>
            <col width="2">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="2">
            <col width="1">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Complete' %}</th>
                <th>{% trans 'Rejected' %}</th>
                <th>{% trans 'Skipped' %}</th>
                <th>{% trans 'Total' %}</th>
                <th>{% trans 'Linked' %}</th>
                <th>{% trans 'Last activity' %}</th>
                <th>{% trans 'Pack status' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for login, pack_info in taskpacks_info.items %}
            <tr class="{% if pack_info.total == 0 %}error{% elif pack_info.total == taskpool.pack_size %}success{% else %}warning{% endif %}">
                <td>
                    <a href="{% url 'core:user_info' login %}">
                        {{ login }}
                    </a>
                </td>
                <td>{{ pack_info.complete }}</td>
                <td>{{ pack_info.rejected }}</td>
                <td>{{ pack_info.skipped }}</td>
                <td>{{ pack_info.total }}</td>
                <td>{{ pack_info.linked }} {{ pack_info.linked|percentage:pack_info.total }}</td>
                <td>{{ pack_info.last_update }}</td>
                <td>{{ pack_info.pack_status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

