{% load i18n %}
<div id="selects_{{ name }}">
    {% for select in selects %}
    <div class="select" style="margin-bottom: 10px;">
        {{ select }}
    {% if forloop.counter == selects|length and forloop_counter > 1 %}
        <a class="pull-right" href="" id="delete_select_{{ name }}" title="{% trans 'Remove country' %}">
            <i class="icon icon-remove-sign"></i>
        </a>
    {% endif %}
    </div>
    {% endfor %}
    <div style="text-align: center; margin-top: 10px;">
        <a href="" id="add_select_{{ name }}" title="{% trans 'Add country' %}">
            <i class="icon icon-plus-sign"></i>
        </a>
    </div>
</div>
<script>

    $(function () {
          $("#add_select_{{ name }}").click(addSelect);
      });

      function addSelect () {
          $("#delete_select_{{ name }}").remove();
          var selects = $("#selects_{{ name }}").children(".select");
          var lastSelect = $(selects[selects.length - 1]);
          lastSelect.after("<div class=\"select\" style=\"margin-bottom: 10px;\"></div>");
          var newSelect = lastSelect.next();
          var clone = lastSelect.children("select.selectpicker").clone();
          clone[0].id = "id_{{ name }}_" + selects.length;
          newSelect.append(clone);
          clone.selectpicker();
          newSelect.append(
              "<a class=\"pull-right\" href=\"#\" id=\"delete_select_{{ name }}\" title=\"{% trans 'Remove country' %}\">" +
              "<i class=\"icon icon-remove-sign\"></i></a>"
          );
          $("#delete_select_{{ name }}").click(deleteSelect);
          return false;
      }

      function deleteSelect() {
          $(this).parent().remove();
          var selects = $("#selects_{{ name }}").children(".select");
          if (selects.length > 1) {
              var lastSelect = $(selects[selects.length - 1]);
              lastSelect.append(
                  "<a class=\"pull-right\" href=\"#\" id=\"delete_select_{{ name }}\" title=\"{% trans 'Remove country' %}\">" +
                  "<i class=\"icon icon-remove-sign\"></i></a>"
              );
              $("#delete_select_{{ name }}").click(deleteSelect);
          }
          return false;
      }

</script>
