{% load i18n %}
{% load default_time %}

<tr id="tp{{ tp.taskpool.pk }}_header_tr">
    <td{% if tab == 'finished' %} colspan="2"{% endif %}>
    {% if tp.status != tp.Status.TIMEOUT %}
        <a href="#" class="unfold_link" id="tp{{ tp.taskpool.pk }}_unfolder">
            <i class="icon-plus-sign"></i>
        </a>
    {% endif %}
    {% if tp.status == tp.Status.ACTIVE %}
        {% trans 'Active task pack' %}
    {% elif tp.status == tp.Status.FINISHED %}
        {% trans 'Finished task pack' %}
    {% else %}
        {% trans 'Expired task pack' %}
    {% endif %}
        <br />
        <table>
            <tbody>
                <tr>
                    <td class="td-left" style="background-color: transparent;">
                        {% trans 'Pack size' %}:
                    </td>
                    <td class="td-left" style="background-color: transparent;">
                        {{ tp.taskpool.pack_size }}
                    </td>
                </tr>
                <tr>
                    <td class="td-left" style="background-color: transparent;">
                        {% trans 'Deadline' %}:
                    </td>
                    <td class="td-left" style="background-color: transparent;">
                        {{ tp.taskpool.deadline|default_time }}
                    </td>
                </tr>
                <tr>
                    <td class="td-left" style="background-color: transparent;">
                        {% trans 'Complete task count' %}:
                    </td>
                    <td class="td-left" style="background-color: transparent;">
                        {{ complete_count }}
                    </td>
                </tr>
                <tr>
                    <td class="td-left" style="background-color: transparent;">
                        {% trans 'Rejected task count' %}:
                    </td>
                    <td class="td-left" style="background-color: transparent;">
                        {{ rejected_count }}
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr id="tp{{ tp.taskpool.pk }}_fake_color"></tr>
{% if tp.status != tp.Status.TIMEOUT %}
    {% for est in ests %}
        <tr style="display: none;" data-tp-id="tp{{ tp.taskpool.pk }}">
            {% with user=request.yauser.core_user %}
                {% include 'core/est_for_usertasks.html' %}
            {% endwith %}
        </tr>
    {% endfor %}
    {% if ests|length|divisibleby:2 %}
        <tr id="tp{{ tp.taskpool.pk }}_fake_odd"></tr>
    {% endif %}
{% endif %}
