<div class="pagination pagination-upper">
    <ul>
    {% if pages.first != None %}
        <li><a href="{{ page_url }}{{ pages.first }}/{{ qs }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% if pages.prev != None %}
        <li><a href="{{ page_url }}{{ pages.prev }}/{{ qs }}">...</a></li>
    {% else %}
        <li class="disabled"><span>...</span></li>
    {% endif %}
    {% for page in pages.pages_range %}
        {% if page == pages.active_page %}
            <li class="active"><span>{{page |add:1}}</span></li>
        {% else %}
            <li><a href="{{ page_url }}{{ page }}/{{ qs }}">{{ page |add:1 }}</a></li>
        {% endif %}
    {% endfor %}
    {% if pages.next != None %}
        <li><a href="{{ page_url }}{{ pages.next }}/{{ qs }}">...</a></li>
    {% else %}
        <li class="disabled"><span>...</span></li>
    {% endif %}
    {% if pages.last != None %}
        <li><a href="{{ page_url }}{{ pages.last }}/{{ qs }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
</div>
