{% load i18n %}

<input type="button" value="{{ popup_input_value }}" class="btn btn-primary" id="opener" />
{% load popup %}
{% popup 'opener' popup_display %}
    <form method="post" action="{{ popup_handler_url }}">
        <table>
            <colgroup>
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 50%;">
            </colgroup>
            {{ form.as_table }}
        </table>
        <div style="text-align: center">
            <input type="button" value="{% trans 'Cancel' %}" id="cancelbutton" class="btn" />
            <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        </div>
        {% csrf_token %}
    </form>
{% endpopup %}
