{% load i18n %}

{% if not info_struct.hide_button %}
    <!-- (1) myModal -->
    <a href="#myModal" role="button" class="btn btn-primary pull-right" data-toggle="modal">{{ info_struct.open_button }}</a>
{% endif %}

<!-- (2) myModal -->
<div id="myModal" class="modal hide" data-backdrop="static" role="dialog">
    <form method="post" id="modal_form" class="form-horizontal form-no-margin" action="{{ info_struct.handler_url }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ info_struct.header }}</h3>
        </div>
        <div class="modal-body" style="padding: 25px;">
            {{ inner_html }}
<!--            <div class="control-group">
                <label class="control-label" for="id_file">File</label>
                <div class="controls uploader"
                    data-message-no-file="{% trans 'Choose a file to upload!' %}"
                    data-url-fileupload="{% url 'core:ajax_fileupload' %}"
                    data-url-filedelete="{% url 'core:ajax_filedelete' %}">
                    <input id="id_file" name="file" type="file" autocomplete="off">
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
            </div>  -->
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        </div>
        <div class="modal-footer">
            <input type="button" value="{% trans 'Cancel' %}" class="btn" data-dismiss="modal"/>
            <input type="submit" id="modal_submit_btn" value="{{ info_struct.submit_button }}" class="btn btn-primary"/>
        </div>
    </form>
</div>

<script type="text/javascript">
$(function () {
    /* (3) myModal */
    $("#myModal")
        .on("show", function () {
            // reset file input
            $(this).find(".uploader").trigger("reset");
        })
        .on("hide", function () {
            // delete file on close modal
            $(this).find(".uploader").trigger("delete");
            });
{% if info_struct.autoopen %}
    $("#myModal").modal("show");
{% endif %}
});
</script>
