{% extends "core/index.html" %}
{% load i18n %}

{% block Title %}{% trans 'Query bins' %}{% endblock %}
{% block Scripts %}
    <script>
        $(function () {
          {% if error == 'unstorable' %}
              alert("{% trans 'An error occurred during QueryBin storing! Please try again or contact developer.' %}");
          {% endif %}
          });
    </script>
{% endblock %}

{% block Caption %}{% trans 'Query bins' %}{% endblock %}
{% block Content %}
    {% include 'core/default_popup_form.html' %}

    {% if query_bins %}
        {% load paginator %}
        {% url 'core:querybins_default' as page_url %}
        {% paginator page_url pages as pg %}

        {{ pg }}

        <table class="table table-striped  table-condensed table-fixed table-centered">
            <colgroup>
                <col width="2">
                <col width="1">
                <col width="2">
                <col width="2">
                <col width="1">
                <col width="1">
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans 'Bin title' %}</th>
                    <th>{% trans 'Request count' %}</th>
                    <th>{% trans 'Upload date' %}</th>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Country' %}</th>
                    <th>{% trans 'Action' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for bin in query_bins %}
                <tr>
                    <td class="td td-left">{{ bin.title }}</td>
                    <td>{{ bin.count }}</td>
                    <td>{{ bin.upload_time }}</td>
                    <td>{{ bin.user }}</td>
                    <td>{{ bin.country_str }}</td>
                    <td>
                        <a data-href="{% url 'core:delete_querybin' bin.id pages.cur_page %}"
                           data-toggle="confirmation"
                           data-title="{% trans 'Are you sure?' %}"
                           data-btnCancelLabel="{% trans 'No' %}"
                           data-btnOkLabel="{% trans 'Yes' %}"
                           data-btnOkClass="btn-danger">{% trans 'Delete' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pg }}

    {% else %}
        <p>{% trans 'No query bins are available.' %}</p>
    {% endif %}
{% endblock %}
