{% extends 'core/index.html' %}
{% load i18n %}

{% block Title %}{% trans 'Files in storage' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Caption %}{% trans 'Files in storage' %}{% endblock %}
{% block Content %}
{% if raw_files %}
    <p>
        {% trans 'Total' %}: {{ pages.obj_count }}
    </p>
    {% load paginator %}
    {% url 'core:raw_files_default' as page_url %}
    {% paginator page_url pages as pg %}

    {{ pg }}

    <table class="table table-striped table-fixed">
        <colgroup>
            <col width="2">
            <col width="1">
            <col width="1">
        </colgroup>
        <thead>
            <tr>
                <th>
                    Storage ID
                </th>
                <th>
                    {% trans 'Type' %}
                </th>
                <th>
                    {% trans 'Info' %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for storage_id, type_and_info in raw_files %}
            {% if storage_id %}
                <tr>
                    <td>
                        <a href="{% url 'core:get_raw_file' storage_id %}">
                            {{ storage_id }}
                        </a>
                    </td>
                    <td>
                        {% trans type_and_info.type %}
                    </td>
                    <td>
                        {{ type_and_info.info }}
                    {% if type_and_info.type == 'Query bin' %}
                        , {{ type_and_info.info.upload_time }}
                    {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {{ pg }}
{% else %}
    <p>{% trans 'No raw files are available.' %}</p>
{% endif %}
{% endblock %}
