{% extends 'core/index.html' %}
{% load i18n %}

{% block Title %}{% trans 'Request permission' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Tabs %}
{% endblock %}

{% block Content %}
    {% if is_user %}
        <p>{% trans 'Your request is processed. Please wait or contact developer.' %}</p>
    {% else %}
        <p>{% trans 'You are not in STEAM yet. But you can request it here.' %}</p>

    {% include 'core/default_popup_form.html' %}

    {% endif %}
{% endblock %}
{% block Notifications %}
{% endblock %}
