{% extends 'core/index.html' %}
{% load i18n %}

{% block Title %}{% trans 'Roles' %}{% endblock %}
{% block Scripts %}
    <script>
        {% if error == 'nodevs' %}
        $(function () {
              alert("{% trans 'Removing all developers is prohibited!' %}");
        });
    {% endif %}
    </script>
{% endblock %}

{% block Caption %}{% trans 'Roles' %}{% endblock %}
{% block Content %}

    <div class="row">
        <form method="get" action="{% url 'core:roles_default' %}" class="navbar-search pull-right">
            <input type="text" name="search_request" class="search-query" placeholder="{% trans 'Request' %}" maxlength="100" />
            <input type="submit" value="{% trans 'Search' %}" class="btn" />
        </form>
    </div>
    {% if search_request %}
        <div class="alert alert-success pull-right" style="margin-top: 10px;">
            {% trans 'Showing results for request' %}: "{{ search_request }}"
        </div>
    {% endif %}

{% if users %}
    {% load paginator %}
    {% url 'core:roles_default' as page_url %}
    {% paginator page_url pages as pg %}

    {{ pg }}
    <table class="table table-striped table-fixed" style="width: auto;">
        <colgroup>
            <col width="40%">
            <col width="30%">
            <col width="30%">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans 'User' %}</th>
                <th>{% trans 'Role' %}</th>
                <th>{% trans 'Status' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{% url 'core:user_info' user.login %}">
                        {{ user.login }}
                    </a>
                </td>
                <td>
                    <form class="navbar-form form-inline" action="{% url 'core:set_role' pages.cur_page %}" method="POST" style="margin-right: 10px;">
                        <select class="switcher span3 first selectpicker show-tick" name="role">
                            {% for role in user.Role.CHOICES %}
                                <option value="{{ role.0 }}"{% if role.0 == user.role %} selected="selected"{% endif %}>
                                    {{ role.1 }} ({{ role.0 }})
                                </option>
                            {% endfor %}
                        </select>
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.pk }}" />
                    </form>
                </td>
                <td>
                    <form class="navbar-form form-inline" action="{% url 'core:set_role' pages.cur_page %}" method="POST" style="margin-right: 10px;">
                        <select class="switcher span3 first selectpicker show-tick" name="status">
                            {% for status in user.Status.CHOICES %}
                                <option value="{{ status.0 }}"{% if status.0 == user.status%} selected="selected"{% endif %}>
                                    {{ status.1 }} ({{ status.0 }})
                                </option>
                            {% endfor %}
                        </select>
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ user.pk }}" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pg }}

{% else %}
    <p>{% trans 'No users are available.' %}</p>
{% endif %}
{% endblock %}
