{% extends 'core/index.html' %}
{% load i18n %}

{% block Title %}{% trans 'Page segmentation tasks' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Caption %}{% trans 'Page segmentation tasks' %}{% endblock %}
{% block Content %}
{% if pack %}
    {% load paginator %}
    {% url 'core:segmentation_tasks_default' as page_url %}
    {% paginator page_url pages as pg %}
    <p>
        {% trans 'Total' %}: {{ pages.obj_count }}
    </p>

    {{ pg }}

    <table class="table table-striped table-fixed">
        <colgroup>
            <col width="1">
            <col width="9">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Document id' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for est in ests %}
            <tr>
                <td>
                {% if est.status == 'T' %}
                    <i class="icon icon-time" title="{% trans 'Expired task' %}"></i>
                {% elif est.status == 'A' %}
                    <i class="icon icon-asterisk" title="{% trans 'Assigned task' %}"></i>
                {% elif est.status == 'C' %}
                    <i class="icon icon-ok-sign" title="{% trans 'Complete task' %}"></i>
                {% elif est.status == 'R' %}
                    <i class="icon icon-remove-sign" title="{% trans 'Rejected task' %}"></i>
                {% elif est.status == 'S' %}
                    <i class="icon icon-question-sign" title="{% trans 'Task under question' %}"></i>
                {% endif %}
                </td>
                <td>
                    <a href="{% if est.status == 'A' or est.status == 'C' %}{% url 'core:page_segmentation' est.docid %}{% else %}#" onclick="return false;{% endif %}">
                        {{ est.docid }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pg }}

{% else %}
    <p>{% trans 'No tasks are available.' %}</p>
    <a class="btn btn-primary" href="{% url 'core:segmentation_take' %}">
        {% trans 'Take tasks' %}
    </a>
{%endif%}

{% endblock %}
