{% extends 'core/index.html' %}
{% load i18n %}

{% block Title %}{% trans 'Page segmentation list' %}{% endblock %}
{% block Scripts %}
{% endblock %}

{% block Caption %}{% trans 'Page segmentation list' %}{% endblock %}
{% block Content %}
{% if est_infos %}
    {% load paginator %}
    {% url 'core:segmentation_list_default' as page_url %}
    {% paginator page_url pages as pg %}
    <p>
        {% trans 'Total' %}: {{ pages.obj_count }}
    </p>

    {{ pg }}

    <table class="table table-striped table-fixed">
        <colgroup>
            <col width="1">
            <col width="2">
            <col width="3">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans 'Document id' %}</th>
                <th>{% trans 'Segmented by' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for est_info in est_infos %}
            <tr>
                <td>{{ est_info.docid }}</td>
                <td>{{ est_info.user__login }}</td>
                <td>
                    <a href="{% url 'core:segmentation_view' est_info.docid est_info.user__login %}">
                        {% trans 'Watch' %}
                    </a>
                    <br />
                    <a href="{% url 'core:segmentation_delete' est_info.docid est_info.user__login %}">
                        {% trans 'Delete' %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pg }}

{% else %}
    <p>{% trans 'No tasks are available.' %}</p>
{%endif%}

{% endblock %}
