{% load i18n %}
{% load yauth %}
{% load regionname %}
{% load hidereferer %}

<div class="row row-padded">
{% if show_request %}
    <div class="span9">
        <a href="{{ task.yandex_url|hidereferer }}" target="_blank" style="text-decoration: none; color: #000000;">
            <span class="property" title="{% trans 'Request' %}">
            {% if no_icons %}
                {% trans 'Request' %}:
            {% else %}
                <i class="icon icon-search"></i>
            {% endif %}
                {{ task.request }}
            </span>
        </a>
        {% if no_icons %}
            <br />
        {% endif %}
        {% if not showMediaContent %}
            <span class="property" title="{% trans 'Region' %}">
            {% if no_icons %}
                {% trans 'Region' %}:
            {% else %}
                <i class="icon icon-globe"></i>
            {% endif %}
                {{ task.region|regionname }}
            </span>
        {% endif %}
    </div>
{% endif %}
</div>
{% if show_pools %}
<div class="row row-padded">
    <div class="span span-532px">
    {% if snip_pool_1 %}
        <span class="muted">
        {% trans 'Pool' %} 1:
        {% if yauser.core_user.role != yauser.core_user.Role.ASSESSOR %}
            <a class="muted" href="{% url 'core:snippets_default' snip_pool_1.storage_id %}">
        {% endif %}
        {{ snip_pool_1.title }} ({{ snip_tpls_ext.0.1 }})
        {% if yauser.core_user.role != yauser.core_user.Role.ASSESSOR %}
            </a>
        {% endif %}
        </span>
    {% endif %}
    </div>
    <div class="span span-532px">
    {% if snip_pool_2 %}
        <span class="muted">
        {% trans 'Pool' %} 2:
            {% if yauser.core_user.role != yauser.core_user.Role.ASSESSOR %}
                <a class="muted" href="{% url 'core:snippets_default' snip_pool_2.storage_id %}">
            {% endif %}
            {{ snip_pool_2.title }} ({{ snip_tpls_ext.1.1 }})
            {% if yauser.core_user.role != yauser.core_user.Role.ASSESSOR %}
                </a>
            {% endif %}
        </span>
    {% endif %}
    </div>
</div>
{% endif %}

<div class="row row-padded">
    {% for snip_tpl, tpl in snip_tpls_ext %}
    <div class="span span-532px snippet" style="width: 45%; float: left; margin-left: 30px;">
        <div>
            <a class="snippet-title{% if snip_tpl.snip.data.url %} snippet-title-link" target="_blank" href="{{ snip_tpl.snip.data.url|hidereferer }}{% endif %}" style="color: #22c;">
                {{ snip_tpl.render_title|safe }}
            </a>
        </div>
    {% if snip_tpl.snip.data.url %}
        <div style="word-wrap: break-word;">
            {{ snip_tpl.render_green_url|safe }}
        </div>
    {% endif %}
        <div class="snippet-body" style="word-wrap: break-word;">
            {{ snip_tpl.render_text|safe }}
        </div>
    {% if showMediaContent %}
        <div>
            {{ snip_tpl.render_media_content|safe }}
        </div>
    {% endif %}
    </div>
    {% endfor %}
</div>

