{% load percentage %}
<p>
    {{ header_literal }}:
</p>
{% if infos %}
    <table border="1">
        <thead>
            <tr>
                <th>
                    {{ login_literal }}
                </th>
                <th>
                    {{ ests_literal }}
                </th>
                <th>
                    {{ linked_literal }}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for login, info in infos %}
            <tr>
                <td>
                    {{ login }}
                </td>
                <td>
                    {{ info.total }}
                </td>
                <td>
                    {{ info.linked }} {{ info.linked|percentage:info.total }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ noests_literal }}
{% endif %}
