{% load i18n %}
{% load crit_name_cleaner %}
{% if params %}
    <table class="table table-striped table-fixed">
        <thead>
            <tr>
                <th>
                    {% trans 'Step' %}
                </th>
                <th>
                    {% trans 'Average' %}, {% trans 'sec.' %}
                </th>
                <th>
                    {% trans 'Median' %}, {% trans 'sec.' %}
                </th>
                <th>
                    {% trans 'Min' %}, {% trans 'sec.' %}
                </th>
                <th>
                    {% trans 'Max' %}, {% trans 'sec.' %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% cycle 'readability' 'content_richness' 'informativity' 'overall' as step silent %}
        {% for stats_line in params %}
            <tr>
                <td>
                    {% trans step|crit_name_cleaner|capfirst %}
                    {% cycle step %}
                </td>
            {% for parameter in stats_line %}
                <td>
                    {{ parameter|floatformat:-3 }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans 'No estimations are available.' %}</p>
{% endif %}
