{% extends "core/index.html" %}
{% load i18n %}
{% load yauth %}

{% block Title %}{% trans 'Yandex.Passport authentication' %}{% endblock %}
{% block Scripts %}
<script>
</script>
{% endblock %}

{% block Caption %}{% trans 'Yandex.Passport authentication' %}{% endblock %}
{% block Content %}
<form method="post" action="{{ passport_url }}" style="text-align: center;">
    <div class="control-group">
        <input type="text" name="login" placeholder="{% trans 'Login' %}" value="{{ yauser.core_user.login }}" />
    </div>
    <div class="control-group">
        <input type="password" name="passwd" placeholder="{% trans 'Password' %}" />
    </div>
    <div class="control-group">
        <input type="submit" class="btn btn-primary" value="{% trans 'Log in' %}" />
    </div>
</form>
{% endblock %}
{% block Notifications %}
{% endblock %}
