[Unit]
Description=Envoy

[Service]
KillMode=process
Type=simple
ExecStart=/usr/bin/envoy -c /etc/envoy/envoy.yaml
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
