Source: yandex-media-mongo-slow-queries
Priority: extra
Section: misc
Maintainer: Stepan Ardalin <stepanar@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5
Vcs-Git: git@github.yandex-team.ru:admins/mongo-slow-query-monitoring.git
Vcs-browser: https://github.yandex-team.ru/admins/mongo-slow-query-monitoring.git

Package: yandex-media-mongo-slow-queries
Architecture: amd64
Depends: python3, yandex-timetail, mawk, python3-pymongo (>= 3.4.0-1)
Description: Counts mongodb slow queries. Returns monrun friendly output.
