{
  "id": "<< id_prefix >>-cluster-mongodb-shard",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> MongoDB shard",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "service",
      "value": "<< mongodb.service >>"
    },
    {
      "name": "cid",
      "value": "*"
    },
    {
      "name": "shard",
      "value": "*"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Queries on primary, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_opcounters.*_rate&node=primary&dc=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Queries on secondaries, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_opcounters.*_rate&node=secondary&dc=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Replicated queries, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_opcountersRepl.*_rate&node=secondary&host=by_node&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }

      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Average operations time on primary, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-avg-operations-time&host=by_node&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average operations time on secondaries, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-avg-operations-time&host=by_node&node=secondary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Average operation time per host, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-avg-operations-time-sum-by-host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Operations total, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_opLatencies.*.ops_rate&node=*&host=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Operations latency total, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-div1000-by-node-stacked&name=server_status_admin_opLatencies.*.latency_rate&host=*&node=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
       {
        "type": "IFRAME",
          "title": "Connections per host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-connections-per-host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
       }
      ]
    },
    {
      "panels": [
       {
          "type": "IFRAME",
          "title": "Documents affected on primary, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_metrics.document.*_rate&node=primary&host=by_node&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Documents affected on secondaries, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=server_status_admin_metrics.document.*_rate&node=secondary&host=by_node&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Documents affected per host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-hosts-metric-sum-by-host&name=server_status_admin_metrics.document.*_rate&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [

        {
          "type": "IFRAME",
          "title": "Scanned / returned, [ratio]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-scanned-returned&node=total&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Replication lag per host, [seconds]",
          "subtitle": "",
          "url": "?cluster=mdb_{{cid}}&project={{project}}&service={{service}}&graph=auto&stack=0&l.name=replset_status-replicationLag&dc=by_host&host=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Page faults per host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=auto&l.name=server_status_admin_extra_info.page_faults_rate&l.node=by_host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Open cursors total, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_metrics.cursor.open.pinned|server_status_admin_metrics.cursor.open.noTimeout|server_status_admin_metrics.cursor.open.total&node=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "TTL indexes total, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_metrics.ttl.*_rate&node=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Asserts total, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_asserts.user_rate|server_status_admin_asserts.msg_rate|server_status_admin_asserts.regular_rate&node=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "writeConflicts per host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=auto&stack=0&l.name=server_status_admin_metrics.operation.writeConflicts_rate&l.node=by_host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "scanAndOrder per host, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=auto&l.name=server_status_admin_metrics.operation.scanAndOrder_rate&l.node=by_host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "readers/writers active queue per host, [count]",
          "subtitle": "top 5",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-mongodb-queue-per-host&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Data size on primary, [bytes]",
          "subtitle": "top 5 collections",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=db_stats_*_dataSize&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Index size on primary, [bytes]",
          "subtitle": "top 5 indexes",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&graph=<< id_prefix >>-host-metric-by-node-stacked&name=db_stats_*_indexSize&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Configured oplog size per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=auto&stack=1&l.name=oplog-maxSize&dc=by_host&host=*&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },

    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Total collections time, [ms]",
          "subtitle": "top 5",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-div1000-by-node-stacked&name=top_*_total_time_rate&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Write collections time, [ms]",
          "subtitle": "top 5",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-div1000-by-node-stacked&name=top_*_writeLock_time_rate&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Read collections time, [ms]",
          "subtitle": "top 5",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-div1000-by-node-stacked&name=top_*_readLock_time_rate&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% if not dbm %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [cores]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-cpu-cores-stacked",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-memory-bytes-stacked",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [bytes]",
          "subtitle": "top 5 hosts",
            "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&l.name=disk-used_bytes_%2Fvar%2Flib%2Fmongodb&l.node=by_host&graph=auto&filter=top&filterBy=last&filterLimit=5",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU usage per host, [%]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-cpu-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory usage per host, [%]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-memory-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk space usage per host, [%]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-mongodb-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Disk usage per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}&shard={{shard}}&graph=<< id_prefix >>-hosts-disk-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk read per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-disk-read-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Disk write per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-disk-write-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Network usage per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-network-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data received per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-network-received-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Network data sent per host, [bytes/s]",
          "subtitle": "top 5 hosts",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard={{shard}}&graph=<< id_prefix >>-hosts-network-sent-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% endif %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "WiredTiger checkpoint time on primary, [ms]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_wiredTiger.transaction.transaction_checkpoint_min_time_msecs|server_status_admin_wiredTiger.transaction.transaction_checkpoint_most_recent_time_msecs|server_status_admin_wiredTiger.transaction.transaction_checkpoint_max_time_msecs&node=primary&host=by_node&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },

        {
          "type": "IFRAME",
          "title": "WiredTiger cache state on primary, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_wiredTiger.cache.tracked_dirty_bytes_in_the_cache|server_status_admin_wiredTiger.cache.maximum_bytes_configured|server_status_admin_wiredTiger.cache.bytes_currently_in_the_cache&node=primary&host=by_node&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "WiredTiger transactions state on primary, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_wiredTiger.transaction.transaction_begins_rate|server_status_admin_wiredTiger.transaction.transactions_committed_rate|server_status_admin_wiredTiger.transaction.transactions_rolled_back_rate&node=primary&host=by_node&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "WiredTiger concurrent transactions on primary, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_wiredTiger.concurrentTransactions.read.out|server_status_admin_wiredTiger.concurrentTransactions.write.out|server_status_admin_wiredTiger.concurrentTransactions.write.totalTickets|server_status_admin_wiredTiger.concurrentTransactions.read.totalTickets&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "WiredTiger cache pages evicted on primary, [count]",
          "subtitle": "",
          "url": "?project={{project}}&cluster=mdb_{{cid}}&service={{service}}&graph=<< id_prefix >>-host-metric-by-node&name=server_status_admin_wiredTiger.cache.modified_pages_evicted_rate|server_status_admin_wiredTiger.cache.unmodified_pages_evicted_rate&node=primary&shard={{shard}}",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ]
}
