{
  "produces": [
    "application/json",
    "application/x-protobuf"
  ],
  "schemes": [
    "http",
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Juggler API",
    "version": "v2"
  },
  "host": "juggler-api.search.yandex.net",
  "paths": {
    "/v2/agent/get_config": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/agent/get_config",
        "parameters": [
          {
            "name": "GetConfigRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2AgentGetConfigParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2AgentGetConfigOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2AgentGetConfigBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2AgentGetConfigDefaultBody"
            }
          }
        }
      }
    },
    "/v2/bookmarks/get_bookmarks": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/bookmarks/get_bookmarks",
        "parameters": [
          {
            "name": "GetBookmarksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2BookmarksGetBookmarksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksGetBookmarksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksGetBookmarksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksGetBookmarksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/bookmarks/remove_bookmark": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/bookmarks/remove_bookmark",
        "parameters": [
          {
            "name": "RemoveBookmarkRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2BookmarksRemoveBookmarkParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksRemoveBookmarkOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksRemoveBookmarkBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksRemoveBookmarkDefaultBody"
            }
          }
        }
      }
    },
    "/v2/bookmarks/set_bookmark": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/bookmarks/set_bookmark",
        "parameters": [
          {
            "name": "SetBookmarkRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2BookmarksSetBookmarkParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksSetBookmarkOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksSetBookmarkBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2BookmarksSetBookmarkDefaultBody"
            }
          }
        }
      }
    },
    "/v2/checks/get_active_jobs": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/checks/get_active_jobs",
        "parameters": [
          {
            "name": "GetActiveJobsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetActiveJobsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetActiveJobsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetActiveJobsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetActiveJobsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/checks/get_checks_config": {
      "post": {
        "description": "Returns checks matching any of the specified `filters`",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/checks/get_checks_config",
        "parameters": [
          {
            "name": "GetCheckConfigRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksConfigParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksConfigOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksConfigBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksConfigDefaultBody"
            }
          }
        }
      }
    },
    "/v2/checks/get_checks_count": {
      "post": {
        "description": "Returns the number of checks matching any of the specified `filters`",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/checks/get_checks_count",
        "parameters": [
          {
            "name": "GetCheckCountRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksCountParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksCountOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksCountBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksCountDefaultBody"
            }
          }
        }
      }
    },
    "/v2/checks/get_checks_state": {
      "post": {
        "description": "Returns state of checks matching any of the specified `filters`.\n    **Status filter is applied only to the first 10000 matching checks, so the result might be incorrect for very broad selectors.**\n    ",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/checks/get_checks_state",
        "parameters": [
          {
            "name": "GetCheckStateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksStateParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksStateOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksStateBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetChecksStateDefaultBody"
            }
          }
        }
      }
    },
    "/v2/checks/get_matching_notify_rules": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/checks/get_matching_notify_rules",
        "parameters": [
          {
            "name": "GetMatchingNotifyRulesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/dashboards/get_dashboards": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "dashboards"
        ],
        "operationId": "/v2/dashboards/get_dashboards",
        "parameters": [
          {
            "name": "GetDashboardsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DashboardsGetDashboardsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsGetDashboardsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsGetDashboardsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsGetDashboardsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/dashboards/remove_dashboard": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "dashboards"
        ],
        "operationId": "/v2/dashboards/remove_dashboard",
        "parameters": [
          {
            "name": "RemoveDashboardRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DashboardsRemoveDashboardParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsRemoveDashboardOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsRemoveDashboardBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsRemoveDashboardDefaultBody"
            }
          }
        }
      }
    },
    "/v2/dashboards/set_dashboard": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "dashboards"
        ],
        "operationId": "/v2/dashboards/set_dashboard",
        "parameters": [
          {
            "name": "SetDashboardRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DashboardsSetDashboardParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsSetDashboardOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsSetDashboardBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DashboardsSetDashboardDefaultBody"
            }
          }
        }
      }
    },
    "/v2/downtimes/get_downtimes": {
      "post": {
        "description": "Returns list of downtimes matching any of the specified `filters`.",
        "tags": [
          "downtimes"
        ],
        "operationId": "/v2/downtimes/get_downtimes",
        "parameters": [
          {
            "name": "GetDowntimesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DowntimesGetDowntimesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesGetDowntimesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesGetDowntimesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesGetDowntimesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/downtimes/remove_downtimes": {
      "post": {
        "description": "Removes any downtimes with specified `downtime_ids`.",
        "tags": [
          "downtimes"
        ],
        "operationId": "/v2/downtimes/remove_downtimes",
        "parameters": [
          {
            "name": "RemoveDowntimesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DowntimesRemoveDowntimesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesRemoveDowntimesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesRemoveDowntimesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesRemoveDowntimesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/downtimes/set_downtimes": {
      "post": {
        "description": "Creates a downtime that would downtime any object (check or raw event) matching any of the specified `filters`.\n    Of course, only if the downtime creator has enough rights to affect particular check.",
        "tags": [
          "downtimes"
        ],
        "operationId": "/v2/downtimes/set_downtimes",
        "parameters": [
          {"$ref": "#/parameters/Authorization"}, # added manually
          {
            "name": "SetDowntimeRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2DowntimesSetDowntimesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesSetDowntimesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesSetDowntimesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2DowntimesSetDowntimesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/escalations/get_escalations_log": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "operationId": "/v2/escalations/get_escalations_log",
        "parameters": [
          {
            "name": "GetEscalationsLogsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2EscalationsGetEscalationsLogParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsGetEscalationsLogOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsGetEscalationsLogBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsGetEscalationsLogDefaultBody"
            }
          }
        }
      }
    },
    "/v2/escalations/stop": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "notifications"
        ],
        "operationId": "/v2/escalations/stop",
        "parameters": [
          {
            "name": "StopEscalationRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2EscalationsStopParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsStopOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsStopBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EscalationsStopDefaultBody"
            }
          }
        }
      }
    },
    "/v2/events/get_raw_events": {
      "post": {
        "description": "Returns raw events matching any of the specified `filters`.",
        "tags": [
          "raw events"
        ],
        "operationId": "/v2/events/get_raw_events",
        "parameters": [
          {
            "name": "GetRawEventsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2EventsGetRawEventsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EventsGetRawEventsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EventsGetRawEventsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2EventsGetRawEventsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/history/get_check_history": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/history/get_check_history",
        "parameters": [
          {
            "name": "GetChecksHistoryPagedRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryDefaultBody"
            }
          }
        }
      }
    },
    "/v2/history/get_check_history_rollups": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/history/get_check_history_rollups",
        "parameters": [
          {
            "name": "GetCheckHistoryRollupsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryRollupsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryRollupsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryRollupsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckHistoryRollupsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/history/get_check_snapshot": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/history/get_check_snapshot",
        "parameters": [
          {
            "name": "GetCheckSnapshotRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckSnapshotParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckSnapshotOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckSnapshotBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetCheckSnapshotDefaultBody"
            }
          }
        }
      }
    },
    "/v2/history/get_notification_rollups": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "notifications"
        ],
        "operationId": "/v2/history/get_notification_rollups",
        "parameters": [
          {
            "name": "GetNotificationRollupsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationRollupsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationRollupsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationRollupsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationRollupsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/history/get_notifications": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "notifications"
        ],
        "operationId": "/v2/history/get_notifications",
        "parameters": [
          {
            "name": "GetNotificationsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2HistoryGetNotificationsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/mutes/get_mutes": {
      "post": {
        "description": "Returns list of mutes matching any of the specified `filters`.",
        "tags": [
          "mutes"
        ],
        "operationId": "/v2/mutes/get_mutes",
        "parameters": [
          {
            "name": "GetMutesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2MutesGetMutesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesGetMutesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesGetMutesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesGetMutesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/mutes/remove_mutes": {
      "post": {
        "description": "Removes any mutes with specified `mute_ids`.",
        "tags": [
          "mutes"
        ],
        "operationId": "/v2/mutes/remove_mutes",
        "parameters": [
          {
            "name": "RemoveMutesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2MutesRemoveMutesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesRemoveMutesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesRemoveMutesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesRemoveMutesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/mutes/set_mutes": {
      "post": {
        "description": "Creates a mute that would mute any notification matching any of the specified `filters`.",
        "tags": [
          "mutes"
        ],
        "operationId": "/v2/mutes/set_mutes",
        "parameters": [
          {
            "name": "SetMuteRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2MutesSetMutesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesSetMutesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesSetMutesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2MutesSetMutesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/namespaces/get_namespaces": {
      "post": {
        "description": "Returns namespaces matching specified `name` or `abc_service`. Glob filters can be used.",
        "tags": [
          "namespaces"
        ],
        "operationId": "/v2/namespaces/get_namespaces",
        "parameters": [
          {
            "name": "ListNamespacesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetNamespacesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetNamespacesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetNamespacesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetNamespacesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/namespaces/get_rules_without_namespace": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/namespaces/get_rules_without_namespace",
        "parameters": [
          {
            "name": "GetRulesWithoutNamespaceRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetRulesWithoutNamespaceParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetRulesWithoutNamespaceOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetRulesWithoutNamespaceBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesGetRulesWithoutNamespaceDefaultBody"
            }
          }
        }
      }
    },
    "/v2/namespaces/migrate_checks": {
      "post": {
        "description": "Migrates all checks matched by `filters` to specified `namespace`.",
        "tags": [
          "checks"
        ],
        "operationId": "/v2/namespaces/migrate_checks",
        "parameters": [
          {
            "name": "MigrateChecksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2NamespacesMigrateChecksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesMigrateChecksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesMigrateChecksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesMigrateChecksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/namespaces/remove_namespace": {
      "post": {
        "description": "Removes the namespace with specified `id`.\n    Will fail if it has some checks, unless `force` is used.",
        "tags": [
          "namespaces"
        ],
        "operationId": "/v2/namespaces/remove_namespace",
        "parameters": [
          {
            "name": "RemoveNamespaceRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2NamespacesRemoveNamespaceParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesRemoveNamespaceOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesRemoveNamespaceBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesRemoveNamespaceDefaultBody"
            }
          }
        }
      }
    },
    "/v2/namespaces/set_namespace": {
      "post": {
        "description": "Creates or updates a namespace (depending on whether `id` parameter is set).\n    **Namespace renaming is not supported.**",
        "tags": [
          "namespaces"
        ],
        "operationId": "/v2/namespaces/set_namespace",
        "parameters": [
          {
            "name": "SetNamespaceRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2NamespacesSetNamespaceParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesSetNamespaceOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesSetNamespaceBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2NamespacesSetNamespaceDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggest/convert_blinov": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggest/convert_blinov",
        "parameters": [
          {
            "name": "BlinovRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestConvertBlinovParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestConvertBlinovOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestConvertBlinovBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestConvertBlinovDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggest/logins": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggest/logins",
        "parameters": [
          {
            "name": "SuggestLoginsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestLoginsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestLoginsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestLoginsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestLoginsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggest/objects": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggest/objects",
        "parameters": [
          {
            "name": "SuggestObjectsRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestObjectsParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestObjectsOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestObjectsBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestObjectsDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggestions/get_downtimed_user_checks": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggestions/get_downtimed_user_checks",
        "parameters": [
          {
            "name": "TGetInvalidChecksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetDowntimedUserChecksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetDowntimedUserChecksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetDowntimedUserChecksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetDowntimedUserChecksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggestions/get_invalid_user_checks": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggestions/get_invalid_user_checks",
        "parameters": [
          {
            "name": "TGetInvalidChecksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetInvalidUserChecksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetInvalidUserChecksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetInvalidUserChecksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetInvalidUserChecksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggestions/get_no_data_user_checks": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggestions/get_no_data_user_checks",
        "parameters": [
          {
            "name": "TGetInvalidChecksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNoDataUserChecksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNoDataUserChecksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNoDataUserChecksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNoDataUserChecksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggestions/get_notify_rules_without_predicates": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggestions/get_notify_rules_without_predicates",
        "parameters": [
          {
            "name": "TGetInvalidRulesRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNotifyRulesWithoutPredicatesParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNotifyRulesWithoutPredicatesOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNotifyRulesWithoutPredicatesBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetNotifyRulesWithoutPredicatesDefaultBody"
            }
          }
        }
      }
    },
    "/v2/suggestions/get_unreachable_user_checks": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/suggestions/get_unreachable_user_checks",
        "parameters": [
          {
            "name": "TGetInvalidChecksRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetUnreachableUserChecksParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetUnreachableUserChecksOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetUnreachableUserChecksBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2SuggestionsGetUnreachableUserChecksDefaultBody"
            }
          }
        }
      }
    },
    "/v2/user_config/get_user_config": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/user_config/get_user_config",
        "parameters": [
          {
            "name": "GetUserConfigRequest",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigGetUserConfigOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigGetUserConfigBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigGetUserConfigDefaultBody"
            }
          }
        }
      }
    },
    "/v2/user_config/set_user_config": {
      "post": {
        "description": "Experimental API, subject to breakage",
        "tags": [
          "internal"
        ],
        "operationId": "/v2/user_config/set_user_config",
        "parameters": [
          {
            "name": "SetUserConfigRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/v2UserConfigSetUserConfigParamsBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigSetUserConfigOKBody"
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigSetUserConfigBadRequestBody"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/v2UserConfigSetUserConfigDefaultBody"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "v2AgentGetConfigBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2AgentGetConfigBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2AgentGetConfigDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBody": {
      "type": "object",
      "properties": {
        "bundles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyBundlesItems"
          }
        },
        "checks_config": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyChecksConfigItems"
          }
        },
        "limits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyLimitsItems"
          }
        },
        "meta": {
          "$ref": "#/definitions/v2AgentGetConfigOKBodyMeta"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyTargetsItems"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyBundlesItems": {
      "type": "object",
      "properties": {
        "build_number": {
          "type": "integer"
        },
        "mds_http": {
          "type": "string"
        },
        "mds_https": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "skynet_id": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyChecksConfigItems": {
      "type": "object",
      "properties": {
        "checks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyChecksConfigItemsChecksItems"
          }
        },
        "host_name": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyChecksConfigItemsChecksItems": {
      "type": "object",
      "properties": {
        "args": {
          "type": "string"
        },
        "digest": {
          "type": "string"
        },
        "env": {
          "type": "string"
        },
        "instance": {
          "type": "integer"
        },
        "service": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyLimitsItems": {
      "type": "object",
      "properties": {
        "capacity": {
          "type": "integer"
        },
        "fill_rate": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyTargetsItems": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "relays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2AgentGetConfigOKBodyTargetsItemsRelaysItems"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigOKBodyTargetsItemsRelaysItems": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "weight": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2AgentGetConfigParamsBody": {
      "type": "object",
      "properties": {
        "_ignore_cache": {
          "type": "boolean"
        },
        "bundles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host_name": {
          "type": "string"
        },
        "scheduler_hosts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksGetBookmarksBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksGetBookmarksDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksOKBody": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2BookmarksGetBookmarksOKBodyItemsItems"
          }
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksGetBookmarksOKBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksOKBodyItemsItems": {
      "type": "object",
      "properties": {
        "bookmark_id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2BookmarksGetBookmarksOKBodyItemsItemsFiltersItems"
          }
        },
        "type": {
          "enum": [
            "CHECKS",
            "RAW_EVENTS",
            "DASHBOARDS"
          ]
        },
        "user": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksOKBodyItemsItemsFiltersItems": {
      "type": "object",
      "properties": {
        "abc_service": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "match_raw_events": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responsibles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksGetBookmarksParamsBody": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "enum": [
              "CHECKS",
              "RAW_EVENTS",
              "DASHBOARDS"
            ]
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksRemoveBookmarkBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksRemoveBookmarkDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkOKBody": {
      "type": "object",
      "properties": {
        "bookmark_id": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksRemoveBookmarkOKBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksRemoveBookmarkParamsBody": {
      "type": "object",
      "properties": {
        "bookmark_id": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksSetBookmarkBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksSetBookmarkDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkOKBody": {
      "type": "object",
      "properties": {
        "bookmark_id": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2BookmarksSetBookmarkOKBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkParamsBody": {
      "type": "object",
      "properties": {
        "bookmark_id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2BookmarksSetBookmarkParamsBodyFiltersItems"
          }
        },
        "type": {
          "enum": [
            "CHECKS",
            "RAW_EVENTS",
            "DASHBOARDS"
          ]
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2BookmarksSetBookmarkParamsBodyFiltersItems": {
      "type": "object",
      "properties": {
        "abc_service": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "match_raw_events": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responsibles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBody": {
      "type": "object",
      "properties": {
        "Checks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyChecksItems"
          }
        },
        "ConfigVersion": {
          "type": "string"
        },
        "Digests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItems"
          }
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyChecksItems": {
      "type": "object",
      "properties": {
        "Digest": {
          "type": "string"
        },
        "Host": {
          "type": "string"
        },
        "Instance": {
          "type": "string"
        },
        "Service": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItems": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValue"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValue": {
      "type": "object",
      "properties": {
        "Common": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommon"
        },
        "RefreshTime": {
          "type": "integer"
        },
        "Ttl": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommon": {
      "type": "object",
      "properties": {
        "Dns": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDns"
        },
        "Graphite": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonGraphite"
        },
        "Http": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttp"
        },
        "Https": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttps"
        },
        "HttpsCert": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCert"
        },
        "IcmpPing": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonIcmpPing"
        },
        "Mail": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMail"
        },
        "NannyDeployStatus": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonNannyDeployStatus"
        },
        "Netmon": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonNetmon"
        },
        "Ssh": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSsh"
        },
        "TcpChat": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChat"
        },
        "Type": {
          "enum": [
            "NoActive",
            "Meta",
            "IcmpPing",
            "TcpChat",
            "Ssh",
            "Smtp",
            "Imap",
            "Http",
            "Https",
            "X509Cert",
            "HttpsCert",
            "Dns",
            "Graphite",
            "NannyDeployStatus",
            "Netmon"
          ]
        },
        "X509Cert": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509Cert"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDns": {
      "type": "object",
      "properties": {
        "MinResults": {
          "type": "integer"
        },
        "Port": {
          "type": "integer"
        },
        "Query": {
          "type": "string"
        },
        "Question": {
          "type": "string"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDnsTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDnsThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "Udp": {
          "type": "boolean"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDnsTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonDnsThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonGraphite": {
      "type": "object",
      "properties": {
        "BaseUrl": {
          "type": "string"
        },
        "Crit": {
          "type": "string"
        },
        "IgnoreErrors": {
          "type": "boolean"
        },
        "Metric": {
          "type": "string"
        },
        "NullStatus": {
          "enum": [
            "OK",
            "WARN",
            "CRIT",
            "INFO"
          ]
        },
        "TimeWindow": {
          "type": "string"
        },
        "Timeout": {
          "type": "integer"
        },
        "Warn": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttp": {
      "type": "object",
      "properties": {
        "AlwaysShowBody": {
          "type": "boolean"
        },
        "ExpectGzip": {
          "type": "boolean"
        },
        "Headers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpHeadersItems"
          }
        },
        "OkCodes": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "Path": {
          "type": "string"
        },
        "Port": {
          "type": "integer"
        },
        "Regexp": {
          "type": "string"
        },
        "Substring": {
          "type": "string"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "WarnCodes": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpHeadersItems": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttps": {
      "type": "object",
      "properties": {
        "AllowSelfSigned": {
          "type": "boolean"
        },
        "BaseHttpOptions": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptions"
        },
        "CritExpire": {
          "type": "integer"
        },
        "SslCiphers": {
          "type": "string"
        },
        "ValidateHostname": {
          "type": "boolean"
        },
        "WarnExpire": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptions": {
      "type": "object",
      "properties": {
        "AlwaysShowBody": {
          "type": "boolean"
        },
        "ExpectGzip": {
          "type": "boolean"
        },
        "Headers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsHeadersItems"
          }
        },
        "OkCodes": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "Path": {
          "type": "string"
        },
        "Port": {
          "type": "integer"
        },
        "Regexp": {
          "type": "string"
        },
        "Substring": {
          "type": "string"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "WarnCodes": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsHeadersItems": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsBaseHttpOptionsThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCert": {
      "type": "object",
      "properties": {
        "CritExpire": {
          "type": "integer"
        },
        "Port": {
          "type": "integer"
        },
        "SslCiphers": {
          "type": "string"
        },
        "SslHostname": {
          "type": "string"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCertTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCertThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "ValidateHostname": {
          "type": "boolean"
        },
        "WarnExpire": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCertTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonHttpsCertThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonIcmpPing": {
      "type": "object",
      "properties": {
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonIcmpPingTargetConfig"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonIcmpPingTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMail": {
      "type": "object",
      "properties": {
        "AllowSelfSigned": {
          "type": "boolean"
        },
        "CheckCert": {
          "type": "boolean"
        },
        "CritExpire": {
          "type": "integer"
        },
        "Port": {
          "type": "integer"
        },
        "SslMode": {
          "enum": [
            "Empty",
            "Ssl",
            "StartTls"
          ]
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMailTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMailThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "ValidateHostname": {
          "type": "boolean"
        },
        "WarnExpire": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMailTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonMailThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonNannyDeployStatus": {
      "type": "object",
      "properties": {
        "CritTime": {
          "type": "integer"
        },
        "Service": {
          "type": "string"
        },
        "WarnTime": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonNetmon": {
      "type": "object",
      "properties": {
        "CritPercent": {
          "type": "integer"
        },
        "Metric": {
          "type": "string"
        },
        "Network": {
          "type": "string"
        },
        "Protocol": {
          "type": "string"
        },
        "WarnPercent": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSsh": {
      "type": "object",
      "properties": {
        "Port": {
          "type": "integer"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSshTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSshThresholds"
        },
        "Timeout": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSshTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonSshThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChat": {
      "type": "object",
      "properties": {
        "Chats": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatChatsItems"
          }
        },
        "Port": {
          "type": "integer"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatThresholds"
        },
        "Timeout": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatChatsItems": {
      "type": "object",
      "properties": {
        "Regexp": {
          "type": "string"
        },
        "Request": {
          "type": "string"
        },
        "StopCharacter": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonTcpChatThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509Cert": {
      "type": "object",
      "properties": {
        "CritExpire": {
          "type": "integer"
        },
        "Port": {
          "type": "integer"
        },
        "TargetConfig": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509CertTargetConfig"
        },
        "Thresholds": {
          "$ref": "#/definitions/v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509CertThresholds"
        },
        "Timeout": {
          "type": "integer"
        },
        "ValidateHostname": {
          "type": "boolean"
        },
        "WarnExpire": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509CertTargetConfig": {
      "type": "object",
      "properties": {
        "DisableIpv4": {
          "type": "boolean"
        },
        "DisableIpv6": {
          "type": "boolean"
        },
        "FailLogic": {
          "enum": [
            "Any",
            "Every"
          ]
        },
        "Host": {
          "type": "string"
        },
        "Ip": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyDigestsItemsValueCommonX509CertThresholds": {
      "type": "object",
      "properties": {
        "FailThreshold": {
          "type": "integer"
        },
        "WinThreshold": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetActiveJobsParamsBody": {
      "type": "object",
      "properties": {
        "ConfigVersion": {
          "type": "string"
        },
        "InstanceHost": {
          "type": "string"
        },
        "InstanceMtnFqdn": {
          "type": "string"
        },
        "InstancePort": {
          "type": "integer"
        },
        "Services": {
          "type": "array",
          "items": {
            "enum": [
              "NoActive",
              "Meta",
              "IcmpPing",
              "TcpChat",
              "Ssh",
              "Smtp",
              "Imap",
              "Http",
              "Https",
              "X509Cert",
              "HttpsCert",
              "Dns",
              "Graphite",
              "NannyDeployStatus",
              "Netmon"
            ]
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksConfigBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksConfigDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigOKBody": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksConfigOKBodyItemsItems"
          }
        },
        "limit": {
          "type": "integer"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksConfigOKBodyMeta"
        },
        "total": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigOKBodyItemsItems": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigParamsBody": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksConfigParamsBodyFiltersItems"
          }
        },
        "limit": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksConfigParamsBodyFiltersItems": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responsibles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksCountBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksCountDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountOKBody": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksCountOKBodyMeta"
        },
        "total": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountParamsBody": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksCountParamsBodyFiltersItems"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksCountParamsBodyFiltersItems": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responsibles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksStateBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksStateDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateOKBody": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksStateOKBodyItemsItems"
          }
        },
        "limit": {
          "type": "integer"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetChecksStateOKBodyMeta"
        },
        "response_too_large": {
          "type": "boolean"
        },
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksStateOKBodyStatusesItems"
          }
        },
        "total": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateOKBodyItemsItems": {
      "type": "object",
      "properties": {
        "aggregation_time": {
          "type": "number"
        },
        "change_time": {
          "type": "number"
        },
        "description": {
          "type": "string"
        },
        "downtime_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string"
        },
        "meta": {
          "type": "string"
        },
        "mutes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksStateOKBodyItemsItemsMutesItems"
          }
        },
        "namespace": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "state_kind": {
          "enum": [
            "ACTUAL",
            "INVALID",
            "FLAPPING",
            "REWRITTEN_BY_AGGREGATOR",
            "CHILD_GROUP_INVALID",
            "AGGREGATOR_SKIP",
            "DOWNTIME_SKIP",
            "DOWNTIME_FORCE_OK",
            "UNREACH_SKIP",
            "UNREACH_FORCE_OK",
            "NO_DATA_SKIP",
            "NO_DATA_FORCE_OK",
            "NO_DATA_FORCE_CRIT",
            "NO_DATA_FORCE_WARN",
            "RECENT_EVENTS_FORCE_CRIT"
          ]
        },
        "status": {
          "enum": [
            "OK",
            "WARN",
            "CRIT",
            "INFO"
          ]
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateOKBodyItemsItemsMutesItems": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "end_time": {
          "type": "number"
        },
        "id": {
          "type": "string"
        },
        "startrek_ticket": {
          "type": "string"
        },
        "user": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateOKBodyStatusesItems": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer"
        },
        "status": {
          "enum": [
            "OK",
            "WARN",
            "CRIT",
            "INFO"
          ]
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateParamsBody": {
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2ChecksGetChecksStateParamsBodyFiltersItems"
          }
        },
        "include_mutes": {
          "type": "boolean"
        },
        "limit": {
          "type": "integer"
        },
        "sort": {
          "$ref": "#/definitions/v2ChecksGetChecksStateParamsBodySort"
        },
        "statuses": {
          "type": "array",
          "items": {
            "enum": [
              "OK",
              "WARN",
              "CRIT",
              "INFO"
            ]
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateParamsBodyFiltersItems": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "namespace": {
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responsibles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetChecksStateParamsBodySort": {
      "type": "object",
      "properties": {
        "field": {
          "enum": [
            "DEFAULT",
            "HOST",
            "SERVICE"
          ]
        },
        "order": {
          "enum": [
            "DESC",
            "ASC"
          ]
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesOKBody": {
      "type": "object",
      "properties": {
        "meta": {
          "$ref": "#/definitions/v2ChecksGetMatchingNotifyRulesOKBodyMeta"
        },
        "rule_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesOKBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2ChecksGetMatchingNotifyRulesParamsBody": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string"
        },
        "service": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsBadRequestBody": {
      "type": "object",
      "properties": {
        "field_id": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsBadRequestBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsBadRequestBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsDefaultBody": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "meta": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsDefaultBodyMeta"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsDefaultBodyMeta": {
      "type": "object",
      "properties": {
        "_backend": {
          "type": "string"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsOKBody": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItems"
          }
        },
        "meta": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyMeta"
        },
        "page": {
          "type": "integer"
        },
        "page_size": {
          "type": "integer"
        },
        "total": {
          "type": "integer"
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsOKBodyItemsItems": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItems"
          }
        },
        "dashboard_id": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsLinksItems"
          }
        },
        "name": {
          "type": "string"
        },
        "owners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-go-gen-location": "operations"
    },
    "v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItems": {
      "type": "object",
      "properties": {
        "aggregate_checks_options": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItemsAggregateChecksOptions"
        },
        "col": {
          "type": "integer"
        },
        "colspan": {
          "type": "integer"
        },
        "component_type": {
          "enum": [
            "AGGREGATE_CHECKS",
            "RAW_EVENTS",
            "DOWNTIMES",
            "DOWNTIME_BUTTON",
            "NOTIFICATIONS",
            "IFRAME",
            "ESCALATIONS",
            "MUTES"
          ]
        },
        "downtime_button_options": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItemsDowntimeButtonOptions"
        },
        "downtimes_options": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItemsDowntimesOptions"
        },
        "elements_in_row": {
          "type": "integer"
        },
        "escalations_options": {
          "$ref": "#/definitions/v2DashboardsGetDashboardsOKBodyItemsItemsComponentsItemsEscalationsOptions"
        },
        "height_percent": {
          "type": "integer"
        },
        "height_px": {
[...]
