{% extends "base_template.html" %}

{% block title %} 
   Добавить категорию метрик
{% endblock %}

{% block styles %}
<style>
  ul.errors li{
     color: red;
     file-size: 12px;
  }
</style>
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Добавить категорию метрик</h1>
<form action="add_metric_category.html" method="POST" name="add_serp" enctype="multipart/form-data">
<table>
{{ metricCategoryForm }}
</table>
<br />
<input type="submit" name="add" value="Добавить" />
</form>

  {% for category in metricCategories %}
   {% if forloop.first %}
     <h2>Существующие категории</h2>
     <ul>
   {% endif %}
  <li>{{ category.name }}</li>
  {% if forloop.last %}
    </ul>
  {% endif %}
  {% endfor %}


{% endblock %}