{% extends "base_template.html" %}

{% block title %} 
   Добавить новый список запросов
{% endblock %}

{% block styles %}
<style>
  ul.errors li{
     color: red;
     file-size: 12px;
  }
</style>
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Добавить новый список запросов</h1>
<br />
<div class="hint">Вы можете либо добавить список запросов из файла, либо ввести их в текстовое поле. Формат файла: запрос[tab]регион[tab]url. Если регион пуст, будет использоваться значение 213 - Москва и МО. Поле url необходимо только если вы хотите собрать сниппеты для конкретных урлов, в противном случае будет собираться десятка.</div>
<br />
<form action="add_queries.html" method="POST" name="add_queries" enctype="multipart/form-data">
<table width="100%">
{{ queriesForm }}
{% if errors %}
   <ul class="errors">
   {% for error in errors %}
      <li class="errors">{{ error }}</li>
   {% endfor %}
   </ul>
{% endif %}
</table>
<input type="submit" name="add" value="Добавить" /> 
<br />
<br />
<a href="help.html#fileFormats">Посмотреть описание форматов входных данных</a>
<br />
<br />
</form>

{% endblock %}