<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block meta %} {% endblock %}
<title>{% block title %} {% endblock %}</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link href="css/template_styles.css" rel="stylesheet" type="text/css" /> 
{% block styles %} {% endblock %}
{% block scripts %} {% endblock %}

</head>
<body>
	<div id="container"> 
    	<div id="header">
        	<div id="logo_area">
            	<div id="logo">&nbsp;</div>
                <div id="slogan">&nbsp;</div>
          </div>
            <div id="social"><h1>Метрики сниппетов</h1></div>
            <div id="menu">
            <ul>
              <li>{% ifnotequal request.path "/add_queries.html" %}<a href="add_queries.html">{% endifnotequal %}Добавить список запросов{% ifnotequal request.path "/add_queries.html" %}</a>{% endifnotequal%}</li>
     <li>{% ifnotequal request.path "/add_engine.html" %}<a href="add_engine.html">{% endifnotequal %}Добавить сниппетовщик{% ifnotequal request.path "/add_engine.html" %}</a>{% endifnotequal %}</li>
     <li class="last">{% ifnotequal request.path "/add_metric.html" %}<a href="add_metric.html">{% endifnotequal %}Добавить новую метрику{% ifnotequal request.path "/add_metric.html" %}</a>{% endifnotequal %}</li>
                </ul>    	
    		</div>
            
        </div>
        <div id="content_area">
        
        	<div id="left">
            	<div class="section_1">
                	<div class="top">
                        <span class="title">Меню</span>
                    </div>
                    <div class="middle">
                    	<div class="bottom">
                             <ul class="menu">
     <li>{% ifnotequal request.path "/index.html" %}<a href="index.html">{% endifnotequal %}Главная{% ifnotequal request.path "/index.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/queries.html" %}<a href="queries.html">{% endifnotequal %}Списки запросов{% ifnotequal request.path "/queries.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/engines.html" %}<a href="engines.html">{% endifnotequal %}Сниппетовщики{% ifnotequal request.path "/engines.html" %}</a>{% endifnotequal %}</li>     
     <li>{% ifnotequal request.path "/snippets.html" %}<a href="snippets.html">{% endifnotequal %}Сниппеты{% ifnotequal request.path "/snippets.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/snippets_diff.html" %}<a href="snippets_diff.html">{% endifnotequal %}Дифф двух дампов{% ifnotequal request.path "/snippets_diff.html" %}</a>{% endifnotequal %}</li>     
     <li>{% ifnotequal request.path "/snips_dump.html" %}<a href="snips_dump.html">{% endifnotequal %}Сбор сниппетов{% ifnotequal request.path "/snips_dump.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/snips_upload.html" %}<a href="snips_upload.html">{% endifnotequal %}Загрузка сниппетов{% ifnotequal request.path "/snips_upload.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/metrics.html" %}<a href="metrics.html">{% endifnotequal %}Метрики{% ifnotequal request.path "/metrics.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/calc_metrics.html" %}<a href="calc_metrics.html">{% endifnotequal %}Подсчет метрик{% ifnotequal request.path "/calc_metrics.html" %}</a>{% endifnotequal %}</li>
     <li>{% ifnotequal request.path "/view_metrics.html" %}<a href="view_metrics.html">{% endifnotequal%}Просмотр результатов{% ifnotequal request.path "/view_metrics.html" %}</a>{% endifnotequal%}</li>     
     <li>{% ifnotequal request.path "/tasks.html" %}<a href="tasks.html">{% endifnotequal %}Задачи{% ifnotequal request.path "/tasks.html" %}</a>{% endifnotequal %}</li>
     <br />
     <li>{% ifnotequal request.path "/help.html" %}<a href="help.html">{% endifnotequal %}How To{% ifnotequal request.path "/help.html" %}</a>{% endifnotequal %}</li>
   </ul>
   {% block menu %}
   {% endblock %}
                        </div>
                    </div>             
                    {% block undermenu %}
                    {% endblock %}
                </div>
                
            </div>
            <div id="right">
            	<div class="section_3">
                    {% block body %}
                    {% endblock %}
                </div>
                
                <div class="cleaner"></div>
            </div>
        </div>
    </div>
    <div class="cleaner"></div>
     <div id="footer">
        	Copyright © 2010 - 2011 <a href="http://www.yandex.ru/">Яндекс</a>
        </div>
</body>
</html>

