{% extends "base_template.html" %}
{% load utilfilters %}

{% block title %}
Сниппетовщики
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Сниппетовщики</h1>
<br />
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
  {% for engine in engines %}
  {% if forloop.first %}
    <table width="100%" class="bborder">
    <tr><th>&nbsp;</th><th>Название</th><th>Описание</th><th>Url</th><th>CGI параметры</th><th>&nbsp;</th><th>&nbsp;</th></tr>
  {% endif %}
  <tr><td>{{ forloop.counter }}</td><td>{{ engine.name }}</td><td>{{ engine.description }}</td><td>{{ engine.url }}</td><td>{{ engine.cgiParams }}</td><td><a href="add_engine.html?engine_id={{engine.id}}"><img src="img/edit.png" /></a></td><td><a href="engines.html?engine_id={{engine.id}}"><img src="img/delete.png" /></a></td></tr>
  {% if forloop.last %}
  </table>
  {% endif %}
  {% empty %}
  <div>В системе пока нет данных о сниппетовщиках.</div>
  {% endfor %}
<br />
<a href="add_engine.html">Добавить сниппетовщик</a>
{% endblock %}
