{% extends "base_template.html" %}
{% load utilfilters %}

{% block body %}
<h1>How To...</h1>
<ul>
<li><a href="#descr">Принцип работы с системой</a></li>
<li><a href="#fileFormats">Описание форматов файлов входных данных</a></li>
</ul>

<h2><a name="descr">Принцип работы с системой</a></h2>

<div>Основной единицей в системе метрик сниппетов является дамп сниппетов (некоторое множество сниппетов, собранных с какой-либо системы) по некоторым урлам-запросам. Существует два способа добавить в систему дамп сниппетов: собрать сниппеты с серпа некоторой поисковой системы (Яндекс, Google, Bing и т.п.), либо залить файл с уже собранными сниппетами в одном из поддерживаемых <a href="#fileFormats">форматов</a>. После того, как дамп сниппетов загружен в систему, остается лишь посчитать для него метрики, используя соответствующую ссылку в меню.
</div>
<br />
<h3>Сбор сниппетов</h3>
<div>
Для того, чтобы собрать сниппеты вам понадобится список запросов. В системе уже загружен ряд списков запросов, которые рекоммендуется использовать. Если они вам по каким-то причинам не подходят, то можете загрузить свой список запросов. Для этого, вам надо перейти по ссылке Списки запросов и либо залить файл с запросами (<a href="#fileFormats">формат</a>), либо заполнить поле.
</div>
<div>
Далее, перейдя на страничку Сбор сниппетов вы можете выбрать список запросов, сниппетовщик (либо один из представленных в системе, либо руками заполнить поля URL, CGI-параметры, фильтр для поиска по урлу (как в языке запросов данной поисковой системы задать урл для ограничения поиска) урл wizard'а (используется для переколдовки запросов уже при подсчете метрик, можно использовать xmlsearch.hamster.yandex.ru), шаблон пути для сбора сохраненных копий документов, если мы хотим их собирать).
Для того, чтобы автоматически начать подсчет метрик после того, как будут загружены сниппеты, стоит установить соответствующую галочку.
</div>
<div>
После нажатия на кнопку Собрать сниппеты вы будете перенаправлены на страничку отслеживания статуса заданий, где вы можете следить за статусом сбора сниппетов.
</div>
<br />
<h3>Загрузка сниппетов</h3>
<div>
Если у вас уже есть файл со сниппетами в одном из поддерживаемых (<a href="#fileFormats">форматов</a>), то вы можете загрузить его в систему (ссылка Загрузка сниппетов). Здесь вам также надо задать параметры сниппетовщика, который использовался для сбора, указать формат файла. Также, возможно начать подсчет метрик сразу после загрузки сниппетов, для этого нужно установить соответствующую галочку.
</div>
<br />
<h3>Подсчет метрик</h3>
<div>
Если вы не ставили галочку для автоматического сбора сниппетов при сборе или загрузке сниппетов, то можете это сделать, перейдя по ссылке Посчет метрик. После этого все, что вам надо сделать - это выбрать дамп ваших сниппетов из списка, выбрать метрики, которые вы хотите считать и нажать кнопку Подсчитать. Вы будете перенаправлены на страничку отслеживания статуса задач.
</div>
<br />
<h3>Просмотр метрик</h3>
<div>
После того, как метрики подсчитаны, вы можете посмотреть на гистограммы и статистические характеристики, перейдя по ссылке Просмотр результатов. Выберите один или более дампов сниппетов, для которых были подсчитаны метрики (если дамп не отображается в списке, то это значит, что для него не были подсчитаны метрики). Поставьте галочки на метрики, которые вы хотите посмотреть и выберете фильтр по длине запроса (если вы хотите посмотреть значения метрик только по коротким или только по длинным запросам). Нажав кнопку Просмотр вы через некоторое время получите гистограммы и статистические характеристики для выбранных метрик для выбранных дампов сниппетов.
Если вы хотите сохранить ссылку для последующего использования, можете скопировать короткую ссылку, которая появится под кнопкой Просмотр.
</div>

<h2><a name="fileFormats">Форматы файлов входных данных</a></h2>
<ol>
<li><strong>Список запросов</strong><br />
Файл с запросами - это таб-separated файл, в котором сначала идет запрос, затем может идти url (если вы хотите собрать сниппеты только по этому урлу), затем регион.
</li>
<li><strong>Файл с полями, разделенными табами</strong><br />
Построчно:
<запрос>\t<урл>\t<характеристики>\t<дополнительная информация о запросе>[\t<заголовок>\t<сниппет>\t]

где характеристики - это список характеристик данного запроса, перечисленных через символ ';'. Список может быть пустым.<br />
дополнительная информация о запросе - список интентов, список ответов на запрос (фактов). Различная дополнительная информация отделяется вертикальной чертой '|', имя дополнительной информации отделяется от значений двоеточием ':', а значения разделяются ';'. Имя поля для задания интентов: intents, для задания фактов: facts<br />
Пример:<br />
intents:скачать;закачать;download|facts:125 метров;125
<br />
<br />
[..] - Эта часть используется только для загрузки дампа сниппетов
<br /><br />
</li>
<li><strong>XML файл (в формате SERPа)</strong><br />
Формат, в который выполяняется регулярный сбор сниппетов Google и Яндекс для metrics. Файл такого формата позволяет загрузить как список запросов-урлов, так и сами сниппеты.

Формат:
&lt;?xml version="1.0" encoding="UTF-8"?&gt;<br />
&nbsp;&lt;serp&gt;<br />
&nbsp;&lt;query text="астрахань такси" characteristics="информационный;региональный" extrainfo="intents:скачать;закачать;download|facts:125 метров;125"&gt;<br />
&nbsp;&nbsp;&nbsp;&lt;searchresult&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;document type="PAGE"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;url&gt;http://www.1taxi.ru/ekonom&lt;/url&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;"ТАКСИ" №1 Москва,аэропор...&lt;/title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;snippet&gt;Иномарки! Эконом, Комфорт, м/а, ВИПОплата картами. Нас рекомендуют.&lt;/snippet&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/document&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;document&gt; <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/document&gt;<br />
&nbsp;&nbsp;&nbsp;&lt;/searchresult&gt;<br />
&nbsp;&lt;/query&gt;<br />
&lt;query&gt;<br />
...<br />
&lt;/query&gt;<br />
&lt;/serp&gt;<br />

<br />
<br />
формат значения аттрибута запроса extrainfo аналогичен тому, как он задается в случае tab-separated файлов.


<br />
<strong>Замечания:</strong>
<ol>
<li>Перечислены не все аттрибуты, а только те, которые используются в интерфейсе просмотра метрик</li>
<li>Запрос query по умолчанию не содержит аттрибута characteristics и extrainfo, он может быть добавлен самостоятельно</li>
<li>В файле обычно содержатся элементы document, соответствующие, например, рекламе. Для отбора элементов, соответствующих только документам необходимо использовать аттрибут type со значением PAGE.</li>
</ol>
<br /><br />
</li>
<li><strong>XML файл (в старом формате сниппетов)</strong><br />
Формат:<br />
&lt;?xml version="1.0" encoding="UTF-8"?&gt;<br />
&lt;queries&gt;<br />
&nbsp;&nbsp;&lt;snippet&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;query characteristics="информационный;зарубежный" extrainfo="intents:скачать;закачать;download|facts:125 метров;125" &gt;&lt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;![CDATA[i'm very pleased to understand"]]&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/query&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;&lt;![CDATA[Dear_Colleague_Letter.pdf]]&gt;&lt;/title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;headline&gt;&lt;![CDATA[]]&gt;&lt;/headline&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;text&gt;&lt;![CDATA[Dear Colleague...]]&gt;&lt;/text&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;url&gt;&lt;![CDATA[www.unm.edu/~emerson/housing/Dear_Colleague_Letter.pdf]]&gt;&lt;/url&gt;<br />
&nbsp;&nbsp;&lt;/snippet&gt;<br />
&nbsp;&nbsp;&lt;snippet&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br />
&nbsp;&nbsp;&lt;/snippet&gt;<br />
&lt;/queries&gt;<br />
<br />
<strong>Замечание:</strong><br />
Если text пуст, то в качестве сниппета используется headline.
</li>
<li><strong>XML файл (в новом формате сниппетов)</strong><br />
Формат:<br />
&lt;?xml&nbsp;version=&quot;1.0&quot;&nbsp;encoding=&quot;UTF-8&quot;?&gt;<br />
&lt;pools&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;pool&nbsp;id=&quot;4q1&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;qdpair&nbsp;query=&quot;Краткое&nbsp;содержание&nbsp;Тихого&nbsp;Дона&quot;&nbsp;region=&quot;213&quot;&nbsp;richtree=&quot;sdafksj903450ffxvxcvertie-0ti&quot;&nbsp;url=&quot;mysite.ru/index.html&quot;&nbsp;relevance=&quot;20&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;![CDATA[Шолохов&nbsp;М.А.&nbsp;-&nbsp;Краткое&nbsp;содержание&nbsp;Тихий&nbsp;дон]]&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;snippet&nbsp;algorithm=&quot;Algo3_pairs&quot;&nbsp;rank=&quot;1281&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;![CDATA[Шолохов&nbsp;М.А.&nbsp;-&nbsp;Краткое&nbsp;содержание&nbsp;Тихий&nbsp;дон]]&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/title&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fragment&nbsp;coords=&quot;4&nbsp;20&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;![CDATA[Шолохов&nbsp;М.А.&nbsp;-&nbsp;Краткое&nbsp;содержание&nbsp;Тихий&nbsp;дон]]&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/fragment&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fragment&nbsp;coords=&quot;100&nbsp;220&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;![CDATA[Для&nbsp;школьников.&nbsp;-&nbsp;Сочинения.&nbsp;-&nbsp;Изложения.&nbsp;-&nbsp;&lt;strong&gt;Краткое&lt;/strong&gt;&nbsp;&lt;strong&gt;содержание&lt;/strong&gt;&nbsp;произведений.&nbsp;-&nbsp;<br />Шпаргалки.&nbsp;-&nbsp;Доклады.&nbsp;Случилось&nbsp;это&nbsp;в&nbsp;самый&nbsp;разгар&nbsp;полевых&nbsp;работ.&nbsp;Приехали&nbsp;в&nbsp;хутор&nbsp;командующий&nbsp;&lt;strong&gt;Донской&lt;/strong&gt;&nbsp;армии&nbsp;генерал&nbsp;Сидорин<br />&nbsp;с...]]&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/fragment&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;features&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d_inters_lemm_pos=0&nbsp;d_same_word=0&nbsp;first=-0.3142411599&nbsp;m_diff_lemm_pos=2.197224577&nbsp;m_word=3.218875825&nbsp;second=-0.3407599946<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/features&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;marks&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;mark&nbsp;value=&quot;3&quot;&nbsp;criteria=&quot;content&quot;&nbsp;assessor=&quot;usminski&quot;&nbsp;quality=&quot;0.86&quot;&nbsp;timestamp=&quot;1270115080&quot;&nbsp;/&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;mark&nbsp;value=&quot;1&quot;&nbsp;criteria=&quot;readability&quot;&nbsp;assessor=&quot;usminski&quot;&nbsp;quality=&quot;0.6&quot;&nbsp;timestamp=&quot;1370115080&quot;&nbsp;/&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/marks&gt;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/snippet&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;comment&nbsp;assessor=&quot;usminski&quot;&nbsp;&nbsp;tag=&quot;classic_fail_3&nbsp;classic_fail_2&quot;&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;![CDATA[This&nbsp;is&nbsp;the&nbsp;most&nbsp;stupid&nbsp;snippet&nbsp;I've&nbsp;ever&nbsp;seen!]]&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/comment&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/qdpair&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/pool&gt;<br />
&lt;/pools&gt;
<br />
</li>

</ol>
{% endblock %}