{% extends "base_template.html" %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
<br />
<h2>Дампы сниппетов</h2>
{% for dump in snippetsDumps %}
{% if forloop.first %}
<ol>
{% endif %}
<li><a href="view_metrics.html?snipDumps={{dump.id}}">{{ dump }}</a></li>
{% if forloop.last %}
</ol>
{% endif %}
{% empty %}
Пока в системе нет данных о сниппетах.
{% endfor %}
{% endblock %}