{% extends "base_template.html" %}

{% load utilfilters %}

{% block title %}
Метрики
{% endblock %}

{% block scripts %}
<script>
   function switchDisplayBlock(id)
   {
      div = document.getElementById('descr' + id);
      if (div.style.display == 'none')
      {
         div.style.display = 'block';
      }
      else
      {
        div.style.display = 'none';
      }
   }
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Метрики</h1>
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
     {% for metric in metrics %}
     {% if forloop.first %}
       <table width="100%">
       <tr><th>&nbsp;</th><th>Описание</th><th>Имя</th><th>Категории</th><th>&nbsp;</th><th>&nbsp;</th></tr>
     {% endif %}
     <tr><td>{{ forloop.counter }}</td>
         <td><a href="#" onclick="switchDisplayBlock({{forloop.counter}})">{{ metric.name }}</a></td>
         <td>{{ metric.shortName }}</td>
     <td>{% for category in metric.categories.all %}
         {{ category }}{% if not forloop.last %};{%endif%}
	 {% endfor %}
     </td>
     <td><a href="add_metric.html?metric_id={{metric.id}}"><img src="img/edit.png" title="Редактировать" /></a></td>
     <td style="font-color:red"><a href="metrics.html?delId={{metric.id}}"><img src="img/delete.png" title="Удалить" /></a></td>
     </tr>
     <tr><td colspan="7">
         <div id="descr{{forloop.counter}}" style="display:none; background-color:#EEEEEE;">{{metric.description}}</div>
     </td></tr>
     {% if forloop.last %}
      </table>
     {% endif %}
     {% empty %}
     В системе пока нет данных о метриках.
  {% endfor %}
  <br />
  <br />
  <a href="add_metric.html">Добавить новую метрику</a>
{% endblock %}
