{% extends "base_template.html" %}

{% block title %}
Списки запросов
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Списки запросов</h1>
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}<br />
<table width="70%">
  {% for queryList in queryLists %}
     <tr valign="top"><td width="90%">{{ queryList.name }}
     {% ifequal viewQueryListId queryList.id %}
        {% ifnotequal queries.paginator.num_pages 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if queries.has_previous %}
                    <a href="?id={{ queryList.id }}&page={{ queries.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    [{{ queries.number }} / {{ queries.paginator.num_pages }}]
                </span>

                {% if queries.has_next %}
                    <a href="?id={{ queryList.id }}&page={{ queries.next_page_number }}">следующая</a>
                {% endif %}
            </span>
        </div>           
        {% endifnotequal %}
       <ul>
       {% for query in queries.object_list %}
         <li>{{ query }}</li>
       {% endfor %}
       </ul>
        {% ifnotequal queries.paginator.num_pages 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if queries.has_previous %}
                    <a href="?id={{ queryList.id }}&page={{ queries.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    [{{ queries.number }} / {{ queries.paginator.num_pages }}]
                </span>

                {% if queries.has_next %}
                    <a href="?id={{ queryList.id }}&page={{ queries.next_page_number }}">следующая</a>
                {% endif %}
            </span>
        </div>       
        {% endifnotequal %}
     {% endifequal %}
	 </td><td>{% ifequal viewQueryListId queryList.id %} <a href="queries.html"><img src="img/remove.png" title="Скрыть список запросов" /></a> {% else %} <a href="queries.html?id={{ queryList.id }}"><img src="img/script.png" title="Показать список запросов" /></a> {% endifequal %}</td><td><a href="queries.txt?id={{queryList.id}}" title = "Скачать список запросов"><img src="img/save.png" /></a></td><td><a href="queries.html?del_id={{queryList.id}}" title = "Удалить список запросов"><img src="img/delete.png" /></a> </td></tr>
  {% empty %}<br/>
    В системе пока нет загруженных списков запросов.
  {% endfor %}
</table>  
<br />
<a href="add_queries.html">Добавить</a>
{% endblock %}