{% extends "base_template.html" %}

{% block title %}
Списки запросов
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Список запросов-урлов</h1>
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
<table width="70%">
  {% for serp in serps %}
     <tr valign="top"><td width="90%">{{ serp.name }}
     {% ifequal viewSerpId serp.id %}
       <ul>
       {% for queryUrl in serp.queryUrls.all %}
         <li>{{ queryUrl.query }} url: {{ queryUrl.url }}</li>
       {% endfor %}
       </ul>
     {% endifequal %}
	 </td><td width="5%">{% ifequal viewSerpId serp.id %} <a href="serps.html"><img src="img/remove.png" title="Скрыть список урлов-запросов" /></a> {% else %} <a href="serps.html?id={{ serp.id }}"><img src="img/script.png" title="Показать список урлов-запросов" /></a> {% endifequal %}</td><td><a href="serps.html?del_id={{serp.id}}"><img src="img/delete.png" /></a> </td></tr>
  {% empty %}
    В системе пока нет загруженных списков запросов-урлов.
  {% endfor %}
</table>  
<br />
<a href="add_serp.html">Добавить</a>
{% endblock %}