{% extends "base_template.html" %}
{% load utilfilters %}

{% block title %}
Сниппеты
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Сниппеты</h1><br />
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
    {% for snippetsDump in snippetsDumps %}
        {% if forloop.first %}
            <table width="100%" class="bborder">
                <tr>
                    <th width="25%">Название дампа</th><th width="25%">Сниппетовщик</th><th width="15%">Дата</th><!--<th>&nbsp;</th>--><th width="3%">&nbsp;</th><th width="3%">&nbsp;</th><th width="3%">&nbsp;</th><th width="3%">&nbsp;</th>
                </tr>
        {% endif %}
        <tr>
            <td>{{ snippetsDump.name }}</td><td>{{ snippetsDump.engineUrl }} {{ snippetsDump.cgiParams}}</td><td>{{ snippetsDump.date|date:"d-m-Y H:i" }}</td><!--<td><a href="snippets.html?collectCachedDocs={{ snippetsDump.id }}">собрать сохраненные копии</a></td>--><td><a href="snippets.html?snipdumpid={{ snippetsDump.id }}"><img src="img/script.png" title="Посмотреть сниппеты" /></a></td><td><a href="snippets.txt?id={{snippetsDump.id}}" title = "Скачать список сниппетов"><img src="img/save.png" /></a></td><td><a href="snippets.html?archiveDumpId={{ snippetsDump.id }}"><img src="img/archive.png" title="Поместить в корзину"/></a></td><td><a href="snippets.html?delDumpId={{ snippetsDump.id }}"><img src="img/delete.png" title="Удалить" /></a></td>
        </tr>
            {% if snipDumpId and snipDumpId|equals:snippetsDump.id %}
            <tr valign="top">
                <td align="right">Сниппеты:</td>
                <td colspan="3">
                    <div class="pagination">
                        <span class="step-links">
                            {% if snippets.has_previous %}
                                <a href="?snipdumpid={{ snippetsDump.id }}&page={{ snippets.previous_page_number }}">предыдущая</a>
                            {% endif %}

                            <span class="current">
                                [{{ snippets.number }} / {{ snippets.paginator.num_pages }}]
                            </span>

                            {% if snippets.has_next %}
                                <a href="?snipdumpid={{ snippetsDump.id }}&page={{ snippets.next_page_number }}">следующая</a>
                            {% endif %}
                        </span>
                    </div>                
                    <table width="100%">
                       {% for snippet in snippets.object_list %}
                            <tr>
                                <td>Запрос: {{ snippet.query }}</td>
                            </tr>
                            <tr>
                                <td><div class="snippet"><a href="{{snippet.queryUrl.url.url}}">{% autoescape off %} {{ snippet.title }} {% endautoescape %}</a><br/>
                                        
                                        {% autoescape off %}
                                        {{snippet.snippet }}
                                        {% endautoescape %}
                                        <br/>
                                     <a href="{{ snippet.queryUrl.url.url }}">{{ snippet.url }}</a>
                                 </div>
                                 </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if snippets.has_previous %}
                                <a href="?snipdumpid={{ snippetsDump.id }}&page={{ snippets.previous_page_number }}">предыдущая</a>
                            {% endif %}

                            <span class="current">
                                [{{ snippets.number }} / {{ snippets.paginator.num_pages }}]
                            </span>

                            {% if snippets.has_next %}
                                <a href="?snipdumpid={{ snippetsDump.id }}&page={{ snippets.next_page_number }}">следующая</a>
                            {% endif %}
                        </span>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% if forloop.last %}
            </table>
        {% endif %}
    {% empty %}
       В системе нет загруженных сниппетов.
    {% endfor %}
    <br /><br />
    <h2>Корзина</h2>
    {% for snippetsDump in snippetsDumpsArchived %}
        {% if forloop.first %}
            <table width="100%"  class="bborder">
                <tr>
                    <th width="25%">Название дампа</th><th width="25%">Сниппетовщик</th><th width="15%">Дата</th><!--<th>&nbsp;</th>--><th width="3%">&nbsp;</th><th width="3%">&nbsp;</th>
                </tr>
        {% endif %}
        <tr>
            <td>{{ snippetsDump.name }}</td><td>{{ snippetsDump.engineUrl }} {{ snippetsDump.cgiParams}}</td><td>{{ snippetsDump.date|date:"d-m-Y H:i" }}</td><!--<td><a href="snippets.html?collectCachedDocs={{ snippetsDump.id }}">собрать сохраненные копии</a></td>--><td><a href="snippets.html?archiveDumpId={{ snippetsDump.id }}"><img src="img/up_arrow.png" title="Восстановить"/></a></td><td><a href="snippets.html?delDumpId={{ snippetsDump.id }}"><img src="img/delete.png" title="Удалить" /></a></td>
        </tr>
        {% if forloop.last %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}
