{% extends "base_template.html" %}
{% load utilfilters %}

{% block title %}
Дифф двух сниппетных дампов
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Дифф двух сниппетных дампов</h1><br />
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}

<form action="snippets_diff.html" method="GET">
 <div>
    <label for="firstDump">{{ snippetsDiffForm.firstDump.label }}:</label>
        {{ snippetsDiffForm.firstDump|safe }}
 </div><br />
 <div>
    <label for="firstDump">{{ snippetsDiffForm.secondDump.label }}:</label>
    {{ snippetsDiffForm.secondDump|safe }}
 </div>     
<br />     
<table>
    <tr>
        <td><label for="needTitle">{{ snippetsDiffForm.needTitle.label }}:</label> {{ snippetsDiffForm.needTitle }} </td>
        <td><label for="needSnippet">{{ snippetsDiffForm.needSnippet.label }}:</label> {{ snippetsDiffForm.needSnippet }} </td>
        <td><input type="submit" name="showDiff" value="Показать дифф" /></td>
    </tr>
</table>
</form>
<br />
<hr />
{% if firstDumpSnipsCount %}
Всего сниппетов в первом дампе: {{ firstDumpSnipsCount }}<br />
Всего сниппетов во втором дампе: {{ secondDumpSnipsCount }}<br />
Процент различий по запросам-урлам: {{ queryUrlsDiffPercent }} %<br />
Процент различий по сниппетам: {{ snipsDiffPercent }} %<br />
<br />
<div class="pagination">
    <span class="step-links">
        {% if differentSnips.has_previous %}
            <a href="?firstDump={{ firstDumpId }}&secondDump={{ secondDumpId }}&page={{ differentSnips.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            [{{ differentSnips.number }} / {{ differentSnips.paginator.num_pages }}]
        </span>

        {% if differentSnips.has_next %}
            <a href="?firstDump={{ firstDumpId }}&secondDump={{ secondDumpId }}&page={{ differentSnips.next_page_number }}">следующая</a>
        {% endif %}
    </span>
</div>                
<table width = "100%">
{% for snip in differentSnips.object_list %}

    <tr><td colspan="2" align="center"> {{ snip|getValue:0 }} url: {{ snip|getValue:1 }} </td></tr>
    <tr><td width="50%"><a href="">{% autoescape off %}{{ snip|getValue:2 }}{% endautoescape %}</a><br />{% autoescape off %}{{ snip|getValue:3 }}{% endautoescape %}</td>
    <td width="50%"><a href="">{% autoescape off %}{{ snip|getValue:4 }}{% endautoescape %}</a><br />{% autoescape off %}{{ snip|getValue:5 }}{% endautoescape %}</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if differentSnips.has_previous %}
            <a href="?firstDump={{ firstDumpId }}&secondDump={{ secondDumpId }}&page={{ differentSnips.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            [{{ differentSnips.number }} / {{ differentSnips.paginator.num_pages }}]
        </span>

        {% if differentSnips.has_next %}
            <a href="?firstDump={{ firstDumpId }}&secondDump={{ secondDumpId }}&page={{ differentSnips.next_page_number }}">следующая</a>
        {% endif %}
    </span>
</div>   
{% endif %}

{% endblock %}
