{% extends "base_template.html" %}

{% block meta %}
{% for task in tasks %}
{% ifnotequal task.progress 100 %}
<meta http-equiv="refresh" content="5" />
{% endifnotequal %}
{% endfor %}
{% endblock %}

{% block title %}
Задачи
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Задачи</h1><br />
  {% for error in errors %}
     {% if forloop.first %}<ul>{% endif %}
     <li class="errors">{{ error }}</li>
     {% if forloop.last %}</ul>{% endif %}     
  {% endfor %}
     <h2>Незавершенные задачи</h2>
    {% for task in tasks %}
     {% if forloop.first %}
      <table width="100%" border="1" style="border-collapse: collapse;">
          <tr><th width="10%">Тип задания</th><th width="60%">Детали</th><th width="10%">Старт задачи</th><th width="10%">Прогресс %</th><th width="10%">&nbsp;</th></tr> 
     {% endif %}
     {% ifnotequal task.progress 100 %}
     <tr><td>{{ task.taskType.name }}</td><td>{{ task.details }}</td><td align="center">{{ task.startDate|date:"H:i:s d-m-Y" }}</td><td align="center">{{ task.progress }}</td><td align="center"><a href="tasks.html?cancelTaskId={{task.id}}">отменить</a></td></tr>
     {% endifnotequal %}
     {% if forloop.last %}
     </table>
     {% endif %}
    {% empty %}
       Данных о заданиях нет.
    {% endfor %}
     <br />
     <br />
     <h2>Завершенные задачи</h2>
    {% for task in tasks %}
     {% if forloop.first %}
      <table width="100%" border="1" style="border-collapse: collapse;">
          <tr><th width="20%">Тип задания</th><th width="60%">Детали</th><th width="20%">Ошибки</th></tr> 
     {% endif %}
     {% ifequal task.progress 100 %}
     <tr {% if task.errors|length_is:0 %}class="notactive"{% else %}class="errortask"{% endif %}><td>{{ task.taskType.name }}</td><td>{{ task.details }}</td><td>{{ task.errors }}</td></tr>
     {% endifequal %}
     {% if forloop.last %}
     </table>
    
     {% endif %}     
     {% empty %}
       Данных о заданиях нет.
     {% endfor %}
     <br />
     <br />
     <form action="tasks.html" method="POST" >
        <input type="submit" name="clearAllFinished" value="Удалить все завершенные" />
     </form>
{% endblock %}
