[submodule "submodules/googleapis"]
	path = submodules/googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "submodules/iam-access-service-client-proto"]
	path = submodules/iam-access-service-client-proto
	url = ssh://git@bb.yandex-team.ru/cloud/iam-access-service-client-proto.git
