.tag-list
{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;

    &_readOnly
    {
        border-width: 0;
    }

    &:hover
    {
        border-color: #c6c6c6;
    }

    &:focus-within
    {
        border-color: #acacac;
    }

    &__item
    {
        display: inline-block;
        padding: 0 8px 0 10px;
        margin: 2px;
        height: 28px;
        line-height: 28px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #ddd;
        white-space: nowrap;
    }

    &_selected &__item:nth-last-child(2)
    {
        background-color: #bbb;
    }

    &__value
    {
        display: inline-block;
    }

    &__close
    {
        display: inline-block;
        padding-left: 4px;

        & .button2
        {
            width: 13px;
            position: relative;
            top: -1px;
        }

        & .icon
        {
            width: 8px;
            height: 8px;
            background-size: 8px 8px;
            vertical-align: middle;
        }
    }

    &__input
    {
        min-width: 50px;
        flex-grow: 1;
    }

    & .textinput_view_default.textinput_tone_grey.textinput_theme_normal .textinput__box
    {
        border-width: 0;
    }
}
