{% extends "../../base/alert.j2" %}
{% import "vars.yaml" as vars with context %}

{#
{% set notificationChannels = ['kms_juggler_robocall', 'kms_juggler_telegram'] %}
{% set notifyAboutStatuses = {
     'kms_juggler_robocall': '["ALARM", "WARN", "ERROR", "OK"]',
     'kms_juggler_telegram': '["ALARM", "WARN", "ERROR", "NO_DATA", "OK"]',
   }
%}
#}

{% set notificationChannels = ['kms_juggler'] %}
{% set notifyAboutStatuses = {
     'kms_juggler': '["ALARM", "WARN", "ERROR", "OK"]',
   }
%}
{% set jugglerTags = '' %}

