{% extends "base_alert.j2" %}
{% set checkExpression = "value > " + age_limit %}
{% set description = "KMS " + env | upper + " DATA Cache Age" %}
{% set windowSecs = 600 %}

{% macro prog() %}
let data = {
  project='{{ project_id }}',
  service='service',
  cluster='cloud_{{ env }}_kms_cluster',
  host='{{ host_regex }}',
  sensor='symKeySecondsSinceLastRefresh'
};
let value = max(data);
{% endmacro %}

{% block main %}
  "name": "KMS {{ env | upper }} DATA Cache Age",
  "groupByLabels": ["cluster", "host"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--[[labels.host]]--cacheAge",
    "description": "[[expression.value]] seconds old on [[labels.host]]",
    "wikiUrl": "https://nda.ya.ru/t/2zNp-REC3Vyz8e",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
