{% extends "base_alert.j2" %}
{% set checkExpression = "diff > 0" %}
{% set description = "FAILED TaskProcessor tasks" %}
{% set windowSecs = 300 %}

{% macro prog() %}
let data = {
  project='{{ project_id }}',
  service='service',
  cluster='cloud_{{ env }}_kms_cluster',
  host='cluster',
  sensor='taskprocessor_task_failed',
  meter_type='count'
};
let derivative = derivative(data);
let diff = max(derivative);
{% endmacro %}

{% block main %}
  "name": "KMS {{ env | upper }} Failed tasks",
  "groupByLabels": ["cluster", "host", "sensor"],
  "annotations": {
    "jugglerService": "[[labels.cluster]]--[[labels.host]]--[[labels.sensor]]",
    "description": "New FAILED Task on [[labels.cluster]]",
    "wikiUrl": "https://nda.ya.ru/t/R_xQhLM93yJsks",
    "jugglerTags" : "{{ jugglerTags }}"
  },
  "type": {{ type_expression() }}
{% endblock %}
