{
  "id": "compute_capacity_tg",
  "projectId": "{{ project_id }}",
  "name": "compute_capacity_tg",
  "notifyAboutStatuses": [],
  "repeatNotifyDelayMillis": 0,
  "method": {
    "telegram": {
      "groupTitle": "YC.Compute.Capacity",
      "login": "",
      "textTemplate": "[[status.code]]",
      "sendScreenshot": false
    }
  }
}
