Package: yandex-media-mongo-dumper
Version: 0.1
Architecture: amd64
Maintainer: Ilya Karpov <gibzer@yandex-team.ru>
Installed-Size: 42
Section: unknown
Priority: optional
Homepage: https://github.yandex-team.ru/admins/yandex-media-mongo-dumper
Description: Script for dumping MongoDB
