{
  "id": "<< id_prefix >>-envoy-requests",
  "name": "<< human_prefix >> envoy requests",
  "projectId": "<< project_id >>",
  "heightMultiplier": "1",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< cluster_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
            "title": "2xx total",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-2xx-total",
            "colspan": 1,
            "rowspan": 1
        },
        {
            "title": "2xx",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-2xx",
            "colspan": 1,
            "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
            "title": "3xx total",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-3xx-total",
            "colspan": 1,
            "rowspan": 1
        },
        {
            "title": "3xx",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-3xx",
            "colspan": 1,
            "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
            "title": "4xx total",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-4xx-total",
            "colspan": 1,
            "rowspan": 1
        },
        {
            "title": "4xx",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-4xx",
            "colspan": 1,
            "rowspan": 1
        }
      ]
    },
    {
      "panels": [
        {
            "title": "5xx total",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-5xx-total",
            "colspan": 1,
            "rowspan": 1
        },
        {
            "title": "5xx",
            "url": "?cluster=<< cluster_id >>&project=<< project_id >>&graph=<< id_prefix >>-envoy-requests-5xx",
            "colspan": 1,
            "rowspan": 1
        }
      ]
    }
  ]
}
