{
  "id": "<< id_prefix >>-salt-master",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Salt Master",
  "description": "Salt Master metrics",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "host",
      "value": "total"
    },
    {
      "name": "cluster",
      "value": "<< deploy_salt.cluster >>"
    },
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "state.sls calls",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_state_sls&graph=auto&interpolate=left&min=0",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "sync_all calls",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_func&l.func=saltutil.sync_all&interpolate=left&min=0&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "func calls (expect dbaas.ping and runner.config.get)",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_func&l.func=!dbaas.ping_minion|runner.config.get&interpolate=left&min=0&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "func calls",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_func&interpolate=left&min=0&graph=auto",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Accepted keys",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.name=prometheus.salt_master_keys&graph=auto&l.host=!total&graphMode=heatmap&l.state=accepted",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Keys without accepted",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_keys&l.state=!accepted&graph=auto&interpolate=left&min=0",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Keys events only",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host={{host}}&l.name=prometheus.salt_master_event&l.tag=key_*&graph=auto&interpolate=left&min=0",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Keys events per host",
          "subtitle": "",
          "url": "?project={{project}}&cluster={{cluster}}&service=mdb_tgf&l.host=!total&l.name=prometheus.salt_master_event&l.tag=key_*&graph=auto&interpolate=left&min=0",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ],
  "createdBy": "wizard"
}
