{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}DBM{% endblock %}
{% block objects_model_label %}Containers{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>FQDN</th>
        <th>Dom0</th>
        <th>Cluster</th>
        <th>Generation</th>
        <th>Pending delete</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link_c }}</td>
        <td>{{ obj.dom0host.self_link_c }}</td>
        <td>{{ obj.cluster.self_link_c }}</td>
        <td>{{ obj.generation }}</td>
        <td>{{ obj.pending_delete|bool_label }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
