[Unit]
Description=Yandex Cloud Snapshot Garbage Collector service
After=network.target auditd.service
ConditionPathExists=/etc/yc/snapshot/config.toml

[Service]
Type=oneshot
User=yc-snapshot
PermissionsStartOnly=true
ExecStart=/usr/bin/yc-snapshot-gc --oneshot --config=/etc/yc/snapshot/config.toml
