[Unit]
Description=Yandex Cloud Snapshot Garbage Collector timer

[Timer]
# Run job right after starting timer
OnActiveSec=0
# Run periodically after finish of previous run
OnUnitInactiveSec=1d

[Install]
WantedBy=timers.target
