[Unit]
Description=Yandex Cloud Snapshot service
After=network.target auditd.service
ConditionPathExists=/etc/yc/snapshot/config.toml
StartLimitInterval=10
StartLimitBurst=15

[Service]
User=yc-snapshot
LimitNOFILE=65536
PermissionsStartOnly=true
ExecStartPre=/sbin/modprobe nbd
ExecStartPre=/bin/mkdir -p /var/run/yc-snapshot
ExecStartPre=/bin/chown yc-snapshot -R /var/run/yc-snapshot
ExecStart=/usr/bin/yc-snapshot --config=/etc/yc/snapshot/config.toml
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
