#main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    margin-bottom: 8px;
    max-width: 320px;
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 1em;
}

.wrapper .Text {
    line-height: 2em;
}

.one {
    min-height: 40px;
}

.two {
    line-height: 2em;
}

.image-wrapper {
    width: 100%;
    max-width: 320px;
}

.image-wrapper img {
    width: 100%;
}

.state-block {
    display: none;
}

#submit {
    margin-top: 5px;
}