[Unit]
Description=Platform Base Image -- kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10
StartLimitInterval=0

Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"

ExecStart=
ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET_EXTRA_ARGS

[Install]
WantedBy=multi-user.target
