.monaco-editor__main
{
    height: 100%;
    width: 100%;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    padding: 5px 0;
    box-sizing: border-box;
    overflow: hidden;

    &:hover
    {
        border-color: #c6c6c6;
    }

    &:focus-within
    {
        border-color: #acacac;
    }
}
