Source: yandex-media-nginx-errorlog-check
Section: misc
Priority: optional
Maintainer: Sergey Kacheev <skacheev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: https://github.yandex-team.ru/admins/yandex-media-nginx-errorlog-check

Package: yandex-media-nginx-errorlog-check
Architecture: all
Depends: ${misc:Depends}, yandex-timetail
Description: Nginx errorlog monitoring
 timetail error.log and check it errors, if any then fire the monrun
