{% extends "../../../base/alert.j2" %}

{% set idc="creator-alive" %}
{% set description="Is Creator alive? Checks keep_alive metric sent by Creator every 30 seconds" %}

{% set windowSecs=60 %}
{% set delaySecs=15 %}
{% set resolvedEmptyPolicy="RESOLVED_EMPTY_ALARM" %}
{% set noPointsPolicy="NO_POINTS_ALARM" %}
{% set checkExpression="" %}

{% block main %}
    "name": "[Creator] Alive?",
    "groupByLabels": [
        "cluster",
        "host"
	],
    "annotations": {
        "host": "[[labels.host]]",
        "description": "Looks like Creator is dead. Check it with `journalctl -u creator -f`. Restart with `sudo systemctl restart creator`.",
        "service": "creator-alive"
    },
    "type": {
        "threshold": {
            "selectors": "{cluster='*', service='creator', metric='keep_alive'}",
            "timeAggregation": "SUM",
            "predicate": "LT",
            "threshold": 1,
            "predicateRules": [
                {
                    "thresholdType": "SUM",
                    "comparison": "LT",
                    "threshold": 1,
                    "targetStatus": "ALARM"
                }
            ]
        }
    }
{% endblock %}
