{% extends "../../../base/alert.j2" %}

{% set idc="meeseeks-updater-alive" %}
{% set description="Is Meeseeks Updater alive? Checks update_event metric sent on every update" %}

{% set windowSecs=300 %}
{% set delaySecs=0 %}
{% set resolvedEmptyPolicy="RESOLVED_EMPTY_ALARM" %}
{% set checkExpression="" %}

{% block main %}
    "name": "[Meeseeks Updater] Alive?",
    "groupByLabels": [
        "cluster",
        "host"
	],
    "annotations": {
        "host": "[[labels.host]]",
        "description": "Looks like Meeseeks Updater is dead. Check it with `journalctl -u meeseeks-updater -f`.",
        "service": "meeseeks-updater-alive",
        "updates graph": "{{ solomon_endpoint }}/?project={{ project_id }}&cluster=[[labels.cluster]]&service=creator&l.host=[[labels.host]]&l.subservice=meeseeks-updater&l.metric=update_event&graph=auto"
    },
    "type": {
        "threshold": {
            "selectors": "{cluster='*', service='creator', subservice='meeseeks-updater', metric='update_event'}",
            "timeAggregation": "SUM",
            "predicate": "LT",
            "threshold": 1,
            "predicateRules": [
                {
                    "thresholdType": "SUM",
                    "comparison": "LT",
                    "threshold": 1,
                    "targetStatus": "ALARM"
                }
            ]
        }
    }
{% endblock %}
