{% extends "../../../base/alert.j2" %}

{% set idc="meeseeks-updater-error" %}
{% set description="Some error occurred while Meeseeks Updater tried to update compute nodes list" %}
{% set noPointsPolicy="NO_POINTS_OK" %}

{% set windowSecs=300 %}
{% set delaySecs=0 %}

{% block main %}
    "name": "[Meeseeks Updater] Error",
    "groupByLabels": [
        "cluster",
        "host"
	],
    "annotations": {
        "host": "[[labels.host]]",
        "description": "Looks like Meeseeks Updater can not update compute nodes list under meeseeks cluster. Check it with `journalctl -u meeseeks-updater -f`",
        "service": "meeseeks-updater-error",
        "errors graph": "{{ solomon_endpoint }}/?project={{ project_id }}&cluster=[[labels.cluster]]&service=creator&l.host=[[labels.host]]&l.subservice=meeseeks-updater&l.metric=update_event&l.status=%21UPDATED%7CEMPTY_DIFF&graph=auto"
    },
    "type": {
        "threshold": {
            "selectors": "{cluster='*', service='creator', subservice='meeseeks-updater', metric='update_event', status!='UPDATED|EMPTY_DIFF'}",
            "timeAggregation": "AT_LEAST_ONE",
            "predicate": "GTE",
            "threshold": 1,
            "predicateRules": [
                {
                    "thresholdType": "AT_LEAST_ONE",
                    "comparison": "GTE",
                    "threshold": 1,
                    "targetStatus": "ALARM"
                }
            ]
        }    
    }
{% endblock %}
