[Unit]
Description=MDB CMS instance autoduty

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-cms/bin/mdb-cms-instance-autoduty --config-path /etc/yandex/mdb-cms
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
User=mdb-cms
Environment="GOMAXPROCS=2"
LimitNOFILE=65536
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
