Source: config-monrun-cassandra
Section: misc
Priority: extra
Maintainer: Pavel Perekalov <pperekalov@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://c.yandex-team.ru/packages/config-monrun-cassandra
Vcs-Svn: svn+ssh://arcadia.yandex.ru/arc/trunk/arcadia/admins/config-monrun-cassandra
Vcs-Browser: https://a.yandex-team.ru/arc/trunk/arcadia/admins/config-monrun-cassandra

Package: config-monrun-cassandra
Architecture: all
Depends: monrun, perl
Description: Cassandra monitoring
 https://a.yandex-team.ru/arc/trunk/arcadia/admins/config-monrun-cassandra
