/* Zoom image on click */
input[type="checkbox"] {
  display: none;
}

.sidebyside {
  display: flex;
}

.container img {
  height: 230px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  position: relative;
}

input[type="checkbox"]:checked ~ label > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(2);
  width: auto;
  position: relative;
  z-index: 10;
  cursor: zoom-out;
}

/* Hide footer */
.md-footer {
  display: none;
}

/* Make md tables page-wide */
.md-typeset .md-typeset__table {
  width: 100%;
}

/* Edit Max-Width and Move sidebar to the right */
.md-grid {
  max-width: 500em !important;
  margin-right: auto;
  margin-left: auto;
}

.md-nav__title {
  padding: 0 0.8rem !important;
}

.md-nav__item {
  padding: 0 0.8rem !important;
}

.md-sidebar--secondary {
  margin-left: 100% !important;
}
