{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% set cluster = "cloud_{}_ycm_cluster".format(env) %}
{% set sensor_label = sensor_label | default("sensor") %}
{% set solomon_service = solomon_service | default("service") %}

{% block elements %}
	{{
	    render_element(
			"issued",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='certificates_count_issued', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"invalid",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='certificates_count_invalid', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"validating",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='certificates_count_validating', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"renewing",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='certificates_count_renewing', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"renewal_failed",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='certificates_count_renewal_failed', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}}
{% endblock %}
