{% extends "../../crypto-base/graphs/group_by_avg.j2" %}

{% set cluster = "cloud_{}_ycm_cluster".format(env) %}
{% set sensor_label = sensor_label | default("sensor") %}
{% set solomon_service = solomon_service | default("service") %}
