{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% set cluster = "cloud_{}_ycm_cluster".format(env) %}
{% set sensor_label = sensor_label | default("sensor") %}
{% set solomon_service = solomon_service | default("service") %}

{% block elements %}
	{{
	    render_element(
			"Job отвалился",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='hung_orders', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"Не создается в LE",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='hung_new_orders', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}},
	{{
	    render_element(
			"Челленжи неделю",
			expression="group_by_time(15s, 'avg', {cluster='%s', %s='stray_pending_orders', service='%s', host='[[host]]'})" | format(cluster, sensor_label, solomon_service),
			stack=stack
		)
	}}
{% endblock %}
