[Unit]
Description=YC Team Integration
After=network.target auditd.service
ConditionPathExists=/etc/yc/team-integration/config.env

[Service]
User=yc-team-integration
Group=yc-team-integration
PermissionsStartOnly=true
EnvironmentFile=/etc/yc/team-integration/config.env
ExecStart=/usr/share/yc/team-integration/bin/run.sh
Restart=always
OOMScoreAdjust=-500
LimitNOFILE=8192
LimitNOFILESoft=8192

[Install]
WantedBy=multi-user.target
