{% set mediastorage = salt['grains.filter_by']({
    'base': {
        'use_file': false,
        'disable_auth': false,
        'ping_stid': '320.ping.E1540651:205994704587774095837309963303',
        'elliptics_cluster': false,
        'port': 10010,
        'local_port': false,
        'run_tests': false,
        'nodes': 2604,
        'backlog': 1024,
        'threads': 4,
        'max_pending_connections': 256,
        'log_request_headers': '["content-md5"]',
        'cfg_flags': 4,
        'elliptics_local_node': false,
        'lepton': {
            'enable': true,
            'address': 'https://lepton.mds.yandex.net/',
            'local_address': 'http://[::1]:7070/',
            'comparison': false
        },
        'log': {
            'path': '/var/log/mds/thevoid.log',
            'access_path': '/var/log/mds/access.log',
            'mds_access_path': '/var/log/mds/mds-access.log',
        },
        'executor_threads': 8,
        'http_check': {
            'port': 8090,
            'timeout_ms': 5000,
            'service': 'mds-proxy',
        },
        'timeouts': {
            'lookup': 2,
            'read': 5,
            'remove': 20,
            'write': 10,
            'wait': 20,
            'check': 60,
            'exec': 1200,
        },
        "timeout_coefs": {
            'data_flow_rate': 10,
            'for_commit': 10
        },
        'chunk_size': {
            'read': 1,
            'write': 1,
        },
        'elliptics_features': {
            'independent_protocol': true,
        },
        'elliptics_threads': {
            'io_thread_num': 4,
            'net_thread_num': 4,
            'nonblocking_io_thread_num': 6,
        },
        'mastermind': {
            'remotes': ['collector00myt.mds.yandex.net', 'collector01myt.mds.yandex.net', 'collector00vla.mds.yandex.net', 'collector02vla.mds.yandex.net', 'collector00sas.mds.yandex.net', 'collector01sas.mds.yandex.net', 'collector03sas.mds.yandex.net'],
            'port': 8383,
            'update_period': 10,
            'storage_info_period': 1,
            'config_remotes_period': 2,
            'cached_keys_period': -1,
            'warning_time': 600,
            'expire_time': 43200,
            'enqueue_retries': 4,
            'enqueue_timeout': 15000,
            'reconnect_timeout': 5000,
            'worker_name': 'mastermind-drooz-http',
            'cache_path': '/var/cache/mastermind/mediastorage-proxy.cache',
        },
        'mavrodi': {
            'enabled': true,
            'port': 9999,
            'remotes': ['mavrodi.mds.yandex.net']
        },
        'die_limit': 120,
        'x_mds_security': '',
        'auth_client_id': 2000273,
        'handystats': {
            'enable': true,
        },
        'cache': {
            'enable': false,
            'version': 'v1'
        },
        'acl': {
            'http_source': '"http://s3.mds.yandex.net/mds-service/banned_urls"'
        },
        'tls': {
            'support': 1,
            'cert': '/etc/elliptics/ssl/storage.crt',
            'key': '/etc/elliptics/ssl/storage.key',
            'ca': '/etc/elliptics/ssl/'
        },
        'karl': {
            'enabled': true,
            'use_federations': true,
            'connection_string': 'zk01man.mds.yandex.net:2181,zk01myt.mds.yandex.net:2181,zk01sas.mds.yandex.net:2181',
            'prefix': '/karl_discovery',
            'tls': {
                'enabled': true
            }
        },
        'nscfg': {
            'enabled': true,
            'http_source': 'http://nscfg.mds.yandex.net:9532/all',
            'warning_time_sec': 1200
        }
    },
    'load': {
    },
    'testing': {
        'ping_stid': '320.ping.E69015:311834263829288833852895743757',
        'nodes': 33,
        'mastermind': {
            'remotes': ['collector01myt.mdst.yandex.net', 'collector01man.mdst.yandex.net'],
        },
        'mavrodi': {
            'remotes': ['mavrodi.mdst.yandex.net']
        },
        'die_limit': 4,
        'auth_client_id': 2000272,
        'acl': {
            'http_source': '"http://s3.mdst.yandex.net/mds-service/banned_urls"',
        },
        'karl': {
            'connection_string': 'zk01man.mdst.yandex.net:2181,zk01myt.mdst.yandex.net:2181,zk01sas.mdst.yandex.net:2181',
            'prefix': '/karl_test_discovery',
        },
        'lepton': {
            'address': 'https://lepton.mdst.yandex.net/',
        },
        'nscfg': {
            'http_source': 'http://nscfg.mdst.yandex.net:9532/all'
        }
    },
    'prestable': {
        'mastermind': {
            'remotes': ['collector00myt.mds.yandex.net', 'collector01myt.mds.yandex.net', 'collector00vla.mds.yandex.net', 'collector01vla.mds.yandex.net', 'collector02vla.mds.yandex.net', 'collector00sas.mds.yandex.net', 'collector01sas.mds.yandex.net', 'collector03sas.mds.yandex.net']
        },
    },
    'production': {
    },
}, grain='yandex-environment', merge=salt['pillar.get']('mediastorage-mulcagate'), default='production', base='base') %}
