.breadcrumbs {
    background-color: #E0C9F7 !important;
    color: #222 !important;
}

.breadcrumbs a{
    color: black !important;
}

.inline-group h2 {
    background-color: #eee !important;
    color: black;
}

.submit-row input {
    background-color: #E0C9F7 !important;
    color: black;
}

#changelist-filter h2 {
    background-color: #eee !important;
    color: black;
}

.module h2 {
    background-color: #eee !important;
    color: black;
}

#user-tools {
    color: #222;
    margin: 10px;
}

#user-tools a {
    color: #222 !important;
}

.inline-group div.add-row {
    background: none;
}

@media screen and (min-width: 800px) {
    #header {
        background: #eee;
        height: 106px;
        display: block;
        padding: 0 !important;
    }

    #branding {
        width: 80px;
        height: 71px;
    }

    #navigation-menu {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    #header {
        background: #eee;
        padding: 0;
    }

    #navigation-menu {
        height: 110px !important;
    }
}

#bookmark-form {
    display: none;
}

td.original {
    max-width: 40px !important;
    overflow: hidden;
}

span.plus {
    color: darkgreen !important;
}

span.minus {
    color: darkred !important;
}

td.original p {
    display: none;
}

div.submit-row {
    display: none !important;
}

ul.object-tools a.historylink {
 display: none;
}

label {
    font-size: 14px;
}

.form-row {
    font-size: 13px;
}

td.field-jobs_table {
    padding-top: 5px !important;
}

tr.info th {
    background-color: #C9E8F7;
}

tr.success th {
    background-color: #DDF7C9;
}

tr.danger th {
    background-color: #F7C9C9;
}

pre.json-mini {
    max-width: 600px !important;
    overflow: scroll;
}

pre.json {
    max-width: 1200px;
    overflow: auto;
}

form .form-row p {
    font-size: 14px;
}

.form-row {
    font-size: 14px;
}

.btn-copy {
    border: none;
    background: transparent;
    cursor: pointer;
}

small {
    font-size: 0.8em;
    color: #888;
}
