[Unit]
Description=kubernetes-creds-daemon
After=kubelet.service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
SuccessExitStatus=0 SIGKILL
ExecStart=/opt/ycloud-tools/kubernetes-creds-daemon --hostnames-from-file=/opt/ycloud-tools/registries-hostnames

[Install]
WantedBy=default.target
