[Unit]
Description=Selfdns client
After=cloud-init.service

[Service]
ExecStartPre=/usr/bin/selfdns-client-token-getter.sh
ExecStart=/usr/bin/selfdns-client --terminal --debug
Restart=on-failure
RestartSec=25s

[Install]
WantedBy=multi-user.target