[Unit]
Description=Secret Key Manager (skm) -- decrypt step
Wants=network-online.target
After=network-online.target
Before=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/bin/skm decrypt --config /etc/skm.yaml
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
