# ip4 requirements
# для приема ipencap с балансера
auto tunl0
   iface tunl0 inet manual
   up ifconfig $IFACE up mtu 9000
   pre-up ip link add tunl0 type ipip || true

# для обслуживания клиентов на сервисном адресе
auto dummy0
iface dummy0 inet static
  address 87.250.251.42
  netmask 255.255.255.255
  pre-up /sbin/modprobe -v dummy numdummies=1 || true
  # manual create dummy to run on lxd
  pre-up ip link add dummy0 type dummy || true

# ip6 requirements
# для приема и развертывания ip6 next-header ip6
auto ip6tnl0
iface ip6tnl0 inet manual
   up /sbin/ip link set up dev $IFACE mtu 9000

# для обслуживания клиентов на сервисном адресе
iface dummy0 inet6 static
  address 2a02:6b8::299
  netmask 128

auto tun0
iface tun0 inet manual
    post-up /sbin/ip -6 tunnel add tun0 mode any remote 2a02:6b8:0:3400::b0b0 local {{salt['network.ip_addrs6']('eth0')[0]}} tos inherit || true
    post-up /sbin/ip link set up dev tun0 || true
    post-up /sbin/ip r change default dev tun0 src 87.250.251.42 initcwnd 1 || /sbin/ip r a default dev tun0 src 87.250.251.42 initcwnd 1 || true
    post-up /sbin/ip -6 ro change default dev tun0 src 2a02:6b8::299 initcwnd 1 table 1000 || /sbin/ip -6 ro a default dev tun0 src 2a02:6b8::299 initcwnd 1 table 1000 || true
    post-up /sbin/ip -6 rule add from 2a02:6b8::299 lookup 1000 || true

#auto tun1
iface tun1 inet manual
    post-up /sbin/ip -6 tunnel add tun1 mode any remote 2a02:6b8:0:3400::aaaa local {{salt['network.ip_addrs6']('eth0')[0]}} || true
    post-up /sbin/ip link set up dev tun1 || true
#    post-up /sbin/ip r change default dev tun0 src 87.250.251.42 || true
