{% set id = config_name %}
{% set name = "[python-worker] Compute failed operation" %}
{% set downsampling = "BY_INTERVAL" %}
{% set grid = "5m" %}
{% set normalize = "false" %}
{% set downsampling_func = "SUM" %}
{% set secondary_graph_mode = "PIE" %}

{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "value": "cloud_*_head_*",
        "name": "cluster"
    }
{% endblock %}

{% block elements %}
    {{ render_element("[[error_class]]",
        area="true",
        down="false",
        expression="group_by_labels({task_service='compute', metric='task_failed', host='cluster'}, 'error_class', v -> group_lines('sum', v))"
    ) }}
{% endblock %}
