{% set id = config_name %}
{% set name = "[python-worker] Task operations by type" %}
{% set normalize = "false" %}
{% set downsampling_func = "SUM" %}
{% set secondary_graph_mode = "PIE" %}

{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "value": "cloud_*_head_*",
        "name": "cluster"
    }
{% endblock %}

{% block elements %}
    {{ render_element("Failed operations",
        color="red",
        area="true",
        expression="group_lines('sum', {metric=task_failed,service_name=compute_worker})"
    ) }},
    {{ render_element("Completed operations",
        color="green",
        area="true",
        expression="group_lines('sum', {metric=task_completed,service_name=compute_worker})"
    ) }}
{% endblock %}
