{% set id = config_name %}
{% set name = "[python-api] Compute API errors" %}
{% set description = "Show API request rate for external calls only (path starts with 'external' prefix)." %}
{% set downsampling = "BY_INTERVAL" %}
{% set grid = "1m" %}
{% set normalize = "false" %}
{% set secondary_graph_mode = "PIE" %}
{% set number_format = "1|auto" %}
{% set moving_window = "10m" %}
{% set transform = "MOVING_AVERAGE" %}
{% set aggr = "SUM" %}
{% set downsampling_func = "SUM" %}

{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "value": "cloud_*_head_*",
        "name": "cluster"
    },
    {
        "value": "internals",
        "name": "service"
    }
{% endblock %}

{% block elements %}
    {{ render_element("[[status_code]]",
        area="true",
        stack="true",
        expression="group_by_labels({metric='api_request_count', path='external/*'}, 'status_code', v -> group_lines('sum', v))"
    ) }}
{% endblock %}
