[Unit]
Description=Redis Sentinel
After=network.target etc-fix.service
Documentation=https://redis.io/topics/sentinel

[Service]
Type=forking
User=redis
Group=redis
RuntimeDirectory=sentinel
RuntimeDirectoryPreserve=yes

ExecStartPre=/bin/rm -f {{ salt.mdb_redis.get_sentinel_stopped_flag() }}
ExecStart=/usr/local/yandex/start-sentinel.sh

ExecStop=/usr/bin/touch {{ salt.mdb_redis.get_sentinel_stopped_flag() }}

PIDFile={{ salt.mdb_redis.get_sentinel_pid() }}
Restart=always
RestartSec=1
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
