[Unit]
Description=mdb-pgcheck service
After=network.target

[Service]
Type=simple
KillMode=mixed
PIDFile=/var/run/mdb-pgcheck.pid
ExecStart=/opt/yandex/mdb-pgcheck/bin/mdb-pgcheck --config-path /etc/
User=postgres
Group=postgres
Restart=on-failure
TimeoutStartSec=15
TimeoutStopSec=15
StandardOutput=file:/var/log/pgcheck/pgcheck.log
StandardError=file:/var/log/pgcheck/pgcheck.log

[Install]
WantedBy=multi-user.target
