{%- for vrf in vrfs %}

   - name: {{ vrf.name }}
     vrf: {{ vrf.vrf }}
     import:
{%- for imprt in vrf.import %}
       - {{ imprt }}
{%- else %}
       []
{%- endfor %}
     export:
{%- for exprt in vrf.export %}
       - {{ exprt }}
{%- else %}
       []
{%- endfor %}
     label: {{ vrf.label }}
     is_white: {{ vrf.is_white }}
     is_nated: {{ vrf.is_nated }}
     is_ip6: {{ vrf.is_ip6 }}
     fuse: {{ vrf.fuse }}
{%- endfor %}
