{%- set hostname = grains['fqdn'] %}
{%- set host_roles = salt['grains.get']('cluster_map:hosts:%s:roles' % hostname) %}
{%- set host_tags = salt['grains.get']('cluster_map:hosts:%s:tags' % hostname) %}
{%- set base_role = salt['grains.get']('cluster_map:hosts:%s:base_role' % hostname) %}

{%- for name, iface in host['interfaces'].iteritems() %}
declare -A {{ name }}=(
    ["vpp_name"]="{{ phyifaces[iface['os_name']]['vpp_name'] }}"
    ["os_name"]="{{ iface['os_name'] }}"
    ["addr"]="{{ iface['addr'] }}"
{%- if (base_role == 'loadbalancer-node' or 'ipv6-mpls' in host_tags) and name == 'UPSTREAM_V4' %}
    ["feature_mpls"]="enable"
{%- endif %}
)
{%- endfor %}

GATEWAYS=(
{%- for gateway in host['gateways'] %}
    "{{ gateway['iface'] }} {{ gateway['gateway'] }}"
{%- endfor %}
)

ROUTES=(
{%- for route in host['routes'] %}
    "{{ route['route'] }}
    {%- if 'nexthop' in route %} via {{ route['nexthop'] }}{% endif %}
    {%- if 'dev' in route %} dev {{ route['dev'] }}{% endif %}
    {%- if 'src' in route %} src {{ route['src'] }}{% endif %}"
{%- endfor %}
)

{%- if 'loopback' in host %}
{%- if 'cgw-nat' in host_roles %}
declare -A LOOPBACK=(
    ["vpp_name"]="loop0"
    ["os_name"]="vpp3"
    ["addr"]="{{ host['loopback'] }}"
){%- else %}
{# TODO: CLOUD-15512. remove oldstyle declaration #}
LOOPBACK="{{ host['loopback'] }}"
{%- endif %}
{%- endif %}