shared_nat:
{%- for prefix in nat44["shared"] %}
  - prefix: {{prefix}}
{%- else %}
  []
{%- endfor %}
specific_nat:
{%- for announce in nat44['private'] %}
  - prefix: {{ announce['prefix'] }}
    vrf: {{ announce['vrf'] }}
{%- else %}
  []
{%- endfor %}

ignore_nat_addresses:
  - {{ host["loopback"] }}
  - {{ host["interfaces"]["UPSTREAM_V4"]["addr"] }}

output_interfaces:
  - {{ phyifaces["UPSTREAM_V4"]["vpp_name"] }}
