{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Backups{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-sortable">
    <thead>
      <tr>
        <th>Type</th>
        <th>Component</th>
        <th>Major version</th>
        <th>Minor version</th>
        <th>Package version</th>
        <th>Env</th>
        <th>Is deprecated</th>
        <th>Is default</th>
        <th>Updateable to</th>
        <th>Name</th>
        <th>Edition</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr>
        <td>{{ obj.type }}</td>
        <td>{{ obj.component }}</td>
        <td>{{ obj.major_version }}</td>
        <td>{{ obj.minor_version }}</td>
        <td>{{ obj.package_version }}</td>
        <td>{{ obj.env }}</td>
        <td>{{ obj.is_deprecated|bool_label }}</td>
        <td>{{ obj.is_default|bool_label }}</td>
        <td>{{ obj.updateable_to|dash_if_not }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.edition }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
