{
  "id": "<< id_prefix >>-<< srch_service >>-hosts-disk-free-prc-log",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> Hosts: Disk free /var/log/yc, [%]",
  "description": "",
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< (srch_service|resolve)["cluster"] >>"
    },
    {
      "name": "service",
      "value": "system"
    }
  ],
  "elements": [
    {
      "type": "EXPRESSION",
      "expression": "({path='/Filesystem/FreeB', host=*, mountpoint='/var/log/yc'}/({path='/Filesystem/FreeB', host=*, mountpoint='/var/log/yc'}+{path='/Filesystem/UsedB', host=*, mountpoint='/var/log/yc'}))*100",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "BARS",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "3|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "sortByLabel": "",
  "asc": false,
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "filter": "NONE",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "DEFAULT",
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true,
  "ignoreInf": false
}
