{
  "id": "<< id_prefix >>-indexer-<< cloud_service >>-total",
  "projectId": "<< project_id >>",
  "name": "Docs << cloud_service >> per host total [count]",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< indexer.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< indexer.get("service") >>"
    }
  ],
 "elements": [
    {
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "sum({sensor=\"docs_in_index_<< cloud_service >>_axxx\"}) by host",
      "link": "",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "dropNans": true,
  "stack": false,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "0|",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true
}
