{
  "id": "<< id_prefix >>-indexer-codes",
  "projectId": "<< project_id >>",
  "name": "Indexer codes (LB -> Indexer)",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< indexer.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< indexer.get("service") >>"
    }
  ],
 "elements": [
    {
      "title": "2xx",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< indexer.get("service") >>\", sensor=\"indexer-index-codes-2xx_ammm\"})",
      "link": "",
      "stack": "",
      "color": "#169833",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    { 
      "title": "4xx",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< indexer.get("service") >>\", sensor=\"indexer-index-codes-4xx_ammm\"})",
      "link": "",
      "stack": "",
      "color": "#f231f6",
      "yaxis": "LEFT",
      "transform": "NONE"
    },
    {
      "title": "5xx",
      "type": "EXPRESSION",
      "selectors": [],
      "expression": "group_lines('sum', {service=\"<< indexer.get("service")  >>\", sensor=\"indexer-index-codes-5xx_ammm\"})",
      "link": "",
      "stack": "",
      "color": "#f63131",
      "yaxis": "LEFT",
      "transform": "NONE"
    }
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "dropNans": true,
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "0|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true
}
