{
  "id": "<< id_prefix >>-process-cpu-usage",
  "projectId": "<< project_id >>",
  "name": "Proxy response codes",
  "description": "",
 "elements": [
    {% for cl, val in  clusters.items() %}
    { "title": "<< cl >>",
      "area": false,
      "type": "EXPRESSION",
      "yaxis": "LEFT",
      "expression": "group_lines('avg', {cluster=\"*-<<cl>>\", service=\"<< val.service >>\", sensor=\"process-cpu-usage_ammm\"})",
      "color": "<< val.color >>"
    }
    {% if not loop.last %}
    ,  
    {% endif %}
    {% endfor %}
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": "",
  "normalize": false,
  "colorScheme": "AUTO",
  "dropNans": true,
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "0|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true
}
