{
  "id": "<< id_prefix >>-proxy-timings",
  "projectId": "<< project_id >>",
  "name": "Proxy response codes",
  "description": "",
  "parameters": [
    {
      "name": "cluster",
      "value": "<< proxy.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< proxy.get("service") >>"
    }
  ],
 "elements": [
    {% for title, val in g.histogram_lat.items() %}
    { "title": "<< title >>",
      "area": true,
      "type": "EXPRESSION",
      "yaxis": "LEFT",
      "expression": "histogram_cdfp(<< val.min_timing >>, << val.max_timing >>, {service=\"<< proxy.get("service") >>\", sensor=\"search-times-hist_ahhh\"})",
      "color": "<< val.color >>"
    }
    {% if not loop.last %}
    ,  
    {% endif %}
    {% endfor %}
  ],
  "graphMode": "GRAPH",
  "secondaryGraphMode": "PIE",
  "min": "",
  "max": 100,
  "normalize": true,
  "colorScheme": "AUTO",
  "dropNans": true,
  "stack": true,
  "aggr": "AVG",
  "interpolate": "LINEAR",
  "scale": "NATURAL",
  "numberFormat": "0|auto",
  "green": "",
  "yellow": "",
  "red": "",
  "violet": "",
  "greenValue": "",
  "yellowValue": "",
  "redValue": "",
  "violetValue": "",
  "limit": "",
  "overLinesTransform": "NONE",
  "percentiles": "",
  "bucketLabel": "",
  "ignoreInf": false,
  "filter": "NONE",
  "filterBy": "AVG",
  "filterLimit": "",
  "transform": "NONE",
  "movingWindow": "",
  "movingPercentile": "",
  "downsampling": "AUTO",
  "downsamplingAggr": "AVG",
  "downsamplingFill": "NULL",
  "ignoreMinStepMillis": false,
  "grid": "",
  "maxPoints": 0,
  "hideNoData": true
}
