.input-with-button
{
    position: relative;
    display: flex;

    &__button
    {
        border-radius: 0 3px 3px 0;
        border-width: 2px;
        opacity: .6;
        border-color: #A9A9A9;

        &:active
        {
            /*
                TODO Отменяет стандартное поведение леговской кнопки по изменению ее размера при нажатии
                при нажатии появляется слева и сверху дополнительный бордер, поэтому наш бордер красим в белый
            */
            outline: none;
            border-left-color: #FFFFFF;
            border-top-color: #FFFFFF;
            transform: scale(1);
        }

        &:hover
        {
            opacity: 1;
        }

        &:hover > &__icon
        {
            opacity: 1;
        }

        &:focus
        {
            outline: none;
        }
    }

    &__icon
    {
        opacity: 0.8;
        line-height: 18px;
        display: inline-block;
        height: 14px;
    }

    &__tooltip
    {
        max-width: 500px;
        padding: 6px 8px;
        white-space: pre-line;
        width: auto;

        &.tooltip_size_xs .tooltip__content
        {
            line-height: 16px;
            word-break: break-word;
        }
    }
}
