.status-circle
{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;

    &_big
    {
        width: 16px;
        height: 16px;
        border-radius: 8px;
    }

    &_wip
    {
        background-color: #FFA500;
    }

    &_ok
    {
        background-color: #008000;
    }

    &_error
    {
        background-color: #FF0000;
    }

    &_inactive
    {
        background-color: #808080;
    }
}
