auto lo:666
iface lo:666 inet static
    address {{ pillar["generic_rfn_config"]["rfn_nginx_loopback_ipv4_address"] }}
    netmask 32

iface lo:666 inet static
    address {{ pillar["specific_rfn_config"][grains['nodename']]["rfn_fv_peering_loopback_ipv4_address"] }}
    netmask 32
