{% set deployment = pillar["specific_rfn_config"][grains['nodename']]["deployment"] %}
auto eth1
iface eth1 inet static
    address {{ ipv4_upstream_address }}
    netmask 24
{% for RR in pillar["generic_netinfra_config"]["fv_reflectors"][deployment] %}
#    post-up  ip route add {{RR.ipv4_address}}/32 via 10.255.254.1
#    pre-down ip route del {{RR.ipv4_address}}/32 via 10.255.254.1
{% endfor %}
{% for BORDER in pillar["generic_netinfra_config"]["borders"] %}
    post-up  ip route add {{BORDER.ipv4_address}}/32 via 10.255.254.1
    pre-down ip route del {{BORDER.ipv4_address}}/32 via 10.255.254.1
{% endfor %}



