{%- set local_endpoint =  pillar["specific_rfn_config"][grains['nodename']]["rfn_fv_peering_loopback_ipv4_address"] -%}
{% for BORDER in pillar["generic_netinfra_config"]["borders"] %}
{%- set local_tunnel_ip =   pillar["specific_rfn_config"][grains['nodename']]["gre_tunnels"][ BORDER.name ]["local_tunnel_ipv4_address"] -%}
auto gre_to_{{ BORDER.name }}
iface gre_to_{{ BORDER.name }} inet manual
    pre-up /sbin/ip tunnel add gre_to_{{ BORDER.name }}  mode gre remote {{ BORDER.ipv4_address }} local {{ local_endpoint }} ttl 255
    pre-up /sbin/ip link set gre_to_{{ BORDER.name}} up
    pre-up /sbin/ip address add {{ local_tunnel_ip }}/30 dev gre_to_{{ BORDER.name }}
    pre-down /sbin/ip link del gre_to_{{ BORDER.name }}

{% endfor %}

