{% if salt['pillar.get']('data:mdb_report:offline_billing:use_cloud_logbroker') %}
    {% set lb = {
        'addr': salt['pillar.get']('data:yc_logbroker:address'),
        'port': salt['pillar.get']('data:yc_logbroker:port', 2135),
    } %}
{% else %}
    {% set lb = {
        'addr': salt['pillar.get']('data:mdb_report:offline_billing:master-addr', 'vla.logbroker.yandex.net.'),
        'port': salt['pillar.get']('data:mdb_report:offline_billing:master-port', 2135),
    } %}
{% endif %}
