Source: yandex-nginx-stub-to-solomon
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-nginx-stub-to-solomon

Package: yandex-nginx-stub-to-solomon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ubic, python3-flask, python3-requests
Conflicts: nginx-stub-to-graphite
Description: Package with script for read nginx stub status from 127.0.0.1:7777 and send it to solomon
 .
