#!/usr/bin/make -f
# -*- makefile -*-

override_dh_install:
	mkdir -p debian/yandex-nginx-stub-to-solomon/usr/local/sbin/
	mkdir -p debian/yandex-nginx-stub-to-solomon/etc/ubic/service/
	cp stat.py debian/yandex-nginx-stub-to-solomon/usr/local/sbin/nginx-stub-status-daemon.py
	chmod +x debian/yandex-nginx-stub-to-solomon/usr/local/sbin/nginx-stub-status-daemon.py
	cp ubic.service debian/yandex-nginx-stub-to-solomon/etc/ubic/service/nginx-stub-status-daemon

override_dh_usrlocal:
	:

%:
	dh $@
