mongodb:
  backup:
    enabled: 1
    standalone: 0
    rsync:
      password: ''
      realm: ''
      server: ''
      user: ''
    transport: 'rsync' # transport type(rsync or s3cmd)
    compressor: 'zstd' # compressor
    bucket: '' # s3 bucket
    mongo_dump_port: 27018
    mongo_mongos_port: 27017
    mongo_data_dir: 'opt'
    mongos_host: ''
    mongo_user: ''
    mongo_password: ''
    zk:
      config: '/etc/distributed-flock-mongo-backup-jkp.json'
    backup_oplog: 1
    shard_name: ''
