[Unit]
Description=Gpsync service
Before=greenplum.service
After=network.target

[Service]
Type=simple
KillMode=process
RuntimeDirectory=gpsync
WatchdogSec=1800s
ExecStart=/usr/local/bin/gpsync
User=gpadmin
Group=gpadmin
Restart=always
RestartSec=0
TimeoutStartSec=15
TimeoutAbortSec=15
TimeoutStopSec=300

OOMPolicy=continue
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
