global
        log 127.0.0.1   local0 notice
        maxconn 65535
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        #debug
        quiet
	stats socket    /tmp/haproxy_stat

defaults
        log     global
        mode    tcp
	option  clitcpka
	option srvtcpka
        retries 3
        maxconn 65535
        contimeout      5000
        clitimeout      60000
        srvtimeout      60000
        balance leastconn

