listen stats
        bind :::18888 v4v6
        mode http
        stats enable
        stats uri /

listen sphinx_dual_stack
        bind   :::3312 v4v6
        server localhost 127.0.0.1:13312 check inter 2s rise 5 fall 3

listen sphinx_mysql_dual_stack
        bind   :::3307 v4v6
        server localhost 127.0.0.1:13307 check inter 2s rise 5 fall 3

# galera cluster use for GTID replication(CADMIN-3440)
listen MySQL-galera
        bind :::33306 v4v6
        option mysql-check user clustercheck
        mode tcp
        balance leastconn
        timeout server 10h
        timeout client 10h
        timeout check 90ms
        timeout connect 60ms
        tcp-response inspect-delay 50ms
        server kpdbm01h.load.kp.yandex.net kpdbm01h.load.kp.yandex.net:3306 check inter 1s rise 30 fall 2 downinter 100ms on-error mark-down on-marked-down shutdown-sessions error-limit 1 fastinter 100ms
        server kpdbm02h.load.kp.yandex.net kpdbm02h.load.kp.yandex.net:3306 backup check inter 1s rise 30 fall 2 downinter 100ms on-error fail-check error-limit 1 fastinter 100ms
        server kpdbm03h.load.kp.yandex.net kpdbm03h.load.kp.yandex.net:3306 backup check inter 1s rise 30 fall 2 downinter 100ms on-error fail-check error-limit 1 fastinter 100ms
