{
    "id": "<< id_prefix >>-dead-hosts-in-walle",
    "projectId": "<< project_id >>",
    "name": "<< human_prefix >>cms dead dom0 hosts",
    "notificationChannels": [
        "<< notification_channel >>"
    ],
    "type": {
        "expression": {
            "program": "{% include "alerts/cms/dead-in-walle-program" %}"
        }
    },
    "annotations": {
        "host": "<< cms.get('api_host') >>",
        "service": "cms_dead_hosts_in_walle",
        "description": "too many dead hosts in Wall-e ({{expression.alertAggr}})",
        "alertAggr": "{{expression.alertAggr}}"
    },

    "periodMillis": 300000, "delaySecs": 300,
    "description": "Should be no dead hosts in Wall-e"
}
