{
    "id": "<< id_prefix >>-invalid-hosts-in-walle",
    "projectId": "<< project_id >>",
    "name": "<< human_prefix >>cms invalid dom0 hosts",
    "notificationChannels": [
        "<< notification_channel >>"
    ],
    "type": {
        "expression": {
            "program": "{% include "alerts/cms/invalid-in-walle-program" %}"
        }
    },
    "annotations": {
        "host": "<< cms.get('api_host') >>",
        "service": "cms_invalid_hosts_in_walle",
        "description": "too many invalid hosts in Wall-e ({{expression.alertAggr}})",
        "alertAggr": "{{expression.alertAggr}}"
    },

    "periodMillis": 300000, "delaySecs": 300,
    "description": "Should be no invalid hosts in Wall-e"
}
