{
  "id": "<< id_prefix >>-cms-walle-http-errors",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> CMS wall-e http errors",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/cms/walle-cms-errors-program" %}"
    }
  },
  "annotations": {
    "host": "<< cms.get('api_host') >>",
    "service": "cms_walle_errors",
    "description":"{{^isError}}{{^isOk}}5xx rate: {{expression.str_value}}%{{/isOk}}<<'{{#isOk}}'>>OK{{/isOk}}{{/isError}}<<'{{#isError}}'>>Something wrong with alert ({{alert.id}}), check solomon{{/isError}}",
    "trafficLight.color": "{{expression.trafficColor}}"
  },

  "periodMillis": 300000, "delaySecs": 0,
  "description": "Should be no http errors in Wall-e"
}
