Source: mirror-scripts
Section: net
Priority: optional
Maintainer: Arkady L. Shane <ashejn@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://mirror.yandex.ru
#Vcs-Git: git://github.yandex-team.ru/ashejn/mirror-scripts.git
#Vcs-Browser: https://github.yandex-team.ru/ashejn/mirror-scripts

Package: mirror-scripts
Architecture: all
Depends: rsync, netcat, bash, xz-utils, bzip2, dnsutils, monrun, curl, mlocate, psmisc, lsof, createrepo, yum-utils, debmirror
Description: mirror scripts
 Scripts for hosts to mirroring mirror.yandex.ru
