Source: yandex-media-dolivka
Section: unknown
Priority: optional
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>=9),python-setuptools
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
#Vcs-Git: git@github.yandex-team.ru:chrono/dolivka.git
#Vcs-Browser: git@github.yandex-team.ru:chrono/dolivka.git

Package: yandex-media-dolivka
Architecture: all
Depends: python3-flask, ubic, python3-jinja2, python3-werkzeug, python3-itsdangerous, python3-markupsafe, python3-yaml
Description: BUHLO is Balanced Unified Host Loading Operation
 This daemon process the new hosts after Wall-e util it will be ready for Icecream
