#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

#export PYBUILD_NAME=yandex-media-dolivka
export VIRTUAL_ENV="debian/venv"

#%:
#	dh $@  --with python2,python3 --buildsystem=pybuild


# If you need to rebuild the Sphinx documentation
# Add spinxdoc to the dh --with line
#override_dh_auto_build:
#	dh_auto_build
#	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml        docs/ build/html # HTML generator
#	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bman        docs/ build/man # Manpage generator

%:
	dh $@

override_dh_auto_build:
	debian/build-venv

override_dh_auto_install:
	mkdir -p debian/yandex-media-dolivka/usr/share/yandex-media-dolivka/bin
	mkdir -p debian/yandex-media-dolivka/etc/yandex-media-dolivka
	mkdir -p debian/yandex-media-dolivka/etc/ubic/service
	mkdir -p debian/yandex-media-dolivka/var/log/dolivka
	mkdir -p debian/yandex-media-dolivka/etc/init.d
	mkdir -p debian/yandex-media-dolivka/etc/monrun/conf.d
	mkdir -p debian/yandex-media-dolivka/etc/logrotate.d
	cp -r debian/venv debian/yandex-media-dolivka/usr/share/yandex-media-dolivka/venv
	cp -r config/* debian/yandex-media-dolivka/etc/yandex-media-dolivka/
	cp debian/dolivka.ubic debian/yandex-media-dolivka/etc/ubic/service/dolivka
	cp debian/dolivka.init debian/yandex-media-dolivka/etc/init.d/dolivka
	cp debian/dolivka.monrun debian/yandex-media-dolivka/etc/monrun/conf.d/dolivka-api.conf
	cp debian/dolivka.logrotate debian/yandex-media-dolivka/etc/logrotate.d/dolivka
	rm -r debian/venv

override_dh_auto_clean:
	dh_auto_clean
