Source: yandex-media-common-sslcert-check
Section: misc
Priority: extra
Maintainer: Sergey Vidishev <sergeyv@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: yandex-media-common-sslcert-check
Architecture: all
Depends: gnutls-bin
Conflicts:
Description: monrun check to check cert expiration on an server
