{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Task ID</th>
                <td>{{ obj.task_id }}&nbsp;{% simple_copy obj.task_id %}</td>
              </tr>
              <tr>
                <th>Cluster</th>
                <td>{% with cluster=obj.cluster %}{% include "meta/includes/cluster_with_type.html" %}{% endwith %}</td>
              </tr>
              <tr>
                <th>Config ID</th>
                <td>{{ obj.config_id }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.create_ts %}</td>
              </tr>
              <tr>
                <th>Plant at</th>
                <td>{% dt_formatted obj.plat_ts %}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ obj.status|default_label }}</td>
              </tr>
              <tr>
                <th>Info</th>
                <td>{{ obj.info }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
