{%  import_yaml '/srv/pillar/metadb_default_versions.sls' as metadb_default_versions %}
{%  import_yaml '/srv/pillar/mdb_internal_api_db_versions/porto/elasticsearch.sls' as elasticsearch %}
{%  import_yaml '/srv/pillar/mdb_internal_api_db_versions/porto/opensearch.sls' as opensearch %}

{%  set pg_versions_package_map = dict() %}
{%  set gp_versions_package_map = dict() %}
{%  set env_and_major_version_2_redis_pkg = dict() %}
{%  set mysql_versions_package_map = dict() %}
{%  set odyssey_versions_package_map = dict() %}
{%  set mongodb_versions_package_map = dict() %}

{%  for dv in metadb_default_versions['data']['dbaas_metadb']['default_versions'] %}
{%      if dv['component'] == 'postgres' %}
{%          do pg_versions_package_map.update({(dv['env'], (dv['major_version'] + '00') |int, dv['edition']): {'package_version': dv['package_version'], 'minor_version': dv['minor_version'] }}) %}
{%      endif %}
{%      if dv['component'] == 'greenplum' %}
{%          do gp_versions_package_map.update({(dv['env'], dv['major_version']): {'package_version': dv['package_version'], 'minor_version': dv['minor_version'] }}) %}
{%      endif %}
{%      if dv['component'] == 'redis' %}
{%          do env_and_major_version_2_redis_pkg.update({(dv['env'], dv['major_version'], dv['edition']): dv['package_version']}) %}
{%      endif %}
{%      if dv['component'] == 'mongodb' %}
{%          do mongodb_versions_package_map.update({(dv['env'], dv['major_version'], dv['edition']): {'package_version': dv['package_version'], 'minor_version': dv['minor_version'] }}) %}
{%      endif %}
{%      if dv['component'] == 'mysql' %}
{%          do mysql_versions_package_map.update({(dv['env'], dv['major_version']): {'package_version': dv['package_version'], 'minor_version': dv['minor_version'] }}) %}
{%      endif %}
{%      if dv['component'] == 'odyssey' %}
{%          do odyssey_versions_package_map.update({(dv['env'], (dv['major_version'] + '00') |int, dv['edition']): {'package_version': dv['package_version'], 'minor_version': dv['minor_version'] }}) %}
{%      endif %}
{%  endfor  %}

{%  set es_version_map = dict() %}
{%  for v in elasticsearch['data']['mdb-internal-api']['config']['logic']['elasticsearch']['versions'] %}
{%    do es_version_map.update({v['name']: v['version']}) %}
{%  endfor  %}

{%  set opensearch_version_map = dict() %}
{%  for v in opensearch['data']['mdb-internal-api']['config']['logic']['opensearch']['versions'] %}
{%    do opensearch_version_map.update({v['name']: v['version']}) %}
{%  endfor  %}
