Source: yandex-media-s3cmd
Section: misc
Priority: extra
Maintainer: Sergey Kacheev <skacheev@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts, virtualenv | python-virtualenv
Standards-Version: 3.9.2

Package: yandex-media-s3cmd
Architecture: any
Description: s3cmd debianization
    package for build s3cmd deb pkg
