{% load lib.templatetags %}
{% if data %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Min age (days)</th>
      <th>Max age (days)</th>
      <th>Count</th>
      <th>Clusters</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item.min_age|dash_if_not }}</td>
      <td>{{ item.max_age|dash_if_not }}</td>
      <td>{{ item.count }}</td>
      <td>
          {% if item.cluster_ids %}
          {% for cluster_id in item.cluster_ids %}
          <a href="/ui/katan/clusters/{{ cluster_id }}">{{ cluster_id }}</a>{% if not forloop.last %}<br>{% endif %}
          {% endfor %}
          {% else %}
          &ndash;
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}

