{% load lib.templatetags %}
{% if schedules %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Name</th>
      <th>Namespace</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for schedule in schedules %}
    <tr>
      <td>{{ schedule.self_link_c }}</td>
      <td>{{ schedule.name }}</td>
      <td>{{ schedule.namespace }}</td>
      <td>{{ schedule.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
