{% load lib.templatetags %}
{% if rollouts %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>Rollout</th>
      <th>Commands</th>
      <th>Parallel</th>
      <th>Created at</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
    {% for rollout in rollouts %}
    <tr>
      <td>{{ rollout.self_link_c }}</td>
      <td>{{ rollout.commands }}</td>
      <td>{{ rollout.parallel }}</td>
      <td data-order="{{ rollout.created_at|date:"Uu" }}">{% dt_formatted rollout.created_at %}</td>
      <td data-order="{{ rollout.started_at|date:"Uu" }}">{% dt_formatted rollout.started_at %}</td>
      <td data-order="{{ rollout.finished_at|date:"Uu" }}">{% dt_formatted rollout.finished_at %}</td>
      <td>{{ rollout.created_by }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
{% update_tab_badge "rollouts" rollouts|length %}
