{% extends "../../base/dashboard.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        "value": "{{ env }}"
    },
    {
        "name": "host",
        "value": "*.api.*"
    }
{% endblock %}

{% block rows %}
[

    { "panels": [
    {{ render_panel_raw(
            "API Instances Free Memory",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host={{host}}&l.name=memory.MemAvailable&graph=auto&stack=false&min=0",
            subtitle="",
            ) }},
    {{ render_panel_raw(
            "API Instances Disk Free Space",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host={{host}}&l.name=filesystem.FreeB&mountpoint=%2F&graph=auto&stack=false&min=0",
            subtitle="",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "API Instances CPU LoadAvg",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host={{host}}&l.name=proc.La&graph=auto&stack=false",
            subtitle="(5 min)",
            ) }},
    {{ render_panel_raw(
            "API Instances Disk IO",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host={{host}}&l.name=io.Disks.IOMillisec&disk=vda&graph=auto&stack=false",
            subtitle="",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "API 5xx Codes",
            url="/?project={{project}}&cluster={{cluster}}&service=api&l.host={{host}}&l.name=http_requests_total&l.status=5xx&graph=auto&l.handler=SUMMARY",
            subtitle="",
            ) }},
    {{ render_panel_raw(
            "API Response Codes",
            url="/?project={{project}}&cluster={{cluster}}&service=api&l.host={{host}}&&l.name=http_requests_total&l.status=*&graph=auto&l.handler=SUMMARY&l.method=ALL",
            subtitle="",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "API Requests Durations",
            url="/?project={{project}}&cluster={{cluster}}&service=api&l.host={{host}}&l.name=http_request_duration_seconds&graph=auto&l.handler=%2Fclusters&norm=false&dropNaN=true&secondaryGraphMode=none&overLinesTransform=WEIGHTED_PERCENTILE&downsamplingFill=none&hideNoData=true&b=1d&e=&downsamplingAggr=max",
            subtitle="",
            ) }}
    ] }

]
{% endblock %}
