{% extends "../../base/dashboard.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        "value": "{{ env }}"
    },
    {
        "name": "cluster_slug",
        "value": "meeseeks"
    },
    {
        "name": "prober_slug",
        "value": "*"
    }
{% endblock %}

{% block rows %}
[

    { "panels": [
    {{ render_panel_raw(
            "Agents Free Memory",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host=*.{{cluster_slug}}.*&l.name=memory.MemAvailable&graph=auto&stack=false&filter=bottom&filterLimit=25",
            subtitle="Top 25",
            ) }},
    {{ render_panel_raw(
            "Agents Disk Free Space",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host=*.{{cluster_slug}}.*&l.name=filesystem.FreeB&mountpoint=%2F&graph=auto&stack=false&filter=bottom&filterLimit=25",
            subtitle="Top 25",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "Agents CPU StealTime",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host=*.{{cluster_slug}}.*&l.name=system.StealTime&graph=auto&stack=false&filter=top&filterLimit=25",
            subtitle="Top 25",
            ) }},
    {{ render_panel_raw(
            "Agents Disk IO",
            url="/?project={{project}}&cluster={{cluster}}&service=linux-metrics&l.host=*.{{cluster_slug}}.*&l.name=io.Disks.IOMillisec&disk=vda&graph=auto&stack=false&filter=top&filterLimit=25",
            subtitle="Top 25",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "Probers Duration, ms",
            url="/?project={{project}}&cluster={{cluster}}&service=metrics&l.metric=duration_milliseconds&l.cluster_slug={{cluster_slug}}&l.prober_slug={{prober_slug}}&graph=auto&filter=top&filterLimit=25&stack=false&downsampling=byInterval&grid=1m&downsamplingAggr=max",
            subtitle="Top 25",
            ) }},
    {{ render_panel_raw(
            "Probers Fails",
            url="/?project={{project}}&cluster={{cluster}}&service=metrics&l.metric=fail&l.cluster_slug={{cluster_slug}}&l.prober_slug={{prober_slug}}&min=0&graph=auto&filter=top&filterLimit=25&stack=false&downsampling=byInterval&grid=1m&downsamplingAggr=max",
            subtitle="Top 25",
            ) }}
    ] },
    { "panels": [
    {{ render_panel_raw(
            "Agent KeepAlives",
            url="/?project={{project}}&cluster={{cluster}}&service=metrics&l.metric=keep_alive&l.cluster_slug={{cluster_slug}}&graph=auto&checks=&hideNoData=false&min=0&downsampling=off&filter=bottom&filterLimit=25&filterBy=count&aggr=sum&secondaryGraphMode=none&stack=true",
            subtitle="Number of working agents",
            ) }},
    {{ render_panel_raw(
            "Probers Count",
            url="/?project={{project}}&cluster={{cluster}}&service=metrics&l.metric=probers_count&l.cluster_slug={{cluster_slug}}&graph=auto&secondaryGraphMode=none&stack=false&checks=&filter=bottom&filterLimit=25&min=0&downsampling=byInterval&grid=1m&downsamplingAggr=last",
            subtitle="Top 25",
            ) }}
    ] }

]
{% endblock %}
