{% set filter = salt['pillar.get']('target-database') %}
{% if salt['pillar.get']('replica') or salt['mdb_sqlserver.is_replica']() %}
{% set is_replica = True %}
{% else %}
{% set is_replica = False %}
{% endif %}

{% set edition = salt.pillar.get('data:sqlserver:version:edition', 'enterprise') %}

{% set all_dbs_list = salt['pillar.get']('data:sqlserver:databases', {}).keys() %}

{% set db_ag_dict, dbs_list, ags_list = salt['mdb_sqlserver.make_db_ag_map'](all_dbs_list, filter, edition) %}

{% set basic_ag = (edition == 'standard') %}

{% set db_hosts = salt['mdb_windows.get_hosts_by_role']('sqlserver_cluster') %}

{% set sqlserver = {
    'is_replica': is_replica,
    'edition': edition,
    'databases_list': dbs_list,
    'databases_list_full': all_dbs_list,
    'ags_list': ags_list,
    'db_ag_dict': db_ag_dict,
    'basic_ag': basic_ag,
    'db_hosts': db_hosts,
} %}
