{%- set downsampling = "AUTO" %}
{%- set interpolate = "NONE" %}
{%- set hide_no_data = "true" %}
{%- set downsampling_func = "LAST" %}
{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        "value": "{{ cluster }}"
    },
    {
        "name": "host",
        "value": "{{ host }}"
    },
    {
        "name": "juggler_service",
        "value": "e2e*"
    },
    {
        "name": "service",
        "value": "{{ service }}"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"99perc",
			expression="percentile_group_lines(99, {host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='*'})",
            color="red",
		)
	}},
	{{
		render_element(
			"90perc",
			expression="asap(percentile_group_lines(90, {host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='*'}))",
            color="yellow",
		)
	}},
	{{
		render_element(
			"75perc",
			expression="asap(percentile_group_lines(75, {host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='*'}))",
            color="yellow",
		)
	}},
	{{
		render_element(
			"50perc",
			expression="asap(percentile_group_lines(50, {host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='*'}))",
            color="green",
		)
	}}
{% endblock %}
