{%- set downsampling = "AUTO" %}
{%- set interpolate = "NONE" %}
{%- set hide_no_data = "true" %}
{%- set downsampling_func = "LAST" %}
{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        {#- After new _oct shards for e2e will have enough data, this if can be removed: after 08.2020 is ok #}
        {%- if env in ["prod", "preprod"] %}
        "value": "cloud_{{ env }}_oct_control"
        {%- else %}
        "value": "cloud_{{ env }}_oct"
        {%- endif %}
    },
    {
        "name": "host",
        "value": "*"
    },
    {
        "name": "juggler_service",
        "value": "e2e*"
    },
    {
        "name": "service",
        "value": "e2e-timing"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"crits [[juggler_service]]",
			expression="group_by_labels({host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='2'}, 'juggler_service', v -> group_lines('count', v))",
            color="red",
            area="true",
		)
	}},
	{{
		render_element(
			"warns [[juggler_service]]",
			expression="asap(group_by_labels({host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='1'}, 'juggler_service', v -> group_lines('count', v)))",
            color="yellow",
		)
	}},
	{{
		render_element(
			"ok [[juggler_service]]",
			expression="asap(group_by_labels({host='[[host]]', juggler_service='[[juggler_service]]', juggler_status='0'}, 'juggler_service', v -> group_lines('count', v)))",
            color="green",
		)
	}}
{% endblock %}
