{% load i18n %}
{% load safemarkup %}

{% if headline %}
    {{ headline|safemarkup }}
{% endif %}

{% if by_link or headline %}
    {% if fragments %}
        {# to exclude fragments == [''] #}
        {% if fragments|length > 1 or fragments.0 %}
            <br />
            <font color="grey">{% trans 'References to this page contain:' %}</font>
        {% endif %}
    {% endif %}
{% endif %}

{% for fragment in fragments %}
    {{ fragment|safemarkup }}
    {% if not forloop.last %}
        <font color="grey">…</font>
    {% endif %}
{% endfor %}
