{% load hidereferer %}
{% load safemarkup %}
{% load unquote %}

{% if use_breadcrumbs %}
    {% for el_url, el_title in urlmenu %}
        <a class="snippet-link" target="_blank" href="{{ el_url|hidereferer }}">{{ el_title|safemarkup }}</a>
        {% if not forloop.last %}
            <font color="#070">›</font>
        {% endif %}
    {% endfor %}
{% else %}
    {# TODO: maybe render hilitedurl like urlmenu <host> -> <url> #}
    <a class="snippet-link" target="_blank" href="{{ url|hidereferer }}">{% if hilitedurl %}{{ hilitedurl|safemarkup }}{% else %}{{ url|unquote }}{% endif %}</a>
{% endif %}
