{% load safemarkup %}
{% load define %}

{% if extra.if == None or extra.il == None %}
    {% define False as good_attrs %}
    {% define -1 as last_inc %}
{% else %}
    {% define True as good_attrs %}
    {% define extra.il|add:"1" as last_inc %}
{% endif %}

{% for fragment in fragments %}
    {% if good_attrs and extra.if <= forloop.counter0 and forloop.counter0 <= extra.il %}
        {% if extra.if == forloop.counter0 %}
            <ul>
        {% endif %}
        <li>{{ fragment|safemarkup }}</li>
        {% if forloop.counter0 == extra.il %}
            </ul>
        {% endif %}
    {% else %}
        {% if forloop.counter0 != 0 and forloop.counter0 != last_inc %}
            <font color="grey">…</font>
        {% endif %}
        {{ fragment|safemarkup }}
    {% endif %}
{% endfor %}
