.breadcrumbs
{
    &__link
    {
        display: inline-block;
        font-size: 15px;
        line-height: 1.27em;

        & a
        {
            text-decoration: none;
            color: #04b;

            &:after
            {
                margin: 0 5px;
                content: '/';
            }
        }
    }

    &__current
    {
        display: inline-block;
        font-size: 15px;
        line-height: 1.27em;
    }
}
