{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        "value": "cloud_*"
    },
    {
        "name": "service",
        "value": "nginx"
    },
    {
        "name": "subsystem",
        "value": "compute-metadata"
    },
    {
        "name": "name",
        "value": "rps"
    },
    {
        "name": "host",
        "value": "*"
    },
    {
        "name": "method",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"5xx rate",
			expression="group_by_labels({name='[[name]]', host='[[host]]', method='[[method]]', status='5*'}, 'name', v -> group_lines('sum', v)) / group_by_labels({name='[[name]]', host='[[host]]', method='[[method]]'}, 'name', v -> group_lines('sum', v)) * 100",
			color="#51db67"
		)
	}},
	{{
		render_element(
			"rps",
			expression="group_by_labels({name='[[name]]', host='[[host]]', method='[[method]]', status='*'}, 'name', v -> group_lines('sum', v))"
		)
	}}
{% endblock %}
