{% set id = "services_cpu_usage" %}
{% set name = "Services CPU Usage" %}
{% set secondary_graph_mode = "PIE" %}
{% set stack = "false" %}

{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "cluster",
      "value": "cloud_*"
    },
    {
      "name": "service",
      "value": "oct_head_cgroup_metrics"
    },
    {
      "name": "host",
      "value": "oct-*"
    }
{% endblock %}

{% block elements %}
    {{
		render_element(
			"",
			expression="({'metric_group'='CPU', 'metric'='cpuacct.usage'}) / 1000000000 * 100",
            color="green",
            down="false"
		)
	}}
{% endblock %}
