{% extends "../../base/graph.j2" %}

{% block parameters %}
{
    "name": "project",
    "value": "{{ project_id }}"
},
{
    "name": "cluster",
    "value": "cloud_*_compute"
},
{
    "name": "service",
    "value": "oct_vrouter"
},
{
    "name": "metric_group",
    "value": "FeatureFlags"
},
{
    "name": "metric",
    "value": "*"
},
{
    "name": "feature_flag",
    "value": "*"
},
{
    "name": "state",
    "value": "*"
},
{
    "name": "host",
    "value": "*"
}
{% endblock %}

{% block elements %}
	{{
		render_element(
			"[[state]] [[feature_flag]]",
			expression="sum({host='[[host]]'}) by (metric, feature_flag, state)",
			area="true"
		)
	}}
{% endblock %}
