{% extends "../../base/graph.j2" %}

{% block parameters %}
{
    "name": "project",
    "value": "{{ project_id }}"
},
{
    "name": "cluster",
    "value": "cloud_*_compute"
},
{
    "name": "service",
    "value": "oct_vrouter"
},
{
    "name": "metric_group",
    "value": "BuildInfo"
},
{
    "name": "component",
    "value": "*"
},
{
    "name": "version",
    "value": "*"
},
{
    "name": "host",
    "value": "*"
}
{% endblock %}

{% block elements %}
	{{
		render_element(
			"[[component]]=[[version]]",
			expression=("sum({host='[[host]]', metric_group='[[metric_group]]'}) by (component, version)"),
			area="true",
		)
	}}
{% endblock %}
