{% set id = "vrouter_cpu_consumption" %}
{% set name = "vRouter CPU consumption" %}
{% set secondary_graph_mode = "PIE" %}
{% set stack = "false" %}

{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "cluster",
        "value": "cloud_*"
    },
    {
        "name": "service",
        "value": "oct_vrouter"
    },
    {
        "name": "host",
        "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
		render_element(
			"Vrouter CPU consumption",
			expression="({'metric_group'='CPU', 'metric'='cpuacct.usage', 'unit'='contrail-vrouter-agent'}) / 1000000000 * 100",
            color="green",
            down="false"
		)
	}}
{% endblock %}
