{% extends "../../base/graph.j2" %}

{% block parameters %}
{
    "name": "project",
    "value": "{{ project_id }}"
},
{
    "name": "cluster",
    "value": "cloud_*_compute"
},
{
    "name": "host",
    "value": "*"
}
{% endblock %}

{% block elements %}
    {{
        render_element(
            "{{ group_name }}",
            expression=("group_by_labels({cluster='[[ cluster ]]', service='oct_vrouter_snh_tasks', host='[[ host ]]', " ~
                                    "name='tasks.timings.events_per_second', type='run_time_ms', group_name='*'}, 'group_name', " ~
                                    "v -> histogram_percentile(99, v))"),
        )
    }}
{% endblock %}
