{% extends "../../base/graph.j2" %}
{% from "../common/dropstats.j2" import drop_graph_reasons %}

{% set downsampling_func = "MAX" %}

{% block parameters %}
{
    "name": "project",
    "value": "yandexcloud"
},
{
    "name": "cluster",
    "value": "cloud_*_compute"
},
{
    "name": "service",
    "value": "oct_vrouter_interface_drop_stats"
},
{
    "name": "metric_group",
    "value": "InterfaceDropStats"
},
{
    "name": "host",
    "value": "*"
},
{
    "name": "resource_id",
    "value": "*"
}
{% endblock %}

{% block elements %}
    {{
		render_element(
			"{{ name }}",
			expression="{host='[[host]]', resource_id='[[resource_id]]', name='" ~ drop_graph_reasons[graph]|join('|') ~ "'}"
		)
	}}
{% endblock %}
