[Unit]
Description=Initial configure of container
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/pkgver-systemd
TimeoutSec=0

[Install]
WantedBy=multi-user.target
