{% set yarl_vars = salt['grains.filter_by']({
    'base': {
        'use_pg': true,
        'ydb': {
            'endpoint': 'ydb-eu.yandex.net:2135',
            'auth_token': pillar['yarl-secrets']['yarl-ydb']
        },
        'pg': {
            'endpoint': 'man-q450facgfbp7cjvs.db.yandex.net:6432,sas-o7dsr1a4g28jjyru.db.yandex.net:6432,vla-01gh5ua37ei2tqfi.db.yandex.net:6432',
            'password': pillar['yarl-secrets']['pg-password-prod']
        },
        'master': {
            'upstreams': ['yarl01man.mds.yandex.net', 'yarl01vla.mds.yandex.net', 'yarl01myt.mds.yandex.net'],
            'port': 14589
        },
        'quota_spaces': []
    },
    'unstable': {
    },
    'testing': {
        'pg': {
            'endpoint': 'man-11f64dy0ccl92ybn.db.yandex.net:6432,sas-h69uis4019oaxgrs.db.yandex.net:6432,vla-15d900xnbg2y4q6g.db.yandex.net:6432',
            'password': pillar['yarl-secrets']['pg-password']
        }
    },
    'prestable': {
    },
}, grain='yandex-environment', merge=salt['pillar.get']('yarl_vars'), default='production', base='base') %}
