[Unit]
Description=Dataproc UI Proxy

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/dataproc-ui-proxy/dataproc-ui-proxy
WorkingDirectory=/etc/yandex/dataproc-ui-proxy
StandardOutput=file:/var/log/dataproc-ui-proxy/dataproc-ui-proxy.log
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
Environment="GOMAXPROCS=2"
ExecReload=/bin/kill -HUP $MAINPID
User=dataproc-ui-proxy
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
