{
   "id": {{ pillar['build_service_account']['id'] | tojson }},
   "service_account_id": {{ pillar['build_service_account']['service_account_id'] | tojson }},
   "key_algorithm": {{ pillar['build_service_account']['key_algorithm'] | tojson }},
   "public_key": {{ pillar['build_service_account']['public_key'] | tojson }},
   "private_key": {{ pillar['build_service_account']['private_key'] | tojson }}
}
