{% set cluster_type = 'postgresql' %}
{
  "id": "<< id_prefix >>-problem-clusters-<<cluster_type>>",
  "projectId": "yc.mdb.serviceCloud",
  "name": "problem_clusters_<<cluster_type>>",
  "version": 1,
  "channels": [
    {
      "id": "<< notification_channel >>",
      "config": {
        "notifyAboutStatuses": [
          "WARN",
          "ERROR",
          "OK",
          "NO_DATA",
          "ALARM"
        ],
        "repeatDelaySecs": 0
      }
    }
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/israel/problem-clusters-program" %}",
      "checkExpression": ""
    }
  },
  "annotations": {
    "service": "problem_clusters",
    "host": "<<cluster_type>>",
    "description": "{{ expression.message }}"
  },
  "windowSecs": 300,
  "delaySecs": 30,
  "description": "",
  "resolvedEmptyPolicy": "RESOLVED_EMPTY_DEFAULT",
  "noPointsPolicy": "NO_POINTS_DEFAULT",
  "labels": {},
  "serviceProviderAnnotations": {},
  "severity": "SEVERITY_UNSPECIFIED"
}
