[Unit]
Description=YC Secrets Disk Mount
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Mount]
What=/dev/disk/by-label/{{ disk_label }}
Where={{ target_dir }}
Options=nouser,noauto,noexec,ro,uid=root,gid={{ owner_group }},umask=0027
DirectoryMode=0550
