[Unit]
Description=YC Secrets Disk Automount
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Automount]
Where={{ target_dir }}
DirectoryMode=0550

[Install]
WantedBy=multi-user.target
