KERNEL=="vd*", ATTR{serial}=="{{ device_serial }}", ACTION=="add|change", MODE="0600", RUN+="/sbin/modprobe aes_x86_64", RUN+="/bin/sh -c 'exec /sbin/cryptsetup --type plain --hash sha256 --cipher aes-cbc-plain --key-size 256 open $DEVNAME {{ dm_name }} <{{ password_file }}'"
KERNEL=="vd*", ATTR{serial}=="{{ device_serial }}", ACTION=="remove", RUN+="/sbin/cryptsetup close {{ dm_name }}"
