{% set loggiver = salt['grains.filter_by']({
    'Debian': {
      'packages': ['yandex-3132-fastcgi-loggiver'],
      'service': 'loggiver',
      'dpath': '/etc/yandex/loggiver/loggiver.pattern',
      'spath': 'salt://common/files/etc/yandex/loggiver/loggiver.pattern'
    },
}, merge=salt['pillar.get']('loggiver:lookup'), default='Debian') %}
