{
  {% if env_name == "porto_prod" %}
  "id": "internal-mdb-metadb-stats",
  {% elif env_name == "compute_prod" %}
   "id": "cloud-mdb-metadb-stats",
  {% else %}
  "id": "<< id_prefix >>-metadb-stats",
  {% endif %}
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> stats ",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "cluster",
      "value": "<< metadb.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< metadb.get("service") >>"
    },
    {
      "name": "project",
      "value": "<< project_id >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Hosts by flavor type",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-hosts-by-flavor-type&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts by flavor generation",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-hosts-by-flavor-generation&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Resource presets",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-resource-presets&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Hosts by cluster type",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-hosts-by-cluster-type&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Clusters by status",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-cluster-statuses&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Clusters by type",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-cluster-types&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
  {% if dbm == true %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "CPU quota",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-quota-cpu&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Memory quota",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-quota-memory&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "SSD quota",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-quota-ssd&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HDD quota",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-quota-hdd&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
  {% endif %}
  {% for engine in engines %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "<< g.db_ctxs[engine].name >> hosts count",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-<< engine >>-hosts-count&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "<< g.db_ctxs[engine].name >> space used",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=<< id_prefix >>-metadb-<< engine >>-space-used&hideNoData=true",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
    {% if not loop.last %}
    ,  
    {% endif %}
  {% endfor %}
  ],
  "createdBy": "d0uble"
}
