.service-utils
{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;

    &__wrapper
    {
        position: relative;
    }

    &__label
    {
        display: inline-block;
    }

    &__value
    {
        position: relative;
    }

    &__label,
    &__value
    {
        margin-bottom: 20px;
    }

    &__spin
    {
        position: absolute;
        top: 4px;
        right: 10px;
        z-index: 10;
    }
}
