{% set karl_vars = salt['grains.filter_by']({
    'base': {
        'tls': True,
        'federation': pillar['mds_federation'],
        'zk': {
            'hosts':  pillar['federations'][pillar['mds_federation']]['zk']['hosts']
        },
        'discovery_prefix': 'karl_discovery',
        'red_button_prefix': 'karl_red_button',
        'elliptics_remotes': pillar['federations'][pillar['mds_federation']]['remotes'],
        'die_limit': pillar['federations'][pillar['mds_federation']]['die_limit'],
        'mdb': {
            'federation': 'mds-1',
            'db': 'karl',
            'hosts': pillar['federations'][pillar['mds_federation']]['karl']['meta_hosts'],
            'pass': pillar['tls_karl']['karl_db_password'],
            'sslrootcert': 'allCAs.pem',
            'update_timeout': '5m',
            'max_idle_conns': 2,
            'connection_gc_period': '60s',
            'meta_cache_provider': 'grpc'
        },
        'mm': {
            'notification_hosts': pillar['federations'][pillar['mds_federation']]['mm_hosts'],
            'drooz': pillar['federations'][pillar['mds_federation']]['collector']['hosts'],
            'update_interval': '4m'
        },
        'meta_grpc_host': pillar['federations'][pillar['mds_federation']]['karl']['control_host'],
        'nscfg_host': 'nscfg.mds.yandex.net',
        'is_proxy': False,
        'is_control': False,
        'red_button_enabled': False,
        'validator': {
            'enabled': False
        },
        'yarl': {
            'upstreams': pillar['federations'][pillar['mds_federation']]['yarl']['upstreams']
        },
        'yt': {
            'token': pillar['yav']['robot_storage_duty_yt_token'],
            'endpoint': '//home/mds/keys_listing/production'
        }
    },
    'unstable': {
    },
    'testing': {
        'discovery_prefix': 'karl_test_discovery',
        'red_button_prefix': 'karl_test_red_button',
        'mdb': {
            'federation': 'mds-test-1',
            'db': 'karl-sharding-testing',
            'pass': pillar['tls_karl']['karl_db_password_testing']
        },
        'nscfg_host': 'nscfg.mdst.yandex.net',
        'yt': {
            'endpoint': '//home/mds/keys_listing/testing'
        }
    },
    'prestable': {
        'mm': {
            'drooz': pillar['federations'][pillar['mds_federation']]['collector']['hosts_with_prestable']
        }
    },
    'production': {
    },
}, grain='yandex-environment', merge=salt['pillar.get']('karl_vars'), default='production', base='base') %}
