########################################################################################################
## Важно знать 2 момента:                                                                             ##
## 1. Время округляется до часов, т.е. 11 - это с 18:00 до 18:59.                                     ##
## 2. Всвязи с ограничениями по времени может получиться так, что выкладка тикета обрубится           ##
## на середине. Например: тикет в 18:59 с расписанием, как в примере ниже, может начать выкатываться, ##
## но в определённый момент наступит 19:00 и агент на следующей машинке уже ее выложит пакет.         ## 
########################################################################################################

conductor_agent:
  clean_conductor_agent_configs: True # удалить все конфиги, кроме тех, что приезжают со стэйтом (default: False)
  enable_force_yes: True # default: False (включает -y --force-yes: нужно для даунгрейда)
  overwrite: False # без вопросов перезаписывать измененные конфиги версиями из пакетов(default: False)
  rules:
    - name: kino-vod # имена групп расписаний, они же станут именами файлов в conf.d
      packages: [kino-vod-api,kino-vod-bo] # список пакетов группы через ','
      schedule: # расписание для группы (в примере катим только по вторникам и четвергам с 11 до 18)
        tue: 11-18
        thu: 11-18
    - name: mcrouter
      packages: [mcrouter]
      schedule:
        tue: 11-18
        thu: 11-18

