{% extends "base.json.j2" %}

{% block elements %}
	{{
		render_element(
			"UserTime",
			"group_lines('sum', {path='/System/UserTime', cpu='-'})"
		)
	}},
	{{
		render_element(
			"SystemTime",
			"group_lines('sum', {path='/System/SystemTime', cpu='-'})"
		)
	}},
	{{
		render_element(
			"IrqTime",
			"group_lines('sum', {path='/System/IrqTime', cpu='-'})"
		)
	}},
	{{
		render_element(
			"NiceTime",
			"group_lines('sum', {path='/System/NiceTime', cpu='-'})"
		)
	}},
	{{
		render_element(
			"IoWaitTime",
			"group_lines('sum', {path='/System/IoWaitTime', cpu='-'})"
		)
	}},
	{{
		render_element(
			"IdleTime",
			"group_lines('sum', {path='/System/IdleTime', cpu='-'})"
		)
	}}
{% endblock %}
