{% extends "base.json.j2" %}

{% block elements %}
	{{
		render_element(
			"[[host]] FreeB",
			"group_by_labels({path='/Filesystem/FreeB', host!='cluster'}, 'host', v -> group_lines('sum', v))",
		)
	}}
{% endblock %}
