{% extends "base.json.j2" %}

{% block elements %}
	{{
		render_element(
			"Reads",
			"group_lines('sum', {path='/Io/Disks/Reads'})",
			area="true",
		)
	}},
	{{
		render_element(
			"Writes",
			"group_lines('sum', {path='/Io/Disks/Writes'})",
			area="true",
		)
	}}
{% endblock %}
