{% extends "base.json.j2" %}

{% block elements %}
	{{
		render_element(
			"ActiveAnon",
			"group_lines('sum', {path='/Memory/ActiveAnon'})",
			stack="stack1", area="true",
		)
	}},
	{{
		render_element(
			"InactiveAnon",
			"group_lines('sum', {path='/Memory/InactiveAnon'})",
			stack="stack1", area="true",
		)
	}},
	{{
		render_element(
			"Cached",
			"group_lines('sum', {path='/Memory/Cached'})",
			stack="stack1", area="true",
		)
	}},
	{{
		render_element(
			"Buffers",
			"group_lines('sum', {path='/Memory/Buffers'})",
			stack="stack1", area="true",
		)
	}},
	{{
		render_element(
			"MemFree",
			"group_lines('sum', {path='/Memory/MemFree'})",
			stack="stack1", area="true",
		)
	}},
	{{
		render_element(
			"MemTotal",
			"group_lines('sum', {path='/Memory/MemTotal'})"
		)
	}},
	{{
		render_element(
			"Mlocked",
			"group_lines('sum', {path='/Memory/Mlocked'})",
			stack="stack2", yaxis="RIGHT",
		)
	}},
	{{
		render_element(
			"Mapped",
			"group_lines('sum', {path='/Memory/Mapped'})",
			stack="stack3",
		)
	}}
{% endblock %}
