{% extends "base.json.j2" %}

{% block elements %}
	{{
		render_element(
			"RxBytes",
			"group_lines('sum', {path='/Net/Ifs/RxBytes'})",
		)
	}},
	{{
		render_element(
			"TxBytes",
			"group_lines('sum', {path='/Net/Ifs/TxBytes'})",
		)
	}}
{% endblock %}
