{
  "id": "<< id_prefix >>-search-consumer-<< consumer_name_postfix >>-yc-lb-read-lag-mins",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix>> Read lag max << consumer_name_postfix >>",
  "channels": [
    {
      "id": "<< juggler.get('notification_channel') >>",
      "config": {
        "notifyAboutStatuses": [
          "ALARM",
          "OK",
          "WARN",
          "NO_DATA"
        ],
        "repeatDelaySecs": 0
      }
    }
  ],
  "type": {
    "expression": {
      "program": "{% include "alerts/yc-logbroker/read-lag-max" %}",
      "checkExpression": ""
    }
  },
  "annotations": {
    "description": "Max lag: {{expression.maxLagMin}} mins. Topic: {{expression.topic}}.\nhttps://solomon.yandex-team.ru/?project=kikimr&cluster=<< logbroker.get("cluster")>>&service=pqtabletAggregatedCounters&l.partition=-&l.user_counters=PersQueue&l.sensor=TotalTimeLagMsByLastRead&l.ConsumerPath=yc.search%2Fsearch-consumer-<< consumer_name_postfix >>&graph=auto",
    "value": "{{expression.maxLagMin}}",
    "host": "<< indexer.get('juggler_host') >><< juggler.get('host_suffix') >>_<< consumer_name_postfix >>",
    "service": "indexer_read_lag_mins"
  },
  "windowSecs": 300,
  "delaySecs": 0,
  "description": "",
  "resolvedEmptyPolicy": "RESOLVED_EMPTY_DEFAULT",
  "noPointsPolicy": "NO_POINTS_DEFAULT"
}
