{% load lib.templatetags %}
{% if jobs %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Ext Job ID</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Last running check at</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in jobs %}
    <tr>
      <td>{{ obj.job_id }}</td>
      <td>{{ obj.ext_job_id }}</td>
      <td>{{ obj.status }}</td>
      <td>{% dt_formatted obj.created_at %}</td>
      <td>{% dt_formatted obj.last_running_check_at %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}
