Source: yandex-conf-hostname-long
Section: system
Priority: optional
Maintainer: Kirill Zhalnin <kiwi@yandex-team.ru>
Standards-Version: 1.0
Vcs-Svn: svn+ssh://svn.yandex.ru/corba-configs/trunk/yandex-conf-hostname-long

Package: yandex-conf-hostname-long
Architecture: all
Depends: bash, coreutils, iproute | iproute2, dnsutils, awk, config-autodetect-active-eth (>= 1.0-27)
Conflicts: yandex-config-etc-hosts
Replaces: config-vz-fixhosts
Description: fix /etc/hosts and /etc/hostname (hostname must be in long form)
