# Delete all comments before use!
# Here default values from map.jinja. They can be reassigned by your pillar with same structure
# senv not 1 to 1. There are mapping (see map.jinja): production -> stable, stress -> load. Another 1 to 1. If none - senv=base
# if not choosed masters_group, then in configs.sls it will be compiled into project + senv + '-salt'
salt_minion:
  lookup:
    senv: salt['grains.get']('yandex-environment', 'base')
    project: salt['grains.get']('conductor:project').encode('utf8')
    packages: ['salt-minion', 'python-gnupg']
    service: salt-minion
    config: salt://templates/salt-minion/files/etc/salt/minion.tmpl
    miniond: False
    masters_group: "project ~ senv ~ '-salt'"
    params:
      log_level: info
      ipv6: True
      recon_default: 50
      recon_max: 1000
      recon_randomize: True
      acceptance_wait_time: 10
      random_reauth_delay: 60
      auth_timeout: 60
    masterless: False
    masterless_config: salt://templates/salt-minion/files/etc/salt/minion_masterless.tmpl
    masterless_params:
      file_client: local
      fileserver_backend:
        - roots
      file_roots:
        base:
          - /srv/salt/roots
      pillar_roots:
        base:
          - /srv/salt/pillar
      ipv6: True
      log_level: info
