.service-health-item
{
    display: flex;
    flex-direction: column;

    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 260px;
    height: 140px;

    margin-bottom: 20px;
    margin-right: 20px;

    position: relative;
    overflow: hidden;

    &_inprogress
    {
        opacity: 0.55;
    }

    &_inprogress&:before
    {
        content: 'IN PROGRESS';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: transparent;
        z-index: -1000;

        color: #ff0000;

        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-25deg);
        font-size: 35px;
        opacity: 0.55;
    }

    &__title
    {
        font-size: 15px;
        font-weight: bold;

        padding: 10px;
        border-bottom: 1px solid #7a7a7a;

        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;

        text-align: center;

        display: flex;
    }

    &__hint,
    &__dropdown
    {
        flex: 0 0 auto;
    }

    &__dropdown
    {
        width: 18px;

        & .link,
        & .link__icon
        {
            display: block;
            width: 100%;
        }
    }

    &__menu
    {
        text-align: center;
        font-weight: bold;
    }

    &__text
    {
        flex: 1 1 auto;
    }

    &__description
    {
        font-size: 15px;
        font-weight: bold;

        padding: 10px;
        border-bottom: 1px solid #7a7a7a;

        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        word-break: break-word;
        white-space: pre-line;
    }

    &__action
    {
        text-align: right;
    }

    &__status
    {
        font-size: 10px;

        padding: 5px;
        flex-shrink: 0;
    }

    &__in-progress,
    &__date
    {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__in-progress
    {
        display: none;
    }

    &:hover &__in-progress
    {
        display: block;
    }

    &:hover &__date
    {
        display: none;
    }

    &_status_green
    {
        background-color: #7d7;
    }

    &_status_green&_disabled
    {
        background: repeating-linear-gradient(-45deg, #7d7, #7d7 15px, #e9e9e9 0, #e9e9e9 30px);
    }

    &_status_red
    {
        background-color: #f77;
    }

    &_status_red&_disabled
    {
        background: repeating-linear-gradient(-45deg, #f77, #f77 15px, #e9e9e9 0, #e9e9e9 30px);
    }

    &_status_yellow
    {
        background-color: #ff7;
    }

    &_status_yellow&_disabled
    {
        background: repeating-linear-gradient(-45deg, #ff7, #ff7 15px, #e9e9e9 0, #e9e9e9 30px);
    }
}
