.heatmap
{
    width: 100%;
    padding: 20px;

    &__header
    {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
        height: 30px;
        display: flex;
        align-items: baseline;
    }

    &__title-link
    {
        font-weight: normal;
        font-size: 20px;
        margin-right: 15px;
    }

    &__dc-name
    {
        font-size: 24px;
        min-width: 60px;
    }

    &__timestamp
    {
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 300;
        color: #aaa;
        width: 100%;
        text-align: right;
        margin-bottom: -30px; /* effectively collapse height to zero, allow overlap */
    }

    &__groups_container
    {
        margin-top: 30px;
    }
}
