<!DOCTYPE html>
<html>
    <head>
        <title>Greed demo service</title>
        <script src="js/greed.js"></script>
    </head>
    <body>
        <form action="/hard" method="POST">
            <input type="submit" value="Submit" />
            <input type="hidden" name="rdata" id="rdata" />
            <input type="hidden" name="d" id="d" value="{{ d }}"/>
        </form>
        <script>
            Greed.getEncrypted({d: document.getElementById('d').value}).then((res) => {
                document.getElementById('rdata').value = res;
            });
        </script>
    </body>
</html>