<!DOCTYPE html>
<html>
    <head>
        <title>Greed demo service</title>
        <script src="js/greed.js"></script>
    </head>
    <body>
        <form action="/" method="POST">
            <input type="submit" value="Submit" />
            <input type="hidden" name="fingerprint" id="fingerprint" />
        </form>
        <script>
            Greed.get().then((res) => {
                document.getElementById('fingerprint').value = JSON.stringify(res);
            });
        </script>
    </body>
</html>