Source: sphinx-monitoring
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/sphinx-monitoring

Package: sphinx-monitoring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.7, python-mysqldb, python-yaml
Description: Yandex sphinx monitoring package
 This package contains scripts for sphinxsearch monitoring
