#!/usr/bin/make -f
# -*- makefile -*-

override_dh_builddeb:
	dh_builddeb -- -Zgzip


override_dh_install:
	mkdir -p debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/scripts/
	cp sphinx-monitoring.py debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/scripts/
	chmod +x debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/scripts/sphinx-monitoring.py
	mkdir -p debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/available/
	cp sphinx-monitoring.sh debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/available/
	chmod +x debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/available/sphinx-monitoring.sh
	mkdir -p debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/enabled/
	ln -s ../available/sphinx-monitoring.sh debian/sphinx-monitoring/usr/lib/yandex-graphite-checks/enabled/
	mkdir -p debian/sphinx-monitoring/etc/yandex/sphinx-monitoring/
	cp config.yaml debian/sphinx-monitoring/etc/yandex/sphinx-monitoring/

%:
	dh $@
