Source: yandex-media-mongo-dumper
Section: unknown
Priority: optional
Maintainer: Ilya Karpov <gibzer@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yandex-media-mongo-dumper

Package: yandex-media-mongo-dumper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Script for dumping MongoDB
