[APP]
SECRET_KEY = 'very-very-secret'
WorkDir = .
oAuth = token
Logging = Yes
LogFile = log.log
LogLevel = WARNING
BILL_URLL = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/billingAccounts/{ID}/fullView
GRANT_URL = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/billingAccounts/{ID}/monetaryGrants
QUOTA_COMP_URL = https://iaas.private-api.cloud.yandex.net/compute/external/v1/quota/{ID}
QUOTA_MDB_URL = https://mdb.private-api.cloud.yandex.net/mdb/v1/quota/{ID}
QUOTA_MDB_URL_V2 = https://mdb.private-api.cloud.yandex.net/mdb/v2/quota/{ID}
QUOTA_S3_URL = https://storage-idm.private-api.cloud.yandex.net:1443/management/cloud/{ID}
BILLINGID_URL = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/support/resolve
LOGIN_URL = https://identity.private-api.cloud.yandex.net:14336/v1/clouds:byLogin?login={login}
FOLDERS_URL = https://identity.private-api.cloud.yandex.net:14336/v1/allFolders?id={ID}
VM_URL = https://iaas.private-api.cloud.yandex.net/compute/private/v1/instances/{ID}
VM_IP = https://iaas.private-api.cloud.yandex.net/compute/external/v1/admin/addresses?address={ID}
PROMO = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/monetaryGrantOffers/{ID}
RATE = https://www.cbr-xml-daily.ru/daily_json.js
BILLUSAGE = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/billingAccounts/{ID}/usageMeta
CLOUDLIST = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/billingAccounts/{ID}/clouds
USAGEDATA = https://billing.private-api.cloud.yandex.net:16465/billing/v1/private/billingAccounts/{ID}/serviceUsageReport

[Flask]
SECRET_KEY = development
USERNAME = admin
PASSWORD = default
PORT = 5000
DEBUG = True

[DB]
DB_HOSTNAME = host.name
DB_USERNAME = user
DB_NAME = dbname
DB_PASSWD = dbpassword
