{
    "id": "<< id_prefix >>-s3-usage",
    "projectId": "<< project_id >>",
    "name": "<< human_prefix >>s3 usage",
    "notificationChannels": [
        "<< notification_channel >>"
    ],
    "type": {
        "expression": {
            "program": "{% include "alerts/dispenser/s3-usage-percent-program" %}"
        }
    },
    "annotations": {
        "host": "mdb-s3-usage-percent",
        "service": "mdb-s3-quota",
        "description": "the s3 quota is used for {{expression.percent_displayed}} percent ({{expression.usage_displayed}} petabytes from {{expression.quota_displayed}})",
        "trafficLight.color": "{{expression.trafficColor}}"
    },

    "periodMillis": 604800000,
    "delaySecs": 0,
    "description": "S3 quota usage percent"
}
