[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target
# XXX: assert path NOT exists here! NOTE leading ! in filepath
AssertPathExists=!/var/lib/dbmanager/mongo-refill-from-hidden
[Service]
Type=simple

User=mongodb
Group=mongodb

RuntimeDirectory=mongodb
RuntimeDirectoryMode=755

EnvironmentFile=-/etc/default/mongodb

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/mongodb/ /opt/mongodb
ExecStartPre=/bin/chown -R mongodb:mongodb /var/log/mongodb/ /opt/mongodb
ExecStart=/usr/bin/numactl --interleave=all /usr/bin/mongod $SERVER_PARAMS --config /etc/mongodb.conf

LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000
[Install]
WantedBy=multi-user.target
