ACTION=="add|change", SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ENV{DEVTYPE}=="disk", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="kyber"
ACTION=="add|change", SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ENV{DEVTYPE}=="disk", ATTR{queue/rotational}=="1", ATTR{queue/scheduler}="mq-deadline"

