{% extends "vpc_api_base_alert.j2" %}

{% set service = "vpc-api-failed-periodic-tasks" %}

{% macro prog() %}
let ts = series_avg({
    cluster='cloud_{{env}}_vpc-api'
    ,service='vpc-config-plane'
    ,sensor='tasks_periodic_task_failed'
    ,host='cluster'
});

let failed_tasks_count = avg(ts);

alarm_if(failed_tasks_count > 0);
{% endmacro %}

{% block main %}
    "name": "VPC API failed periodic tasks {{env}}",
    "annotations": {
        "failed_tasks_count": "[[expression.failed_tasks_count]]",
        "description": "VPC API failed periodic tasks in DB: [[ expression.failed_tasks_count ]]",
        "host": "{{ solomon_host() }}",
        "service": "{{ service }}",
        "dashboard": "{{ vpc_api_dashboard() }}",
        "wiki": "{{ wiki_url(service) }}" 
    },
    "type": {{ type_expression() }}
{% endblock %}
