{% extends "../../base/alert.j2" %}

{% set notificationChannels = ['vpc-api-juggler', 'vpc_cfg_telegram'] if solomon == 'main' else ['vpc-api-juggler'] %}

{% set checkExpression = "" %}
{% set noPointsPolicy = "NO_POINTS_MANUAL" %}
{% set resolvedEmptyPolicy = "RESOLVED_EMPTY_MANUAL" %}

{% macro vpc_api_dashboard() -%}
    {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=vpc_api_{{ env }}&cluster=cloud_{{ env }}_vpc-api&service=vpc-config-plane&host=cluster
{%- endmacro %}

{% macro wiki_url(service) -%}
    https://wiki.yandex-team.ru/cloud/devel/sdn/duty/juggler/#{{ service }}
{%- endmacro %}

{% macro solomon_host() -%}
    cloud_{{env}}_vpc-api_solomon
{%- endmacro %}
