{% extends "vpc_api_base_alert.j2" %}

{% set service = "vpc-api-long-duration-ops" %}

{% macro prog() %}
let ts = series_avg({
    cluster='cloud_{{env}}_vpc-api'
    ,service='vpc-config-plane'
    ,sensor='operations_op_last_long'
    ,host='cluster'
});

let long_duration_ops_count = avg(ts);

alarm_if(long_duration_ops_count > 0);
{% endmacro %}

{% block main %}
    "name": "VPC API long duration operations {{env}}",
    "annotations": {
        "long_duration_ops_count": "[[ expression.long_duration_ops_count ]]",
        "description": "VPC API long duration operations in DB: [[ expression.long_duration_ops_count ]]",
        "host": "{{ solomon_host() }}",
        "service": "{{ service }}",
        "dashboard": "{{ vpc_api_dashboard() }}",
        "wiki": "{{ wiki_url(service) }}" 
    },
    "type": {{ type_expression() }}
{% endblock %}
