{% extends "vpc_api_base_alert.j2" %}

{% set cluster = "cloud_{}_cpl".format(env) %}
{% set service = "vpc-api-l7-failed-hc" %}

{% set windowSecs = 300 %}

{% macro prog() %}
{# FIXME(wronglink): remove alb_cluster_name filtration as there is no alb_cluster_name metrics anymore #}
{# See: https://t.me/c/1426447463/10793 #}
// Use drop_below metrics can have a very tiny noise
let failed_hc_rate = avg(non_negative_derivative({
    project=platform
    ,cluster='{{ cluster }}'
    ,service=api_envoy_tags_ma
    ,name=alb_failure
    ,host='*'
    ,backend=vpc_api_backend
    ,alb_cluster_name=-
}));

let failed_hc_rate_str = to_fixed(failed_hc_rate, 3);

// Alarm if there are requests with panic mode
alarm_if(failed_hc_rate > (1 / 60.0));
{% endmacro %}

{% block main %}
    "name": "VPC API L7 failed hc {{env}}",
    "annotations": {
        "failed_hc_rate": "[[ expression.failed_hc_rate ]]",
        "description": "VPC API L7 HC failures",
        "windowSecs": "{{ windowSecs }}",
        "host": "[[ labels.host ]]",
        "tags": "vpc-api-l7-status, {{ env }}",
        "service": "{{ service }}",
        "graph": "https://solomon.cloud.yandex-team.ru/?project=platform&cluster={{ cluster }}&service=api_envoy_tags_ma&l.backend=vpc_api_backend&l.name=alb_failure&l.alb_cluster_name=-&l.host=*&graph=auto&transform=differentiate",
        "wiki": "{{ wiki_url(service) }}"
    },
    "type": {{ type_expression() }},
    "groupByLabels": [
        "host"
    ]
{% endblock %}
