{% extends "vpc_api_base_alert.j2" %}

{% set service = "vpc-api-many-retries-tasks" %}

{% macro prog() %}
let ts = series_avg({
    cluster='cloud_{{env}}_vpc-api'
    ,service='vpc-config-plane'
    ,sensor='tasks_task_many_retries'
    ,host='cluster'
});

let many_retries_tasks_count = avg(ts);

alarm_if(many_retries_tasks_count > 0);
{% endmacro %}

{% block main %}
    "name": "VPC API tasks with many retries {{env}}",
    "annotations": {
        "many_retries_tasks_count": "[[ expression.many_retries_tasks_count ]]",
        "description": "VPC API tasks with many retries: [[ expression.many_retries_tasks_count ]]",
        "host": "{{ solomon_host() }}",
        "service": "{{ service }}",
        "dashboard": "{{ vpc_api_dashboard() }}",
        "wiki": "{{ wiki_url(service) }}" 
    },
    "type": {{ type_expression() }}
{% endblock %}
