{% extends "vpc_api_base_alert.j2" %}

{% set service = "vpc-api-contrail-errors" %}

{% macro prog() %}
let signal_ts = series_sum(
    non_negative_derivative({
        cluster='cloud_{{env}}_vpc-api'
        ,app='contrail'
        ,sensor='http_statuses'
        ,host='vpc-api-*'
        ,status='200'
        ,method='GET/'
    })
);
// There should be 2xx of vpc-api pings to GET/
no_data_if(count(signal_ts) == 0);

let ts = series_sum(
    non_negative_derivative({
        cluster='cloud_{{env}}_vpc-api'
        ,app='contrail'
        ,sensor='http_statuses'
        ,host='vpc-api-*'
        ,status!='200|409|404'
        ,method!='GET/|all|all-write'
    })
);

let error_rate = avg(ts);
let error_rate_str = to_fixed(error_rate, 3);

alarm_if(error_rate > (2 / 60.0));
warn_if(error_rate > (1 / 60.0));
{% endmacro %}

{% block main %}
    "name": "VPC API contrail errors {{env}}",
    "annotations": {
        "error_rate": "[[ expression.error_rate_str ]]",
        "description": "VPC API contrail error rate: [[ expression.error_rate_str ]] rps'",
        "host": "{{ svm_fqdn() }}",
        "service": "{{ service }}",
        "dashboard": "{{ vpc_api_dashboard() }}",
        "wiki": "{{ wiki_url(service) }}" 
    },
    "type": {{ type_expression() }},
    "groupByLabels": [
        "host"
    ]
{% endblock %}
