#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/yandex-juggler-autov6here-check/
	rm -fr debian/yandex-juggler-autov6here-check/*

	mkdir -p debian/yandex-juggler-autov6here-check/etc/monrun/conf.d/
	mkdir -p debian/yandex-juggler-autov6here-check/usr/bin/
	cp jautov6here-check.sh debian/yandex-juggler-autov6here-check/usr/bin/jautov6here-check.sh
	cp jautov6here-check.conf debian/yandex-juggler-autov6here-check/etc/monrun/conf.d/jautov6here-check.conf
	chmod 755 debian/yandex-juggler-autov6here-check/usr/bin/jautov6here-check.sh

%:
	dh $@

