[Unit]
Description='Configures virtual and physical underlay networks'
Before=networking.service
After=mlnx-en.d.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/configure_underlay_devices.py
RemainAfterExit=true

[Install]
WantedBy=networking.service
