[Unit]
Description=DBaaS service
After=network.target

[Service]
Type=simple
KillMode=process
ExecStart=/opt/yandex/dbaas-cron/bin/python /opt/yandex/dbaas-cron/bin/dbaas_cron -c /etc/dbaas-cron/dbaas-cron.conf
User=monitor
Group=monitor
Restart=always
RestartSec=0
TimeoutStartSec=15
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
