listen stats
        bind :::18888
        mode http
        stats enable
        stats uri /

#hsdb01h-dbm.pre.kp.yandex.net
listen hsdb1_3306
        bind   127.0.0.1:13306
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:3306  check

listen hsdb1_9998
        bind   127.0.0.1:19998
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39998 check

listen hsdb1_9999
        bind   127.0.0.1:19999
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39999 check

listen hsdb2_3306
        bind   127.0.0.1:23306
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:3306  check

listen hsdb2_9998
        bind   127.0.0.1:29998
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39998 check

listen hsdb2_9999
        bind   127.0.0.1:29999
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39999 check

listen hsdb3_3306
        bind   127.0.0.1:33306
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:3306  check

listen hsdb3_9998
        bind   127.0.0.1:39998
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39998 check

listen hsdb3_9999
        bind   127.0.0.1:39999
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39999 check

listen hsdb4_3306
        bind   127.0.0.1:43306
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:3306  check

listen hsdb4_9998
        bind   127.0.0.1:49998
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39998 check

listen hsdb4_9999
        bind   127.0.0.1:49999
        server hsdb01h-dbm.pre.kp.yandex.net hsdb01h-dbm.pre.kp.yandex.net:39999 check
