listen stats
        bind :::18888
        mode http
        stats enable
        stats uri /

listen hsdb1_3306
        bind   127.0.0.1:13306
	option mysql-check user clustercheck
        server kpdbm01h.load.kp.yandex.net kpdbm01h.load.kp.yandex.net:3306 check
	server kpdbm02h.load.kp.yandex.net kpdbm02h.load.kp.yandex.net:3306 backup check 
	server kpdbm03h.load.kp.yandex.net kpdbm03h.load.kp.yandex.net:3306 backup check

listen hsdb1_9998
        bind   127.0.0.1:19998
	option mysql-check user clustercheck
        server kpdbm01h.load.kp.yandex.net kpdbm01h.load.kp.yandex.net:9998 check port 3306
        server kpdbm02h.load.kp.yandex.net kpdbm02h.load.kp.yandex.net:9998 backup check port 3306
        server kpdbm03h.load.kp.yandex.net kpdbm03h.load.kp.yandex.net:9998 backup check port 3306

listen hsdb1_9999
        bind   127.0.0.1:19999
	option mysql-check user clustercheck
        server kpdbm01h.load.kp.yandex.net kpdbm01h.load.kp.yandex.net:9999 check port 3306
        server kpdbm02h.load.kp.yandex.net kpdbm02h.load.kp.yandex.net:9999 backup check port 3306
        server kpdbm03h.load.kp.yandex.net kpdbm03h.load.kp.yandex.net:9999 backup check port 3306

listen hsdb2_3306
        bind   127.0.0.1:23306
        server hsdb01h.load.kp.yandex.net hsdb01h.load.kp.yandex.net:3306 check

listen hsdb2_9998
        bind   127.0.0.1:29998
        server hsdb01h.load.kp.yandex.net hsdb01h.load.kp.yandex.net:9998 check

listen hsdb2_9999
        bind   127.0.0.1:29999
        server hsdb01h.load.kp.yandex.net hsdb01h.load.kp.yandex.net:9999 check

# galera
listen MySQL-galera
        bind :::3306 v4v6
        option mysql-check user clustercheck
        mode tcp
        balance leastconn
        timeout server 10h
        timeout client 10h
        timeout check 90ms
        timeout connect 60ms
        tcp-response inspect-delay 50ms
        server kpdbm01h.load.kp.yandex.net kpdbm01h.load.kp.yandex.net:3306 check inter 1s rise 30 fall 2 downinter 100ms on-error mark-down on-marked-down shutdown-sessions error-limit 1 fastinter 100ms
        server kpdbm02h.load.kp.yandex.net kpdbm02h.load.kp.yandex.net:3306 check inter 1s rise 30 fall 2 downinter 100ms on-error fail-check error-limit 1 fastinter 100ms
        server kpdbm03h.load.kp.yandex.net kpdbm03h.load.kp.yandex.net:3306 backup check inter 1s rise 30 fall 2 downinter 100ms on-error fail-check error-limit 1 fastinter 100ms
