name: {{ ctx.name }}
config:
  {% if ctx.get('config') %}
  {{ ctx.config | yaml(False) | indent(2) }}
  {% endif %}
description: dynamic profile for {{ ctx.name }} project
devices:
  {% if ctx.get('devices') %}
  {{ ctx.devices | yaml(False) | indent(2) }}
  {% endif %}
