Source: @package@
Maintainer: Stepan Koltsov <stepancheg@yandex-team.ru>
Standards-Version: 3.7.2
Priority: optional
Section: yandex

Package: @package@
Architecture: all
Description: Zookeeper
Depends: @dependencies@
