#!/usr/bin/make -f

%:
	dh $@

binary:
	dh binary --until dh_install

	../install-package.sh debian/@package@ @dir@ @package@ @project@

	dh binary --after dh_install

override_dh_installinit:
	dh_installinit --name=@zkName@ --no-start --no-restart-on-upgrade
	dh_installinit --name=@restName@ --no-start --no-restart-on-upgrade

override_dh_builddeb:
	dh_builddeb -- -Zgzip

# vim: set ts=8 sw=8 noet:
