{% extends "lib/ajax/objects_list.html" %}
{% load lib.templatetags %}

{% block objects_app_label %}Meta{% endblock %}
{% block objects_model_label %}Clouds{% endblock %}

{% block objects_table %}
  {% if filters.errors %}
  {% include "lib/includes/filters_errors.html" %}
  {% else %}
  {% if objects %}
  <table class="table table-hover noodle-table noodle-table-selectable noodle-table-sortable">
    <thead>
      <tr>
        {% selectable_th_checkbox identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <th>ID</th>
        <th>External ID</th>
        <th>Clusters</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr id="row_{{ obj.pk }}">
        {% selectable_td_checkbox key=obj.pk identifier=js.identifier array_name=js.array_name callback_func=js.callback_func %}
        <td>{{ obj.self_link_c }}</td>
        <td>{{ obj.cloud_ext_id }}&nbsp;{% simple_copy obj.cloud_ext_id %}</td>
        <td>
          {% if obj.clusters_used %}
            <a href="{{ obj.clusters_url }}">{{ obj.clusters_used }}</a>
          {% else %}
            &ndash;
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% include "lib/includes/filters_no_objects.html" %}
  {% endif %}
  {% endif %}
{% endblock %}
