{% macro render_panel(title, cluster, service, query, subtitle="", rowspan=0, colspan=0, project=project_id) %}
{
    "type": "IFRAME",
    "title": "{{ title }}",
    "subtitle": "{{ subtitle }}",
    "url": "/?project={{ project }}&cluster={{ cluster }}&service={{ service }}&{{ query }}",
    "markdown": "",
    "rowspan": {{ rowspan }},
    "colspan": {{ colspan }}
}
{% endmacro %}