{% set az_zones = zones_by_env[env]|map(attribute='zone')|list %}
{% set az_zones_for_parameter = '*|' + az_zones|join('|') %}

{% set hosts_by_dc = zones_by_env[env]|map(attribute='prefix')|list  %}
{% set hosts_for_parameter = 'cluster|' + hosts_by_dc|map('capitalize')|join('|') %}

{%- macro render_element(title, expression="", selectors=[], stack="", yaxis="LEFT",
                         area="false", color="", link="", down=None) %}
{
    "title": "{{ title }}",
    "type": "{{ 'EXPRESSION' if expression else 'SELECTORS' }}",
    "selectors": [
    {%- for s in selectors %}
        {
            "name": "{{ s[0] }}",
            "value": "{{ s[1] }}"
        }{{ "," if not loop.last else "" }}
    {%- endfor %}
    ],
    "expression": "{{ expression }}",
{%- if link %}
    "link": "{{ link }}",
{%- endif %}
    "area": {{ area }},
    "stack": "{{ stack }}",
    "color": "{{ color }}",
    "yaxis": "{{ yaxis }}",
{% if down is not none %}
    "down": {{ down }},
{% endif %}
    "transform": "NONE"
}
{%- endmacro %}

{
    "id": "{{ id }}",
    "projectId": "{{ project_id }}",
    "name": "{{ name }}",
    "description": "{{ description }}",
    "parameters": [
        {% block parameters %}{% endblock %}    {# Use either 'block parameters' ... #}
        {% if parameters %}                     {# ... or variable: 'set parameters = [('foo', 'bar')]'. #}
            {% for name, value in parameters %}
                { "name": "{{ name }}", "value": "{{ value }}" }{%- if not loop.last %},{%- endif %}
            {% endfor %}
        {% endif %}
    ],
    "elements": [
    {% block elements %}{% endblock %}
    ],
    "graphMode": "{{ graph_mode | default("GRAPH") }}",
    "secondaryGraphMode": "{{ secondary_graph_mode | default("NONE") }}",
    "min": "{{ min|default("0") }}",
    "max": "{{ max|default("") }}",
    "normalize": {{ normalize|default("false") }},
    "colorScheme": "AUTO",
{%- if dropNans %}
    "dropNans": {{ dropNans }},
{%- endif %}
    "stack": {{ stack | default("true") }},
    "aggr": "{{ aggr | default("AVG") }}",
    "interpolate": "{{ interpolate | default("LINEAR") }}",
    "scale": "{{ scale | default("NATURAL") }}",
    "numberFormat": "{{ number_format }}",
    "green": "",
    "yellow": "",
    "red": "",
    "violet": "",
    "greenValue": "",
    "yellowValue": "",
    "redValue": "",
    "violetValue": "",
    "limit": "",
    "overLinesTransform": "NONE",
    "percentiles": "",
    "bucketLabel": "",
    "ignoreInf": false,
    "filter": "NONE",
    "filterBy": "AVG",
    "filterLimit": "",
    "transform": "{{ transform | default("NONE") }}",
    "movingWindow": "{{ moving_window }}",
    "movingPercentile": "",
    "downsampling": "{{ downsampling | default("AUTO") }}",
    "downsamplingAggr": "{{ downsampling_func|default("AVG") }}",
    "downsamplingFill": "NULL",
    "ignoreMinStepMillis": false,
    "grid": "{{ grid | default("") }}",
    "maxPoints": {{ max_points | default(0) }},
    "hideNoData": {{ hide_no_data|default("false") }}
}
