.hint
{
    margin-left: 4px;
    line-height: 15px;
    display: inline-block;
    height: 16px;

    &__tooltip
    {
        max-width: 500px;
        padding: 6px 8px;
        white-space: pre-line;

        /*
            TODO Внутри модальных окон которые рисуются как position: fixed; тултипы тоже задают себе position: fixed; для правильной отрисовки.
            В нашем случае внутри модального окна есть скролл и тултип показывается неправильно в этом случае.
            Чиним это таким вот костылем. Другого способа не нашел.
        */
        /* stylelint-disable-next-line declaration-no-important */
        position: absolute !important;

        &.tooltip_size_xs .tooltip__content
        {
            line-height: 16px;
            word-break: break-word;
        }
    }

    &__icon
    {
        cursor: pointer;
    }
}
