.service-setup
{
    position: relative;
    padding: 20px;

    &__tech
    {
        padding: 18px 10px;
        font-size: 13px;
        background-color: #f3f1ed;
    }

    &__field
    {
        margin-top: 20px;
    }

    &__value
    {
        margin-top: 10px;
    }

    &__copy-link-success
    {
        height: 28px;
        line-height: 28px;
    }

    &__copy-button
    {
        margin-top: 15px;
    }
}
