[Unit]
Description=Secret Key Manager (skm) -- decrypt step
#After=network.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/skm decrypt --config /etc/skm.yaml
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
RequiredBy=kubelet.service
