tskv:
  name: access-log-video-api
  access_log_dir: /var/log/nginx    # default /var/log/nginx
  access_log_name: access.log       # default tskv.log
  error_log_dir: /var/log/nginx     # default /var/log/nginx
  error_log_name: error.log         # default error.log
  error_level: error                # default error
