p2p_monitoring:
  client:                              # optional, and always present by default
    execution_interval: 300            # default 300
  age_content:                         # check name "p2p_" + check_name (check_name should be start with "age")
    execution_interval: 300            # default 300
    utime: 60                          # modification time for all files
    files:
      /var/lib/music/geobase:
        utime: 2800                    # modification time for specified catalog
        names:                         # names only if utime present
          - country.txt
          - geobase4.bin
          - geobase4.bin.patch
      /var/cache/geobase:
        - cache.bin
        - files.bin
      /var/cache/nonexisting:         # warning if not obsolete files
        - file1
