[client]
user = monitor
password = {{ salt['pillar.get']('data:mysql:users:monitor:password', '') }}
host = {{ salt['grains.get']('fqdn') }}
{% if salt['pillar.get']('pre_upgrade') or salt['pillar.get']('upgrade') %}
port = 3306
{% else %}
port = 3307
{% endif %}
{% if salt['pillar.get']('data:mysql:use_ssl', True) %}
ssl-mode = VERIFY_IDENTITY
ssl-ca = /home/monitor/allCAs.pem
{% else %}
ssl-mode = DISABLED
{% endif %}
