[client]
user = admin
password = {{ salt['pillar.get']('data:mysql:users:admin:password', '') }}
# localhost, not FQDN, as use for new host is not in backup yet
host = 127.0.0.1
port = 3306
{% if salt['pillar.get']('data:mysql:use_ssl', True) %}
# Do NOT use VERIFY_IDENTITY here, as localhost domain is not signed, (VERIFY_CA not supported in go)
ssl-mode = REQUIRED
ssl-ca = /etc/mysql/ssl/allCAs.pem
{% else %}
ssl-mode = DISABLED
{% endif %}
