server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    listen 8443 ssl default_server;
    listen [::]:8443 ssl default_server;

    server_name _ default_server;

    include /etc/nginx/support_ssl.conf;

    return 404 "Not found";
}
