{%- for stat in stats -%}
/var/log/statbox/{{ stat.name }}.log
{% endfor -%}
{
  rotate 10
  compress
  missingok
  notifempty
  daily
  maxsize 300M
  sharedscripts
  postrotate
    {%- if init == "systemd" %}
    ( /bin/systemctl is-active statbox-push-client > /dev/null && /bin/systemctl reload statbox-push-client > /dev/null ) || true
    {%- else %}
    ( test -x /etc/init.d/statbox-push-client && /etc/init.d/statbox-push-client reload >/dev/null ) || true
    {%- endif %}
  endscript
}
