{% load meta.templatetags %}
{% load lib.templatetags %}

{% if clusters %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>DBM</th>
      <th>Containers</th>
      <th>Meta</th>
      <th>Name</th>
      <th>Type</th>
      <th>Env</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for cluster in clusters  %}
    <tr>
      <td>{{ cluster.dbm.self_link_c }}</td>
      <td>
        {% if cluster.containers %}
          {% for container in cluster.containers %}
          &ndash;&nbsp;{{ container.self_link_c }}
          {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        {% else %}
        &ndash;
        {% endif %}
      </td>
      {% if cluster.meta %}
      <td>{{ cluster.meta.self_link_c }}</td>
      <td>{{ cluster.meta.name }}</td>
      <td data-order="{{ cluster.meta.type }}">{% cluster_image cluster.meta.type %} {{ cluster.meta.type|pretty_cluster_type }}</td>
      <td>{{ cluster.meta.env|upper }}</td>
      <td>{% cluster_ui_status cluster.meta %}</td>
      {% else %}
      <td>&ndash;</td>
      <td>&ndash;</td>
      <td>&ndash;</td>
      <td>&ndash;</td>
      <td>&ndash;</td>
      {% endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="noodle-box">
    &ndash;
  </div>
{% endif %}
{% update_tab_badge "clusters" clusters|length %}
