{% load lib.templatetags %}
{% if containers %}
<table class="table table-hover noodle-table noodle-table-sortable">
  <thead>
    <tr>
      <th>FQDN</th>
      <th>Cluster</th>
      <th>Gen</th>
      <th>CPU Limit</th>
      <th>Memory Limit</th>
      <th>Net Limit</th>
      <th>IO Limit</th>
    </tr>
  </thead>
  <tbody>
    {% for container in containers %}
    <tr>
      <td>{{ container.self_link_c }}</td>
      <td>{{ container.cluster.self_link_c }}</td>
      <td>{{ container.generation }}</td>
      <td>{{ container.cpu_limit|floatformat:"-1"  }}</td>
      <td>{{ container.memory_limit|filesizeformat|pretty_fsf }}</td>
      <td>{{ container.net_limit|filesizeformat|pretty_fsf }}</td>
      <td>{{ container.io_limit|filesizeformat|pretty_fsf }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="noodle-box">
    &ndash;
  </div>
{% endif %}
{% update_tab_badge "containers" containers.count %}
