{% load lib.templatetags %}
{% if resources %}
<table class="table table-hover noodle-table noodle-table-inc">
  <thead>
    <tr>
      <th>Name</tH>
      <th>Limit</th>
      <th>Used</th>
      <th>Free</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if resources.cpu.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>CPU</strong></td>
      <td>{{ resources.cpu.total|floatformat:"-1" }}</td>
      <td>{{ resources.cpu.used|floatformat:"-1" }}</td>
      <td>{{ resources.cpu.free|floatformat:"-1" }}</td>
    </tr>
    <tr {% if resources.memory.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>Memory</strong></td>
      <td>{{ resources.memory.total|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.memory.used|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.memory.free|filesizeformat|pretty_fsf }}</td>
    </tr>
    <tr {% if resources.net.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>Net</strong></td>
      <td>{{ resources.net.total|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.net.used|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.net.free|filesizeformat|pretty_fsf }}</td>
    </tr>
    <tr {% if resources.io.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>IO</strong></td>
      <td>{{ resources.io.total|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.io.used|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.io.free|filesizeformat|pretty_fsf }}</td>
    </tr>
    <tr {% if resources.ssd.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>SSD</strong></td>
      <td>{{ resources.ssd.total|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.ssd.used|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.ssd.free|filesizeformat|pretty_fsf }}</td>
    </tr>
    <tr {% if resources.sata.free < 0 %}class="backstage-quota-exceeded"{% endif %}>
      <td><strong>Sata</strong></td>
      <td>{{ resources.sata.total|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.sata.used|filesizeformat|pretty_fsf }}</td>
      <td>{{ resources.sata.free|filesizeformat|pretty_fsf }}</td>
    </tr>
  </tbody>
</table>
{% else %}
<div class="noodle-box">
  &ndash;
</div>
{% endif %}

