Source: elasticsearch-index-cleaner
Section: unknown
Priority: optional
Maintainer: Paul Gusev <paulstrong@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: elasticsearch-index-cleaner
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-requests
Description: Script for elasticsearch indices clean by ttl 
 .
