#!/usr/bin/make -f
# -*- makefile -*-

override_dh_install:
	mkdir -p debian/elasticsearch-index-cleaner/usr/sbin/
	cp elasticsearch-index-cleaner.py debian/elasticsearch-index-cleaner/usr/sbin/elasticsearch-index-cleaner
	chmod 700 debian/elasticsearch-index-cleaner/usr/sbin/elasticsearch-index-cleaner

%:
	dh $@
