{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-data-parts-per-partition",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB data parts per partition",
  "description": "Max data parts per partition, max across hosts",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/data-parts-per-partition-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "data_parts_per_partition"
  },
  "periodMillis": 300000,
  "delaySecs": 0
}
