{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-disk-space-utilization",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB disk space utilization",
  "description": "Disk space utilization, max across hosts",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/disk-space-utilization-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "disk_space_utilization"
  },
  "periodMillis": 300000,
  "delaySecs": 0
}
