{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-failed-insert-queries",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB failed INSERT queries",
  "description": "% of failed INSERT queries, max across hosts",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/failed-insert-queries-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "failed_insert_queries"
  },
  "periodMillis": 300000,
  "delaySecs": 0
}
