{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-hosts-availability",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB hosts availability",
  "description": "Availability of hosts on read and write",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/hosts-availability-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "hosts_availability"
  },
  "periodMillis": 60000,
  "delaySecs": 30
}
