{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-insert-queries-rate",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB INSERT queries rate",
  "description": "rate of INSERT queries",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/insert-queries-rate-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "insert_queries_rate"
  },
  "periodMillis": 300000,
  "delaySecs": 0
}
