{
  "id": "<< id_prefix >>-<< logsdb_id_prefix >>-replication-delay",
  "projectId": "<< project_id >>",
  "name": "<< human_prefix >> LogsDB replication delay",
  "description": "Max replication delay across tables, max across hosts",
  "notificationChannels": ["<< notification_channel >>"],
  "type": {
    "expression": {
      "program": "{% include "alerts/logsdb/replication-delay-program" %}"
    }
  },
  "annotations": {
    "description": "{{expression.reason}}",
    "value": "{{expression.result}}",
    "host": "logsdb-<< env_name_dash >>",
    "service": "replication_delay"
  },
  "periodMillis": 300000,
  "delaySecs": 0
}
