#!/usr/bin/make -f
override_dh_install:
	mkdir -p debian/yandex-juggler-freespace-rejecter/usr/bin/
	mkdir -p debian/yandex-juggler-freespace-rejecter/etc/monrun/conf.d/
	cp freespace-achtung.sh debian/yandex-juggler-freespace-rejecter/usr/bin/freespace-achtung.sh
	chmod +x debian/yandex-juggler-freespace-rejecter/usr/bin/freespace-achtung.sh
	cp freespace-achtung.conf debian/yandex-juggler-freespace-rejecter/etc/monrun/conf.d/freespace-achtung.conf

%:
	dh $@

