{% extends "lockbox_base.j2" %}

{% block parameters %}
    {% if add_parameters %}
        {
            "name": "host",
            "value": "cluster-control-all"
        }
    {% endif %}
{% endblock %}

{% block rows %}
[
    {{ render_private_l7_rows(host_cluster) }},
    {{ render_public_l7_rows(host_cluster) }},
    {{ render_jvm_and_system_rows(host_cluster, host_regex, solomon_service) }},
    {{ render_row_clients_panels("Auth Client", "auth_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Access Binding Client", "access-binding-client_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Kikimr Client", "kikimr_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("KMS Crypto Client", "kms-crypto_client", host_cluster, solomon_service) }},
    {{ render_row_clients_panels("Resource Manager Client", "resource-manager_client", host_cluster, solomon_service) }}
]
{% endblock %}
