Source: yabs-graphite-sender-config-corba
Section: admin
Priority: extra
Maintainer: Pavel Vorobyov <viert@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/admins/yabs-graphite-sender-config-corba

Package: yabs-graphite-sender-config-corba
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, yabs-graphite-sender
Description: YaBS Graphite Sender configurator for Personal Services Graphite cluster.
