{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"space",
			expression="min(group_by_time(15s, 'max', {cluster='%s', service='sys', path='/Filesystem/FreeB', host='[[host]]'})) by (name)" | format(cluster)
		)
	}}
{% endblock %}
