{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rps",
			expression="group_lines('sum', non_negative_derivative(group_by_time(15s, 'max', { cluster='%s', meter_type='count', %s='grpc_requests', service='%s', host='[[host]]' })))" | format(cluster, sensor_label, solomon_service)
		)
	}}
{% endblock %}
