{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*server"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"4xx",
			expression="alias(group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='cloud_" + env + "_kms_cluster', sensor='grpc_statuses', service='service', status='CANCELLED|INVALID_ARGUMENT|NOT_FOUND|ALREADY_EXISTS|PERMISSION_DENIED|RESOURCE_EXHAUSTED|FAILED_PRECONDITION|ABORTED|OUT_OF_RANGE|UNAUTHENTICATED'})))), '4xx')",
			stack="false",
			color="#147"
		)
	}}
{% endblock %}
