{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"p50",
			expression="histogram_percentile(50, 'bin', sum(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_durations', service='%s', bin='*', host='[[host]]' })) by (bin))" | format(cluster, sensor_label, solomon_service),
			stack="false"
		)
	}},
	{{
	    render_element(
			"p75",
			expression="histogram_percentile(75, 'bin', sum(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_durations', service='%s', bin='*', host='[[host]]' })) by (bin))" | format(cluster, sensor_label, solomon_service),
			stack="false"
		)
	}},
	{{
	    render_element(
			"p90",
			expression="histogram_percentile(90, 'bin', sum(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_durations', service='%s', bin='*', host='[[host]]' })) by (bin))" | format(cluster, sensor_label, solomon_service),
			stack="false"
		)
	}},
	{{
	    render_element(
			"p99",
			expression="histogram_percentile(99, 'bin', sum(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_durations', service='%s', bin='*', host='[[host]]' })) by (bin))" | format(cluster, sensor_label, solomon_service),
			stack="false"
		)
	}}
{% endblock %}
