{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
      "name": "project",
      "value": "{{ project_id }}"
    },
    {
      "name": "method",
      "value": "*"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "app",
      "value": "*server"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"4xx",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_statuses', service='%s', host='[[host]]', status='CANCELLED|INVALID_ARGUMENT|NOT_FOUND|ALREADY_EXISTS|PERMISSION_DENIED|RESOURCE_EXHAUSTED|FAILED_PRECONDITION|ABORTED|OUT_OF_RANGE|UNAUTHENTICATED'}))))" | format(cluster, sensor_label, solomon_service),
			stack="false",
			color="#147"
		)
	}},
	{{
	    render_element(
			"503",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_statuses', service='%s', host='[[host]]', status='UNAVAILABLE'}))))" | format(cluster, sensor_label, solomon_service),
			stack="false",
			color="#da7"
		)
	}},
	{{
	    render_element(
			"5xx",
			expression="group_lines('sum', diff(integrate_fn(group_by_time(15s, 'avg', { cluster='%s', %s='grpc_statuses', service='%s', host='[[host]]', status='UNKNOWN|DEADLINE_EXCEEDED|UNIMPLEMENTED|INTERNAL|DATA_LOSS'}))))" | format(cluster, sensor_label, solomon_service),
			stack="false",
			color="#b20"
		)
	}}
{% endblock %}
