{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"reads",
			expression="%s(group_by_time(15s, 'max', {cluster='%s', service='sys', path='/Io/Disks/Read%s', host='[[host]]'})) by (name)" | format(aggregation, cluster, path_suffix)
		)
	}},
	{{
	    render_element(
			"writes",
			expression="%s(group_by_time(15s, 'max', {cluster='%s', service='sys', path='/Io/Disks/Write%s', host='[[host]]'})) by (name)" | format(aggregation, cluster, path_suffix)
		)
	}}
{% endblock %}
