{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    },
    {
      "name": "area",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"memory_bytes",
			expression="max(group_by_time(15s, 'max', {cluster='%s', %s='jvm_memory_bytes_used', service='%s', host='[[host]]'})) by (name)" | format(cluster, sensor_label, solomon_service)
		)
	}}
{% endblock %}
