{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"[[state]]",
			expression="max(group_by_time(15s, 'max', {cluster='%s', host='[[host]]', %s='jvm_threads_state', service='%s', state='*'})) by (state)" | format(cluster, sensor_label, solomon_service)
		)
	}}
{% endblock %}
