{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			title,
			expression="%s(group_by_time(15s, 'max', {cluster='%s', host='[[host]]', service='sys', path='/Proc/LoadAverage1min'})) by (name)" | format(aggregation, cluster)
		)
	}}
{% endblock %}
