{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rx",
			expression="sum(group_by_time(15s, 'max', {cluster='%s', host='[[host]]', intf='eth0', service='sys', path='/Net/Ifs/Rx%s'})) by (name)" | format(cluster, path_suffix)
		)
	}},
	{{
	    render_element(
			"tx",
			expression="sum(group_by_time(15s, 'max', {cluster='%s', host='[[host]]', intf='eth0', service='sys', path='/Net/Ifs/Tx%s'})) by (name)" | format(cluster, path_suffix)
		)
	}}
{% endblock %}
