{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"failures",
			expression="sum(group_by_time(15s, 'max', { cluster='%s', %s='envoy_cluster_health_check_failure', host='[[host]]', service='private_envoy'})) by (name)" | format(cluster, sensor_label)
		)
	}}
{% endblock %}
