{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"5xx",
			expression="group_lines('sum', drop_below(diff(group_by_time(15s, 'max', {cluster='%s', %s='envoy_http_downstream_rq_xx', host='[[host]]', envoy_http_conn_manager_prefix='frontend_*', envoy_response_code_class='5', service='public_envoy'})), 0))" | format(cluster, sensor_label),
			stack="false",
			color="#b20"
		)
	}},
	{{
	    render_element(
			"4xx",
			expression="group_lines('sum', drop_below(diff(group_by_time(15s, 'max', {cluster='%s', %s='envoy_http_downstream_rq_xx', host='[[host]]', envoy_http_conn_manager_prefix='frontend_*', envoy_response_code_class='4', service='public_envoy'})), 0))" | format(cluster, sensor_label),
			stack="false",
			color="#147"
		)
	}}
{% endblock %}
