{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"rps",
			expression="group_lines('sum', group_by_time(15s, 'avg', {cluster='%s', %s='envoy_http_downstream_rq_total', host='[[host]]', envoy_http_conn_manager_prefix='frontend_*', service='public_envoy'}))" | format(cluster, sensor_label)
		)
	}}
{% endblock %}
