{% extends "../../base/graph.j2" %}

{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
      "name": "host",
      "value": "*"
    }
{% endblock %}

{% block elements %}
	{{
	    render_element(
			"idle",
			expression="sum(group_by_time(15s, 'avg', {cluster='%s', host='[[host]]', service='sys', path='/System/IdleTime'})) by (name)" | format(cluster),
			stack="true",
			area="true"
		)
	}},
	{{
	    render_element(
			"iowait",
			expression="sum(group_by_time(15s, 'avg', {cluster='%s', host='[[host]]', service='sys', path='/System/IoWaitTime'})) by (name)" | format(cluster),
			stack="true",
			area="true"
		)
	}},
	{{
	    render_element(
			"nice",
			expression="sum(group_by_time(15s, 'avg', {cluster='%s', host='[[host]]', service='sys', path='/System/NiceTime'})) by (name)" | format(cluster),
			stack="true",
			area="true"
		)
	}},
	{{
	    render_element(
			"system",
			expression="sum(group_by_time(15s, 'avg', {cluster='%s', host='[[host]]', service='sys', path='/System/SystemTime'})) by (name)" | format(cluster),
			stack="true",
			area="true"
		)
	}},
	{{
	    render_element(
			"user",
			expression="sum(group_by_time(15s, 'avg', {cluster='%s', host='[[host]]', service='sys', path='/System/UserTime'})) by (name)" | format(cluster),
			stack="true",
			area="true"
		)
	}}
{% endblock %}
