#yauth {
    text-align: right;
    font: 70% Verdana, Arial, sans-serif;
}

#yauth span {
    margin: 0 5px 0 3px;
}

#yauth a {
    color: #000 !important;
}

#yauth a.exit {
    color: #E03A3A !important;
}

#yauth a:hover {
    color: #f00 !important;
}


#yauth a.user, #yauth a.user * {
    font-weight: bold;
    text-decoration: underline;
}

a.user b {
    color: #f00;
}
