{% extends "../../base/alert.j2" %}

{% set notificationChannels = ['cic-api'] %}

{% set checkExpression = "" %}
{% set noPointsPolicy = "NO_POINTS_MANUAL" %}
{% set resolvedEmptyPolicy = "RESOLVED_EMPTY_MANUAL" %}

{% macro cic_api_dashboard() -%}
    {{ solomon_endpoint }}/?project={{ project_id }}&dashboard=cic_api_main_{{ env }}&cluster=cloud_{{ env }}_cic-api-k8s&service=vpc-cloud-interconnect&host=cluster
{%- endmacro %}

{% macro wiki_url(service) -%}
    https://wiki.yandex-team.ru/cloud/devel/sdn/duty/juggler/#{{ service }}
{%- endmacro %}

{% macro solomon_host() -%}
    cloud_{{env}}_cic-api_solomon
{%- endmacro %}
