{% extends "cgw_base.j2" %}

{% block rows %}
[
    {% if env == 'preprod' %}

    {{ render_loop_iface_columns([
        {"who": "Yandex Short-path", "iface": "loop13", "az": "vla"},
        {"who": "Yandex Short-path", "iface": "loop12", "az": "sas"},
        {"who": "Yandex Short-path", "iface": "loop13", "az": "myt"},
    ]) }},

    {% elif env == 'prod' %}
    {{ render_netinfra_panel([
        ("M9 VoxImplant", "cloud-m9-b1", "ae6.860"),
        ("STD VoxImplant", "cloud-std-b1", "ae6.860"),
        ("Tehno VoxImplant", "cloud-tehno-b1", "ae6.860"),
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Yandex Short-path", "iface": "loop74", "az": "vla"},
        {"who": "Yandex Short-path", "iface": "loop35", "az": "sas"},
        {"who": "Yandex Short-path", "iface": "loop33", "az": "myt"},
    ]) }},
    {{ render_loop_iface_row(who="Leroy Merlin", iface="loop8") }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enp7c36hacds8m7imgs5", "iface": "loop161", "az": "vla"},
        {"who": "Leroy Merlin enp7c36hacds8m7imgs5", "iface": "loop109", "az": "sas"},
        {"who": "Leroy Merlin enp7c36hacds8m7imgs5", "iface": "loop107", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enprvp5deemqv0fg8bmc", "iface": "loop162", "az": "vla"},
        {"who": "Leroy Merlin enprvp5deemqv0fg8bmc", "iface": "loop110", "az": "sas"},
        {"who": "Leroy Merlin enprvp5deemqv0fg8bmc", "iface": "loop108", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enpf9e9gvumoi93mvo4p", "iface": "loop166", "az": "vla"},
        {"who": "Leroy Merlin enpf9e9gvumoi93mvo4p", "iface": "loop114", "az": "sas"},
        {"who": "Leroy Merlin enpf9e9gvumoi93mvo4p", "iface": "loop111", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enpi5mmpuv8pi8olcvbp", "iface": "loop252", "az": "vla"},
        {"who": "Leroy Merlin enpi5mmpuv8pi8olcvbp", "iface": "loop182", "az": "sas"},
        {"who": "Leroy Merlin enpi5mmpuv8pi8olcvbp", "iface": "loop180", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enp69e8omfn9lnbs470l", "iface": "loop253", "az": "vla"},
        {"who": "Leroy Merlin enp69e8omfn9lnbs470l", "iface": "loop183", "az": "sas"},
        {"who": "Leroy Merlin enp69e8omfn9lnbs470l", "iface": "loop181", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enpcp17tb2oalrv3kh4h", "iface": "loop287", "az": "vla"},
        {"who": "Leroy Merlin enpcp17tb2oalrv3kh4h", "iface": "loop218", "az": "sas"},
        {"who": "Leroy Merlin enpcp17tb2oalrv3kh4h", "iface": "loop205", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enpa6bna0mbqplke13qk", "iface": "loop291", "az": "vla"},
        {"who": "Leroy Merlin enpa6bna0mbqplke13qk", "iface": "loop221", "az": "sas"},
        {"who": "Leroy Merlin enpa6bna0mbqplke13qk", "iface": "loop207", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enptoi18t29rv6hpphb3", "iface": "loop297", "az": "vla"},
        {"who": "Leroy Merlin enptoi18t29rv6hpphb3", "iface": "loop226", "az": "sas"},
        {"who": "Leroy Merlin enptoi18t29rv6hpphb3", "iface": "loop212", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Leroy Merlin enpadfjiefuljrdi84hn", "iface": "loop298", "az": "vla"},
        {"who": "Leroy Merlin enpadfjiefuljrdi84hn", "iface": "loop227", "az": "sas"},
        {"who": "Leroy Merlin enpadfjiefuljrdi84hn", "iface": "loop213", "az": "myt"},
    ]) }},
    {{ render_loop_iface_row(who="Ozon VPC_1", iface="loop9") }},
    {{ render_loop_iface_row(who="Ozon VPC_2", iface="loop10") }},
    {{ render_loop_iface_row(who="MindBox", iface="loop11") }},
    {{ render_loop_iface_row(who="MVideo VPC_1", iface="loop12") }},
    {{ render_loop_iface_row(who="MVideo VPC_2", iface="loop24") }},
    {{ render_loop_iface_columns([
        {"who": "MVideo VPC_4", "iface": "loop49", "az": "vla"},
        {"who": "MVideo VPC_4", "iface": "loop30", "az": "sas"},
        {"who": "MVideo VPC_4", "iface": "loop27", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "MVideo VPC_5", "iface": "loop76", "az": "vla"},
        {"who": "MVideo VPC_5", "iface": "loop37", "az": "sas"},
        {"who": "MVideo VPC_5", "iface": "loop35", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "MVideo VPC_6", "iface": "loop93", "az": "vla"},
        {"who": "MVideo VPC_6", "iface": "loop51", "az": "sas"},
        {"who": "MVideo VPC_6", "iface": "loop17", "az": "myt"},
    ]) }},
    {{ render_loop_iface_row(who="VoxImplant", iface="loop13") }},
    {{ render_loop_iface_row(who="Decathlon", iface="loop14") }},
    {{ render_loop_iface_row(who="PROF-IT VPC_1", iface="loop15") }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "PROF-IT VPC_2 + VPC_3", "iface": "loop16|loop28", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "WB IPMI Proxy", "iface": "loop16", "az": "myt"},
    ]) }},

    {{ render_loop_iface_columns([
        {"who": "Faberlic", "iface": "loop156|loop259", "az": "vla"},
        {"who": "Faberlic", "iface": "loop105|loop191", "az": "sas"},
        {"who": "Faberlic", "iface": "loop100|loop188", "az": "myt"},
    ]) }},

    {{ render_loop_iface_row(who="Telecontact", iface="loop25") }},

    {# "not defined" used for regular grid on the dashboard
       use iface none to disable panel from dashboard.
    #}
    {{ render_loop_iface_columns([
        {"who": "VTB ZHIL_ECO", "iface": "loop50", "az": "vla"},
        {"who": "VTB ZHIL_ECO", "iface": "loop31", "az": "sas"},
        {"who": "VTB ZHIL_ECO", "iface": "loop28", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "MyShop", "iface": "loop51", "az": "vla"},
        {"who": "MyShop", "iface": "loop32", "az": "sas"},
        {"who": "MyShop", "iface": "loop29", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Bank SPB", "iface": "loop177|loop178|loop179|loop186|loop186|loop187|loop188|loop189|loop190", "az": "vla"},
        {"who": "Bank SPB", "iface": "loop55|loop125|loop126|loop133|loop134|loop165", "az": "sas"},
        {"who": "Bank SPB", "iface": "loop30|loop122|loop123|loop124|loop132|loop133|loop134|loop135|loop136|loop137", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "ATC", "iface": "loop26|loop27", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "FreshMarket", "iface": "loop27", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "BALANCEPLATFORM", "iface": "loop28|loop29|loop30|loop31|loop32|loop33|loop34|loop35|loop36|loop37|loop38|loop39|loop40|loop41|loop42|loop43|loop44|loop45|loop46|loop47|loop52|loop53|loop54|loop55|loop56|loop57|loop58|loop59|loop60|loop61|loop62|loop63|loop64|loop65|loop66|loop67|loop68|loop69loop70|loop71", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "CIAN", "iface": "loop73|loop202|loop203|loop207|loop208|loop238", "az": "vla"},
        {"who": "CIAN", "iface": "loop33|loop144|loop145|loop148|loop149|loop173", "az": "sas"},
        {"who": "CIAN", "iface": "loop32|loop147|loop148|loop151|loop152|loop173", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "BPC", "iface": "loop75", "az": "vla"},
        {"who": "BPC", "iface": "loop36", "az": "sas"},
        {"who": "BPC", "iface": "loop34", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceLife", "iface": "loop16|loop140|loop301", "az": "vla"},
        {"who": "RenaissanceLife", "iface": "loop34|loop91", "az": "sas"},
        {"who": "RenaissanceLife", "iface": "loop31|loop86", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PIC Net1", "iface": "loop72", "az": "vla"},
        {"who": "PIC Net1", "iface": "loop38", "az": "sas"},
        {"who": "PIC Net1", "iface": "loop36", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PIC 42b", "iface": "loop172", "az": "vla"},
        {"who": "PIC 42b", "iface": "loop120", "az": "sas"},
        {"who": "PIC 42b", "iface": "loop117", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PIC Net2", "iface": "loop167", "az": "vla"},
        {"who": "PIC Net2", "iface": "loop115", "az": "sas"},
        {"who": "PIC Net2", "iface": "loop112", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PIC m53", "iface": "loop199", "az": "vla"},
        {"who": "PIC m53", "iface": "loop142", "az": "sas"},
        {"who": "PIC m53", "iface": "loop145", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PIC qso", "iface": "loop277", "az": "vla"},
        {"who": "PIC qso", "iface": "loop210", "az": "sas"},
        {"who": "PIC qso", "iface": "loop198", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "FordSollers", "iface": "loop77", "az": "vla"},
        {"who": "FordSollers", "iface": "loop39", "az": "sas"},
        {"who": "FordSollers", "iface": "loop37|loop155", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "AzbukaVkusa VPC_1", "iface": "loop78", "az": "vla"},
        {"who": "AzbukaVkusa VPC_1", "iface": "loop40", "az": "sas"},
        {"who": "AzbukaVkusa VPC_1", "iface": "loop38", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "DIT VPC_1", "iface": "loop79", "az": "vla"},
        {"who": "DIT VPC_1", "iface": "loop41", "az": "sas"},
        {"who": "DIT VPC_1", "iface": "loop39", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "OTP NORD", "iface": "loop23|loop92|loop104|loop119|loop120|loop124|loop125|loop126||loop127|loop128|loop129|loop130|loop131|loop132|loop133|loop134|loop135|loop136|loop157|loop283|loop306", "az": "vla"},
        {"who": "OTP NORD", "iface": "loop23|loop50|loop58|loop70|loop71|loop72|loop73|loop74|loop75|loop76|loop77|loop78|loop79|loop80|loop81|loop82|loop83|loop84|loop106|loop216|loop234", "az": "sas"},
        {"who": "OTP NORD", "iface": "loop23|loop40|loop67|loop68|loop69|loop70|loop71|loop72|loop73|loop74|loop75|loop76|loop77|loop78|loop79|loop80|loop81|loop101|loop102|loop203|loop219", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "TSUM M9 + NORD", "iface": "loop80|loop81|loop82|loop83|loop84|loop17", "az": "vla"},
        {"who": "TSUM M9 + NORD", "iface": "loop42|loop43|loop44|loop45|loop46|loop19", "az": "sas"},
        {"who": "TSUM M9 + NORD", "iface": "loop41|loop42|loop43|loop44|loop45|loop18", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "VESTA BANK", "iface": "loop85|loop18|loop19|loop211|loop218|loop227|loop279", "az": "vla"},
        {"who": "VESTA BANK", "iface": "loop47|loop20|loop21|loop152|loop212", "az": "sas"},
        {"who": "VESTA BANK", "iface": "loop46|loop19|loop20|loop156", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "ALFA BANK", "iface": "loop20|loop144|loop200|loop235|loop248|loop249|loop254|loop260|loop273|loop276|loop278|loop282|loop284|loop285", "az": "vla"},
        {"who": "ALFA BANK", "iface": "loop93|loop171|loop179|loop180|loop184|loop188|loop194|loop209|loop211|loop216|loop215|loop217", "az": "sas"},
        {"who": "ALFA BANK", "iface": "loop89|loop171|loop177|loop178|loop182|loop189|loop197|loop199|loop202", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "PINGPONG", "iface": "loop8|loop9", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RAIFAIZEN", "iface": "loop88|loop89|loop90|loop91|loop21|loop97|loop98|loop100|loop101|loop107|loop112|loop113|loop114|loop122|loop123|loop137|loop138|loop205|loop206|loop224|loop225|loop236|loop237|loop241|loop242|loop302|loop303", "az": "vla"},
        {"who": "RAIFAIZEN", "iface": "loop48|loop49|loop54|loop85|loop147|loop163|loop172|loop176|loop230", "az": "sas"},
        {"who": "RAIFAIZEN", "iface": "loop47|loop48|loop82|loop150|loop164|loop172|loop216", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "ALFASTRAHOVANIE", "iface": "loop94", "az": "vla"},
        {"who": "ALFASTRAHOVANIE", "iface": "loop17", "az": "sas"},
        {"who": "ALFASTRAHOVANIE", "iface": "loop49", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "ALFALIZING", "iface": "loop22", "az": "vla"},
        {"who": "ALFALIZING", "iface": "loop18", "az": "sas"},
        {"who": "ALFALIZING", "iface": "loop22", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "ALFACAPITAL", "iface": "loop99|loop159|loop165", "az": "vla"},
        {"who": "ALFACAPITAL", "iface": "loop107|loop113", "az": "sas"},
        {"who": "ALFACAPITAL", "iface": "loop104|loop110", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "GPB Invest", "iface": "loop96", "az": "vla"},
        {"who": "GPB Invest", "iface": "loop53", "az": "sas"},
        {"who": "GPB Invest", "iface": "loop51", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "KAZAN EXPRESS", "iface": "loop102", "az": "vla"},
        {"who": "KAZAN EXPRESS", "iface": "loop56", "az": "sas"},
        {"who": "KAZAN EXPRESS", "iface": "loop53", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "Solar", "iface": "loop58", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "BIOVITRUM", "iface": "loop86", "az": "vla"},
        {"who": "BIOVITRUM", "iface": "loop5", "az": "sas"},
        {"who": "BIOVITRUM", "iface": "loop54|loop105", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Seventech", "iface": "loop222", "az": "vla"},
        {"who": "Seventech", "iface": "none", "az": "sas"},
        {"who": "Seventech", "iface": "loop55", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "POTOKA", "iface": "loop105|loop106", "az": "vla"},
        {"who": "POTOKA", "iface": "loop59", "az": "sas"},
        {"who": "POTOKA", "iface": "loop56", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Letual", "iface": "loop103", "az": "vla"},
        {"who": "Letual", "iface": "loop60", "az": "sas"},
        {"who": "Letual", "iface": "loop57", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Neiro", "iface": "loop108|loop118", "az": "vla"},
        {"who": "Neiro", "iface": "loop26|loop61|loop90", "az": "sas"},
        {"who": "Neiro", "iface": "loop59|loop65", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Tinkoff", "iface": "loop95|loop139|loop143|loop155|loop158|loop163|loop168|loop180|loop196|loop198|loop201|loop216|loop217|loop226|loop255|loop261|loop262|loop287|loop296|loop300|loop304", "az": "vla"},
        {"who": "Tinkoff", "iface": "loop52|loop65|loop86|loop92|loop104|loop111|loop116|loop127|loop139|loop141|loop143|loop158|loop159|loop164|loop195|loop196|loop219|loop225|loop229|loop231", "az": "sas"},
        {"who": "Tinkoff", "iface": "loop50|loop83|loop88|loop99|loop103|loop109|loop113|loop125|loop142|loop144|loop146|loop161|loop162|loop165|loop190|loop191|loop206|loop211|loop215|loop217", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Sabre", "iface": "loop109|loop181|loop182|loop183|loop184", "az": "vla"},
        {"who": "Sabre", "iface": "loop62|loop128|loop129|loop130|loop131", "az": "sas"},
        {"who": "Sabre", "iface": "loop130|loop126|loop127|loop128|loop129", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Lamoda", "iface": "loop110", "az": "vla"},
        {"who": "Lamoda", "iface": "loop63", "az": "sas"},
        {"who": "Lamoda", "iface": "loop60", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "CM", "iface": "loop111", "az": "vla"},
        {"who": "CM", "iface": "loop64", "az": "sas"},
        {"who": "CM", "iface": "loop61", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Sravni.ru", "iface": "loop117", "az": "vla"},
        {"who": "Sravni.ru", "iface": "loop69", "az": "sas"},
        {"who": "Sravni.ru", "iface": "loop64", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "SKB", "iface": "loop87", "az": "vla"},
        {"who": "SKB", "iface": "loop87", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "Sbermarket", "iface": "loop162", "az": "sas"},
        {"who": "Sbermarket", "iface": "loop66|loop163", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "HSM", "iface": "loop145|loop146", "az": "vla"},
        {"who": "HSM", "iface": "loop94|loop95", "az": "sas"},
        {"who": "HSM", "iface": "loop87|loop90", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "OFM", "iface": "loop147|loop148|loop149|loop150|loop151|loop152|loop153|loop154", "az": "vla"},
        {"who": "OFM", "iface": "loop99|loop100|loop101|loop102|loop103|loop96|loop97|loop98", "az": "sas"},
        {"who": "OFM", "iface": "loop91|loop92|loop93|loop94|loop95|loop96|loop97|loop98", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "KalugaInformTech", "iface": "loop66", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "VIMPELKOM-BDO", "iface": "loop160", "az": "vla"},
        {"who": "VIMPELKOM-BDO", "iface": "loop108", "az": "sas"},
        {"who": "VIMPELKOM-BDO", "iface": "loop106", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Karcher", "iface": "loop164", "az": "vla"},
        {"who": "Karcher", "iface": "loop112", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceStrakh vdi", "iface": "loop170", "az": "vla"},
        {"who": "RenaissanceStrakh vdi", "iface": "loop118", "az": "sas"},
        {"who": "RenaissanceStrakh vdi", "iface": "loop115", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceStrakh stj", "iface": "loop171", "az": "vla"},
        {"who": "RenaissanceStrakh stj", "iface": "loop119", "az": "sas"},
        {"who": "RenaissanceStrakh stj", "iface": "loop116", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceStrakh vpc3", "iface": "loop173", "az": "vla"},
        {"who": "RenaissanceStrakh vpc3", "iface": "loop121", "az": "sas"},
        {"who": "RenaissanceStrakh vpc3", "iface": "loop118", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceStrakh vpc4", "iface": "loop174", "az": "vla"},
        {"who": "RenaissanceStrakh vpc4", "iface": "loop122", "az": "sas"},
        {"who": "RenaissanceStrakh vpc4", "iface": "loop119", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RenaissanceStrakh vpc5", "iface": "loop175", "az": "vla"},
        {"who": "RenaissanceStrakh vpc5", "iface": "loop123", "az": "sas"},
        {"who": "RenaissanceStrakh vpc5", "iface": "loop120", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "VTB enp6e21cup8n5hnmd70t", "iface": "loop176", "az": "vla"},
        {"who": "VTB enp6e21cup8n5hnmd70t", "iface": "loop124", "az": "sas"},
        {"who": "VTB enp6e21cup8n5hnmd70t", "iface": "loop121", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Europlan", "iface": "loop185", "az": "vla"},
        {"who": "Europlan", "iface": "loop132", "az": "sas"},
        {"who": "Europlan", "iface": "loop131", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Takeda", "iface": "loop191", "az": "vla"},
        {"who": "Takeda", "iface": "loop135", "az": "sas"},
        {"who": "Takeda", "iface": "loop138", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Social Quantum", "iface": "loop193|loop194|loop195", "az": "vla"},
        {"who": "Social Quantum", "iface": "loop136|loop137|loop138", "az": "sas"},
        {"who": "Social Quantum", "iface": "loop139|loop140|loop141", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Integro", "iface": "loop197", "az": "vla"},
        {"who": "Integro", "iface": "loop140", "az": "sas"},
        {"who": "Integro", "iface": "loop143", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Yandex Bank", "iface": "loop204|loop239|loop240|loop281", "az": "vla"},
        {"who": "Yandex Bank", "iface": "loop146|loop174|loop175|loop214", "az": "sas"},
        {"who": "Yandex Bank", "iface": "loop149|loop174|loop175|loop201", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Rolf", "iface": "loop209", "az": "vla"},
        {"who": "Rolf", "iface": "loop150", "az": "sas"},
        {"who": "Rolf", "iface": "loop153", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Pridex", "iface": "loop210", "az": "vla"},
        {"who": "Pridex", "iface": "loop151", "az": "sas"},
        {"who": "Pridex", "iface": "loop154", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Technopark Center", "iface": "loop212|loop228|loop229|loop230|loop231", "az": "vla"},
        {"who": "Technopark Center", "iface": "loop153|loop166|loop167|loop168|loop169", "az": "sas"},
        {"who": "Technopark Center", "iface": "loop157|loop166|loop167|loop168|loop169", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Magnit", "iface": "loop220|loop221|loop265|loop267|loop268|loop269|loop270|loop271|loop272|loop292", "az": "vla"},
        {"who": "Magnit", "iface": "loop160|loop161|loop199|loop200|loop201|loop202|loop203|loop204|loop205|loop206|loop222", "az": "sas"},
        {"who": "Magnit", "iface": "loop192|loop193|loop194|loop195|loop209", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Komus", "iface": "loop232", "az": "vla"},
        {"who": "Komus", "iface": "loop170|loop192|loop193|loop233", "az": "sas"},
        {"who": "Komus", "iface": "loop170", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Unlimited Production", "iface": "loop251", "az": "vla"},
        {"who": "Unlimited Production", "iface": "loop181", "az": "sas"},
        {"who": "Unlimited Production", "iface": "loop179", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "RBS", "iface": "loop256", "az": "vla"},
        {"who": "RBS", "iface": "loop186", "az": "sas"},
        {"who": "RBS", "iface": "loop184", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "UK Sodrujestvo", "iface": "loop263", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "McDonalds", "iface": "loop274|loop275", "az": "vla"},
        {"who": "McDonalds", "iface": "loop207|loop208", "az": "sas"},
        {"who": "McDonalds", "iface": "loop196", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Banki.ru", "iface": "loop280", "az": "vla"},
        {"who": "Banki.ru", "iface": "loop213", "az": "sas"},
        {"who": "Banki.ru", "iface": "loop200", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Aton", "iface": "loop121|loop286|loop299", "az": "vla"},
        {"who": "Aton", "iface": "loop89|loop178|loop190|loop228", "az": "sas"},
        {"who": "Aton", "iface": "loop85|loop204|loop214", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Unilever", "iface": "loop288|loop289|loop290", "az": "vla"},
        {"who": "Unilever", "iface": "loop220", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "not defined", "iface": "none", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "PO RUS", "iface": "loop208", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "MCD PBO", "iface": "loop293", "az": "vla"},
        {"who": "MCD PBO", "iface": "loop223", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "Blank Bank", "iface": "loop294", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "VTB Bonus", "iface": "loop295", "az": "vla"},
        {"who": "VTB Bonus", "iface": "loop224", "az": "sas"},
        {"who": "VTB Bonus", "iface": "loop210", "az": "myt"},
    ]) }},

    {{ render_loop_iface_columns([
        {"who": "Drive", "iface": "loop305", "az": "vla"},
        {"who": "Drive", "iface": "loop232", "az": "sas"},
        {"who": "Drive", "iface": "loop218", "az": "myt"},
    ]) }},
    {{ render_loop_iface_columns([
        {"who": "IT park KZN", "iface": "loop307", "az": "vla"},
        {"who": "not defined", "iface": "none", "az": "sas"},
        {"who": "not defined", "iface": "none", "az": "myt"},
    ]) }},

    {% endif %}

    {{ render_loop_iface_row(who="e2e_local", iface="loop2|loop3") }},
    {{ render_loop_iface_row(who="e2e_az", iface="loop4|loop5") }},
    {{ render_loop_iface_row(who="e2e ilb client", iface="loop6") }},
    {{ render_loop_iface_row(who="e2e ilb real", iface="loop7") }}

]
{% endblock %}
