{% extends "cgw_base.j2" %}

{% block rows %}
[
    {{ render_netinfra_graph([
        ("M9", "M9_traffic_summary"),
        ("STD", "STD_traffic_summary"),
        ("TEHNO", "TEHNO_traffic_summary"),
    ]) }},
    {{ render_row_for_cluster_per_az(title="CGW Rx Packets Rate", cluster=cloudgate_cluster, service="interfaces",
    query="l.name=rx_packets_rate&l.iface=Ethernet*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Rx Bytes Rate", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=rx_bytes_rate&l.iface=Ethernet*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Tx Bytes Rate", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=tx_bytes_rate&l.iface=Ethernet*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Out Of Buffers", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=rx_miss&transform=differentiate&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Tx Errors", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=tx_error_rate&l.iface=Ethernet*&transform=differentiate&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Rx Errors", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=rx_error_rate&l.iface=Ethernet*&transform=differentiate&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Drops", cluster=cloudgate_cluster, service="interfaces",
    query="&l.name=drops_rate&l.iface=Ethernet*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Per Loop Rx/Tx Packets", cluster=cloudgate_cluster, service="interfaces",
    query="l.name=rx_packets_rate&l.iface=loop*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Per Loop Rx/Tx Bytes", cluster=cloudgate_cluster, service="interfaces",
    query="l.name=rx_bytes_rate&l.iface=loop*&hideNoData=true&l.worker=-&graph=auto") }},
    {{ render_row_for_cluster_per_az(title="CGW Per Loop Drops", cluster=cloudgate_cluster, service="interfaces",
    query="l.name=drops&l.iface=loop*&transform=differentiate&hideNoData=true&l.worker=-&graph=auto") }},

    {% for family in ["IPv4_VPN", "IPv6_VPN"] %}
        {{ render_row_for_cluster_per_az(title="Gobgp Stats GRT for " + family, cluster=cloudgate_cluster, service="gobgp",
        query="l.plane=controlplane&l.metric=paths&l.family=" + family +"&l.table=GRT&stack=false&graph=auto") }},
    {% endfor %}

    {% for family in ["ipv4-vpn", "ipv6-vpn"] %}
        {{ render_row_for_cluster_per_az(title="CGW Stats GRT for " + family, cluster=cloudgate_cluster, service="stats",
        query="l.name=paths&l.family=" + family +"&l.table=GLOBAL&stack=false&graph=auto") }},
    {% endfor %}

    {% if env == 'preprod' %}

    {{ render_loop_iface_columns([
        {"who": "Yandex Short-path", "iface": "loop13", "az": "vla"},
        {"who": "Yandex Short-path", "iface": "loop12", "az": "sas"},
        {"who": "Yandex Short-path", "iface": "loop13", "az": "myt"},
    ]) }},
    {% elif env == 'prod' %}
    {{ render_loop_iface_columns([
        {"who": "Yandex Short-path", "iface": "loop74", "az": "vla"},
        {"who": "Yandex Short-path", "iface": "loop35", "az": "sas"},
        {"who": "Yandex Short-path", "iface": "loop34", "az": "myt"},
    ]) }},
    {% endif %}

    {{ render_loop_iface_row(who="e2e_local", iface="loop2|loop3") }},
    {{ render_loop_iface_row(who="e2e_az", iface="loop4|loop5") }},
    {{ render_loop_iface_row(who="e2e ilb client", iface="loop6") }},
    {{ render_loop_iface_row(who="e2e ilb real", iface="loop7") }}

]
{% endblock %}
