#127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
#::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
#
#
127.0.0.1 localhost localhost.localdomain #Added by arenadata db installer
{% for nodename, _ in tunnel_ips.items()|sort if 'ansible_eth0' in hostvars[nodename] %}
{{ hostvars[nodename]['ansible_eth0']['ipv4']['address'] }} {{ nodename }}  {{ nodename }}-1 #Added by arenadata db installer
{% endfor %}
