{% for nodename, tun_ip in tunnel_ips.items() if tun_ip != tunnel_ips[ansible_nodename] and 'ansible_eth0' in hostvars[nodename] %}
{{ tun_ip }}/32 via  {{ hostvars[nodename]['ansible_eth0']['ipv4']['address'] }}  dev tun0  onlink
{% endfor %}
