[Unit]
Description=Yandex.Cloud API Configuration Server
After=network.target

[Service]
ExecStart=/usr/bin/yc-api-configserver --config /etc/yc/api-configserver/config.yaml --gateway-services /etc/yc/api-configserver/gateway-services.yaml --envoy-resources /etc/yc/api-configserver/envoy-resources.yaml 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target