    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for read, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for write, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Leader ZooKeeper hosts, [boolean]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&l.shard=none&graph=auto&graphMode=bars&aggr=last&downsamplingAggr=last&secondaryGraphMode=none",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for read, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_read&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper hosts available for write, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=can_write&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Leader ZooKeeper hosts, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=by_host&l.name=zk_server_state_leader&l.shard=none&graph=auto&interpolate=right&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% if not dbm %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper CPU usage, [cores]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-cores-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper memory usage, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-bytes-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper network usage, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-network-bytes-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper CPU usage per host, [cores]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-cores",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper memory usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper network usage per host, [bytes/s]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-network-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper CPU usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-cpu-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper memory usage, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-memory-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
{% endif %}
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "ZooKeeper disk space usage, [bytes]",
          "subtitle": "total",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-space-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper disk space usage per host, [bytes]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-space-bytes",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "ZooKeeper disk space usage per host, [%]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&shard=none&graph=<< id_prefix >>-hosts-disk-space-percents",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "Znodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_znode_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Ephemeral nodes, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_ephemerals_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "Watches, [count]",
          "subtitle": "",
          "url": "?project={{project}}&service={{service}}&cluster=mdb_{{cid}}&l.node=leader&l.host=by_node&l.name=zk_watch_count&graph=auto&stack=false&secondaryGraphMode=bars",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }