host: 127.0.0.1
port: 8081
url: mbean?objectname=org.apache.cassandra.metrics:type=Table,keyspace={{ keyspace }},scope={{ scope }},name={{ check.uri }}&template=identity

title: {{ check.title }}
name: {{ check.name }}

{%- if not param is mapping %}
  {%- set param = { "warn": param[0], "crit": param[1] } %}
{%- endif %}
warn: {{ param.warn }}
crit: {{ param.crit }}
