{% set bad_keys_uploader_vars = salt['grains.filter_by']({
    'base': {
        's3': {
            'url': 'https://s3.mds.yandex.net',
            'secret_key': pillar['yav']['aws_storage-admin_key'],
            'access_key': 'l5ir5hR0Pkdckj3PRbXA',
            'bucket': 'bad-keys'
         },
         'yt': {
            'token': pillar['yav']['robot_storage_duty_yt_token'],
            'endpoint': '//home/mds/bad_keys/production/bad_keys_meta'
         }
    },
    'unstable': {
    },
    'testing': {
        's3': {
            'bucket': 'bad-keys-testing'
         },
         'yt': {
            'endpoint': '//home/mds/bad_keys/testing/bad_keys_meta'
         }
    },
    'prestable': {
    },
    'production': {
    },
}, grain='yandex-environment', merge=salt['pillar.get']('bad_keys_uploader_vars'), default='production', base='base') %}
