{% extends "../../base/dashboard.j2" %}

{% block rows %}
[{%-   for type, values in e2e_types.items() -%}
{ "panels": [
    {%- for az in zones_by_env[env] -%}
        {% set host = values["host"] + az.prefix + "*" %}
        {% if type == "e2e-ylb" %}
        {% set host = values["host"] + dc_zone_map.get(az.prefix, az.prefix) + "*" %}
        {% endif %}
        {% set cluster = "cloud_" + env + "_" + values["cluster"] %}
        {{ render_panel(values["title"] + az.prefix|upper + " counts ", cluster, values["service"], "graph=" + values["graph"] + "&l.juggler_service=e2e*&l.host=" + host) }}
        {%- if not loop.last -%},{%- endif -%}
    {%-   endfor -%}
]
},
{ "panels": [
    {%- for az in zones_by_env[env] -%}
        {% set host = values["host"] + az.prefix + "*" %}
        {% if type == "e2e-ylb" %}
        {% set host = values["host"] + dc_zone_map.get(az.prefix, az.prefix) + "*" %}
        {% endif %}
        {% set cluster = "cloud_" + env + "_" + values["cluster"] %}
        {{ render_panel(values["title"] + az.prefix|upper + " timings sec", cluster, values["service"], "graph=" + values["graph"] + "-timings" + "&l.juggler_service=e2e*&l.host=" + host) }}
        {%- if not loop.last -%},{%- endif -%}
    {%-   endfor -%}
]
}{%- if not loop.last -%},{%- endif -%}
{%-   endfor -%}
]
{% endblock %}
