{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% load deploy.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
      {% tab_item "progress" %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Shipment ID</th>
                <td>{{ obj.self_pk_c }}</td>
              </tr>
              <tr>
                <th>FQDNs</th>
                <td>{% obj_block_onload obj "minions" %}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ obj|shipment_ui_status }}</td>
              </tr>
              <tr>
                <th>Parallel</th>
                <td>{{ obj.parallel }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Updated at</th>
                <td>{% dt_formatted obj.updated_at %}</td>
              </tr>
              <tr>
                <th>Timeout</th>
                <td>{{ obj.timeout }}</td>
              </tr>
              <tr>
                <th>Jaeger</th>
                <td>{{ obj.tracing|jaeger_link }}</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Total</th>
                <td>{{ obj.total_count }}</td>
              </tr>
              <tr>
                <th>Done</th>
                <td>{{ obj.done_count }}</td>
              </tr>
              <tr>
                <th>Errors</th>
                <td>{{ obj.errors_count }}</td>
              </tr>
              <tr>
                <th>Stop on error</th>
                <td>{{ obj.stop_on_error_count }}</td>
              </tr>
              <tr>
                <th>Other</th>
                <td>{{ obj.other_count }}</td>
              </tr>
           </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_progress">
        <div class="row">
          {% obj_block_onload obj "progress" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
