{
    "id": "<< id_prefix >>-metadb-<< db >>-create-cluster-timing",
    "projectId": "<< project_id >>",
    "name": "<< id_prefix >>-metadb-<< db >>-create-cluster-timing",
    "notificationChannels": ["<< id_prefix >>-juggler"],
    "type": {
        "expression": {
            "program": "{% include "alerts/metadb/create-cluster-timing-program" %}",
            "checkExpression": "is_red"
        }
    },
    "annotations": {
      "description": "Creating of << db >> cluster 30min+: {{expression.over30}}",
      "timings": "30min+ - {{expression.over30}}, 45min+ - {{expression.over45}}",
      "trafficLight.color": "{{expression.trafficColor}}",
      "host": "<< db >>-<< worker_host >>",
      "service": "dbaas_worker_slow_new_cluster_task_<< db >>"
    },
    "periodMillis": 10800000,
    "delaySecs": 1800,
    "description": ""
}
