{
    "id": "<< id_prefix >>-metadb-tasks-failed-prc",
    "projectId": "<< project_id >>",
    "name": "<< human_prefix >> Failed >4% of tasks",
    "notificationChannels": ["<< notification_channel >>"],
    "type": {
        "expression": {
            "program": "{% include "alerts/metadb/failed-tasks-program" %}",
            "checkExpression": "is_red"
        }
    },
    "annotations": {
        "trafficLight.color": "{{expression.trafficColor}}",
        "host": "<< worker_host >>_vhost",
        "service": "dbaas_worker_failed_new_cluster_tasks",
        "description": "{{expression.failed_c}}"
    },

    "periodMillis": 7200000,
    "delaySecs": 600,
    "description": "Notify when failed more then 4% of tasks."
}
