{
    "meta": {
        "version": "{svn_revision}.{branch}.{sandbox_task_id}",
        "maintainer": "Cloud NBS <nbs-dev@yandex-team.ru>",
        "name": "{{ pkg_name }}",
        "description": "Package with KikiMR config for Cloud cluster (KikiMR)"
    },
    "data": [
        {
            "source": {
                "files": [
                    "*"
                ],
                "path": "{{ cfg_dir }}",
                "type": "ARCADIA"
            },
            "destination": {
                "path": "/Berkanavt/nfs-server/cfg/"
            }
        }
    ],
    "build": {
        "add-result": [],
        "flags": [],
        "targets": []
    }
}
