{
    "dictionaries":
    [
        "fact_answer_w2v",
        "fact_query_w2v",
        "qwt",
        "ru_fact_snippet",
        "special_embeddings_100",
        "wiki_w2v"
    ],
    "preprocessors":
    [
        {
            "type": "subtract_lemmas",
            "left_input": "query1",
            "right_input": "query2",
            "output": "query1-query2"
        },
        {
            "type": "subtract_lemmas",
            "left_input": "query2",
            "right_input": "query1",
            "output": "query2-query1"
        }
    ],
    "weighters":
    [
        {
            "name": "common",
            "type": "sif_weighter",
            "alpha": 0.0001
        }
    ],
    "feature_groups":
    [
        {
            "left_input":
            {
                "annotation": "query1-query2",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2-query1",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_QWT_XOR_SIF_W1_PAIRWISE_SIM_LEFT_MIN_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max",
                        "right_min_max",
                        "right_max_min"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_QWT_SIF_W1_PAIRWISE_SIM_LEFT_MIN_MAX",
                        "FI_WORD_EMBED_QWT_SIF_W1_PAIRWISE_SIM_RIGHT_MIN_MAX",
                        "FI_WORD_EMBED_QWT_SIF_W1_PAIRWISE_SIM_RIGHT_MAX_MIN"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                },
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_QWT_SIF_W2_PAIRWISE_SIM_LEFT_MIN_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 2
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1",
                "dictionary": "wiki_w2v",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2",
                "dictionary": "wiki_w2v",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max",
                        "right_min_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_WIKI_SIF_W1_PAIRWISE_SIM_LEFT_MIN_MAX",
                        "FI_WORD_EMBED_WIKI_SIF_W1_PAIRWISE_SIM_RIGHT_MIN_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                },
                {
                    "type": "sum_similarity",
                    "names":
                    [
                        "FI_WORD_EMBED_WIKI_SIF_SUM_SIM"
                    ]
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1-query2",
                "dictionary": "ru_fact_snippet",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2-query1",
                "dictionary": "ru_fact_snippet",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "global_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_FS_XOR_SIF_W1_PAIRWISE_SIM_GLOBAL_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                },
                {
                    "type": "sum_similarity",
                    "names":
                    [
                        "FI_WORD_EMBED_FS_XOR_SIF_SUM_SIM"
                    ]
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1",
                "dictionary": "ru_fact_snippet",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2",
                "dictionary": "ru_fact_snippet",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max",
                        "right_min_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_FS_SIF_W1_PAIRWISE_SIM_LEFT_MIN_MAX",
                        "FI_WORD_EMBED_FS_SIF_W1_PAIRWISE_SIM_RIGHT_MIN_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "vectors_to_sum_similarity",
                    "dictionary": "special_embeddings_100",
                    "vectors": ["qwt_fact_query"],
                    "names":
                    [
                        "FI_WORD_EMBED_QWT_SIF_VECTORS_TO_SUM_SIM_LEFT",
                        "FI_WORD_EMBED_QWT_SIF_VECTORS_TO_SUM_SIM_RIGHT"
                    ]
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1-query2",
                "dictionary": "fact_query_w2v",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2-query1",
                "dictionary": "fact_query_w2v",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "pairwise_similarity_statistics",
                    "features":
                    [
                        "left_min_max",
                        "right_min_max"
                    ],
                    "names":
                    [
                        "FI_WORD_EMBED_FQ_XOR_SIF_W1_PAIRWISE_SIM_LEFT_MIN_MAX",
                        "FI_WORD_EMBED_FQ_XOR_SIF_W1_PAIRWISE_SIM_RIGHT_MIN_MAX"
                    ],
                    "left_prefix_limit": 10,
                    "right_prefix_limit": 10,
                    "window_size": 1
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query2",
                "dictionary": "fact_query_w2v",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "answer",
                "dictionary": "fact_answer_w2v",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "sum_similarity",
                    "names":
                    [
                        "FI_WORD_EMBED_FQ_Q2A_SIF_SUM_SIM"
                    ]
                }
            ]
        },
        {
            "left_input":
            {
                "annotation": "query1-query2",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "right_input":
            {
                "annotation": "query2-query1",
                "dictionary": "qwt",
                "weighter": "common"
            },
            "calculators":
            [
                {
                    "type": "mean_euclidean_distance",
                    "names":
                    [
                        "FI_WORD_EMBED_QWT_XOR_SIF_MEAN_DIST"
                    ]
                }
            ]
        }
    ]
}
