dynamic_roots:
    config:
        cleanup_sleep: 5
        git_mirrors_dir: '/srv/salt/mirrors'
        git_checkouts_dir: '/srv/salt/checkouts'
        repos:
            strm_salt_configs:
                url: https://github.yandex-team.ru/strm/strm-salt-configs.git
                dynamic: ~
            salt_media_common:
                url: https://github.yandex-team.ru/salt-media/common.git
                branch: master
        file_roots_envs_repo: strm_salt_configs
        pillar_roots_envs_repo: strm_salt_configs
        file_roots:
            - '{_ENV_}/roots'
            - 'salt_media_common:{master}/roots'
            - '/srv/salt/some_other_static_path/roots'
        pillar_roots:
            - '{_ENV_}/pillar'
            - /srv/salt/pillar_static_roots/stable/pillar

        file_roots_config_path: /srv/salt/dynamic_roots_config.yaml
        pillar_roots_config_path: /srv/salt/dynamic_roots_config.yaml
    user: robot-media-salt
