
# This is an example plugin for netconfig

# A plugin must define process function, which takes 2 arguments:
#  - interfaces_group.InterfacesGroup instance with all generated interfaces
#  - generation_parameters.GenerationParameters instance
#
# In this function plugin may modify any interface in the group,
# as they are mutable, add interface to group, remove interface
# or just sleep and make fun


def process(interfaces, params):
  for i in interfaces:
    i.name = i.name + 'ha!'




# A plugin can also define filter function, which takes 1 argument:
#  - generation_parameters.GenerationParameters
#
# If it returns false, plugin's process function won't be launched

def filter(params):
  if 'my-super-tag' in params.host_tags:
    return True
  return False
