[Unit]
Description=RabbitMQ server
Requires=network.target remote-fs.target
After=network.target remote-fs.target time-sync.target

[Service]
Type=forking
PIDFile=/var/run/rabbitmq/pid

ExecStart=/etc/init.d/rabbitmq-server start
ExecStop=/etc/init.d/rabbitmq-server stop

IgnoreSIGPIPE=no
KillMode=process

Restart=always

[Install]
WantedBy=multi-user.target
