{% extends "base.html" %}
{% block title %}DocId Viewer{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    form {
      padding: 1em;
    }
    .squeezed {
      width: 1% !important;
    }
    .half-wide {
      width: 50% !important;
    }
    .null {
      color: #aaa;
    }
    </style>
{% endblock %}

{% block search %}
    <form action="/docid" method="get">
        <div class="input-group half-wide">
        Urls:
        <textarea rows="9" cols="120" name="urls">{{ prev_urls_text }}</textarea>
        </div>
        <div>
        <button type="submit" class="btn btn-primary" >Go</button>
        </div>
    </form>
{% endblock %}

{% block content %}
    {% if url_ids %}
        <table>
            <col span="1" style="width: 3%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 80%;">
            <thead>
            <tr>
                <th>Group</th>
                <th>Hash</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody>
                  {% for p in url_ids %}
                  <tr class="{{ p.class }}">
                      <td class="hi general">{{ p.hash_sym }}</td>
                      <td class="general">{{ p.hash }}</td>
                      <td class="url">{{ p.url }}</td>
                  </tr>                                                           
                  {% endfor %}                                                    
            </tbody>
        </table>                                                          
    {% endif %}                                                           
                                                                          
{% endblock %}                                                            
                                                                          
