{% extends "base.html" %}

{% block content %}
  {{ super() }}
  <div class="container">
      <h1 class="text-center">Abc project <b>{{project}}</b></h1>

      <h2 class="text-center"> Cpu usage </h2>
      <div id="cpu_usage" style="width: 100%; height: 800px; margin: 0 auto">
          <iframe src="/abc/usage/cpu?{{project_cgi}}" style="height: 100%; width: 100%; margin: 0 auto"> </iframe>
      </div>

      <h2 class="text-center"> Memory usage </h2>
      <div id="memory_usage" style="width: 100%; height: 800px; margin: 0 auto">
          <iframe src="/abc/usage/memory?{{project_cgi}}" style="height: 100%; width: 100%; margin: 0 auto"> </iframe>
      </div>

      <h2 class="text-center"> Hdd usage </h2>
      <div id="hdd_usage" style="width: 100%; height: 800px; margin: 0 auto">
          <iframe src="/abc/usage/hdd?{{project_cgi}}" style="height: 100%; width: 100%; margin: 0 auto"> </iframe>
      </div>

      <h2 class="text-center"> Ssd usage </h2>
      <div id="ssd_usage" style="width: 100%; height: 800px; margin: 0 auto">
          <iframe src="/abc/usage/ssd?{{project_cgi}}" style="height: 100%; width: 100%; margin: 0 auto"> </iframe>
      </div>

      <h2 class="text-center"> Host with stats Count </h2>
      <div id="memory_usage" style="width: 100%; height: 800px; margin: 0 auto">
          <iframe src="/abc/usage/count?{{project_cgi}}" style="height: 100%; width: 100%; margin: 0 auto"> </iframe>
      </div>

  </div>

{% endblock %}
