{% extends "base.html" %}

{% block scripts %}
  {{ super() }}

  <script>
    $(document).ready(function() {
        function makeGraph(graph_url, elem_selector) {
            $.getJSON(graph_url, function (data) {
                console.log(data.labels);
                $(elem_selector).highcharts({
                     chart: {
                         type: 'column'
                     },
                     title: {
                         text: data.title
                     },
                     xAxis: {
                         categories: data.labels,
                         crosshair: true,
                     },
                     yAxis: {
                         min: 0,
                         allowDecimals: false,
                     },
                     tooltip: {
                         headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                         pointFormat:
                           '<tr>' +
                             '<td style="color:{series.color};padding:0">{series.name}: </td>' +
                             '<td style="padding:0"><b>{point.y:.1f}</b></td>' +
                           '</tr>' +
                           '<tr>' +
                             '<td style="color:{series.color};padding:0">{series.name}: </td>' +
                             '<td style="padding:0"><b>{point.hosts}</b></td>' +
                           '</tr>',
                         footerFormat: '</table>',
                         shared: true,
                         useHTML: true
                     },
                     plotOptions: {
                        column: {
                            pointPadding: 0.0,
                            borderWidth: 0
                        },
                        series: {
                            pointPadding: 0,
                            groupPadding: 0,
                            borderWidth: 0,
                            shadow: false
                        }
                     },
                     series: data.graphs,
                });
            });
        }
        $(function () {
            {% if cpu_graph_url %}
              makeGraph("{{cpu_graph_url | safe}}", "#cpugraph");
            {% endif %}
            {% if memory_graph_url %}
              makeGraph("{{memory_graph_url | safe}}", "#memorygraph");
            {% endif %}
        });
    });
   </script>
{% endblock %}

{% block content %}
  {{ super() }}

  {% if cpu_graph_url %}
    <div id="cpugraph" style="min-width: 310px; height: 650px; margin: 0 auto">
        <i class="fa fa-spin fa-2x fa-cog"></i>
    </div>
  {% endif %}

  {% if memory_graph_url %}
    <div id="memorygraph" style="min-width: 310px; height: 650px; margin: 0 auto">
        <i class="fa fa-spin fa-2x fa-cog"></i>
    </div>
  {% endif %}

{% endblock %}
