{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    var dataEndpoint = "{{data_endpoint}}";

    function formatNumber(v) {
        // convert number to string, e. g. : 123456 -> 123K, 123456789 -> 123M , 12.23235235 -> 12.23
        abs_v = Math.abs(v)

        if (abs_v < 1000) {
            return v.toFixed(2);
        }

        if (abs_v < 1000000) {
            return (v / 1000).toFixed(2) + 'K';
        }

        if (abs_v < 10000000000) {
            return (v / 1000000).toFixed(2) + 'M';
        }
    }

    function genUsageString(signal_name, usage) {
        return '<div> <div id="sort_value" style="display: none">' + usage + '</div>' + formatNumber(usage) + '</div>';
    }

    function oneLineStyle(value, row, index, field) {
        return {
            css: { 'overflow' : 'hidden', 'white-space': 'nowrap', 'text-overflow': 'ellipsis' }
        };
    }

    function customSorter(a, b) {
        var a_value = parseFloat($($.parseHTML(a)).find('#sort_value').text());
        var b_value = parseFloat($($.parseHTML(b)).find('#sort_value').text());
        if (a_value > b_value) return 1;
        if (a_value < b_value) return -1;
        return 0;
    }

    $(document).ready(function() {
        var $table = $("#metaprjtable");

        $table.bootstrapTable({
        });

        $table.bootstrapTable('showLoading');

        $.getJSON(dataEndpoint, function(data) {
          var tableData = [];
          $.each(data, function(index, rowData) {
            var updatedRowData = {
              project: '<a href="' + rowData.url + '">' + rowData.project + "</a>",
              memory_usage: genUsageString('memory_usage', rowData.memory_usage),
              memory_allocated:  genUsageString('memory_allocated', rowData.memory_allocated),
              cpu_usage: genUsageString('cpu_usage', rowData.cpu_usage),
              cpu_usage: genUsageString('cpu_allocated', rowData.cpu_allocated),
            }
            tableData.push(updatedRowData);
          });
          $table.bootstrapTable('hideLoading');
          $table.bootstrapTable('load', tableData);
        });
    });
  </script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <h1 class="text-center"> OPENSTACK </h1>

  <table id="metaprjtable" class="table table-hover">
      <thead>
      <tr>
          <th data-field="project" data-sortable="true" data-cell-style="oneLineStyle">Project</th>
          <th data-field="memory_usage" data-sortable="true" data-sorter="customSorter" data-cell-style="oneLineStyle">Memory usage (in Gb)</th>
          <th data-field="memory_allocated" data-sortable="true" data-sorter="customSorter" data-cell-style="oneLineStyle">Memory allocated (in Gb)</th>
          <th data-field="cpu_usage" data-sortable="true" data-sorter="customSorter" data-cell-style="oneLineStyle">Cpu usage (in PW)</th>
          <th data-field="cpu_allocated" data-sortable="true" data-sorter="customSorter" data-cell-style="oneLineStyle">Cpu allocated (in PW)</th>
      </tr>
      </thead>
</div>
{% endblock %}
