Source: config-monrun-memcached
Section: misc
Priority: extra
Maintainer: Artem Khokhlov <chrono@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.9.2

Package: config-monrun-memcached
Architecture: all
Depends: yabs-graphite-sender
Description: Common memcache monitoring.
 Source of pkg here: https://github.yandex-team.ru/admins/config-monrun-memcached
 You can fix, modify, improve it %username%, but please don't forget commit, build and dupload it.
