[main]
###############################################################################
# Настройки graphite-sender
# Путь к файлу лога
SENDER_LOG_FILE = /proc/self/fd/1

# Список серверов graphite для отправки данных в формате:
# fqdn_сервер1:порт_сервер1,fqdn_сервер2:порт_сервер2,...
# сервера в списке разделяются запятыми без пробелов.
SERVER_LIST = gr.mega-graphite-sas.search.yandex.net:2024,gr.mega-graphite-man.search.yandex.net:2024

# Папка в которую будут записываться неотправленные очереди для серверов graphite
QUEUE_DIR = /tmp/

# Время в течении которого нужно хранить очередь, сек
QUEUE_TIMEOUT = 10800

# Порт на котором будет слушать sender
SENDER_PORT = 42000

# Слушать ipv6 + ipv4
SENDER_LISTEN_PR = 12

# Задержка между отправками данных в graphite, сек
SENDER_TIMEOUT = 10.0

# Файл, в который будет записываться информация для мониторинга
SENDER_MONITORING_FILE = /tmp/yabs-graphite-sender-monitoring

# PID файл для демона sender
SENDER_PID = /run/yabs-graphite-sender.pid

# Максимальное количество метрик в минуту
# Чтобы ферма графита не легла под нагрузкой в случае факапа вроде https://st.yandex-team.ru/BSADM-1137
MAX_METRIC_COUNT = 5000

# Префикс к внутренним метрикам graphite-sender
MONITORING_PREFIX = one_min.monitoring

###############################################################################
# Настройки graphite-client
# Список каталогов, в которых нужно искать проверки, отдающие вывод в формате
# hamster-client. Можно перечислить несколько через запятую(без пробела)
CHECK_DIR_LIST = /usr/share/hamster-client/checks_available
# Список каталогов, в которых нужно искать проверки, отдающие вывод в формате
# carbon(graphite). Можно перечислить несколько через запятую(без пробела)
# Вывод данных проверок будет отправлен как есть.
CLEAN_CHECK_DIR_LIST = /usr/share/graphite-client

# Кол-во параллельно запускаемых проверок
PARALLEL_CHECKS_POOL_SIZE = 10

# Максимально допустимое время выполнения одной проверки, сек.
MAX_CHECK_TIMEOUT = 40

# Путь к lock файлу
LOCK_FILE = /var/lock/graphite-client.lock

# Путь к файлу лога
LOG_FILE = /proc/self/fd/1

# Уровень лога. Общий для Sender и Client
# NOTSET=0; DEBUG=10; INFO=20; WARNING=30; ERROR=40; CRITICAL=50
LOG_LEVEL = 40

# Временная схема графита, в которую будут записываться данные.
GRAPHITE_SCHEME = one_min

# Файл, в который будет записываться информация для мониторинга
MONITORING_FILE = /tmp/yabs-graphite-client-monitoring

# Кол-во попыток отправки в sender. Пауза между ними - 5 сек.
TRY_TO_SENDER = 3

QLOUD_FQDN_CHANGE_PREFIX = ape-test-qloud-
QLOUD_FQDN_CHANGE_POSTFIX = hostfqdn

