Source: yandex-media-common-redis-slave-watcher
Section: misc
Priority: extra
Maintainer: Kirill Zhalnin <kiwi@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Vcs-Git: git@github.yandex-team.ru:admins/yandex-media-common-redis-slave-watcher.git
Vcs-Browser: https://github.yandex-team.ru/admins/yandex-media-common-redis-slave-watcher.git

Package: yandex-media-common-redis-slave-watcher
Architecture: all
Depends: ${misc:Depends}, python, python-yaml, python-yenv, python-requests, python-redis
Description: watchers what all slaves are connected to master
 watchers what all slaves are connected to master
