.header
{
    &__left
    {
        display: flex;
        align-items: center;
        padding-top: 3px;
    }

    &__service-list
    {
        flex-basis: 280px;
    }

    &__dashboard-list
    {
        margin-left: auto;
    }
}
