[Unit]
Description=Nginx unit for slb-adapter, reports success on actual failure
Description=LSB: starts the nginx web server
After=local-fs.target
After=remote-fs.target
After=network-online.target
After=systemd-journald-dev-log.socket
Wants=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStartPre=-/bin/mkdir /run/nginx-monitor
ExecStartPre=-/usr/local/bin/dns-check.sh
ExecStart=/etc/init.d/nginx start
ExecStop=/etc/init.d/nginx stop
ExecReload=/etc/init.d/nginx reload
# Report OK despite actually failing to start
# so salt will consider nginx running and report no errors.
SuccessExitStatus=1
