
host: HOSTNAME_LONG
port: 8081
url: mbean?objectname=org.apache.cassandra.metrics:type=ColumnFamily,keyspace=ks,scope=ts,name=WriteLatency&template=identity
name: Attribute,99thPercentile,value
title: Read 99thPercentile

warn: 50000
crit: 100000

