
host: HOSTNAME_LONG
port: 8081
url: mbean?objectname=org.apache.cassandra.metrics:type=ColumnFamily,keyspace=system,scope=hints,name=MemtableColumnsCount&template=identity

title: Hints memtable columns count
name: Attribute,value
warn: 1000
crit: 100000


