#
# keyspaces: <KS1> <KS2>
# check_(status|state|owns) "<rule>" warn=<num> crit=<num>

# <rule>
#    * for 'status': first char from unsuccessful report: Up/Down
#    * for 'state': first char from unsuccessful result: Normal/Leaving/Joining/Moving
#    * for 'owns': difference in percent between nodes
#
#


### Example: ###
#
# keyspaces: mykeyspace1 mykeyspace2
#
# check_state: "LJM" warn=0 crit=1

