#
# file_(tmp|prev): <path_to_file>
# check_<ctype>: <vtype> <metric> <status> <count> <result>
#
#    <ctype> - type of check
#        *   size: current value of metric
#        *   inc: increment between calls
#
#    <vtype> - type of variable
#        *   pool: thread pool name
#        *   msg: message name
#
#    <metric> - metric type name
#        * for 'pool' vtype: MutationStage, ReadStage, RequestResponseStage, ReadRepairStage ...
#        * for 'msg' vtype: READ, RANGE_SLICE, _TRACE ...
#   
#    <status> - metric status
#        * for 'pool' vtype: Active, Pending, Completed, Blocked, All time blocked
#        * for 'msg' vtype: Dropped
#
#    <count> - trigger value
#    <result> - trigger type: crit, warn
#
#

### Example: ###
#
#file_tmp: /tmp/cassandra-nttpstats-drops.tmp
#file_prev: /tmp/cassandra-nttpstats-drops.prev
#
#check_inc: msg "default" "Dropped" 1 crit
#

