{% extends "../../base/alert.j2" %}
{% if type == "hw" %}
{% set host =  "cloud_" + env + "_bootstrap-hw_" + az %}
{% elif type == "svm" %}
{% set host = "cloud_bootstrap_" + az if env == "prod" else "cloud_bootstrap_" + env + "_" + az %}
{% endif %}
{% block main %}
    "name": "eds controller leader @ {{ env }}/{{ az }}/{{ type }}",
    "annotations": {
        "host": "{{ host }}",
        "tags": "eds-operator, {{ env }}, {{ az }}, {{ type }}",
        "service": "eds-controller-leader"
    },
    "description": "",
    "type": {
        "threshold": {
            "selectors": "{project='{{ project_id }}', cluster='{{ host }}', service='eds-operator', sensor='eds_controller_leader', leader='true'}",
            "timeAggregation": "LAST_NON_NAN",
            "predicate": "LT",
            "threshold": 1,
            "predicateRules": [
              {
                "thresholdType": "LAST_NON_NAN",
                "comparison": "LT",
                "threshold": 1,
                "targetStatus": "ALARM"
              }
            ]
        }
    }
{% endblock %}
