{% extends "../../base/alert.j2" %}

{% macro prog() %}
let failures = max(series_sum({
    'project'='{{ project_id }}',
    'cluster'='{{ cluster_override | default("cloud_" + env + "_" + cluster) }}',
    'service'='kubelet',
    sensor='rest_client_requests_total', code='<error>'
}));

let is_red = failures > 0;

alarm_if(is_red);
{% endmacro %}

{% block main %}
    "name": "kubelet client requests failures @ {{ env }}/{{ cluster }}",
    "annotations": {
        "host": "{{ cluster_override | default("cloud_" + env + "_" + cluster) }}",
        "tags": "kubelet, {{ env }}, {{ cluster }}",
        "service": "kubelet-client-requests-failures"
    },
    "description": "",
    "type": {{ type_expression() }}
{% endblock %}
