[Unit]
Description=BMP collector daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pmbmpd -f /etc/pmacct/pmbmpd.conf

[Install]
WantedBy=multi-user.target
