{% extends "lib/ajax/object.html" %}
{% load lib.templatetags %}
{% load deploy.templatetags %}
{% block object_data %}
<div class="row">
  <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
    <ul class="nav nav-tabs noodle-tabs">
      {% tab_item "common" True %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_common">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-borderless noodle-details-table">
              <tr>
                <th>Command iD</th>
                <td>{{ obj.pk }}</td>
              </tr>
              <tr>
                <th>Minion</th>
                <td>{{ obj.minion.self_link_c }}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ obj|command_ui_status }}</td>
              </tr>
              <tr>
                <th>Created at</th>
                <td>{% dt_formatted obj.created_at %}</td>
              </tr>
              <tr>
                <th>Updated at</th>
                <td>{% dt_formatted obj.updated_at %}</td>
              </tr>
              <tr>
                <th>Last dispatch attempt at</th>
                <td>{% dt_formatted obj.last_dispatch_attempt_at %}</td>
              </tr>
              <tr>
                <th>Shipment command</th>
                <td>
                  {{ obj.shipment_command.self_link_c }}<br>
                  <span class="noodle-mono">{{ obj.shipment_command.pretty }}</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-24">
                <label class="noodle-table-inc-label">Jobs</label><br>
                {% obj_block_onload obj "jobs" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
