Source: pingunoque
Section: misc
Priority: extra
Maintainer:  Sergey Kacheev <skacheev@yandex-team.ru>
Build-Depends: debhelper (>= 7.0.50~), dh-systemd, python, python-setuptools
Standards-Version: 3.9.7
X-Python-Version: >= 2.6
Vcs-Svn: https://github.com/beebeeep/pingunoque

Package: pingunoque
Architecture: any
Depends:  ${python:Depends},
          ipset,
          init-system-helpers,
          python-yaml
Description: Small keepalived-like daemon
 Pingunoque in keepalived-like daemon used to check hosts availability
 and block disappeared IPs using ipset to minimize all network timeouts
