[Unit]
Description=Small keepalived-like daemon
After=network.target

[Service]
Type=simple

ExecStartPost=/usr/local/bin/pingunoque_prepare.sh start

ExecStart=/usr/bin/pingunoque
Restart=on-failure

ExecStopPost=/usr/local/bin/pingunoque_prepare.sh stop

[Install]
WantedBy=multi-user.target
