{%- set downsampling = "AUTO" %}
{%- set interpolate = "NONE" %}
{%- set hide_no_data = "true" %}
{%- set downsampling_func = "LAST" %}
{% extends "../../../base/graph.j2" %}
{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "service",
        "value": "locallb"
    },
    {
        "name": "cluster",
        "value": "*"
    },
    {
        "name": "host",
        "value": "*"
    },
    {
        "name": "bootstrap_base_role",
        "value": "*"
    }
{% endblock %}
{% block elements %}
	{{
		render_element(
			"[[host]]",
			expression="derivative(drop_nan(group_by_time(60s, 'max', {sensor='envoy_server_uptime'})))",
            area="false",
		)
	}}
{% endblock %}
