{% set locallb_graphs = [
    {'id': 'locallb-tx-pkgs','template': 'tx_pkgs.j2', 'name': 'Locallb TX pkgs'},
    {'id': 'locallb-healthcheck-failures','template': 'health_checks.j2', 'name': 'Locallb HC failures'},
    {'id': 'locallb-total-connections','template': 'locallb_total_connections.j2', 'name': 'Locallb total connections'},
    {'id': 'locallb-heap-size','template': 'locallb_heap_size.j2', 'name': 'Locallb heap size'},
    {'id': 'locallb-mem-alloc','template': 'locallb_mem_allocated.j2', 'name': 'Locallb mem allocated'},
    {'id': 'locallb-uptime','template': 'locallb_uptime.j2', 'name': 'Locallb uptime'},
] %}
