{%- set downsampling = "AUTO" %}
{%- set interpolate = "NONE" %}
{%- set hide_no_data = "true" %}
{%- set downsampling_func = "LAST" %}
{% extends "../../../base/graph.j2" %}
{% block parameters %}
    {
        "name": "project",
        "value": "{{ project_id }}"
    },
    {
        "name": "service",
        "value": "locallb"
    },
    {
        "name": "cluster",
        "value": "*"
    },
    {
        "name": "host",
        "value": "*"
    },
    {
        "name": "bootstrap_base_role",
        "value": "*"
    }
{% endblock %}
{% block elements %}
	{{
		render_element(
			"[[envoy_cluster_name]]",
			expression="group_by_labels({sensor='envoy_cluster_*_tcp_stats_cx_tx_segments'}, 'envoy_cluster_name', v -> group_lines('sum', v))",
            area="true",
		)
	}}
{% endblock %}
