# vim: ft=sls
fullgc:
  open_logs_newer_then: 3600   {# watch only logs newer then 3600 seconds #}
  watched_dir: /var/log/music/ {# where logs appear #}
  log_filter: '*gc.log'        {# find file names for watch#}
  re: Full GC                  {# include only by string #}
  re_exclude: System.gc()      {# exclude by string #}
  watch_last: "3600"            {# in seconds #}
  debug: "false"
  clean_obsolete_logs: YES_CLEAN_IT {# дефолтное значение не задано, если задать строку
                                       YES_CLEAN_IT то будут удаляться логи mtime которых
                                       старше чем time.now() - 'open_logs_newer_then' #}
