[Unit]
Description=MDB Secrets

[Service]
KillMode=process
Type=simple
ExecStart=/opt/yandex/mdb-secrets/bin/mdb-secrets --scheme=http --port=8080 --host=::1
WorkingDirectory=/opt/yandex/mdb-secrets/
Restart=always
RestartSec=15
TimeoutStartSec=15
TimeoutStopSec=15
User=mdb-secrets
Environment="GOMAXPROCS=2"
LimitNOFILE=65536
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
