Source: lxctl-template-ubuntu-16.04-amd64
Section: misc
Priority: optional
Maintainer: Nikolay Kraev <nikkraev@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://wiki
Vcs-Svn: https://a.yandex-team.ru/arc/trunk/arcadia/admins/lxctl-templates/lxctl-template-ubuntu-16.04-amd64 

Package: lxctl-template-ubuntu-16.04-amd64
Architecture: all
Depends: lxctl 
Description: Ubuntu 16.04 Xenial template for lxc with lxctl
 Ubuntu 16.04 Xenial template for lxc with lxctl
