{% load_yaml as ftp_users %}

sftp:
    - tnt_sftp
    - tv3_sftp

sftp_dirs:
    - data
    - test
    - new_releases
    - logs

vsftpd:
    - bazelevs
    - kinopoisk
    - lenfilm
    - rikigroup
    - yotateam
    - sreda
    - starmedia
    - aliasmedia
    - 0media
    - russiko
    - esplay
    - topfilm
    - raketa
    - metadata
    - cdland
    - rwv
    - aeroplan
    - maxim
    - redsquare
    - arthouse
    - sinema_light
    - livandia
    - zeptolab
    - ivi
    - okko
    - filmua
    - rusreport
    - amediateka
    - lucky
    - green_films
    - russkoe_kino
    - warner
    - imago
    - cyrillica
    - creative_media
    - outsource
    - baibakotv
    - aone
    - apromo_plus
    - telealliance
    - zeetv
    - maurice
    - allmedia
    - alexfilm
    - sdi
    - sony
    - sphereproductions
    - eralash
    - luckyproduction
    - uchannel
    - kinoatis
    - goodpeople
    - videomite
    - veles
    - avebrazil
    - acompany
    - svduble
    - vgtrk
    - sts
    - tvindi
    - megafontv
    - nashe_kino
    - kewmedia
    - dcp24
    - newform
    - 2x2
    - kvn
    - kitchen
    - mbg
    - sok
    - cinephil
    - legkiybriz
    - newstudio
    - misteria
    - rainbow
    - kapella
    - moygolos
    - 100kilovatt
    - brand4rent
    - kinoprime
    - cinelex
    - mosfilm
    - umsfilm
    - medialine
    - kravec
    - amurskie_volny
    - mediaslovo
    - natgeo_fox
    - 1tv
    - mts_stream
    - lunafilm
    - exponenta
    - vox_records
    - drug_druga
    - media_universal_event
    - eccho_rights
    - sverdlovsk
    - shpilenok
    - beatfilms
    - coolconnections
    - planeta
    - encompass
    - volga
    - odinnadcat
    - babytv
    - hualyansoft
    - rvision
    - oyboy

vsftpd_admin:
    - ott

gen_files:
    - /etc/xinetd.d/vsftpd
    - /etc/monrun/conf.d/vsftpd.conf
    - /etc/cron.d/vsftpd-watchdog
    - /etc/pam.d/vsftpd

service_dirs:
    - ott-drm
    - ott-all
    - ott-metadata
    - ott-sources

{% endload %}
