[Unit]
Description=Solomon agent
After=multi-user.target
ConditionPathExists=/usr/local/bin/solomon-agent

[Service]
User=root
Group=root
Environment=PYTHONPATH=PYTHONPATH:/usr/lib/python2.7/dist-packages/
ExecStart=/usr/local/bin/solomon-agent --config /etc/yc-marketplace/solomon-agent.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target