#cloud-config
preserve_hostname: false
hostname: ${fqdn}
fqdn: ${fqdn}
manage_etc_hosts: true
runcmd:
  - [ /usr/local/bin/skm, decrypt ] 
  - [ hostnamectl, set-hostname, ${fqdn} ]
  - [ bash, -c, "sed -i -e '/^exit/ i tca-sbuild-update' -e '/tca-sbuild-update/ d' /etc/rc.local" ]
