uid = {{ user }}
gid = {{ group }}

use chroot = yes
log file = {{ log }}
max verbosity = {{ loglevel }}
pid file = /var/run/rsyncd.pid

{% for share_name, share_opts in shares.items() %}
[{{ share_name }}]
{% for option in share_opts -%}
{% for k, v in option.items() -%}
{{ k }} = {{ v }}
{% endfor -%}
{%- endfor -%}
{% if hosts_allow -%}
hosts allow = {{ hosts_allow }}
{% endif %}
{%- endfor -%}
