[Unit]
Description=mdb-backup-worker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
KillMode=mixed

User=mdb-backup
Group=mdb-backup
Restart=always

Environment="GOMAXPROCS=2"
ExecStart=/bin/bash -c 'exec /opt/yandex/mdb-backup/bin/mdb-backup-worker/worker --config-path=/etc/yandex/mdb-backup/worker/ >>/var/log/mdb-backup/worker.log 2>&1'
WorkingDirectory=/etc/yandex/mdb-backup/worker

LimitCORE=infinity
LimitNOFILE=500000

RestartSec=15
TimeoutSec=15

[Install]
WantedBy=multi-user.target
