# ==============================================================================
#
#   VM static options -- changing these options will recreate VM
#
# ==============================================================================

# if controller is disabled you are fully responsible for VM 
# and none of other config values will have any effect
ctl_enabled:   yes

# Virtual machine physical memory size in gigabytes
# WARNING: will restart VM immidiatelly
vm_memory:   8.0

# Vitual machine physical cpu count, if 0 then is equal to host system ncpu
vm_ncpu: 0

# network configuration: std_SAS or std_MAN
vm_net_conf_name: std_MAN

# Script (scenario) to run on virtual machine when it is started
# all available scripts are stored on 
autostart_script: ""

# ==============================================================================
#
#   VM dynamic options -- changing these options will NOT recreate VM
#
# ==============================================================================

# vm state can be "started", "stopped", "paused"  
vm_state:   started

# vm CPU quota guarantee, value in range [0, 1]
vm_fixed_quota:   0

# vm floating quota, value in range [0, 1]
vm_floating_quota:   1

# see below
vm_throttle_k:   3.0

# min quota
vm_min_quota: 0.1

# if current vm quota becomes equal or less than vm_start_suspend_quota, then VM is suspended
# VM is resumed if quota becomes more than vm_stop_suspend_quota
vm_enable_suspend_on_low_quota: no
vm_start_suspend_quota:   0.1
vm_stop_suspend_quota: 0.15

# increase this counter to restart vm gracefully -- use time() value, for example
vm_reboot_counter:   0

# increase this counter to restart vm non gracefully -- use time() value, for example
vm_reset_counter:   0

# will shutdown and start vm in random time between 3:00 AM and 4:00 AM
vm_daily_restart:   no

# will limit vm running time
# time format is: "hours:minutes"
enable_daily_policy: no
daily_policy_start_time: "22:30"
daily_policy_end_time: "08:30"
daily_policy_smooth_period: 30

# private logging
enable_private_log:   yes
verbose_private_log:   yes
enable_cpuidle_log: yes

# watchdog
enable_proton_watchdog: yes

