[Unit]
Description=Disk Manager
ConditionPathExists=/etc/yc/disk-manager/server-config.txt
StartLimitInterval=10
StartLimitBurst=15

[Service]
Restart=always
RestartSec=1
User=yc-disk-manager
Environment="GOTRACEBACK=crash"
ExecStart=/usr/bin/yc-disk-manager --config=/etc/yc/disk-manager/server-config.txt

[Install]
WantedBy=multi-user.target
