{% set conductor_group_prefix = conductor_group_prefix_overrides.get(env, "cloud_" + env) %}
{% set conductor_groups = [] %}
{% for conductor_group_suffix in conductor_group_suffixes %}
    {% do conductor_groups.append(conductor_group_prefix + conductor_group_suffix) %}
{% endfor %}
{% set name = "cloud_" + (env if config_name == "_ALL" else env + "_" + config_name) %}
{
    "id": "{{ project_id }}_{{ name }}",
    "projectId": "{{ project_id }}",
    "name": "{{ name }}",
    "conductorGroups": [
        {% for conductor_group in conductor_groups %}
        {
            "group": "{{ conductor_group }}",
            "labels": []
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ],
    {% if sensorsTtlDays %}"sensorsTtlDays": {{ sensorsTtlDays }},{% endif %}  {# Overrides metrics TTL from service #}
    "useFqdn": false,
    "tvmDestId": ""
}
