{
  "id": "<< id_prefix >>-envoy-cert-expire",
  "projectId": "<< project_id >>",
  "name": "<< id_prefix >> envoy cert expire",
  "notificationChannels": [
    "<< notification_channel >>"
  ],
  "type": {
    "threshold": {
      "selectors": "{'app'='cloudbeaver-contour-envoy', 'cluster'='<< cluster_id >>', 'namespace'='default', 'project'='<< project_id >>', 'service'='custom', 'name'='envoy_server_days_until_first_cert_expiring', host='*'}",
      "predicateRules": [
        {
          "thresholdType": "AVG",
          "comparison": "LT",
          "threshold": "30",
          "targetStatus": "WARN"
        },
        {
          "thresholdType": "AVG",
          "comparison": "LT",
          "threshold": "15",
          "targetStatus": "ALARM"
        }
      ],
      "timeAggregation": "AVG",
      "predicate": "LT",
      "threshold": "30"
    }
  },
  "annotations": {
    "description": "Envoy certificate will expire soon",
    "host": "<< id_prefix >>",
    "service": "envoy-cert-expire"
  },
  "windowSecs": 1800,
  "resolvedEmptyPolicy": "RESOLVED_EMPTY_NO_DATA",
  "noPointsPolicy": "NO_POINTS_DEFAULT",
  "channels": []
}
