{
  "id": "mdb-api-stats",
  "projectId": "{{projectId}}",
  "name": "MDB Internal API: Stats",
  "description": "",
  "heightMultiplier": 1,
  "parameters": [
    {
      "name": "project",
      "value": "<< project_id >>"
    },
    {
      "name": "cluster",
      "value": "<< py_int_api.get("cluster") >>"
    },
    {
      "name": "service",
      "value": "<< py_int_api.get("service") >>"
    }
  ],
  "rows": [
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "HTTP Codes",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-http-total",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HTTP Timings",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-http-query-timings",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "HTTP 4xx errors by DC",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-4xx-rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HTTP 5xx errors by DC",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-5xx-rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    },
    {
      "panels": [
        {
          "type": "IFRAME",
          "title": "HTTP 2xx responses by DC",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-2xx-rate",
          "markdown": "",
          "rowspan": 0,
          "colspan": 0
        },
        {
          "type": "IFRAME",
          "title": "HTTP slow queries by DC ",
          "subtitle": "",
          "url": "?cluster={{cluster}}&project={{project}}&service={{service}}&graph=mdb-internal-api-slow-queries-by-dc",
          "rowspan": 0,
          "colspan": 0
        }
      ]
    }
  ]
}
